{{#if edition}}
  <div class='row form-group certification-info-field'>
    <label class='{{leftWidth}} col-form-label' for={{id}}>{{label}}</label>
    <div class='{{rightWidth}} certificate'>
      {{input type="text" class="form-control" value=value id=fieldId}}
    </div>
  </div>
{{else}}
  <div class='row certification-info-field'>
    <div class='{{leftWidth}}'>{{label}}</div>
    <div class='{{rightWidth}} certificate'>
      {{value}} {{suffix}}
    </div>
  </div>
{{/if}}
