<div class="rounded-panel challenge-statement">
    <p class="challenge-instruction">{{ challenge.instruction }}</p>
  {{#if hasIllustration}}
      <hr>
      <img class="challenge-illustration" src="{{ challenge.illustrationUrl }}" alt="ceci est une image">
  {{/if}}
</div>

<div class="rounded-panel challenge-response">
    <div class="challenge-proposals">
      {{#each challenge.proposalsAsArray as |proposal|}}
          <p class="challenge-proposal">
              <label>{{input type="radio" name="proposals"}} {{ proposal }}</label>
          </p>
      {{/each}}
    </div>

  {{#if isLiveMode}}
      <hr/>
      <div class="actions pull-right">
          <button class="button button-secondary skip-button">Passer</button>
          <button class="button button-primary validate-button">Valider</button>
      </div>
  {{else if isCoursePreviewMode}}
      <hr/>
      <div class="actions pull-right">
        {{#if hasNextChallenge}}
          {{#link-to "courses.get-challenge-preview" course.id nextChallenge.id class="btn btn-primary next-challenge-button"}}
              Épreuve suivante{{/link-to}}
        {{/if}}
      </div>
  {{/if}}

</div>
