<header class="menu-bar__logo">
  <img class="menu-bar__logo-image" src="/logo-pix.png">
</header>
<ul class="menu-bar__entries">
  <li class="menu-bar__entry">
    {{#link-to "authenticated.users" class="menu-bar__link"}}
      {{fa-icon "user-plus"}}
      {{#bs-tooltip placement="right"}}Utilisateurs{{/bs-tooltip}}
    {{/link-to}}
  </li>
  <li class="menu-bar__entry">
    {{#link-to "authenticated.organizations" class="menu-bar__link"}}
      {{fa-icon "building"}}
      {{#bs-tooltip placement="right"}}Organisations{{/bs-tooltip}}
    {{/link-to}}
  </li>
  <li class="menu-bar__entry">
    {{#link-to "authenticated.certifications" class="menu-bar__link"}}
      {{fa-icon "graduation-cap"}}
      {{#bs-tooltip placement="right"}}Certifications{{/bs-tooltip}}
    {{/link-to}}
  </li>
  <li class="menu-bar__entry">
    {{#link-to "authenticated.operating" class="menu-bar__link"}}
      {{fa-icon "wrench"}}
      {{#bs-tooltip placement="right"}}Exploitation{{/bs-tooltip}}
    {{/link-to}}
  </li>
</ul>
<footer class="menu-bar__logout">
  <a href="#" {{action 'logout'}} class="menu-bar__link" title="Déconnexion">
    {{fa-icon "power-off"}}
    {{#bs-tooltip placement="right"}}Déconnexion{{/bs-tooltip}}
  </a>
</footer>