<form class="form organization-form" {{action "submitOrganization" on='submit'}}>

  {{#if errorMessages}}
    <div class="error-messages-panel">
      coucouc
    </div>
  {{/if}}

  <section class="form-section form-section--organization">
    <h3>Organisation</h3>

    <!-- Organization name -->
    <div class="form-group">
      <label for="organizationName">Nom : </label>
      {{input class="form-control" id="organizationName" value=organization.name required=true}}
    </div>

    <!-- Organization type -->
    <div class="form-group">
      <label for="organizationType">Type : </label>
      {{#power-select
        options=organizationTypes
        selected=selectedOrganizationType
        searchEnabled=false
        onchange=(action "selectOrganizationType")
      as |organizationType|}}
        {{organizationType.label}}
      {{/power-select}}
    </div>
  </section>

  <section class="form-section form-section--contact">
    <h3>Contact</h3>

    <!-- Contact first name -->
    <div class="form-group">
      <label for="contactFirstName">Prénom : </label>
      {{input class="form-control" id="contactFirstName" value=contact.firstName required=true}}
    </div>

    <!-- Contact last name -->
    <div class="form-group">
      <label for="contactLastName">Nom de famille : </label>
      {{input class="form-control" id="contactLastName" value=contact.lastName required=true}}
    </div>

    <!-- Contact email -->
    <div class="form-group">
      <label for="contactEmail">Email : </label>
      {{input class="form-control" id="contactEmail" value=contact.email required=true}}
    </div>

    <!-- Contact password -->
    <div class="form-group">
      <label for="contactPassword">Mot de passe : </label>
      {{input class="form-control" id="contactPassword" type="password" value=contact.password required=true}}
    </div>
  </section>

  <!-- Form submit button -->
  <div>
    <button class="btn btn-primary" type="submit">Ajouter</button>
  </div>
</form>