<div class="campaign-details-header-report__info">
  <h4 class="label-text campaign-details-content__label">{{t 'pages.campaign.participations-count'}}</h4>
  <span class="content-text campaign-details-content__text">
    {{@participationsCount}}
  </span>
</div>

<div class="campaign-details-header-report__shared">
  <h4 class="label-text campaign-details-content__label">
    {{#if (eq @campaign.type "PROFILES_COLLECTION")}}
      {{t 'pages.campaign.shared-profiles-count'}}
    {{else}}
      {{t 'pages.campaign.shared-results-count'}}
    {{/if}}
  </h4>
  <span class="content-text campaign-details-content__text">
    {{@sharedParticipationsCount}}
  </span>
</div>
