<article>
  <header>
    <h1 class="page-title">Taux de couverture</h1>
  </header>
  <div class="cover-rate">
    <section class="campaign-details-analysis-section" style="padding-bottom: 5rem;">
      <h2 class="campaign-details-analysis campaign-details-analysis__header">Couverture par domaine</h2>
      <p class="campaign-details-analysis campaign-details-analysis__text">
        <SafeMarkdownToHtml @markdown={{this.descriptionByAreas}}/>
      </p>
      <table class="panel panel--light-shadow content-text content-text--small campaign-details-analysis__table">
        <thead>
          <tr>
            {{#each this.headersByAreas as |header|}}
              <Table::Header @size="wide">{{header}}</Table::Header>
            {{/each}}
          </tr>
        </thead>
        {{#if this.coverRateByAreas}}
          <tbody>
          {{#each this.coverRateByAreas as |item|}}
            <tr>
              {{#each-in item as |key value|}}
                {{#if (eq key 'coverRateViz')}}
                  <td>
                    <CoverRateLevelV2 @maxLevel={{value.maxLevel}} @level={{value.level}} />
                  </td>
                {{else}}
                  <td>{{value}}</td>
                {{/if}}
              {{/each-in}}
            </tr>
          {{/each}}
          </tbody>
        {{/if}}
      </table>
    </section>

    <section class="campaign-details-analysis-section" style="padding-bottom: 5rem;">
      <h2 class="campaign-details-analysis campaign-details-analysis__header">Couverture par compétence</h2>
      <p class="campaign-details-analysis campaign-details-analysis__text">
        <SafeMarkdownToHtml @markdown={{this.descriptionByCompetences}}/>
      </p>
      <table class="panel panel--light-shadow content-text content-text--small campaign-details-analysis__table">
        <thead>
        <tr>
          {{#each this.headersByCompetences as |header|}}
            <Table::Header @size="wide">{{header}}</Table::Header>
          {{/each}}
        </tr>
        </thead>
        {{#if this.coverRateByCompetences}}
          <tbody>
          {{#each this.coverRateByCompetences as |item|}}
            <tr>
              {{#each-in item as |key value|}}
                {{#if (eq key 'coverRateViz')}}
                  <td>
                    <CoverRateLevelV2 @maxLevel={{value.maxLevel}} @level={{value.level}} />
                  </td>
                {{else}}
                  <td>{{value}}</td>
                {{/if}}
              {{/each-in}}
            </tr>
          {{/each}}
          </tbody>
        {{/if}}
      </table>
    </section>

    <section class="campaign-details-analysis-section" style="padding-bottom: 5rem;">
      <h2 class="campaign-details-analysis campaign-details-analysis__header">Couverture par sujet</h2>
      <p class="campaign-details-analysis campaign-details-analysis__text">
        <SafeMarkdownToHtml @markdown={{this.descriptionByTubes}}/>
      </p>
      <table class="panel panel--light-shadow content-text content-text--small campaign-details-analysis__table">
        <thead>
        <tr>
          {{#each this.headersByTubes as |header|}}
            <Table::Header @size="wide">{{header}}</Table::Header>
          {{/each}}
        </tr>
        </thead>
        {{#if this.displayableCoverRateByTubes}}
          <tbody>
          {{#each this.displayableCoverRateByTubes as |item|}}
            <tr>
              {{#each-in item as |key value|}}
                {{#if (eq key 'coverRateViz')}}
                  <td>
                    <CoverRateLevelV2 @maxLevel={{value.maxLevel}} @level={{value.level}} />
                  </td>
                {{else}}
                  <td>{{value}}</td>
                {{/if}}
              {{/each-in}}
            </tr>
          {{/each}}
          </tbody>
        {{/if}}
      </table>
      <PixButton @label="{{if this.showMoreForTubes "En afficher moins" "En afficher plus"}}" @triggerAction={{this.toggleShowMore}} >
        {{if this.showMoreForTubes "En afficher moins" "En afficher plus"}}
      </PixButton>
    </section>
  </div>
</article>
