<Modal::Dialog class="edit-student-number-modal" @title={{t "pages.students-sup.edit-student-number-modal.title"}} @display={{@display}} @close={{this.close}}>
  <form {{on 'submit' (fn this.updateStudentNumber)}}>
    <Modal::Body class="edit-student-number-modal__content">
      {{#if @student.studentNumber}}
        <p class="content-text">{{t "pages.students-sup.edit-student-number-modal.form.student-number" firstName=@student.firstName  lastName=@student.lastName }}<span class=" content-text--info">{{@student.studentNumber}}</span></p>
      {{/if}}
      <label for="studentNumber" class="content-text">{{t "pages.students-sup.edit-student-number-modal.form.new-student-number-label"}}</label>
      <div class="input-container">
        <Input
          id="studentNumber"
          type="text"
          @value={{this.newStudentNumber}}
          class="input"
        />

        <div class='form__error error-message'>
          {{this.error}}
        </div>
      </div>
    </Modal::Body>
    <Modal::Footer class="edit-student-number-modal__actions">
      <button type="button" class="button button--light-grey" {{on 'click' this.close}}>{{t "common.actions.cancel"}}</button>
      <button type="submit" disabled={{this.isDisabled}} class="button">{{t "pages.students-sup.edit-student-number-modal.actions.update"}}</button>
    </Modal::Footer>
  </form>
</Modal::Dialog>
