<article class="import-students-page">
  <header class="import-students-page__header">
    <h1>
      {{t this.textsByOrganizationType.title}}
    </h1>
  </header>

  <ImportBanner
    @organizationImportDetail={{@organizationImportDetail}}
    @errorPanelId="import-error-messages"
    @isLoading={{@isLoading}}
  />

  {{#if @isLoading}}
    <Ui::PixLoader />
  {{/if}}

  {{#unless @isLoading}}
    <div class="import-students-page__type-list">
      {{#if this.currentUser.isSCOManagingStudents}}
        <ScoOrganizationParticipant::ImportCard
          @onImportStudents={{@onImportScoStudents}}
          @acceptedFileType={{this.acceptedFileType}}
          @supportedFormats={{this.supportedFormats}}
          @disabled={{this.inProgress}}
        />
      {{else if this.currentUser.isSUPManagingStudents}}
        <SupOrganizationParticipant::ImportCards::Add
          @onAddStudents={{@onImportSupStudents}}
          @acceptedFileType={{this.acceptedFileType}}
          @supportedFormats={{this.supportedFormats}}
          @disabled={{this.inProgress}}
        />
        <SupOrganizationParticipant::ImportCards::Replace
          @onReplaceStudents={{@onReplaceStudents}}
          @acceptedFileType={{this.acceptedFileType}}
          @supportedFormats={{this.supportedFormats}}
          @disabled={{this.inProgress}}
        />
      {{/if}}
    </div>
  {{/unless}}

  {{#if this.displayImportMessagePanel}}
    <section id="import-error-messages" class={{this.panelClasses}} aria-live="assertive">
      <h2 class="screen-reader-only">{{t "pages.organization-participants-import.error-panel.title"}}</h2>

      <ul class="import-students-page__error-panel-list">
        {{#each this.errorDetailList as |errorElement|}}
          <li class="import-students-page__error-panel-list__item">{{errorElement}}</li>
        {{/each}}
      </ul>
    </section>
  {{/if}}
</article>