<article class="import-students-page">
  <header class="import-students-page__header">
    <h1>
      {{t this.textsByOrganizationType.title}}
    </h1>
  </header>
  {{#if this.displaySuccess}}
    <p class="success-import-banner">
      <FaIcon @icon="circle-check" class="success-import-banner__icon" />
      {{this.successBanner}}
    </p>
  {{/if}}
  {{#if this.displayBanner}}
    <PixMessage @type={{this.bannerType}} @withIcon="true">
      {{this.bannerMessage}}
    </PixMessage>
  {{/if}}

  {{#if @isLoading}}
    <Ui::PixLoader />
  {{/if}}

  {{#unless @isLoading}}
    <div class="import-students-page__type-list">
      {{#if this.currentUser.isSCOManagingStudents}}
        <ScoOrganizationParticipant::ImportCard
          @onImportStudents={{@onImportScoStudents}}
          @acceptedFileType={{this.acceptedFileType}}
          @supportedFormats={{this.supportedFormats}}
        />
      {{else if this.currentUser.isSUPManagingStudents}}
        <SupOrganizationParticipant::ImportCards::Add
          @onAddStudents={{@onImportSupStudents}}
          @acceptedFileType={{this.acceptedFileType}}
          @supportedFormats={{this.supportedFormats}}
        />
        <SupOrganizationParticipant::ImportCards::Replace
          @onReplaceStudents={{@onReplaceStudents}}
          @acceptedFileType={{this.acceptedFileType}}
          @supportedFormats={{this.supportedFormats}}
        />
      {{/if}}
    </div>
  {{/unless}}

  {{#if this.displayImportMessagePanel}}
    <section class={{this.panelClasses}} aria-live="assertive">
      <h2 class="screen-reader-only">{{t "pages.organization-participants-import.error-panel.title"}}</h2>

      <ul class="import-students-page__error-panel-list">
        {{#each this.errorDetailList as |errorElement|}}
          <li class="import-students-page__error-panel-list__item">{{errorElement}}</li>
        {{/each}}
      </ul>
    </section>
  {{/if}}
</article>