<Modal::Dialog @title="Gestion du compte Pix de l'élève" @display={{@display}} @close={{this.closeModal}}>
  <form class="manage-authentication-window">
    <h6>
      <FaIcon @icon="link" />
      Méthodes de connexion
    </h6>

    <div>
      {{#if @student.isAuthenticatedFromGar}}
        <div class="manage-authentication-window__box">
          <div class="manage-authentication-window__subTitle">
            <span>Médiacentre</span>
            <FaIcon @icon="check-circle" @prefix="far" class="green-icon" />
          </div>
        </div>
      {{/if}}

      {{#if @student.hasEmail}}
      <div class="manage-authentication-window__box">
        <div class="manage-authentication-window__subTitle">
          <span>Adresse e-mail</span>
          <FaIcon @icon="check-circle" @prefix="far" class="green-icon" />
        </div>
        <div class="input-container">
          <div class="manage-authentication-window__clipboard">
            <Input
              id="email"
              name="email"
              @type="text"
              class="input disabled"
              @value={{@student.email}}
              disabled={{true}}
            />
            {{#if (is-clipboard-supported)}}
              <PixTooltip
                @text={{this.tooltipTextEmail}}
                @position='top'
                @isInline={{true}}
                class="manage-authentication-window__tooltip">
                <CopyButton
                  @aria-label="Copier l'adresse e-mail"
                  @clipboardText={{@student.email}}
                  @success={{this.clipboardSuccessEmail}}
                  {{ on 'mouseout' this.clipboardOutEmail}}
                  @classNames="pix-icon-button pix-icon-button--small pix-icon-button--dark-grey manage-authentication-window__clipboard-button">
                  <FaIcon @icon="copy" @prefix="far" />
                </CopyButton>
              </PixTooltip>
            {{/if}}
          </div>
        </div>
      </div>
      {{/if}}

      <div class="manage-authentication-window__box">
        {{#if @student.displayAddUsernameAuthentication}}
          <div class="manage-authentication-window__subTitle">
            <span>Ajouter une connexion avec un identifiant </span>
            <FaIcon @icon="check-circle" @prefix="far" class="grey-icon" />
          </div>
          <button aria-label="Ajouter un identifiant" type="button" class="button"
                  {{on 'click' this.generateUsernameWithTemporaryPassword}}>
            Ajouter l'identifiant
          </button>
        {{else}}
          {{#if @student.hasUsername}}
            <div class="manage-authentication-window__subTitle">
              <span>Identifiant</span>
              <FaIcon @icon="check-circle" @prefix="far" class="green-icon" />
            </div>
            <div class="input-container">
              <div class="manage-authentication-window__clipboard">
                <Input
                  id="username"
                  name="username"
                  @type="text"
                  class="input disabled"
                  @value={{@student.username}}
                  disabled={{true}}
                />
                {{#if (is-clipboard-supported)}}
                  <PixTooltip
                    @text={{this.tooltipTextUsername}}
                    @position='top'
                    @isInline={{true}}
                    class="manage-authentication-window__tooltip">
                    <CopyButton
                      @aria-label="Copier l'identifiant"
                      @clipboardText={{@student.username}}
                      @success={{this.clipboardSuccessUsername}}
                      {{ on 'mouseout' this.clipboardOutUsername}}
                      @classNames="pix-icon-button pix-icon-button--small pix-icon-button--dark-grey manage-authentication-window__clipboard-button">
                      <FaIcon @icon="copy" @prefix="far" />
                    </CopyButton>
                  </PixTooltip>
                {{/if}}
              </div>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>

    {{#unless @student.isAuthenticatedWithGarOnly}}
      <div class="manage-authentication-window__footer">
        {{#if this.isUniquePasswordVisible}}
          <div>
            <div class="input-container">
              <label for="generated-password">Nouveau mot de passe à usage unique</label>
              <div class="manage-authentication-window__clipboard">
                <Input
                  id="generated-password"
                  @type="text"
                  name="generated-password"
                  class="input"
                  @value={{this.generatedPassword}}
                  disabled={{true}}
                />
                {{#if (is-clipboard-supported)}}
                  <PixTooltip
                    @text={{this.tooltipTextGeneratedPassword}}
                    @position='top'
                    @isInline={{true}}
                    class="manage-authentication-window__tooltip">
                    <CopyButton
                      @aria-label="Copier le mot de passe unique"
                      @clipboardText={{this.generatedPassword}}
                      @success={{this.clipboardSuccessGeneratedPassword}}
                      {{on 'mouseout' this.clipboardOutGeneratedPassword}}
                      @classNames="pix-icon-button pix-icon-button--small pix-icon-button--dark-grey manage-authentication-window__clipboard-button">
                      <FaIcon @icon="copy" @prefix="far" class="fa-inverse" />
                    </CopyButton>
                  </PixTooltip>
                {{/if}}
              </div>
            </div>

            <ol class="manage-authentication-window__informations">
              <li>Communiquez ce nouveau mot de passe à votre élève</li>
              <li>L'élève se connecte avec ce mot de passe à usage unique</li>
              <li>Pix lui demande d'en choisir un nouveau</li>
            </ol>
          </div>
        {{else}}
          <div>
            <button id="generate-password" type="button" class="button" {{on 'click' this.resetPassword}}>Réinitialiser le mot de passe</button>

            <div class="manage-authentication-window__warning">
              <FaIcon @icon="exclamation-triangle" class="icon--warning" />
              <span>Réinitialiser supprime le mot de passe actuel de l’élève</span>
            </div>
          </div>
        {{/if}}
      </div>
    {{/unless}}
  </form>
</Modal::Dialog>
