<div class="select-input" ...attributes>
  <select {{on 'change' @onChange}} id={{@id}} aria-label={{@aria-label}}>
    {{#if (not-eq @emptyOptionLabel undefined)}}
      <option value="">{{@emptyOptionLabel}}</option>
    {{/if}}
    {{#each @options as |opt|}}
      <option value={{opt.value}} selected={{eq @selectedOption opt.value}}>
        {{opt.label}}
      </option>
    {{/each}}
  </select>
  <FaIcon class='select-input__icon' @icon="chevron-down" />
</div>
