<div class="dropdown logged-user-summary content-text content-text--small" aria-label="Résumé utilisateur">
  <a href="#" class="link logged-user-summary__link" {{on 'click' this.toggleUserMenu}} aria-haspopup="listbox" aria-expanded="{{this.isMenuOpen}}">
    <div>
      <div class="logged-user-summary__name">{{this.currentUser.prescriber.firstName}} {{this.currentUser.prescriber.lastName}}</div>
      <div class="logged-user-summary__organization">{{this.organizationNameAndExternalId}}</div>
    </div>
    {{#if this.isMenuOpen}}
      <FaIcon @icon="chevron-up" @class="logged-user-summary__chevron logged-user-summary__chevron-up"></FaIcon>
    {{else}}
      <FaIcon @icon="chevron-down" @class="logged-user-summary__chevron"></FaIcon>
    {{/if}}
  </a>
</div>

<Dropdown::Content @display={{this.isMenuOpen}} @close={{this.closeMenu}} class="logged-user-menu" aria-label="Menu utilisateur">
  {{#each this.eligibleOrganizations as |organization|}}
    <Dropdown::Item @onClick={{fn this.onOrganizationChange organization}} title="{{organization.name}}" class="logged-user-menu-item">
      <span class="logged-user-menu-item__organization-name">{{organization.name}}</span>
      {{#if organization.externalId}}
        <span class="logged-user-menu-item__organization-externalId">({{organization.externalId}})</span>
      {{/if}}
    </Dropdown::Item>
  {{/each}}
  <Dropdown::ItemLink @linkTo="logout" class="logged-user-menu-item logged-user-menu-item__last">
      <FaIcon @icon="power-off" @class="logged-user-menu-item__icon"></FaIcon>
      Se déconnecter
  </Dropdown::ItemLink>
</Dropdown::Content>
