<div class="container-fluid">

    <div class="row links-bar">
        <div class="container">

          <ul class="col-md-4 links">
              <li class="links-title">PIX</li>
              <li><a href="{{rootURL}}">Créer un compte</a></li>
              <li><a href="{{rootURL}}">Se connecter</a></li>
              <li><a href="{{rootURL}}">Pour les entreprises</a></li>
          </ul>

          <ul class="col-md-4 links">
              <li class="links-title">À propos</li>
              <li><a href="{{rootURL}}">Qui sommes-nous ?</a></li>
              <li><a href="{{rootURL}}">Informations presse</a></li>
              <li><a href="{{rootURL}}">F.A.Q.</a></li>
          </ul>

          <ul class="col-md-4 links">
              <li class="links-title">Nous contacter</li>
              <li><a href="{{rootURL}}">Contacter PIX</a></li>
              <li><a href="{{rootURL}}">Contacter le SGMAP</a></li>
          </ul>

        </div>
    </div>

    <div class="row bottom-bar">

    </div>
</div>