<div class="app-menu-wrapper">
  <div class="app-menu">
    {{#each menuData as |menuItem|}}
      {{#each menuItem as |item|}}
        <div class="app-menu__item">
          <a href="{{rootURL}}{{item.href}}">{{item.title}}</a>
        </div>
      {{else}}
        <div class="app-menu__item">
          <a href="{{rootURL}}{{menuItem.href}}">{{menuItem.title}}</a>
        </div>
      {{/each}}
    {{/each}}
  </div>
</div>
