
{{#if (eq router.currentRouteName "index")}}
  <div class='app-header'>
  {{corner-ribbon}}  
  
  <div class='app-header-container'>
    <div class='app-header-container-marianne'>
      <div class='app-header-marianne'>
        <img src="{{rootURL}}images/logo-de-la-republique-francaise.svg">
      </div>
    </div>
    <div class='app-header-container-logo'>
      <div class='app-header-logo'>
        <img src="{{rootURL}}images/pix-logo.svg">
      </div>
    </div>
  </div>
</div>

{{else}}
  
<div class="app-header-started">
{{corner-ribbon}}  

<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <img src="{{rootURL}}images/pix-logo.svg" alt="Logo PIX" width="auto" height="60">
            </div>
        </div>
    </div>
</nav>
</div>

{{/if}}

