{{#cp-panel as |panel|}}
  {{#panel.toggle class="certifications-list-item__row-presentation"}}
    <div class="certifications-list-item__cell">
      {{moment-format certification.date 'DD/MM/YYYY' allow-empty=true}}
    </div>

    {{#unless certification.isPublished}}
      <div class="certifications-list-item__cell">
        <img src="/images/sablier.svg" alt="" class="certifications-list-item__hourglass-img">
        En attente du résultat
      </div>
      <div class="certifications-list-item__cell-pix-score"></div>

    {{else unless isValidated}}
      <div class="certifications-list-item__cell">
        <img src="/images/icons/icon-croix.svg" alt="" class="certifications-list-item__cross-img">
        Certification non obtenue
      </div>
      <div class="certifications-list-item__cell-pix-score"></div>

    {{else}}
      <div class="certifications-list-item__cell">
        <img src="/images/icons/icon-check-vert.svg" alt="" class="certifications-list-item__green-check-img">
        Certification obtenue
      </div>
      <div class="certifications-list-item__cell-pix-score">
        <div class="certifications-list-item__pix-score">
          <span>{{ certification.pixScore }}</span>
        </div>
      </div>

    {{/unless}}

    <div class="certifications-list-item__cell-certification-center">
      {{certification.certificationCenter}}
    </div>

    <div class="certifications-list-item__cell-detail">
      {{#if hasComment}}
        <div class="certifications-list-item__cell-detail-button">
          DÉTAIL
        </div>
      {{/if}}
    </div>
  {{/panel.toggle}}

  {{#if hasComment}}
    {{#panel.body class="certifications-list-item__row-comment"}}
      <div class="certifications-list-item__row-comment-cell">
        {{certification.commentForCandidate}}
      </div>
    {{/panel.body}}
  {{/if}}

{{/cp-panel}}

