<div class="rounded-panel challenge-statement">

  {{#if challenge.instruction}}
    <div class="rounded-panel__row challenge-statement__instruction-section">
      {{markdown-to-html class="challenge-statement__instruction" extensions='targetBlank'
                         markdown=challenge.instruction}}
    </div>
  {{/if}}

  {{#if challenge.illustrationUrl}}
    <div class="rounded-panel__row challenge-statement__illustration-section">
      <img class="challenge-statement__illustration" src="{{ challenge.illustrationUrl }}"
           alt="Illustration de l'épreuve">
    </div>
  {{/if}}

  {{#if challenge.hasAttachment}}
    <div class="rounded-panel__row challenge-statement__attachments-section">

      {{#if challenge.hasSingleAttachment}}
        <div class="challenge-statement__action">
          <a class="challenge-statement__action-link" href="{{challenge.attachments.firstObject}}" target="_blank">
            <span class="challenge-statement__action-label">Télécharger</span>
          </a>
        </div>
      {{/if}}

      {{#if challenge.hasMultipleAttachments}}
        <p class="challenge-statement__text">
          <span class="challenge-statement__text-content">Choisissez le type de fichier que vous voulez utiliser</span>
          <div class="challenge-statement__help-icon">
            <div class="challenge-statement__help-tooltip">
              <span class="challenge-statement__help-text">Pix vous laisse le choix du format de fichier à télécharger. Si vous ne savez pas quelle option retenir, conservez le choix par défaut. Il correspond au format de fichier pris en charge par le plus grand nombre de logiciels.</span>
            </div>
          </div>
        </p>
        <ul class="challenge-statement__file-options">
          {{#each challenge.attachments as |attachmentUrl index|}}
            <li class="challenge-statement__file-option">

              {{!-- This radiobutton is hidden  - SVG displayed instead - but needed to handle behaviour. --}}
              <input type="radio"
                     id="attachment{{index}}"
                     name="attachment_selector"
                     class="challenge-statement__file-option-input"
                     value="{{attachmentUrl}}"/>

              {{!-- Surrounding label --}}
              <label for="attachment{{index}}" onclick={{action "selectAttachementUrl" attachmentUrl}} class="label-checkbox-downloadable">

                {{!-- text of proposal  --}}
                <span class="challenge-statement__file-option-label">fichier .{{extract-extension attachmentUrl}}</span>
                {{!-- SVG to represent on / off state --}}
                <svg class="radio2-on picture-checkbox-downloadable" width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="filled{{index}}" transform="translate(1.000000, 1.000000)"><circle id="Oval-ext" stroke="#7D808B" stroke-width="2" fill="#FFFFFF" cx="7.5" cy="7.5" r="7.5"></circle><circle id="Oval-Bleu" fill="#3D68FF" cx="7.5250001" cy="7.55500031" r="4.125"></circle></g></g></svg>
                <svg class="radio2-off picture-checkbox-downloadable" width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="myicon" transform="translate(1.000000, 1.000000)" stroke="#7D808B" stroke-width="2" fill="#FFFFFF"><circle id="Oval-ext" cx="7.5" cy="7.5" r="7.5"></circle></g></g></svg>
              </label>

            </li>
          {{/each}}
        </ul>
        <div class="challenge-statement__action">
          <a class="challenge-statement__action-link" href="{{selectedAttachmentUrl}}" target="_blank">
            <span class="challenge-statement__action-label">Télécharger</span>
          </a>
        </div>
      {{/if}}
    </div>
  {{/if}}

</div>
