{{#if hasChallengeTimer}}
  {{#unless hasUserConfirmWarning}}
    {{warning-page hasUserConfirmWarning=(action "setUserConfirmation") time=challenge.timer}}
  {{/unless}}
{{/if}}

{{#unless hasChallengeTimer}}

  {{#if challenge.hasntInternetAllowed}}
    {{challenge-stay}}
  {{/if}}

  {{challenge-statement challenge=challenge assessment=assessment}}

  <div class="rounded-panel challenge-response">
    <div class="rounded-panel__row challenge-proposals">
      {{qroc-proposal
        proposals=challenge.proposals
        answerValue=answers.value
        answerChanged=(action 'answerChanged')}}
    </div>
    {{#if challenge.timer}}
      {{#if hasUserConfirmWarning}}
        <div class="rounded-panel__row timeout-jauge-wrapper">
          {{timeout-jauge allotedTime=challenge.timer}}
        </div>
      {{/if}}
    {{/if}}
  </div>

  {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  {{/if}}

  {{#if assessment}}
    {{challenge-actions challenge=challenge challengeSkipped=(action "skipChallenge") answerValidated=(action "validateAnswer")}}
  {{/if}}
{{/unless}}

{{#if canDisplayFeedbackPanel}}
  <div class="challenge-item__feedback">
    {{feedback-panel assessment=assessment challenge=challenge}}
  </div>
{{/if}}