{{#if _isSimulatorNotYetLaunched}}
  <div class="challenge-statement-embed-panel__aknowledgment-overlay">
    <button class="challenge-statement-embed-panel__launch-simulator-button" {{action "launchSimulator"}}>Je lance le simulateur</button>
  </div>
{{/if}}

<div class="challenge-statement-embed-panel__simulator blurred">
  <iframe class="challenge-statement-embed-panel__iframe"
          src="{{embedDocument.url}}"
          alt="{{embedDocument.title}}"
          height="{{embedDocument.height}}">
  </iframe>
  <button class="challenge-statement-embed-panel__reload-button" {{action "reloadSimulator"}}>Recharger le simulateur</button>
</div>
