{{#if challenge.hasntInternetAllowed}}
  {{challenge-stay}}
{{/if}}

{{challenge-instruction instruction=challenge._instructionAsObject}}

<div class="rounded-panel challenge-response">
  <div class="challenge-proposals">
    {{qcu-proposals
        answers=answers._valueAsArrayOfBoolean
        proposals=challenge._proposalsAsArray
        onAnswerUpdated='answerChanged'}}
  </div>
  {{#if challenge.timer}}
    {{timeout-jauge allotedTime=challenge.timer}}
  {{/if}}
</div>

{{#if errorMessage}}
  <div class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
{{/if}}

{{#if assessment}}
  {{challenge-actionbar
      skip="skip"
      validate="validate"}}
{{/if}}
