{{#if hasLevel}}
  <div class="competence-level-progress-bar__background">
    <div class="competence-level-progress-bar__background-level-limit">
      <div class="competence-level-progress-bar__background-level-limit-indicator">
        {{_LIMIT_LEVEL}}
      </div>
    </div>
    <div class="competence-level-progress-bar__background-available-soon-text">Disponible Prochainement</div>
    <div class="competence-level-progress-bar__background-level-limit-max-indicator">
      {{_MAX_LEVEL}}
    </div>
    {{#if canUserReplayAssessment}}
      <div class="competence-level-progress-bar__link">
        {{#link-to "courses.create-assessment" courseId class="competence-level-progress-bar__link-replay" }}
          Seconde chance <div class="sr-only">pour le test "{{name}}"</div>
        {{/link-to}}
      </div>
    {{/if}}

  </div>

  <div class="competence-level-progress-bar__level" style={{widthOfProgressBar}}>
    <div class="competence-level-progress-bar__level-indicator">
      {{level}}
    </div>
  </div>
{{/if}}

{{#if canUserStartCourse}}
  <div class="competence-level-progress-bar__link">
    {{#link-to "courses.create-assessment" courseId class="competence-level-progress-bar__link-start" }}
      Commencer <div class="sr-only">le test "{{name}}"</div>
    {{/link-to}}
  </div>
{{/if}}

{{#if canUserResumeAssessment}}
  <div class="competence-level-progress-bar__link">
    {{#link-to "assessments.resume" assessmentId class="competence-level-progress-bar__link-resume" }}
      Reprendre <div class="sr-only">le test "{{name}}"</div>
    {{/link-to}}
  </div>
{{/if}}



