<div class="routable-modal--dialog comparison-window--dialog">

  <div class="routable-modal--content comparison-window--content">

    <div class="routable-modal--header comparison-window__header">


      {{#routable-modal-close-button class="routable-modal--close-button"}}
        <div class="close-button-container">
          <div>fermer</div>
          <div>
            <img src="/images/comparison-window/icon-close-modal.svg" alt="Fermer la fenêtre modale" width="24" height="24">
          </div>
        </div>
      {{/routable-modal-close-button}}

      <div class="comparison-window__result-item-index">
        {{index}}
      </div>

      <div class="comparison-window__result-item-line">
      </div>

      <div class="comparison-window__title">
        <div data-toggle="tooltip" data-placement="top" title="{{resultItem.tooltip}}">
          <img class="comparison-window__result-icon comparison-window__result-icon--{{resultItem.status}}" src="/images/answer-validation/icon-{{resultItem.status}}.svg" alt="">
        </div>
      </div>
      <div class="comparison-window__title-text">{{resultItem.title}}</div>
    </div>

    <div class="routable-modal--body comparison-window--body">

      <div class="rounded-panel comparison-window__instruction">
        <div class="rounded-panel__row ">
          {{markdown-to-html class="challenge-statement__instruction" markdown=challenge.instruction}}
        </div>

        {{#if challenge.illustrationUrl}}
          <div class="rounded-panel__row challenge-statement__illustration-section">
            <img class="challenge-statement__illustration" src="{{ challenge.illustrationUrl }}" alt="Illustration de l'épreuve">
          </div>
        {{/if}}
      </div>

      {{#if isAssessmentChallengeTypeQcm}}
        {{qcm-solution-panel challenge=challenge answer=answer solution=solution}}
      {{/if}}


      {{#if isAssessmentChallengeTypeQcu}}
          {{qcu-solution-panel challenge=challenge answer=answer solution=solution}}
      {{/if}}

      {{#if isAssessmentChallengeTypeQroc}}
        <div class="comparison-window__corrected-answers comparison-window__corrected-answers--qroc">
          {{qroc-solution-panel answer=answer solution=solution}}
        </div>
      {{/if}}

      {{#if isAssessmentChallengeTypeQrocmInd}}
        <div class="comparison-window__corrected-answers comparison-window__corrected-answers--qrocm">
          {{qrocm-ind-solution-panel answer=answer solution=solution challenge=challenge}}
        </div>
      {{/if}}
    </div>

    <div class="routable-modal--footer">
      <div class="comparison-window__feedback-panel">
        {{feedback-panel assessment=answer.assessment challenge=challenge collapsible=false}}
      </div>
    </div>
  </div>
</div>
