{{#if isFormClosed}}
  <div class="feedback-panel__view feedback-panel__view--link">
    <a class="feedback-panel__open-link" {{action "openFeedbackForm"}}>Signaler un problème</a>
  </div>

{{else if isFormOpened}}
  <div class="feedback-panel__view feedback-panel__view--form">
    <h3 class="feedback-panel__form-title">Signaler un problème</h3>

    <div class="feedback-panel__form-description">
      <p>PIX est à l’écoute de vos remarques pour améliorer les épreuves proposées #personnenestparfait.</p>
      <p>Vous pouvez nous laisser votre adresse mail si vous le souhaitez. Vos coordonnées ne feront l’objet d’aucune
        transmission à des tiers.</p>
    </div>

    <div class="feedback-panel__form-wrapper">
      <form class="feedback-panel__form">
        <div class="feedback-panel__group">
          {{input class="feedback-panel__field feedback-panel__field--email" type="text" value=_email
                  placeholder="Votre email (optionnel)"}}
        </div>
        <div class="feedback-panel__group">
          {{textarea class="feedback-panel__field feedback-panel__field--content" value=_content
                     placeholder="Votre message" rows=6}}
        </div>

        {{#if _error}}
          <div class="alert alert-danger" role="alert">
            {{_error}}
          </div>
        {{/if}}
        <button class="feedback-panel__button feedback-panel__button--send" {{action "sendFeedback"}}>Envoyer</button>
        {{#if isFormClosedByDefault}}
          <button class="feedback-panel__button feedback-panel__button--cancel" {{action "cancelFeedback"}}>Annuler</button>
        {{/if}}
      </form>
    </div>
  </div>

{{else }}
  <div class="feedback-panel__view feedback-panel__view--mercix">
    <p>Votre commentaire a bien été transmis à l’équipe du projet PIX.</p>
    <p>Mercix !</p>
  </div>
{{/if}}
