<div class="first-page">

  <div class="first-page-hero">
    <div class="first-page-hero__box">
      <div class="first-page-hero__box-item">
        <div class="first-page-hero__main-value-prop">
          Développez vos compétences numériques
        </div>
        <div class="first-page-hero__sub-value-prop">
          PIX est un projet public de plateforme en ligne d’évaluation et de certification des compétences numériques, en cours de développement.
        </div>
      </div>
    </div>
  </div>

  <div class="first-page-challenges">
    <div class="first-page-challenges__empty">&nbsp;</div>
    <div class="first-page-challenges__title">
      Découvrez nos épreuves et aidez-nous à les améliorer !
    </div>
    <div class="first-page-challenges__cards container">
      <ul class="row courses">

        {{#each model as |course|}}
        <li class="col-md-3 course-item animated fadeIn">
          <div class="rounded-panel course" data-id="{{ course.id }}">
            {{#if course.imageUrl}}
            <img class="course-picture" src="{{ course.imageUrl }}" alt="Illustration du test">
            {{else}}
            <img class="course-picture" src="{{rootURL}}images/course-default-image.png" alt="Illustration du test">
            {{/if}}

            <div class="course-content">
              <h4 class="course-name">
                {{ course.name }}
              </h4>
              <div class="course-description">
                {{ course.description }}
              </div>
            </div>

            <div class="course-number-of-challenges">
              {{ course.challenges.length }} épreuves
            </div>
            <div class="course-actions">
              {{!-- iPhone needs style="cursor: pointer;" to trigger the event !! --}}
              {{!-- https://github.com/emberjs/ember.js/issues/605#issuecomment-57037709 --}}
              <button {{action "startTest" "courses.create-assessment" course.id}} class="button start-button" style="cursor: pointer;">Démarrer le test</button>

            </div>
          </div>
        </li>
        {{/each}}

      </ul>
    </div>
  </div>

  {{modal-mobile}}

  <div class="first-page-email">
    <div class="first-page-email-content">
      <div class="first-page-email__title">
        Vous souhaitez devenir beta-testeur ou être informé(e) du développement de Pix ?
      </div>
      <div class="first-page-email__input-container">
        {{load-email}}
      </div>
    </div>
  </div>
</div>

<div class="first-page-features">

  <div class="first-page-feature">
    <div class="first-page-feature__icon-container">
      <img src="{{rootURL}}images/icon-cafe.svg" class="first-page-feature__icon">
    </div>
    <div class="first-page-feature__title">Vivez l’expérience PIX</div>
    <div class="first-page-feature__text"> Un parcours d’évaluation convivial, accessible et interactif.</div>
  </div>
  <div class="first-page-feature">
    <div class="first-page-feature__icon-container">
      <img src="{{rootURL}}images/icon-monde.svg" class="first-page-feature__icon">
    </div>
    <div class="first-page-feature__title">PIX est pour tout le monde </div>
    <div class="first-page-feature__text"> Collégiens, lycéens, étudiants, professionnels, citoyens…</div>
  </div>
  <div class="first-page-feature">
    <div class="first-page-feature__icon-container">
      <img src="{{rootURL}}images/icon-reference.svg" class="first-page-feature__icon">
    </div>
    <div class="first-page-feature__title">PIX est la référence</div>
    <div class="first-page-feature__text"> La certification nationale de la culture numérique made in France au standard européen.</div>
  </div>
  <div class="first-page-feature">
    <div class="first-page-feature__icon-container">
      <img src="{{rootURL}}images/icon-evolutif.svg" class="first-page-feature__icon">
    </div>
    <div class="first-page-feature__title">PIX est évolutif</div>
    <div class="first-page-feature__text"> Le référentiel de compétences s’adapte en permanence aux évolutions du monde numérique.</div>
  </div>
  <div class="first-page-feature">
    <div class="first-page-feature__icon-container">
      <img src="{{rootURL}}images/icon-gratuit.svg" class="first-page-feature__icon">
    </div>
    <div class="first-page-feature__title">PIX est gratuit</div>
    <div class="first-page-feature__text"> Entraînez-vous et progressez gratuitement à votre rythme avant d’être certifié.</div>
  </div>
</div>
<div class="first-page-about">
  <a class="" href="{{rootURL}}/projet">En savoir plus sur le projet</a>
</div>

{{app-footer}}