<form class="follower__form">
  <div class="follower__form-container">
    <div class="follower__form-item follower__form-input-container">
      {{input class="follower-email" placeholder="Saisissez votre email" type="email" value=_followerEmail}}
    </div>
    <div class="follower__form-item">
      <button {{action "submit" allowedKeys="enter"}}
        class="follower-form__button {{if isPending 'follower-form__button--pending' 'follower-form__button--default'}}">{{submitButtonText}}</button>
    </div>
  </div>

  {{#if hasMessage}}
    <div class="follower-info-message {{messageClassName}}">
    {{#if hasError}}
      <img class="follower-form__icon follower-form__icon--error" style="width:15px;height:15px;" src="/images/icon-error.svg" alt="">
    {{else}}
      <img class="follower-form__icon follower-form__icon--success" style="width:12px;height:15px" src="/images/icon-success.svg" alt="">
    {{/if}}
    <span>{{infoMessage}}</span>
  </div>
  {{/if}}
</form>
