{{#form-for user
    id="identification-form"
    submit=(action "identify")
    update=(action "update")
    as |form|
}}
    <div id="firstname" class="form-group {{if user.errors.firstname "has-error"}}">
      {{form.text-field "firstname" label="Prénom"
        inputClasses="firstname_input form-control" labelClasses="control-label" errorClasses="help-block animated flash" hintClasses="help-block"
        autocomplete="on" required="true"
      }}
    </div>

    <div id="lastname" class="form-group {{if user.errors.lastname "has-error"}}">
      {{form.text-field "lastname" label="Nom"
        inputClasses="lastname_input form-control" labelClasses="control-label" errorClasses="help-block animated flash" hintClasses="help-block"
        autocomplete="on" required="true"
      }}
    </div>

    <div id="email" class="form-group {{if user.errors.email "has-error"}}">
      {{form.email-field "email" label="Email"
        inputClasses="email_input form-control" labelClasses="control-label" errorClasses="help-block animated flash" hintClasses="help-block"
        autocomplete="on" required="true"
      }}
    </div>

    <div class="identification-form-actions pull-right {{if hasErrors "has-error"}}">
      {{form.submit "Identifiez-vous" disabled=isSubmitDisabled class="button button-primary" }}
    </div>
{{/form-for}}

