<form id="identification-form" {{action "identify" on="submit"}}>

  <div class="form-group">
    <label for="firstName">Prénom</label>
    {{input id="firstName" type="text" value=user.firstName class="form-control" autofocus="true" autocomplete="fname" }}
  </div>

  <div class="form-group">
    <label for="lastName">Nom</label>
    {{input id="lastName" type="text" value=user.lastName class="form-control" autocomplete="lname" }}
  </div>

  <div class="form-group">
    <label for="email">Adresse e-mail</label>
    {{input id="email" type="email" value=user.email class="form-control" autocomplete="email"}}
  </div>

  {{#if hasError}}
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  {{/if}}

  <div class="identification-form-actions pull-right">
    <button class="button button-primary" type="submit">Identifiez-vous</button>
  </div>

</form>
