<div class="result-item__index">
  {{add index 1}}
</div>

<div class="result-item__item-line"></div>

<div class="result-item__icon">
  <div data-toggle="tooltip" data-placement="top" title="{{resultItem.tooltip}}">
    <img class="result-item__icon-img result-item__icon-img--{{resultItem.status}}" src="/images/answer-validation/icon-{{resultItem.status}}.svg" alt="">
  </div>
</div>

<div class="result-item__instruction">
  {{strip-instruction (convert-to-html answer.challenge.instruction)}}
</div>

<div class="result-item__correction">
  {{#if validationImplementedForChallengeType}}
    <button class="result-item__correction__button js-correct-answer" {{action "openComparisonPopin" a11y-focus-id }} id="{{a11y-focus-id}}"> RÉPONSE</button>
  {{/if}}
</div>