<button class="share-profile__share-button" {{action "toggleSharingModal"}}>
  Partager <span class="sr-only">mon profile</span>
  <img class="share-profile__share-button-image" src="/images/icon-partager.svg" alt="">
</button>

{{#if isShowingModal}}
  {{#pix-modale onClose="toggleSharingModal"}}
    <a href="#" class="pix-modale__close-button" {{action "toggleSharingModal"}}>Fermer
      <img src="/images/comparison-window/icon-close-modal.svg" alt="Fermer la fenêtre modale" width="24" height="24">
    </a>

    <h1>Partage de votre profil</h1>

    {{#if organization}}
      <section class="pix-modale__content share-profile__modal-content-organization-details">
        <p class="share-profile__modal-transmission">Vous vous apprêtez à transmettre une copie de votre profil Pix à
          l'organisation:</p>
        <p class="share-profile__modal-organization-name">{{organization.name}}</p>
        <p class="share-profile__modal-informations-shared">En cliquant sur le bouton «Envoyer», elle recevra les
          informations suivantes:</p>
        <ul class="share-profile__modal-informations-shared">
          <li>› votre nom et prénom</li>
          <li>› l'état actuel de votre profil</li>
        </ul>
        <p class="share-profile__modal-informations-evolutions">Elle ne recevra pas les évolutions futures de votre
          profil.</p>
      </section>
    {{else}}

      <section class="pix-modale__content share-profile__modal-content-organization-form">
        <div>Veuillez saisir le code correspondant à votre organisation (collège, lycée, université, école,
          entreprise).
        </div>

        <div class="share-profile__modal-form">
          {{input id="code"
                  placeholder=placeholder
                  focus-in="focusIn"
                  focus-out="focusOut"
                  value=code
                  class="share-profile__modal-input"
                  enter="searchFromCode"}}

          {{#unless organizationExists}}
            <div class="share-profile__form-error">Ce code ne correspond à aucune organisation.</div>
          {{/unless}}

          <div class="share-profile__share-modal-buttons">
            <button class="pix-modal__button pix-modal__button--primary" {{action "searchFromCode"}}>Continuer
            </button>
            <button class="pix-modal__button" {{action "toggleSharingModal"}}>Annuler</button>
          </div>
        </div>
      </section>

    {{/if}}

  {{/pix-modale}}
{{/if}}


{{yield}}

