<button class="share-profile__share-button" {{action "openModal"}}>
  Partager <span class="sr-only">mon profile</span>
  <img class="share-profile__share-button-image" src="/images/icon-partager.svg" alt="">
</button>

{{#if _showingModal}}
  {{#pix-modale containerClass="share-profile__modal" onClose="closeModal"}}

    <div class="pix-modal__container">

      <a href="#" class="pix-modal__close-link" {{action "closeModal"}}>Fermer
        <img src="/images/comparison-window/icon-close-modal.svg" alt="Fermer la fenêtre modale" width="24" height="24">
      </a>

      <h1>Partage de votre profil</h1>

      {{#if stepOrganizationCodeEntry}}

        <section class="pix-modal__body share-profile__section share-profile__section--organization-code-entry">
          <div class="share-profile__row">
            <p>Veuillez saisir le code correspondant à votre organisation (collège, lycée, université, école, entreprise).</p>

            {{input class="pix-modal__input share-profile__organization-code-input"
                    id="code"
                    placeholder=_placeholder
                    focus-in="focusInOrganizationCodeInput"
                    focus-out="focusOutOrganizationCodeInput"
                    value=_code
                    enter="findOrganizationAndGoToSharingConfirmationView"}}

            {{#if _organizationNotFound}}
              <p class="share-profile__form-error">Ce code ne correspond à aucune organisation.</p>
            {{/if}}
          </div>

          <div class="share-profile__share-modal-buttons">
            <button class="pix-modal__button pix-modal__button--primary share-profile__continue-button" {{action "findOrganizationAndGoToSharingConfirmationView"}}>Continuer</button>
            <button class="pix-modal__button pix-modal__button--secondary share-profile__cancel-button" {{action "closeModal"}}>Annuler</button>
          </div>


        </section>

      {{else if stepProfileSharingConfirmation}}

        <section class="pix-modal__body share-profile__section share-profile__section--sharing-confirmation">
          <div class="share-profile__row share-profile__row--organization-name">
            <p>{{organizationLabels.text1}}</p>
            <p class="share-profile__organization-name">{{_organization.name}}</p>
          </div>

          {{#if isOrganizationHasTypeSup}}
            <div class="share-profile__row share-profile__row--student-code">
              <p>Veuillez saisir votre numéro d'étudiant :</p>
              {{input class="pix-modal__input share-profile__student-code-input" value=_studentCode}}
            </div>

            <div class="share-profile__row share-profile__row--campaign-code">
              <p>Précisez le code campagne s'il vous a été fourni :</p>
              {{input class="pix-modal__input share-profile__campaign-code-input" value=_campaignCode}}
            </div>

          {{/if}}

          <div class="share-profile__row share-profile__row--disclaimer">
            <p>{{organizationLabels.text2}}</p>
            <ul class="pix-modal__list">
              <li class="pix-modal__list-item">› votre nom et prénom</li>
              <li class="pix-modal__list-item">› l'état actuel de votre profil</li>
            </ul>
            <p>{{organizationLabels.text3}}</p>
          </div>

          <div class="share-profile__share-modal-buttons">
            <button class="pix-modal__button pix-modal__button--primary share-profile__confirm-button" {{action "shareSnapshotAndGoToSuccessNotificationView"}}>Continuer</button>
            <button class="pix-modal__button pix-modal__button--secondary share-profile__cancel-button" {{action "cancelSharingAndGoBackToOrganizationCodeEntryView"}}>Annuler</button>
          </div>

        </section>

      {{else}}

        <section class="pix-modal__body share-profile__section share-profile__section--success-notification">
          <div class="share-profile__row">
            <p class="share-profile__statement">Votre profil a été envoyé avec succès.</p>
          </div>
          <button class="pix-modal__button pix-modal__button--primary share-profile__close-button" {{action "closeModal"}}>Fermer</button>
        </section>

      {{/if}}

    </div>

  {{/pix-modale}}
{{/if}}


{{yield}}

