<label for="{{textfieldName}}" class="signup-textfield__label">{{label}}</label>
{{#if hasIcon}}
  <div class="signup-textfield__message {{validationMessageClass}} signup-textfield__message-{{textfieldType}}
" role="alert">{{validationMessage}}</div>
{{/if}}

<div class="signup-textfield__input-field-container {{inputContainerStatusClass}}">
  {{input type=textfieldType
          id=textfieldName
          value=inputBindingValue
          focus-out=(action 'validate')
          class= 'signup-textfield__input'
          classBinding="inputValidationStatus"
  }}


  {{#if hasIcon}}
    {{#if (eq validationStatus 'error') }}
      <img src="/images/icons/icon-error.svg" class="signup-textfield__icon signup-textfield__icon--error">
    {{else}}
      <img src="/images/icons/icon-success.svg" class="signup-textfield__icon signup-textfield__icon--success validation-icon-success">
    {{/if}}
  {{/if}}
</div>