<form class="signup-form-container">
  <div class="signup-form__logo">
    {{pix-logo}}
  </div>

  <div class="signup-form__heading-container">
    <h1 class="signup-form__heading">Inscription gratuite</h1>
  </div>

  {{#if _notificationMessage}}
    <p class="signup-form__notification-message" aria-live="polite">{{_notificationMessage}}</p>
  {{/if}}

  <div class="signup-form__input-container">
    {{form-textfield
      label="Nom"
      textfieldName="lastName"
      inputBindingValue=user.lastName
      validate="validateInput"
      validationStatus=validation.lastName.status
      validationMessage=validation.lastName.message}}
  </div>

  <div class="signup-form__input-container">
    {{form-textfield
      label="Prénom"
      textfieldName="firstName"
      inputBindingValue=user.firstName
      validate="validateInput"
      validationStatus=validation.firstName.status
      validationMessage=validation.firstName.message}}
  </div>

  <div class="signup-form__input-container">
    {{form-textfield
      label="Adresse Email"
      textfieldName="email"
      validationStatus=validation.email.status
      validate="validateInputEmail"
      inputBindingValue=user.email
      validationMessage=validation.email.message}}
  </div>

  <div class="signup-form__input-container">
    {{form-textfield
      label="Mot de passe"
      textfieldName="password"
      validationStatus=validation.password.status
      validate="validateInputPassword"
      inputBindingValue=user.password
      validationMessage=validation.password.message}}
  </div>

  <div class="signup-form__cgu-container">

    {{#if user.errors.cgu}}
      <div class="form-textfield__cgu-message--error">
        {{user.errors.cgu.firstObject.message}}
      </div>
    {{/if}}

    <label for="pix-cgu" class="signup-form__cgu-label">
      {{input type="checkbox" id='pix-cgu' checked=user.cgu}}
      <span>J'​accepte les {{#link-to 'terms-of-service' class="signup__cgu-link" target="_blank"}}
        conditions d'​utilisation de Pix{{/link-to}}</span>
    </label>
  </div>

  <div class="signup-form__captcha-container">
    {{#if user.errors.recaptchaToken}}
      <div class="signup-field__recaptcha-message--error">{{user.errors.recaptchaToken.firstObject.message}}</div>
    {{/if}}
    {{g-recaptcha recaptchaToken=user.recaptchaToken tokenHasBeenUsed=_tokenHasBeenUsed}}
  </div>

  <div class="signup-form__submit-container">
    <button class="signup__submit-button" {{action "signup"}}>Je m'inscris</button>
  </div>
</form>