<div class="snapshot-list">
  <table class="snapshot-list__body-table">
    <thead class="snapshot-list__body-table__header">
    <tr>
      <td class="snapshot-list__table-header-cell">Nom</td>
      <td class="snapshot-list__table-header-cell">Prénom</td>
      <td class="snapshot-list__table-header-cell">Date d'envoi</td>
      <td class="snapshot-list__table-header-cell">Score Pix</td>
      <td class="snapshot-list__table-header-cell">% d'avancement</td>
    </tr>
    </thead>

    <tbody class="snapshot-list__body-table__body">
    {{#if _hasSnapshots }}
      {{#each snapshots as |snapshot|}}
          <tr class="snapshot-list__snapshot-item">
            <td class="snapshot-list__snapshot-item-cell">{{snapshot.user.lastName}}</td>
            <td class="snapshot-list__snapshot-item-cell">{{snapshot.user.firstName}}</td>
            <td class="snapshot-list__snapshot-item-cell">{{moment-format snapshot.createdAt 'DD/MM/YYYY' allow-empty=true}}</td>
            <td class="snapshot-list__snapshot-item-cell">{{snapshot.score}}</td>
            <td class="snapshot-list__snapshot-item-cell">{{snapshot.completionPercentage}}%</td>
          </tr>
      {{/each}}

    {{else}}
    <tr>
      <td colspan="5" class="snapshot-list__no-profile">Aucun profil partagé pour le moment</td>
    </tr>
    {{/if}}

    </tbody>

  </table>
</div>