<div class="tutorial-item__tutorial-title">
  <a href="{{tutorial.link}}">{{tutorial.title}}</a>
</div>
<div class="tutorial-item__tutorial-details">
  <div class="tutorial-item__tutorial-details__format"> {{tutorial.format}} </div>
  <div class="tutorial-item__tutorial-details__informations">
    {{displayedDuration}} | par {{tutorial.source}}
  </div>
</div>