<div class="tutorial-item__tutorial-title">
  <a href="{{tutorial.link}}" target="_blank" class="tutorial-item__tutorial-title-url">{{tutorial.title}}</a>
</div>
<div class="tutorial-item__tutorial-details">
  <div class="tutorial-item__tutorial-details__format">
    <img src="/images/{{formatImageName}}-icone.png" alt="{{tutorial.format}}">
  </div>
  <div class="tutorial-item__tutorial-details__informations">
    {{displayedDuration}} | par {{tutorial.source}}
  </div>
</div>
<hr/>