{{#if _user}}
  <div class="logged-user-name" aria-haspopup="true"
       aria-expanded="{{_canDisplayMenu}}">
    <a href="#" class="logged-user-name__link" {{action 'toggleUserMenu'}}>
      {{concat  _user.firstName ' '  _user.lastName}}
      <span class="caret"></span>
    </a>
  </div>

  {{#if _canDisplayMenu}}
      {{#click-outside action=(action 'closeMenu')}}
        <div class="logged-user-menu">
          <ul class="logged-user-menu__list">
            <li class="logged-user-menu__item user-menu-item">
              <div class="user-menu-item__details-firstname"> {{_user.firstName}}</div>
              <div class="user-menu-item__details-email">{{_user.email}}</div>

              {{#if canDisplayLinkToProfile}}
                <div class="user-menu-item__account-link">
                  {{#link-to 'index'}}Mon compte{{/link-to}}
                </div>
              {{/if}}

            </li>
            <li class="logged-user-menu__item user-menu__item--logout">
              {{#link-to 'logout' class="logged-user-menu__item-logout"}}se déconnecter{{/link-to}}</li>
          </ul>
        </div>
      {{/click-outside}}
  {{/if}}
{{/if}}