<section class="import-card">
  <h2 class="import-card__title">
    {{t "pages.organization-participants-import.actions.add-sco.title"}}
  </h2>

  <div class="import-card__details">
    <p class="import-card__sub-title">
      {{t "pages.organization-participants-import.actions.add-sco.details"}}
    </p>

    <ul class="import-card__list">
      <li>{{t "pages.organization-participants-import.actions.add-sco.details-add-student"}}</li>
      <li>{{t "pages.organization-participants-import.actions.add-sco.details-update-student"}}</li>
      <li>{{t "pages.organization-participants-import.actions.add-sco.details-disable-student"}}</li>
    </ul>
  </div>

  <div class="import-card__footer">
    <UploadButton
      @id="students-file-upload"
      @size="small"
      @disabled={{@disabled}}
      @onChange={{@onImportStudents}}
      @supportedFormats={{@supportedFormats}}
    >
      {{t "pages.organization-participants-import.actions.add-sco.label"}}
    </UploadButton>
  </div>
</section>