<ScoOrganizationParticipant::ScoLearnerFilters
  @studentsCount={{@students.meta.rowCount}}
  @onFilter={{@onFilter}}
  @searchFilter={{@searchFilter}}
  @certificabilityFilter={{@certificabilityFilter}}
  @connectionTypeFilter={{@connectionTypeFilter}}
  @divisionsFilter={{@divisionsFilter}}
  @onResetFilter={{@onResetFilter}}
  @divisionsOptions={{this.divisions}}
  @isLoadingDivisions={{this.isLoadingDivisions}}
  @connectionTypesOptions={{this.connectionTypesOptions}}
/>

<div class="panel">
  <table class="table content-text content-text--small">
    <caption class="screen-reader-only">{{t "pages.sco-organization-participants.table.description"}}</caption>
    <thead id={{this.headerId}} />

    <tbody>
      <SelectableList @items={{@students}}>
        <:manager as |allSelected someSelected toggleAll selectedStudents reset|>
          <InElement @destinationId={{this.headerId}}>
            <ScoOrganizationParticipant::TableHeaders
              @showCheckbox={{this.showCheckbox}}
              @lastnameSort={{@lastnameSort}}
              @onSortByLastname={{@sortByLastname}}
              @participationCountOrder={{@participationCountOrder}}
              @onSortByParticipationCount={{@sortByParticipationCount}}
              @divisionSort={{@divisionSort}}
              @onSortByDivision={{@sortByDivision}}
              @allSelected={{allSelected}}
              @someSelected={{someSelected}}
              @onToggleAll={{toggleAll}}
              @hasStudents={{this.hasStudents}}
              @hasComputeOrganizationLearnerCertificabilityEnabled={{@hasComputeOrganizationLearnerCertificabilityEnabled}}
            />
          </InElement>
          <InElement @destinationId={{this.paginationControlId}} @waitForElement={{true}}>
            <Table::PaginationControl @pagination={{@students.meta}} @onChange={{reset}} />
          </InElement>
          {{#if someSelected}}
            <InElement @destinationId={{this.actionBarId}}>
              <ScoOrganizationParticipant::ActionBar
                @count={{selectedStudents.length}}
                @openResetPasswordModal={{(fn this.openResetPasswordModal selectedStudents)}}
              />
              <ScoOrganizationParticipant::ResetPasswordModal
                @showModal={{this.showResetPasswordModal}}
                @totalSelectedStudents={{selectedStudents.length}}
                @totalAffectedStudents={{this.affectedStudents.length}}
                @onTriggerAction={{(fn this.resetPasswordForStudents this.affectedStudents reset)}}
                @onCloseModal={{this.closeResetPasswordModal}}
              />
            </InElement>
          {{/if}}
        </:manager>
        <:item as |student toggleStudent isStudentSelected index|>
          <ScoOrganizationParticipant::TableRow
            @showCheckbox={{this.showCheckbox}}
            @index={{index}}
            @student={{student}}
            @isStudentSelected={{isStudentSelected}}
            @openAuthenticationMethodModal={{this.openAuthenticationMethodModal}}
            @onToggleStudent={{(fn this.addStopPropagationOnFunction toggleStudent)}}
            @onClickLearner={{(fn @onClickLearner student.id)}}
            @hideCertifiableDate={{@hasComputeOrganizationLearnerCertificabilityEnabled}}
          />
        </:item>
      </SelectableList>
    </tbody>
  </table>
  {{#if (eq @students.meta.participantCount 0)}}
    <Ui::EmptyState
      @infoText={{t "pages.sco-organization-participants.no-participants"}}
      @actionText={{t "pages.sco-organization-participants.no-participants-action"}}
    />
  {{else if (not @students)}}
    <div class="table__empty content-text">
      {{t "pages.sco-organization-participants.table.empty"}}
    </div>
  {{/if}}
</div>
<div id={{this.actionBarId}} />
<div id={{this.paginationControlId}} />

<ScoOrganizationParticipant::ManageAuthenticationMethodModal
  @organizationId={{this.currentUser.organization.id}}
  @student={{this.student}}
  @display={{this.isShowingAuthenticationMethodModal}}
  @onClose={{this.closeAuthenticationMethodModal}}
/>