<PixModal
  @title="{{t 'pages.sco-organization-participants.manage-authentication-method-modal.title'}}"
  @showModal={{@display}}
  @onCloseButtonClick={{this.closeModal}}
>
  <:content>
    <form class="manage-authentication-window">
      <h2 class="manage-authentication-window__title">
        <FaIcon @icon="link" />
        {{t "pages.sco-organization-participants.manage-authentication-method-modal.authentication-methods"}}
      </h2>

      <div>
        {{#if @student.isAuthenticatedFromGar}}
          <div class="manage-authentication-window__box">
            <div class="manage-authentication-window__subTitle manage-authentication-window__subTitle--mediacentre">
              <span>
                {{t "pages.sco-organization-participants.manage-authentication-method-modal.section.mediacentre.label"}}
              </span>
              <FaIcon @icon="circle-check" @prefix="far" class="green-icon" />
            </div>
          </div>
        {{/if}}

        {{#if @student.hasEmail}}
          <div class="manage-authentication-window__box">
            <div class="manage-authentication-window__subTitle">
              <span>
                {{t "pages.sco-organization-participants.manage-authentication-method-modal.section.email.label"}}
              </span>
              <FaIcon @icon="circle-check" @prefix="far" class="green-icon" />
            </div>
            <div class="input-container">
              <div class="manage-authentication-window__clipboard">
                <Input
                  id="email"
                  name="email"
                  @type="text"
                  class="input disabled"
                  @value={{@student.email}}
                  disabled={{true}}
                />
                {{#if (is-clipboard-supported)}}
                  <PixTooltip
                    @id="copy-email-tooltip"
                    @position="top"
                    @isInline={{true}}
                    class="manage-authentication-window__tooltip"
                  >
                    <:triggerElement>
                      <CopyButton
                        @text={{@student.email}}
                        @onSuccess={{this.clipboardSuccessEmail}}
                        {{on "mouseout" this.clipboardOutEmail}}
                        aria-label="{{t
                          'pages.sco-organization-participants.manage-authentication-method-modal.section.email.copy'
                        }}"
                        aria-describedby="copy-email-tooltip"
                        class="pix-icon-button pix-icon-button--small pix-icon-button--dark-grey manage-authentication-window__clipboard-button"
                      >
                        <FaIcon @icon="copy" @prefix="far" />
                      </CopyButton>
                    </:triggerElement>
                    <:tooltip>
                      {{this.tooltipTextEmail}}
                    </:tooltip>
                  </PixTooltip>
                {{/if}}
              </div>
            </div>
          </div>
        {{/if}}

        <div class="manage-authentication-window__box">
          {{#if @student.displayAddUsernameAuthentication}}
            <div class="manage-authentication-window__subTitle">
              <span>
                {{t
                  "pages.sco-organization-participants.manage-authentication-method-modal.section.add-username.label"
                }}
              </span>
              <FaIcon @icon="circle-check" @prefix="far" class="grey-icon" />
            </div>
            <PixButton @triggerAction={{this.generateUsernameWithTemporaryPassword}}>
              {{t "pages.sco-organization-participants.manage-authentication-method-modal.section.add-username.button"}}
            </PixButton>
          {{else}}
            {{#if @student.hasUsername}}
              <div class="manage-authentication-window__subTitle">
                <span>
                  {{t "pages.sco-organization-participants.manage-authentication-method-modal.section.username.label"}}
                </span>
                <FaIcon @icon="circle-check" @prefix="far" class="green-icon" />
              </div>
              <div class="input-container">
                <div class="manage-authentication-window__clipboard">
                  <Input
                    id="username"
                    name="username"
                    @type="text"
                    class="input disabled"
                    @value={{@student.username}}
                    disabled={{true}}
                  />
                  {{#if (is-clipboard-supported)}}
                    <PixTooltip
                      @id="copy-username-tooltip"
                      @position="top"
                      @isInline={{true}}
                      class="manage-authentication-window__tooltip"
                    >
                      <:triggerElement>
                        <CopyButton
                          @text={{@student.username}}
                          @onSuccess={{this.clipboardSuccessUsername}}
                          {{on "mouseout" this.clipboardOutUsername}}
                          aria-label={{t
                            "pages.sco-organization-participants.manage-authentication-method-modal.section.username.copy"
                          }}
                          aria-describedby="copy-username-tooltip"
                          class="pix-icon-button pix-icon-button--small pix-icon-button--dark-grey manage-authentication-window__clipboard-button"
                        >
                          <FaIcon @icon="copy" @prefix="far" />
                        </CopyButton>
                      </:triggerElement>
                      <:tooltip>
                        {{this.tooltipTextUsername}}
                      </:tooltip>
                    </PixTooltip>
                  {{/if}}
                </div>
              </div>
            {{/if}}
          {{/if}}
        </div>
      </div>

      {{#unless @student.isAuthenticatedWithGarOnly}}
        <div class="manage-authentication-window__footer">
          {{#if this.isUniquePasswordVisible}}
            <div>
              <div class="input-container">
                <label for="generated-password">
                  {{t "pages.sco-organization-participants.manage-authentication-method-modal.section.password.label"}}
                </label>
                <div class="manage-authentication-window__clipboard">
                  <Input
                    id="generated-password"
                    @type="text"
                    name="generated-password"
                    class="input"
                    @value={{this.generatedPassword}}
                    disabled={{true}}
                  />
                  {{#if (is-clipboard-supported)}}
                    <PixTooltip
                      @id="copy-password-tooltip"
                      @position="top"
                      @isInline={{true}}
                      class="manage-authentication-window__tooltip"
                    >
                      <:triggerElement>
                        <CopyButton
                          @text={{this.generatedPassword}}
                          @onSuccess={{this.clipboardSuccessGeneratedPassword}}
                          {{on "mouseout" this.clipboardOutGeneratedPassword}}
                          aria-label={{t
                            "pages.sco-organization-participants.manage-authentication-method-modal.section.password.copy"
                          }}
                          aria-describedby="copy-password-tooltip"
                          class="pix-icon-button pix-icon-button--small pix-icon-button--dark-grey manage-authentication-window__clipboard-button"
                        >
                          <FaIcon @icon="copy" @prefix="far" class="fa-inverse" />
                        </CopyButton>
                      </:triggerElement>
                      <:tooltip>
                        {{this.tooltipTextGeneratedPassword}}
                      </:tooltip>
                    </PixTooltip>
                  {{/if}}
                </div>
              </div>

              <ol class="manage-authentication-window__informations">
                <li>
                  {{t
                    "pages.sco-organization-participants.manage-authentication-method-modal.section.password.warning-1"
                  }}
                </li>
                <li>
                  {{t
                    "pages.sco-organization-participants.manage-authentication-method-modal.section.password.warning-2"
                  }}
                </li>
                <li>
                  {{t
                    "pages.sco-organization-participants.manage-authentication-method-modal.section.password.warning-3"
                  }}
                </li>
              </ol>
            </div>
          {{else}}
            <div>
              <PixButton id="generate-password" @triggerAction={{this.resetPassword}}>
                {{t
                  "pages.sco-organization-participants.manage-authentication-method-modal.section.reset-password.button"
                }}
              </PixButton>

              <div class="manage-authentication-window__warning">
                <FaIcon @icon="triangle-exclamation" class="icon--warning" />
                <span>{{t
                    "pages.sco-organization-participants.manage-authentication-method-modal.section.reset-password.warning"
                  }}</span>
              </div>
            </div>
          {{/if}}
        </div>
      {{/unless}}
    </form>
  </:content>
</PixModal>