<PixModal
  @title={{t "pages.sco-organization-participants.reset-password-modal.title" htmlSafe=true}}
  @showModal={{@showModal}}
  @onCloseButtonClick={{@onCloseModal}}
>
  <:content>
    <section class="reset-password-modal__content">
      <PixMessage @type="warning" @withIcon={{true}}>{{t
          "pages.sco-organization-participants.reset-password-modal.warning-message"
        }}</PixMessage>
      <p>{{t
          "pages.sco-organization-participants.reset-password-modal.content-message-1"
          totalSelectedStudents=@totalSelectedStudents
          totalAffectedStudents=@totalAffectedStudents
          htmlSafe=true
        }}</p>
      {{#if this.canResetSomePasswords}}
        <p>{{t "pages.sco-organization-participants.reset-password-modal.content-message-2"}}</p>
        <p>{{t "pages.sco-organization-participants.reset-password-modal.content-message-3"}}</p>
      {{/if}}
    </section>
  </:content>
  <:footer>
    <PixButton @backgroundColor="transparent-light" @isBorderVisible={{true}} @triggerAction={{@onCloseModal}}>
      {{t "common.actions.cancel"}}
    </PixButton>
    <PixButton @triggerAction={{@onTriggerAction}} @isDisabled={{not this.canResetSomePasswords}}>
      {{t "common.actions.confirm"}}
    </PixButton>
  </:footer>
</PixModal>