<tr
  aria-label={{t "pages.sco-organization-participants.table.row-title"}}
  {{on "click" @onClickLearner}}
  class="tr--clickable"
>
  {{#if @showCheckbox}}
    <td class="table__column" {{on "click" @onToggleStudent}}>
      <PixCheckbox @screenReaderOnly={{true}} @checked={{@isStudentSelected}}>
        {{t
          "pages.sco-organization-participants.table.column.checkbox"
          firstname=@student.firstName
          lastname=@student.lastName
        }}
      </PixCheckbox>
    </td>
  {{/if}}
  <td class="ellipsis">
    <LinkTo @route="authenticated.sco-organization-participants.sco-organization-participant" @model={{@student.id}}>
      {{@student.lastName}}
    </LinkTo>
  </td>
  <td class="ellipsis" title={{@student.firstName}}>{{@student.firstName}}</td>
  <td>{{dayjs-format @student.birthdate "DD/MM/YYYY" allow-empty=true}}</td>
  <td class="ellipsis">{{@student.division}}</td>
  <td class="sco-organization-participant-list-page__authentication-methods">
    {{#each @student.authenticationMethods as |authenticationMethod|}}
      <p>{{t (get this.connectionTypes authenticationMethod)}}</p>
    {{/each}}
  </td>
  <td class="table__column--center">{{@student.participationCount}}</td>
  <td>
    {{#if @student.lastParticipationDate}}
      <div class="organization-participant-list-page__last-participation">
        <span>{{dayjs-format @student.lastParticipationDate "DD/MM/YYYY" allow-empty=true}}</span>
        <Ui::LastParticipationDateTooltip
          @id={{@index}}
          @campaignName={{@student.campaignName}}
          @campaignType={{@student.campaignType}}
          @participationStatus={{@student.participationStatus}}
        />
      </div>
    {{/if}}
  </td>
  <td class="table__column--center">
    <Certificability::Cell
      @hideCertifiableDate={{@hideCertifiableDate}}
      @certifiableAt={{@student.certifiableAt}}
      @isCertifiable={{@student.isCertifiable}}
    />
  </td>
  <td class="organization-participant-list-page__actions hide-on-mobile">
    {{#if @student.isAssociated}}
      <Dropdown::IconTrigger
        @icon="ellipsis-vertical"
        @dropdownButtonClass="organization-participant-list-page__dropdown-button"
        @dropdownContentClass="organization-participant-list-page__dropdown-content"
        @ariaLabel={{t "pages.sco-organization-participants.actions.show-actions"}}
      >
        <Dropdown::Item @onClick={{fn @openAuthenticationMethodModal @student}}>
          {{t "pages.sco-organization-participants.actions.manage-account"}}
        </Dropdown::Item>
      </Dropdown::IconTrigger>
    {{/if}}
  </td>
</tr>