<form class="element-qcu" {{on "submit" this.submitAnswer}}>
  <fieldset disabled={{this.disableInput}}>
    <div class="element-qcu__header">
      <div class="element-qcu-header__instruction">
        {{html-safe @qcu.instruction}}
      </div>

      <legend class="element-qcu-header__direction">
        {{t "pages.modulix.qcu.direction"}}
      </legend>
    </div>

    <div class="element-qcu__proposals">
      {{#each @qcu.proposals as |proposal|}}
        <PixRadioButton
          name={{@qcu.id}}
          @value={{proposal.id}}
          {{on "click" (fn this.radioClicked proposal.id)}}
          required
        >
          {{proposal.content}}
        </PixRadioButton>
      {{/each}}
    </div>
  </fieldset>

  {{#unless this.qcu.lastCorrection}}
    <PixButton @backgroundColor="green" @shape="rounded" @type="submit" class="element-qcu__verify_button">
      {{t "pages.modulix.buttons.activity.verify"}}
    </PixButton>
  {{/unless}}

  <div role="status" tabindex="-1">
    {{#if this.shouldDisplayFeedback}}
      <PixMessage @type={{this.feedbackType}} @withIcon={{true}} class="element-qcu__feedback">
        {{html-safe this.qcu.lastCorrection.feedback}}
      </PixMessage>
    {{/if}}
  </div>
</form>