<div class="element-qcu">
  <div class="element-qcu__header">
    <p class="element-qcu-header__instruction">
      {{html-safe @qcu.instruction}}
    </p>
    <p class="element-qcu-header__direction">
      {{t "pages.modulix.qcu.direction"}}
    </p>
  </div>
  <div class="element-qcu__proposals">
    {{#each @qcu.proposals as |proposal|}}
      <PixRadioButton
        name={{@qcu.id}}
        @value={{html-safe proposal}}
        {{on "click" (fn this.radioClicked proposal)}}
        data-value={{html-safe proposal}}
      >
        {{html-safe proposal}}
      </PixRadioButton>
    {{/each}}
  </div>
</div>