<form class="element-qcu">
  <fieldset>
    <div class="element-qcu__header">
      <legend class="element-qcu-header__direction">
        {{t "pages.modulix.qcu.direction"}}
      </legend>

      <div class="element-qcu-header__instruction">
        {{html-unsafe this.element.instruction}}
      </div>
    </div>

    <div class="element-qcu__proposals">
      {{#each this.element.proposals as |proposal|}}
        <div class="element-qcu-proposals__proposal">
          <PixRadioButton
            name={{this.element.id}}
            @value={{proposal.id}}
            @isDisabled={{this.disableInput}}
            {{on "click" (fn this.radioClicked proposal.id)}}
          >
            <:label>
              {{proposal.content}}
            </:label>
          </PixRadioButton>
        </div>
      {{/each}}
    </div>
  </fieldset>

  {{#if this.shouldDisplayRequiredMessage}}
    <div class="element-qcu__required-field-missing">
      <PixMessage role="alert" @type="error" @withIcon={{true}}>
        {{t "pages.modulix.verification-precondition-failed-alert.qcu"}}
      </PixMessage>
    </div>
  {{/if}}

  {{#unless this.correction}}
    <PixButton
      @variant="success"
      @shape="rounded"
      @type="submit"
      class="element-qcu__verify-button"
      @triggerAction={{this.submitAnswer}}
    >
      {{t "pages.modulix.buttons.activity.verify"}}
    </PixButton>
  {{/unless}}

  <div class="element-qcu__feedback" role="status" tabindex="-1">
    {{#if this.shouldDisplayFeedback}}
      <PixMessage @type={{this.feedbackType}} @withIcon={{true}} class="element-qcu-feedback__message">
        {{html-unsafe this.correction.feedback}}
      </PixMessage>
    {{/if}}
  </div>

  {{#if this.shouldDisplayRetryButton}}
    <PixButton
      class="element-qcu__retry-button"
      @variant="secondary"
      @shape="rounded"
      @size="small"
      @type="button"
      @triggerAction={{this.retry}}
      @iconAfter="rotate-right"
    >
      {{t "pages.modulix.buttons.activity.retry"}}
    </PixButton>
  {{/if}}
</form>