<form class="element-qcu">
  <fieldset>
    <div class="element-qcu__header">
      <div class="element-qcu-header__instruction">
        {{html-safe @qcu.instruction}}
      </div>

      <legend class="element-qcu-header__direction">
        {{t "pages.modulix.qcu.direction"}}
      </legend>
    </div>

    <div class="element-qcu__proposals">
      {{#each @qcu.proposals as |proposal|}}
        <PixRadioButton name={{@qcu.id}} @value={{proposal.id}} {{on "click" (fn this.radioClicked proposal.id)}}>
          {{proposal.content}}
        </PixRadioButton>
      {{/each}}
    </div>
  </fieldset>
</form>