<h2 class="user-account__validation-title">{{t "pages.user-account.account-update-email-with-validation.title"}}</h2>
<form onSubmit={{this.onSubmit}}>
  <div class="update-email-with-validation__email-input">
    <PixInput
      @id="newEmail"
      @label={{t "pages.user-account.account-update-email-with-validation.fields.new-email.label"}}
      @errorMessage={{this.newEmailValidationMessage}}
      @value={{this.newEmail}}
      type="email"
      {{on "focusout" this.validateNewEmail}}
      autocomplete="off"
      required
    />
  </div>
  <div class="update-email-with-validation__informations">
    <p>{{t "pages.user-account.account-update-email-with-validation.fields.password.security-information"}}</p>
  </div>
  <div class="update-email-with-validation__password-input">
    <PixInputPassword
      @id="update-email-with-validation__password"
      @label={{t "pages.user-account.account-update-email-with-validation.fields.password.label"}}
      @value={{this.password}}
      autocomplete="off"
      required
    />
  </div>
  {{#if this.errorMessage}}
    <PixMessage @type="error" class="user-account__error-message">
      {{this.errorMessage}}
    </PixMessage>
  {{/if}}
  <div class="update-email-with-validation__action-buttons">
    <PixButton
      @isBorderVisible={{true}}
      @triggerAction={{@disableEmailEditionMode}}
      @backgroundColor="transparent-light"
    >
      {{t "common.actions.cancel"}}
    </PixButton>
    <PixButton
      class="update-email-with-validation-actions__confirm-button"
      @type="submit"
      @isDisabled={{this.hasRequestedUpdate}}
    >
      {{t "pages.user-account.account-update-email-with-validation.save-button"}}
    </PixButton>
  </div>
</form>