<div class="update-email-with-validation">
  {{#if this.showEmailForm}}
    <UserAccount::EmailWithValidationForm
      @disableEmailEditionMode={{@disableEmailEditionMode}}
      @showVerificationCode={{this.showVerificationCode}}
    />
  {{else}}
    <UserAccount::EmailVerificationCode
      @disableEmailEditionMode={{@disableEmailEditionMode}}
      @email={{this.newEmail}}
      @password={{this.password}}
    />
  {{/if}}
</div>