<div class="session-list__item session-item white-panel">
  <div class="session-field"> {{session.id}} </div>
  <div class="session-field"> {{session.certificationCenter}} </div>
  <div class="session-field"> {{session.room}} </div>
  <div class="session-field"> {{session.date}} </div>
  <div class="session-field"> {{session.time}} </div>
  <div class="session-field"> {{session.accessCode}} </div>
</div>
