<Modal::Dialog
  class="dissociate-user-modal"
  @title="Dissocier le compte Pix de l'élève"
  @display={{@display}}
  @close={{@onClose}}
>
  <Modal::Body class="dissociate-user-modal__content">
    <p class="content-text">
      Souhaitez-vous dissocier le compte Pix de l'élève
      <span class="content-text--bold">{{@student.firstName}} {{@student.lastName}} ?</span>
    </p>
    <p class="content-text content-text--info">
      L’élève pourra s’associer à nouveau avec une autre méthode d’authentification lors d’une prochaine campagne.
      <br />
      <br />
      Si l'élève a déjà participé à des campagnes, ses participations et les résultats envoyés seront conservés.
    </p>
  </Modal::Body>
  <Modal::Footer class="dissociate-user-modal__actions">
    <PixButton @triggerAction={{@onClose}} @backgroundColor="transparent-light">Annuler</PixButton>
    <PixButton @triggerAction={{this.dissociateUser}}>Oui, dissocier le compte</PixButton>
  </Modal::Footer>
</Modal::Dialog>