<div class="list-students-page__header">
  <h1 class="page__title page-title">{{t "pages.students-sco.title"}}</h1>
  {{#if this.currentUser.isAdminInOrganization}}
    <div class="list-students-page__import-students-button hide-on-mobile">
      <FileUpload @name="file-upload" @for="students-file-upload" @accept={{this.acceptedFileType}} @multiple={{false}} @onfileadd={{@onImportStudents}}>
        <span class="button" role="button" tabindex="0">
          {{this.importButtonLabel}}
        </span>
      </FileUpload>
    </div>
  {{/if}}
</div>
