<div class="panel panel-actions">
  <div class="content-text context-text--small">
    <div class="panel-actions__header">
      <div class="panel-actions__header-icon">
        {{fa-icon "info"}}
      </div>
      <div class="panel-actions__header-title">Ajouter des candidats</div>
    </div>
    <div class="panel-actions__action-row">
      <div class="panel-actions__action-icon">
        {{fa-icon "file-download"}}
      </div>
      <div class="panel-actions__description">
        <div class="panel-actions__title">Télécharger le PV de session</div>
        <div class="panel-actions__subtitle">Renseignez les informations des candidats (Nom, Prénom, &#x2026;)
          <br> Lors du premier téléchargement, le PV de session est vide. Il contiendra ensuite les informations des candidats ajoutés à la session.
        </div>
      </div>
      <div class="panel-actions__button">
        <a data-test-id="attendance_sheet_download_button"
           class="button button--link button--with-icon"
           href="{{this.currentSession.urlToDownload}}" target="_blank" rel="noopener noreferrer" download>
            Télécharger (.ods){{fa-icon 'file-download'}}
        </a>
      </div>
    </div>
    <div class="panel-actions__action-row">
      {{#if this.importAllowed}}
        <div class="panel-actions__action-icon">
          {{fa-icon "cloud-upload-alt"}}
        </div>
        <div class="panel-actions__description">
          <div class="panel-actions__title">Importer le PV de session</div>
          <div class="panel-actions__subtitle">
            Sélectionnez le PV de session préalablement rempli.
            <br>
            <strong>
                Attention, tout nouvel import efface la liste des candidats existante.
            </strong>
          </div>
        </div>
        <div class="panel-actions__button">
          <FileUpload @name="file-upload" @for="upload-attendance-sheet" @accept=".ods" @multiple={{false}} @onfileadd={{this.importCertificationCandidates}}>
          <span data-test-id="attendance_sheet_upload_button"
                class="button button--with-icon"
                role="button"
                tabindex="0">
            Importer (.ods){{fa-icon 'cloud-upload-alt'}}
          </span>
          </FileUpload>
        </div>
      {{else}}
        <div class="panel-actions__action-icon">
          {{fa-icon 'exclamation-circle' class="panel-actions__warning-icon"}}
        </div>
        <div class="panel-actions__description">
          <strong class="panel-actions__warning">
              La session a débuté, vous ne pouvez plus importer une liste de candidats.<br>Si vous souhaitez modifier la liste, vous pouvez ajouter un candidat directement dans le tableau ci-dessous.
          </strong>
        </div>
      {{/if}}
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-header">
    <div class="panel-header__title">
      Liste des candidats ({{this.currentSession.certificationCandidates.length}})
      {{#if this.isCandidateBeingAdded}}
        <div class="panel-header__mandatory-warning">Les champs marqués de * sont obligatoires</div>
      {{/if}}
    </div>
    <div data-test-id="add-certification-candidate-staging__button" class="panel-header__action" {{on 'click' this.addCertificationCandidateInStaging}} >
      <div class="certification-candidates-add-button__text">
          Ajouter un candidat
      </div>
      <button type="button" class="button button--square button--lightgrey">
        {{fa-icon "plus" class="fa-fw certification-candidates-add-button__icon"}}
      </button>
    </div>
  </div>
  <div class="table content-text content-text--small certification-candidates-table">
    {{#if (or this.currentSession.certificationCandidates this.candidatesInStaging)}}
      <table>
        <thead>
          <tr>
            <th class="certification-candidates-table__column-name">
              {{#if this.isCandidateBeingAdded}}
                  *
              {{/if}}
                Nom de naissance
            </th>
            <th class="certification-candidates-table__column-name">
              {{#if this.isCandidateBeingAdded}}
                  *
              {{/if}}
                Prénom
            </th>
            <th>
              {{#if this.isCandidateBeingAdded}}
                  *
              {{/if}}
                Date de naissance
            </th>
            <th>
              {{#if this.isCandidateBeingAdded}}
                  *
              {{/if}}
                Commune de naissance
            </th>
            <th>
              {{#if this.isCandidateBeingAdded}}
                  *
              {{/if}}
                Département de naissance
            </th>
            <th>
              {{#if this.isCandidateBeingAdded}}
                  *
              {{/if}}
                Pays de naissance
            </th>
            <th>Adresse e-mail de convocation</th>
            <th>Identifiant externe</th>
            <th class="certification-candidates-table__column-time">Temps majoré</th>
            <th width="185"></th>
          </tr>
        </thead>
        <tbody>
          {{#each this.candidatesInStaging as |candidateInStaging|}}
            <CertificationCandidateInStagingItem
                    @candidateData={{candidateInStaging}}
                    @onClickSave={{this.addCertificationCandidate}}
                    @onClickCancel={{this.removeCertificationCandidateFromStaging}}
                    @updateCandidateBirthdate={{this.updateCertificationCandidateInStagingBirthdate}}
                    @updateCandidateData={{this.updateCertificationCandidateInStagingField}}
            />
          {{/each}}
          {{#each this.currentSession.certificationCandidates as |candidate|}}
            <tr>
              <td data-test-id='panel-candidate__lastName__{{candidate.id}}'>{{candidate.lastName}}</td>
              <td data-test-id='panel-candidate__firstName__{{candidate.id}}'>{{candidate.firstName}}</td>
              <td data-test-id='panel-candidate__birthdate__{{candidate.id}}'>{{moment-format candidate.birthdate 'DD/MM/YYYY'}}</td>
              <td data-test-id='panel-candidate__birthCity__{{candidate.id}}'>{{candidate.birthCity}}</td>
              <td data-test-id='panel-candidate__birthProvinceCode__{{candidate.id}}'>{{candidate.birthProvinceCode}}</td>
              <td data-test-id='panel-candidate__birthCountry__{{candidate.id}}'>{{candidate.birthCountry}}</td>
              <td data-test-id='panel-candidate__email__{{candidate.id}}'>{{candidate.email}}</td>
              <td data-test-id='panel-candidate__externalId__{{candidate.id}}'>{{candidate.externalId}}</td>
              <td data-test-id='panel-candidate__extraTimePercentage__{{candidate.id}}'>{{format-percentage candidate.extraTimePercentage}}</td>
              <td>
                <div class="certification-candidates-actions">
                  <div class="certification-candidates-actions__delete">
                    {{#if candidate.isLinked}}
                      <button
                          data-test-id="panel-candidate__actions__delete__{{candidate.id}}"
                          type="button"
                          class="button button--square button--lightgrey button--lightgrey--disabled certification-candidates-actions__delete__button--disabled" >
                        {{fa-icon "trash-alt" class="fa-fw"}}
                      </button>
                      <div class="certification-candidates-actions__delete__tooltip">
                        Ce candidat a déjà rejoint la session. Vous ne pouvez pas le supprimer.
                      </div>
                    {{else}}
                      <button
                          data-test-id="panel-candidate__actions__delete__{{candidate.id}}"
                          type="button"
                          class="button button--square button--lightgrey certification-candidates-actions__delete__button"
                          {{on 'click' (fn this.deleteCertificationCandidate candidate)}} >
                        {{fa-icon "trash-alt" class="fa-fw"}}
                      </button>
                    {{/if}}
                  </div>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div class="table__empty content-text">
        <p>En attente de candidats</p>
      </div>
    {{/if}}
  </div>
</div>
