<div class="panel session-details-container">
  <div class="session-details-row">
    <div class="session-details-content session-details-content--multiple session-details-content--copyable">
      <h3 class="label-text session-details-content__label">{{t "pages.sessions.detail.parameters.session.label"}}</h3>
      <div class="session-details-content__clipboard">
        <span class="content-text content-text--bold session-details-content__text">{{this.session.id}}</span>
        {{#if (is-clipboard-supported)}}
          <PixTooltip
            @id="tooltip-clipboard-button"
            class="session-details-content__clipboard-button"
            @isInline={{true}}
            @hide={{this.isSessionNumberTooltipTextEmpty}}
          >
            <:triggerElement>
              <PixIconButton
                @ariaLabel={{t "pages.sessions.detail.parameters.session.copy-number"}}
                @icon="copy"
                @triggerAction={{this.showSessionIdTooltip}}
                class="session-details-content__clipboard-button"
              />
            </:triggerElement>
            <:tooltip>{{this.sessionNumberTooltipText}}</:tooltip>
          </PixTooltip>
        {{/if}}
      </div>
    </div>

    <div class="session-details-content session-details-content--multiple session-details-content--copyable">
      <h3 class="label-text session-details-content__label">
        {{t "pages.sessions.detail.parameters.access-code.label"}}
        <div class="session-details-content__sub-label">
          {{t "pages.sessions.detail.parameters.access-code.candidate"}}
        </div>
      </h3>
      <div class="session-details-content__clipboard">
        <span class="content-text content-text--bold session-details-content__text">{{this.session.accessCode}}</span>
        {{#if (is-clipboard-supported)}}
          {{! template-lint-disable no-duplicate-id }}
          <PixTooltip
            @id="tooltip-clipboard-button"
            class="session-details-content__clipboard-button"
            @isInline={{true}}
            @hide={{this.isAccessCodeTooltipTextEmpty}}
          >
            <:triggerElement>
              <PixIconButton
                @ariaLabel={{t "pages.sessions.detail.parameters.access-code.copy-code"}}
                @icon="copy"
                @triggerAction={{this.showAccessCodeTooltip}}
              />
            </:triggerElement>
            <:tooltip>{{this.accessCodeTooltipText}}</:tooltip>
          </PixTooltip>
        {{/if}}
      </div>
    </div>

    <div class="session-details-content session-details-content--multiple session-details-content--copyable">
      <h3 class="label-text session-details-content__label">
        {{t "pages.sessions.detail.parameters.password.label"}}
        <div class="session-details-content__sub-label">
          {{t "common.sessions.invigilator"}}
        </div>
      </h3>
      <div class="session-details-content__clipboard">
        <span class="content-text content-text--bold session-details-content__text">
          C-{{this.session.supervisorPassword}}
        </span>
        {{! template-lint-disable no-duplicate-id }}
        {{#if (is-clipboard-supported)}}
          <PixTooltip
            @id="tooltip-clipboard-button"
            @isInline={{true}}
            @hide={{this.isSupervisorPasswordTooltipTextEmpty}}
            class="session-details-content__clipboard-button"
          >
            <:triggerElement>
              <PixIconButton
                @ariaLabel={{t "pages.sessions.detail.parameters.password.copy-password"}}
                @icon="copy"
                @triggerAction={{this.showSupervisorPasswordTooltip}}
              />
            </:triggerElement>
            <:tooltip>{{this.supervisorPasswordTooltipText}}</:tooltip>
          </PixTooltip>
        {{/if}}
      </div>
    </div>

    <div class="session-details-content session-details-content--multiple">
      <h3 class="label-text session-details-content__label">
        {{t "common.forms.session-labels.center-name"}}
      </h3>
      <span class="content-text session-details-content__text">{{this.session.address}}</span>
    </div>

    <div class="session-details-content session-details-content--multiple">
      <h3 class="label-text session-details-content__label">{{t "common.forms.session-labels.room"}}</h3>
      <span class="content-text session-details-content__text">{{this.session.room}}</span>
    </div>

    <div class="session-details-content session-details-content--multiple">
      <h3 class="label-text session-details-content__label">
        {{t "common.forms.session-labels.invigilator"}}
      </h3>
      <span class="content-text session-details-content__text">{{this.session.examiner}}</span>
    </div>

  </div>

  <div class="session-details-row">
    <div class="session-details-content session-details-content--single">
      <h3 class="label-text session-details-content__label">{{t "common.forms.session-labels.observations"}}</h3>
      <p class="content-text session-details-content__text">
        {{this.session.description}}
      </p>
    </div>
  </div>

  <div class="session-details-buttons">
    {{#if this.sessionHasStarted}}
      <PixButtonLink @route="authenticated.sessions.update" @model={{this.session.id}}>
        {{t "common.actions.update"}}
      </PixButtonLink>
      {{#if this.sessionManagement.isFinalized}}
        <p class="session-details-row__session-finalized-warning">
          {{t "pages.sessions.detail.parameters.finalization-info"}}
        </p>
      {{else}}
        <PixButtonLink @route="authenticated.sessions.finalize" @model={{this.session.id}} class="push-right">
          {{t "pages.sessions.detail.parameters.actions.finalizing"}}
        </PixButtonLink>
      {{/if}}
    {{else}}
      <PixButtonLink
        @route="authenticated.sessions.update"
        @model={{this.session.id}}
        aria-label={{t "pages.sessions.detail.parameters.actions.update" sessionId=this.session.id}}
      >
        {{t "common.actions.update"}}
      </PixButtonLink>
    {{/if}}
  </div>

</div>