<div class="panel session-details-container">
  <div class="session-details-row">
    <div class="session-details-content session-details-content--multiple session-details-content--copyable">
      <h3 class="label-text session-details-content__label">{{t "pages.sessions.detail.parameters.session.label"}}</h3>
      <div class="session-details-content__clipboard" {{on "mouseout" this.removeSessionNumberTooltip}}>
        <span class="content-text content-text--bold session-details-content__text">{{this.session.id}}</span>
        {{#if (is-clipboard-supported)}}
          <PixTooltip @id="tooltip-clipboard-button" @isInline={{true}} @hide={{this.isSessionNumberTooltipTextEmpty}}>
            <:triggerElement>
              <CopyButton
                @text={{this.session.id}}
                @onSuccess={{this.showSessionIdTooltip}}
                class="icon-button session-details-content__clipboard-button"
                aria-label={{t "pages.sessions.detail.parameters.session.copy-number"}}
              >
                <FaIcon @icon="copy" prefix="fas" />
              </CopyButton>
            </:triggerElement>
            <:tooltip>{{this.sessionNumberTooltipText}}</:tooltip>
          </PixTooltip>
        {{/if}}
      </div>
    </div>

    <div class="session-details-content session-details-content--multiple session-details-content--copyable">
      <h3 class="label-text session-details-content__label">
        {{t "pages.sessions.detail.parameters.access-code.label"}}
        <div class="session-details-content__sub-label">
          {{t "pages.sessions.detail.parameters.access-code.candidate"}}
        </div>
      </h3>
      <div class="session-details-content__clipboard" {{on "mouseout" this.removeAccessCodeTooltip}}>
        <span class="content-text content-text--bold session-details-content__text">{{this.session.accessCode}}</span>
        {{#if (is-clipboard-supported)}}
          {{! template-lint-disable no-duplicate-id }}
          <PixTooltip @id="tooltip-clipboard-button" @isInline={{true}} @hide={{this.isAccessCodeTooltipTextEmpty}}>
            <:triggerElement>
              <CopyButton
                @text={{this.session.accessCode}}
                @onSuccess={{this.showAccessCodeTooltip}}
                class="icon-button session-details-content__clipboard-button"
                aria-label={{t "pages.sessions.detail.parameters.access-code.copy-code"}}
              >
                <FaIcon @icon="copy" prefix="fas" />
              </CopyButton>
            </:triggerElement>
            <:tooltip>{{this.accessCodeTooltipText}}</:tooltip>
          </PixTooltip>
        {{/if}}
      </div>
    </div>

    <div class="session-details-content session-details-content--multiple session-details-content--copyable">
      <h3 class="label-text session-details-content__label">
        {{t "pages.sessions.detail.parameters.password.label"}}
        <div class="session-details-content__sub-label">
          {{t "common.sessions.invigilator"}}
        </div>
      </h3>
      <div class="session-details-content__clipboard" {{on "mouseout" this.removeSupervisorPasswordTooltip}}>
        <span class="content-text content-text--bold session-details-content__text">
          C-{{this.session.supervisorPassword}}
        </span>
        {{! template-lint-disable no-duplicate-id }}
        {{#if (is-clipboard-supported)}}
          <PixTooltip
            @id="tooltip-clipboard-button"
            @isInline={{true}}
            @hide={{this.isSupervisorPasswordTooltipTextEmpty}}
          >
            <:triggerElement>
              <CopyButton
                @text={{this.session.supervisorPassword}}
                @onSuccess={{this.showSupervisorPasswordTooltip}}
                class="icon-button session-details-content__clipboard-button"
                aria-label={{t "pages.sessions.detail.parameters.password.copy-password"}}
              >
                <FaIcon @icon="copy" prefix="fas" />
              </CopyButton>
            </:triggerElement>
            <:tooltip>{{this.supervisorPasswordTooltipText}}</:tooltip>
          </PixTooltip>
        {{/if}}
      </div>
    </div>

    <div class="session-details-content session-details-content--multiple">
      <h3 class="label-text session-details-content__label">
        {{t "common.forms.session-labels.center-name"}}
      </h3>
      <span class="content-text session-details-content__text">{{this.session.address}}</span>
    </div>

    <div class="session-details-content session-details-content--multiple">
      <h3 class="label-text session-details-content__label">{{t "common.forms.session-labels.room"}}</h3>
      <span class="content-text session-details-content__text">{{this.session.room}}</span>
    </div>

    <div class="session-details-content session-details-content--multiple">
      <h3 class="label-text session-details-content__label">
        {{t "common.forms.session-labels.invigilator"}}
      </h3>
      <span class="content-text session-details-content__text">{{this.session.examiner}}</span>
    </div>

  </div>

  <div class="session-details-row">
    <div class="session-details-content session-details-content--single">
      <h3 class="label-text session-details-content__label">{{t "common.forms.session-labels.observations"}}</h3>
      <p class="content-text session-details-content__text">
        {{this.session.description}}
      </p>
    </div>
  </div>

  <div class="session-details-buttons">
    {{#if this.sessionHasStarted}}
      <PixButtonLink @route="authenticated.sessions.update" @model={{this.session.id}} @backgroundColor="grey">
        {{t "common.actions.update"}}
      </PixButtonLink>
      {{#if this.session.isFinalized}}
        <p class="session-details-row__session-finalized-warning">
          {{t "pages.sessions.detail.parameters.finalization-info"}}
        </p>
      {{else}}
        <PixButtonLink @route="authenticated.sessions.finalize" @model={{this.session.id}} class="push-right">
          {{t "pages.sessions.detail.parameters.actions.finalizing"}}
        </PixButtonLink>
      {{/if}}
    {{else}}
      <PixButtonLink
        @route="authenticated.sessions.update"
        @model={{this.session.id}}
        aria-label={{t "pages.sessions.detail.parameters.actions.update" sessionId=this.session.id}}
      >
        {{t "common.actions.update"}}
      </PixButtonLink>
    {{/if}}
  </div>

</div>