<div class="panel panel--strong-shadow session-details-container">
  <div class="session-details-row">
    <div class="session-details-content session-details-content--multiple">
      <h4 class="label-text session-details-content__label">ID session</h4>
      <span class="content-text session-details-content__text">{{this.session.id}}</span>
    </div>

    <div class="session-details-content session-details-content--multiple">
      <h4 class="label-text session-details-content__label">Nom du site</h4>
      <span class="content-text session-details-content__text">{{this.session.address}}</span>
    </div>

    <div class="session-details-content session-details-content--multiple">
      <h4 class="label-text session-details-content__label">Salle</h4>
      <span class="content-text session-details-content__text">{{this.session.room}}</span>
    </div>

    <div class="session-details-content session-details-content--multiple">
      <h4 class="label-text session-details-content__label">Surveillant(s)</h4>
      <span class="content-text session-details-content__text">{{this.session.examiner}}</span>
    </div>

    <div class="session-details-content session-details-content--multiple">
      <h4 class="label-text session-details-content__label">Code d'accès</h4>
      <div class="session-details-content__clipboard">
        <span class="content-text content-text--bold session-details-content__text">{{this.session.accessCode}}</span>

        {{#if (is-clipboard-supported)}}
            <div class="tooltip">
                <span class="tooltip__text tooltip-text session-details-content__tooltip-text">{{this.tooltipText}}</span>
                <CopyButton @clipboardText={{this.session.accessCode}} @success={{this.clipboardSuccess}} @mouseLeave={{this.clipboardOut}} @classNames="icon-button session-details-content__clipboard-button">
                  {{fa-icon 'copy' prefix='far'}}
                </CopyButton>
            </div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="session-details-row">
    <div class="session-details-content session-details-content--single">
      <h4 class="label-text session-details-content__label">Observations</h4>
      <p class="content-text session-details-content__text">
        {{this.session.description}}
      </p>
    </div>
  </div>

  <div class="session-details-row">
    {{#if (and this.isSessionFinalizationActive this.session.hasStarted) }}
      <div class="session-details-buttons">
        <LinkTo @route="authenticated.sessions.update" @model={{this.session.id}} class="button button--regular button--grey button--link session-details-content__update-button">
            Modifier
        </LinkTo>
      </div>
      <div class="session-details-buttons session-details-buttons--push-right {{if this.session.hasBeenFinalized "button--disabled"}}">
        <LinkTo @route="authenticated.sessions.finalize" @model={{this.session.id}} class="button button--regular button--link session-details-content__finalize-button push-right">
            Finaliser la session
        </LinkTo>
      </div>
    {{else}}
      <div class="session-details-buttons">
        <LinkTo @route="authenticated.sessions.update" @model={{this.session.id}} class="button button--regular button--link session-details-content__update-button">
            Modifier
        </LinkTo>
      </div>
    {{/if}}
  </div>

</div>
