{{page-title @module.title}}
<Module::BetaBanner />

<main class="module-passage">
  <div class="module-passage__title">
    <h1>{{@module.title}}</h1>
  </div>

  <div
    class="module-passage__content"
    aria-live="assertive"
    {{did-insert this.modulixAutoScroll.setHTMLElementScrollOffsetCssProperty}}
  >
    {{#each this.grainsToDisplay as |grain index|}}
      <Module::Grain
        @grain={{grain}}
        @onElementRetry={{this.onElementRetry}}
        @passage={{@passage}}
        @transition={{this.grainTransition grain.id}}
        @onImageAlternativeTextOpen={{this.onImageAlternativeTextOpen}}
        @onVideoTranscriptionOpen={{this.onVideoTranscriptionOpen}}
        @onElementAnswer={{this.onElementAnswer}}
        @onStepperNextStep={{this.onStepperNextStep}}
        @canMoveToNextGrain={{this.grainCanMoveToNextGrain index}}
        @onGrainContinue={{this.onGrainContinue}}
        @onGrainSkip={{this.onGrainSkip}}
        @shouldDisplayTerminateButton={{this.grainShouldDisplayTerminateButton index}}
        @onModuleTerminate={{this.onModuleTerminate}}
        @hasJustAppeared={{this.hasGrainJustAppeared index}}
        @onVideoPlay={{this.onVideoPlay}}
        @onFileDownload={{this.onFileDownload}}
      />
    {{/each}}
  </div>
</main>