{{page-title @module.title}}
<Module::BetaBanner />

<main class="module-passage">
  <div class="module-passage__title">
    <h1>{{@module.title}}</h1>
  </div>

  <div
    class="module-passage__content"
    aria-live="assertive"
    {{did-insert this.modulixAutoScroll.setHTMLElementScrollOffsetCssProperty}}
  >
    {{#each this.grainsToDisplay as |grain index|}}
      <Module::Grain
        @grain={{grain}}
        @retryElement={{this.trackRetry}}
        @passage={{@passage}}
        @transition={{this.grainTransition grain.id}}
        @openImageAlternativeText={{this.openImageAlternativeText}}
        @submitAnswer={{this.submitAnswer}}
        @continueToNextStep={{this.continueToNextStep}}
        @canMoveToNextGrain={{this.grainCanMoveToNextGrain index}}
        @continueAction={{this.continueToNextGrain}}
        @skipAction={{this.skipToNextGrain}}
        @shouldDisplayTerminateButton={{this.grainShouldDisplayTerminateButton index}}
        @terminateAction={{this.terminateModule}}
        @hasJustAppeared={{this.hasGrainJustAppeared index}}
      />
    {{/each}}
  </div>
</main>