<SupOrganizationParticipant::SupLearnerFilters
  @studentsCount={{@students.meta.rowCount}}
  @onFilter={{@onFilter}}
  @searchFilter={{@searchFilter}}
  @studentNumberFilter={{@studentNumberFilter}}
  @certificabilityFilter={{@certificabilityFilter}}
  @groupsFilter={{@groupsFilter}}
  @onResetFilter={{@onResetFilter}}
  @groupsOptions={{this.groups}}
  @isLoadingGroups={{this.isLoadingGroups}}
/>

<div class="panel">
  <table class="table content-text content-text--small">
    <caption class="screen-reader-only">{{t "pages.sup-organization-participants.table.description"}}</caption>
    <thead>
      <SupOrganizationParticipant::TableHeaders
        @lastnameSort={{@lastnameSort}}
        @sortByLastname={{@sortByLastname}}
        @participationCountOrder={{@participationCountOrder}}
        @sortByParticipationCount={{@sortByParticipationCount}}
      />
    </thead>

    {{#if @students}}
      <tbody>
        {{#each @students as |student index|}}
          <tr
            aria-label={{t "pages.sup-organization-participants.table.row-title"}}
            {{on "click" (fn @onClickLearner student.id)}}
            class="tr--clickable"
          >
            <td class="ellipsis">{{student.studentNumber}}</td>
            <td class="ellipsis">
              <LinkTo
                @route="authenticated.sup-organization-participants.sup-organization-participant"
                @model={{student.id}}
              >
                {{student.lastName}}
              </LinkTo>
            </td>
            <td class="ellipsis">{{student.firstName}}</td>
            <td>{{dayjs-format student.birthdate "DD/MM/YYYY"}}</td>
            <td class="ellipsis">{{student.group}}</td>
            <td class="table__column--center">{{student.participationCount}}</td>
            <td>
              {{#if student.lastParticipationDate}}
                <div class="organization-participant-list-page__last-participation">
                  <span>{{dayjs-format student.lastParticipationDate "DD/MM/YYYY" allow-empty=true}}</span>
                  <Ui::LastParticipationDateTooltip
                    @id={{index}}
                    @campaignName={{student.campaignName}}
                    @campaignType={{student.campaignType}}
                    @participationStatus={{student.participationStatus}}
                  />
                </div>
              {{/if}}
            </td>
            <td class="table__column--center">
              <Ui::IsCertifiable @isCertifiable={{student.isCertifiable}} />
              {{#if student.certifiableAt}}
                <span class="organization-participant-list-page__certifiable-at">{{dayjs-format
                    student.certifiableAt
                    "DD/MM/YYYY"
                    allow-empty=true
                  }}</span>
              {{/if}}
            </td>
            <td class="organization-participant-list-page__actions hide-on-mobile">
              {{#if this.currentUser.isAdminInOrganization}}
                <Dropdown::IconTrigger
                  @icon="ellipsis-vertical"
                  @dropdownButtonClass="organization-participant-list-page__dropdown-button"
                  @dropdownContentClass="organization-participant-list-page__dropdown-content"
                  @ariaLabel={{t "pages.sup-organization-participants.actions.show-actions"}}
                >
                  <Dropdown::Item @onClick={{fn this.openEditStudentNumberModal student}}>
                    {{t "pages.sup-organization-participants.actions.edit-student-number"}}
                  </Dropdown::Item>
                </Dropdown::IconTrigger>
              {{/if}}
            </td>
          </tr>
        {{/each}}

      </tbody>
    {{/if}}
  </table>

  {{#if (eq @students.meta.participantCount 0)}}
    <Ui::EmptyState
      @infoText={{t "pages.sup-organization-participants.empty-state.no-participants"}}
      @actionText={{t "pages.sup-organization-participants.empty-state.no-participants-action"}}
    />
  {{else if (not @students)}}
    <div class="table__empty content-text">
      {{t "pages.sup-organization-participants.table.empty"}}
    </div>
  {{/if}}
</div>

<SupOrganizationParticipant::Modal::EditStudentNumberModal
  @student={{this.selectedStudent}}
  @display={{this.isShowingEditStudentNumberModal}}
  @onClose={{this.closeEditStudentNumberModal}}
  @onSubmit={{this.onSaveStudentNumber}}
/>

<Table::PaginationControl @pagination={{@students.meta}} />