<SupOrganizationParticipant::SupLearnerFilters
  @studentsCount={{@students.meta.rowCount}}
  @onFilter={{@onFilter}}
  @searchFilter={{@searchFilter}}
  @studentNumberFilter={{@studentNumberFilter}}
  @certificabilityFilter={{@certificabilityFilter}}
  @groupsFilter={{@groupsFilter}}
  @onResetFilter={{@onResetFilter}}
  @groupsOptions={{this.groups}}
  @isLoadingGroups={{this.isLoadingGroups}}
/>

<div class="panel">
  <table class="table content-text content-text--small">
    <caption class="screen-reader-only">{{t "pages.sup-organization-participants.table.description"}}</caption>
    <thead>
      <SupOrganizationParticipant::TableHeaders
        @showCheckbox={{this.showCheckbox}}
        @lastnameSort={{@lastnameSort}}
        @sortByLastname={{@sortByLastname}}
        @participationCountOrder={{@participationCountOrder}}
        @sortByParticipationCount={{@sortByParticipationCount}}
        @onToggleAll={{this.onToggleAll}}
      />
    </thead>

    {{#if @students}}
      <tbody>
        {{#each @students as |student index|}}
          <SupOrganizationParticipant::TableRow
            @index={{index}}
            @student={{student}}
            @onClickLearner={{@onClickLearner}}
            @openEditStudentNumberModal={{this.openEditStudentNumberModal}}
            @isAdminInOrganization={{this.currentUser.isAdminInOrganization}}
          />
        {{/each}}
      </tbody>
    {{/if}}
  </table>

  {{#if (eq @students.meta.participantCount 0)}}
    <Ui::EmptyState
      @infoText={{t "pages.sup-organization-participants.empty-state.no-participants"}}
      @actionText={{t "pages.sup-organization-participants.empty-state.no-participants-action"}}
    />
  {{else if (not @students)}}
    <div class="table__empty content-text">
      {{t "pages.sup-organization-participants.table.empty"}}
    </div>
  {{/if}}
</div>

<SupOrganizationParticipant::Modal::EditStudentNumberModal
  @student={{this.selectedStudent}}
  @display={{this.isShowingEditStudentNumberModal}}
  @onClose={{this.closeEditStudentNumberModal}}
  @onSubmit={{this.onSaveStudentNumber}}
/>

<Table::PaginationControl @pagination={{@students.meta}} />