<Table::Header @size={{@size}} @align={{@align}} aria-sort={{this.order}} ...attributes>
  <span class="table__column--sort">
    {{yield}}
    {{#unless @isDisabled}}
      <PixIconButton
        @icon={{this.icon}}
        @triggerAction={{this.toggleSort}}
        @withBackground={{false}}
        @size="small"
        @color="dark-grey"
        aria-label={{this.ariaLabel}}
      />
    {{/unless}}
  </span>
</Table::Header>