<Table::Header @size={{@size}} @align={{@align}} aria-sort={{this.order}} ...attributes>
  <span class={{unless @isDisabled "table__column--clickable"}} role={{unless @isDisabled "button"}} {{on "click" this.toggleSort}}>
    {{yield}}
    {{#unless @isDisabled}}
      <span class="icon-button column__icon">
        {{#if (eq this.order "asc")}}
          <FaIcon @icon="arrow-up" />
        {{else}}
          <FaIcon @icon="arrow-down" />
        {{/if}}
      </span>
    {{/unless}}
  </span>
</Table::Header>
