<Table::Header id="filters">{{t "pages.campaigns-list.table.filter.title"}}</Table::Header>
<Table::HeaderFilterInput
  @headers="filters"
  @field="name"
  @value={{@nameFilter}}
  @placeholder={{t "pages.campaigns-list.table.filter.by-name"}}
  @ariaLabel={{t "pages.campaigns-list.table.filter.by-name"}}
  @triggerFiltering={{@onFilter}}
/>
<Table::HeaderFilterInput
  @headers="filters"
  @field="creatorName"
  @value={{@creatorNameFilter}}
  @placeholder={{t "pages.campaigns-list.table.filter.by-creator"}}
  @ariaLabel={{t "pages.campaigns-list.table.filter.by-creator"}}
  @triggerFiltering={{@onFilter}}
/>
<td>
  <div class="campaign-header-filters">
    <button
      role="tab"
      type="submit"
      class="campaign-header-filters__tab {{unless @isArchived "campaign-header-filters__tab--active"}}"
      aria-selected="{{not @isArchived}}"
      aria-label={{t "pages.campaigns-list.action.ongoing.aria-label"}}
      {{on "click" (fn @onClickStatusFilter null)}}
    >
      {{t "pages.campaigns-list.action.ongoing.label"}}
    </button>
    <button
      role="tab"
      type="submit"
      class="campaign-header-filters__tab {{if @isArchived "campaign-header-filters__tab--active"}}"
      aria-selected="{{@isArchived}}"
      aria-label={{t "pages.campaigns-list.action.archived.aria-label"}}
      {{on "click" (fn @onClickStatusFilter "archived")}}
    >
      {{t "pages.campaigns-list.action.archived.label"}}
    </button>
  </div>
</td>
<td></td>