<div class="pagination-control content-text content-text--small">
  <div class="page-size">
    <div class="page-size__label">
      {{t 'common.pagination.result-by-page'}}
    </div>
    <div class="page-size__choice">
      <select
        aria-label={{t 'common.pagination.action.select-page-size'}}
        class="content-text content-text--small"
        {{on "change" this.changePageSize}}
      >
        <option value="10" selected="{{if (eq this.pageSize 10) true}}">10</option>
        <option value="25" selected="{{if (eq this.pageSize 25) true}}">25</option>
        <option value="50" selected="{{if (eq this.pageSize 50) true}}">50</option>
        <option value="100" selected="{{if (eq this.pageSize 100) true}}">100</option>
      </select>
      <FaIcon class='page-size__choice--icon' @icon='sort'></FaIcon>
    </div>
  </div>
  <div class="page-navigation">
    <div class="page-navigation__arrow page-navigation__arrow--previous">
      <PixIconButton
        @icon="arrow-left"
        aria-label={{t 'common.pagination.action.previous'}}
        @triggerAction={{this.goToPreviousPage}}
        @withBackground={{false}}
        @size="small"
        @color="dark-grey"
        disabled={{eq this.currentPage 1}}
        aria-disabled="{{eq this.currentPage 1}}"
      />
    </div>
    <div>
      {{t 'common.pagination.page-number' current=this.currentPage total=(if this.pageCount this.pageCount 1)}}
    </div>
    <div class="page-navigation__arrow page-navigation__arrow--next">
      <PixIconButton
        @icon="arrow-right"
        aria-label={{t 'common.pagination.action.next'}}
        @triggerAction={{this.goToNextPage}}
        @withBackground={{false}}
        @size="small"
        @color="dark-grey"
        disabled={{or (eq this.currentPage this.pageCount) (eq this.pageCount 0)}}
        aria-disabled="{{or (eq this.currentPage this.pageCount) (eq this.pageCount 0)}}"
      />
    </div>
  </div>
</div>
