<div class="certifications-session-info">
  <div class="certifications-session-info__details">
      <div class='row'>
          <div class='col'>Centre :</div>
          <div class='col' data-test-id='certifications-session-info__certification-center'>{{session.certificationCenterName}}</div>
      </div>
      <div class='row'>
          <div class='col'>Adresse :</div>
          <div class='col' data-test-id='certifications-session-info__address'>{{session.address}}</div>
      </div>
      <div class='row'>
          <div class='col'>Pièce :</div>
          <div class='col' data-test-id='certifications-session-info__room'>{{session.room}}</div>
      </div>
      <div class='row'>
          <div class='col'>Surveillant :</div>
          <div class='col' data-test-id='certifications-session-info__examiner'>{{session.examiner}}</div>
      </div>
      <div class='row'>
          <div class='col'>Date :</div>
          <div class='col' data-test-id='certifications-session-info__date'>{{moment-format session.date 'DD/MM/YYYY'}}</div>
      </div>
      <div class='row'>
          <div class='col'>Heure :</div>
          <div class='col' data-test-id='certifications-session-info__time'>{{session.time}}</div>
      </div>
      <div class='row'>
          <div class='col'>Description :</div>
          <div class='col' data-test-id='certifications-session-info__description'>{{session.description}}</div>
      </div>
      <div class='row'>
          <div class='col'>Code d'accès :</div>
          <div class='col' data-test-id='certifications-session-info__access-code'>{{session.accessCode}}</div>
      </div>
      <div class='row'>
          <div class='col'>Statut :</div>
          <div class='col' data-test-id='certifications-session-info__is-finalized'>{{sessionStatusLabel}}</div>
      </div>

      {{#if session.isFinalized}}
      <div class='row'>
          <div class='col'>Date de finalisation :</div>
          <div class='col' data-test-id='certifications-session-info__finalized-at'>{{session.displayFinalizationDate}}</div>
      </div>
      {{#if session.resultsSentToPrescriberAt}}
      <div class='row'>
          <div class='col'>Date d'envoi des résultats au prescripteur :</div>
          <div class='col' data-test-id='certifications-session-info__sent-to-prescriber-at'>{{session.displayResultsSentToPrescriberDate}}</div>
      </div>
      {{/if}}
      {{/if}}
  </div>

  {{#if session.isFinalized}}
  <div class="certifications-session-info__stats">
    <div class='row'>
        <div class='col'>Nombre de signalements :</div>
        <div class='col' data-test-id='certifications-session-info__count-commentaries'>{{session.countExaminerComment}}</div>
    </div>
    <div class='row'>
        <div class='col'>Nombre d'écrans de fin de test non renseignés :</div>
        <div class='col' data-test-id='certifications-session-info__count-not-checked-end-screen'>{{session.countNotCheckedEndScreen}}</div>
    </div>
    <div class='row'>
        <div class='col'>Nombre de certifications non terminées :</div>
        <div class='col' data-test-id='certifications-session-info__count-non-validated-certifications'>{{session.countNonValidatedCertifications}}</div>
    </div>
    {{#if session.hasExaminerGlobalComment}}
    <div class='row'>
        <div class='col'>Commentaire global :</div>
        <div class='col' data-test-id='certifications-session-info__examiner-global-comment'>{{session.examinerGlobalComment}}</div>
    </div>
    {{/if}}
  </div>
  {{/if}}

  <div class="certifications-session-info__actions">
    <div class='row row--btn'>
        <button class="btn btn-primary" {{action "downloadBeforeJuryFile"}} type="button">
            Récupérer le fichier avant jury
        </button>
        
        <button class="btn btn-primary btn--right" {{action "downloadSessionResultFile"}} type="button">
            Exporter les résultats
        </button>

        {{#if (and session.isFinalized (not session.resultsSentToPrescriberAt))}}
        <button class="btn btn-primary" {{action "tagSessionAsSentToPrescriber"}} type="button">
          Résultats transmis au prescripteur
        </button>
        {{/if}}
    </div>
  </div>
</div>
