<div class="certifications-session-info">
  <div class='row'>
    <div class='col'>Centre :</div>
    <div class='col'>{{session.certificationCenter}}</div>
  </div>
  <div class='row'>
    <div class='col'>Adresse :</div>
    <div class='col'>{{session.address}}</div>
  </div>
  <div class='row'>
    <div class='col'>Pièce :</div>
    <div class='col'>{{session.room}}</div>
  </div>
  <div class='row'>
    <div class='col'>Surveillant :</div>
    <div class='col'>{{session.examiner}}</div>
  </div>
  <div class='row'>
    <div class='col'>Date :</div>
    <div class='col'>{{moment-format session.date 'DD/MM/YYYY'}}</div>
  </div>
  <div class='row'>
    <div class='col'>Heure :</div>
    <div class='col'>{{session.time}}</div>
  </div>
  <div class='row'>
    <div class='col'>Description :</div>
    <div class='col'>{{session.description}}</div>
  </div>
  <div class='row'>
    <div class='col'>Code d'accès :</div>
    <div class='col'>{{session.accessCode}}</div>
  </div>

  <div class='row row--btn'>
      <button data-test-id="button-session-result-file-info" class="btn btn-primary" {{action "downloadSessionResultFile"}} type="button">
        Exporter les résultats
      </button>
  </div>
</div>
