<div class="certification-list-page">

  <header class="certification-list-page__header">
    <h2 class="certification-list-page__title">Certifications</h2>
    <div class="btn-group certification-list-page__actions" role="group">

      <button class="btn btn-outline-default btn--check-session-record" type="button">
        <FileUpload @name="session-record-report"
                    @for="upload-attendance-sheet"
                    @onfileadd={{action "onDisplaySessionReportAnalysis"}}
                    @accept="application/vnd.oasis.opendocument.spreadsheet">
          <FaIcon @icon="clipboard-list"></FaIcon>
        </FileUpload>
        <BsTooltip>Analyser le PV de session afin de détecter les cas particuliers à traiter (.ods)</BsTooltip>
      </button>

      <button class="btn btn-outline-default" {{action "downloadSessionResultFile"}} type="button">
        <FaIcon @icon="file-download"></FaIcon>
        <BsTooltip>Exporter les résultats après jury pour les communiquer aux prescripteurs (.csv)</BsTooltip>
      </button>

      {{#if this.model.isPublished}}
        <button class="btn btn-primary" {{action "displayCertificationStatusUpdateConfirmationModal"}} type="button">
          Dépublier la session
        </button>
      {{else}}

        {{#if this.canPublish}}
          <button class="btn btn-primary" {{action "displayCertificationStatusUpdateConfirmationModal"}} type="button">
            Publier la session
          </button>
        {{else}}
          <button class="btn btn-primary certification-list-page--button__disabled" type="button">
            Publier la session
            <BsTooltip>Vous ne pouvez pas publier la session tant qu'il reste des certifications en "error" ou "started".</BsTooltip>
          </button>
        {{/if}}

      {{/if}}
    </div>
  </header>

  <div class="certification-list-page__body">
    <CertificationList @certifications={{model.certifications}} />
  </div>
</div>

<ConfirmPopup @message={{confirmMessage}}
              @confirm={{action "toggleSessionPublication"}}
              @cancel={{action "onCancelConfirm"}}
              @show={{displayConfirm}} />

<CertificationSessionReport @show={{displaySessionReport}}
                            @onHide={{action "onCloseSessionReportAnalysis"}}
                            @onDownloadJuryFile={{action "onDownloadJuryFile"}}
                            @onSaveSessionReportCertifications={{action "onUpdateSessionCertificationsWithReportData"}}
                            @certifications={{certificationsInSessionReport}} />
