<div class="certification-list-page">

  <header class="certification-list-page__header">
    <h2 class="certification-list-page__title">Certifications</h2>
    <div class="btn-group certification-list-page__actions" role="group">

      <button class="btn btn-outline-default btn--check-session-record" type="button">
        {{#file-upload
          name="session-record-report"
          for="upload-attendance-sheet"
          onfileadd=(action "onDisplaySessionReportAnalysis")
          accept="application/vnd.oasis.opendocument.spreadsheet"
        }}
          {{fa-icon "clipboard-list"}}
        {{/file-upload}}
        {{#bs-tooltip}}Analyser le PV de session afin de détecter les cas particuliers à traiter (.ods){{/bs-tooltip}}
      </button>

      <button class="btn btn-outline-default" {{action "downloadSessionResultFile"}} type="button">
        {{fa-icon "file-download"}}
        {{#bs-tooltip}}Exporter les résultats après jury pour les communiquer aux prescripteurs (.csv){{/bs-tooltip}}
      </button>

      {{#if this.sessionModel.isPublished}}
        <button class="btn btn-primary" {{action "displayCertificationStatusUpdateConfirmationModal" "unpublish"}} type="button">
          DEPUBLIER
        </button>
      {{else}}
        <button class="btn btn-primary" {{action "displayCertificationStatusUpdateConfirmationModal" "publish"}} type="button">
          PUBLIER
        </button>
      {{/if}}
    </div>
  </header>

  <div class="certification-list-page__body">
    {{certification-list certifications=model.certifications}}
  </div>
</div>

{{confirm-popup message=confirmMessage
                confirm=(action confirmAction)
                cancel=(action "onCancelConfirm")
                show=displayConfirm}}

{{certification-session-report show=displaySessionReport
                               onHide=(action 'onCloseSessionReportAnalysis')
                               onDownloadJuryFile=(action 'onDownloadJuryFile')
                               onSaveSessionReportCertifications=(action 'onUpdateSessionCertificationsWithReportData')
                               certifications=certificationsInSessionReport}}
