<form class="form certification-center-form" {{on "submit" @onSubmit}}>

  <section class="form-section">

    <PixInput
      @id="certificationCenterName"
      @label="Nom du centre"
      onchange={{this.handleCenterNameChange}}
      class="form-field"
      required={{true}}
      aria-required={{true}}
    />

    <div class="form-field">
      <PixSelect
        @id="certificationCenterTypeSelector"
        @label="Type d'établissement"
        @options={{this.certificationCenterTypes}}
        @isSearchable={{false}}
        @emptyOptionNotSelectable={{true}}
        @emptyOptionLabel={{"-- Choisissez --"}}
        @onChange={{this.selectCertificationCenterType}}
        required={{true}}
        aria-required={{true}}
        as |certificationCenterType|
      >
        {{certificationCenterType.label}}
      </PixSelect>
    </div>

    <PixInput
      @id="certificationCenterExternalId"
      @label="Identifiant externe"
      onchange={{this.handleExternalIdChange}}
      class="form-field"
    />

    <div class="form-field form-group form-field__checkbox">
      <Input @type="checkbox" id="supervisor-portal" @checked={{@certificationCenter.isSupervisorAccessEnabled}} />
      <label class="form-field__label" for="supervisor-portal">
        Espace surveillant
      </label>
    </div>

    <section>
      <h1 class="habilitations-title">Habilitations aux certifications complémentaires</h1>
      <ul class="form-field habilitations-checkbox-list">
        {{#each @habilitations as |habilitation index|}}
          <li class="habilitation-entry">
            <Input
              @type="checkbox"
              id={{concat "habilitation_" index}}
              @checked={{contains habilitation @certificationCenter.habilitations}}
              {{on "input" (fn this.updateGrantedHabilitation habilitation)}}
            />
            <label class="form-field__label" for={{concat "habilitation_" index}}>
              {{habilitation.label}}
            </label>
          </li>
        {{/each}}
      </ul>
    </section>
  </section>

  <section class="form-section form-actions">
    <PixButton
      @size="small"
      @backgroundColor="transparent-light"
      @isBorderVisible={{false}}
      @triggerAction={{@onCancel}}
    >Annuler</PixButton>
    <PixButton @type="submit" @size="small">Ajouter</PixButton>
  </section>
</form>