<div class="certification-center-information__display">
  <h2 class="certification-center-information__display__name">{{@certificationCenter.name}}</h2>
  <div class="property">
    <label class="field__label">Type :</label>
    <span>{{@certificationCenter.typeLabel}}</span><br />
  </div>
  <div class="property">
    <label class="field__label">Identifiant externe :</label>
    <span>{{@certificationCenter.externalId}}</span><br />
  </div>
  <div class="property">
    <ul>
      <li>
        <label class="field__label">
          Nom du
          <abbr title="Délégué à la protection des données">DPO</abbr>
          :
        </label>
        <span>{{@certificationCenter.dataProtectionOfficerFullName}}</span><br />
      </li>
      <li>
        <label class="field__label">
          Adresse e-mail du
          <abbr title="Délégué à la protection des données">DPO</abbr>
          :
        </label>
        <span>{{@certificationCenter.dataProtectionOfficerEmail}}</span><br />
      </li>
    </ul>
  </div>
  <div class="property">
    <h2 class="field__label">{{t "pages.certification-centers.information-view.feature-habilitations.title"}}</h2>
    <ul class="certification-center-information__display__habilitations-list">
      {{#each this.availableFeatureHabilitations as |feature|}}
        {{#if (eq feature.isPilot true)}}
          <li aria-label={{concat "Habilité pour " feature.label}}>
            <FaIcon class="granted-habilitation-icon" @icon="circle-check" />
            {{feature.label}}
          </li>
        {{else}}
          <li aria-label={{concat "Non habilité pour " feature.label}}>
            <FaIcon class="not-granted-habilitation-icon" @icon="circle-xmark" />
            {{feature.label}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  <div class="property">
    <h2 class="field__label">Habilitations aux certifications complémentaires</h2>
    <ul class="certification-center-information__display__habilitations-list">
      {{#each this.availableHabilitations as |habilitation|}}
        {{#if (contains habilitation @certificationCenter.habilitations)}}
          <li aria-label={{concat "Habilité pour " habilitation.label}}>
            <FaIcon class="granted-habilitation-icon" @icon="circle-check" />
            {{habilitation.label}}
          </li>
        {{else}}
          <li aria-label={{concat "Non-habilité pour " habilitation.label}}>
            <FaIcon class="not-granted-habilitation-icon" @icon="circle-xmark" />
            {{habilitation.label}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
    <div class="certification-center-information__button-section">
      <PixButton @size="small" @triggerAction={{@toggleEditMode}}>
        Modifier
      </PixButton>

      <PixButtonLink
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @href={{this.externalURL}}
        @size="small"
        target="_blank"
        rel="noopener noreferrer"
      >Tableau de bord</PixButtonLink>
    </div>
  </div>
</div>