<h2 class="certification-center-information__edit-title">Modifier un centre de certification</h2>

<form class="form certification-center-information__edit-form" onsubmit={{this.updateCertificationCenter}}>

  <PixInput
    class={{if (v-get this.form "name" "isInvalid") "form-control is-invalid" "form-control"}}
    @value={{this.form.name}}
    @requiredLabel={{true}}
    {{on "input" (pick "target.value" (set this "form.name"))}}
  >
    <:label>Nom du centre</:label>
  </PixInput>

  {{#if (v-get this.form "name" "isInvalid")}}
    <span class="error" aria-label="Message d'erreur du champ nom">
      {{v-get this.form "name" "message"}}
    </span>
  {{/if}}

  <PixSelect
    @options={{this.certificationCenterTypes}}
    @placeholder="-- Choisissez --"
    @value={{this.form.type}}
    @onChange={{this.selectCertificationCenterType}}
    @errorMessage={{v-get this.form "type" "message"}}
  >
    <:label>Type</:label>
    <:default as |certificationCenterType|>{{certificationCenterType.label}}</:default>
  </PixSelect>

  <PixInput
    class={{if (v-get this.form "externalId" "isInvalid") "form-control is-invalid" "form-control"}}
    @value={{this.form.externalId}}
    {{on "input" (pick "target.value" (set this "form.externalId"))}}
  >
    <:label>Identifiant externe</:label>
  </PixInput>

  {{#if (v-get this.form "externalId" "isInvalid")}}
    <span class="error" aria-label="Message d'erreur du champ ID externe">
      {{v-get this.form "externalId" "message"}}
    </span>
  {{/if}}

  <PixInput
    class={{if (v-get this.form "dataProtectionOfficerFirstName" "isInvalid") "form-control is-invalid" "form-control"}}
    @value={{this.form.dataProtectionOfficerFirstName}}
    {{on "input" (pick "target.value" (set this "form.dataProtectionOfficerFirstName"))}}
  >
    <:label>Prénom du <abbr title="Délégué à la protection des données">DPO</abbr></:label>
  </PixInput>

  {{#if (v-get this.form "dataProtectionOfficerFirstName" "isInvalid")}}
    <span class="error" aria-label="Message d'erreur du champ Prénom du DPO">
      {{v-get this.form "dataProtectionOfficerFirstName" "message"}}
    </span>
  {{/if}}

  <PixInput
    class={{if (v-get this.form "dataProtectionOfficerLastName" "isInvalid") "form-control is-invalid" "form-control"}}
    @value={{this.form.dataProtectionOfficerLastName}}
    {{on "input" (pick "target.value" (set this "form.dataProtectionOfficerLastName"))}}
  ><:label>Nom du <abbr title="Délégué à la protection des données">DPO</abbr></:label></PixInput>

  {{#if (v-get this.form "dataProtectionOfficerLastName" "isInvalid")}}
    <span class="error" aria-label="Message d'erreur du champ Nom du DPO">
      {{v-get this.form "dataProtectionOfficerLastName" "message"}}
    </span>
  {{/if}}

  <PixInput
    class={{if (v-get this.form "dataProtectionOfficerEmail" "isInvalid") "form-control is-invalid" "form-control"}}
    @value={{this.form.dataProtectionOfficerEmail}}
    {{on "input" (pick "target.value" (set this "form.dataProtectionOfficerEmail"))}}
  ><:label>Adresse e-mail du <abbr title="Délégué à la protection des données">DPO</abbr></:label></PixInput>

  {{#if (v-get this.form "dataProtectionOfficerEmail" "isInvalid")}}
    <span class="error" aria-label="Message d'erreur du champ Adresse e-mail du DPO">
      {{v-get this.form "dataProtectionOfficerEmail" "message"}}
    </span>
  {{/if}}

  <PixCheckbox @id="isV3Pilot" @size="small" onChange={{this.updateIsV3Pilot}} @checked={{this.form.isV3Pilot}}>
    <:label>{{t "components.certification-centers.is-v3-pilot-label"}}</:label>
  </PixCheckbox>

  <span class="field-label">Habilitations aux certifications complémentaires</span>
  <ul class="form-field certification-center-information__edit-form__habilitations-checkbox-list">
    {{#each this.availableHabilitations as |habilitation|}}
      <li class="habilitation-entry">
        <PixCheckbox
          @checked={{contains habilitation this.habilitations}}
          {{on "change" (fn this.updateGrantedHabilitation habilitation)}}
        >
          <:label>
            {{habilitation.label}}
          </:label>
        </PixCheckbox>
      </li>
    {{/each}}
  </ul>

  <div class="certification-center-information__action-buttons">
    <PixButton @size="small" @variant="secondary" @triggerAction={{@toggleEditMode}}>
      Annuler
    </PixButton>
    <PixButton @type="submit" @size="small" @variant="primary">Enregistrer</PixButton>
  </div>
</form>