<h2 class="certification-center-information-display__name">{{@certificationCenter.name}}</h2>

<dl class="certification-center-information-display__list">
  <dt class="label">Type :</dt>
  <dd>{{@certificationCenter.typeLabel}}</dd>

  <dt class="label">Identifiant externe :</dt>
  <dd>{{@certificationCenter.externalId}}</dd>

  <dt class="label">
    Nom du
    <abbr title="Délégué à la protection des données">DPO</abbr>
    :
  </dt>
  <dd>{{@certificationCenter.dataProtectionOfficerFullName}}</dd>

  <dt class="label">
    Adresse e-mail du
    <abbr title="Délégué à la protection des données">DPO</abbr>
    :
  </dt>
  <dd>{{@certificationCenter.dataProtectionOfficerEmail}}</dd>
</dl>

<span class="label">{{t "pages.certification-centers.information-view.pilot-features.title"}}</span>
<ul class="certification-center-information-display__habilitations-list">
  {{#each this.availablePilotFeatures as |feature|}}
    <CertificationCenters::HabilitationTag
      @label={{feature.label}}
      @active={{feature.isPilot}}
      @arialabel={{feature.ariaLabel}}
    />
  {{/each}}
</ul>

<div class="certification-center-information-display__divider"></div>

<span class="label">{{t "pages.certification-centers.information-view.habilitations.title"}}</span>
<ul class="certification-center-information-display__habilitations-list">
  {{#each this.availableHabilitations as |habilitation|}}
    <CertificationCenters::HabilitationTag
      @label={{habilitation.label}}
      @active={{habilitation.isHabilitated}}
      @arialabel={{habilitation.ariaLabel}}
    />
  {{/each}}
</ul>

<ul class="certification-center-information-display__action-buttons">
  <li>
    <PixButton @size="small" @triggerAction={{@toggleEditMode}}>
      Modifier
    </PixButton>
  </li>
  <li>
    <PixButtonLink
      @variant="secondary"
      @href={{this.externalURL}}
      @size="small"
      target="_blank"
      rel="noopener noreferrer"
    >
      Tableau de bord
    </PixButtonLink>
  </li>
</ul>