<h2 class="certification-center-information__edit-title">Modifier un centre de certification</h2>

<form class="form certification-center-information__edit-form" onsubmit={{this.updateCertificationCenter}}>

  <label class="field-label">
    <abbr title="obligatoire" class="mandatory-mark">*</abbr>
    Nom du centre
    <Input
      id="name"
      @type="text"
      class={{if (v-get this.form "name" "isInvalid") "form-control is-invalid" "form-control"}}
      @value={{this.form.name}}
      required={{true}}
    />
  </label>

  {{#if (v-get this.form "name" "isInvalid")}}
    <span class="error" aria-label="Message d'erreur du champ nom">
      {{v-get this.form "name" "message"}}
    </span>
  {{/if}}

  <PixSelect
    @options={{this.certificationCenterTypes}}
    @placeholder="-- Choisissez --"
    @value={{this.form.type}}
    @onChange={{this.selectCertificationCenterType}}
    @errorMessage={{v-get this.form "type" "message"}}
  >
    <:label>Type</:label>
    <:default as |certificationCenterType|>{{certificationCenterType.label}}</:default>
  </PixSelect>

  <label class="field-label">
    Identifiant externe
    <Input
      id="external-id"
      @type="text"
      class={{if (v-get this.form "externalId" "isInvalid") "form-control is-invalid" "form-control"}}
      @value={{this.form.externalId}}
    />
  </label>

  {{#if (v-get this.form "externalId" "isInvalid")}}
    <span class="error" aria-label="Message d'erreur du champ ID externe">
      {{v-get this.form "externalId" "message"}}
    </span>
  {{/if}}

  <label class="field-label">
    Prénom du
    <abbr title="Délégué à la protection des données">DPO</abbr>
    <Input
      @type="text"
      class={{if
        (v-get this.form "dataProtectionOfficerFirstName" "isInvalid")
        "form-control is-invalid"
        "form-control"
      }}
      @value={{this.form.dataProtectionOfficerFirstName}}
    />
  </label>

  {{#if (v-get this.form "dataProtectionOfficerFirstName" "isInvalid")}}
    <span class="error" aria-label="Message d'erreur du champ Prénom du DPO">
      {{v-get this.form "dataProtectionOfficerFirstName" "message"}}
    </span>
  {{/if}}

  <label class="field-label">
    Nom du
    <abbr title="Délégué à la protection des données">DPO</abbr>
    <Input
      id="data-protection-officer-last-name"
      @type="text"
      class={{if
        (v-get this.form "dataProtectionOfficerLastName" "isInvalid")
        "form-control is-invalid"
        "form-control"
      }}
      @value={{this.form.dataProtectionOfficerLastName}}
    />
  </label>

  {{#if (v-get this.form "dataProtectionOfficerLastName" "isInvalid")}}
    <span class="error" aria-label="Message d'erreur du champ Nom du DPO">
      {{v-get this.form "dataProtectionOfficerLastName" "message"}}
    </span>
  {{/if}}

  <label class="field-label">
    Adresse e-mail du
    <abbr title="Délégué à la protection des données">DPO</abbr>
    <Input
      @type="text"
      class={{if (v-get this.form "dataProtectionOfficerEmail" "isInvalid") "form-control is-invalid" "form-control"}}
      @value={{this.form.dataProtectionOfficerEmail}}
    />
  </label>

  {{#if (v-get this.form "dataProtectionOfficerEmail" "isInvalid")}}
    <span class="error" aria-label="Message d'erreur du champ Adresse e-mail du DPO">
      {{v-get this.form "dataProtectionOfficerEmail" "message"}}
    </span>
  {{/if}}

  <PixCheckbox @id="isV3Pilot" @size="small" onChange={{this.updateIsV3Pilot}} @checked={{this.form.isV3Pilot}}>
    <:label>{{t "components.certification-centers.is-v3-pilot-label"}}</:label>
  </PixCheckbox>

  <span class="field-label">Habilitations aux certifications complémentaires</span>
  <ul class="form-field certification-center-information__edit-form__habilitations-checkbox-list">
    {{#each this.availableHabilitations as |habilitation|}}
      <li class="habilitation-entry">
        <Input
          id="habilitation-checkbox__{{habilitation.id}}"
          @type="checkbox"
          @checked={{contains habilitation this.habilitations}}
          {{on "input" (fn this.updateGrantedHabilitation habilitation)}}
        />
        <label class="field-label" for="habilitation-checkbox__{{habilitation.id}}">
          {{habilitation.label}}
        </label>
      </li>
    {{/each}}
  </ul>

  <div class="certification-center-information__action-buttons">
    <PixButton @size="small" @variant="secondary" @triggerAction={{@toggleEditMode}}>
      Annuler
    </PixButton>
    <PixButton @type="submit" @size="small" @variant="primary">Enregistrer</PixButton>
  </div>
</form>