<tr
  aria-label="Informations du membre {{@certificationCenterMembership.user.firstName}} {{@certificationCenterMembership.user.lastName}}"
>
  <td>
    <LinkTo @route="authenticated.users.get" @model={{@certificationCenterMembership.user.id}}>
      {{@certificationCenterMembership.user.id}}
    </LinkTo>
  </td>
  <td class="member-information">{{@certificationCenterMembership.user.firstName}}</td>
  <td class="member-information">{{@certificationCenterMembership.user.lastName}}</td>
  <td class="member-information">{{@certificationCenterMembership.user.email}}</td>
  <td class="member-information">
    <CertificationCenters::MembershipItemRole
      @isEditionMode={{this.isEditionMode}}
      @role={{@certificationCenterMembership.role}}
      @roleLabelKey={{@certificationCenterMembership.roleLabelKey}}
      @onRoleSelected={{this.onRoleSelected}}
    />
  </td>
  <td>
    {{dayjs-format @certificationCenterMembership.createdAt "DD-MM-YYYY - HH:mm:ss"}}
  </td>
  <td>
    <CertificationCenters::MembershipItemActions
      @isEditionMode={{this.isEditionMode}}
      @onDeactivateMembershipButtonClicked={{fn @disableCertificationCenterMembership @certificationCenterMembership}}
    />
  </td>
</tr>