<section class="page-section session-jury-comment">
  <h2 class="jury-comment__title">Commentaire de l'équipe Certification</h2>
  {{#if this.shouldDisplayForm}}
    {{#if this.accessControl.hasAccessToCertificationActionsScope}}
      <form onsubmit={{this.submitForm}}>
        <PixTextarea
          @screenReaderOnly={{true}}
          placeholder="Ajouter un commentaire…"
          @value={{this.commentBeingEdited}}
          {{on "change" this.updateCommentBeingEdited}}
          class="jury-comment__field"
          @id="jury-comment-field"
          required={{true}}
        >
          <:label>Texte du commentaire</:label>
        </PixTextarea>
        <div class="jury-comment__actions">
          {{#if this.commentExists}}
            <PixButton @triggerAction={{this.exitEditingMode}} @backgroundColor="transparent-light" @size="small">
              Annuler
            </PixButton>
          {{/if}}
          <PixButton @type="submit" @size="small">
            Enregistrer
          </PixButton>
        </div>
      </form>
    {{/if}}
  {{else}}
    <div>
      <span class="jury-comment__author">{{@author}}</span>
      -
      <time class="jury-comment__date">{{dayjs-format @date "DD/MM/YYYY à HH:mm"}}</time>
    </div>
    <p class="jury-comment__content">{{this.comment}}</p>
    {{#if this.accessControl.hasAccessToCertificationActionsScope}}
      <div class="jury-comment__actions">
        <PixButton @triggerAction={{this.enterEditingMode}} @size="small">
          Modifier
        </PixButton>
        <PixButton
          @triggerAction={{this.openDeletionConfirmationModal}}
          @size="small"
          @backgroundColor="transparent-light"
          @isBorderVisible={{true}}
        >
          Supprimer
        </PixButton>
      </div>
    {{/if}}
  {{/if}}
</section>

<ConfirmPopup
  @title="Suppression du commentaire"
  @message="Voulez-vous vraiment supprimer le commentaire de {{@author}} ?"
  @confirm={{this.confirmDeletion}}
  @cancel={{this.closeDeletionConfirmationModal}}
  @show={{this.shouldDisplayDeletionConfirmationModal}}
/>