<div class="content-text content-text--small table-admin__wrapper session-list">
  <table class="table-admin table-admin__auto-width">
    <thead>
      <tr>
        <th>ID</th>
        <th>Centre de certification</th>
        <th>Catégorie</th>
        <th>Date de session</th>
        <th>Statut</th>
        <th>Date de finalisation</th>
        <th>Date de publication</th>
        <th>Date de diffusion au prescripteur</th>
        <th>Qui ?</th>
      </tr>
      <tr>
        <th>
          <input id="id"
                 type="text"
                 value={{@id}}
                 oninput={{perform @triggerFiltering 'id'}}
                 class="table-admin-input" />
        </th>
        <th>
          <input id="certificationCenterName"
                 type="text"
                 value={{@certificationCenterName}}
                 oninput={{perform @triggerFiltering 'certificationCenterName'}}
                 class="table-admin-input" />
        </th>
        <th>
          <select id="certificationCenterType" name="certificationCenterType" {{on 'change' this.selectCertificationCenterType}}>
            {{#each this.certificationCenterTypeOptions as |item|}}
              <option value={{item.value}} selected="{{if (eq @certificationCenterType item.value) true}}">{{item.label}}</option>
            {{/each}}
          </select>
        </th>
        <th></th>
        <th>
          <select class="session-status-selector" id="status" name="status" {{on 'change' this.selectSessionStatus}}>
            {{#each this.sessionStatusOptions as |item|}}
              <option value={{item.value}} selected="{{if (eq @status item.value) true}}">{{item.label}}</option>
            {{/each}}
          </select>
        </th>
        <th></th>
        <th></th>
        <th>
          <select class="results-status-selector" id="resultsSentToPrescriberAt" name="resultsSentToPrescriberAt" {{on 'change' this.selectSessionResultsSentToPrescriber}}>
            {{#each this.sessionResultsSentToPrescriberOptions as |item|}}
              <option value={{item.value}} selected="{{if (eq @resultsSentToPrescriberAt item.value) true}}">{{item.label}}</option>
            {{/each}}
          </select>
        </th>
        <th></th>
      </tr>
    </thead>

    {{#if @sessions}}
      <tbody>
      {{#each @sessions as |session|}}
        <tr>
          <td><LinkTo @route="authenticated.sessions.session" @model={{session.id}}> {{session.id}} </LinkTo></td>
          <td>{{session.certificationCenterName}}</td>
            {{#if session.certificationCenterType}}
              <td class="session-list__item--align-center">{{session.certificationCenterType}}</td>
            {{else}}
              <td class="session-list__item--align-center">-</td>
            {{/if}}
          <td>{{format-date session.date}} à {{session.time}}</td>
          <td>{{session.displayStatus}}</td>
          <td>{{format-date session.finalizedAt}}</td>
          <td>{{format-date session.publishedAt}}</td>
          <td>{{format-date session.resultsSentToPrescriberAt}}</td>
          <td class="session-list__item--align-center">
            {{#if session.assignedCertificationOfficer}}
              {{session.assignedCertificationOfficer.fullName}}
            {{else}}
              -
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    {{/if}}
  </table>

  {{#unless @sessions}}
    <div class="table__empty content-text">Aucun résultat</div>
  {{/unless}}
</div>

{{#if @sessions}}
  <PaginationControl @pagination={{@sessions.meta}} />
{{/if}}
