<div class="content-text content-text--small table-admin__wrapper session-list">
  <table class="table-admin table-admin__auto-width">
    <thead>
      <tr>
        <th class="table__column table__column--id" id="session-id">ID</th>
        <th id="certification-center-name">Centre de certification</th>
        <th id="session-external-id">Identifiant externe</th>
        <th id="certification-center-category">Catégorie</th>
        <th id="session-date">Date de session</th>
        <th id="session-status">Statut</th>
        <th id="session-finalization-date">Date de finalisation</th>
        <th id="session-publication-date">Date de publication</th>
        <th id="session-results-sent-to-prescriber">Date de diffusion au prescripteur</th>
      </tr>
      <tr>
        <td class="table__column table__column--id">
          <input
            aria-label="Filtrer les sessions avec un id"
            type="text"
            value={{@id}}
            oninput={{perform @triggerFiltering "id"}}
            class="table-admin-input"
          />
        </td>
        <td>
          <input
            aria-label="Filtrer les sessions avec le nom d'un centre de certification"
            type="text"
            value={{@certificationCenterName}}
            oninput={{perform @triggerFiltering "certificationCenterName"}}
            class="table-admin-input"
          />
        </td>
        <td>
          <input
            aria-label="Filtrer les sessions avec un identifiant externe"
            type="text"
            value={{@certificationCenterExternalId}}
            oninput={{perform @triggerFiltering "certificationCenterExternalId"}}
            class="table-admin-input"
          />
        </td>
        <td>
          <PixSelect
            @label="Filtrer les sessions en sélectionnant un type de centre de certification"
            @screenReaderOnly={{true}}
            class="sessions-list-items__select"
            @options={{this.certificationCenterTypeOptions}}
            @onChange={{this.selectCertificationCenterType}}
            @value={{@certificationCenterType}}
          />
        </td>
        <td></td>
        <td>
          <PixSelect
            @label="Filtrer les sessions en sélectionnant un statut"
            @screenReaderOnly={{true}}
            class="sessions-list-items__select"
            @options={{this.sessionStatusOptions}}
            @onChange={{this.selectSessionStatus}}
            @value={{@status}}
          />
        </td>
        <td></td>
        <td></td>
        <td>
          <PixSelect
            @label="Filtrer les sessions par leurs résultats diffusés ou non diffusés"
            @screenReaderOnly={{true}}
            class="sessions-list-items__select"
            @options={{this.sessionResultsSentToPrescriberOptions}}
            @onChange={{this.selectSessionResultsSentToPrescriber}}
            @value={{@resultsSentToPrescriberAt}}
          />
        </td>
      </tr>
    </thead>

    {{#if @sessions}}
      <tbody>
        {{#each @sessions as |session|}}
          <tr aria-label="Informations de la session de certification {{session.id}}">
            <td headers="session-id" class="table__column table__column--id">
              <LinkTo @route="authenticated.sessions.session" @model={{session.id}}>
                {{session.id}}
              </LinkTo>
            </td>
            <td headers="certification-center-name">{{session.certificationCenterName}}</td>
            <td headers="session-external-id">{{session.certificationCenterExternalId}}</td>
            {{#if session.certificationCenterType}}
              <td headers="certification-center-category" class="session-list__item--align-center">
                {{session.certificationCenterType}}
              </td>
            {{else}}
              <td headers="certification-center-category" class="session-list__item--align-center">-</td>
            {{/if}}
            <td headers="session-date">{{format-date session.date}} à {{session.time}}</td>
            <td headers="session-status">{{session.displayStatus}}</td>
            <td headers="session-finalization-date">{{format-date session.finalizedAt}}</td>
            <td headers="session-publication-date">{{format-date session.publishedAt}}</td>
            <td headers="session-results-sent-to-prescriber">{{format-date session.resultsSentToPrescriberAt}}</td>
          </tr>
        {{/each}}
      </tbody>
    {{/if}}
  </table>

  {{#unless @sessions}}
    <div class="table__empty">Aucun résultat</div>
  {{/unless}}
</div>

{{#if @sessions}}
  <PixPagination @pagination={{@sessions.meta}} />
{{/if}}