<div class="content-text content-text--small table-admin__wrapper">
  <table class="table-admin table-admin__auto-width">
    <thead>
      <tr>
        <th>ID</th>
        <th>Centre de certification</th>
        <th>Catégorie</th>
        <th>Date de session</th>
        <th>Statut</th>
        <th>Date de finalisation</th>
        <th>Nombre de certifications publiées</th>
        <th>Date de publication</th>
        <th>Date de diffusion au prescripteur</th>
      </tr>
      <tr>
        <th>
          <Input id="id"
                 @value={{@id}}
                 @key-up={{fn @triggerFiltering "id" @id}}
                 class="table-admin-input" />
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    {{#if @sessions}}
      <tbody>
      {{#each @sessions as |session|}}
        <tr>
          <td><LinkTo @route="authenticated.sessions.session" @model={{session.id}}> {{session.id}} </LinkTo></td>
          <td>{{session.certificationCenterName}}</td>
            {{#if (and session.certificationCenter session.certificationCenter.type)}}
              <td class="session-list__item--align-center">{{session.certificationCenter.type}}</td>
            {{else}}
              <td class="session-list__item--align-center">-</td>
            {{/if}}
          <td>{{session.displayDate}} à {{session.time}}</td>
          <td>{{session.displayStatus}}</td>
          <td>{{session.displayFinalizationDate}}</td>
          <td>{{session.countPublishedCertifications}}</td>
          <td>{{session.displayPublishedAtDate}}</td>
          <td>{{session.displayResultsSentToPrescriberDate}}</td>
        </tr>
      {{/each}}
      </tbody>
    {{/if}}
  </table>

  {{#unless @sessions}}
    <div class="table__empty content-text">Aucun résultat</div>
  {{/unless}}
</div>

{{#if @sessions}}
  {{pagination-control pagination=@sessions.meta}}
{{/if}}
