<div class="panel table content-text content-text--small">
  <table>
    <thead>
      <tr>
        <th>{{t 'pages.team-invitations.table.column.email-address'}}</th>
        <th>{{t 'pages.team-invitations.table.column.pending-invitation'}}</th>
      </tr>
    </thead>
    <tbody>
    {{#each @invitations as |invitation|}}
      <tr aria-label="{{t 'pages.team-invitations.table.row.aria-label'}}">
        <td>{{invitation.email}}</td>
        <td colspan="3">
          {{t 'pages.team-invitations.table.row.message'}} {{moment-format invitation.updatedAt 'DD/MM/YYYY [-] HH:mm' locale='fr'}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
