{{! template-lint-disable require-input-label }}
<form {{on "submit" @onSubmit}} class="form" ...attributes>

  <div class="form__field">
    <label for="email" class="label">{{t "pages.team-new-item.input-label"}}</label>
    <Input
      id="email"
      @type="email"
      @value={{@email}}
      name="email"
      class="input"
      multiple={{true}}
      aria-required="true"
      required="required"
    />
  </div>

  <div class="form__validation">
    <PixButton @triggerAction={{@onCancel}} @backgroundColor="transparent-light">
      {{t "common.actions.cancel"}}
    </PixButton>
    <PixButton @type="submit" @isLoading={{@isLoading}}>
      {{t "pages.team-new-item.invite-button"}}
    </PixButton>
  </div>

</form>