<div class="panel table content-text content-text--small">
  <table>
    <thead>
      <tr>
        <Table::Header @size="wide">{{t "pages.team-invitations.table.column.email-address"}}</Table::Header>
        <Table::Header @size="x-wide" class="hide-on-mobile">{{t
            "pages.team-invitations.table.column.pending-invitation"
          }}</Table::Header>
        <Table::Header @size="wide" class="hide-on-mobile">
          <span>{{t "common.actions.global"}}</span>
        </Table::Header>
      </tr>
    </thead>
    <tbody>
      {{#each @invitations as |invitation|}}
        <Team::InvitationsListItem @invitation={{invitation}} @cancelInvitation={{this.cancelInvitation}} />
      {{/each}}
    </tbody>
  </table>
</div>