<div class="panel table content-text content-text--small">
  <table>
    <thead>
      <tr>
        <th>{{t "pages.team-invitations.table.column.email-address"}}</th>
        <th class="hide-on-mobile">{{t "pages.team-invitations.table.column.pending-invitation"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each @invitations as |invitation|}}
        {{#if invitation.isPending}}
          <tr aria-label="{{t "pages.team-invitations.table.row.aria-label"}}">
            <td>{{invitation.email}}</td>
            <td class="hide-on-mobile" colspan="3">
              {{t "pages.team-invitations.table.row.message"}}
              {{moment-format invitation.updatedAt "DD/MM/YYYY [-] HH:mm" locale="fr"}}
            </td>
            <td>
              <PixTooltip @text={{t "pages.team-invitations.cancel-invitation"}} @isInline={{true}}>
                <PixIconButton
                  @ariaLabel={{t "pages.team-invitations.cancel-invitation"}}
                  @icon="trash-alt"
                  @triggerAction={{fn this.cancelInvitation invitation}}
                  @withBackground={{true}}
                />
              </PixTooltip>
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>