<tr aria-label="{{t 'pages.team-members.table.row-title'}}">
  <td>{{@membership.user.lastName}}</td>
  <td>{{@membership.user.firstName}}</td>

  {{#unless this.isEditionMode}}
    <td>{{this.displayRole}}</td>
    {{#if this.currentUser.isAdminInOrganization}}
      <td class="zone-edit-role hide-on-mobile">
        {{#if this.isNotCurrentUserMembership}}
          <Dropdown::IconTrigger
            @icon="ellipsis-vertical"
            @dropdownButtonClass="zone-edit-role__dropdown-button"
            @dropdownContentClass="zone-edit-role__dropdown-content"
            @ariaLabel={{t "pages.team-members.actions.manage"}}
          >
            <Dropdown::Item @onClick={{this.toggleEditionMode}}>
              {{t "pages.team-members.actions.edit-organization-membership-role"}}
            </Dropdown::Item>
            <Dropdown::Item @onClick={{fn this.displayRemoveMembershipModal @membership}}>
              {{t "pages.team-members.actions.remove-membership"}}
            </Dropdown::Item>
          </Dropdown::IconTrigger>
        {{else}}
          {{#if @isMultipleAdminsAvailable}}
            <Dropdown::IconTrigger
              @icon="ellipsis-vertical"
              @dropdownButtonClass="zone-edit-role__dropdown-button"
              @dropdownContentClass="zone-edit-role__dropdown-content"
              @ariaLabel={{t "pages.team-members.actions.manage"}}
            >
              <Dropdown::Item @onClick={{fn this.displayLeaveOrganizationModal @membership}}>
                {{t "pages.team-members.actions.leave-organization"}}
              </Dropdown::Item>
            </Dropdown::IconTrigger>
          {{/if}}
        {{/if}}
      </td>
    {{/if}}
  {{/unless}}

  {{#if this.isEditionMode}}
    <td>
      <div id="selectOrganizationRole">
        <PixSelect
          class="table__input"
          @label="{{t 'pages.team-members.actions.select-role.label'}}"
          @screenReaderOnly={{true}}
          @hideDefaultOption={{true}}
          @placeholder="{{t 'pages.team-members.actions.select-role.label'}}"
          @onChange={{this.setRoleSelection}}
          @options={{this.organizationRoles}}
          @value={{@membership.organizationRole}}
        />
      </div>
    </td>
    <td>
      <div class="zone-save-cancel-role">
        <PixButton
          id="save-organization-role"
          @triggerAction={{fn this.updateRoleOfMember @membership}}
          @size="small"
          aria-label={{t "pages.team-members.actions.save"}}
        >
          {{t "pages.team-members.actions.save"}}
        </PixButton>
        <PixIconButton
          @icon="xmark"
          id="cancel-update-organization-role"
          aria-label="{{t 'common.actions.cancel'}}"
          @triggerAction={{this.cancelUpdateRoleOfMember}}
          @withBackground={{false}}
          @color="dark-grey"
        />
      </div>
    </td>
  {{/if}}
</tr>

<Team::RemoveMemberModal
  @firstName={{@membership.user.firstName}}
  @lastName={{@membership.user.lastName}}
  @isOpen={{this.isRemoveMembershipModalDisplayed}}
  @onSubmit={{this.onRemoveButtonClicked}}
  @onClose={{this.closeRemoveMembershipModal}}
/>
<Team::LeaveOrganizationModal
  @organizationName={{this.currentUserOrganizationName}}
  @isOpen={{this.isLeaveOrganizationModalDisplayed}}
  @onSubmit={{this.onLeaveButtonClicked}}
  @onClose={{this.closeLeaveOrganizationModal}}
/>