<PixModal
  @title="{{t 'pages.team-members.remove-membership-modal.title'}}"
  @showModal={{@isOpen}}
  @onCloseButtonClick={{@onClose}}
>
  <:content>
    <p class="remove-member-modal">
      {{t
        "pages.team-members.remove-membership-modal.message"
        memberFirstName=@firstName
        memberLastName=@lastName
        htmlSafe=true
      }}
    </p>
  </:content>
  <:footer>
    <div class="remove-member-modal__action-buttons--container">
      <ul class="remove-member-modal__action-buttons--list">
        <li>
          <PixButton @triggerAction={{@onClose}} @backgroundColor="grey">
            {{t "common.actions.cancel"}}
          </PixButton>
        </li>

        <li>
          <PixButton @triggerAction={{@onSubmit}} @backgroundColor="red">
            {{t "pages.team-members.remove-membership-modal.actions.remove"}}
          </PixButton>
        </li>
      </ul>
    </div>
  </:footer>
</PixModal>