<Modal::Dialog
  class="remove-member-modal"
  @title="{{t 'pages.team-members.remove-membership-modal.title'}}"
  @display={{@isOpen}}
  @close={{@onClose}}
  @additionalContainerClass="modal-dialog__large"
>
  <Modal::Body class="remove-member-modal__content">
    <p class="content-text">
      {{t 'pages.team-members.remove-membership-modal.message' memberFirstName=@firstName memberLastName=@lastName htmlSafe=true}}
    </p>
  </Modal::Body>
  <Modal::Footer class="remove-member-modal__actions">
    <button type="button" class="button button--grey button--regular" {{on 'click' @onClose}}>
      {{t 'common.actions.cancel'}}
    </button>
    <button type="button" class="button button--red" data-test-modal-remove-button {{on 'click' @onSubmit}}>
      {{t 'pages.team-members.remove-membership-modal.actions.remove'}}
    </button>
  </Modal::Footer>
</Modal::Dialog>
