<PixModal
  @showModal={{@showModal}}
  class="add-issue-report-modal"
  @title="Signalement du candidat : {{@report.firstName}} {{@report.lastName}}"
  @onCloseButtonClick={{@closeModal}}
>
  <:content>
    <form
      id="add-issue-report-form"
      {{on "submit" this.submitReport}}
      class="pix-modal__container pix-modal__container--white"
    >
      <div class="add-issue-report-modal-content">
        <IssueReportModal::CandidateInformationChangeCertificationIssueReportFields
          @candidateInformationChangeCategory={{this.candidateInformationChangeCategory}}
          @toggleOnCategory={{this.toggleOnCategory}}
          @maxlength={{@maxlength}}
        />

        <IssueReportModal::SignatureIssueReportFields
          @signatureIssueCategory={{this.signatureIssueCategory}}
          @toggleOnCategory={{this.toggleOnCategory}}
          @maxlength={{@maxlength}}
        />

        <IssueReportModal::FraudCertificationIssueReportFields
          @fraudCategory={{this.fraudCategory}}
          @toggleOnCategory={{this.toggleOnCategory}}
        />

        <IssueReportModal::NonBlockingTechnicalIssueCertificationIssueReportFields
          @nonBlockingTechnicalIssueCategory={{this.nonBlockingTechnicalIssueCategory}}
          @toggleOnCategory={{this.toggleOnCategory}}
          @maxlength={{@maxlength}}
        />

        <IssueReportModal::NonBlockingCandidateIssueCertificationIssueReportFields
          @nonBlockingCandidateIssueCategory={{this.nonBlockingCandidateIssueCategory}}
          @toggleOnCategory={{this.toggleOnCategory}}
          @maxlength={{@maxlength}}
        />

        <IssueReportModal::InChallengeCertificationIssueReportFields
          @inChallengeCategory={{this.inChallengeCategory}}
          @toggleOnCategory={{this.toggleOnCategory}}
          @maxlength={{@maxlength}}
        />
      </div>

      {{#if this.showCategoryMissingError}}
        <PixMessage @type="alert">Veuillez selectionner une catégorie</PixMessage>
      {{/if}}

      {{#if this.showIssueReportSubmitError}}
        <PixMessage @type="alert">Une erreur s'est produite lors de l'ajout du signalement. Merci de réessayer</PixMessage>
      {{/if}}
    </form>
  </:content>
  <:footer>
    <PixButton @triggerAction={{@closeModal}} @backgroundColor="transparent-light">
      {{t "common.actions.cancel"}}</PixButton>
    <PixButton form="add-issue-report-form" @type="submit" aria-label="Ajouter le signalement">Valider</PixButton>
  </:footer>
</PixModal>