<PixModal
  @showModal={{@showModal}}
  class="add-issue-report-modal"
  @title="{{t 'pages.session-finalization.add-issue-modal.title'}} {{@report.firstName}} {{@report.lastName}}"
  @onCloseButtonClick={{@closeModal}}
>
  <:content>
    <form
      id="add-issue-report-form"
      {{on "submit" this.submitReport}}
      class="pix-modal__container pix-modal__container--white"
    >
      <div class="add-issue-report-modal-content">
        <IssueReportModal::CandidateInformationChangeCertificationIssueReportFields
          @candidateInformationChangeCategory={{this.candidateInformationChangeCategory}}
          @toggleOnCategory={{this.toggleOnCategory}}
          @maxlength={{@maxlength}}
          @updateCandidateInformationChangeCategoryDescription={{this.updateCandidateInformationChangeCategory}}
        />

        <IssueReportModal::SignatureIssueReportFields
          @signatureIssueCategory={{this.signatureIssueCategory}}
          @toggleOnCategory={{this.toggleOnCategory}}
          @maxlength={{@maxlength}}
          @updateSignatureIssueCategoryDescription={{this.updateSignatureIssueCategory}}
        />

        <IssueReportModal::FraudCertificationIssueReportFields
          @fraudCategory={{this.fraudCategory}}
          @toggleOnCategory={{this.toggleOnCategory}}
        />

        <IssueReportModal::NonBlockingTechnicalIssueCertificationIssueReportFields
          @nonBlockingTechnicalIssueCategory={{this.nonBlockingTechnicalIssueCategory}}
          @toggleOnCategory={{this.toggleOnCategory}}
          @maxlength={{@maxlength}}
          @updateNonBlockingTechnicalIssueCategoryDescription={{this.updateNonBlockingTechnicalIssueCategory}}
        />

        <IssueReportModal::NonBlockingCandidateIssueCertificationIssueReportFields
          @nonBlockingCandidateIssueCategory={{this.nonBlockingCandidateIssueCategory}}
          @toggleOnCategory={{this.toggleOnCategory}}
          @maxlength={{@maxlength}}
          @updateNonBlockingCandidateIssueCategoryDescription={{this.updateNonBlockingCandidateIssueCategory}}
        />

        {{#if (eq @version 2)}}
          <IssueReportModal::InChallengeCertificationIssueReportFields
            @inChallengeCategory={{this.inChallengeCategory}}
            @toggleOnCategory={{this.toggleOnCategory}}
            @maxlength={{@maxlength}}
          />
        {{/if}}
      </div>

      {{#if this.showCategoryMissingError}}
        <PixMessage @type="error">{{t
            "pages.session-finalization.add-issue-modal.actions.select-category"
          }}</PixMessage>
      {{/if}}

      {{#if this.showIssueReportSubmitError}}
        <PixMessage @type="error">{{t "pages.session-finalization.add-issue-modal.errors.add-reporting"}}</PixMessage>
      {{/if}}
    </form>
  </:content>
  <:footer>
    <PixButton @triggerAction={{@closeModal}} @backgroundColor="transparent-light">
      {{t "common.actions.cancel"}}</PixButton>
    <PixButton
      form="add-issue-report-form"
      @type="submit"
      aria-label={{t "pages.session-finalization.add-issue-modal.actions.add-reporting"}}
    >{{t "common.actions.validate"}}</PixButton>
  </:footer>
</PixModal>