<fieldset class="candidate-information-change-certification-issue-report-fields">
  <div class="candidate-information-change-certification-issue-report-fields__radio-button">
    <input
      id="input-radio-for-category-candidate-information-change"
      type="radio"
      name="candidate-information-change"
      checked={{@candidateInformationChangeCategory.isChecked}}
      {{on "click" (fn @toggleOnCategory @candidateInformationChangeCategory)}}
    />
    <label for="input-radio-for-category-candidate-information-change"><span
      >{{@candidateInformationChangeCategory.categoryCode}}&nbsp;</span>{{@candidateInformationChangeCategory.categoryLabel}}</label>
  </div>
  {{#if @candidateInformationChangeCategory.isChecked}}
    <div class="candidate-information-change-certification-issue-report-fields__details">
      <label for="subcategory-for-category-candidate-information-change">Sélectionnez une sous-catégorie :</label>
      <PixSelect
        @id="subcategory-for-category-candidate-information-change"
        @options={{this.options}}
        @value={{@candidateInformationChangeCategory.subcategory}}
        @onChange={{this.onChangeSubcategory}}
      />
      <label for="text-area-for-category-candidate-information-change">{{this.subcategoryTextAreaLabel}}</label>
      <PixTextarea
        @id="text-area-for-category-candidate-information-change"
        @value={{@candidateInformationChangeCategory.description}}
        @maxlength={{@maxlength}}
        required="true"
      />
    </div>
  {{/if}}
</fieldset>