<fieldset class="fraud-certification-issue-report-fields">
  <div class="fraud-certification-issue-report-fields__radio-button">
    <input
      id="input-radio-for-category-fraud"
      type="radio"
      name="fraud"
      checked={{@fraudCategory.isChecked}}
      {{on "click" (fn @toggleOnCategory @fraudCategory)}}
    />
    <label for="input-radio-for-category-fraud"><span
      >{{@fraudCategory.categoryCode}}&nbsp;</span>{{@fraudCategory.categoryLabel}}</label>
  </div>
  {{#if @fraudCategory.isChecked}}
    <div class="fraud-certification-issue-report-fields__details">
      <p>{{t "pages.session-finalization.add-issue-modal.actions.transmit-report" htmlSafe=true}}
        <FaIcon @icon="up-right-from-square" aria-hidden="true" />
        <span class="sr-only">{{t "navigation.external-link-title"}}</span>
      </p>
    </div>
  {{/if}}
</fieldset>