<fieldset class="candidate-information-change-certification-issue-report-fields">
  <div class="candidate-information-change-certification-issue-report-fields__radio-button">
    {{! template-lint-disable require-input-label }}
    <input
      aria-label="Sélectionner la catégorie '{{@inChallengeCategory.categoryLabel}}'"
      id="input-radio-for-category-in-challenge"
      type="radio"
      name="in-challenge"
      checked={{@inChallengeCategory.isChecked}}
      {{on "click" (fn @toggleOnCategory @inChallengeCategory)}}
    />
    <label for="input-radio-for-category-in-challenge"><span
      >{{this.categoryCode}}&nbsp;</span>{{@inChallengeCategory.categoryLabel}}</label>
  </div>
  {{#if @inChallengeCategory.isChecked}}
    <div class="candidate-information-change-certification-issue-report-fields__details">
      <label for="input-for-category-in-challenge-question-number">Numéro de question :</label>
      <Input
        id="input-for-category-in-challenge-question-number"
        name="question-number"
        @type="number"
        max="64"
        required="true"
        @value={{@inChallengeCategory.questionNumber}}
        placeholder="7"
      />
      <label for="subcategory-for-category-in-challenge">Sélectionnez une sous-catégorie :</label>
      <PixSelect
        aria-label="Sélectionner la sous-catégorie"
        @id="subcategory-for-category-in-challenge"
        @options={{this.options}}
        @value={{@inChallengeCategory.subcategory}}
        @onChange={{this.onChangeSubcategory}}
      />
    </div>
  {{/if}}
</fieldset>