<AppModal @containerClass="pix-modal-dialog--wide" @onClose={{@closeModal}}>
  <div class="add-issue-report-modal">
    <div class="pix-modal__close-button">
      <button type="button" data-test-id="finalize-session-modal__close-cross" {{on "click" @closeModal}}>Fermer
        <img src="/icons/icon-close-modal.svg" alt="Fermer la fenêtre de confirmation" width="24" height="24">
      </button>
    </div>

    <div class="pix-modal__container pix-modal__container--white">
      <div class="add-issue-report-modal__title">
        <h1>Signalement du candidat</h1>
        <h3>{{@report.firstName}} {{@report.lastName}}</h3>
      </div>

      <div class="add-issue-report-modal__content">
        <h2>Mes signalements ({{@report.certificationIssueReports.length}})</h2>
        <div class="add-issue-report-modal__content--frame">
          <ul>
            {{#each @report.certificationIssueReports as |issueReport|}}
              <li>
                <p class="add-issue-report-modal-content__category-label">{{issueReport.categoryLabel}}</p>
                {{#if issueReport.subcategoryLabel}}
                <p class="add-issue-report-modal-content__subcategory-label">{{issueReport.subcategoryLabel}}</p>
                {{/if}}
              </li>
            {{/each}}
          </ul>
          <button type="button" class="button__secondary" {{on 'click' (fn @onClickIssueReport @report)}}>
            <FaIcon @icon="plus"/>Ajouter un signalement
          </button>
        </div>
      </div>
    </div>
  </div>
</AppModal>