<PixModal
  @showModal={{@showModal}}
  @title="{{t 'pages.session-finalization.issue-reports-modal.title'}} {{@report.firstName}} {{@report.lastName}}"
  @onCloseButtonClick={{@closeModal}}
  class="issue-report-modal"
>
  <:content>
    <h2>{{t "pages.session-finalization.issue-reports-modal.subtitle"}}
      ({{@report.certificationIssueReports.length}})</h2>
    <div class="issue-report-modal__frame">
      <ul>
        {{#each @report.certificationIssueReports as |issueReport|}}
          <li class="issue-report-modal__report">
            <p class="issue-report-modal__category-label">
              {{issueReport.categoryCode}}&nbsp;{{t issueReport.categoryLabel}}
              <PixIconButton
                @icon="trash"
                aria-label={{t "pages.session-finalization.issue-reports-modal.actions.delete-reporting"}}
                @triggerAction={{fn this.handleClickOnDeleteButton issueReport}}
              />
            </p>
            {{#if issueReport.subcategoryLabel}}
              <p class="issue-report-modal__subcategory-label">{{issueReport.subcategoryCode}}&nbsp;{{t
                  issueReport.subcategoryLabel
                }}</p>
            {{/if}}
          </li>
        {{/each}}
      </ul>
      <PixButton @triggerAction={{fn @onClickIssueReport @report}} class="issue-report-modal__add-button">
        <FaIcon @icon="plus" />
        {{t "pages.session-finalization.issue-reports-modal.actions.add-reporting"}}
      </PixButton>
    </div>

    {{#if this.showDeletionError}}
      <PixMessage @type="error">{{t
          "pages.session-finalization.issue-reports-modal.errors.delete-reporting"
        }}</PixMessage>
    {{/if}}
  </:content>
</PixModal>