<fieldset class="non-blocking-candidate-issue-certification-issue-report-fields">
  <div class="non-blocking-candidate-issue-certification-issue-report-fields__radio-button__tooltip">
    <input
      id="input-radio-for-category-candidate-issue"
      type="radio"
      name="candidate-issue"
      checked={{@nonBlockingCandidateIssueCategory.isChecked}}
      {{on "click" (fn @toggleOnCategory @nonBlockingCandidateIssueCategory)}}
    />
    <label for="input-radio-for-category-candidate-issue"><span
      >{{@nonBlockingCandidateIssueCategory.categoryCode}}&nbsp;</span>{{@nonBlockingCandidateIssueCategory.categoryLabel}}</label>
    <PixTooltip @id="tooltip-candidate-issue" @position="right" @isWide={{true}}>
      <:triggerElement>
        <FaIcon
          @icon="info-circle"
          tabindex="0"
          aria-describedby="tooltip-candidate-issue"
          aria-label="Incident technique"
        />
      </:triggerElement>
      <:tooltip>
        <span>{{t "pages.session-finalization.add-issue-modal.non-blocking-issues.candidate-examples"}}</span>
      </:tooltip>
    </PixTooltip>
  </div>
  {{#if @nonBlockingCandidateIssueCategory.isChecked}}
    <PixMessage @type="info" @withIcon={{true}}>
      {{t "pages.session-finalization.add-issue-modal.non-blocking-issues.candidate-information"}}
    </PixMessage>
    <div class="non-blocking-candidate-issue-certification-issue-report-fields__details">
      <label for="text-area-for-category-candidate-issue">{{t
          "pages.session-finalization.add-issue-modal.actions.describe"
        }}</label>
      <PixTextarea
        id="text-area-for-category-candidate-issue"
        @value={{@nonBlockingCandidateIssueCategory.description}}
        @maxlength={{@maxlength}}
        required="true"
      />
    </div>
  {{/if}}
</fieldset>