<fieldset class="non-blocking-technical-issue-certification-issue-report-fields">
  <div class="non-blocking-technical-issue-certification-issue-report-fields__radio-button__tooltip">
    <input
      id="input-radio-for-category-technical-issue"
      type="radio"
      name="technical-issue"
      checked={{@nonBlockingTechnicalIssueCategory.isChecked}}
      {{on "click" (fn @toggleOnCategory @nonBlockingTechnicalIssueCategory)}}
    />
    <label for="input-radio-for-category-technical-issue"><span
      >{{@nonBlockingTechnicalIssueCategory.categoryCode}}&nbsp;</span>{{@nonBlockingTechnicalIssueCategory.categoryLabel}}</label>
    <PixTooltip @id="tooltip-technical-issue" @position="right" @isWide={{true}}>
      <:triggerElement>
        <FaIcon
          @icon="info-circle"
          tabindex="0"
          aria-describedby="tooltip-technical-issue"
          aria-label="{{t 'pages.session-finalization.add-issue-modal.errors.technical-issue'}}"
        />
      </:triggerElement>
      <:tooltip>
        <span>{{t "pages.session-finalization.add-issue-modal.non-blocking-issues.technical-examples"}}</span>
      </:tooltip>
    </PixTooltip>
  </div>
  {{#if @nonBlockingTechnicalIssueCategory.isChecked}}
    <PixMessage @type="info" @withIcon={{true}}>
      {{t "pages.session-finalization.add-issue-modal.non-blocking-issues.technical-information"}}
    </PixMessage>
    <div class="non-blocking-technical-issue-certification-issue-report-fields__details">
      <label for="text-area-for-category-technical-issue">{{t
          "pages.session-finalization.add-issue-modal.actions.describe"
        }}</label>
      <PixTextarea
        id="text-area-for-category-technical-issue"
        @value={{@nonBlockingTechnicalIssueCategory.description}}
        @maxlength={{@maxlength}}
        required="true"
      />
    </div>
  {{/if}}
</fieldset>