{{page-title "Sessions à publier"}}
{{#if @model.length}}
  {{#if this.isCurrentUserAllowedToPublishSession}}
    <div class="session-to-be-publish__publish-all">
      <PixButton @triggerAction={{this.showConfirmModal}}>Publier toutes les sessions</PixButton>
    </div>
  {{/if}}
{{/if}}

<ToBePublishedSessions::ListItems @toBePublishedSessions={{@model}} @publishSession={{this.publishSession}} />

<ConfirmPopup
  @message="Vous vous apprêtez à publier {{@model.length}} session(s) de certification, souhaitez vous poursuivre ?"
  @confirm={{this.batchPublishSessions}}
  @cancel={{this.hideConfirmModal}}
  @show={{this.shouldShowModal}}
/>