<article class="campaign-participation-overview-card">
  <header class="campaign-participation-overview-card__header">
    <PixTag class="campaign-participation-overview-card-header__tag"
            @compact={{true}}
            @color={{this.cardInfo.tagColor}}>
      {{t this.cardInfo.tagText}}
    </PixTag>
    <h3 class="campaign-participation-overview-card-header__title">{{@model.organizationName}}</h3>
    <strong class="campaign-participation-overview-card-header__subtitle">{{@model.campaignTitle}}</strong>
    <time class="campaign-participation-overview-card-header__date"
          datetime="{{@model.date}}">
      {{t this.cardInfo.dateText date=(format-date @model.date)}}
    </time>
  </header>
  <section class="campaign-participation-overview-card-content">
    {{#if (eq @model.status "finished")}}
      <p class="campaign-participation-overview-card-content__content">
        {{t 'pages.campaign-participation-overview.card.results' result=@model.masteryPercentage}}
      </p>
    {{/if}}
    <LinkTo class="{{this.cardInfo.actionClass}} campaign-participation-overview-card-content__action"
            @route="campaigns.start-or-resume"
            @model={{@model.campaignCode}}>
      {{#if (eq @model.status "finished")}}
        <FaIcon @icon='arrow-right' aria-hidden="true"></FaIcon>
      {{/if}}
      {{t this.cardInfo.actionText}}
    </LinkTo>
  </section>
</article>
