<div class="language">
  <PixSelect
    @options={{this.options}}
    @onChange={{this.onChangeLang}}
    @value={{@model.lang}}
    @label={{t "pages.user-account.language.lang"}}
    @hideDefaultOption={{true}}
    data-test-lang
  />
</div>