<div class="language">
  <LanguageSwitcher
    @label="{{t 'pages.user-account.language.lang'}}"
    @selectedLanguage={{@model.lang}}
    @onLanguageChange={{this.onLanguageChange}}
  />

  {{#if this.shouldDisplayLanguageUpdatedMessage}}
    <PixMessage class="language__notification" @type="success" @withIcon={{true}}>
      {{t "pages.user-account.language.update-successful"}}
    </PixMessage>
  {{/if}}
</div>