<div class="language">
  <Pix::LanguageSwitcher
    @ariaLabel={{t "pages.inscription.choose-language-aria-label"}}
    @label="{{t 'pages.user-account.language.lang'}}"
    @selectedLanguage={{@model.lang}}
    @onLanguageChange={{this.onLanguageChange}}
  />

  {{#if this.shouldDisplayLanguageUpdatedMessage}}
    <PixMessage @type="success" @withIcon={{true}}>
      {{t "pages.user-account.language.update-successful"}}
    </PixMessage>
  {{/if}}
</div>