<div class="login-form">

  {{#unless @isWithInvitation }}
    <div class="login-form__information">{{t 'pages.login-form.is-only-accessible'}}</div>
  {{/unless}}

  {{#if @hasInvitationError}}
    <div class="login-form__invitation-error">{{t 'pages.login-form.invitation-already-accepted'}}</div>
  {{/if}}

  {{#if this.isErrorMessagePresent}}
    <div id="login-form-error-message" class="login-form__error-message error-message">
      {{this.errorMessage}}
    </div>
  {{/if}}

  <form {{on 'submit' this.authenticate}}>

    <div class="input-container">
      <label for="login-email" class="label">{{t 'pages.login-form.email'}}</label>
      <Input
        @id="login-email"
        @type="email"
        @value={{this.email}}
        name="login"
        class="input"
        autocomplete="username"
        required={{true}}
      />
    </div>

    <div class="input-container">
      <label for="login-password" class="label">{{t 'pages.login-form.password'}}</label>
      <div class="input-password">
        <Input
          @id="login-password"
          @type={{this.passwordInputType}}
          @value={{this.password}}
          name="password"
          class="input"
          autocomplete="current-password"
          required={{true}}
        />
        <PixIconButton
          @icon="{{if this.isPasswordVisible 'eye' 'eye-slash'}}"
          aria-label="{{t 'pages.login-form.show-password'}}"
          @triggerAction={{this.togglePasswordVisibility}}
          @withBackground={{false}}
          @color="dark-grey"
        />
      </div>
    </div>

    <div class="input-container">
      {{#if this.isLoading}}
        <button type="button" class="button"><span class="loader-in-button">&nbsp;</span></button>
      {{else}}
        <button type="submit" class="button login-form__button">{{t 'pages.login-form.login'}}</button>
      {{/if}}
    </div>

    <div>
      <div class="login-form__forgotten-password help-text">
        <a href="{{t 'pages.login-form.forgotten-password-url'}}"
           target="_blank" rel="noopener noreferrer" class="link">
          {{t 'pages.login-form.forgot-password'}}
        </a>
      </div>
      {{#unless @isWithInvitation}}
        <div>
          <div class="login-form__recover-access-link help-text">
            <LinkTo @route="join-request" class="link">{{t 'pages.login-form.active-or-retrieve'}}</LinkTo>
          </div>
          <div class="login-form__recover-access-message help-text">({{t 'pages.login-form.only-for-admin'}})</div>
        </div>
      {{/unless}}
    </div>

  </form>

</div>
