{{#if @model.errors}}
  <h1>{{@model.errors}}</h1>
{{else}}
  <AccountRecovery::UpdateScoRecordForm
    @firstName={{@model.firstName}}
    @email={{@model.email}}
    @temporaryKey={{@model.temporaryKey}}
  />
{{/if}}
