<form class="form edit-training-trigger" {{on "submit" this.onSubmit}}>
  <Trainings::EditTriggerThreshold
    @title={{this.thresholdTitle}}
    @description={{this.thresholdDescription}}
    @frameworks={{this.model.frameworks}}
    @onChange={{this.updateTubes}}
  />

  <ul class="edit-training-trigger__actions">
    <li>
      <PixButton @variant="secondary" @size="large" @triggerAction={{this.onCancel}}>
        Annuler
      </PixButton>
    </li>
    <li>
      <PixButton @variant="success" @size="large" @type="submit" @isLoading={{this.submitting}}>
        Enregistrer le déclencheur
      </PixButton>
    </li>
  </ul>
</form>