{{#if @participations}}
  <h2 class="screen-reader-only">{{t "pages.organization-learner.activity.participations-title"}}</h2>
  <OrganizationLearner::Activity::ParticipationList
    @participations={{@participations}}
    class="activity__participants-list"
  />
{{else}}
  <OrganizationLearner::Activity::EmptyState @firstName={{@learner.firstName}} @lastName={{@learner.lastName}} />
{{/if}}