{{page-title (t 'pages.skill-review.title')}}

<div class="background-banner-wrapper">
  <div class="skill-review__banner">
    <AssessmentBanner @title={{this.model.assessment.title}} @displayHomeLink={{false}} />
  </div>
  <div class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner skill-review__result-container">
    {{#if (not this.model.campaignParticipation.campaign.isArchived )}}
      <h3 class="rounded-panel-title skill-review-result__abstract">
        {{t 'pages.skill-review.abstract' percentage=this.model.campaignParticipation.campaignParticipationResult.masteryPercentage htmlSafe=true}}
      </h3>
      <div class="skill-review-result__share-container">
        {{#if this.model.campaignParticipation.isShared}}
          <p class="skill-review-share__thanks">
            {{t 'pages.skill-review.already-shared'}}
          </p>
          <LinkTo @route="index" class="skill-review-share__back-to-home link">
            {{t 'pages.skill-review.actions.continue'}}
          </LinkTo>
        {{else}}
          <p class="skill-review-share__legal">
            {{t 'pages.skill-review.send-results'}}
          </p>

          {{#if this.displayErrorMessage}}
            <div class="skill-review-share__error" aria-live="polite">
              {{t 'pages.skill-review.not-finished'}}
            </div>
          {{/if}}

          {{#if this.displayLoadingButton}}
            <button type="button" disabled class="button button--extra-big skill-review-share__button">
              <span class="loader-in-button">&nbsp;</span>
            </button>
          {{else}}
            <button class="button button--extra-big skill-review-share__button" {{on "click" this.shareCampaignParticipation}}>
              {{t 'pages.skill-review.actions.send'}}
            </button>
          {{/if}}
        {{/if}}
      </div>
      {{#if this.displayImprovementButton}}
        {{#unless model.campaignParticipation.isShared}}
          <div class="skill-review-result__dash-line"></div>
          <div class="skill-review__begin-improvement">
            <div>
              <h2 class="skill-review__subtitle">
                {{t 'pages.skill-review.try-again.title'}}
              </h2>
              <p class="skill-review__explain-text">
                {{t 'pages.skill-review.try-again.description'}}
              </p>
            </div>
            <button class="button button--dark-grey button--big skill-review__improvement-button" {{on "click" this.improvementCampaignParticipation}}>
              {{t 'pages.skill-review.actions.try-again'}}
            </button>
          </div>
        {{/unless}}
      {{/if}}
    {{else}}
      <div class="skill-review__campaign-archived">
        <img class="skill-reviw__campaign-archived-image " src="{{this.rootURL}}/images/bees/fat-bee.svg">
        <p class="skill-review__campaign-archived-text">
          {{t 'pages.skill-review.archived' htmlSafe=true}}
        </p>
        <LinkTo @route="index" class="skill-review-share__back-to-home link">
          {{t 'pages.skill-review.actions.continue'}}
        </LinkTo>
      </div>
    {{/if}}
    <div class="skill-review-result__dash-line"></div>

    {{#if this.showBadges}}
      <div class="badge-acquired-container">
        {{#each this.acquiredBadges as |badge|}}
          <BadgeAcquiredCard
            @title="{{badge.title}}"
            @message="{{badge.message}}"
            @imageUrl="{{badge.imageUrl}}"
            @altMessage="{{badge.altMessage}}"
          />
        {{/each}}
      </div>
      <div class="skill-review-result__dash-line"></div>
    {{/if}}

    <div class="skill-review-result__table-header">
      <h2 class="skill-review-result__subtitle">
        {{t 'pages.skill-review.details.title'}}
      </h2>
      <CircleChart @value={{this.model.campaignParticipation.campaignParticipationResult.masteryPercentage}}>
        <span aria-label="{{t "pages.skill-review.details.result"}}" class="skill-review-table-header__circle-chart-value">
          {{@model.campaignParticipation.campaignParticipationResult.masteryPercentage}}%
        </span>
      </CircleChart>
    </div>

    <table class="default-table">
      <thead>
      <tr>
        <th>{{t 'pages.skill-review.details.header-skill'}}</th>
        <th>{{t 'pages.skill-review.details.header-result'}}</th>
      </tr>
      </thead>

      <tbody>
      {{#if this.showCleaCompetences}}
        {{#each this.model.campaignParticipation.campaignParticipationResult.cleaBadge.partnerCompetenceResults as |partnerCompetence|}}
          <tr aria-label="{{t "pages.skill-review.details.result-by-skill"}}">
            <td>
              <span class="skill-review-competence__bullet skill-review-competence__bullet--{{partnerCompetence.areaColor}}">&#8226;</span>
              <span>{{partnerCompetence.name}}</span>
            </td>
            <td>
              <ProgressionGauge @total={{partnerCompetence.totalSkillsCountPercentage}}
                                @value={{partnerCompetence.masteryPercentage}}>
                {{t 'pages.skill-review.details.skill-progress' percentage=partnerCompetence.masteryPercentage skill=partnerCompetence.name htmlSafe=true}}
              </ProgressionGauge>
            </td>
          </tr>
        {{/each}}
      {{else}}
        {{#each this.model.campaignParticipation.campaignParticipationResult.competenceResults as |competence|}}
          <tr aria-label="{{t "pages.skill-review.details.result-by-skill"}}">
            <td>
              <span class="skill-review-competence__bullet skill-review-competence__bullet--{{competence.areaColor}}">&#8226;</span>
              <span>{{competence.name}}</span>
            </td>
            <td>
              <ProgressionGauge @total={{competence.totalSkillsCountPercentage}}
                                @value={{competence.masteryPercentage}}>
                {{t 'pages.skill-review.details.skill-progress' percentage=competence.masteryPercentage skill=competence.name htmlSafe=true}}
              </ProgressionGauge>
            </td>
          </tr>
        {{/each}}
      {{/if}}

      </tbody>
    </table>

    <div class="skill-review-result__information">
      {{fa-icon 'info-circle' class='skill-review-information__info-icon'}}
      <div class="skill-review-information__text">
        {{t 'pages.skill-review.information'}}
      </div>
    </div>

  </div>
</div>
