{{! template-lint-disable style-concatenation no-inline-styles }}
<div class="challenge-embed-simulator">
  {{#if @hideSimulator}}
    <div class="challenge-embed-simulator__overlay"></div>
  {{/if}}

  {{#if @fragment}}
    <div {{on "answer" this.handleAnswer}}>
      {{{@fragment}}}
    </div>
  {{else}}
    <iframe
      tabindex={{if @hideSimulator "-1"}}
      class="challenge-embed-simulator__iframe"
      src="{{@url}}"
      title="{{@title}}"
      style="{{this.embedDocumentHeightStyle}}"
    >
    </iframe>
  {{/if}}
</div>