{{! template-lint-disable style-concatenation no-inline-styles }}
<div class="challenge-embed-simulator">
  {{#if @hideSimulator}}
    <div class="challenge-embed-simulator__overlay"></div>
  {{/if}}

  {{#if @fragment}}
    {{#if this.props}}
      <div {{on "answer" this.handleAnswer}}>
        <qcu-image-vue
          choices={{this.props.choices}}
          maxChoicesPerLine={{this.props.maxChoicesPerLine}}
          name={{this.props.name}}
          hideChoicesName={{this.props.hideChoicesName}}
          imageChoicesSize={{this.props.imageChoicesSize}}
        ></qcu-image-vue>
      </div>
    {{/if}}
  {{else}}
    <iframe
      tabindex={{if @hideSimulator "-1"}}
      class="challenge-embed-simulator__iframe"
      src="{{@url}}"
      title="{{@title}}"
      style="{{this.embedDocumentHeightStyle}}"
    >
    </iframe>
  {{/if}}
</div>