<header class="mission-header">
  <div>
    <Ui::Breadcrumb @links={{this.breadcrumbLinks}} />
  </div>
  <div class="mission-header-informations">
    <h1 class="mission-header-informations__title">
      {{@mission.name}}
    </h1>

    <dl class="mission-header-informations__details">
      <div class="mission-header-informations__details-item">
        <dt class="label-text">
          {{t "pages.missions.details.competence.title"}}
        </dt>
        <dd>
          <p>
            {{@mission.competenceName}}
          </p>
        </dd>
      </div>
    </dl>
  </div>

  <Mission::MissionInformation @mission={{@mission}} />
</header>