{{page-title "Home"}}
<div>
  <RobotDialog>
    <Bubble @message={{t "pages.missions.start-page.list" prenom=@model.firstName backUrl=this.schoolUrl}} />
  </RobotDialog>

  <div class="cards">
    <PixButton @triggerAction={{this.goToMission "recExjO7RHeDI48HK"}} class="card">
      <MissionCard
        @title="Recherche sur internet"
        @colorClass="red"
        @imageName="internet-search"
        @missionCompleted={{this.missionCompleted "recExjO7RHeDI48HK"}}
      />
    </PixButton>

    <PixButton @triggerAction={{this.goToMission "recZtwymXXrtdXRrx"}} class="card">
      <MissionCard
        @title="Données personnelles"
        @colorClass="blue"
        @imageName="personal-data"
        @missionCompleted={{this.missionCompleted "recZtwymXXrtdXRrx"}}
      />
    </PixButton>
  </div>
</div>