<section class="page-section">
  <h2 class="page-section__title">{{@autonomousCourse.internalTitle}}</h2>

  {{#if this.isEditMode}}
    <AutonomousCourses::UpdateAutonomousCourseForm
      @autonomousCourse={{@autonomousCourse}}
      @update={{this.update}}
      @cancel={{this.toggleEditMode}}
    />
  {{else}}
    <AutonomousCourses::ViewAutonomousCourse @autonomousCourse={{@autonomousCourse}} />
    <div class="form-actions">
      <PixButton
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @size="small"
        @triggerAction={{this.toggleEditMode}}
      >
        Éditer
      </PixButton>
    </div>
  {{/if}}

</section>