{{!-- template-lint-disable no-action --}}

{{#if @edition}}
  <div class="row form-group certification-info-field">
    <label class="{{this.leftWidth}} col-form-label" for={{@id}}>{{@label}}</label>
    <div class="{{this.rightWidth}} certificate">
      {{#if @isDate}}
        <EmberFlatpickr
          @id={{@fieldId}}
          @altFormat="d/m/Y"
          @altInput={{true}}
          @onChange={{action @onUpdateCertificationBirthdate}}
          @dateFormat="Y-m-d"
          @locale="fr"
          @date={{@value}}
          @name={{@fieldId}}
          @class="form-control" />
      {{else}}
        <Input id={{@fieldId}} @type="text" @value={{@value}} class="form-control" />
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="row certification-info-field">
    <div class="{{this.leftWidth}} certification-info-label">{{@label}}</div>
    <div class="{{this.rightWidth}} certification-info-value">
      {{#if @linkRoute}}
        <LinkTo @route={{@linkRoute}} @model={{@value}}>
          {{@value}} {{@suffix}}
        </LinkTo>
      {{else}}
        {{#if @isDate}}
          {{moment-format @value 'DD/MM/YYYY' allow-empty=true}}
        {{else}}
          {{@value}} {{@suffix}}
        {{/if}}
      {{/if}}
    </div>
  </div>
{{/if}}
