<BsModal @onHide={{onHide}} @open={{show}} @size="lg" as |modal|>
  <modal.header>
    <h4 class="modal-title">Analyse du PV de session</h4>
  </modal.header>

  <modal.body>
    <div class="certification-session-report__body">

        <section class="data-section data-section--total-certifications">
            <div class="row mb-2">
                <div class="col-8">
                    <button class="data-section__switch" type="button" {{action "toggleSection" "displayTotalCertifications"}}>Total</button>
                </div>
                <div class="col-3">
                    <span class="data-section__counter">{{certifications.length}}</span>
                </div>
                <div class="col-1">
                  {{#if certifications.length}}
                    {{fa-icon "check" class="data-section__status--success"}}
                  {{else}}
                    {{fa-icon "times" class="data-section__status--failure"}}
                  {{/if}}
                </div>
            </div>
          {{#if (and certifications.length displayTotalCertifications)}}
              <div class="row mb-4">
                  <div class="col-8 data-section__certification-ids">
                    {{#each certifications as |item|}}
                        <span class="data-section__certification-id">{{item.id}}</span>
                    {{/each}}
                  </div>
              </div>
          {{/if}}
        </section>

        <section class="data-section data-section--out-of-session-certifications">
            <div class="row mb-2">
                <div class="col-8">
                    <button class="data-section__switch" type="button" {{action "toggleSection" "displayOutOfSessionCertifications"}}>Hors session</button>
                </div>
                <div class="col-3">
                    <span class="data-section__counter">{{outOfSessionCertifications.length}}</span>
                </div>
                <div class="col-1">
                  {{#if outOfSessionCertifications.length}}
                    {{fa-icon "times" class="data-section__status--failure"}}
                  {{else}}
                    {{fa-icon "check" class="data-section__status--success"}}
                  {{/if}}
                </div>
            </div>
          {{#if (and outOfSessionCertifications.length displayOutOfSessionCertifications)}}
              <div class="row mb-4">
                  <div class="col-8 data-section__certification-ids">
                    {{#each outOfSessionCertifications as |item|}}
                        <span class="data-section__certification-id">{{item.id}}</span>
                    {{/each}}
                  </div>
              </div>
          {{/if}}
        </section>

        <section class="data-section data-section--incomplete-certifications">
            <div class="row mb-2">
                <div class="col-8">
                    <button class="data-section__switch" type="button" {{action "toggleSection" "displayIncompleteCertifications"}}>Incomplètes</button>
                </div>
                <div class="col-3">
                    <span class="data-section__counter">{{incompleteCertifications.length}}</span>
                </div>
                <div class="col-1">
                  {{#if incompleteCertifications.length}}
                    {{fa-icon "times" class="data-section__status--failure"}}
                  {{else}}
                    {{fa-icon "check" class="data-section__status--success"}}
                  {{/if}}
                </div>
            </div>
          {{#if (and incompleteCertifications.length displayIncompleteCertifications)}}
              <div class="row mb-4">
                  <div class="col-8 data-section__certification-ids">
                    {{#each incompleteCertifications as |item|}}
                        <span class="data-section__certification-id">{{item.id}}</span>
                    {{/each}}
                  </div>
              </div>
          {{/if}}
        </section>

        <section class="data-section data-section--duplicate-certification-ids">
            <div class="row mb-2">
                <div class="col-8">
                    <button class="data-section__switch" type="button" {{action "toggleSection" "displayDuplicateCertificationIds"}}>Doublons</button>
                </div>
                <div class="col-3">
                    <span class="data-section__counter">{{duplicateCertificationIds.length}}</span>
                </div>
                <div class="col-1">
                  {{#if duplicateCertificationIds.length}}
                    {{fa-icon "times" class="data-section__status--failure"}}
                  {{else}}
                    {{fa-icon "check" class="data-section__status--success"}}
                  {{/if}}
                </div>
            </div>
          {{#if (and duplicateCertificationIds.length displayDuplicateCertificationIds)}}
              <div class="row mb-4">
                  <div class="col-8 data-section__certification-ids">
                    {{#each duplicateCertificationIds as |item|}}
                        <span class="data-section__certification-id">{{item}}</span>
                    {{/each}}
                  </div>
              </div>
          {{/if}}
        </section>

        <section class="data-section data-section--has-not-seen-last-screen-certifications">
            <div class="row mb-2">
                <div class="col-8">
                    <button class="data-section__switch" type="button" {{action "toggleSection" "displayNoLastScreenSeenCertifications"}}>Écrans de fin de test non vus</button>
                </div>
                <div class="col-3">
                    <span class="data-section__counter">{{noLastScreenSeenCertifications.length}}</span>
                </div>
                <div class="col-1">
                  {{#if noLastScreenSeenCertifications.length}}
                    {{fa-icon "times" class="data-section__status--failure"}}
                  {{else}}
                    {{fa-icon "check" class="data-section__status--success"}}
                  {{/if}}
                </div>
            </div>
          {{#if (and noLastScreenSeenCertifications.length displayNoLastScreenSeenCertifications)}}
              <div class="row mb-4">
                  <div class="col-8 data-section__candidates-names">
                    {{#each noLastScreenSeenCertifications as |item|}}
                    {{#if (eq item.hasSeenLastScreenFromPaperReportEnhanced "NOT_LINKED")}}
                        <span class="data-section__candidate-names__not-linked">{{item.lastName}} {{item.firstName}}</span>
                    {{else if (eq item.hasSeenLastScreenFromPaperReportEnhanced 'NOT_IN_SESSION')}}
                        <span class="data-section__candidate-names__not-in-session">{{item.lastName}} {{item.firstName}}</span>
                    {{else if (eq item.hasSeenLastScreenFromPaperReportEnhanced 'LINKED')}}
                        <span class="data-section__candidate-names__linked">{{item.lastName}} {{item.firstName}}</span>
                    {{else}}
                        <span class="data-section__candidate-names">{{item.lastName}} {{item.firstName}}</span>
                    {{/if}}
                    {{/each}}
                  </div>
              </div>
              <div>
              Légende :
                  <div>Candidat lié : <span class="data-section__candidate-names__linked"/></div>
                  <div>Candidat non lié : <span class="data-section__candidate-names__not-linked"/></div>
                  <div>Candidat non trouvé dans la liste des inscrits : <span class="data-section__candidate-names__not-in-session"/></div>
              </div>
          {{/if}}
        </section>

        <section class="data-section data-section--has-examiner-comment-screen-certifications">
            <div class="row mb-2">
                <div class="col-8">
                    <button class="data-section__switch" type="button" {{action "toggleSection" "displayCommentedByExaminerCertifications"}}>Commentaires du surveillant</button>
                </div>
                <div class="col-3">
                    <span class="data-section__counter">{{commentedByExaminerCertifications.length}}</span>
                </div>
                <div class="col-1">
                  {{#if commentedByExaminerCertifications.length}}
                    {{fa-icon "times" class="data-section__status--failure"}}
                  {{else}}
                    {{fa-icon "check" class="data-section__status--success"}}
                  {{/if}}
                </div>
            </div>
          {{#if (and commentedByExaminerCertifications.length displayCommentedByExaminerCertifications)}}
              <div class="row mb-4">
                  <div class="col-8 data-section__certification-ids">
                    {{#each commentedByExaminerCertifications as |item|}}
                        <span class="data-section__certification-id">{{item.id}}</span>
                    {{/each}}
                  </div>
              </div>
          {{/if}}
        </section>
    </div>

  </modal.body>
  <modal.footer as |footer|>
    <BsButton @onClick={{action modal.close}} @type="default">Fermer</BsButton>
    <BsButton @onClick={{onDownloadJuryFile}} @type="primary">Récupérer le fichier avant Jury</BsButton>
    <BsButton @onClick={{onSaveSessionReportCertifications}} @type="primary">Enregistrer les infos certifications</BsButton>
  </modal.footer>
</BsModal>