{{#if edition}}
  <div class='row form-group certification-status-select'>
    <label class='{{leftWidth}} col-form-label' for={{id}}>Statut :</label>
    <div class='{{rightWidth}} certificate'>
      <XSelect @value={{value}} @onChange={{action "selectOption"}} as |xs|>
        <xs.option @value="started">started</xs.option>
        <xs.option @value="error">error</xs.option>
        <xs.option @value="validated">validated</xs.option>
        <xs.option @value="rejected">rejected</xs.option>
      </XSelect>
    </div>
  </div>
{{else}}
  <div class='row certification-status-select'>
    <div class='{{leftWidth}} certification-info-label'>{{label}}</div>
    <div class='{{rightWidth}} certification-info-value'>
      {{value}}
    </div>
  </div>
{{/if}}
