<div class="card-body">
  <div class="card-title">{{competence.index}} {{competence.name}}</div>
  <div class="card-text">
    <div class="container">
      <div class="row">
        <div class="col-3">Positionné :</div>
        <div class="col">
          <div class="progress">
            <div class="progress-bar competence-level" role="progressbar"
                 aria-valuenow="{{ competence.positionedLevel }}" aria-valuemin="0" aria-valuemax="8"
                 style= {{positionedWidth}}>{{ competence.positionedLevel }}</div>
          </div>
        </div>
        <div class="col-2 competence-score">{{competence.positionedScore}} Pix</div>
      </div>
      <div class="row">
        <div class="col-3">Certifié :</div>
        <div class="col">
          <div class="progress">
            <div class="progress-bar competence-level certificate" role="progressbar"
                 aria-valuenow="{{ competence.obtainedLevel }}" aria-valuemin="0" aria-valuemax="8"
                 style= {{certifiedWidth}}>{{ competence.obtainedLevel }}</div>
          </div>
        </div>
        <div class="col-2 certificate">{{competence.obtainedScore}} Pix</div>
      </div>
      {{#if competenceJury}}
        <div class="row jury">
          <div class="col-3">Corrigé :</div>
          <div class="col">
            <div class="progress">
              <div class="progress-bar jury competence-level" role="progressbar"
                   aria-valuenow="{{ competenceJury.level }}" aria-valuemin="0" aria-valuemax="8"
                   style= {{competenceJury.width}}>{{competenceJury.level}}</div>
            </div>
          </div>
          <div class="col-2 jury competence-score">{{competenceJury.score}} Pix</div>
        </div>
      {{/if}}
      <div class="card-deck">
        {{#each answers as |answer|}}
          <CertificationDetailsAnswer @answer={{answer}} @onUpdateRate={{action onUpdateRate}} />
        {{/each}}
      </div>
    </div>
  </div>
</div>