<div class="certification-list">

  <ModelsTable @data={{certifications}}
               @columns={{columns}}
               @showColumnsDropdown={{false}}
               @showGlobalFilter={{false}}
               @useNumericPagination={{true}}
               @multipleSelect={{true}}
               @displayDataChangedAction={{action changeAction}}
               @pageSize={{25}}
               @pageSizeValues={{pageValues}} />

</div>
