<form class="login-form" {{action 'authenticateUser' on='submit'}}>
  <!-- Error message -->
  {{#if errorMessage}}
    <div class="login-form__control">
      <p class="login-form__error">{{errorMessage}}</p>
    </div>
  {{/if}}

  <!-- Field "identification" -->
  <div class="login-form__control">
    <Input class="login-form__field login-form__field--identification" @id="identification" placeholder="Enter Login" required="true" @value={{identification}} @autocomplete={{true}} />
  </div>

  <!-- Field "password" -->
  <div class="login-form__control">
    <Input class="login-form__field login-form__field--password" @id="password" placeholder="Enter Password" required="true" @type="password" @value={{password}} @autocomplete={{true}} />
  </div>

  <!-- Form submit button -->
  <div class="login-form__control">
    <button class="btn btn-primary login-form__button" type="submit">Connexion</button>
  </div>
</form>
