<div class="menu-bar">

  <ul class="menu-bar__entries">
    <li class="menu-bar__entry">
      {{#link-to "authenticated.organizations" class="menu-bar__link menu-bar__link--organizations"}}
        {{fa-icon "building"}}
        {{#bs-tooltip placement="right"}}Organisations{{/bs-tooltip}}
      {{/link-to}}
    </li>
    <li class="menu-bar__entry">
      {{#link-to "authenticated.users.list" class="menu-bar__link menu-bar__link--users"}}
        {{fa-icon "users"}}
        {{#bs-tooltip placement="right"}}Utilisateurs{{/bs-tooltip}}
      {{/link-to}}
    </li>
    <li class="menu-bar__entry">
      {{#link-to "authenticated.certifications" class="menu-bar__link menu-bar__link--certifications"}}
        {{fa-icon "graduation-cap"}}
        {{#bs-tooltip placement="right"}}Certifications{{/bs-tooltip}}
      {{/link-to}}
    </li>
    <li class="menu-bar__entry">
      {{#link-to "authenticated.tools" class="menu-bar__link menu-bar__link--tools"}}
        {{fa-icon "tools"}}
        {{#bs-tooltip placement="right"}}Outils{{/bs-tooltip}}
      {{/link-to}}
    </li>
    <li class="menu-bar__entry">
      {{#link-to "logout" class="menu-bar__link menu-bar__link--logout"}}
        {{fa-icon "power-off"}}
        {{#bs-tooltip placement="right"}}Se déconnecter{{/bs-tooltip}}
      {{/link-to}}
    </li>
  </ul>
</div>