<div class="menu-bar">

  <ul class="menu-bar__entries">
    <li class="menu-bar__entry">
      <LinkTo @route="authenticated.organizations" class="menu-bar__link menu-bar__link--organizations">
        {{fa-icon "building"}}
        <BsTooltip @placement="right">Organisations</BsTooltip>
      </LinkTo>
    </li>
    <li class="menu-bar__entry">
      <LinkTo @route="authenticated.users.list" class="menu-bar__link menu-bar__link--users">
        {{fa-icon "users"}}
        <BsTooltip @placement="right">Utilisateurs</BsTooltip>
      </LinkTo>
    </li>
    <li class="menu-bar__entry">
      <LinkTo @route="authenticated.certifications" class="menu-bar__link menu-bar__link--certifications">
        {{fa-icon "graduation-cap"}}
        <BsTooltip @placement="right">Certifications</BsTooltip>
      </LinkTo>
    </li>
    <li class="menu-bar__entry">
      <LinkTo @route="authenticated.certification-centers.list" class="menu-bar__link menu-bar__link--certification-centers">
        {{fa-icon "map-pin"}}
        <BsTooltip @placement="right">Centres de certification</BsTooltip>
      </LinkTo>
    </li>
    <li class="menu-bar__entry">
      <LinkTo @route="authenticated.sessions.list" class="menu-bar__link menu-bar__link--sessions">
        {{fa-icon "chalkboard-teacher"}}
        <BsTooltip @placement="right">Sessions</BsTooltip>
      </LinkTo>
    </li>
    <li class="menu-bar__entry">
      <LinkTo @route="authenticated.tools" class="menu-bar__link menu-bar__link--tools">
        {{fa-icon "tools"}}
        <BsTooltip @placement="right">Outils</BsTooltip>
      </LinkTo>
    </li>
    <li class="menu-bar__entry">
      <LinkTo @route="logout" class="menu-bar__link menu-bar__link--logout">
        {{fa-icon "power-off"}}
        <BsTooltip @placement="right">Se déconnecter</BsTooltip>
      </LinkTo>
    </li>
  </ul>
</div>
