<Card class="admin-form__card current-challenge" @title="Épreuve en cours">
  <p>Nom de l'acquis testé : <span class="current-challenge__name">{{@challenge.skill.name}}</span></p>
  <p class="current-challenge__details">Épreuve avec temps imparti ?
    <PixTag @compact="{{true}}" @color="{{if @challenge.timer 'tertiary' 'neutral'}}">
      {{if @challenge.timer "Oui" "Non"}}
    </PixTag>
  </p>
  <p class="current-challenge__details">Épreuve focus ?
    <PixTag @compact="{{true}}" @color="{{if @challenge.focused 'tertiary' 'neutral'}}">
      {{if @challenge.focused "Oui" "Non"}}
    </PixTag>
  </p>
  <div class="current-challenge__actions">
    <PixButton @backgroundColor="error" @size="big" @triggerAction={{@failCurrentChallenge}}>
      Rater l'épreuve
    </PixButton>
    <PixButton @backgroundColor="success" @size="big" @triggerAction={{@succeedCurrentChallenge}}>
      Réussir l'épreuve
    </PixButton>
    <PixButton @backgroundColor="neutral" @size="big" @triggerAction={{@reset}}>
      Redémarrer la simulation
    </PixButton>
  </div>
</Card>