<div class="list-students-page">
  <Routes::Authenticated::Students::ListItems
    @students={{this.model}}
    @isLoading={{this.isLoading}}
    @importStudents={{this.importStudents}}
    @connexionTypesOptions={{this.connexionTypesOptions}}
    @triggerFiltering={{this.triggerFiltering}}
    @lastNameFilter={{this.lastName}}
    @firstNameFilter={{this.firstName}}
    @connexionTypeFilter={{this.connexionType}}
    @refreshModel={{this.refresh}}
  />
</div>
