{{page-title @module.title}}
<BetaBanner />

<main class="module-passage">
  <div class="module-passage__title">
    <h1>{{@module.title}}</h1>
  </div>

  <div class="module-passage__content" aria-live="assertive" {{did-insert this.setGrainScrollOffsetCssProperty}}>
    {{#each this.grainsToDisplay as |grain index|}}
      <Module::Grain
        @grain={{grain}}
        @retryElement={{@retryElement}}
        @passage={{@passage}}
        @transition={{this.grainTransition grain.id}}
        @submitAnswer={{@submitAnswer}}
        @canMoveToNextGrain={{this.grainCanMoveToNextGrain index}}
        @continueAction={{this.continueToNextGrain}}
        @skipAction={{this.skipToNextGrain}}
        @shouldDisplayTerminateButton={{this.grainShouldDisplayTerminateButton index}}
        @terminateAction={{this.terminateModule}}
        @hasJustAppeared={{this.hasGrainJustAppeared index}}
      />
    {{/each}}
  </div>
</main>