{{#if hasChallengeTimer}}
  {{#unless hasUserConfirmWarning}}
    <WarningPage @hasUserConfirmWarning={{action "setUserConfirmation"}} @time={{challenge.timer}} />
  {{/unless}}
{{/if}}

{{#unless hasChallengeTimer}}
  <form {{action "validateAnswer" on="submit"}} class="rounded-panel">
    <ChallengeStatement @challenge={{challenge}} @assessment={{assessment}} @class="rounded-panel__row" />

    <div class="rounded-panel__row challenge-response {{if answer 'challenge-response--locked'}}">
      <div class="challenge-proposals">
        <QrocmProposal @answer={{answer}} @format={{challenge.format}} @proposals={{challenge.proposals}} @answersValue={{answer._valuesAsMap}} @answerChanged={{action "answerChanged"}} />
      </div>

      {{#if answer}}
        <div class="challenge-response__locked-overlay">
          {{fa-icon 'lock' class='challenge-response-locked__icon'}}
        </div>
      {{/if}}

      {{#if challenge.timer}}
        {{#if hasUserConfirmWarning}}
          <div class="timeout-jauge-wrapper">
            <TimeoutJauge @allotedTime={{challenge.timer}} />
          </div>
        {{/if}}
      {{/if}}
    </div>

    {{#if errorMessage}}
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    {{/if}}

    {{#if assessment}}
      <ChallengeActions @challenge={{challenge}} @answer={{answer}} @resumeAssessment={{action "resumeAssessment"}} @validateAnswer={{action "validateAnswer"}} @skipChallenge={{action "skipChallenge"}} @isValidateButtonEnabled={{isValidateButtonEnabled}} @isSkipButtonEnabled={{isSkipButtonEnabled}} @class="rounded-panel__row" />
    {{/if}}
  </form>
{{/unless}}

{{#if canDisplayFeedbackPanel}}
  <div class="challenge-item__feedback">
    <FeedbackPanel @assessment={{assessment}} @challenge={{challenge}} @isFormOpened={{false}} />
  </div>
{{/if}}
