{{#if @answer}}
  <span class="challenge-actions__already-answered">Vous avez déjà répondu à cette question</span>
  <button class="button challenge-actions__action challenge-actions__action-continue" {{action resumeAssessment @assessment}}>
    <span class="challenge-actions__action-continue-text">Poursuivre</span>
  </button>
{{else}}
  {{#if this.isValidateButtonEnabled}}
    <button class="button challenge-actions__action challenge-actions__action-validate" type="submit" {{action validateAnswer}}>
      <span class="challenge-actions__action-validate-text">Je valide</span>
    </button>
  {{else}}
    <div class="challenge-actions__action challenge-actions__action-validate__loader">
      <div class="challenge-actions__action-validate__loader-bar"></div>
    </div>
  {{/if}}
  {{#if this.isSkipButtonEnabled}}
    <button class="button challenge-actions__action challenge-actions__action-skip" {{action skipChallenge}}>
      <span class="challenge-actions__action-skip-text">Je passe</span>
    </button>
  {{else}}
    <div class="challenge-actions__action challenge-actions__action-skip__loader">
      <div class="challenge-actions__action-skip__loader-bar"></div>
    </div>
  {{/if}}
{{/if}}
