
<div class="pix-toggle">
<span class="{{firstButtonClass}}" onToggle={{action "onToggle" "firstButtonClass" on="click"}}>{{valueFirstLabel}}</span>
<span class="{{secondButtonClass}}" onToggle={{action "onToggle" "secondButtonClass" on="click"}}>{{valueSecondLabel}}</span>
</div>
{{yield}}