<div class={{concat "progression-gauge " progressionClass}} style={{totalGaugeStyle}}>
  <div class="progression-gauge__marker" style={{valueGaugeStyle}}></div>

  <div class="progression-gauge__tooltip-wrapper" style={{valueGaugeStyle}}>
    <div class="progression-gauge__tooltip">{{yield}}</div>
  </div>
</div>
