<header class="page-header">
  <div class="page-title">
    <p>
      <LinkTo @route="authenticated.target-profiles.target-profile.insights">{{@targetProfileName}}</LinkTo>
      <span class="wire">&nbsp;>&nbsp;</span>
      <h1>Palier
        {{@stage.id}}
      </h1>
    </p>
  </div>
</header>

<main class="page-body">
  {{#if @isEditMode}}
    <Stages::UpdateStage
      @stage={{@stage}}
      @isTypeLevel={{@stage.isTypeLevel}}
      @stageTypeName={{this.stageTypeName}}
      @toggleEditMode={{@toggleEditMode}}
      @availableLevels={{@availableLevels}}
      @unavailableThresholds={{@unavailableThresholds}}
      @hasLinkedCampaign={{@hasLinkedCampaign}}
      @onUpdate={{@onUpdate}}
    />
  {{else}}
    <Stages::ViewStage
      @stage={{@stage}}
      @isTypeLevel={{@stage.isTypeLevel}}
      @stageTypeName={{this.stageTypeName}}
      @toggleEditMode={{@toggleEditMode}}
    />
  {{/if}}
</main>