<header class="page-header">
  <div class="page-title">
    <p>Palier<span class="wire">&nbsp;>&nbsp;</span>{{@model.id}}</p>
  </div>
</header>

<main class="page-body">
  {{#if @isEditMode}}
    <Stages::UpdateStage
      @model={{@model}}
      @isTypeLevel={{this.isTypeLevel}}
      @stageTypeName={{this.stageTypeName}}
      @toggleEditMode={{@toggleEditMode}}
    />
  {{else}}
    <Stages::ViewStage
      @model={{@model}}
      @isTypeLevel={{this.isTypeLevel}}
      @stageTypeName={{this.stageTypeName}}
      @toggleEditMode={{@toggleEditMode}}
    />
  {{/if}}
</main>