<section class="page-section">

  <form class="form stage-form" {{on "submit" this.updateStage}}>
    <div class="form-field">
      {{#if @stage.isFirstSkill}}
        <label class="form-field__label">1er acquis</label>
      {{else if @isTypeLevel}}
        <Stages::StageLevelSelect
          @id="threshold-or-level"
          @availableLevels={{@availableLevels}}
          @isDisabled={{this.isThresholdOrLevelDisabled}}
          @onChange={{this.setLevel}}
          @label={{@stageTypeName}}
          @value={{this.level}}
        />
      {{else}}
        <PixInput
          @id="threshold-or-level"
          @errorMessage="Le seuil est invalide"
          @validationStatus={{this.thresholdStatus}}
          @requiredLabel="Champ obligatoire"
          type="number"
          readonly={{this.isThresholdOrLevelDisabled}}
          @value={{this.threshold}}
          min="0"
          max="100"
          {{on "focusout" this.checkThresholdValidity}}
        >
          <:label>{{@stageTypeName}}</:label>
        </PixInput>
      {{/if}}

      <PixInput
        @id="title"
        @errorMessage="Le titre est vide"
        @validationStatus={{this.titleStatus}}
        @requiredLabel="Champ obligatoire"
        @value={{this.title}}
        type="text"
        {{on "focusout" this.checkTitleValidity}}
      >
        <:label>Titre du palier</:label>
      </PixInput>

      <PixTextarea
        @id="message"
        @value={{this.message}}
        @errorMessage={{this.messageError}}
        {{on "focusout" this.checkMessageValidity}}
      >
        <:label>Message</:label>
      </PixTextarea>

      <PixInput
        @type="text"
        class="form-control"
        @value={{this.prescriberTitle}}
        maxlength="255"
        {{on "input" (pick "target.value" (set this "prescriberTitle"))}}
      ><:label>
          Titre pour le prescripteur
        </:label></PixInput>

      <PixTextarea
        class="form-control"
        @value={{this.prescriberDescription}}
        rows="4"
        {{on "input" (pick "target.value" (set this "prescriberDescription"))}}
      ><:label>
          Description pour le prescripteur
        </:label></PixTextarea>
    </div>
    <div class="form-actions">
      <PixButton @variant="secondary" @size="small" @triggerAction={{@toggleEditMode}}>Annuler
      </PixButton>
      <PixButton @variant="success" @size="small" @type="submit">
        Enregistrer
      </PixButton>
    </div>
  </form>
</section>