<section class="page-section">
  <form class="form stage-form" {{on "submit" this.updateStage}}>
    <div class="form-field">
      <label for="threshold-or-level" class="form-field__label">
        {{@stageTypeName}}
      </label>
      {{#if @isTypeLevel}}
        <Stages::StageLevelSelect
          @id="threshold-or-level"
          @availableLevels={{@availableLevels}}
          @onChange={{this.setLevel}}
          @value={{this.level}}
        />
      {{else}}
        <PixInput
          @id="threshold-or-level"
          @errorMessage="Le seuil est invalide"
          @validationStatus={{this.thresholdStatus}}
          @requiredLabel="Champ obligatoire"
          type="number"
          @value={{this.threshold}}
          @ariaLabel="Seuil du palier"
          min="0"
          max="100"
          {{on "focusout" this.checkThresholdValidity}}
        />
      {{/if}}
      <br />

      <label for="title" class="form-field__label">
        Titre
      </label>
      <PixInput
        @id="title"
        @errorMessage="Le titre est vide"
        @validationStatus={{this.titleStatus}}
        @requiredLabel="Champ obligatoire"
        @value={{this.title}}
        type="text"
        @ariaLabel="Titre du palier"
        {{on "focusout" this.checkTitleValidity}}
      />
      <br />

      <label for="message" class="form-field__label">
        Message
      </label>
      <PixTextarea
        id="message"
        @value={{this.message}}
        @errorMessage={{this.messageError}}
        {{on "focusout" this.checkMessageValidity}}
      />
      <br />

      <label for="prescriberTitle" class="form-field__label">
        Titre pour le prescripteur
      </label>
      <Input id="prescriberTitle" @type="text" class="form-control" @value={{this.prescriberTitle}} maxlength="255" />

      <label for="prescriberDescription" class="form-field__label">
        Description pour le prescripteur
      </label>
      <Textarea id="prescriberDescription" class="form-control" @value={{this.prescriberDescription}} rows="4" />
    </div>
    <div class="form-actions">
      <PixButton
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @size="small"
        @triggerAction={{@toggleEditMode}}
      >Annuler</PixButton>
      <PixButton @backgroundColor="green" @size="small" @type="submit">
        Enregistrer
      </PixButton>
    </div>
  </form>
</section>