<li class="session-supervising-candidate-in-list">
  {{#unless @candidate.hasStarted}}
    <PixInput
      @id={{concat "candidate-checkbox-" @candidate.id}}
      class="session-supervising-candidate-in-list__checkbox"
      type="checkbox"
      checked={{@candidate.authorizedToStart}}
      {{on 'click' (fn this.toggleCandidate @candidate)}}
    />
  {{/unless}}
  <div class="session-supervising-candidate-in-list__candidate-data">
    <div class="session-supervising-candidate-in-list__full-name">
      {{#if @candidate.hasStarted}}
        {{@candidate.lastName}} {{@candidate.firstName}}
      {{else}}
        <label for={{concat "candidate-checkbox-" @candidate.id}}>
          {{@candidate.lastName}} {{@candidate.firstName}}
        </label>
      {{/if}}
    </div>
    <div class="session-supervising-candidate-in-list__details">
      {{moment-format @candidate.birthdate "DD/MM/YYYY"}}
      {{#if @candidate.extraTimePercentage}}
        · Temps majoré : {{@candidate.extraTimePercentage}}%
      {{/if}}
    </div>
    {{#if @candidate.hasStarted}}
      <span class="session-supervising-candidate-in-list__status session-supervising-candidate-in-list__status--started">
        En cours
      </span>
    {{/if}}
  </div>
  {{#if @candidate.hasStarted}}
    <div class="session-supervising-candidate-in-list__menu">
      <PixIconButton
        @icon="ellipsis-v"
        aria-label="Afficher les options du candidat"
        @triggerAction={{this.toggleMenu}}
      />
      <Dropdown::Content @display={{this.isMenuOpen}} @close={{this.closeMenu}} aria-label="Options du candidat">
        <Dropdown::Item @onClick={{this.askUserToConfirmTestResume}}>
          Autoriser la reprise du test
        </Dropdown::Item>
      </Dropdown::Content>
    </div>
  {{/if}}

  {{#if this.isConfirmationModalDisplayed}}
    <AppModal @containerClass="pix-modal-dialog" @onClose={{this.closeConfirmationModal}}>

      <div class="pix-modal__close-button">
        <button
          type="button"
          data-test-id="finalize-session-modal__close-cross"
          {{on "click" this.closeConfirmationModal}}
          aria-label="Fermer la fenêtre de confirmation"
        >
          Fermer
          <img src="/icons/icon-close-modal.svg" alt="" role="presentation" width="24" height="24">
        </button>
      </div>

      <div class="pix-modal__container pix-modal__container--white pix-modal__container--with-padding">
        <div class="pix-modal-body pix-modal-body--with-padding">
          <div class="app-modal-body__attention">
            Autoriser {{@candidate.firstName}} {{@candidate.lastName}} à reprendre son test ?
          </div>
          <div class="app-modal-body__warning">
            <p>
              Si le candidat a fermé la fenêtre de son test de certification (par erreur, ou à cause d'un problème
              technique) et est toujours présent dans la salle de test, vous pouvez lui permettre de reprendre son test
              à l'endroit où il l'avait quitté.
            </p>
          </div>
        </div>

        <div class="pix-modal-footer">
          <PixButton
            data-test-id="finalize-session-modal__confirm-button"
            @triggerAction={{this.authorizeTestResume}}
            @backgroundColor="yellow"
          >
            Je confirme l'autorisation
          </PixButton>
          <PixButton
            data-test-id="finalize-session-modal__cancel-button"
            @triggerAction={{this.closeConfirmationModal}}
            @backgroundColor="transparent-light"
            @isBorderVisible={{true}}
            aria-label="Annuler et fermer la fenêtre de confirmation"
          >
            Annuler
          </PixButton>
        </div>
      </div>
    </AppModal>
  {{/if}}

</li>
