<li class="session-supervising-candidate-in-list">
  <div class="session-supervising-candidate-in-list__candidate-data">
    <div class="session-supervising-candidate-in-list__full-name">
      {{@candidate.lastName}}
      {{@candidate.firstName}}
    </div>
    <div class="session-supervising-candidate-in-list__details">
      {{dayjs-format @candidate.birthdate "DD/MM/YYYY"}}
      {{#if this.shouldDisplayEnrolledComplementaryCertification}}
        <p class="session-supervising-candidate-in-list-details__enrolment">
          <span class="session-supervising-candidate-in-list-details-enrolment__icon"><FaIcon @icon="award" /></span>
          {{t
            "pages.session-supervising.candidate-in-list.complementary-certification-enrolment"
            complementaryCertification=@candidate.enrolledComplementaryCertificationLabel
          }}
        </p>
      {{/if}}

      {{#if this.shouldDisplayNonEligibilityWarning}}
        <PixMessage
          @type="warning"
          @withIcon={{true}}
          class="session-supervising-candidate-in-list-details__eligibility"
        >
          {{t "pages.session-supervising.candidate-in-list.complementary-certification-non-eligibility-warning"}}
        </PixMessage>
      {{/if}}
      {{#if @candidate.hasStarted}}
        <p class="session-supervising-candidate-in-list-details-time">
          <FaIcon @icon="clock" @prefix="far" class="session-supervising-candidate-in-list-details-time__clock" />
          <div class="session-supervising-candidate-in-list-details-time__text">
            <span class="session-supervising-candidate-in-list-details-time__text__startdatetime">
              {{t "pages.session-supervising.candidate-in-list.start-date-time"}}
              <time>{{this.candidateStartTime}}</time>
            </span>
            <span class="session-supervising-candidate-in-list-details-time__text__end-date-time">
              {{t "pages.session-supervising.candidate-in-list.end-date-time"}}
              <time>{{this.candidateTheoricalEndDateTime}}</time>
            </span>
            {{#if @candidate.extraTimePercentage}}
              <span class="session-supervising-candidate-in-list-details-time__text__extra-time-percentage">
                {{t
                  "pages.session-supervising.candidate-in-list.extratime"
                  extraTimePercentage=(format-percentage @candidate.extraTimePercentage)
                }}
              </span>
            {{/if}}
          </div>
        </p>
      {{/if}}

    </div>
    {{#if this.isConfirmButtonToBeDisplayed}}
      <PixButton
        aria-label={{this.authorizationButtonAriaLabel}}
        @triggerAction={{fn this.toggleCandidate @candidate}}
        @backgroundColor={{this.authorizationButtonBackgroundColor}}
        @isBorderVisible={{@candidate.authorizedToStart}}
        class="session-supervising-candidate-in-list__confirm-button"
      >
        {{this.authorizationButtonLabel}}
      </PixButton>
    {{/if}}
    <div class="session-supervising-candidate-in-list__status-container">
      {{#if @candidate.hasStarted}}
        {{#if @candidate.isAuthorizedToResume}}
          <PixTag
            @compact={{true}}
            class="session-supervising-candidate-in-list__status-container--authorized-to-resume"
          >{{t "common.forms.certification-labels.candidate-status.authorized-to-resume"}}</PixTag>
        {{else}}
          {{#if @candidate.liveAlertStatus}}
            <PixTag @compact={{true}} class="session-supervising-candidate-in-list__status-container--ongoing-alert">{{t
                "common.forms.certification-labels.candidate-status.ongoing-live-alert"
              }}</PixTag>
          {{else}}
            <PixTag @compact={{true}} class="session-supervising-candidate-in-list__status-container--started">{{t
                "common.forms.certification-labels.candidate-status.ongoing"
              }}</PixTag>
          {{/if}}
        {{/if}}
      {{/if}}
      {{#if @candidate.hasCompleted}}
        <PixTag @compact={{true}} class="session-supervising-candidate-in-list__status-container--completed">{{t
            "common.forms.certification-labels.candidate-status.finished"
          }}</PixTag>
      {{/if}}
    </div>
  </div>
  {{#if this.optionsMenuShouldBeDisplayed}}
    <div class="session-supervising-candidate-in-list__menu">
      <PixIconButton
        @icon="ellipsis-v"
        aria-label={{t "pages.session-supervising.candidate-in-list.display-candidate-options"}}
        @triggerAction={{this.toggleMenu}}
      />
      <Dropdown::Content
        @display={{this.isMenuOpen}}
        @close={{this.closeMenu}}
        aria-label={{t "pages.session-supervising.candidate-in-list.candidate-options"}}
      >
        <Dropdown::Item @onClick={{this.askUserToConfirmTestResume}}>
          {{t "pages.session-supervising.candidate-in-list.resume-test-modal.allow-test-resume"}}
        </Dropdown::Item>
        {{#if @candidate.liveAlertStatus}}
          <Dropdown::Item @onClick={{this.askUserToHandleLiveAlert}}>
            {{t "pages.session-supervising.candidate-in-list.resume-test-modal.handle-live-alert"}}
          </Dropdown::Item>
        {{/if}}

        <Dropdown::Item @onClick={{this.askUserToConfirmTestEnd}}>
          {{t "pages.session-supervising.candidate-in-list.test-end-modal.end-assessment"}}
        </Dropdown::Item>
      </Dropdown::Content>
    </div>
  {{/if}}

  <SessionSupervising::ConfirmationModal
    @showModal={{this.isConfirmationModalDisplayed}}
    @closeConfirmationModal={{this.closeConfirmationModal}}
    @actionOnConfirmation={{this.actionMethod}}
    @candidate={{this.candidate}}
    @modalCancelText={{this.modalCancelText}}
    @modalConfirmationButtonText={{this.modalConfirmationText}}
    @title={{this.modalInstructionText}}
  >
    <:description>
      {{this.modalDescriptionText}}
    </:description>
  </SessionSupervising::ConfirmationModal>

  <SessionSupervising::HandleLiveAlertModal
    @showModal={{this.isHandleLiveAlertModalDisplayed}}
    @closeConfirmationModal={{this.closeHandleLiveAlertModal}}
    @title={{this.candidateFullName}}
    @rejectLiveAlert={{this.rejectLiveAlert}}
    @validateLiveAlert={{this.validateLiveAlert}}
    @candidateId={{@candidate.id}}
  />

  <SessionSupervising::LiveAlertHandledModal
    @showModal={{this.isLiveAlertHandledModalDisplayed}}
    @closeConfirmationModal={{this.closeHandleLiveAlertModal}}
    @title={{this.candidateFullName}}
    @isLiveAlertValidated={{this.isLiveAlertValidated}}
  />

</li>