<form {{on "submit" this.onSubmit}}>
  <PixModal
    class="handle-live-alert-modal"
    @title={{@title}}
    @onCloseButtonClick={{this.onClose}}
    @showModal={{@showModal}}
  >
    <:content>
      <fieldset>
        {{#each this.reportOptions as |option|}}
          <PixRadioButton
            name="reportCategory"
            @value={{option.subCategory}}
            {{on "change" this.setIssueReportReason}}
            checked={{if (eq option.subCategory this.issueReportReason) true}}
          >
            <b>{{option.code}}</b>
            {{t option.label}}
          </PixRadioButton>
        {{/each}}
      </fieldset>
    </:content>
    <:footer>
      <div class="handle-live-alert-modal__footer">
        <div class="app-modal-body__warning">
          <p>
            {{t "pages.session-supervising.candidate-in-list.handle-live-alert-modal.ask.description" htmlSafe=true}}
          </p>
        </div>
        <div class="handle-live-alert-modal__actions-list">
          <PixButton @backgroundColor="red" @triggerAction={{this.onReject}}>
            {{t "pages.session-supervising.candidate-in-list.handle-live-alert-modal.ask.dismiss-alert-button"}}
          </PixButton>
          <PixButton @backgroundColor="green" @type="submit" @isDisabled={{this.isValidateButtonDisabled}}>
            {{t "pages.session-supervising.candidate-in-list.handle-live-alert-modal.ask.validate-alert-button"}}
          </PixButton>
        </div>
      </div>
    </:footer>
  </PixModal>
</form>