<div class="session-supervising-header">
  <PixButton
    aria-label={{t "pages.session-supervising.header.actions.exit-extra-information" sessionId=@session.id}}
    @size="small"
    @triggerAction={{this.askUserToConfirmLeaving}}
    @backgroundColor="transparent-light"
    @isBorderVisible="true"
    class="session-supervising-header__quit"
  >
    <FaIcon @icon="sign-out-alt" />
    {{t "common.actions.exit"}}
  </PixButton>
  <h1 class="session-supervising-header__title">{{t
      "pages.session-supervising.header.session-id"
      sessionId=@session.id
    }}</h1>
  <time class="session-supervising-header__date">
    {{dayjs-format @session.date "DD/MM/YYYY"}}
    ·
    {{dayjs-format @session.time "HH:mm" inputFormat="HH:mm:ss" allow-empty=true}}
  </time>

  <div>
    <p class="session-supervising-header__line">
      <span class="session-supervising-header__label">{{t "common.forms.session-labels.center-name"}}</span>
      {{@session.certificationCenterName}}
    </p>
    <p class="session-supervising-header__line">
      <span class="session-supervising-header__label">{{t "common.forms.session-labels.room"}}</span>
      {{@session.room}}
    </p>
    <p class="session-supervising-header__line">
      <span class="session-supervising-header__label">{{t "common.forms.session-labels.invigilator"}}</span>
      {{@session.examiner}}
    </p>
    <p class="session-supervising-header__line">
      <span class="session-supervising-header__label">{{t "pages.session-supervising.header.access-code"}}</span>
      {{@session.accessCode}}
    </p>
  </div>

  <SessionSupervising::ConfirmationModal
    @showModal={{this.isConfirmationModalDisplayed}}
    @closeConfirmationModal={{this.closeConfirmationModal}}
    @actionOnConfirmation={{this.actionConfirmation}}
    @candidate={{this.candidate}}
    @modalCancelText={{this.modalCancelText}}
    @modalConfirmationButtonText={{this.modalConfirmationText}}
    @title="{{this.modalInstructionText}}"
  >
    <:description>
      {{this.modalDescriptionText}}
    </:description>
  </SessionSupervising::ConfirmationModal>

</div>