<div class="session-supervising-header">
  <PixButton
    aria-label="Quitter la surveillance de la session {{@session.id}}"
    @size="small"
    @triggerAction={{this.askUserToConfirmLeaving}}
    @backgroundColor="transparent-light"
    @isBorderVisible="true"
    class="session-supervising-header__quit"
  >
    <FaIcon @icon="sign-out-alt" />
    {{t "common.actions.quit"}}
  </PixButton>
  <h1 class="session-supervising-header__title">{{t
      "pages.session-supervising.header.session-id"
      sessionId=@session.id
    }}</h1>
  <time class="session-supervising-header__date">
    {{moment-format @session.date "DD/MM/YYYY"}}
    ·
    {{moment-format @session.time "HH:mm" "HH:mm:ss" allow-empty=true}}
  </time>

  <div>
    <p class="session-supervising-header__line">
      <span class="session-supervising-header__label">{{t "pages.session-supervising.header.center-name"}}</span>
      {{@session.certificationCenterName}}
    </p>
    <p class="session-supervising-header__line">
      <span class="session-supervising-header__label">{{t "pages.session-supervising.header.room"}}</span>
      {{@session.room}}
    </p>
    <p class="session-supervising-header__line">
      <span class="session-supervising-header__label">{{t "pages.session-supervising.header.supervisor"}}</span>
      {{@session.examiner}}
    </p>
    <p class="session-supervising-header__line">
      <span class="session-supervising-header__label">{{t "pages.session-supervising.header.access-code"}}</span>
      {{@session.accessCode}}
    </p>
  </div>

  {{#if this.isConfirmationModalDisplayed}}
    <SessionSupervising::ConfirmationModal
      @closeConfirmationModal={{this.closeConfirmationModal}}
      @actionOnConfirmation={{this.actionConfirmation}}
      @candidate={{this.candidate}}
      @modalCancelText={{this.modalCancelText}}
      @modalConfirmationButtonText={{this.modalConfirmationText}}
      @title="{{this.modalInstructionText}}"
    >
      <:description>
        {{this.modalDescriptionText}}
      </:description>
    </SessionSupervising::ConfirmationModal>

  {{/if}}
</div>