<div class="session-supervising-header">
  <PixButton
    aria-label={{t "pages.session-supervising.header.actions.exit-extra-information" sessionId=@session.id}}
    @size="small"
    @triggerAction={{this.askUserToConfirmLeaving}}
    @variant="secondary"
    @isBorderVisible="true"
    class="session-supervising-header__quit"
  >
    <FaIcon @icon="sign-out-alt" />
    {{t "common.actions.exit"}}
  </PixButton>
  <h1 class="session-supervising-header__title">{{t
      "pages.session-supervising.header.session-id"
      sessionId=@session.id
    }}</h1>
  <time class="session-supervising-header__date">
    {{dayjs-format @session.date "DD/MM/YYYY"}}
    ·
    {{dayjs-format @session.time "HH:mm" inputFormat="HH:mm:ss" allow-empty=true}}
  </time>

  <dl>
    <div class="session-supervising-header__line">
      <dt class="session-supervising-header__label">
        {{t "pages.session-supervising.header.address"}}
      </dt>
      <dd>
        {{@session.address}}
      </dd>
    </div>
    <div class="session-supervising-header__line">
      <dt class="session-supervising-header__label">
        {{t "pages.session-supervising.header.room"}}
      </dt>
      <dd>
        {{@session.room}}
      </dd>
    </div>
    <div class="session-supervising-header__line">
      <dt class="session-supervising-header__label">
        {{t "pages.session-supervising.header.invigilator"}}
      </dt>
      <dd>
        {{@session.examiner}}
      </dd>
    </div>
    <div class="session-supervising-header__line">
      <dt class="session-supervising-header__label">
        {{t "pages.session-supervising.header.access-code"}}
      </dt>
      <dd>
        {{@session.accessCode}}
      </dd>
    </div>
  </dl>

  <SessionSupervising::ConfirmationModal
    @showModal={{this.isConfirmationModalDisplayed}}
    @closeConfirmationModal={{this.closeConfirmationModal}}
    @actionOnConfirmation={{this.actionConfirmation}}
    @candidate={{this.candidate}}
    @modalCancelText={{this.modalCancelText}}
    @modalConfirmationButtonText={{this.modalConfirmationText}}
    @title="{{this.modalInstructionText}}"
  >
    <:description>
      {{this.modalDescriptionText}}
    </:description>
  </SessionSupervising::ConfirmationModal>

</div>