{{page-title "Challenge"}}
<div class="container">
  <RobotDialog>
    <Bubble @message={{@challenge.instruction}} />
    {{#if (eq this.answer.result "ok")}}
      <Bubble @message={{t "pages.challenge.messages.correct-answer"}} @color="success" />
    {{/if}}
    {{#if (eq this.answer.result "ko")}}
      <Bubble @message={{t "pages.challenge.messages.wrong-answer"}} @color="error" />
    {{/if}}

  </RobotDialog>
  <Challenge::Item @challenge={{@challenge}} @setAnswerValue={{this.setAnswerValue}} @assessment={{@assessment}} />

  <div class="container__actions">
    <Challenge::ChallengeActions
      @validateAnswer={{this.validateAnswer}}
      @skipChallenge={{this.skipChallenge}}
      @level={{@activity.level}}
      @nextAction={{this.resume}}
      @disableCheckButton={{this.disableCheckButton}}
      @answerHasBeenValidated={{this.answerHasBeenValidated}}
    />
  </div>

  <WarningFeedback @showWarningModal={{this.showWarningModal}} @onClose={{this.onCloseWarningModal}} />
</div>