{{page-title "Challenge"}}
<div class="container">
  <RobotDialog @class={{this.robotMood}}>
    <Bubble @message={{@challenge.instruction}} />
    {{#if (eq this.answer.result "ok")}}
      <Bubble @message={{t "pages.challenge.messages.correct-answer"}} @color="success" aria-live="polite" />
    {{/if}}
    {{#if (eq this.answer.result "ko")}}
      <Bubble @message={{t "pages.challenge.messages.wrong-answer"}} @color="error" aria-live="polite" />
    {{/if}}

  </RobotDialog>
  <Challenge::Item
    @setAnswerValue={{this.setAnswerValue}}
    @validateAnswer={{this.validateAnswer}}
    @skipChallenge={{this.skipChallenge}}
    @challenge={{@challenge}}
    @assessment={{@assessment}}
    @disableCheckButton={{this.disableCheckButton}}
    @answerHasBeenValidated={{this.answerHasBeenValidated}}
    @activity={{@activity}}
    @resume={{this.resume}}
    @isDisabled={{this.hasBeenAnswered}}
  />
</div>