{{page-title "Certif " @model.id " Détails | Pix Admin" replace=true}}
<div class="certification-details">
  <div>
    <div>
      <div class="card border-primary certification-details__info">
        <div class="card-body">
          <div class="">
            <div>Statut :</div>
            <div>{{this.details.status}}</div>
          </div>
          <div>
            <div>Créé le :</div>
            <div>{{this.details.creationDate}}</div>
          </div>
          <div>
            <div>Terminée le :</div>
            <div>{{this.details.completionDate}}</div>
          </div>
          <div>
            <div>Score :</div>
            <div class="certificate">{{this.score}}</div>
          </div>
          {{#if this.shouldDisplayJuryScore}}
            <div class="jury">
              <div>Score corrigé :</div>
              <div class="jury">{{this.juryScore}}</div>
            </div>
          {{/if}}
          <div>
            <div>Taux de reproductibilité :</div>
            <div class="certificate">{{this.rate}}</div>
          </div>
          {{#if this.juryRate}}
            <div>
              <div>Taux corrigé :</div>
              <div class="jury">{{this.juryRate}}</div>
            </div>
          {{/if}}
        </div>
      </div>
      {{#each this.details.competences as |competence|}}
        <Certifications::DetailsCompetence
          @competence={{competence}}
          @rate={{this.rate}}
          @juryRate={{this.juryRate}}
          @onUpdateRate={{this.onUpdateRate}}
        />
      {{/each}}
    </div>
  </div>
  <div>
    <div class="certification-details__actions">
      {{#if this.accessControl.hasAccessToCertificationActionsScope}}
        <PixButton @type="submit" @size="small" @triggerAction={{this.onStoreMarks}}>Enregistrer</PixButton>
      {{/if}}
    </div>
  </div>
</div>