{{!-- template-lint-disable no-action --}}
<div class="certification-informations">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <CertificationInfoPublished @record={{this.certification}} @float={{true}} />État
          </h5>
          <div class="card-text">
            <CertificationInfoField @value={{this.certification.sessionId}} @edition={{false}} @label="Session :" @linkRoute="authenticated.sessions.session" />
            <CertificationStatusSelect @value={{this.certification.status}} @edition={{this.edition}} />
            <CertificationInfoField @value={{this.certification.creationDate}} @edition={{false}} @label="Créée le :" />
            <CertificationInfoField @value={{this.certification.completionDate}} @edition={{false}} @label="Terminée le :" />
            <CertificationInfoField @value={{this.certification.publishedText}} @edition={{false}} @label="Publiée :" />
            <CertificationInfoField @value={{this.certification.isV2CertificationText}} @edition={{false}} @label="Certification v2 :" />
            <CertificationInfoField @value={{this.certification.displayCleaCertificationStatus}} @edition={{false}} @label="Certification CléA numérique :" />
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card {{if this.edition 'border-primary'}}">
        <div class="card-body">
          <h5 class="card-title">Candidat</h5>
          <div class="card-text">
            <CertificationInfoField @value={{this.certification.firstName}} @edition={{this.edition}} @label="Prénom :" @fieldId="certification-firstName" />
            <CertificationInfoField @value={{this.certification.lastName}} @edition={{this.edition}} @label="Nom :" @fieldId="certification-lastName" />
            <CertificationInfoField
                    @isDate={{true}}
                    @edition={{this.edition}}
                    @label="Date de naissance :"
                    @fieldId="certification-birthdate"
                    @value={{this.certification.birthdate}}
                    @onUpdateCertificationBirthdate={{this.onUpdateCertificationBirthdate}} />
            <CertificationInfoField @value={{this.certification.birthplace}} @edition={{this.edition}} @label="Lieu de naissance :" @fieldId="certification-birthPlace" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card {{if this.edition 'border-primary'}}">
        <div class="card-body">
          <h5 class="card-title">Commentaires jury</h5>
          <div class="card-text">
            <CertificationInfoField @value={{this.certification.commentForCandidate}} @edition={{this.edition}} @label="Pour le candidat :" @fieldId="certification-commentForCandidate" @large={{true}} />
            <CertificationInfoField @value={{this.certification.commentForOrganization}} @edition={{this.edition}} @label="Pour l'organisation :" @fieldId="certification-commentForOrganization" @large={{true}} />
            <CertificationInfoField @value={{this.certification.commentForJury}} @edition={{this.edition}} @label="Pour le jury :" @fieldId="certification-commentForJury" @large={{true}} />
            <p></p>
            <CertificationInfoField @value={{this.certification.juryId}} @edition={{false}} @label="Identifiant jury :" @large={{true}} />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card {{if this.edition 'border-primary'}}">
        <div class="card-body">
          <h5 class="card-title">Résultats</h5>
          <div class="card-text">
            <CertificationInfoField @value={{this.certification.pixScore}} @edition={{this.edition}} @label="Score :" @fieldId="certification-pixScore" @suffix=" Pix" @large={{true}} />
            <p></p>
            <CertificationInfoCompetences
                    @competences={{this.certification.competences}}
                    @edition={{this.edition}}
                    @onUpdateScore={{this.onUpdateScore}}
                    @onUpdateLevel={{this.onUpdateLevel}} />
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if this.isValid}}
    <div class="row">
      <div class="col certification-informations__actions">
        {{#if this.edition}}
          <button class="btn btn-secondary btn-sm" type="submit" {{on 'click' this.onCancel}}>
            Annuler
          </button>
          <button class="btn btn-primary btn-sm" type="submit" {{on 'click' this.onSaveConfirm}}>
            Enregistrer
          </button>
        {{else}}
          <button class="btn btn-primary btn-sm" type="submit" {{on 'click' this.onEdit}}>
           Modifier
          </button>
        {{/if}}
      </div>
    </div>
  {{/if}}
  <ConfirmPopup
          @message={{this.confirmMessage}}
          @error={{this.confirmErrorMessage}}
          @confirm={{action this.confirmAction}}
          @cancel={{action this.onCancelConfirm}}
          @show={{this.displayConfirm}} />
</div>
