{{!-- template-lint-disable no-action --}}
<div class="certification-informations">
  <div class="buttons-row">
    <PixButton
      @route="authenticated.users.get"
      @size="small"
      @model={{this.certification.userId}}
    >
      Voir les détails de l'utilisateur
    </PixButton>
    <PixButton
      @backgroundColor="red"
      @isDisabled={{this.isCertificationCancelled}}
      @size="small"
      @triggerAction={{this.onCancelCourseButtonClick}}
      data-test-id="Annuler la certification"
    >
      Annuler la certification
    </PixButton>
  </div>
  <div class="row">
    <div class="col">
      <div class="card {{if this.editingCandidateResults 'border-primary'}}">
        <div class="card-body">
          <h5 class="card-title">
            <Certification::CertificationInfoPublished @record={{this.certification}} @float={{true}} />État
          </h5>
          <div class="card-text">
            <Certification::CertificationInfoField @value={{this.certification.sessionId}} @edition={{false}} @label="Session :" @linkRoute="authenticated.sessions.session" />
            <Certification::CertificationStatusSelect @certification={{this.certification}} @edition={{this.editingCandidateResults}} />
            <Certification::CertificationInfoField @value={{this.certification.creationDate}} @edition={{false}} @label="Créée le :" />
            <Certification::CertificationInfoField @value={{this.certification.completionDate}} @edition={{false}} @label="Terminée le :" />
            <Certification::CertificationInfoField @value={{this.certification.publishedText}} @edition={{false}} @label="Publiée :" />
            <Certification::CertificationInfoField @value={{this.certification.cleaCertificationStatusLabel}} @edition={{false}} @label="Certification CléA numérique :" @class="certification-informations__complementary-certification--{{this.certification.cleaCertificationStatus}}" />
            <Certification::CertificationInfoField @value={{this.certification.pixPlusDroitMaitreCertificationStatusLabel}} @edition={{false}} @label="Certification Pix+ Droit Maître :" @class="certification-informations__complementary-certification--{{this.certification.pixPlusDroitMaitreCertificationStatus}}" />
            <Certification::CertificationInfoField @value={{this.certification.pixPlusDroitExpertCertificationStatusLabel}} @edition={{false}} @label="Certification Pix+ Droit Expert :" @class="certification-informations__complementary-certification--{{this.certification.pixPlusDroitExpertCertificationStatus}}" />
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card {{if this.editingCandidateInformations 'border-primary'}}">
        <div class="card-body candidate-informations">
          <h5 class="card-title">Candidat</h5>
          <div class="card-text">
            <div>
              Prénom : {{this.certification.firstName}}
            </div>
            <div>
              Nom de famille : {{this.certification.lastName}}
            </div>
            <div>
              Date de naissance : {{moment-format this.certification.birthdate 'DD/MM/YYYY' allow-empty=true}}
            </div>
            {{#if this.shouldDisplayCPFInformation}}
              <div>
                Sexe : {{this.certification.sex}}
              </div>
            {{/if}}
            <div>
              Commune de naissance : {{this.certification.birthplace}}
            </div>
            {{#if this.shouldDisplayCPFInformation}}
              <div>
                Code postal de naissance : {{this.certification.birthPostalCode}}
              </div>
              <div>
                Code INSEE de naissance : {{this.certification.birthInseeCode}}
              </div>
              <div>
                Pays de naissance : {{this.certification.birthCountry}}
              </div>
            {{/if}}
            <div class="candidate-informations__actions">
              <PixButton
                @size="small"
                @triggerAction={{this.openCandidateEditModal}}
                aria-label="Modifier les informations du candidat"
                @isDisabled={{this.isModifyButtonDisabled}}
              >
                Modifier
              </PixButton>
              {{#if this.certification.wasRegisteredBeforeCPF}}
                <span class="candidate-informations__warning-cpf-message">Voir avec PO/Dev pour modifier les infos candidat.</span>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if this.hasIssueReports}}
    <div class="row">
      <div class="col">
        <div class="card {{if this.editingCandidateResults 'border-primary'}}">
          <div class="card-body">
            <h5 class="card-title">Signalements</h5>

            {{#if this.hasImpactfulIssueReports}}
              <div class="card-text">
                <h6 class="certification-informations__certification-issue-report-title--with-required-action">Signalement(s) impactant(s)</h6>
                <ul class="certification-informations__certification-issue-reports-list">
                  {{#each this.impactfulCertificationIssueReports as |issueReport| }}
                    <li class={{if issueReport.resolvedAt "certification-informations__certification-issue-report--resolved" "certification-informations__certification-issue-report--unresolved"}}>
                      {{issueReport.categoryLabel}}
                      {{#if issueReport.subcategoryLabel}}: {{issueReport.subcategoryLabel}}{{/if}}
                      {{#if issueReport.description}}- {{issueReport.description}}{{/if}}
                      {{#if issueReport.questionNumber}}- Question {{issueReport.questionNumber}}{{/if}}
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/if}}

            {{#if this.hasUnimpactfulIssueReports}}
              <div class="card-text">
                <h6>Signalement(s) non impactant(s)</h6>
                <ul>
                  {{#each this.unimpactfulCertificationIssueReports as |issueReport| }}
                    <li>
                      {{issueReport.categoryLabel}}
                      {{#if issueReport.subcategoryLabel}}: {{issueReport.subcategoryLabel}}{{/if}}
                      {{#if issueReport.description}}- {{issueReport.description}}{{/if}}
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/if}}

          </div>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="row">
    <div class="col">
      <div class="card {{if this.editingCandidateResults 'border-primary'}}">
        <div class="card-body">
          <h5 class="card-title">Commentaires jury</h5>
          <div class="card-text">
            <Certification::CertificationInfoField
              @value={{this.certification.commentForCandidate}}
              @edition={{this.editingCandidateResults}}
              @label="Pour le candidat :"
              @fieldId="certification-commentForCandidate"
              @isTextarea={{true}} />
            <Certification::CertificationInfoField
              @value={{this.certification.commentForOrganization}}
              @edition={{this.editingCandidateResults}}
              @label="Pour l'organisation :"
              @fieldId="certification-commentForOrganization"
              @isTextarea={{true}} />
            <Certification::CertificationInfoField
              @value={{this.certification.commentForJury}}
              @edition={{this.editingCandidateResults}}
              @label="Pour le jury :"
              @fieldId="certification-commentForJury"
              @isTextarea={{true}} />
            <Certification::CertificationInfoField
              @value={{this.certification.juryId}}
              @edition={{false}}
              @label="Identifiant jury :"
              @isTextarea={{true}} />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card {{if this.editingCandidateResults 'border-primary'}}">
        <div class="card-body">
          <h5 class="card-title">Résultats</h5>
          <div class="card-text">
            <Certification::CertificationInfoField
              @value={{this.certification.pixScore}}
              @edition={{this.editingCandidateResults}}
              @label="Score :"
              @fieldId="certification-pixScore"
              @suffix=" Pix" />
            <p></p>
            <Certification::CertificationCompetenceList
                    @competences={{this.certification.competences}}
                    @edition={{this.editingCandidateResults}}
                    @onUpdateScore={{this.onUpdateScore}}
                    @onUpdateLevel={{this.onUpdateLevel}} />
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if this.isValid}}
    <div class="row">
      <div class="col certification-informations__actions">
        {{#if this.editingCandidateResults}}
          <PixButton
            @size="small"
            @backgroundColor="transparent-light"
            @triggerAction={{this.onCandidateResultsCancel}}
            aria-label="Annuler la modification des résultats du candidat"
          >
            Annuler
          </PixButton>
          <PixButton
            @size="small"
            @triggerAction={{this.onCandidateResultsSaveConfirm}}
            aria-label="Enregistrer les résultats du candidat"
          >
            Enregistrer
          </PixButton>
        {{else}}
          <PixButton
            @size="small"
            @triggerAction={{this.onCandidateResultsEdit}}
            aria-label="Modifier les résultats du candidat"
            @isDisabled={{this.editingCandidateInformations}}
          >
            Modifier
          </PixButton>
        {{/if}}
      </div>
    </div>
  {{/if}}
  <ConfirmPopup
          @message={{this.confirmMessage}}
          @error={{this.confirmErrorMessage}}
          @confirm={{action this.confirmAction}}
          @cancel={{action this.onCandidateResultsCancelConfirm}}
          @show={{this.displayConfirm}} />
</div>
<Certification::CandidateEditModal
  @isDisplayed={{this.isCandidateEditModalOpen}}
  @onCancelButtonsClicked={{this.closeCandidateEditModal}}
  @onFormSubmit={{this.onCandidateInformationSave}}
  @candidate={{this.certification}}
  @countries={{this.countries}}
/>
