<div class="certification-informations">

  <Certification::CertificationInfoPageSection @certification={{this.model}} />

  <section class="page-section">
    <div class="page-section__row">
      <div class="page-section__cell page-section__cell--no-padding page-section__cell--candidate">
        <Certification::CertificationCandidatePanel @certification={{this.model}} />
      </div>
      <div class="page-section__cell page-section__cell--no-padding page-section__cell--results no-padding">
        <Certification::CertificationResultsPanel @certification={{this.model}} @onChange={{fn (mut this.markUpdateRequired true)}}/>
      </div>
      <div class="page-section__cell page-section__cell--no-padding page-section__cell--verdict">
        <Certification::CertificationVerdictPanel @certification={{this.model}} />
      </div>
    </div>

    <div class="page-section__row">
      <div class="page-section__cell">
        <PixButton class="btn btn-primary btn--save" @action={{this.openConfirm}} @loading-color="white">
          Enregistrer
        </PixButton>
      </div>
    </div>
  </section>

  <ConfirmPopup
          @message="Souhaitez-vous mettre à jour cette certification ?"
          @error={{this.confirmErrorMessage}}
          @confirm={{this.saveCertification}}
          @cancel={{this.cancelCertificationSaving}}
          @show={{this.displayConfirm}} />
</div>
