{{#if this.model.answers}}
  <table class="table-admin table-admin__auto-width">
    <thead>
      <tr>
        <th>
          Numéro de question
        </th>
        <th>
          RecId de l'épreuve
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model.answers as |answer| }}
        <tr>
          <td>
            {{answer.order}}
          </td>
          <td>
            {{answer.challengeId}}
          </td>
          <td>
            <PixButton
                @triggerAction={{fn this.neutralize answer.challengeId answer.order}}
                @backgroundColor="blue"
                @loading-color="grey"
                class="neutralization__neutralize-button"
                @isDisabled={{ answer.isNeutralized }}
            >
              Neutraliser
            </PixButton>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>Aucune épreuve posée.</p>
{{/if}}
