<div class="training-target-profiles">
  <section class="page-section">
    <header class="page-section__header">
      <h2 class="page-section__title">Rattacher un ou plusieurs profil(s) cible(s)</h2>
    </header>
    <div class="training__forms-section">
      <form class="training__sub-form form" {{on "submit" this.attachTargetProfiles}}>
        <Input
          aria-label="ID du ou des profil(s) cible(s)"
          @value={{this.targetProfilesToAttach}}
          class="training-sub-form__input form-field__text form-control"
          placeholder="1, 2"
        />
        <PixButton @type="submit" @size="small" @isDisabled={{this.noTargetProfilesToAttach}}>Valider</PixButton>
      </form>
    </div>
  </section>

  <section class="page-section">
    <header class="page-section__header">
      <h2 id="page-section-title" class="page-section__title">{{t
          "pages.trainings.training.targetProfiles.tabName"
        }}</h2>
    </header>
    <div class="content-text content-text--small">
      <div class="table-admin">
        {{#if @model.targetProfileSummaries}}
          <table aria-labelledby="page-section-title">
            <thead>
              <tr>
                <th scope="col" class="table__column table__column--id">ID</th>
                <th scope="col">Nom du profil cible</th>
                <th scope="col">Statut</th>
              </tr>
            </thead>
            <tbody>
              {{#each @model.sortedTargetProfileSummaries as |summary|}}
                <tr aria-label="Profil cible">
                  <td class="table__column table__column--id">{{summary.id}}</td>
                  <td headers="target-profile-name">
                    <LinkTo @route="authenticated.target-profiles.target-profile" @model={{summary.id}}>
                      {{summary.name}}
                    </LinkTo>
                  </td>
                  <td>{{if summary.outdated "Obsolète" "Actif"}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}

        {{#unless @model.targetProfileSummaries}}
          <div class="table__empty">Aucun profil cible associé à ce contenu formatif</div>
        {{/unless}}
      </div>
    </div>
  </section>
</div>