<PixModal
  @title="Ajouter une adresse e-mail"
  @onCloseButtonClick={{@toggleAddAuthenticationMethodModal}}
  @showModal={{@isDisplayed}}
>
  <:content>
    <form id="add-authentication-method-modal" {{on "submit" @submitAddingPixAuthenticationMethod}}>
      <PixInput
        @id="new-email-for-adding-authentication-method"
        @label="Nouvelle adresse e-mail"
        {{on "change" @onChangeNewEmail}}
        @validationStatus={{if @showAlreadyExistingEmailError "error" "default"}}
        @errorMessage="Cette adresse e-mail est déjà utilisée"
        type="email"
        @requiredLabel="Champ obligatoire"
      />
    </form>
  </:content>

  <:footer>
    <PixButton
      @size="small"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @triggerAction={{@toggleAddAuthenticationMethodModal}}
    >
      Annuler
    </PixButton>
    <PixButton form="add-authentication-method-modal" @size="small" @type="submit">
      Enregistrer l'adresse e-mail
    </PixButton>
  </:footer>
</PixModal>