<header class="page-section__header">
  <h2 class="page-section__title">Méthodes de connexion</h2>
</header>

<table class="authentication-method">

  <caption class="authentication-method__caption">Méthodes de connexion</caption>

  <tbody>
    <tr>
      <td class="authentication-method__name-column">Adresse e-mail</td>
      <td>
        {{#if @user.hasEmailAuthenticationMethod}}
          <FaIcon
            @icon="check-circle"
            aria-label="L'utilisateur a une méthode de connexion avec adresse e-mail"
            class="authentication-method__check"
          />
        {{else}}
          <FaIcon
            @icon="times-circle"
            aria-label="L'utilisateur n'a pas de méthode de connexion avec adresse e-mail"
            class="authentication-method__uncheck"
          />
        {{/if}}
      </td>
      <td>
        {{#if @user.isAllowedToRemoveEmailAuthenticationMethod}}
          <PixButton
            class="user-authentication-method__remove-button"
            @size="small"
            @backgroundColor="red"
            @triggerAction={{fn @toggleDisplayRemoveAuthenticationMethodModal "EMAIL"}}
          >Supprimer</PixButton>
        {{/if}}
        {{#if @user.isAllowedToAddEmailAuthenticationMethod}}
          <PixButton @triggerAction={{this.toggleAddAuthenticationMethodModal}} @size="small">Ajouter une adresse e-mail</PixButton>
        {{/if}}
      </td>
    </tr>

    <tr>
      <td class="authentication-method__name-column">Identifiant</td>
      <td>
        {{#if @user.hasUsernameAuthenticationMethod}}
          <FaIcon
            @icon="check-circle"
            aria-label="L'utilisateur a une méthode de connexion avec identifiant"
            class="authentication-method__check"
          />
        {{else}}
          <FaIcon
            @icon="times-circle"
            aria-label="L'utilisateur n'a pas de méthode de connexion avec identifiant"
            class="authentication-method__uncheck"
          />
        {{/if}}
      </td>
      <td>
        {{#if @user.isAllowedToRemoveUsernameAuthenticationMethod}}
          <PixButton
            class="user-authentication-method__remove-button"
            @size="small"
            @backgroundColor="red"
            @triggerAction={{fn @toggleDisplayRemoveAuthenticationMethodModal "USERNAME"}}
          >Supprimer</PixButton>
        {{/if}}
      </td>
    </tr>

    <tr>
      <td class="authentication-method__name-column">Pôle emploi</td>
      <td>
        {{#if @user.hasPoleEmploiAuthenticationMethod}}
          <FaIcon
            @icon="check-circle"
            aria-label="L'utilisateur a une méthode de connexion Pôle Emploi"
            class="authentication-method__check"
          />
        {{else}}
          <FaIcon
            @icon="times-circle"
            aria-label="L'utilisateur n'a pas de méthode de connexion Pôle Emploi"
            class="authentication-method__uncheck"
          />
        {{/if}}
      </td>
      <td>
        {{#if @user.isAllowedToRemovePoleEmploiAuthenticationMethod}}
          <PixButton
            class="user-authentication-method__remove-button"
            @size="small"
            @backgroundColor="red"
            @triggerAction={{fn @toggleDisplayRemoveAuthenticationMethodModal "POLE_EMPLOI"}}
          >Supprimer</PixButton>
        {{/if}}
      </td>
      <td>
        {{#if @user.hasPoleEmploiAuthenticationMethod}}
          <PixButton @triggerAction={{this.toggleReassignPoleEmploiAuthenticationMethodModal}} @size="small">
            Déplacer cette méthode de connexion
          </PixButton>
        {{/if}}
      </td>
    </tr>

    <tr>
      <td class="authentication-method__name-column">Médiacentre</td>
      <td>
        {{#if @user.hasGarAuthenticationMethod}}
          <FaIcon
            @icon="check-circle"
            aria-label="L'utilisateur a une méthode de connexion Médiacentre"
            class="authentication-method__check"
          />
        {{else}}
          <FaIcon
            @icon="times-circle"
            aria-label="L'utilisateur n'a pas de méthode de connexion Médiacentre"
            class="authentication-method__uncheck"
          />
        {{/if}}
      </td>
      <td>
        {{#if @user.isAllowedToRemoveGarAuthenticationMethod}}
          <PixButton
            class="user-authentication-method__remove-button"
            @size="small"
            @backgroundColor="red"
            @triggerAction={{fn @toggleDisplayRemoveAuthenticationMethodModal "GAR"}}
          >Supprimer</PixButton>
        {{/if}}
      </td>
      <td>
        {{#if @user.hasGarAuthenticationMethod}}
          <PixButton @triggerAction={{this.toggleReassignGarAuthenticationMethodModal}} @size="small">
            Déplacer cette méthode de connexion
          </PixButton>
        {{/if}}
      </td>
    </tr>
  </tbody>
</table>

<Users::UserDetailPersonalInformation::AddAuthenticationMethodModal
  @showAddAuthenticationMethodModal={{this.showAddAuthenticationMethodModal}}
  @onChangeNewEmail={{this.onChangeNewEmail}}
  @showAlreadyExistingEmailError={{this.showAlreadyExistingEmailError}}
  @toggleAddAuthenticationMethodModal={{this.toggleAddAuthenticationMethodModal}}
  @submitAddingPixAuthenticationMethod={{this.submitAddingPixAuthenticationMethod}}
/>

{{#if this.showReassignGarAuthenticationMethodModal}}
  <Users::UserDetailPersonalInformation::ReassignGarAuthenticationMethodModal
    @onChangeTargetUserId={{this.onChangeTargetUserId}}
    @toggleReassignGarAuthenticationMethodModal={{this.toggleReassignGarAuthenticationMethodModal}}
    @submitReassignGarAuthenticationMethod={{this.submitReassignGarAuthenticationMethod}}
  />
{{/if}}

{{#if this.showReassignPoleEmploiAuthenticationMethodModal}}
  <Users::UserDetailPersonalInformation::ReassignPoleEmploiAuthenticationMethodModal
    @onChangeTargetUserId={{this.onChangeTargetUserId}}
    @toggleReassignPoleEmploiAuthenticationMethodModal={{this.toggleReassignPoleEmploiAuthenticationMethodModal}}
    @submitReassignPoleEmploiAuthenticationMethod={{this.submitReassignPoleEmploiAuthenticationMethod}}
  />
{{/if}}