<header class="page-section__header">
  <h2 class="page-section__title">Méthodes de connexion</h2>
</header>

<dl>
  <div class="authentication-method__connexions-information">
    <dt>Date de dernière connexion :</dt>
    {{#if @user.lastLoggedAt}}
      <dd>{{dayjs-format @user.lastLoggedAt "DD/MM/YYYY"}}</dd>
    {{/if}}
  </div>
  {{#if @user.emailConfirmedAt}}
    <div class="authentication-method__connexions-information">
      <dt>Adresse e-mail confirmée le :</dt>
      <dd>{{dayjs-format @user.emailConfirmedAt "DD/MM/YYYY"}}</dd>
    </div>
  {{else}}
    <div class="authentication-method__connexions-information">
      Adresse e-mail non confirmée
    </div>
  {{/if}}

</dl>

<table class="authentication-method-table">

  <caption class="authentication-method-table__caption">Méthodes de connexion</caption>

  <tbody>
    <tr>
      <td class="authentication-method-table__name-column">Adresse e-mail</td>
      <td>
        {{#if this.hasEmailAuthenticationMethod}}
          <FaIcon
            @icon="check-circle"
            aria-label="L'utilisateur a une méthode de connexion avec adresse e-mail"
            class="authentication-method-table__check"
          />
        {{else}}
          <FaIcon
            @icon="times-circle"
            aria-label="L'utilisateur n'a pas de méthode de connexion avec adresse e-mail"
            class="authentication-method-table__uncheck"
          />
        {{/if}}
      </td>
      <td>
        {{#if this.accessControl.hasAccessToUsersActionsScope}}
          {{#if this.isAllowedToRemoveEmailAuthenticationMethod}}
            <PixButton
              class="user-authentication-method__remove-button"
              @size="small"
              @backgroundColor="red"
              @triggerAction={{fn @toggleDisplayRemoveAuthenticationMethodModal "EMAIL"}}
            >Supprimer</PixButton>
          {{/if}}
          {{#if this.isAllowedToAddEmailAuthenticationMethod}}
            <PixButton @triggerAction={{this.toggleAddAuthenticationMethodModal}} @size="small">
              Ajouter une adresse e-mail
            </PixButton>
          {{/if}}
        {{/if}}
      </td>
    </tr>

    <tr>
      <td class="authentication-method-table__name-column">Identifiant</td>
      <td>
        {{#if this.hasUsernameAuthenticationMethod}}
          <FaIcon
            @icon="check-circle"
            aria-label="L'utilisateur a une méthode de connexion avec identifiant"
            class="authentication-method-table__check"
          />
        {{else}}
          <FaIcon
            @icon="times-circle"
            aria-label="L'utilisateur n'a pas de méthode de connexion avec identifiant"
            class="authentication-method-table__uncheck"
          />
        {{/if}}
      </td>
      <td>
        {{#if this.accessControl.hasAccessToUsersActionsScope}}
          {{#if this.isAllowedToRemoveUsernameAuthenticationMethod}}
            <PixButton
              class="user-authentication-method__remove-button"
              @size="small"
              @backgroundColor="red"
              @triggerAction={{fn @toggleDisplayRemoveAuthenticationMethodModal "USERNAME"}}
            >Supprimer</PixButton>
          {{/if}}
        {{/if}}
      </td>
    </tr>

    <tr>
      <td class="authentication-method-table__name-column">Médiacentre</td>
      <td>
        {{#if this.hasGarAuthenticationMethod}}
          <FaIcon
            @icon="check-circle"
            aria-label="L'utilisateur a une méthode de connexion Médiacentre"
            class="authentication-method-table__check"
          />
        {{else}}
          <FaIcon
            @icon="times-circle"
            aria-label="L'utilisateur n'a pas de méthode de connexion Médiacentre"
            class="authentication-method-table__uncheck"
          />
        {{/if}}
      </td>
      <td>
        {{#if this.accessControl.hasAccessToUsersActionsScope}}
          {{#if this.isAllowedToRemoveGarAuthenticationMethod}}
            <PixButton
              @size="small"
              @backgroundColor="red"
              @triggerAction={{fn @toggleDisplayRemoveAuthenticationMethodModal "GAR"}}
            >Supprimer</PixButton>{{/if}}
        {{/if}}
      </td>
      <td>
        {{#if this.accessControl.hasAccessToUsersActionsScope}}
          {{#if this.hasGarAuthenticationMethod}}
            <PixButton @triggerAction={{this.toggleReassignGarAuthenticationMethodModal}} @size="small">
              Déplacer cette méthode de connexion
            </PixButton>
          {{/if}}
        {{/if}}
      </td>
    </tr>

    <tr>
      <td class="authentication-method-table__name-column">Pôle emploi</td>
      <td>
        {{#if this.hasPoleEmploiAuthenticationMethod}}
          <FaIcon
            @icon="check-circle"
            aria-label="L'utilisateur a une méthode de connexion Pôle Emploi"
            class="authentication-method-table__check"
          />
        {{else}}
          <FaIcon
            @icon="times-circle"
            aria-label="L'utilisateur n'a pas de méthode de connexion Pôle Emploi"
            class="authentication-method-table__uncheck"
          />
        {{/if}}
      </td>
      <td>
        {{#if this.accessControl.hasAccessToUsersActionsScope}}
          {{#if this.isAllowedToRemovePoleEmploiAuthenticationMethod}}
            <PixButton
              class="user-authentication-method__remove-button"
              @size="small"
              @backgroundColor="red"
              @triggerAction={{fn @toggleDisplayRemoveAuthenticationMethodModal "POLE_EMPLOI"}}
            >Supprimer</PixButton>
          {{/if}}
        {{/if}}
      </td>
      <td>
        {{#if this.accessControl.hasAccessToUsersActionsScope}}
          {{#if this.hasPoleEmploiAuthenticationMethod}}
            <PixButton @triggerAction={{this.toggleReassignPoleEmploiAuthenticationMethodModal}} @size="small">
              Déplacer cette méthode de connexion
            </PixButton>
          {{/if}}
        {{/if}}
      </td>
    </tr>

    <tr>
      <td class="authentication-method-table__name-column">CNAV</td>
      <td>
        {{#if this.hasCnavAuthenticationMethod}}
          <FaIcon
            @icon="check-circle"
            aria-label="L'utilisateur a une méthode de connexion CNAV"
            class="authentication-method-table__check"
          />
        {{else}}
          <FaIcon
            @icon="times-circle"
            aria-label="L'utilisateur n'a pas de méthode de connexion CNAV"
            class="authentication-method-table__uncheck"
          />
        {{/if}}
      </td>
      <td>
        {{#if this.accessControl.hasAccessToUsersActionsScope}}
          {{#if this.isAllowedToRemoveCnavAuthenticationMethod}}
            <PixButton
              class="user-authentication-method__remove-button"
              @size="small"
              @backgroundColor="red"
              @triggerAction={{fn @toggleDisplayRemoveAuthenticationMethodModal "CNAV"}}
            >Supprimer</PixButton>
          {{/if}}
        {{/if}}
      </td>
    </tr>
  </tbody>
</table>

<Users::UserDetailPersonalInformation::AddAuthenticationMethodModal
  @showAddAuthenticationMethodModal={{this.showAddAuthenticationMethodModal}}
  @onChangeNewEmail={{this.onChangeNewEmail}}
  @showAlreadyExistingEmailError={{this.showAlreadyExistingEmailError}}
  @toggleAddAuthenticationMethodModal={{this.toggleAddAuthenticationMethodModal}}
  @submitAddingPixAuthenticationMethod={{this.submitAddingPixAuthenticationMethod}}
/>

{{#if this.showReassignGarAuthenticationMethodModal}}
  <Users::UserDetailPersonalInformation::ReassignGarAuthenticationMethodModal
    @onChangeTargetUserId={{this.onChangeTargetUserId}}
    @toggleReassignGarAuthenticationMethodModal={{this.toggleReassignGarAuthenticationMethodModal}}
    @submitReassignGarAuthenticationMethod={{this.submitReassignGarAuthenticationMethod}}
  />
{{/if}}

{{#if this.showReassignPoleEmploiAuthenticationMethodModal}}
  <Users::UserDetailPersonalInformation::ReassignPoleEmploiAuthenticationMethodModal
    @onChangeTargetUserId={{this.onChangeTargetUserId}}
    @toggleReassignPoleEmploiAuthenticationMethodModal={{this.toggleReassignPoleEmploiAuthenticationMethodModal}}
    @submitReassignPoleEmploiAuthenticationMethod={{this.submitReassignPoleEmploiAuthenticationMethod}}
  />
{{/if}}