<div class="element-video">
  <div class="element-video__container">
    {{! template-lint-disable require-media-caption }}
    <video
      {{did-insert this.launchPlyr}}
      id={{@video.id}}
      ref="video"
      class="pix-video-player"
      playsinline
      controls
      crossorigin
    >
      <source src={{@video.url}} type="video/mp4" />
      {{#if this.hasSubtitles}}
        <track kind="captions" label="Français" src={{@video.subtitles}} srclang="fr" default />
      {{/if}}
    </video>
  </div>

  {{#if this.hasTranscription}}
    <PixButton @variant="secondary" @size="small" @type="button" @triggerAction={{this.showModal}}>
      {{t "pages.modulix.buttons.element.transcription"}}
    </PixButton>
    <PixModal
      @title={{t "pages.modulix.modals.transcription.title"}}
      @showModal={{this.modalIsOpen}}
      @onCloseButtonClick={{this.closeModal}}
    >
      <:content>
        {{html-unsafe @video.transcription}}
      </:content>
    </PixModal>
  {{/if}}
</div>