<span class="campaign-type">
  <FaIcon
    class="{{this.pictoCssClass}}"
    @icon="{{this.picto}}"
    @prefix="fapix"
    aria-hidden={{this.picotAriaHidden}}
    @title={{this.pictoTitle}}
  />
  {{#unless @hideLabel}}
    <span class="campaign-type__label">{{this.label}}</span>
  {{/unless}}
</span>