<div id={{this.filtersId}} />

<div class="panel">
  <table class="table content-text content-text--small">
    <caption class="screen-reader-only">{{t "pages.organization-participants.table.description"}}</caption>
    <thead id={{this.headerId}} />

    <tbody>
      <SelectableList @items={{@participants}}>
        <:manager as |allSelected someSelected toggleAll selectedParticipants reset|>
          <InElement @destinationId={{this.headerId}}>
            <OrganizationParticipant::TableHeaders
              @allSelected={{allSelected}}
              @someSelected={{someSelected}}
              @showCheckbox={{this.showCheckbox}}
              @hasParticipants={{this.hasParticipants}}
              @onToggleAll={{toggleAll}}
              @lastnameSort={{@lastnameSort}}
              @participationCountOrder={{@participationCountOrder}}
              @latestParticipationOrder={{@latestParticipationOrder}}
              @onSortByLastname={{fn this.addResetOnFunction @sortByLastname reset}}
              @onSortByParticipationCount={{fn this.addResetOnFunction @sortByParticipationCount reset}}
              @onSortByLatestParticipation={{fn this.addResetOnFunction @sortByLatestParticipation reset}}
              @hasComputeOrganizationLearnerCertificabilityEnabled={{@hasComputeOrganizationLearnerCertificabilityEnabled}}
            />
          </InElement>
          {{#if someSelected}}
            <InElement @destinationId={{this.actionBarId}}>
              <OrganizationParticipant::ActionBar
                @count={{selectedParticipants.length}}
                @openDeletionModal={{this.openDeletionModal}}
              />
              <Ui::DeletionModal
                @title={{t
                  "pages.organization-participants.deletion-modal.title"
                  count=selectedParticipants.length
                  firstname=(get selectedParticipants "0.firstName")
                  lastname=(get selectedParticipants "0.lastName")
                  htmlSafe=true
                }}
                @showModal={{this.showDeletionModal}}
                @count={{selectedParticipants.length}}
                @onTriggerAction={{fn this.deleteParticipants selectedParticipants reset}}
                @onCloseModal={{this.closeDeletionModal}}
              >
                <:content>
                  <p>{{t "pages.organization-participants.deletion-modal.content.header" count=this.count}}</p>
                  <p>{{t
                      "pages.organization-participants.deletion-modal.content.main-participation-prevent"
                      count=selectedParticipants.length
                    }}</p>
                  <p>{{t
                      "pages.organization-participants.deletion-modal.content.main-campaign-prevent"
                      count=selectedParticipants.length
                    }}</p>
                  <p>{{t
                      "pages.organization-participants.deletion-modal.content.main-participation-access"
                      count=selectedParticipants.length
                    }}</p>
                  <p>{{t
                      "pages.organization-participants.deletion-modal.content.main-new-campaign-access"
                      count=selectedParticipants.length
                    }}</p>
                  <p><strong>{{t
                        "pages.organization-participants.deletion-modal.content.footer"
                        count=selectedParticipants.length
                      }}</strong></p>
                </:content>
              </Ui::DeletionModal>
            </InElement>
          {{/if}}
          <InElement @destinationId={{this.paginationId}} @waitForElement={{true}}>
            <Table::PaginationControl @pagination={{@participants.meta}} @onChange={{reset}} />
          </InElement>
          <InElement @destinationId={{this.filtersId}}>
            <OrganizationParticipant::LearnerFilters
              @learnersCount={{@participants.meta.rowCount}}
              @fullName={{@fullName}}
              @certificabilityFilter={{@certificabilityFilter}}
              @onTriggerFiltering={{fn this.addResetOnFunction @triggerFiltering reset}}
              @onResetFilter={{fn this.addResetOnFunction @onResetFilter reset}}
            />
          </InElement>
        </:manager>
        <:item as |participant toggleParticipant isParticipantSelected|>
          <OrganizationParticipant::TableRow
            @showCheckbox={{this.showCheckbox}}
            @participant={{participant}}
            @isParticipantSelected={{isParticipantSelected}}
            @onToggleParticipant={{fn this.addStopPropagationOnFunction toggleParticipant}}
            @onClickLearner={{fn @onClickLearner participant.id}}
            @hideCertifiableDate={{@hasComputeOrganizationLearnerCertificabilityEnabled}}
          />
        </:item>
      </SelectableList>
    </tbody>
  </table>

  {{#unless @participants}}
    <div class="table__empty content-text">
      {{t "pages.organization-participants.table.empty"}}
    </div>
  {{/unless}}
</div>

<div id={{this.actionBarId}} />
<div id={{this.paginationId}} />