<tr
  aria-label={{t "pages.organization-participants.table.row-title"}}
  {{on "click" @onClickLearner}}
  class="tr--clickable"
>
  {{#if @showCheckbox}}
    <td class="table__column" {{on "click" @onToggleParticipant}}>
      <PixCheckbox @screenReaderOnly={{true}} @checked={{@isParticipantSelected}}>
        {{t
          "pages.organization-participants.table.column.checkbox"
          firstname=@participant.firstName
          lastname=@participant.lastName
        }}
      </PixCheckbox>
    </td>
  {{/if}}
  <td class="table__column">
    <LinkTo @route="authenticated.organization-participants.organization-participant" @model={{@participant.id}}>
      {{@participant.lastName}}
    </LinkTo>
  </td>
  <td class="ellipsis" title={{@participant.firstName}}>{{@participant.firstName}}</td>
  <td class="table__column--center">
    {{@participant.participationCount}}
  </td>
  <td>
    <div class="organization-participant-list-page__last-participation">
      <span>{{dayjs-format @participant.lastParticipationDate "DD/MM/YYYY"}}</span>
      <Ui::LastParticipationDateTooltip
        @id={{@participant.id}}
        @campaignName={{@participant.campaignName}}
        @campaignType={{@participant.campaignType}}
        @participationStatus={{@participant.participationStatus}}
      />
    </div>
  </td>
  <td class="table__column--center">
    <Certificability::Cell
      @certifiableAt={{@participant.certifiableAt}}
      @isCertifiable={{@participant.isCertifiable}}
      @hideCertifiableDate={{@hideCertifiableDate}}
    />
  </td>
</tr>