<div class="content-text content-text--small">
  <div class="table-admin">
    <table>
      <caption class="screen-reader-only">Liste des contenus formatifs</caption>
      <thead>
        <tr>
          <th class="table__column table__column--id" id="training-id" scope="col">ID</th>
          <th id="training-titre" scope="col">Titre</th>
          <th id="training-prerequisite-threshold" scope="col" class="col-status">Prérequis</th>
          <th id="training-goal-threshold" scope="col" class="col-status">Objectif à ne pas dépasser</th>
          <th id="training-target-profile-count" scope="col" class="col-status">Profils cibles associés</th>
          <th id="training-state" scope="col" class="col-status">État</th>
        </tr>
        {{#if @triggerFiltering}}
          <tr>
            <td class="table__column table__column--id">
              <input
                type="text"
                value={{this.searchedId}}
                oninput={{fn @triggerFiltering "id"}}
                class="table-admin-input"
                aria-label="Filtrer les contenus formatifs par un id"
              />
            </td>
            <td>
              <input
                type="text"
                value={{this.searchedTitle}}
                oninput={{fn @triggerFiltering "title"}}
                class="table-admin-input"
                aria-label="Filtrer les contenus formatifs par un titre"
              />
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        {{/if}}
      </thead>

      {{#if @summaries}}
        <tbody>
          {{#each @summaries as |summary|}}
            <tr aria-label="Contenu formatif">
              <td headers="training-id" class="table__column table__column--id">{{summary.id}}</td>
              <td headers="training-title">
                <LinkTo @route="authenticated.trainings.training" @model={{summary.id}}>
                  {{summary.title}}
                </LinkTo>
              </td>
              <td headers="training-prerequisite-threshold">
                {{summary.prerequisiteThreshold}}
              </td>
              <td headers="training-goal-threshold">
                {{summary.goalThreshold}}
              </td>
              <td headers="training-target-profiles-count">
                {{summary.targetProfilesCount}}
              </td>
              <td headers="training-state">
                <Trainings::StateTag @isDisabled={{summary.isDisabled}} />
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless @summaries}}
      <div class="table__empty">Aucun résultat</div>
    {{/unless}}
  </div>
</div>

{{#if @summaries}}
  <PixPagination @pagination={{@summaries.meta.pagination}} />
{{/if}}