<div class="challenge-statement-instruction__tag challenge-statement-instruction__tag{{if this.isFocusedChallenge "--focused" "--regular"}}">
  <button type="button"
          tabindex="0"
          aria-describedby="challenge-statement-tag-icon-button"
          class="challenge-statement-tag__icon-button"
          {{on 'mouseenter' this.showTooltipOnMouseEnter}}
          {{on 'mouseleave' this.hideTooltipOnMouseLeave}}
          {{on 'click' this.showTooltipOnMouseEnter}}/>

  {{#if this.shouldDisplayTooltip}}
    <div role="tooltip"
         id="challenge-statement-tag-icon-button"
         class="challenge-statement__tag-information"
         tabindex="0"
      {{on-key 'Escape' this.hideTooltip event='keyup'}}
      {{on 'focusout' this.hideTooltipOnMouseLeave}}>
      {{#if this.isFocusedChallenge}}
        <p class="challenge-statement-tag-information__text">
          {{t 'pages.challenge.statement.tooltip.focused'}}
        </p>
      {{/if}}
      {{#if this.shouldDisplayButton}}
        <PixButton class="challenge-statement-tag-information__button"
                   @size="small"
                   @triggerAction={{this.hideTooltip}}>
          {{t 'pages.challenge.statement.tooltip.close'}}
        </PixButton>
      {{/if}}
    </div>
  {{/if}}
</div>
