<Routes::Authenticated::Campaign::ParticipationFilters
  @campaign={{@campaign}}
  @selectedDivisions={{@selectedDivisions}}
  @triggerFiltering={{@triggerFiltering}}
  @rowCount={{@profiles.meta.rowCount}}
  @resetFiltering={{@resetFiltering}}
/>

<div class="panel">
  <div class="table content-text content-text--small">
    <table>
      <thead>
        <tr>
          <th>{{t 'pages.profiles-list.table.column.first-name'}}</th>
          <th>{{t 'pages.profiles-list.table.column.last-name'}}</th>
          {{#if @campaign.idPixLabel}}
            <th>{{@campaign.idPixLabel}}</th>
          {{/if}}
          <th class="table__column--center">{{t 'pages.profiles-list.table.column.sending-date.label'}}</th>
          <th class="table__column--center">{{t 'pages.profiles-list.table.column.pix-score'}}</th>
          <th class="table__column--center">{{t 'pages.profiles-list.table.column.certifiable'}}</th>
          <th class="table__column--center">{{t 'pages.profiles-list.table.column.competences-certifiables'}}</th>
        </tr>
      </thead>

      {{#if @profiles}}
        <tbody>
        {{#each @profiles as |profile|}}
          <tr aria-label={{t 'pages.profiles-list.table.row-title'}} role="button" {{on 'click' (fn @goToProfilePage @campaign.id profile.id)}} class="tr--clickable">
            <td>{{profile.lastName}}</td>
            <td>{{profile.firstName}}</td>
            {{#if @campaign.idPixLabel}}
              <td>{{profile.participantExternalId}}</td>
            {{/if}}
            <td class="table__column--center">
              {{#if profile.sharedAt }}
                {{moment-format profile.sharedAt 'DD/MM/YYYY'}}
              {{else}}
                <span class="table__column--highlight">{{t 'pages.profiles-list.table.column.sending-date.on-hold'}}</span>
              {{/if}}
            </td>
            <td class="table__column--center">
              {{#if profile.sharedAt }}
                <PixTag @color="purple" class="pix-score-tag">
                  {{profile.pixScore}}
                </PixTag>
              {{/if}}
            </td>
            <td class="table__column--center">
              {{#if profile.certifiable }}
                <PixTag @color="green-light">{{t 'pages.profiles-list.table.column.certifiable'}}</PixTag>
              {{/if}}
            </td>
            <td class="table__column--center">
              {{profile.certifiableCompetencesCount}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless @profiles}}
      <div class="table__empty content-text">{{t 'pages.profiles-list.table.empty'}}</div>
    {{/unless}}
  </div>
</div>

{{#if @profiles}}
  <PaginationControl @pagination={{@profiles.meta}}/>
{{/if}}
