<table>
  <thead>
    <tr>
      <th>
        {{t "pages.profiles-individual-results.table.column.skill"}}
      </th>
      <th class="table__column table__column--center">
        {{t "pages.profiles-individual-results.table.column.level"}}
      </th>
      <th class="table__column table__column--center">
        {{t "pages.profiles-individual-results.table.column.pix-score"}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each @competences as |competence|}}
      <tr aria-label={{t "pages.profiles-individual-results.table.row-title"}}>
        <td class="competences-col__name">
          <span class="competences-col__border competences-col__border--{{competence.areaColor}}"></span>
          <span>
            {{competence.name}}
          </span>
        </td>
        <td class="table__column--center">
          {{competence.estimatedLevel}}
        </td>
        <td class="table__column--center">
          {{competence.pixScore}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#unless @isShared }}
  <div class="table__empty content-text">
    {{t "pages.profiles-individual-results.table.empty"}}
  </div>
{{/unless}}
