<div class="student-sco">
  <Routes::LoginOrRegister
    @organizationName={{@model.organizationName}}
    @campaignCode={{@model.code}}
    @displayRegisterForm={{this.displayRegisterForm}}
    @toggleFormsVisibility={{this.toggleFormsVisibility}}
    @addGarAuthenticationMethodToUser={{this.addGarAuthenticationMethodToUser}}
  />
</div>