<div class="list-students-page__header">
  <div class="page__title page-title">{{t "pages.students-sup.title"}}</div>
  {{#if this.currentUser.isAdminInOrganization}}
    <div class="list-students-page__import-students-button">
      <a class="button button--link button--no-color"
         href="{{this.urlToDownloadCsvTemplate}}" target="_blank" rel="noopener noreferrer" download>
        {{t "pages.students-sup.actions.download-template"}}
      </a>
      <FileUpload @name="file-upload" @for="students-file-upload" @accept=".csv" @multiple={{false}} @onfileadd={{@importStudents}}>
        <span class="button" role="button" tabindex="0">{{t "pages.students-sup.actions.import-file"}}</span>
      </FileUpload>
    </div>
  {{/if}}
</div>

<div class="panel">
  <div class="table content-text content-text--small">
    <table>
      <thead>
        <tr>
          <Table::Header>{{t "pages.students-sup.table.column.student-number"}}</Table::Header>
          <Table::Header>{{t "pages.students-sup.table.column.last-name"}}</Table::Header>
          <Table::Header>{{t "pages.students-sup.table.column.first-name"}}</Table::Header>
          <Table::Header>{{t "pages.students-sup.table.column.date-of-birth"}}</Table::Header>
          <Table::Header />
        </tr>
        <tr>
          <Table::Header/>
          <Table::HeaderFilterInput
            @field="lastName"
            @value={{@lastNameFilter}}
            @placeholder={{t "pages.students-sup.table.filter.last-name.label"}}
            @ariaLabel={{t "pages.students-sup.table.filter.last-name.aria-label"}}
            @triggerFiltering={{@triggerFiltering}}
          />
          <Table::HeaderFilterInput
            @field="firstName"
            @value={{@firstNameFilter}}
            @placeholder={{t "pages.students-sup.table.filter.first-name.label"}}
            @ariaLabel={{t "pages.students-sup.table.filter.first-name.aria-label"}}
            @triggerFiltering={{@triggerFiltering}}
          />
          <Table::Header/>
          <Table::Header />
        </tr>
      </thead>

      {{#if @students}}
        <tbody>
        {{#each @students as |student|}}
          <tr aria-label={{t "pages.students-sup.table.row-title"}}>
            <td>{{student.studentNumber}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.firstName}}</td>
            <td>{{moment-format student.birthdate 'DD/MM/YYYY'}}</td>
            <td class="list-students-page__actions">
              {{#if this.currentUser.isAdminInOrganization}}
                <Dropdown::IconTrigger
                  @icon="ellipsis-v"
                  @dropdownButtonClass="list-students-page__dropdown-button"
                  @dropdownContentClass="list-students-page__dropdown-content"
                >
                  <Dropdown::Item @onClick={{fn this.openEditStudentNumberModal student}}>
                    {{t "pages.students-sup.actions.edit-student-number"}}
                  </Dropdown::Item>
                </Dropdown::IconTrigger>
              {{/if}}
            </td>
          </tr>
        {{/each}}

        </tbody>
      {{/if}}
    </table>

    {{#unless @students}}
      <div class="table__empty content-text">{{t "pages.students-sup.table.empty"}}</div>
    {{/unless}}
  </div>

  <EditStudentNumberModal
    @student={{this.selectedStudent}}
    @onSaveStudentNumber={{this.onSaveStudentNumber}}
    @display={{this.isShowingEditStudentNumberModal}}
    @closeModal={{this.closeEditStudentNumberModal}}
  />
</div>

{{#if @isLoading}}
  <ModalDialog @translucentOverlay={{true}} @containerClass="modal__translucent">
    <PixLoader />
  </ModalDialog>
{{/if}}

<PaginationControl @pagination={{@students.meta}}/>
