<form class="element-qrocm" {{on "submit" this.submitAnswer}}>
  <div class="element-qrocm__instruction">
    {{html-unsafe @qrocm.instruction}}
  </div>

  <div class="element-qrocm__proposals">
    {{#each @qrocm.formattedProposals as |block|}}
      {{#if (eq block.type "text")}}
        {{html-unsafe block.content}}
      {{/if}}
      {{#if (eq block.type "input")}}
        {{#if (eq block.inputType "text")}}
          <div class="element-qrocm-proposals__input--block">
            <PixInput
              @type="text"
              @value={{get this.selectedValues block.input}}
              @id={{block.input}}
              autocomplete="nope"
              placeholder={{block.placeholder}}
              @ariaLabel={{block.ariaLabel}}
              @onChange={{fn this.onAnswerChanged block}}
              size={{block.size}}
            />
          </div>
        {{/if}}
      {{else if (eq block.type "select")}}
        <PixSelect
          @value={{get this.selectedValues block.input}}
          @placeholder={{block.placeholder}}
          @label={{block.ariaLabel}}
          @options={{block.options}}
          @hideDefaultOption={{true}}
          @onChange={{fn this.onAnswerChanged block}}
          @screenReaderOnly={{true}}
        />
      {{/if}}
    {{/each}}
  </div>

  {{#if this.requiredMessage}}
    <PixMessage role="alert" @type="error" @withIcon={{true}}>
      {{t "pages.modulix.verification-precondition-failed-alert.qrocm"}}
    </PixMessage>
  {{/if}}

  <PixButton @backgroundColor="green" @shape="rounded" @type="submit" class="element-qrocm__verify_button">
    {{t "pages.modulix.buttons.activity.verify"}}
  </PixButton>
</form>