<form class="element-qrocm" autocapitalize="off" autocomplete="nope" autocorrect="off" spellcheck="false">
  <fieldset disabled={{this.disableInput}}>
    <div class="element-qrocm__header">
      <legend class="element-qrocm-header__direction">
        {{t "pages.modulix.qrocm.direction" count=this.nbOfProposals}}
      </legend>

      <div class="element-qrocm-header__instruction">
        {{html-unsafe this.element.instruction}}
      </div>
    </div>

    <div class="element-qrocm__proposals">
      {{#each this.formattedProposals as |block|}}
        {{#if (eq block.type "text")}}
          {{html-unsafe block.content}}
        {{/if}}
        {{#if (eq block.type "input")}}
          {{#if (eq block.inputType "text")}}
            <div class="element-qrocm-proposals__input element-qrocm-proposals__input--{{block.display}}">
              <PixInput
                @type="text"
                @value={{get this.selectedValues block.input}}
                @id={{block.input}}
                placeholder={{block.placeholder}}
                @screenReaderOnly={{true}}
                {{on "change" (fn this.onInputChanged block)}}
                size={{block.size}}
              >
                <:label>{{block.ariaLabel}}</:label>
              </PixInput>
            </div>
          {{/if}}
        {{else if (eq block.type "select")}}
          <div class="element-qrocm-proposals__input element-qrocm-proposals__input--{{block.display}}">
            <PixSelect
              @value={{get this.selectedValues block.input}}
              @placeholder={{block.placeholder}}
              @options={{block.options}}
              @hideDefaultOption={{true}}
              @onChange={{fn this.onSelectChanged block}}
              @screenReaderOnly={{true}}
            >
              <:label>{{block.ariaLabel}}</:label>
            </PixSelect>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </fieldset>

  {{#if this.shouldDisplayRequiredMessage}}
    <div class="element-qrocm__required-field-missing">
      <PixMessage role="alert" @type="error" @withIcon={{true}}>
        {{t "pages.modulix.verification-precondition-failed-alert.qrocm"}}
      </PixMessage>
    </div>
  {{/if}}

  {{#unless this.correction}}
    <PixButton
      @variant="success"
      @shape="rounded"
      @type="submit"
      class="element-qrocm__verify-button"
      @triggerAction={{this.submitAnswer}}
    >
      {{t "pages.modulix.buttons.activity.verify"}}
    </PixButton>
  {{/unless}}

  <div class="element-qrocm__feedback" role="status" tabindex="-1">
    {{#if this.shouldDisplayFeedback}}
      <PixMessage @type={{this.feedbackType}} @withIcon={{true}} class="element-qrocm-feedback__message">
        {{html-unsafe this.correction.feedback}}
      </PixMessage>
    {{/if}}
  </div>

  {{#if this.shouldDisplayRetryButton}}
    <PixButton
      class="element-qrocm__retry-button"
      @variant="secondary"
      @shape="rounded"
      @size="small"
      @type="button"
      @triggerAction={{this.retry}}
      @iconAfter="rotate-right"
    >
      {{t "pages.modulix.buttons.activity.retry"}}
    </PixButton>
  {{/if}}
</form>