{{page-title (t "pages.profile-already-shared.title")}}

<div class="background-banner-wrapper">
  <div class="background-banner"></div>
  <PixBlock @shadow="heavy" class="send-profile-header">
    <div class="send-profile-header__announcement">
      {{#unless this.model.sharedProfile.canRetry}}
        <img
          class="send-profile-header__image"
          src="/images/illustrations/fat-bee.svg"
          alt={{t "pages.profile-already-shared.first-title"}}
        />
      {{/unless}}
      <p class="send-profile-header__instruction">
        {{t
          "pages.profile-already-shared.explanation"
          organization=this.model.campaign.organizationName
          date=(dayjs-format this.model.sharedProfile.sharedAt "D MMMM YYYY")
          hour=this.model.sharedProfile.sharedAt
          htmlSafe=true
        }}
      </p>
      <LinkTo @route="authenticated" class="skill-review-share__back-to-home link">
        {{t "pages.profile-already-shared.actions.continue"}}
      </LinkTo>
    </div>
    {{#if this.model.sharedProfile.canRetry}}
      <div class="profile-already-shared-retry">
        <p class="profile-already-shared-retry__message">{{t
            "pages.profile-already-shared.retry.message"
            organization=this.model.campaign.organizationName
          }}</p>
        <LinkTo
          @route="campaigns.entry-point"
          @model={{@model.campaign.code}}
          @query={{this.query}}
          class="button button--link profile-already-shared-retry__button"
        >{{t "pages.profile-already-shared.retry.button"}}</LinkTo>
      </div>
    {{/if}}
    <div class="send-profile-header__profile">
      <HexagonScore
        @pixScore={{this.model.sharedProfile.pixScore}}
        @maxReachablePixScore={{this.model.sharedProfile.maxReachablePixScore}}
        @maxReachableLevel={{this.model.sharedProfile.maxReachableLevel}}
      />
      <div class="send-profile-header__profile__cards">
        <ProfileScorecards
          class="send-profile-header__profile__cards"
          @interactive={{false}}
          @areas={{this.model.sharedProfile.areas}}
          @scorecards={{this.model.sharedProfile.scorecards}}
        />
      </div>
    </div>
  </PixBlock>
</div>