{{!-- template-lint-disable no-implicit-this  --}}
{{page-title (t 'pages.profile-already-shared.title')}}

<div class="background-banner-wrapper">
  <div class="background-banner"></div>
  <PixBlock @shadow="heavy" class="send-profile-header">
    <div class="send-profile-header__announcement">
      <img class="send-profile-header__image" src="{{rootURL}}/images/illustrations/fat-bee.svg" alt={{t "pages.profile-already-shared.first-title"}}>
      <p class="send-profile-header__instruction">
        {{t "pages.profile-already-shared.explanation" organization=this.model.campaign.organizationName date=(moment-format this.model.sharedProfile.sharedAt 'D MMMM YYYY') hour=this.model.sharedProfile.sharedAt htmlSafe=true}}
      </p>
      <LinkTo @route="index" class="skill-review-share__back-to-home link">
        {{t "pages.profile-already-shared.actions.continue"}}
      </LinkTo>
    </div>
    <div class="send-profile-header__profile">
      <HexagonScore @pixScore={{this.model.sharedProfile.pixScore}} />
      <div class="send-profile-header__profile__cards">
        <ProfileScorecards
                class="send-profile-header__profile__cards"
                @interactive={{false}}
                @areasCode={{this.model.sharedProfile.areasCode}}
                @scorecards={{this.model.sharedProfile.scorecards}}
        />
      </div>
    </div>
  </PixBlock>
</div>
