{{! template-lint-disable no-action }}
{{page-title (t "pages.send-profile.title")}}

<div class="background-banner-wrapper">
  <div class="background-banner"></div>
  <div class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner send-profile-header">
    <Routes::Campaigns::ProfilesCollection::SendProfile
      @isDisabled={{this.isDisabled}}
      @user={{this.model.user}}
      @campaignParticipation={{this.model.campaignParticipation}}
      @campaign={{this.model.campaign}}
      @sendProfile={{this.sendProfile}}
      @errorMessage={{this.errorMessage}}
    />
  </div>
</div>