<header class="campaign-list-actions__header hide-on-mobile">
  <h1 class="sr-only">{{@title}}</h1>
  <button
    role="tab"
    type="submit"
    class="campaign-list-actions__tab {{unless @isArchived  'campaign-list-actions__tab--active' }}"
    aria-selected="{{ not @isArchived }}"
    aria-label={{t 'pages.campaigns-list.action.ongoing.aria-label'}}
    {{on 'click' (fn @onClickStatusFilter null)}}
  >
    {{t 'pages.campaigns-list.action.ongoing.label'}}
  </button>
  <button
    role="tab"
    type="submit"
    class="campaign-list-actions__tab {{if @isArchived 'campaign-list-actions__tab--active' }}"
    aria-selected="{{ @isArchived }}"
    aria-label={{t 'pages.campaigns-list.action.archived.aria-label'}}
    {{on 'click' (fn @onClickStatusFilter 'archived')}}
  >
    {{t 'pages.campaigns-list.action.archived.label'}}
  </button>
  <PixButtonLink @route="authenticated.campaigns.new" class="campaign-list-actions__create-campaign-button">
    {{t 'pages.campaigns-list.action.create'}}
  </PixButtonLink>
</header>
