<section class="campaign-list">
  <Campaign::Filter::CampaignFilters
    @ownerNameFilter={{@ownerNameFilter}}
    @nameFilter={{@nameFilter}}
    @statusFilter={{@statusFilter}}
    @onFilter={{@onFilter}}
    @onClearFilters={{@onClear}}
    @numResults={{@campaigns.meta.rowCount}}
    @listOnlyCampaignsOfCurrentUser={{@listOnlyCampaignsOfCurrentUser}}
  />

  <div class="panel">
    <table class="table content-text content-text--small">
      <caption class="screen-reader-only">{{this.caption}}</caption>
      <colgroup class="table__column">
        <col class="table__column--wide" />
        <col class="table__column--small" />
        {{#unless @listOnlyCampaignsOfCurrentUser}}
          <col class="table__column--wide hide-on-mobile" />
        {{/unless}}
        <col class="table__column--small hide-on-mobile" />
        <col class="table__column--small hide-on-mobile" />
        <col class="table__column--small hide-on-mobile" />
      </colgroup>
      <thead>
        <tr>
          <Table::Header>{{t "pages.campaigns-list.table.column.name"}}</Table::Header>
          <Table::Header>{{t "pages.campaigns-list.table.column.code"}}</Table::Header>
          {{#unless @listOnlyCampaignsOfCurrentUser}}
            <Table::Header class="hide-on-mobile">{{t "pages.campaigns-list.table.column.created-by"}}</Table::Header>
          {{/unless}}
          <Table::Header class="hide-on-mobile">{{t "pages.campaigns-list.table.column.created-on"}}</Table::Header>
          <Table::Header class="hide-on-mobile">{{t "pages.campaigns-list.table.column.participants"}}</Table::Header>
          <Table::Header class="hide-on-mobile">{{t "pages.campaigns-list.table.column.results"}}</Table::Header>
        </tr>
      </thead>

      <tbody>
        {{#each @campaigns as |campaign|}}
          <tr {{on "click" (fn @onClickCampaign campaign.id)}} class="tr--clickable">
            <td class="table__column">
              <span class="campaign-list__campaign-link">
                <Campaign::Detail::Type @labels={{this.labels}} @campaignType={{campaign.type}} @hideLabel={{true}} />
                <LinkTo @route="authenticated.campaigns.campaign" @model={{campaign.id}}>
                  {{campaign.name}}
                </LinkTo>
              </span>
            </td>
            <td class="table__column--small" {{on "click" this.stopPropagation}}>{{campaign.code}}</td>
            {{#unless @listOnlyCampaignsOfCurrentUser}}
              <td class="table__column--truncated hide-on-mobile">{{campaign.ownerFullName}}</td>
            {{/unless}}
            <td class="hide-on-mobile">{{dayjs-format campaign.createdAt "DD/MM/YYYY" allow-empty=true}}</td>
            <td class="hide-on-mobile">{{campaign.participationsCount}}</td>
            <td class="hide-on-mobile">{{campaign.sharedParticipationsCount}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{#if (eq @campaigns.length 0)}}
      <p class="table__empty content-text">
        {{t "pages.campaigns-list.table.empty"}}
      </p>
    {{/if}}
  </div>

  <Table::PaginationControl @pagination={{@campaigns.meta}} />
</section>