<div class="panel campaign-settings">
  <div class="campaign-settings-row">
    {{#if @campaign.isTypeAssessment}}
      <div class="campaign-settings-content">
        <h4 class="label-text campaign-settings-content__label">{{t 'pages.campaign-settings.target-profile'}}</h4>
        <p class="content-text campaign-settings-content__text">{{@campaign.targetProfileName}}</p>
      </div>
    {{/if}}
    {{#if @campaign.idPixLabel}}
      <div class="campaign-settings-content">
        <h4 class="label-text campaign-settings-content__label">{{t 'pages.campaign-settings.external-user-id-label'}}</h4>
        <p class="content-text campaign-settings-content__text">{{@campaign.idPixLabel}}</p>
      </div>
    {{/if}}
    <div class="campaign-settings-content">
      <h4 class="label-text campaign-settings-content__label">{{t 'pages.campaign-settings.direct-link'}}</h4>
      <div class="campaign-settings-content__clipboard">
        <p class="content-text campaign-settings-content__text">{{this.campaignsRootUrl}}</p>
        <Campaign::CopyPasteButton
          @clipBoardtext={{this.campaignsRootUrl}}
          @successMessage={{t 'pages.campaign.copy.link.success'}}
          @defaultMessage={{t 'pages.campaign.copy.link.default'}}
        />
      </div>
    </div>
  </div>

  {{#if @campaign.isTypeAssessment}}
    <div class="campaign-settings-row">
      <div class="campaign-settings-content campaign-settings-content--single">
        <h4 class="label-text campaign-settings-content__label">{{t 'pages.campaign-settings.personalised-test-title'}}</h4>
        <p class="content-text campaign-settings-content__text">{{@campaign.title}}</p>
      </div>
    </div>
  {{/if}}

  <div class="campaign-settings-row">
    <div class="campaign-settings-content campaign-settings-content--single">
      <h4 class="label-text campaign-settings-content__label">{{t 'pages.campaign-settings.landing-page-text'}}</h4>
      <p class="content-text campaign-settings-content__text">
        <MarkdownToHtml @markdown={{@campaign.customLandingPageText}} />
      </p>
    </div>
  </div>

  {{#unless @campaign.isArchived}}
    <div class="campaign-settings-buttons">
      <LinkTo
        @route="authenticated.campaigns.update"
        @model={{@campaign.id}}
        class="button button--grey button--regular button--link"
      >
        {{t 'pages.campaign-settings.actions.edit'}}
      </LinkTo>
      <button
        type="button"
        {{on 'click' (fn this.archiveCampaign @campaign.id)}}
        class="button button--grey button--regular button--link"
      >
        {{t 'pages.campaign-settings.actions.archive'}}
      </button>
    </div>
  {{/unless}}
</div>
