<form {{on 'submit' @onSubmit}}>
  <div class="form__field">
    <label for="campaign-name" class="label">{{ t 'pages.campaign-modification.campaign-name' }}</label>
    <Input
      @id="campaign-name"
      @name="campaign-name"
      @type="text"
      @class="input"
      @maxlength="255"
      @value={{@campaign.name}}
    />
  </div>

  {{#if @campaign.isTypeAssessment}}
    <div class="form__field">
      <label for="campaign-title" class="label">{{ t 'pages.campaign-modification.personalised-test-title' }}</label>
      <Input
        @id="campaign-title"
        @name="campaign-title"
        @type="text"
        @class="input"
        @maxlength="50"
        @value={{@campaign.title}}
      />
    </div>
  {{/if}}

  <div class="form__field">
    <label for="campaign-custom-landing-page-text" class="label">{{ t 'pages.campaign-modification.landing-page-text' }}</label>
    <PixTextarea
      @id="campaign-custom-landing-page-text"
      @maxlength={{350}}
      @value={{@campaign.customLandingPageText}}
      rows={{8}}
    />
  </div>

  <div class="form__validation">
    <PixButton 
      @triggerAction={{fn @onCancel @campaign.id}}
      @backgroundColor="transparent-light"
    >
      {{ t 'common.actions.cancel' }}
    </PixButton>
    <PixButton @type="submit">
      {{t 'pages.campaign-modification.actions.edit'}}
    </PixButton>
  </div>
</form>
