<form class="form" {{on "submit" @onSubmit}}>
  <p class="form__mandatory-fields-information">{{t "pages.campaign-modification.mandatory-fields" htmlSafe=true}}</p>
  <div class="form__field">
    <PixInput
      @id="campaign-name"
      @name="campaign-name"
      @label={{t "pages.campaign-modification.campaign-name" htmlSafe=true}}
      maxlength="255"
      @value={{@campaign.name}}
      required={{true}}
      aria-required={{true}}
    />
  </div>

  {{#if @campaign.isTypeAssessment}}
    <div class="form__field">
      <PixInput
        @id="campaign-title"
        @name="campaign-title"
        @label={{t "pages.campaign-modification.personalised-test-title"}}
        maxlength="50"
        @value={{@campaign.title}}
      />
    </div>
  {{/if}}

  <div class="form__field">
    <PixTextarea
      @id="campaign-custom-landing-page-text"
      @label={{t "pages.campaign-modification.landing-page-text"}}
      @maxlength={{5000}}
      @value={{@campaign.customLandingPageText}}
      rows={{8}}
    />
  </div>

  <div class="form__validation">
    <PixButton @triggerAction={{fn @onCancel @campaign.id}} @backgroundColor="transparent-light">
      {{t "common.actions.cancel"}}
    </PixButton>
    <PixButton @type="submit">
      {{t "pages.campaign-modification.actions.edit"}}
    </PixButton>
  </div>
</form>