<td data-testid="title-{{@id}}">
  {{@title}}
</td>
<td class="table__column--center" data-testid="level-{{@id}}">
  {{@level}}
</td>
{{#if @displayDeviceCompatibility}}
  <td class="table__column--center">
    <div
      class="icon-container"
      aria-label="{{if @mobile 'compatible mobile' 'incompatible mobile'}}"
      data-testid="mobile-compliant-{{@id}}"
    >
      <FaIcon @icon="mobile-screen-button" class="fa-2x {{if @mobile 'is-responsive'}}" />
      {{#unless @mobile}}
        <FaIcon @icon="slash" class="fa-2x not-responsive" />
      {{/unless}}
    </div>
    <div
      class="icon-container"
      aria-label="{{if @tablet 'compatible tablette' 'incompatible tablette'}}"
      data-testid="tablet-compliant-{{@id}}"
    >
      <FaIcon @icon="tablet-screen-button" class="fa-2x {{if @tablet 'is-responsive'}}" />
      {{#unless @tablet}}
        <FaIcon @icon="slash" class="fa-2x not-responsive" />
      {{/unless}}
    </div>
  </td>
{{/if}}