<div class="panel campaign-header-tabs">
  <nav class="navbar" aria-label={{t "navigation.campaign-page.aria-label"}}>
    <LinkTo @route="authenticated.campaigns.campaign.activity" @model={{@campaign}} class="navbar-item">
      {{t "pages.campaign.tab.activity"}}
    </LinkTo>

    <LinkTo
      @route={{if
        @campaign.isTypeAssessment
        "authenticated.campaigns.campaign.assessment-results"
        "authenticated.campaigns.campaign.profile-results"
      }}
      @model={{@campaign}}
      class="navbar-item"
    >
      {{t "pages.campaign.tab.results" count=@campaign.sharedParticipationsCount}}
    </LinkTo>

    {{#if @campaign.isTypeAssessment}}
      <LinkTo @route="authenticated.campaigns.campaign.analysis" class="navbar-item" @model={{@campaign}}>
        {{t "pages.campaign.tab.review"}}
      </LinkTo>
    {{/if}}

    <div class="navbar-item-separator hide-on-mobile" aria-hidden="true"></div>
    <LinkTo @route="authenticated.campaigns.campaign.settings" class="navbar-item" @model={{@campaign}}>
      {{t "pages.campaign.tab.settings"}}
    </LinkTo>
  </nav>

  <div class="campaign-header-tabs__export-button hide-on-mobile">
    <PixButton @backgroundColor="primary" @triggerAction={{this.exportData}}>
      {{t "pages.campaign.actions.export-results"}}
    </PixButton>
  </div>
</div>