<a class="training-card" href={{@training.link}} target="_blank" rel="noopener noreferrer">
  <picture class="training-card__visual">
    <img
      src="/images/logo/logo-ministere-education-nationale-et-jeunesse.svg"
      alt="{{t 'common.french-education-ministry'}}"
    />
  </picture>
  <div class="training-card__content">
    <h3 class="training-card__title">{{@training.title}}</h3>
    <ul class="training-card__infos">
      <li class="training-card__type">{{this.type}}</li>
      <li class="training-card__duration">
        <FaIcon @icon="clock" @prefix="far" aria-hidden="true" />
        <time>{{this.durationFormatted}}</time>
      </li>
    </ul>
  </div>
</a>