{{page-title (t "pages.team-list.title")}}

<div class="list-team-page">
  <div class="list-team-page__header">
    <h1 class="page-title">{{t "pages.team-list.title"}}</h1>
    {{#if this.currentUser.isAdminInOrganization}}
      <PixButtonLink @route="authenticated.team.new" class="list-team-page-header__add-member-button">
        {{t "pages.team-list.add-member-button"}}
      </PixButtonLink>
    {{/if}}
  </div>

  {{#if this.currentUser.isAdminInOrganization}}
    <nav class="panel navbar list-team-page__tabs" aria-label={{t "navigation.team-members.aria-label"}}>
      <LinkTo @route="authenticated.team.list.members" class="navbar-item">
        {{t "pages.team-list.tabs.member" count=@model.memberships.meta.rowCount}}
      </LinkTo>

      <LinkTo @route="authenticated.team.list.invitations" class="navbar-item">
        {{t "pages.team-list.tabs.invitation" count=@model.organization.organizationInvitations.length}}
      </LinkTo>
    </nav>
  {{/if}}

  {{outlet}}
</div>