<div class="new-team-page">

  <h1 class="page__title page-title">{{t 'pages.team-new.title'}}</h1>

  <p class="paragraph new-team-page__text">
    {{t 'pages.team-new.email-requirement'}}
    <br>
    {{t 'pages.team-new.several-email-requirement'}}
    <br><br>
    {{t 'pages.team-new.invited-members'}}
  </p>

  <Routes::Authenticated::Team::NewItem
          @organizationInvitation={{@model.organizationInvitation}}
          @createOrganizationInvitation={{this.createOrganizationInvitation}}
          @cancel={{this.cancel}}
          @isLoading={{this.isLoading}}
  />
</div>
