<div class="membership-item-actions">
  {{#if @isEditionMode}}
    <PixButton class="member-item-actions__button" @size="small" @triggerAction={{@onSaveRoleButtonClicked}}>
      {{t "common.actions.save"}}
    </PixButton>

    <PixButton
      class="member-item-actions__button"
      @backgroundColor="grey"
      @size="small"
      @triggerAction={{@onCancelButtonClicked}}
    >
      {{t "common.actions.cancel"}}
    </PixButton>
  {{else}}
    <PixButton
      @size="small"
      class="member-item-actions__button"
      aria-label="Modifier le rôle"
      @iconBefore="pen-to-square"
      @triggerAction={{@onEditRoleButtonClicked}}
    >
      {{t "components.certification-centers.membership-item.actions.edit-role"}}
    </PixButton>

    <PixButton
      @size="small"
      @backgroundColor="red"
      @triggerAction={{@onDeactivateMembershipButtonClicked}}
      class="member-item-actions__button"
      @iconBefore="trash"
    >
      {{t "common.actions.deactivate"}}
    </PixButton>
  {{/if}}
</div>