<div class="certification-center-list content-text content-text--small">
  <table class="table-admin">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Type</th>
        <th>ID externe</th>
      </tr>
      <tr>
        <th>{{input id="id" value=idValue keyUp=(action triggerFiltering 'id' idValue) class="table-admin-input"}}</th>
        <th>{{input id="name" value=nameValue keyUp=(action triggerFiltering 'name' nameValue) class="table-admin-input"}}</th>
        <th>{{input id="type" value=typeValue keyUp=(action triggerFiltering 'type' typeValue) class="table-admin-input"}}</th>
        <th>{{input id="externalId" value=externalIdValue keyUp=(action triggerFiltering 'externalId' externalIdValue) class="table-admin-input"}}</th>
      </tr>
    </thead>

    {{#if certificationCenters}}
      <tbody>
      {{#each certificationCenters as |certificationCenter|}}
        <tr>
          <td>{{certificationCenter.id}}</td>
          <td>{{certificationCenter.name}}</td>
          <td>{{certificationCenter.type}}</td>
          <td>{{certificationCenter.externalId}}</td>
        </tr>
      {{/each}}
      </tbody>
    {{/if}}
  </table>

  {{#unless certificationCenters}}
    <div class="table__empty content-text">Aucun résultat</div>
  {{/unless}}
</div>

{{#if certificationCenters}}
  {{pagination-control pagination=certificationCenters.meta}}
{{/if}}
