<div class="qcm-proposals">
  {{#each this.labeledCheckboxes as |labeledCheckbox index|}}
    <p class="proposal-paragraph">
      <PixCheckbox
        name="{{inc index}}"
        disabled={{@isAnswerFieldDisabled}}
        checked={{labeledCheckbox.checked}}
        {{on "click" (fn this.checkboxClicked labeledCheckbox.value)}}
        data-test="challenge-response-proposal-selector"
      >
        <:label>
          <MarkdownToHtml @isInline={{true}} @extensions="remove-paragraph-tags" @markdown={{labeledCheckbox.label}} />
        </:label>
      </PixCheckbox>
    </p>
  {{/each}}
</div>