<tr aria-label="Informations sur le palier {{@title}}">
  <td>
    {{#if @isTypeLevel}}
      <Stages::StageLevelSelect
        @availableLevels={{@availableLevels}}
        @onChange={{@setLevel}}
        class="stages-table__level-select"
        required="true"
        @label="Niveau du palier"
      />
    {{else}}
      <PixInput
        @id="threshold"
        @errorMessage="Le seuil est invalide"
        @validationStatus={{this.thresholdStatus}}
        @requiredLabel="Champ obligatoire"
        type="number"
        @ariaLabel="Seuil du palier"
        {{on "focusout" this.checkThresholdValidity}}
      />
    {{/if}}
  </td>
  <td>
    <PixInput
      @id="title"
      @errorMessage="Le titre est vide"
      @validationStatus={{this.titleStatus}}
      @requiredLabel="Champ obligatoire"
      @ariaLabel="Titre du palier"
      {{on "focusout" this.checkTitleValidity}}
    />
  </td>
  <td>
    <PixInput
      @id="message"
      @errorMessage="Le message est vide"
      @validationStatus={{this.messageStatus}}
      @requiredLabel="Champ obligatoire"
      @ariaLabel="Message du palier"
      {{on "focusout" this.checkMessageValidity}}
    />
  </td>
  <td>
    À renseigner ultérieurement
  </td>
  <td>
    À renseigner ultérieurement
  </td>
  <td>
    <PixButton
      @backgroundColor="transparent-light"
      @size="small"
      @isBorderVisible={{true}}
      aria-label="Supprimer palier"
      @triggerAction={{@remove}}
    >
      <FaIcon @icon="minus" />
    </PixButton>
  </td>
</tr>