<tr aria-label="Informations sur le palier {{@title}}">
  <td>
    {{#if @isTypeLevel}}
      <Stages::StageLevelSelect
        @availableLevels={{@availableLevels}}
        @onChange={{@setLevel}}
        @value={{@stage.level}}
        class="stages-table__level-select"
        required="true"
        @isDisabled={{@setFirstStage}}
        @label="Niveau du palier"
      />
    {{else}}
      <PixInput
        @id="threshold"
        @errorMessage="Le seuil est invalide"
        @validationStatus={{this.thresholdStatus}}
        @requiredLabel="Champ obligatoire"
        type="number"
        @value={{this.threshold}}
        readonly={{@setFirstStage}}
        @ariaLabel="Seuil du palier"
        {{on "focusout" this.checkThresholdValidity}}
      />
    {{/if}}
  </td>
  <td>
    <PixInput
      @id="title"
      @errorMessage="Le titre est vide"
      @validationStatus={{this.titleStatus}}
      @value={{this.title}}
      @requiredLabel="Champ obligatoire"
      @ariaLabel="Titre du palier"
      {{on "focusout" this.checkTitleValidity}}
    />
  </td>
  <td>
    <PixInput
      @id="message"
      @errorMessage="Le message est vide"
      @validationStatus={{this.messageStatus}}
      @requiredLabel="Champ obligatoire"
      @ariaLabel="Message du palier"
      @value={{this.message}}
      {{on "focusout" this.checkMessageValidity}}
    />
  </td>
  <td>
    À renseigner ultérieurement
  </td>
  <td>
    À renseigner ultérieurement
  </td>
  <td>
    {{#unless @setFirstStage}}
      <PixButton
        @backgroundColor="transparent-light"
        @size="small"
        @isBorderVisible={{true}}
        aria-label="Supprimer palier"
        @triggerAction={{@remove}}
      >
        <FaIcon @icon="minus" />
      </PixButton>
    {{/unless}}
  </td>
</tr>