<tr aria-label="Informations sur le palier {{@title}}">
  <td>
    {{#if @stage.isFirstSkill}}
      1er acquis
    {{else}}
      {{#if @stage.isTypeLevel}}
        <Stages::StageLevelSelect
          @availableLevels={{@availableLevels}}
          @onChange={{@setLevel}}
          @value={{@stage.levelAsString}}
          class="stages-table__level-select"
          required="true"
          @isDisabled={{@stage.isZeroStage}}
          @label="Niveau du palier"
          @id={{concat "threshold-" @index}}
        />
      {{else}}
        <PixInput
          @id={{concat "threshold-" @index}}
          @errorMessage="Le seuil est invalide"
          @validationStatus={{this.thresholdStatus}}
          @requiredLabel="Champ obligatoire"
          type="number"
          @value={{this.threshold}}
          readonly={{@stage.isZeroStage}}
          @screenReaderOnly={{true}}
          {{on "focusout" this.checkThresholdValidity}}
        >
          <:label>Seuil du palier</:label>
        </PixInput>
      {{/if}}
    {{/if}}
  </td>
  <td>
    <PixInput
      @id={{concat "title-" @index}}
      @errorMessage="Le titre est vide"
      @validationStatus={{this.titleStatus}}
      @value={{this.title}}
      @requiredLabel="Champ obligatoire"
      @screenReaderOnly={{true}}
      {{on "focusout" this.checkTitleValidity}}
    >
      <:label>Titre du palier</:label>
    </PixInput>
  </td>
  <td>
    <PixInput
      @id={{concat "message-" @index}}
      @errorMessage="Le message est vide"
      @validationStatus={{this.messageStatus}}
      @requiredLabel="Champ obligatoire"
      @screenReaderOnly={{true}}
      @value={{this.message}}
      {{on "focusout" this.checkMessageValidity}}
    >
      <:label>Message du palier</:label>
    </PixInput>
  </td>
  <td>
    À renseigner ultérieurement
  </td>
  <td>
    À renseigner ultérieurement
  </td>
  <td>
    {{#unless @stage.isZeroStage}}
      <PixButton
        @backgroundColor="error"
        @size="small"
        @isBorderVisible={{true}}
        aria-label="Supprimer palier"
        @triggerAction={{@remove}}
        @iconBefore="trash"
      >
        Supprimer
      </PixButton>
    {{/unless}}
  </td>
</tr>