<tr aria-label="Informations sur le palier {{@stage.title}}">
  <td>
    {{#if @stage.isFirstSkill}}
      1er acquis
    {{else if @stage.isTypeLevel}}
      {{@stage.level}}
    {{else}}
      {{@stage.threshold}}%
    {{/if}}
  </td>
  <td>{{@stage.title}}</td>
  <td>{{@stage.message}}</td>
  <td>
    <Common::TickOrCross @isTrue={{@stage.hasPrescriberTitle}} />
  </td>
  <td>
    <Common::TickOrCross @isTrue={{@stage.hasPrescriberDescription}} />
  </td>
  <td>
    <PixButtonLink
      @variant="secondary"
      @route="authenticated.target-profiles.target-profile.stages.stage"
      @size="small"
      @model={{@stage.id}}
      aria-label="Voir le détail du palier {{@stage.id}}"
    >
      Voir détail
    </PixButtonLink>
    {{#if this.canDeleteStage}}
      <PixButton
        @variant="error"
        @size="small"
        @iconBefore="trash"
        @triggerAction={{this.toggleModal}}
        aria-label="Supprimer le palier {{@stage.id}}"
        class="stages-table-actions-delete"
      >
        Supprimer
      </PixButton>
      <PixModal
        @title="Confirmer la suppression"
        @showModal={{this.showModal}}
        @onCloseButtonClick={{this.toggleModal}}
      >
        <:content>
          <p>
            Êtes-vous sûr de vouloir supprimer le
            {{#if @stage.isTypeLevel}}
              niveau
              {{@stage.level}}
            {{else}}
              seuil
              {{@stage.threshold}}
            {{/if}}
            <b>{{@stage.title}} </b>?
          </p>
        </:content>
        <:footer>
          <PixButton @variant="secondary" @triggerAction={{this.toggleModal}}>
            Annuler
          </PixButton>
          <PixButton @variant="error" @triggerAction={{fn @deleteStage @stage}}>
            Valider
          </PixButton>
        </:footer>
      </PixModal>
    {{/if}}
  </td>
</tr>