<tr aria-label="Informations sur le palier {{@stage.title}}">
  <td>
    {{#if @stage.isTypeLevel}}
      {{@stage.level}}
    {{else}}
      {{@stage.threshold}}
    {{/if}}
  </td>
  <td>{{@stage.title}}</td>
  <td>{{@stage.message}}</td>
  <td>
    <Common::TickOrCross @isTrue={{@stage.hasPrescriberTitle}} />
  </td>
  <td>
    <Common::TickOrCross @isTrue={{@stage.hasPrescriberDescription}} />
  </td>
  <td>
    <PixButtonLink
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @route="authenticated.target-profiles.target-profile.stages.stage"
      @size="small"
      @model={{@stage.id}}
    >
      Voir détail
    </PixButtonLink>
    {{#unless this.isDefaultStage}}
      <PixButton
        @backgroundColor="red"
        @isBorderVisible={{true}}
        @size="small"
        @iconBefore="trash"
        @triggerAction={{fn @deleteStage @stage}}
        class="stages-table-actions-delete"
      >
        Supprimer
      </PixButton>
    {{/unless}}
  </td>
</tr>