<div class="single-certification-info">
  <div class='row'>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">État</h5>
          <div class="card-text">
            {{certification-info-field value=certification.sessionId edition=false label="Session :"}}
            {{certification-info-field value=certification.status edition=false label="Statut :"}}
            {{certification-info-field value=certification.creationDate edition=false label="Créée le :"}}
            {{certification-info-field value=certification.completionDate edition=false label="Terminée le :"}}
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card {{if edition "border-primary"}}">
        <div class="card-body">
          <h5 class="card-title">Candidat</h5>
          <div class="card-text">
            {{certification-info-field value=certification.firstName edition=edition label="Prénom :" fieldId="certification-firstName"}}
            {{certification-info-field value=certification.lastName edition=edition label="Nom :" fieldId="certification-lastName"}}
            {{certification-info-field value=certification.birthDate edition=edition label="Date de naissance :" fieldId="certification-birthDate"}}
            {{certification-info-field value=certification.birthPlace edition=edition label="Lieu de naissance :" fieldId="certification-birthPlace"}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col">
      <div class="card {{if edition "border-primary"}}">
        <div class="card-body">
          <h5 class="card-title">Commentaires jury</h5>
          <div class="card-text">
            {{certification-info-field value=certification.commentForCandidate edition=edition label="Pour le candidat :" fieldId="certification-commentForCandidate" large=true}}
            {{certification-info-field value=certification.commentForOrganization edition=edition label="Pour l'organisation :" fieldId="certification-commentForOrganization" large=true}}
            {{certification-info-field value=certification.commentForJury edition=edition label="Pour le jury :" fieldId="certification-commentForJury" large=true}}
            <p></p>
            {{certification-info-field value=certification.juryId edition=false label="Identifiant jury :" large=true}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col">
      <div class="card {{if edition "border-primary"}}">
        <div class="card-body">
          <h5 class="card-title">Résultats</h5>
          <div class="card-text">
            {{certification-info-field value=certification.pixScore edition=edition label="Score :" fieldId="certification-pixScore" suffix=" Pix" large=true}}
            <p></p>
            {{certification-info-competences competences=certification.competences rawCompetences=certification.competencesWithMark edition=edition}}
          </div>
        </div>
      </div>
    </div>
  </div>
<!--
  <div class="row">
    <div class="col single-certification-info__actions">
      {{#if edition}}
        {{#bs-button class='single-certification-edit__button' type='secondary' size='sm' onClick=(action "onCancel")}}Annuler{{/bs-button}}
      {{else}}
        {{#bs-button class='single-certification-edit__button' type='primary' size='sm' onClick=(action "onEdit")}}Modifier{{/bs-button}}
      {{/if}}
    </div>
  </div>
-->
</div>