<div class="campaign-list" role="tabpanel">
  <div class="panel">
    <div class="table content-text content-text--small">
      <table>
        <thead>
          <tr>
            <th class="table__column table__column--wide">
              {{t 'pages.campaigns-list.table.column.campaign'}}
            </th>
            <th class="table__column">
              {{t 'pages.campaigns-list.table.column.created-by'}}
            </th>
            <th class="table__column table__column--small">
              {{t 'pages.campaigns-list.table.column.created-on'}}
            </th>
            <th class="table__column table__column--small">
              {{t 'pages.campaigns-list.table.column.participants'}}
            </th>
            <th class="table__column table__column--small">
              {{t 'pages.campaigns-list.table.column.results'}}
            </th>
          </tr>
          <tr>
            <Table::HeaderFilterInput
              @field="name"
              @value={{@nameFilter}}
              @placeholder={{t 'pages.campaigns-list.table.filter.by-name'}}
              @ariaLabel={{t 'pages.campaigns-list.table.filter.by-name'}}
              @triggerFiltering={{@triggerFiltering}}
            />
            <Table::HeaderFilterInput
              @field="creatorName"
              @value={{@creatorNameFilter}}
              @placeholder={{t 'pages.campaigns-list.table.filter.by-creator'}}
              @ariaLabel={{t 'pages.campaigns-list.table.filter.by-creator'}}
              @triggerFiltering={{@triggerFiltering}}
            />
            <Table::Header/>
            <Table::Header/>
            <Table::Header/>
          </tr>
        </thead>

        <tbody>
        {{#each @campaigns as |campaign|}}
          <tr aria-label={{t 'pages.campaigns-list.table.row-title'}} role="button" {{on 'click' (fn @goToCampaignPage campaign.id)}} class="tr--clickable">
            <td>{{campaign.name}}</td>
            <td class="table__column--truncated">{{campaign.creatorFullName}}</td>
            <td>{{moment-format campaign.createdAt 'DD/MM/YYYY' allow-empty=true}}</td>
            <td>{{campaign.participationsCount}}</td>
            <td>{{campaign.sharedParticipationsCount}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      {{#if (eq @campaigns.length 0)}}
        <div class="table__empty content-text">
          {{t 'pages.campaigns-list.table.empty'}}
        </div>
      {{/if}}
    </div>
  </div>
</div>

<PaginationControl @pagination={{@campaigns.meta}}/>
