<form {{on 'submit' @createCampaign}} class="form">

  <div class="form__field">
    <label for="campaign-name" class="label">{{t 'pages.campaign-creation.name.label'}}</label>
    <Input
      @id="campaign-name"
      @name="campaign-name"
      @type="text"
      @class="input"
      @maxlength="255"
      @value={{@campaign.name}}
    />

    {{#each @campaign.errors.name as |error|}}
      <div class='form__error error-message'>
        {{error.message}}
      </div>
    {{/each}}
  </div>

  {{#if this.currentUser.organization.canCollectProfiles}}
    <div class="form__field">
      <p class="label">{{t 'pages.campaign-creation.purpose.label'}}</p>
      <div class="form__radio-button">
        <input type="radio" id="assess-participants" name="campaign-goal" value="assess-participants" {{on "change" this.setCampaignGoal}}>
        <label for="assess-participants">{{t 'pages.campaign-creation.purpose.assessment'}}</label>
      </div>

      <div class="form__radio-button">
        <input type="radio" id="collect-participants-profile" name="campaign-goal" value="collect-participants-profile" {{on "change" this.setCampaignGoal}}>
        <label for="collect-participants-profile">{{t 'pages.campaign-creation.purpose.profiles-collection'}}</label>
      </div>

      {{#each @campaign.errors.type as |error|}}
        <div class='form__error error-message'>
          {{error.message}}
        </div>
      {{/each}}

    </div>
  {{/if}}

  {{#if this.isCampaignGoalAssessment}}
    <div class="form__field">
      <label for="campaign-target-profile" class="label">{{t 'pages.campaign-creation.target-profiles-list.label'}}</label>
      <SelectInput
        @id="campaign-target-profile"
        @onChange={{this.setSelectedTargetProfile}}
        @options={{this.targetProfilesOptions}}
        @emptyOptionLabel=""
      />
      {{#each @campaign.errors.targetProfile as |error|}}
        <div class='form__error error-message'>
          {{error.message}}
        </div>
      {{/each}}
      {{#if this.currentUser.isSCOManagingStudents}}
        <p class="form__comment">
          {{t 'pages.campaign-creation.target-profile-informations' htmlSafe=true}}
        </p>
      {{/if}}
    </div>
  {{/if}}

  <div class="form__field">
    <p class="label">{{t 'pages.campaign-creation.external-id-label.question-label'}}</p>
    <div class="form__radio-button">
      <input type="radio" checked={{not this.wantIdPix}} id="no-external-id" name="external-id-label" {{on 'change' this.doNotAskLabelIdPix}}>
      <label for="no-external-id">{{t 'pages.campaign-creation.no'}}</label>
    </div>
    <div class="form__radio-button">
      <input type="radio" checked={{this.wantIdPix}} id="ask-external-id" name="external-id-label" {{on 'change' this.askLabelIdPix}}>
      <label for="ask-external-id">{{t 'pages.campaign-creation.yes'}}</label>
    </div>
  </div>

  {{#if this.wantIdPix}}
    <div class="form__field">
      <label for="external-id-label" class="label sr-only">{{t 'pages.campaign-creation.external-id-label.label'}}</label>
      <Input
        @id="external-id-label"
        @name="external-id-label"
        @type="text"
        @class="input"
        @maxlength="255"
        @aria-required="true"
        @value={{@campaign.idPixLabel}}
      />
      {{#each @campaign.errors.idPixLabel as |error|}}
        <div class='form__error error-message'>
          {{error.message}}
        </div>
      {{/each}}
      <div class="form__information help-text">
        {{t 'pages.campaign-creation.external-id-label.suggestion'}}
      </div>
    </div>
  {{/if}}

  {{#if this.isCampaignGoalAssessment}}
    <div class="form__field">
      <label for="campaign-title" class="label">{{t 'pages.campaign-creation.test-title.label'}}</label>
      <Input
        @id="campaign-title"
        @name="campaign-title"
        @type="text"
        @class="input"
        @maxlength="50"
        @value={{@campaign.title}}
      />
    </div>
  {{/if}}

  <div class="form__field">
    <label for="custom-landing-page-text" class="label">{{t 'pages.campaign-creation.landing-page-text.label'}}</label>
    <Textarea @id="custom-landing-page-text" @name="custom-landing-page-text" @maxlength="350" @rows={{8}} @value={{@campaign.customLandingPageText}} class="textarea" />
  </div>

  <div class="form__validation">
    <button class="button button--no-color" type="button" {{on 'click' @cancel}}>{{t 'common.actions.cancel'}}</button>
    <button class="button" type="submit">{{t 'pages.campaign-creation.actions.create'}}</button>
  </div>

 {{#if this.wantIdPix}}
   <div class="new-item-form__gdpr-information help-text">
    {{t 'pages.campaign-creation.legal-warning'}}
   </div>
 {{/if}}

</form>
