<div class="campaign-details-page">
  <div class="campaign-details__header">
    <div class="campaign-details-header__headline">
      <LinkTo aria-label="Retour" @route="authenticated.campaigns" class="icon-button campaign-details-header__return-button">
        <FaIcon @icon='arrow-left'></FaIcon>
      </LinkTo>
      <h1 class="page__title page-title campaign-details-header__title">{{@campaign.name}}</h1>
    </div>

    <div class="campaign-details-header__report">
      <div class="campaign-details-header-report__info">
        <h4 class="label-text campaign-details-content__label">Code</h4>
        <span class="content-text content-text--big campaign-details-content__text">
          {{@campaign.code}}
        </span>
      </div>

      <div class="campaign-details-header-report__info">
        <h4 class="label-text campaign-details-content__label">Participants</h4>
        <span class="content-text content-text--big campaign-details-content__text">
          {{this.participationsCount}}
        </span>
      </div>

      <div class="campaign-details-header-report__shared">
        <h4 class="label-text campaign-details-content__label">Profils reçus</h4>
        <span class="content-text content-text--big campaign-details-content__text">
          {{this.sharedParticipationsCount}}
        </span>
      </div>
    </div>
  </div>

  {{#if @campaign.isArchived}}
    <div class="campaign-archived-banner">
      <div class="campaign-archived-banner__icon">
        <FaIcon @icon='archive'></FaIcon>
      </div>
      <div class="campaign-archived-banner__text">Campagne archivée</div>
      <button
        type="button"
        class="button button--link campaign-archived-banner__unarchive-button"
        {{on 'click' (fn this.unarchiveCampaign @campaign.id)}}
      >
        Désarchiver la campagne
      </button>
    </div>
  {{/if}}

  <div class="panel campaign-details__controls">
    <nav class="navbar campaign-details-controls__navbar-tabs">
      <LinkTo @route="authenticated.campaigns.campaign.details" class="navbar-item" @model={{@campaign}} >
        Détails
      </LinkTo>

      <LinkTo
        @route={{if @campaign.isTypeAssessment "authenticated.campaigns.campaign.assessments" "authenticated.campaigns.campaign.profiles"}}
        @model={{@campaign}}
        class="navbar-item"
      >
        Participants ({{@campaign.campaignReport.participationsCount}})
      </LinkTo>
      {{#if @campaign.isTypeAssessment}}
        <LinkTo @route="authenticated.campaigns.campaign.collective-results" @model={{@campaign}} class="navbar-item">
          Résultats collectifs
        </LinkTo>
        <LinkTo @route="authenticated.campaigns.campaign.analysis" class="navbar-item" @model={{@campaign}} >
          Analyse
        </LinkTo>
      {{/if}}
    </nav>

    <div class="campaign-details-controls__export-button">
      <a class="button button--link" href="{{@campaign.urlToResult}}" target="_blank" rel="noopener noreferrer" download>
        Exporter les résultats (.csv)
      </a>
    </div>
  </div>

  {{outlet}}

</div>
