<header role="banner">
  <NavbarHeader />
  <Tutorials::Header @onTriggerFilterButton={{this.showSidebar}} @shouldShowFilterButton={{true}} />
</header>

<main id="main" class="main" role="main">
  <UserTutorials::Filters::Sidebar
    @onSubmit={{this.handleSubmitFilters}}
    @isVisible={{this.isSidebarVisible}}
    @areas={{this.model.areas}}
    @onClose={{this.closeSidebar}}
  />
  <div class="user-tutorials-content">
    {{#if @model.recommendedTutorials.meta.pagination.rowCount}}
      <Tutorials::Cards @tutorials={{@model.recommendedTutorials}} />
      <PixPagination
        @pagination={{@model.recommendedTutorials.meta.pagination}}
        @pageOptions={{this.pageOptions}}
        @locale="{{t 'current-lang'}}"
        @isCondensed="true"
      />
    {{else}}
      <Tutorials::RecommendedEmpty />
    {{/if}}
  </div>
</main>

<Footer />