<header role="banner">
  <NavbarHeader />
  <Tutorials::Header @onTriggerFilterButton={{this.showSidebar}} @shouldShowFilterButton={{false}} />
</header>

<main id="main" class="main" role="main">
  <div class="user-tutorials-content">
    {{#if @model.savedTutorials.meta.pagination.rowCount}}
      <Tutorials::Cards @tutorials={{@model.savedTutorials}} @afterRemove={{this.refresh}} />
      <PixPagination
        @pagination={{@model.savedTutorials.meta.pagination}}
        @pageOptions={{this.pageOptions}}
        @locale="{{t 'current-lang'}}"
        @isCondensed="true"
      />
    {{else}}
      <Tutorials::SavedEmpty />
    {{/if}}
  </div>
</main>

<Footer />