<section class="page-section">

  {{#if this.recentlyUsedTags}}
    <h2 class="pix-text--bold pix-text--small">{{t
        "components.organizations.all-tags.recently-used-tags"
        tagName=this.selectedTag.name
      }}</h2>
    <ul class="organization-recently-used-tags-list">
      {{#each this.recentlyUsedTags as |tag|}}
        <li class="organization-recently-used-tags-list__tag">

          {{#if tag.isTagAssignedToOrganization}}
            <button
              type="button"
              onClick={{fn this.removeTagToOrganization tag}}
              aria-label="Tag {{tag.name}} assigné à l'organisation"
            >
              <PixTag @compact="true" @color="purple-light">
                {{tag.name}}
              </PixTag>
            </button>
          {{else}}
            <button
              type="button"
              onClick={{fn this.addRecentlyUsedTagToOrganization tag}}
              aria-label="Tag {{tag.name}} non assigné à l'organisation"
            >
              <PixTag @compact="true" @color="grey-light">
                {{tag.name}}
              </PixTag>
            </button>
          {{/if}}

        </li>
      {{/each}}
    </ul>
  {{/if}}

  <div class="organization-recently-used-tags-list__search-input-container">
    <PixSearchInput
      @ariaLabel="Filtrer les tags"
      @placeholder="Filtrer les tags"
      @debounceTimeInMs={{this.debounceTimeInMs}}
      @triggerFiltering={{this.triggerFiltering}}
    />
  </div>

  {{#if this.tagsToShow}}
    <ul class="organization-all-tags-list">
      {{#each this.tagsToShow as |tag|}}
        <li class="organization-all-tags-list__tag">

          {{#if tag.isTagAssignedToOrganization}}
            <button
              type="button"
              onClick={{fn this.removeTagToOrganization tag}}
              aria-label="Tag {{tag.name}} assigné à l'organisation"
            >
              <PixTag @compact="true" @color="purple-light">
                {{tag.name}}
              </PixTag>
            </button>
          {{else}}
            <button
              type="button"
              onClick={{fn this.addTagToOrganization tag}}
              aria-label="Tag {{tag.name}} non assigné à l'organisation"
            >
              <PixTag @compact="true" @color="grey-light">
                {{tag.name}}
              </PixTag>
            </button>
          {{/if}}

        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>Aucun résultat.</p>
  {{/if}}

</section>