<form class="form" {{on "submit" @onSubmit}}>

  <section class="form-section">

    <PixInput
      @id="organizationName"
      @label="Nom : "
      onchange={{this.handleOrganizationNameChange}}
      class="form-field"
      required={{true}}
      aria-required={{true}}
    />

    <div class="form-field form-group">
      <label class="form-field__label" for="organizationType">Type : </label>
      <div id="organizationTypeSelector" class="form-field__select {{if @organization.errors.type ' is-invalid' ''}}">
        <PixSelect
          @onChange={{this.selectOrganizationType}}
          @options={{this.organizationTypes}}
          @isSearchable={{false}}
          aria-label="Sélectionner un type d'organisation"
          @emptyOptionNotSelectable={{true}}
          @emptyOptionLabel=""
          as |organizationType|
        >
          {{organizationType.label}}
        </PixSelect>
      </div>
      {{#each @organization.errors.type as |error|}}
        <div class="form-field__error">
          {{error.message}}
        </div>
      {{/each}}
    </div>

    <PixInput
      @id="documentationUrl"
      @label="Lien vers la documentation : "
      onchange={{this.handleDocumentationUrlChange}}
      class="form-field"
    />
  </section>

  <section class="form-section form-actions form-section--actions">
    <PixButton
      @size="small"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @triggerAction={{@onCancel}}
    >Annuler</PixButton>
    <PixButton @type="submit" @size="small" @backgroundColor="green">Ajouter</PixButton>
  </section>
</form>