<form class="admin-form" {{on "submit" @onSubmit}}>

  <section class="admin-form__content admin-form__content--with-counters">
    <Card class="admin-form__card" @title="Information générique">
      <PixInput
        @id="organizationName"
        onchange={{this.handleOrganizationNameChange}}
        required={{true}}
        aria-required={{true}}
      >
        <:label>Nom</:label>
      </PixInput>

      <PixSelect
        @onChange={{this.handleOrganizationTypeSelectionChange}}
        @options={{this.organizationTypes}}
        @placeholder="Type d'organisation"
        @hideDefaultOption={{true}}
        @value={{@organization.type}}
        required
        aria-required={{true}}
      >
        <:label>Sélectionner un type d'organisation</:label>
        <:default as |organizationType|>{{organizationType.label}}</:default>
      </PixSelect>
    </Card>

    <Card class="admin-form__card" @title="Configuration">
      <PixInput @id="documentationUrl" onchange={{this.handleDocumentationUrlChange}}>
        <:label>Lien vers la documentation</:label>
      </PixInput>
      <PixInput @id="credits" onchange={{this.handleCreditsChange}} type="number">
        <:label>Crédits</:label>
      </PixInput>
    </Card>

    <Card class="admin-form__card" @title="Data Privacy Officer">
      <PixInput @id="dataProtectionOfficerFirstName" onchange={{this.handleDataProtectionOfficerFirstNameChange}}>
        <:label>Prénom du DPO</:label>
      </PixInput>
      <PixInput @id="dataProtectionOfficerLastName" onchange={{this.handleDataProtectionOfficerLastNameChange}}>
        <:label>Nom du DPO</:label>
      </PixInput>
      <PixInput @id="dataProtectionOfficerEmail" onchange={{this.handleDataProtectionOfficerEmailChange}}>
        <:label>Adresse e-mail du DPO</:label>
      </PixInput>
    </Card>
  </section>

  <section class="admin-form__actions">
    <PixButton @size="small" @variant="secondary" @triggerAction={{@onCancel}}>Annuler</PixButton>
    <PixButton @type="submit" @size="small" @variant="success">Ajouter</PixButton>
  </section>
</form>