<form class="form" {{on "submit" @onSubmit}}>

  <section class="form-section">
    <PixInput
      @id="organizationName"
      onchange={{this.handleOrganizationNameChange}}
      class="form-field"
      required={{true}}
      aria-required={{true}}
    >
      <:label>Nom</:label>
    </PixInput>
    <PixSelect
      @onChange={{this.handleOrganizationTypeSelectionChange}}
      @options={{this.organizationTypes}}
      @value={{@organization.type}}
      @label="Sélectionner un type d'organisation"
      @hideDefaultOption={{true}}
      required
      aria-required={{true}}
      class="form-field"
      as |organizationType|
    >
      {{organizationType.label}}
    </PixSelect>
    <PixInput @id="documentationUrl" onchange={{this.handleDocumentationUrlChange}} class="form-field">
      <:label>Lien vers la documentation</:label>
    </PixInput>
    <PixInput @id="credits" onchange={{this.handleCreditsChange}} class="form-field" type="number">
      <:label>Crédits</:label>
    </PixInput>
  </section>

  <section class="form-section">
    <PixInput
      @id="dataProtectionOfficerFirstName"
      onchange={{this.handleDataProtectionOfficerFirstNameChange}}
      class="form-field"
    >
      <:label>Prénom du DPO</:label>
    </PixInput>
    <PixInput
      @id="dataProtectionOfficerLastName"
      onchange={{this.handleDataProtectionOfficerLastNameChange}}
      class="form-field"
    >
      <:label>Nom du DPO</:label>
    </PixInput>
    <PixInput
      @id="dataProtectionOfficerEmail"
      onchange={{this.handleDataProtectionOfficerEmailChange}}
      class="form-field"
    >
      <:label>Adresse e-mail du DPO</:label>
    </PixInput>
  </section>

  <section class="form-section form-actions form-section--actions">
    <PixButton
      @size="small"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @triggerAction={{@onCancel}}
    >Annuler</PixButton>
    <PixButton @type="submit" @size="small" @backgroundColor="success">Ajouter</PixButton>
  </section>
</form>