<form class="form" {{on "submit" @onSubmit}}>

  <section class="form-section">
    <PixInput
      @id="organizationName"
      @label="Nom"
      onchange={{this.handleOrganizationNameChange}}
      class="form-field"
      required={{true}}
      aria-required={{true}}
    />
    <PixSelect
      @id="organizationTypeSelector"
      @onChange={{this.handleOrganizationTypeSelectionChange}}
      @options={{this.organizationTypes}}
      @isSearchable={{false}}
      @label="Sélectionner un type d'organisation"
      @emptyOptionNotSelectable={{true}}
      @emptyOptionLabel=""
      required={{true}}
      aria-required={{true}}
      class="form-field"
      as |organizationType|
    >
      {{organizationType.label}}
    </PixSelect>
    <PixInput
      @id="documentationUrl"
      @label="Lien vers la documentation"
      onchange={{this.handleDocumentationUrlChange}}
      class="form-field"
    />
    <PixInput @id="credits" @label="Crédits" onchange={{this.handleCreditsChange}} class="form-field" type="number" />
  </section>

  <section class="form-section">
    <PixInput
      @id="dataProtectionOfficerFirstName"
      @label="Prénom du DPO"
      onchange={{this.handleDataProtectionOfficerFirstNameChange}}
      class="form-field"
    />
    <PixInput
      @id="dataProtectionOfficerLastName"
      @label="Nom du DPO"
      onchange={{this.handleDataProtectionOfficerLastNameChange}}
      class="form-field"
    />
    <PixInput
      @id="dataProtectionOfficerEmail"
      @label="Adresse e-mail du DPO"
      onchange={{this.handleDataProtectionOfficerEmailChange}}
      class="form-field"
    />
  </section>

  <section class="form-section form-actions form-section--actions">
    <PixButton
      @size="small"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @triggerAction={{@onCancel}}
    >Annuler</PixButton>
    <PixButton @type="submit" @size="small" @backgroundColor="green">Ajouter</PixButton>
  </section>
</form>