<div class="organization__edit-form">
  <form class="form" {{on "submit" this.updateOrganization}}>

    <span class="form__instructions">
      Les champs marqués de
      <abbr title="obligatoire" class="mandatory-mark" aria-hidden="true">*</abbr>
      sont obligatoires.
    </span>

    <div class="form-field">
      <PixInput
        required={{true}}
        @errorMessage={{this.form.nameError.message}}
        @validationStatus={{this.form.nameError.status}}
        @value={{this.form.name}}
        {{on "input" (fn this.updateFormValue "name")}}
      ><:label>
          <abbr title="obligatoire" class="mandatory-mark" aria-hidden="true">*</abbr>
          Nom
        </:label></PixInput>
    </div>

    <div class="form-field">
      <PixInput
        @errorMessage={{this.form.externalIdError.message}}
        @validationStatus={{this.form.externalIdError.status}}
        @value={{this.form.externalId}}
        {{on "input" (fn this.updateFormValue "externalId")}}
      ><:label>Identifiant externe</:label></PixInput>
    </div>

    <div class="form-field">
      <PixInput
        @errorMessage={{this.form.provinceCodeError.message}}
        @validationStatus={{this.form.provinceCodeError.status}}
        @value={{this.form.provinceCode}}
        {{on "input" (fn this.updateFormValue "provinceCode")}}
      ><:label>Département (en 3 chiffres)</:label></PixInput>
    </div>

    <div class="form-field">
      <PixInput
        @errorMessage={{this.form.dataProtectionOfficerFirstNameError.message}}
        @validationStatus={{this.form.dataProtectionOfficerFirstNameError.status}}
        @value={{this.form.dataProtectionOfficerFirstName}}
        {{on "input" (fn this.updateFormValue "dataProtectionOfficerFirstName")}}
      ><:label>Prénom du DPO</:label></PixInput>
    </div>

    <div class="form-field">
      <PixInput
        @errorMessage={{this.form.dataProtectionOfficerLastNameError.message}}
        @validationStatus={{this.form.dataProtectionOfficerLastNameError.status}}
        @value={{this.form.dataProtectionOfficerLastName}}
        {{on "input" (fn this.updateFormValue "dataProtectionOfficerLastName")}}
      ><:label>Nom du DPO</:label></PixInput>
    </div>

    <div class="form-field">
      <PixInput
        @errorMessage={{this.form.dataProtectionOfficerEmailError.message}}
        @validationStatus={{this.form.dataProtectionOfficerEmailError.status}}
        @value={{this.form.dataProtectionOfficerEmail}}
        {{on "input" (fn this.updateFormValue "dataProtectionOfficerEmail")}}
      ><:label>Adresse e-mail du DPO</:label></PixInput>
    </div>

    <div class="form-field">
      <PixInput
        type="number"
        @errorMessage={{this.form.creditError.message}}
        @validationStatus={{this.form.creditError.status}}
        @value={{this.form.credit}}
        {{on "input" (fn this.updateFormValue "credit")}}
      ><:label>Crédits</:label></PixInput>
    </div>

    <div class="form-field">
      <PixInput
        @errorMessage={{this.form.documentationUrlError.message}}
        @validationStatus={{this.form.documentationUrlError.status}}
        @value={{this.form.documentationUrl}}
        {{on "input" (fn this.updateFormValue "documentationUrl")}}
      ><:label>Lien vers la documentation</:label></PixInput>
    </div>

    <div class="form-field">
      <PixCheckbox
        @checked={{this.form.showSkills}}
        {{on "change" (fn this.updateFormCheckBoxValue "showSkills")}}
      ><:label>Affichage des acquis dans l'export de résultats</:label></PixCheckbox>
    </div>

    <div class="form-field">
      <PixSelect
        @options={{this.identityProviderOptions}}
        @value={{this.form.identityProviderForCampaigns}}
        @onChange={{this.onChangeIdentityProvider}}
        @hideDefaultOption={{true}}
      >
        <:label>SSO</:label>
      </PixSelect>
    </div>

    <div class="form-field">
      <PixInput
        @errorMessage={{this.form.emailError.message}}
        @validationStatus={{this.form.emailError.status}}
        @value={{this.form.email}}
        {{on "input" (fn this.updateFormValue "email")}}
      ><:label>Adresse e-mail d'activation SCO</:label></PixInput>
    </div>

    {{#if (or @organization.isOrganizationSCO @organization.isOrganizationSUP)}}
      <div class="form-field">
        <PixCheckbox
          @checked={{this.form.isManagingStudents}}
          {{on "change" (fn this.updateFormCheckBoxValue "isManagingStudents")}}
        ><:label>Gestion d’élèves/étudiants</:label></PixCheckbox>
      </div>
    {{/if}}

    <div class="form-field">
      <PixCheckbox
        @id="isMultipleSendingAssessmentEnabled"
        @checked={{this.form.isMultipleSendingAssessmentEnabled}}
        {{on "change" (fn this.updateFormCheckBoxValue "isMultipleSendingAssessmentEnabled")}}
      >
        <:label>Activer l'envoi multiple pour les campagnes de type évaluation</:label>
      </PixCheckbox>
    </div>
    <div class="form-field">
      <PixCheckbox
        @id="isPlacesManagementEnabled"
        @checked={{this.form.isPlacesManagementEnabled}}
        {{on "change" (fn this.updateFormCheckBoxValue "isPlacesManagementEnabled")}}
      >
        <:label>Activer la page Places sur PixOrga</:label>
      </PixCheckbox>
    </div>
    <div class="form-actions">
      <PixButton @size="small" @variant="secondary" @triggerAction={{this.closeAndResetForm}}>Annuler</PixButton>
      <PixButton @type="submit" @size="small" @variant="success">Enregistrer</PixButton>
    </div>
  </form>
</div>