<div class="organization__edit-form">
  <form class="form" {{on "submit" this.updateOrganization}}>

    <span class="form__instructions">
      Les champs marqués de
      <abbr title="obligatoire" class="mandatory-mark" aria-hidden="true">*</abbr>
      sont obligatoires.
    </span>

    <div class="form-field">
      {{#if (v-get this.form "name" "isInvalid")}}
        <div class="form-field__error">
          {{v-get this.form "name" "message"}}
        </div>
      {{/if}}
      <PixInput
        class={{if (v-get this.form "name" "isInvalid") "form-control is-invalid" "form-control"}}
        @value={{this.form.name}}
        required={{true}}
        {{on "input" (pick "target.value" (set this "form.name"))}}
      ><:label>
          <abbr title="obligatoire" class="mandatory-mark" aria-hidden="true">*</abbr>
          Nom
        </:label></PixInput>
    </div>

    <div class="form-field">
      {{#if (v-get this.form "externalId" "isInvalid")}}
        <div class="form-field__error">
          {{v-get this.form "externalId" "message"}}
        </div>
      {{/if}}
      <PixInput
        class={{if (v-get this.form "externalId" "isInvalid") "form-control is-invalid" "form-control"}}
        @value={{this.form.externalId}}
        {{on "input" (pick "target.value" (set this "form.externalId"))}}
      ><:label>Identifiant externe</:label></PixInput>
    </div>

    <div class="form-field">
      {{#if (v-get this.form "provinceCode" "isInvalid")}}
        <div class="form-field__error">
          {{v-get this.form "provinceCode" "message"}}
        </div>
      {{/if}}
      <PixInput
        class={{if (v-get this.form "provinceCode" "isInvalid") "form-control is-invalid" "form-control"}}
        @value={{this.form.provinceCode}}
        {{on "input" (pick "target.value" (set this "form.provinceCode"))}}
      ><:label>Département (en 3 chiffres)</:label></PixInput>
    </div>

    <div class="form-field">
      {{#if (v-get this.form "dataProtectionOfficerFirstName" "isInvalid")}}
        <div class="form-field__error">
          {{v-get this.form "dataProtectionOfficerFirstName" "message"}}
        </div>
      {{/if}}
      <PixInput
        class={{if
          (v-get this.form "dataProtectionOfficerFirstName" "isInvalid")
          "form-control is-invalid"
          "form-control"
        }}
        @value={{this.form.dataProtectionOfficerFirstName}}
        {{on "input" (pick "target.value" (set this "form.dataProtectionOfficerFirstName"))}}
      ><:label>Prénom du DPO</:label></PixInput>
    </div>

    <div class="form-field">
      {{#if (v-get this.form "dataProtectionOfficerLastName" "isInvalid")}}
        <div class="form-field__error">
          {{v-get this.form "dataProtectionOfficerLastName" "message"}}
        </div>
      {{/if}}
      <PixInput
        class={{if
          (v-get this.form "dataProtectionOfficerLastName" "isInvalid")
          "form-control is-invalid"
          "form-control"
        }}
        @value={{this.form.dataProtectionOfficerLastName}}
        {{on "input" (pick "target.value" (set this "form.dataProtectionOfficerLastName"))}}
      ><:label>Nom du DPO</:label></PixInput>
    </div>

    <div class="form-field">
      {{#if (v-get this.form "dataProtectionOfficerEmail" "isInvalid")}}
        <div class="form-field__error">
          {{v-get this.form "dataProtectionOfficerEmail" "message"}}
        </div>
      {{/if}}
      <PixInput
        class={{if (v-get this.form "dataProtectionOfficerEmail" "isInvalid") "form-control is-invalid" "form-control"}}
        @value={{this.form.dataProtectionOfficerEmail}}
        {{on "input" (pick "target.value" (set this "form.dataProtectionOfficerEmail"))}}
      ><:label>Adresse e-mail du DPO</:label></PixInput>
    </div>

    <div class="form-field">
      {{#if (v-get this.form "credit" "isInvalid")}}
        <div class="form-field__error">
          {{v-get this.form "credit" "message"}}
        </div>
      {{/if}}
      <PixInput
        type="number"
        class={{if (v-get this.form "credit" "isInvalid") "form-control is-invalid" "form-control"}}
        @value={{this.form.credit}}
        {{on "input" (pick "target.value" (set this "form.credit"))}}
      ><:label>Crédits</:label></PixInput>
    </div>

    <div class="form-field">
      {{#if (v-get this.form "documentationUrl" "isInvalid")}}
        <div class="form-field__error">
          {{v-get this.form "documentationUrl" "message"}}
        </div>
      {{/if}}
      <PixInput
        class={{if (v-get this.form "documentationUrl" "isInvalid") "form-control is-invalid" "form-control"}}
        @value={{this.form.documentationUrl}}
        {{on "input" (pick "target.value" (set this "form.documentationUrl"))}}
      ><:label>Lien vers la documentation</:label></PixInput>
    </div>

    <div class="form-field organization-edit-form__checkbox">
      <PixCheckbox
        class={{if (v-get this.form "showSkills" "isInvalid") "form-control is-invalid" "form-control"}}
        @checked={{this.form.showSkills}}
        {{on "change" (toggle "form.showSkills" this)}}
      ><:label>Affichage des acquis dans l'export de résultats</:label></PixCheckbox>
      {{#if (v-get this.form "showSkills" "isInvalid")}}
        <div class="form-field__error">
          {{v-get this.form "showSkills" "message"}}
        </div>
      {{/if}}
    </div>

    <div class="form-field">
      <PixSelect
        @options={{this.identityProviderOptions}}
        @value={{this.form.identityProviderForCampaigns}}
        @onChange={{this.onChangeIdentityProvider}}
        @hideDefaultOption={{true}}
      >
        <:label>SSO</:label>
      </PixSelect>
    </div>

    <div class="form-field">
      {{#if (v-get this.form "email" "isInvalid")}}
        <div class="form-field__error">
          {{v-get this.form "email" "message"}}
        </div>
      {{/if}}
      <PixInput
        class={{if (v-get this.form "email" "isInvalid") "form-control is-invalid" "form-control"}}
        @value={{this.form.email}}
        {{on "input" (pick "target.value" (set this "form.email"))}}
      ><:label>Adresse e-mail d'activation SCO</:label></PixInput>
    </div>

    {{#if (or @organization.isOrganizationSCO @organization.isOrganizationSUP)}}
      <div class="form-field organization-edit-form__checkbox">
        <PixCheckbox
          class={{if (v-get this.form "isManagingStudents" "isInvalid") "form-control is-invalid" "form-control"}}
          @checked={{this.form.isManagingStudents}}
          {{on "change" (toggle "form.isManagingStudents" this)}}
        ><:label>Gestion d’élèves/étudiants</:label></PixCheckbox>
        {{#if (v-get this.form "isManagingStudents" "isInvalid")}}
          <div class="form-field__error">
            {{v-get this.form "isManagingStudents" "message"}}
          </div>
        {{/if}}
      </div>
    {{/if}}

    <div class="form-field organization-edit-form__checkbox">
      <PixCheckbox
        @id="isMultipleSendingAssessmentEnabled"
        {{on "change" this.onChangeMultipleSendingAssessment}}
        @checked={{this.form.isMultipleSendingAssessmentEnabled}}
        @class="form-field__label"
      >
        <:label>Activer l'envoi multiple pour les campagnes de type évaluation</:label>
      </PixCheckbox>
    </div>
    <div class="form-field organization-edit-form__checkbox">
      <PixCheckbox
        @id="isPlacesManagementEnabled"
        {{on "change" this.onChangePlacesManagement}}
        @checked={{this.form.isPlacesManagementEnabled}}
        @class="form-field__label"
      >
        <:label>Activer la page Places sur PixOrga</:label>
      </PixCheckbox>
    </div>
    <div class="form-actions">
      <PixButton @size="small" @variant="secondary" @triggerAction={{this.closeAndResetForm}}>Annuler</PixButton>
      <PixButton @type="submit" @size="small" @variant="success">Enregistrer</PixButton>
    </div>
  </form>
</div>