<div class="organization-list content-text content-text--small">
  <div class="table-admin">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Type</th>
          <th>Identifiant externe</th>
        </tr>
        <tr>
          <th>
            <input id="id"
                   type="text"
                   value={{@id}}
                   oninput={{fn @triggerFiltering 'id'}}
                   class="table-admin-input form-control" />
          </th>
          <th>
            <input id="name"
                   type="text"
                   value={{@name}}
                   oninput={{fn @triggerFiltering 'name'}}
                   class="table-admin-input form-control" />
          </th>
          <th>
            <input id="type"
                   type="text"
                   value={{@type}}
                   oninput={{fn @triggerFiltering 'type'}}
                   class="table-admin-input form-control" />
          </th>
          <th>
            <input id="externalId"
                   type="text"
                   value={{@externalId}}
                   oninput={{fn @triggerFiltering 'externalId'}}
                   class="table-admin-input form-control" />
          </th>
        </tr>
      </thead>

      {{#if @organizations}}
        <tbody>
        {{#each @organizations as |organization|}}
          <tr aria-label="Organisation" role="button" {{on "click" (fn @goToOrganizationPage organization.id)}} class="tr--clickable">
            <td>{{organization.id}}</td>
            <td>{{organization.name}}</td>
            <td>{{organization.type}}</td>
            <td>{{organization.externalId}}</td>
          </tr>
        {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless @organizations}}
      <div class="table__empty content-text">Aucun résultat</div>
    {{/unless}}
  </div>
</div>

{{#if @organizations}}
  <PaginationControl @pagination={{@organizations.meta}} />
{{/if}}
