<section class="page-section">
  <div class="places__add-form">
    <form class="form" {{on "submit" this.onSubmit}}>
      <span class="form__instructions">
        Les champs marqués de
        <abbr title="obligatoire" class="mandatory-mark" aria-hidden="true">*</abbr>
        sont obligatoires.
      </span>
      <div class="form-field">
        <PixInput
          class={{if @errors.count "form-control is-invalid" "form-control"}}
          @value={{this.count}}
          {{on "input" (pick "target.value" (set this "count"))}}
        ><:label>Nombre :</:label></PixInput>

        {{#if @errors.count}}
          <div class="form-field__error">
            {{get @errors.count "0.message"}}
          </div>
        {{/if}}
      </div>
      <div class="form-field">
        <PixInput
          type="date"
          class={{if @errors.activationDate "form-control is-invalid" "form-control"}}
          @value={{this.activationDate}}
          @requiredLabel={{true}}
          {{on "input" (pick "target.value" (set this "activationDate"))}}
        ><:label>Date d'activation : </:label></PixInput>

        {{#if @errors.activationDate}}
          <div class="form-field__error">
            {{get @errors.activationDate "0.message"}}
          </div>
        {{/if}}
      </div>
      <div class="form-field">
        <PixInput
          class={{if @errors.expirationDate "form-control is-invalid" "form-control"}}
          type="date"
          @value={{this.expirationDate}}
          {{on "input" (pick "target.value" (set this "expirationDate"))}}
        ><:label>Date d'expiration : </:label></PixInput>

        {{#if @errors.expirationDate}}
          <div class="form-field__error">
            {{get @errors.expirationDate "0.message"}}
          </div>
        {{/if}}
      </div>
      <div class="form-field">
        <PixSelect
          @options={{this.categories}}
          @placeholder="Sélectionnez une catégorie"
          @onChange={{this.selectCategory}}
          @value={{this.category}}
          @errorMessage={{get @errors.category "0.message"}}
          @requiredLabel="Champs obligatoire"
        >
          <:label>Catégorie :</:label>
        </PixSelect>
      </div>
      <div class="form-field">
        <PixInput
          @value={{this.reference}}
          class={{if @errors.reference "form-control is-invalid" "form-control"}}
          maxlength="255"
          @requiredLabel={{true}}
          {{on "input" (pick "target.value" (set this "reference"))}}
        ><:label>Référence :</:label></PixInput>

        {{#if @errors.reference}}
          <div class="form-field__error">
            {{get @errors.reference "0.message"}}
          </div>
        {{/if}}
      </div>

      <div class="form-actions">
        <PixButtonLink
          class="action-buttons__cancel"
          @variant="secondary"
          @size="small"
          @route="authenticated.organizations.get.places"
        >Annuler</PixButtonLink>
        <PixButton @type="submit" @size="small" @variant="success">Ajouter</PixButton>
      </div>
    </form>
  </div>
</section>