{{#if this.accessControl.hasAccessToOrganizationActionsScope}}
  <section class="page-section">
    <header class="page-section__header">
      <h2 class="page-section__title">Rattacher un ou plusieurs profil(s) cible(s)</h2>
    </header>
    <div class="organization__forms-section">
      <form class="organization__sub-form form" {{on "submit" this.attachTargetProfiles}}>
        <Input
          aria-label="ID du ou des profil(s) cible(s)"
          @value={{this.targetProfilesToAttach}}
          class="organization-sub-form__input form-field__text form-control"
          placeholder="1, 2"
        />
        <PixButton @type="submit" @size="small" @isDisabled={{this.isDisabled}}>Valider</PixButton>
      </form>
    </div>
  </section>
{{/if}}

<section class="page-section">
  <header class="page-section__header">
    <h2 class="page-section__title">Profils cibles</h2>
  </header>
  <div class="content-text content-text--small">
    <div class="table-admin">
      <table>
        <thead>
          <tr>
            <th class="table__column table__column--id">ID</th>
            <th>Nom du profil cible</th>
          </tr>
        </thead>

        {{#if @organization.targetProfileSummaries}}
          <tbody>
            {{#each @organization.sortedTargetProfileSummaries as |summary|}}
              <tr aria-label="Profil cible">
                <td class="table__column table__column--id">{{summary.id}}</td>
                <td headers="target-profile-name">
                  <LinkTo @route="authenticated.target-profiles.target-profile" @model={{summary.id}}>
                    {{summary.name}}
                  </LinkTo>
                </td>
              </tr>
            {{/each}}
          </tbody>
        {{/if}}
      </table>

      {{#unless @organization.targetProfileSummaries}}
        <div class="table__empty">Aucun résultat</div>
      {{/unless}}
    </div>
  </div>
</section>