{{page-title "Centre " @model.certificationCenter.id}}
<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.certification-centers.list"><span id="link-to-certification-centers-page">Tous les
        centres de certification</span></LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    {{@model.certificationCenter.name}}
  </div>
</header>

<main class="page-body" id="certification-center-get-page">
  <CertificationCenters::Information
    @availableHabilitations={{this.model.habilitations}}
    @certificationCenter={{this.model.certificationCenter}}
    @updateCertificationCenter={{this.updateCertificationCenter}}
  />

  {{outlet}}

</main>