<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.certification-centers.list"><span id="link-to-certification-centers-page">Tous les centres de certification</span></LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    {{@model.certificationCenter.name}}
  </div>
</header>

<main class="page-body" id="certification-center-get-page">
  <section class="page-section mb_10">
    <div class="certification-center__data">
      <h1 class="certification-center__name">{{@model.certificationCenter.name}}</h1>
      <p>
        Type : <span>{{@model.certificationCenter.type}}</span><br>
        Identifiant externe : <span>{{@model.certificationCenter.externalId}}</span><br>
      </p>
    </div>
  </section>

  <section class="page-section mb_10">
    <header class="page-section__header">
      <h2 class="page-section__title">Ajouter un membre</h2>
    </header>

    <div class="certification-center__section">
      <Input
        id="userEmailToAdd"
        @type="email"
        @value={{this.userEmailToAdd}}
        aria-label="Adresse e-mail"
        class="form-field__text form-control"
        placeholder="Adresse e-mail"
        {{on "focusout" this.updateEmailErrorMessage}}
      />

      <PixButton
        @triggerAction={{this.addCertificationCenterMembership}}
        @backgroundColor="transparent"
        @loading-color="grey"
        @isDisabled={{this.isDisabled}}
        class="btn btn-outline-default"
        data-test-add-membership
      >
        Valider
      </PixButton>
    </div>
    {{#if this.errorMessage}}
      <div class="certification-center__section error">
        {{this.errorMessage}}
      </div>
    {{/if}}
  </section>

  <CertificationCenterMembershipsSection
    @certificationCenterMemberships={{@model.certificationCenterMemberships}}
  />

</main>
