{{! template-lint-disable require-input-label }}
{{page-title "Centre " @model.certificationCenter.id}}
<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.certification-centers.list"><span id="link-to-certification-centers-page">Tous les
        centres de certification</span></LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    {{@model.certificationCenter.name}}
  </div>
</header>

<main class="page-body" id="certification-center-get-page">
  <section class="page-section mb_10">
    <div class="certification-center__information">

      {{#if this.isEditMode}}
        <div class="certification-center__edit-form">
          <form class="form" onsubmit={{this.submitForm}}>

            <div class="form-field">
              <label for="certification-center-name" class="form-field__label">Nom du centre</label>
              <Input
                id="certification-center-name"
                name="certification-center-name"
                @type="text"
                maxlength="255"
                class="form-control"
                @value={{@model.certificationCenter.name}}
              />
              {{#each this.certificationCenter.errors.name as |error|}}
                <div class="session-form__error error-message">
                  {{error.message}}
                </div>
              {{/each}}
            </div>

            <div class="form-field">
              <label for="certification-center-type" class="form-field__label">Type</label>
              <PixSelect
                id="certification-center-type"
                @options={{this.certificationCenterTypes}}
                @isSearchable={{false}}
                @emptyOptionNotSelectable={{true}}
                @emptyOptionLabel={{"-- Choisissez --"}}
                @selectedOption={{this.model.certificationCenter.type}}
                @onChange={{this.selectCertificationCenterType}}
                as |certificationCenterType|
              >
                {{certificationCenterType.label}}
              </PixSelect>
              {{#each this.certificationCenter.errors.type as |error|}}
                <div class="session-form__error error-message">
                  {{error.message}}
                </div>
              {{/each}}
            </div>

            <div class="form-field">
              <label for="certification-center-external-id" class="form-field__label">Identifiant externe</label>
              <Input
                id="certification-center-external-id"
                name="certification-center-external-id"
                @type="text"
                maxlength="255"
                class="form-control"
                @value={{@model.certificationCenter.externalId}}
              />
              {{#each this.certificationCenter.errors.externalId as |error|}}
                <div class="session-form__error error-message">
                  {{error.message}}
                </div>
              {{/each}}
            </div>
            <h3 class="certification-center__subtitle">Habilitations aux certifications complémentaires</h3>
            <div class="form-field accreditations-checkbox-list">
              <ul>
                {{#each @model.accreditations as |accreditation|}}
                  <li>
                    <div class="accreditation-entry">
                      <Input
                        @type="checkbox"
                        @checked={{contains accreditation @model.certificationCenter.accreditations}}
                        {{on "input" (fn this.updateGrantedAccreditation accreditation)}}
                      />
                      <label for="accreditation-checkbox">{{accreditation.name}}</label>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
            <div class="form-actions">
              <PixButton
                @size="small"
                @backgroundColor="transparent-light"
                @isBorderVisible={{true}}
                @triggerAction={{this.toggleEditMode}}
              >Annuler</PixButton>
              <PixButton @type="submit" @size="small" @backgroundColor="green">Enregistrer</PixButton>
            </div>
          </form>
        </div>
      {{else}}
        <div class="certification-center__data">
          <h1 class="certification-center__name">{{@model.certificationCenter.name}}</h1>
          <p>
            Type :
            <span>{{@model.certificationCenter.type}}</span><br />
            Identifiant externe :
            <span>{{@model.certificationCenter.externalId}}</span><br />
          </p>
          <h3 class="certification-center__subtitle">Habilitations aux certifications complémentaires</h3>
          <div class="accreditations-list">
            <ul>
              {{#each @model.accreditations as |accreditation|}}
                <li>
                  {{#if (contains accreditation @model.certificationCenter.accreditations)}}
                    <FaIcon class="granted-accreditation-icon" @icon="check-circle" />
                  {{else}}
                    <FaIcon class="not-granted-accreditation-icon" @icon="times-circle" />
                  {{/if}}
                  {{accreditation.name}}
                </li>
              {{/each}}
            </ul>
          </div>
          <PixButton
            @backgroundColor="transparent-light"
            @isBorderVisible={{true}}
            @size="small"
            @triggerAction={{this.toggleEditMode}}
            aria-label="Editer"
          >Editer</PixButton>
        </div>
      {{/if}}

    </div>
  </section>

  <section class="page-section mb_10">
    <header class="page-section__header">
      <h2 class="page-section__title">Ajouter un membre</h2>
    </header>

    <div class="certification-center__section">
      <Input
        id="userEmailToAdd"
        @type="email"
        @value={{this.userEmailToAdd}}
        aria-label="Adresse e-mail du nouveau membre"
        class="form-field__text form-control"
        placeholder="membre@inviter.net"
        {{on "focusout" this.updateEmailErrorMessage}}
      />

      <PixButton
        @triggerAction={{this.addCertificationCenterMembership}}
        @isDisabled={{this.isDisabled}}
        @size="small"
        aria-label="Ajouter le membre"
        data-test-add-membership
      >
        Valider
      </PixButton>
    </div>
    {{#if this.errorMessage}}
      <div class="certification-center__section error">
        {{this.errorMessage}}
      </div>
    {{/if}}
  </section>

  <CertificationCenterMembershipsSection @certificationCenterMemberships={{@model.certificationCenterMemberships}} />

</main>