<header class="page-header">
  <div class="page-title">Tous les centres de certification</div>
</header>

<main class="page-body">
  <section class="page-section">
    <CertificationCenters::ListItems
      @certificationCenters={{@model}}
      @id={{this.id}}
      @name={{this.name}}
      @type={{this.type}}
      @externalId={{this.externalId}}
      @triggerFiltering={{this.triggerFiltering}} />
  </section>
</main>
