<header class="page-header">
  <div class="page-title">Tous les centres de certification</div>
</header>

<main class="page-body">
  <section class="page-section">
    <Routes::Authenticated::CertificationCenters::ListItems
            @certificationCenters={{@model}}
            @id={{id}}
            @name={{name}}
            @type={{type}}
            externalId={{externalId}}
            @triggerFiltering={{this.triggerFiltering}}/>
  </section>
</main>
