{{page-title "Centres de certification"}}
<header class="page-header">
  <h1 class="page-title">Tous les centres de certification</h1>
  <div class="page-actions">
    <PixButton
      @route="authenticated.certification-centers.new"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      class="pix-button__secondary"
      @iconBefore="plus"
    >
      Nouveau centre de certif
    </PixButton>
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <CertificationCenters::ListItems
      @certificationCenters={{@model}}
      @id={{this.id}}
      @name={{this.name}}
      @type={{this.type}}
      @externalId={{this.externalId}}
      @triggerFiltering={{this.triggerFiltering}}
    />
  </section>
</main>