<div class="panel participant-row participant-row__result">

  <div class="participant-results-content__summary">
    <div class="participant-content participant-content--large participant-content--wide">
      <div class="label-text participant-content__label-text">Acquis validés</div>
      <div class="content-text content-text--big">
        {{ @campaignCollectiveResult.averageValidatedSkillsSum }}
      </div>
    </div>
    <div class="participant-content participant-content--large participant-content--wide">
      <div class="label-text participant-content__label-text">Acquis évalués</div>
      <div class="content-text content-text--big">
        {{ @campaignCollectiveResult.totalSkills }}
      </div>
    </div>
  </div>

  <div class="participant-content participant-results-content">
    <div aria-label="Moyenne des résultats" class="participant-results-content__score">
      <div class="content-text content-text--big content-text--bold">Résultat</div>
      <div class="participant-results-content__circle-chart">
        <CircleChart @value={{@campaignCollectiveResult.averageResult}}>
          <span class="participant-results-content__circle-chart-value">
            {{@campaignCollectiveResult.averageResult}}%
          </span>
        </CircleChart>
      </div>
    </div>
  </div>

</div>
<div class="panel panel--light-shadow participant-results__details content-text content-text--small">


  <table>
    <thead>
    <tr>
      <th class="table__column--wide">Compétences ({{ @campaignCollectiveResult.campaignCompetenceCollectiveResults.length }})</th>
      <th class="table__column--wide">Résultats</th>
      <th class="table__column--small">Acquis validés</th>
      <th class="table__column--small">Acquis évalués</th>
    </tr>
    </thead>

    {{#if @sharedParticipationsCount }}

      <tbody>
      {{#each @campaignCollectiveResult.campaignCompetenceCollectiveResults as |competenceResult|}}
        <tr>
          <td class="competences-col__name">
            <span class="competences-col__border competences-col__border--{{competenceResult.areaColor}}"></span>
            <span>
              {{competenceResult.competenceName}}
            </span>
          </td>
          <td>
            <ProgressionGauge @total={{competenceResult.totalSkillsCountPercentage}} @value={{competenceResult.validatedSkillsPercentage}}>
              {{competenceResult.validatedSkillsPercentage}}%
            </ProgressionGauge>
          </td>
          <td>{{competenceResult.roundedAverageValidatedSkills}}</td>
          <td>{{competenceResult.totalSkillsCount}}</td>
        </tr>
      {{/each}}
      </tbody>
    {{/if}}
  </table>

  {{#unless @sharedParticipationsCount }}
    <div class="table__empty content-text">En attente de résultats</div>
  {{/unless}}

</div>