<div class="assessment-banner">
  <header class="assessment-banner-container" role="banner">
    <img class="assessment-banner__pix-logo" src="/images/pix-logo-blanc.svg" alt="{{t 'common.pix'}}" />
    {{#if @title}}
      <div class="assessment-banner__splitter"></div>
      <h1 class="assessment-banner__title"><span class="sr-only">{{t
            "pages.assessment-banner.title"
          }}</span>{{@title}}</h1>
    {{/if}}
    {{#if @displayHomeLink}}
      <button type="button" class="assessment-banner__home-link" onclick={{this.toggleClosingModal}}>
        {{t "common.actions.quit"}}
        <FaIcon @icon="right-from-bracket" />
      </button>
      <PixModal
        class="assessment-banner__closing-modal"
        @title={{t "pages.assessment-banner.modal-title"}}
        @showModal={{this.showClosingModal}}
        @onCloseButtonClick={{this.toggleClosingModal}}
      >
        <:content>
          <p>{{t "pages.assessment-banner.modal-content"}}</p>
        </:content>
        <:footer>
          <div class="assessment-banner-closing-modal__footer">
            <PixButton
              @backgroundColor="transparent-light"
              @isBorderVisible={{true}}
              @triggerAction={{this.toggleClosingModal}}
            >
              {{t "common.actions.stay"}}
            </PixButton>
            <PixButtonLink @route="authenticated" title={{t "common.actions.quit"}}>
              {{t "common.actions.quit"}}
            </PixButtonLink>
          </div>
        </:footer>
      </PixModal>
    {{/if}}
  </header>
</div>