<div id="{{@title}}" class="badge-card">
  <div class="badge-card__text">
    <p class="badge-card__status">
      {{#if @isAcquired}}
        <FaIcon @icon="circle-check" class="badge-card-status__acquired-icon" />
        {{t "pages.skill-review.badge-card.acquired"}}
      {{else}}
        <FaIcon @icon="circle-xmark" class="badge-card-status__not-acquired-icon" />
        {{t "pages.skill-review.badge-card.not-acquired"}}
      {{/if}}
    </p>
    <p class="badge-card-text__title">{{@title}}</p>
    <p class="badge-card-text__message"><MarkdownToHtml @markdown={{@message}} /></p>
  </div>
  <div class="badge-card__image {{unless @isAcquired 'badge-card__image--not-acquired'}}"><img
      src="{{@imageUrl}}"
      alt="{{@altMessage}}"
    /></div>
</div>