<div id="{{@title}}" class="badge-card">
  <div class="badge-card__content">
    <div class="badge-card-content__header">
      <p class="badge-card-content-header__status">
        {{#if @isAcquired}}
          <FaIcon @icon="circle-check" class="badge-card-content-header-status__acquired-icon" />
          {{t "pages.skill-review.badge-card.acquired"}}
        {{else}}
          <FaIcon @icon="circle-xmark" class="badge-card-content-header-status__not-acquired-icon" />
          {{t "pages.skill-review.badge-card.not-acquired"}}
        {{/if}}
      </p>
      {{#if this.showProgression}}
        <PixProgressGauge
          @value={{@acquisitionPercentage}}
          @label={{t "pages.skill-review.badge-card.progress-bar-label"}}
        />
      {{/if}}
    </div>
    <h3 class="badge-card-content__title">{{@title}}</h3>
    <p class="badge-card-content__message">
      <MarkdownToHtml @markdown={{@message}} />
    </p>
  </div>
  <div class="badge-card__image {{unless @isAcquired 'badge-card__image--not-acquired'}}">
    <img src="{{@imageUrl}}" alt="{{@altMessage}}" />
  </div>
</div>