{{#if @isShared}}
  {{#if @displayPixLink}}
    <div class="skill-review-share__thanks">
      <span><FaIcon @icon="circle-check" class="badge-card-status__acquired-icon" /></span>
      {{t "pages.skill-review.already-shared"}}
    </div>
    <a href="#" {{on "click" @redirectToSignupIfUserIsAnonymous}} class="skill-review-share__back-to-home link">
      <FaIcon @icon="arrow-right" aria-hidden="true" />
      {{t "pages.skill-review.actions.continue"}}
    </a>
  {{/if}}
{{else}}
  <PixButton
    class="skill-review-share__button"
    @backgroundColor="yellow"
    @shape="rounded"
    @triggerAction={{@shareCampaignParticipation}}
  >
    {{t "pages.skill-review.actions.send"}}
  </PixButton>

  {{#unless @isFlashCampaign}}
    <p class="skill-review-share__legal">
      {{t "pages.skill-review.send-results"}}
    </p>
  {{/unless}}
{{/if}}