{{! template-lint-disable link-href-attributes }}
<div
  class="certifications-list-item
    {{if this.isPublished 'certifications-list-item__published-item' 'certifications-list-item__unpublished-item'}}
    {{if this.isClickable 'certifications-list-item__clickable' 'certifications-list-item__not-clickable'}}"
>

  {{#if this.isNotPublished}}
    <div class="certifications-list-item__row-presentation">
      <div class="certifications-list-item__cell">
        {{dayjs-format @certification.date "DD/MM/YYYY"}}
      </div>

      <div class="certifications-list-item__cell-double-width">
        <img
          src="/images/icons/sablier.svg"
          alt=""
          role="presentation"
          data-test-id="certifications-list-item__hourglass-img"
        />
        {{t "pages.certifications-list.statuses.not-published.title"}}
      </div>
      <div class="certifications-list-item__cell-pix-score"></div>

      <div class="certifications-list-item__cell-certification-center">
        {{@certification.certificationCenter}}
      </div>

      <div class="certifications-list-item__cell-detail">
      </div>
    </div>
  {{else if this.isRejected}}

    <div class="certifications-list-item__row-presentation">

      <div class="certifications-list-item__cell">
        {{dayjs-format @certification.date "DD/MM/YYYY"}}
      </div>

      <div class="certifications-list-item__cell-double-width">
        <img
          src="/images/icons/icon-croix.svg"
          alt=""
          role="presentation"
          data-test-id="certifications-list-item__cross-img"
        />
        {{t "pages.certifications-list.statuses.fail.title"}}
      </div>
      <div class="certifications-list-item__cell-pix-score"></div>

      <div class="certifications-list-item__cell-certification-center">
        {{@certification.certificationCenter}}
      </div>

      <div class="certifications-list-item__cell-detail">
        {{#if this.shouldDisplayComment}}
          <PixIconButton
            @ariaLabel={{t "pages.certifications-list.statuses.fail.action"}}
            @icon={{if this.isOpen "chevron-up" "chevron-down"}}
            @triggerAction={{this.toggleCertificationDetails}}
          />
        {{/if}}
      </div>
    </div>

    {{#if this.shouldDisplayComment}}
      <div
        aria-hidden="{{not this.isOpen}}"
        class="certifications-list-item__row-comment {{if this.isOpen ' certifications-list-item__row-comment--open'}}"
      >
        <div class="certifications-list-item__row-comment-cell">
          {{@certification.commentForCandidate}}
        </div>
      </div>
    {{/if}}

  {{else if this.isValidated}}
    <LinkTo
      @route="authenticated.user-certifications.get"
      @model={{@certification.id}}
      class="certifications-list-item__row-presentation"
    >
      <div class="certifications-list-item__cell">
        {{dayjs-format @certification.date "DD/MM/YYYY"}}
      </div>

      <div class="certifications-list-item__cell-double-width">
        <img
          src="/images/icons/icon-check-vert.svg"
          alt=""
          role="presentation"
          data-test-id="certifications-list-item__green-check-img"
        />
        {{t "pages.certifications-list.statuses.success.title"}}
      </div>
      <div class="certifications-list-item__cell-pix-score">
        <div class="certifications-list-item__pix-score">
          <span>{{@certification.pixScore}}</span>
        </div>
      </div>

      <div class="certifications-list-item__cell-certification-center">
        {{@certification.certificationCenter}}
      </div>

      <div class="certifications-list-item__cell-detail">
        <a>{{t "pages.certifications-list.statuses.success.action"}}</a>
      </div>
    </LinkTo>
  {{else if this.isCancelled}}
    <div class="certifications-list-item__row-presentation">

      <div class="certifications-list-item__cell">
        {{dayjs-format @certification.date "DD/MM/YYYY"}}
      </div>

      <div class="certifications-list-item__cell-double-width">
        <img
          src="/images/icons/icon-croix.svg"
          alt=""
          role="presentation"
          data-test-id="certifications-list-item__cross-img"
        />
        {{t "pages.certifications-list.statuses.cancelled.title"}}
      </div>
      <div class="certifications-list-item__cell-pix-score"></div>

      <div class="certifications-list-item__cell-certification-center">
        {{@certification.certificationCenter}}
      </div>

      <div class="certifications-list-item__cell-detail">
        {{#if this.shouldDisplayComment}}
          <PixIconButton
            @ariaLabel={{t "pages.certifications-list.statuses.fail.action"}}
            @icon={{if this.isOpen "chevron-up" "chevron-down"}}
            @triggerAction={{this.toggleCertificationDetails}}
          />
        {{/if}}
      </div>
    </div>

    {{#if this.shouldDisplayComment}}
      <div
        aria-hidden="{{not this.isOpen}}"
        class="certifications-list-item__row-comment {{if this.isOpen ' certifications-list-item__row-comment--open'}}"
      >
        <div class="certifications-list-item__row-comment-cell">
          {{@certification.commentForCandidate}}
        </div>
      </div>
    {{/if}}
  {{/if}}

</div>