<h2 class="certification-information__title">{{this.information.title}}</h2>

<p>{{this.information.text}}</p>

<footer class="certification-information__footer">
  <div class="certification-information-footer__dots">
    {{#each this.paging as |page-class|}}
      <img
        class="certification-information-footer-dots__dot {{page-class}}"
        src="/images/illustrations/certification-information-screens/ellipse.svg"
        alt=""
      />
    {{/each}}
  </div>
  <div class="certification-information-footer__buttons">
    {{#if this.showPreviousButton}}
      <PixButton @size="large" @variant="secondary" @triggerAction={{this.previousStep}}>{{t
          "pages.certification-information.buttons.previous"
        }}</PixButton>
    {{/if}}
    <PixButton @size="large" @triggerAction={{this.nextStep}} @isDisabled={{this.isNextButtonDisabled}}>{{t
        "pages.certification-information.buttons.continuous"
      }}</PixButton>
  </div>
</footer>