<section class="certification-starter">
  <h2 class="certification-start-page__title">{{t "pages.certification-start.first-title"}}</h2>

  {{#if @certificationCandidateSubscription.hasSubscription}}
    <div class="certification-starter-subscriptions">
      <div class="certification-starter-subscriptions-container">
        <p class="certification-starter-subscriptions-container-title">
          {{t "pages.certification-start.subscription"}}
        </p>
        <div class="certification-starter-subscriptions-container-items">
          {{#if @certificationCandidateSubscription.eligibleSubscription}}
            <span class="certification-starter-subscriptions-container-items__eligible-item">
              <FaIcon @icon="circle-check" class="certification-starter-subscriptions-container-items__eligible-icon" />
              {{@certificationCandidateSubscription.eligibleSubscription.label}}
            </span>
          {{else}}
            <span class="certification-starter-subscriptions-container-items__non-eligible-item">
              <FaIcon
                @icon="circle-check"
                class="certification-starter-subscriptions-container-items__non-eligible-icon"
              />
              {{@certificationCandidateSubscription.nonEligibleSubscription.label}}
            </span>
          {{/if}}
        </div>
      </div>
      {{#if @certificationCandidateSubscription.nonEligibleSubscription}}
        <div class="certification-starter-subscriptions-container__non-eligible">
          <FaIcon @icon="circle-exclamation" class="certification-starter-subscriptions-container__info-icon" />
          <span>
            {{t
              "pages.certification-start.non-eligible-subscription"
              nonEligibleSubscriptionLabel=@certificationCandidateSubscription.nonEligibleSubscription.label
            }}
          </span>
        </div>
      {{/if}}
    </div>
  {{/if}}
  <label for="certificationStarterSessionCode" class="certification-start-page__order">
    {{t "pages.certification-start.access-code"}}
  </label>
  <form autocomplete="off">
    <div class="certification-start-page__session-code-input">
      <Input
        required={{true}}
        id="certificationStarterSessionCode"
        @type="text"
        @value={{this.inputAccessCode}}
        maxlength="6"
        spellcheck={{false}}
      />
      {{#if this.errorMessage}}
        <div class="certification-start-page__information">
          <p class="certification-start-page__information--error">{{this.errorMessage}}</p>
          {{#if this.technicalErrorInfo}}
            <details>
              <summary>{{t "pages.certification-start.error-messages.unknown.summary-label"}}</summary>
              <p>{{this.technicalErrorInfo}}</p>
            </details>
          {{/if}}
        </div>
      {{/if}}
    </div>

    <div class="certification-start-page__field-button">

      <PixButton @type="submit" @triggerAction={{this.submit}}>
        {{t "pages.certification-start.actions.submit"}}
      </PixButton>
    </div>
  </form>

  <div class="certification-start-page__cgu">
    <p>
      {{t "pages.certification-start.cgu.info"}}
    </p>
    <p>
      {{t "pages.certification-start.cgu.contact.info"}}
      <a href="mailto:{{t 'pages.certification-start.cgu.contact.email'}}">{{t
          "pages.certification-start.cgu.contact.email"
        }}</a>.
    </p>
  </div>
</section>