{{! template-lint-disable require-input-label no-bare-strings }}
<section class="certification-joiner">
  <h1 class="certification-joiner__title">{{t "pages.certification-joiner.first-title"}}</h1>
  <form autocomplete="off" {{on "submit" this.attemptNext}}>
    <div class="certification-joiner__row">
      <PixInput
        @id="certificationJoinerSessionId"
        class={{if this.sessionIdIsNotANumberError "certification-joiner__input--invalid"}}
        pattern={{this.SESSION_ID_VALIDATION_PATTERN}}
        title={{t "pages.certification-joiner.form.fields-validation.session-number-error"}}
        type="text"
        size="6"
        {{on "input" this.checkSessionIdIsValid}}
        {{on "change" this.setSessionId}}
        inputmode="decimal"
        required="true"
        @label={{t "pages.certification-joiner.form.fields.session-number"}}
        @information={{t "pages.certification-joiner.form.fields.session-number-information"}}
      />
      <p class="certification-joiner__validation-error">{{this.sessionIdIsNotANumberError}}</p>
    </div>
    <div class="certification-joiner__row">
      <PixInput
        @id="certificationJoinerFirstName"
        type="text"
        {{on "change" this.setFirstName}}
        @label={{t "pages.certification-joiner.form.fields.first-name"}}
      />
    </div>
    <div class="certification-joiner__row">
      <PixInput
        type="text"
        {{on "change" this.setLastName}}
        @id="certificationJoinerLastName"
        @label={{t "pages.certification-joiner.form.fields.birth-name"}}
      />
    </div>
    <div class="certification-joiner__row">
      <label class="certification-joiner__label" for="certificationJoinerDayOfBirth">{{t
          "pages.certification-joiner.form.fields.birth-date"
        }}</label>
      <div class="certification-joiner__birthdate" id="certificationJoinerBirthDate">
        <PixInput
          @id="certificationJoinerDayOfBirth"
          min="1"
          max="31"
          type="number"
          placeholder="JJ"
          {{on "change" this.setDayOfBirth}}
          {{on "input" this.handleDayInputChange}}
          {{on "focus-in" this.handleInputFocus}}
          aria-label={{t "pages.certification-joiner.form.fields.birth-day"}}
        />
        <PixInput
          @id="certificationJoinerMonthOfBirth"
          min="1"
          max="12"
          type="number"
          placeholder="MM"
          {{on "change" this.setMonthOfBirth}}
          {{on "input" this.handleMonthInputChange}}
          {{on "focus-in" this.handleInputFocus}}
          aria-label={{t "pages.certification-joiner.form.fields.birth-month"}}
        />
        <PixInput
          @id="certificationJoinerYearOfBirth"
          min="1900"
          max="2100"
          type="number"
          placeholder="AAAA"
          {{on "change" this.setYearOfBirth}}
          {{on "focus-in" this.handleInputFocus}}
          aria-label={{t "pages.certification-joiner.form.fields.birth-year"}}
        />
      </div>
    </div>

    {{#if this.errorMessage}}
      <div class="certification-course-page__errors">
        <PixMessage @type="error">
          {{this.errorMessage}}
          {{#if this.errorDetailList}}
            <ul class="certification-course-page__errors__list">
              {{#each this.errorDetailList as |errorDetailElement|}}
                <li>{{errorDetailElement}}</li>
              {{/each}}
            </ul>
          {{/if}}
          {{#if this.errorMessageLink}}
            <a
              rel="noopener noreferrer"
              target="_blank"
              href={{this.errorMessageLink.url}}
            >{{this.errorMessageLink.label}}
            </a>
            <FaIcon @icon="up-right-from-square" />
          {{/if}}
        </PixMessage>
      </div>
    {{/if}}
    <PixButton @id="certificationJoinerSubmitButton" @type="submit">{{t
        "pages.certification-joiner.form.actions.submit"
      }}
    </PixButton>
  </form>
</section>