{{! template-lint-disable style-concatenation no-inline-styles }}
<div class="challenge-embed-simulator">
  {{#if this.isLoadingEmbed}}
    <div class="embed placeholder blurred" aria-label="{{t 'pages.challenge.embed-simulator.placeholder'}}">
      <FaIcon @icon="image" />
    </div>
  {{/if}}

  <div class="embed rounded-panel {{if this.isLoadingEmbed 'hidden-visibility' ''}}">
    {{#unless this.isSimulatorLaunched}}
      <div class="embed__acknowledgment-overlay">
        <PixButton
          @triggerAction={{this.launchSimulator}}
          @variant="primary-bis"
          aria-label={{t "pages.challenge.embed-simulator.actions.launch-label"}}
        >
          {{t "pages.challenge.embed-simulator.actions.launch"}}
        </PixButton>
      </div>
    {{/unless}}

    <div class="embed__simulator {{unless this.isSimulatorLaunched 'blurred'}}">
      <iframe
        tabindex={{unless this.isSimulatorLaunched "-1"}}
        aria-hidden={{unless this.isSimulatorLaunched "true"}}
        class="embed__iframe"
        src="{{@embedDocument.url}}"
        title="{{@embedDocument.title}}"
        {{did-insert this.configureIframe @embedDocument.url this}}
        {{did-update this.configureIframe @embedDocument.url this}}
        frameBorder="0"
        style="{{this.embedDocumentHeightStyle}}"
      ></iframe>
    </div>

    {{#if this.isSimulatorRebootable}}
      <div class="embed__reboot">
        <button
          type="button"
          class="link link--grey embed-reboot__content"
          aria-label={{t "pages.challenge.embed-simulator.actions.reset-label"}}
          {{on "click" this.rebootSimulator}}
        >
          <FaIcon @icon="rotate-right" class="embed-reboot-content__icon" />
          {{t "pages.challenge.embed-simulator.actions.reset"}}
        </button>
      </div>
    {{/if}}
  </div>
</div>