<div class="rounded-panel__row challenge-actions">
  <h2 class="sr-only">{{t "pages.challenge.parts.validation"}}</h2>

  {{#if @answer}}
    <span class="challenge-actions__already-answered">
      {{#if (eq @answer.result "timedout")}}
        {{t "pages.challenge.timed.cannot-answer"}}
      {{else}}
        {{t "pages.challenge.already-answered"}}
      {{/if}}
    </span>
    <PixButton
      @triggerAction={{fn @resumeAssessment @assessment}}
      @backgroundColor="blue"
      @shape="rounded"
      class="challenge-actions__action-continue"
    >
      <span class="challenge-actions__action-continue-text">{{t "pages.challenge.actions.continue"}}</span>
    </PixButton>

  {{else if @hasChallengeTimedOut}}
    <div class="challenge-actions__alert-message" role="alert" aria-live="assertive">
      <FaIcon @icon="circle-info" class="challenge-actions-alert-message__icon" />
      {{t "pages.challenge.timed.cannot-answer"}}
    </div>
    <PixButton
      @triggerAction={{@validateAnswer}}
      @backgroundColor="blue"
      @shape="rounded"
      class="challenge-actions__action-continue"
    >
      <span class="challenge-actions__action-continue-text">{{t "pages.challenge.actions.continue"}}<span
          class="sr-only"
        > {{t "pages.challenge.actions.go-to-next"}}</span>
      </span>
    </PixButton>

  {{else}}
    {{#if @hasFocusedOutOfWindow}}
      <div
        class="challenge-actions__alert-message"
        data-test="alert-message-focused-out-of-window"
        role="alert"
        aria-live="assertive"
      >
        <FaIcon @icon="circle-info" class="challenge-actions-alert-message__icon" />
        {{#if @isCertification}}
          <span data-test="certification-focused-out-error-message">{{t
              "pages.challenge.has-focused-out-of-window.certification"
              htmlSafe=true
            }}</span>
        {{else}}
          <span data-test="default-focused-out-error-message">{{t
              "pages.challenge.has-focused-out-of-window.default"
              htmlSafe=true
            }}</span>
        {{/if}}
      </div>
    {{/if}}

    <div class="challenge-actions__group">
      <PixButton
        @isDisabled={{@isDisabled}}
        @triggerAction={{@validateAnswer}}
        @backgroundColor="green"
        @shape="rounded"
        @iconAfter="arrow-right"
        class="challenge-actions__action-validate"
      >
        <span class="challenge-actions__action-validate-text">
          {{t "pages.challenge.actions.validate"}}<span class="sr-only">
            {{t "pages.challenge.actions.go-to-next"}}</span>
        </span>
      </PixButton>

      <PixButton
        @isBorderVisible={{true}}
        @isDisabled={{@isDisabled}}
        @triggerAction={{@skipChallenge}}
        @backgroundColor="transparent-light"
        @shape="rounded"
        class="challenge-actions__action-skip"
      >
        <span class="challenge-actions__action-skip-text">
          {{t "pages.challenge.actions.skip"}}<span class="sr-only"> {{t "pages.challenge.actions.go-to-next"}}</span>
        </span>
      </PixButton>
    </div>
  {{/if}}
</div>