<form {{on "submit" this.validateAnswer}}>

  <fieldset class="rounded-panel__row challenge-response {{if @answer 'challenge-response--locked'}}">
    <h2 class="sr-only">{{t "pages.challenge.parts.answer-input"}}</h2>
    <legend class="challenge-response__instructions">{{t "pages.challenge.parts.answer-instructions.qcm"}}</legend>
    <div class="challenge-proposals">
      <Proposals::QcmProposals
        @answer={{@answer}}
        @answerValue={{@answer.value}}
        @proposals={{@challenge.proposals}}
        @answerChanged={{this.answerChanged}}
        @shuffleSeed={{@assessment.id}}
        @isAnswerFieldDisabled={{this.isAnswerFieldDisabled}}
        @shuffled="{{@challenge.shuffled}}"
      />
    </div>

    {{#if @answer}}
      <div class="challenge-response__locked-overlay">
        <FaIcon @icon="lock" class="challenge-response-locked__icon" />
      </div>
    {{/if}}

    {{#if this.displayTimer}}
      <div class="timeout-gauge-wrapper">
        <TimeoutGauge
          @allottedTime={{@challenge.timer}}
          @hasTimeoutChallenge={{@assessment.hasTimeoutChallenge}}
          @setChallengeAsTimedOut={{this.setChallengeAsTimedOut}}
        />
      </div>
    {{/if}}
  </fieldset>

  {{#if this.errorMessage}}
    <PixMessage role="alert" class="challenge-response__alert" @type="error" @withIcon={{true}}>
      {{this.errorMessage}}
    </PixMessage>
  {{/if}}

  {{#if @assessment}}
    <ChallengeActions
      @challenge={{@challenge}}
      @answer={{@answer}}
      @isCertification={{@assessment.isCertification}}
      @resumeAssessment={{this.resumeAssessment}}
      @validateAnswer={{this.validateAnswer}}
      @skipChallenge={{this.skipChallenge}}
      @hasChallengeTimedOut={{this.hasChallengeTimedOut}}
      @hasFocusedOutOfWindow={{@hasFocusedOutOfWindow}}
      @isDisabled={{this.isAnswerFieldDisabled}}
      @hasOngoingLiveAlert={{@assessment.hasOngoingLiveAlert}}
      @certificationVersion={{@assessment.certificationCourse.version}}
    />
  {{/if}}
</form>