<article class="competence-card {{if @interactive 'competence-card--interactive'}}" role="article">
  <LinkTo @route="authenticated.competences.details" @model={{@scorecard.competenceId}} class="competence-card__link">
    <span class="competence-card__wrapper competence-card__wrapper--{{@scorecard.area.color}}"></span>
    <div class="competence-card__title">
      <span class="competence-card__area-name">{{@scorecard.area.title}}</span>
      <span class="competence-card__competence-name">{{@scorecard.name}}</span>
    </div>
    <div class="competence-card__body" role="img" aria-label="{{scorecard-aria-label @scorecard}}">
      {{#if @scorecard.isFinishedWithMaxLevel}}
        <div class="competence-card__congrats competence-card__congrats--small">
          <span
            class="score-value competence-card__score-value competence-card__score-value--congrats"
          >{{this.displayedLevel}}</span>
        </div>
      {{else}}
        <div class="competence-card__body--white-background">
          <CircleChart
            @value={{@scorecard.capedPercentageAheadOfNextLevel}}
            @sliceColor={{@scorecard.area.color}}
            @chartClass="circle-chart__content--small"
            @thicknessClass="circle--thick"
            role="presentation"
          >
            <div class="competence-card__level">
              <span class="score-value competence-card__score-value">{{replace-zero-by-dash this.displayedLevel}}</span>
            </div>
          </CircleChart>
        </div>
      {{/if}}
    </div>
  </LinkTo>
</article>