<div class="congratulations-banner">
  <button aria-label={{t "common.actions.close"}} class="icon-button congratulations-banner__icon" {{on "click" @closeBanner}} type="button">
    <FaIcon @icon="xmark" />
  </button>
  <p class="congratulations-banner__message">
    {{t "pages.certification-joiner.congratulation-banner.message" fullName=@fullName htmlSafe=true}}
  </p>
  {{#if (gt this.numberOfEligibleComplementaryCertifications 0)}}
    <div class="congratulations-banner__complementary-certifications">
      <div class="congratulations-banner-complementary-certifications__icons">
        {{#each @certificationEligibility.complementaryCertifications as |complementaryCertification|}}
          <img src={{complementaryCertification.imageUrl}} alt={{complementaryCertification.label}} />
        {{/each}}
      </div>
      <div class="congratulations-banner-complementary-certifications__list">
        <p class="congratulations-banner-complementary-certifications-list__message">
          {{t "pages.certification-joiner.congratulation-banner.complementary-certification.eligible" count=this.numberOfEligibleComplementaryCertifications}}
        </p>
        <ul class="congratulations-banner-complementary-certifications-list__labels">
          {{#each @certificationEligibility.complementaryCertifications as |complementaryCertification|}}
            <li>{{complementaryCertification.label}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
  <div class="congratulations-banner__links">
    <a href={{t "pages.certification-joiner.congratulation-banner.link.url"}} class="congratulations-banner-links__link" target="_blank" rel="noopener noreferrer">
      {{t "pages.certification-joiner.congratulation-banner.link.text"}}
      <FaIcon @icon="up-right-from-square" class="congratulations-banner-links__link--icon" />
    </a>
    <LinkTo @route="authenticated.user-certifications" class="congratulations-banner-links__link">{{t "pages.certification-start.link-to-user-certification"}}
      <FaIcon @icon="eye" class="congratulations-banner-links__link--icon" />
    </LinkTo>
  </div>
</div>
{{#if (gt this.numberOfOutdatedComplementaryCertifications 0)}}
  <div class="oudated-certification-banners">
    {{#each @certificationEligibility.complementaryCertifications as |complementaryCertification|}}
      <div class="oudated-certification-banners__row">
        <img
          class="oudated-certification-banners__icon"
          src={{complementaryCertification.imageUrl}}
          alt={{complementaryCertification.label}}
        />
        <p class="oudated-certification-banners__message">
          {{t
            "pages.certification-joiner.congratulation-banner.complementary-certification.outdated"
            complementaryCertificationName=complementaryCertification.label
            htmlSafe=true
          }}
        </p>
      </div>
    {{/each}}
  </div>
{{/if}}