{{! template-lint-disable require-input-label no-unknown-arguments-for-builtin-components }}
<div class="feedback-panel">
  <h2 class="screen-reader-only">{{t "pages.challenge.parts.feedback"}}</h2>
  <div class="feedback-panel__view feedback-panel__view--link">
    <button
      class="feedback-panel__open-button"
      {{on "click" this.toggleFeedbackForm}}
      disabled={{this.isToggleFeedbackFormDisabled}}
      aria-expanded={{this.isAriaExpanded}}
      aria-controls={{this.feedbackPanelId}}
      type="button"
    >
      <FaIcon @icon="circle-question" />
      {{t "pages.challenge.feedback-panel.actions.open-close"}}
    </button>
  </div>

  {{#if this.isExpanded}}
    {{#if this.isFormSubmitted}}
      <div class="feedback-panel__view feedback-panel__view--mercix" id="feedback-panel-submitted" role="status">
        {{t "pages.challenge.feedback-panel.form.status.success" htmlSafe=true}}
      </div>
    {{else}}
      <div class="feedback-panel__view feedback-panel__view--form" id="feedback-panel">
        <div class="feedback-panel__form-description">
        </div>
        {{#if @assessment.isCertification}}
          <FeedbackCertificationSection />
        {{else}}
          <p>{{t "pages.challenge.feedback-panel.description"}}</p>
          <div class="feedback-panel__form-wrapper">
            <form class="feedback-panel__form" {{on "submit" this.sendFeedback}}>
              <div class="feedback-panel__group">
                <div class="feedback-panel__category-selection">
                  <select
                    class="feedback-panel__dropdown"
                    {{on "change" this.displayCategoryOptions}}
                    aria-label={{t "pages.challenge.feedback-panel.form.fields.detail-selection.aria-first"}}
                  >
                    <option value="" disabled selected>{{t
                        "pages.challenge.feedback-panel.form.fields.category-selection.label"
                      }}</option>
                    {{#each this.categories as |category|}}
                      <option value={{category.value}}>{{t category.name}}</option>
                    {{/each}}
                  </select>
                  {{#if this.displayQuestionDropdown}}
                    <select
                      class="feedback-panel__dropdown"
                      {{on "change" this.showFeedback}}
                      aria-label={{t "pages.challenge.feedback-panel.form.fields.detail-selection.aria-secondary"}}
                    >
                      <option value="default" selected>{{t
                          "pages.challenge.feedback-panel.form.fields.detail-selection.label"
                        }}</option>
                      {{#each this.nextCategory as |question index|}}
                        <option value={{index}}>{{t question.name}}</option>
                      {{/each}}
                    </select>
                  {{/if}}
                  {{#if this.quickHelpInstructions}}
                    <div class="feedback-panel__quick-help">
                      <FaIcon @icon="circle-exclamation" class="tuto-icon__warning" />
                      <p>{{t this.quickHelpInstructions htmlSafe=true}}</p>
                    </div>
                  {{/if}}
                </div>
              </div>
              {{#if this.displayTextBox}}
                <div class="feedback-panel__group">
                  <p class="feedback-panel__field-notice">
                    {{t "pages.challenge.feedback-panel.form.status.error.max-characters"}}
                  </p>
                  <Textarea
                    class="feedback-panel__field feedback-panel__field--content"
                    @value={{this.content}}
                    placeholder={{t "pages.challenge.feedback-panel.form.fields.detail-selection.label"}}
                    maxlength="10000"
                    rows="5"
                    aria-label={{t
                      "pages.challenge.feedback-panel.form.fields.detail-selection.problem-suggestion-description"
                    }}
                  />
                </div>
                {{#if this.emptyTextBoxMessageError}}
                  <PixMessage class="feedback-panel__alert" @type="error" @withIcon={{true}}>
                    {{this.emptyTextBoxMessageError}}
                  </PixMessage>
                {{/if}}
                <PixButton @type="submit" @backgroundColor="grey" @isDisabled={{this.isSendButtonDisabled}}>
                  {{t "pages.challenge.feedback-panel.form.actions.submit"}}
                </PixButton>
              {{/if}}
            </form>
          </div>

          <div class="feedback-panel__form-legal-notice">
            {{t "pages.challenge.feedback-panel.information.guidance" htmlSafe=true}}
            {{t "pages.challenge.feedback-panel.information.data-usage" htmlSafe=true}}
          </div>
        {{/if}}

      </div>
    {{/if}}
  {{/if}}
</div>