{{! template-lint-disable require-input-label no-unknown-arguments-for-builtin-components }}
<div class="feedback-panel">
  <h2 class="screen-reader-only">{{t "pages.challenge.parts.feedback"}}</h2>
  <div class="feedback-panel__view feedback-panel__view--link">
    <button
      class="feedback-panel__open-button"
      {{on "click" this.toggleFeedbackForm}}
      disabled={{this.isToggleFeedbackFormDisabled}}
      aria-expanded={{this.isAriaExpanded}}
      aria-controls={{this.feedbackPanelId}}
      type="button"
    >
      <FaIcon @icon="flag" />
      {{t "pages.challenge.feedback-panel.actions.open-close"}}
    </button>
  </div>

  {{#if this.isExpanded}}
    {{#if this.isFormSubmitted}}
      <div class="feedback-panel__view feedback-panel__view--mercix" id="feedback-panel-submitted" role="status">
        {{t "pages.challenge.feedback-panel.form.status.success" htmlSafe=true}}
      </div>
    {{else}}
      <div class="feedback-panel__view feedback-panel__view--form" id="feedback-panel">
        <div class="feedback-panel__form-description">
        </div>
        {{#if @assessment.isCertification}}
          <FeedbackCertificationSection />
        {{else}}
          <p>{{t "pages.challenge.feedback-panel.description"}}</p>
          <div class="feedback-panel__form-wrapper">
            <form id="feedback-form" class="feedback-panel__form" {{on "submit" this.sendFeedback}} novalidate>
              <div class="feedback-panel__group">
                <div class="feedback-panel__category-selection">
                  <PixSelect
                    @screenReaderOnly={{true}}
                    @placeholder={{t "pages.challenge.feedback-panel.form.fields.category-selection.label"}}
                    @options={{this.categories}}
                    @onChange={{this.displayCategoryOptions}}
                    @value={{this._currentMajorCategory}}
                  >
                    <:label>{{t "pages.challenge.feedback-panel.form.fields.detail-selection.aria-first"}}</:label>
                  </PixSelect>
                  {{#if this.displayQuestionDropdown}}
                    <PixSelect
                      @screenReaderOnly={{true}}
                      @placeholder={{t "pages.challenge.feedback-panel.form.fields.detail-selection.label"}}
                      @onChange={{this.showFeedback}}
                      @options={{this.nextCategories}}
                      @value={{this._currentNextCategory}}
                    >
                      <:label>{{t
                          "pages.challenge.feedback-panel.form.fields.detail-selection.aria-secondary"
                        }}</:label>
                    </PixSelect>
                  {{/if}}
                  {{#if this.quickHelpInstructions}}
                    <div class="feedback-panel__quick-help">
                      <FaIcon @icon="circle-exclamation" class="tuto-icon__warning" />
                      <p>{{t this.quickHelpInstructions htmlSafe=true}}</p>
                    </div>
                  {{/if}}
                </div>
              </div>
              {{#if this.displayTextBox}}
                {{#if this.displayAddCommentButton}}
                  <button type="button" class="feedback-panel__comment" onClick={{this.addComment}}>
                    <FaIcon @icon="pen" class="feedback-panel-comment__icon" />
                    {{t "pages.challenge.feedback-panel.form.fields.detail-selection.add-comment"}}
                  </button>
                {{else}}
                  <div>
                    <p class="feedback-panel__field-notice">
                      {{t "pages.challenge.feedback-panel.form.status.error.max-characters"}}
                    </p>
                    <label class="screen-reader-only" for="feedback-panel__field">{{t
                        "pages.challenge.feedback-panel.form.fields.detail-selection.problem-suggestion-description"
                      }}</label>
                    <PixTextarea
                      class="feedback-panel__field--content"
                      @value={{this.content}}
                      @id="feedback-panel__field"
                      @maxlength="10000"
                      rows="5"
                      placeholder={{t
                        "pages.challenge.feedback-panel.form.fields.detail-selection.problem-suggestion-description"
                      }}
                      {{on "change" this.setContent}}
                    />
                  </div>
                {{/if}}
                <PixButton
                  @triggerAction={{this.toggleModalVisibility}}
                  @isDisabled={{this.isSendButtonDisabled}}
                  aria-label={{t "pages.challenge.feedback-panel.form.actions.submit-aria-label"}}
                >
                  {{t "pages.challenge.feedback-panel.form.actions.submit"}}
                </PixButton>
              {{/if}}
            </form>
          </div>

          <div class="feedback-panel__form-legal-notice">
            {{t "pages.challenge.feedback-panel.information.guidance" htmlSafe=true}}
            {{t "pages.challenge.feedback-panel.information.data-usage" htmlSafe=true}}
          </div>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
</div>

<PixModal
  class="feedback-panel__submit-modal"
  @title={{t "pages.challenge.feedback-panel.modal.title"}}
  @showModal={{this.isModalVisible}}
  @onCloseButtonClick={{this.toggleModalVisibility}}
>
  <:content>
    {{t "pages.challenge.feedback-panel.modal.content" htmlSafe=true}}
  </:content>
  <:footer>
    <PixButton @triggerAction={{this.toggleModalVisibility}} @variant="secondary">
      {{t "common.actions.cancel"}}
    </PixButton>
    <PixButton @type="submit" form="feedback-form">{{t "common.actions.validate"}}</PixButton>
  </:footer>
</PixModal>