<div class="navbar-desktop-header">
  <div class="navbar-desktop-header__container">
    <div class="navbar-desktop-header-logo">
      {{#if @shouldShowTheMarianneLogo}}
        <div class="navbar-desktop-header-logo__marianne">
          <img src="/images/logo/logo-de-la-republique-francaise.svg" alt="{{t 'common.french-republic'}}" />
        </div>
      {{/if}}
      <PixLogo />
    </div>

    {{#if this.showHeaderMenuItem}}
      <nav class="navbar-desktop-header-container__menu" role="navigation" aria-label={{t "navigation.main.label"}}>
        <ul class="navbar-desktop-header-menu__list">
          <li class="navbar-desktop-header-menu__item">
            <LinkTo @route="authenticated.user-dashboard" class="navbar-desktop-header-menu__link">
              {{t "navigation.main.dashboard"}}
            </LinkTo>
          </li>
          <li class="navbar-desktop-header-menu__item">
            <LinkTo @route="authenticated.profile" class="navbar-desktop-header-menu__link">
              {{t "navigation.main.skills"}}
            </LinkTo>
          </li>
          <li class="navbar-desktop-header-menu__item">
            <LinkTo @route="authenticated.certifications" class="navbar-desktop-header-menu__link">
              {{t "navigation.main.start-certification"}}
            </LinkTo>
          </li>
          <li class="navbar-desktop-header-menu__item">
            <LinkTo @route="authenticated.user-tutorials" class="navbar-desktop-header-menu__link">
              {{t "navigation.main.tutorials"}}
            </LinkTo>
          </li>
          {{#if this.showMyTrainingsLink}}
            <li class="navbar-desktop-header-menu__item">
              <LinkTo @route="authenticated.user-trainings" class="navbar-desktop-header-menu__link">
                {{t "navigation.main.trainings"}}
              </LinkTo>
            </li>
          {{/if}}
        </ul>
        <ul class="navbar-desktop-header-right">
          <li>
            <PixButtonLink @route="fill-in-campaign-code">
              {{t "navigation.main.code"}}
            </PixButtonLink>
          </li>
          <li>
            <UserLoggedMenu />
          </li>
        </ul>
      </nav>

    {{else}}
      <div class="navbar-desktop-header-right">
        <NavbarDesktopMenu @menu={{this.menu}} />
      </div>
    {{/if}}
  </div>
</div>