<Skiplink @href="#main" @label={{t "common.skip-links.skip-to-content"}} />
<Skiplink @href="#footer" @label={{t "common.skip-links.skip-to-footer"}} />

<div class="navbar-header">
  {{#if (media "isDesktop")}}
    <NavbarDesktopHeader @shouldShowTheMarianneLogo={{this.isFrenchDomainExtension}} />
  {{else}}
    <NavbarMobileHeader @shouldShowTheMarianneLogo={{this.isFrenchDomainExtension}} />
  {{/if}}
</div>

<form style="margin-left: 200px">
  <div>
    {{! template-lint-disable no-invalid-interactive }}
    <pix-fruits-qcm id="mon-qcm" {{on "PixFruitsQcmChanges" this.triggerAction}}></pix-fruits-qcm>

  </div>
</form>