<div class="navbar-mobile-header">
  <div class="navbar-mobile-header__container">
    {{#if this.isUserLogged}}
      <nav role="navigation" aria-label={{t "navigation.main.label"}}>
        <button
          class="navbar-mobile-header__burger-icon"
          {{on "click" this.openMenu}}
          type="button"
          aria-labelledby="nav-mobile-button"
          aria-expanded="{{this.isMenuOpen}}"
          aria-controls="principale-menu"
        >
          <span id="nav-mobile-button" class="sr-only">{{t "navigation.mobile-button-title"}}</span>
          <FaIcon @icon="bars" />
        </button>

        <NavbarBurgerMenu @showSidebar={{this.isMenuOpen}} @onClose={{this.closeMenu}} />
      </nav>
    {{/if}}

    <div class="navbar-mobile-header__logo">
      <div class="navbar-mobile-header-logo__pix">
        <PixLogo />
      </div>
      {{#if @shouldShowTheMarianneLogo}}
        <div class="navbar-mobile-header-logo__marianne">
          <img src="{{rootURL}}/images/logo/logo-de-la-republique-francaise.svg" alt={{t "common.french-republic"}} />
        </div>
      {{/if}}
    </div>
  </div>
</div>