<Skiplink @href="#main" @label={{t "common.skip-links.skip-to-content"}} />
<Skiplink @href="#footer" @label={{t "common.skip-links.skip-to-footer"}} />

<div class="navbar-header">
  {{#if (media "isDesktop")}}
    <NavbarDesktopHeader @shouldShowTheMarianneLogo={{this.isFrenchDomainExtension}} />
  {{else}}
    <NavbarMobileHeader @shouldShowTheMarianneLogo={{this.isFrenchDomainExtension}} />
  {{/if}}
</div>

<form style="margin-left: 200px" {{on "answer" this.handleAnswer}}>
  <div>
    {{html-unsafe this.fragment}}
  </div>
</form>