<main class="password-reset-demand-form__container" role="main">

  <a href={{this.showcase.url}} class="pix-logo__link">
    <img class="pix-logo__image" src="/images/pix-logo.svg" alt="{{this.showcase.linkText}}" />
  </a>

  <div class="password-reset-demand-form__header">
    {{#if this.hasSucceeded}}
      <h1 class="password-reset-demand-form__title">
        {{t "pages.password-reset-demand.succeed.subtitle"}}
      </h1>
    {{else}}
      <h1 class="password-reset-demand-form__title--forgotten-password">{{t "pages.password-reset-demand.title"}}</h1>
      <p class="password-reset-demand-form__subtitle">
        {{t "pages.password-reset-demand.subtitle"}}
      </p>
    {{/if}}
  </div>

  {{#if this.hasFailed}}
    <div
      class="password-reset-demand-form__notification-message--error"
      aria-live="polite"
      id="password-reset-demand-failed-message"
    >
      {{t "pages.password-reset-demand.error.message"}}
    </div>
  {{/if}}

  {{#if this.hasErrors}}
    <p class="password-reset-demand-form__notification-message--error" id="password-reset-demand-error-message">
      {{this.error}}
    </p>
  {{/if}}

  {{#if this.hasSucceeded}}
    <div class="password-reset-demand-form__body password-reset-demand-form__body--succeeded" aria-live="polite">
      <p class="password-reset-demand-body__text">
        {{t "pages.password-reset-demand.succeed.instructions" email=this.email}}
      </p>
      <p class="password-reset-demand-body__text">
        {{t "pages.password-reset-demand.succeed.help"}}
      </p>
    </div>

    <div class="password-reset-demand-form__home-link">
      <a href={{this.showcase.url}} class="link">{{this.showcase.linkText}}</a>
    </div>
  {{else}}
    <form {{on "submit" this.savePasswordResetDemand}} class="password-reset-demand-form__body">

      <div class="password-reset-demand-form__input">
        <FormTextfield
          @label="{{t 'pages.password-reset-demand.fields.email.label'}}"
          @textfieldName="email"
          @validationStatus="default"
          @inputBindingValue={{this.email}}
          @require={{true}}
          @aria-describedby="password-reset-demand-error-message password-reset-demand-failed-message"
        />
      </div>

      <ul class="password-reset-demand-form__actions-list">
        <li>
          <PixButton @type="submit" @shape="rounded" @isDisabled={{this.isButtonDisabled}}>
            {{t "pages.password-reset-demand.actions.reset"}}
          </PixButton>
        </li>
        <li>
          <LinkTo @route="authentication.login" class="link link--grey password-reset-demand-form__cancel-link">
            {{t "pages.password-reset-demand.actions.back-sign-in"}}
          </LinkTo>
        </li>
      </ul>

    </form>
  {{/if}}

</main>