<main id="main" class="background-banner-wrapper" role="main">
  <div class="background-banner"></div>

  <div class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner profile__panel">
    <h1 class="sr-only">{{t "pages.profile.accessibility.title"}}</h1>

    <div class="rounded-panel-header-with-components">
      <div class="rounded-panel-header__left-wrapper">
        <div
          class="rounded-panel-header-text__content rounded-panel-title rounded-panel-header-text__content--first-title"
        >
          {{t "pages.profile.first-title" htmlSafe=true}}
        </div>
      </div>
      <div class="rounded-panel-header__right-wrapper">
        <h2 class="sr-only">{{t "pages.profile.accessibility.user-score"}}</h2>
        <HexagonScore
          @pixScore={{@model.profile.pixScore}}
          @maxReachablePixScore={{this.model.profile.maxReachablePixScore}}
          @maxReachableLevel={{this.model.profile.maxReachableLevel}}
        />
      </div>
    </div>

    {{#if @model.profile.scorecards}}
      <ProfileScorecards
        @interactive={{true}}
        @areas={{@model.profile.areas}}
        @scorecards={{@model.profile.scorecards}}
      />
    {{else}}
      <p class="app-loader__image">
        <img src="/images/interwind.gif" alt="" role="presentation" />
        <br />{{t "common.loading.default"}}
      </p>
    {{/if}}
  </div>
</main>