{{#if this.showProgressBar}}
  <div class="progress-bar-container">
    <div
      class="progress-bar-stepnums"
      role="progressbar"
      aria-valuenow={{this.currentStepNumber}}
      aria-valuemin="1"
      aria-valuemax="5"
      aria-label="{{t 'pages.challenge.parts.progress'}}"
    >
      {{#each this.steps as |step|}}
        <div class="progress-bar-stepnum {{step.status}}">{{step.stepnum}}</div>
      {{/each}}
    </div>

    <div class="progress-bar-content">
      <div class="progress-bar-background"></div>

      <div class="progress-bar-progression" style={{this.progressionWidth}}></div>

      <div class="progress-bar-steps">
        {{#each this.steps as |step|}}
          <span class="progress-bar-step" style={{step.background}}></span>
        {{/each}}
      </div>
    </div>
  </div>
{{else}}
  <div
    class="assessment-progress {{if @shouldBlurProgressBar 'blur-progress-bar'}}"
    role="progressbar"
    aria-label="{{t 'pages.challenge.parts.progress'}}"
  >
    <div class="assessment-progress__label">{{t "pages.challenge.progress-bar.label"}}</div>
    <div class="assessment-progress__value">
      {{this.currentStepNumber}}
      /
      {{this.maxStepsNumber}}
    </div>
  </div>
{{/if}}