<div class="qrocm-solution-panel qrocm-solution-panel--dep rounded-panel">
  <div class="rounded-panel__row correction-qrocm__text">
    {{#each this.blocks as |block|}}
      {{#if block.text}}
        <MarkdownToHtml
          @markdown={{block.text}}
          @extensions="remove-paragraph-tags"
          class="correction-qrocm-text__label"
        />
      {{/if}}

      {{#if block.input}}
        {{#if (eq @challenge.format "paragraphe")}}
          <div class="correction-qrocm__answer {{block.inputClass}}">
            <PixTextarea
              class="correction-qrocm-answer__input-paragraph"
              rows="5"
              @value="{{block.answer}}"
              @id="{{block.input}}"
              aria-label={{block.ariaLabel}}
              disabled
            />
            {{#if block.solution}}
              <p class="correction-qrocm__solution">
                <span class="sr-only">{{t "pages.comparison-window.results.a11y.the-answer-was"}}</span>
                <span class="correction-qrocm__solution-text">{{block.solution}}</span>
              </p>
            {{/if}}
          </div>
        {{else if (eq @challenge.format "phrase")}}
          <div class="correction-qrocm__answer {{block.inputClass}}">
            <PixInput
              class="correction-qrocm-answer__input-sentence"
              @value="{{block.answer}}"
              @id="{{block.input}}"
              aria-label={{block.ariaLabel}}
              disabled
            />
            {{#if block.solution}}
              <p class="correction-qrocm__solution">
                <span class="sr-only">{{t "pages.comparison-window.results.a11y.the-answer-was"}}</span>
                <span class="correction-qrocm__solution-text">{{block.solution}}</span>
              </p>
            {{/if}}
          </div>
        {{else}}
          <div class="correction-qrocm__answer correction-qrocm__answer--input {{block.inputClass}}">
            <PixInput
              class="correction-qrocm-answer__input"
              @value="{{block.answer}}"
              size="{{block.answer.length}}"
              @id="{{block.input}}"
              aria-label={{block.ariaLabel}}
              disabled
            />
            {{#if block.solution}}
              <p class="correction-qrocm__solution">
                <span class="sr-only">{{t "pages.comparison-window.results.a11y.the-answer-was"}}</span>
                <span class="correction-qrocm__solution-text">{{block.solution}}</span>
              </p>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}

      {{#if block.breakline}}
        <br />
      {{/if}}
    {{/each}}
    {{#unless this.isCorrectAnswer}}
      {{#unless this.shouldDisplayAnswersUnderInputs}}
        <p class="comparison-window-solution">
          <span class="sr-only">{{t "pages.comparison-window.results.a11y.the-answer-was"}}</span>
          <span class="correction-qrocm__solution-text">{{this.formattedSolution}}</span>
        </p>
      {{/unless}}
    {{/unless}}
  </div>
</div>