<div class="qrocm-solution-panel rounded-panel">
  <div class="rounded-panel__row correction-qrocm__text">
    {{#each this.blocks as |block|}}
      {{#if block.text}}
        <MarkdownToHtml
          @markdown={{block.text}}
          @extensions="remove-paragraph-tags"
          class="correction-qrocm-text__label"
        />
      {{/if}}

      {{#if block.input}}
        {{#if (eq @challenge.format "paragraphe")}}
          <div class="correction-qrocm__answer {{block.inputClass}}">
            <PixTextarea
              class="correction-qrocm-answer__input-paragraph"
              rows="5"
              @value="{{block.answer}}"
              @id="{{block.input}}"
              disabled
            />
          </div>
        {{else if (eq @challenge.format "phrase")}}
          <div class="correction-qrocm__answer {{block.inputClass}}">
            <PixInput
              class="correction-qrocm-answer__input-sentence"
              @value="{{block.answer}}"
              @id="{{block.input}}"
              disabled
            />
          </div>
        {{else}}
          <div class="correction-qrocm__answer-wrapper correction-qrocm__answer {{block.inputClass}}">
            <PixInput
              class="correction-qrocm-answer__input"
              @value="{{block.answer}}"
              size="{{block.answer.length}}"
              @id="{{block.input}}"
              disabled
            />
          </div>
        {{/if}}
      {{/if}}

      {{#if block.breakline}}
        <br />
      {{/if}}
    {{/each}}
    {{#unless this.answerIsCorrect}}
      <div class="comparison-window-solution">
        <span class="sr-only">{{t "pages.comparison-window.results.a11y.the-answer-was"}}</span>
        <div class="correction-qrocm__solution-text">{{this.understandableSolution}}</div>
      </div>
    {{/unless}}
  </div>
</div>