<div class="reached-stage">
  <div class="reached-stage__score">
    <div class="reached-stage-score__stars">
      <PixStars
        @count={{this.acquired}}
        @total={{this.total}}
        @alt={{t "pages.skill-review.stage.starsAcquired" acquired=this.acquired total=this.total}}
        @color="yellow"
      />
    </div>
    <div class="reached-stage-score__percentage-text">
      {{t "pages.skill-review.stage.masteryPercentage" rate=@masteryRate}}
    </div>
  </div>
  {{#if @imageUrl}}
    <img class="reached-stage__image" src={{@imageUrl}} alt="" role="none" />
  {{/if}}
</div>