<h1>{{t 'pages.recovery-account-after-leaving-sco.student-information.title'}}</h1>

<p>
  {{t 'pages.recovery-account-after-leaving-sco.student-information.subtitle.text'}}
  <LinkTo @route="password-reset-demand" >
    {{t 'pages.recovery-account-after-leaving-sco.student-information.subtitle.link'}}
  </LinkTo>
</p>

<p>{{t 'common.form.mandatory-all-fields'}}</p>

<form>
  <FormTextfield @label={{t 'pages.recovery-account-after-leaving-sco.student-information.form.ine'}}
                 @textfieldName="INE"
                 @inputBindingValue={{this.INE}}
                 @onValidate={{this.triggerInputStringValidation}}
                 @validationStatus={{this.validation.INE.status}}
                 @validationMessage={{this.validation.INE.message}}
                 @disabled={{this.matchingStudentFound}}
                 @require={{true}}
                 @hideRequired="true"
                 @placeholder="123456789XX" />

  <FormTextfield @label={{t 'pages.recovery-account-after-leaving-sco.student-information.form.last-name'}}
                 @textfieldName="lastName"
                 @inputBindingValue={{this.lastName}}
                 @onValidate={{this.triggerInputStringValidation}}
                 @validationStatus={{this.validation.lastName.status}}
                 @validationMessage={{this.validation.lastName.message}}
                 @autocomplete="lastname"
                 @require={{true}}
                 @hideRequired="true"
                 @placeholder="Nom" />

  <FormTextfield @label={{t 'pages.recovery-account-after-leaving-sco.student-information.form.first-name'}}
                 @textfieldName="firstName"
                 @inputBindingValue={{this.firstName}}
                 @onValidate={{this.triggerInputStringValidation}}
                 @validationStatus={{this.validation.firstName.status}}
                 @validationMessage={{this.validation.firstName.message}}
                 @autocomplete="firstname"
                 @require={{true}}
                 @hideRequired="true"
                 @placeholder="Prénom" />

  <FormTextfieldDate @label={{t 'pages.recovery-account-after-leaving-sco.student-information.form.birthdate'}}
                     @dayTextfieldName="dayOfBirth"
                     @monthTextfieldName="monthOfBirth"
                     @yearTextfieldName="yearOfBirth"
                     @dayInputBindingValue={{this.dayOfBirth}}
                     @monthInputBindingValue={{this.monthOfBirth}}
                     @yearInputBindingValue={{this.yearOfBirth}}
                     @onValidateDay={{this.triggerInputDayValidation}}
                     @onValidateMonth={{this.triggerInputMonthValidation}}
                     @onValidateYear={{this.triggerInputYearValidation}}
                     @dayValidationStatus={{this.validation.dayOfBirth.status}}
                     @monthValidationStatus={{this.validation.monthOfBirth.status}}
                     @yearValidationStatus={{this.validation.yearOfBirth.status}}
                     @dayValidationMessage={{this.validation.dayOfBirth.message}}
                     @monthValidationMessage={{this.validation.monthOfBirth.message}}
                     @yearValidationMessage={{this.validation.yearOfBirth.message}}
                     @handleDayInputChange={{this.handleDayInputChange}}
                     @handleMonthInputChange={{this.handleMonthInputChange}}
                     @require={{true}}
                     @hideRequired="true" />

  <PixButton
    @type="submit"
    @triggerAction={{ this.submitStudentInformationForm}} >
    {{t 'pages.recovery-account-after-leaving-sco.student-information.form.submit'}}
  </PixButton>
</form>
