<h1>{{t 'pages.recover-account-after-leaving-sco.conflict.found-you-but' firstName=@firstName}}</h1>
<p>{{t 'pages.recover-account-after-leaving-sco.conflict.precaution'}}</p>
<p>
  <a href="{{t 'pages.recover-account-after-leaving-sco.conflict.support.url'}}"
    target="_blank"
    rel="noopener noreferrer">
      {{t 'pages.recover-account-after-leaving-sco.conflict.support.url-text'}}
  </a>
  {{t 'pages.recover-account-after-leaving-sco.conflict.support.recover'}}
</p>
