<div class="reset-password-form__container">

  <a href={{this.showcase.url}} class="pix-logo__link">
    <img class="pix-logo__image" src="/images/pix-logo.svg" alt="{{this.showcase.linkText}}" />
  </a>

  <div class="reset-password-form__header">
    <h1 class="reset-password-form-title">{{@user.fullName}}</h1>

    {{#unless this.hasSucceeded}}
      <p class="reset-password-form-subtitle">{{t "pages.reset-password.instruction"}}</p>
    {{/unless}}
  </div>

  {{#unless this.hasSucceeded}}
    <form {{on "submit" this.handleResetPassword}} class="reset-password-form__body">

      <div class="reset-password-form-body__input">
        <FormTextfield
          @label="{{t 'pages.reset-password.fields.password.label'}}"
          @textfieldName="password"
          @validationStatus={{this.validation.status}}
          @onValidate={{this.validatePassword}}
          @inputBindingValue={{@user.password}}
          @validationMessage={{this.validation.message}}
        />
      </div>
      <PixButton @type="submit" @shape="rounded" class="button--big">
        {{t "pages.reset-password.actions.submit"}}
      </PixButton>

    </form>
  {{/unless}}

  {{#if this.hasSucceeded}}
    <div class="reset-password-form__body">
      <p class="reset-password-form-text" aria-live="polite">
        {{t "pages.reset-password.succeed"}}
      </p>
      <LinkTo @route="authentication.login" class="button button--link button--thin button--round">
        {{t "pages.reset-password.actions.sign-in"}}
      </LinkTo>
    </div>
  {{/if}}
</div>