<main class="sign-form__container" role="main">

  <a href={{this.showcase.url}} class="pix-logo__link">
    <img class="pix-logo__image" src="/images/pix-logo.svg" alt="{{this.showcase.linkText}}" />
  </a>

  <div class="sign-form__header">
    <h1 class="sign-form-header__title">{{t "pages.sign-up.first-title"}}</h1>
    <div class="sign-form-header__subtitle">
      <span class="sign-form-header-subtitle">{{t "common.or"}}</span>
      <LinkTo @route="authentication.login" class="link">{{t "pages.sign-up.subtitle.link"}}</LinkTo>
    </div>
  </div>

  {{#if this.errorMessage}}
    <p class="sign-form__notification-message--error" aria-live="polite" role="alert" id="sign-up-error-message">
      {{this.errorMessage}}
    </p>
  {{/if}}

  <form {{on "submit" this.signup}} class="sign-form__body">
    <p class="sign-form-body__instruction">{{t "common.form.mandatory-all-fields" htmlSafe=true}}</p>

    <fieldset class="sign-form-body__inputs">
      <legend class="sr-only">{{t "pages.sign-up.fields.legend"}}</legend>
      <div class="sign-form-body__input">
        <PixInput
          @id="firstName"
          name="firstName"
          @label={{t "pages.sign-up.fields.firstname.label"}}
          {{on "change" this.validateFirstName}}
          @validationStatus={{this.validation.firstName.status}}
          @errorMessage={{this.validation.firstName.message}}
          required
          autocomplete="given-name"
        />
      </div>

      <div class="sign-form-body__input">
        <PixInput
          @id="lastName"
          name="lastName"
          @label={{t "pages.sign-up.fields.lastname.label"}}
          {{on "change" this.validateLastName}}
          @validationStatus={{this.validation.lastName.status}}
          @errorMessage={{this.validation.lastName.message}}
          required
          autocomplete="family-name"
        />
      </div>

      <div class="sign-form-body__input">
        <PixInput
          @id="email"
          name="email"
          @label="{{t 'pages.sign-up.fields.email.label'}}"
          @information="{{t 'pages.sign-up.fields.email.help'}}"
          {{on "change" this.validateEmail}}
          @validationStatus={{this.validation.email.status}}
          @errorMessage={{this.validation.email.message}}
          required
          autocomplete="email"
        />
      </div>

      <div class="sign-form-body__input">
        <PixInputPassword
          @id="password"
          name="password"
          @label="{{t 'pages.sign-up.fields.password.label'}}"
          @information="{{t 'pages.sign-up.fields.password.help'}}"
          @value={{this.password}}
          {{on "change" this.validatePassword}}
          @validationStatus={{this.validation.password.status}}
          @errorMessage={{this.validation.password.message}}
          required
          autocomplete="new-password"
        />
      </div>

      <div class="signup-form__cgu-container">
        <p class="signup-form__cgu-label">
          {{t "common.cgu.accept"}}
          <a href={{this.cguUrl}} class="link" target="_blank" rel="noopener noreferrer">
            {{t "common.cgu.cgu"}}
          </a>
          {{t "common.cgu.and"}}
          <a href={{this.dataProtectionPolicyUrl}} class="link" target="_blank" rel="noopener noreferrer">
            {{t "common.cgu.data-protection-policy"}}
          </a>
          {{t "common.cgu.pix"}}
        </p>
        <PixCheckbox
          @id="checkbox"
          @screenReaderOnly="true"
          {{on "change" this.onChange}}
          aria-describedby="sign-up-cgu-error-message"
        >
          {{t "common.cgu.label"}}
        </PixCheckbox>
      </div>
      <p class="sign-form__validation-error" aria-live="polite" role="alert" id="sign-up-cgu-error-message">
        {{#if @user.errors.cgu}}
          {{t "common.cgu.error"}}
        {{/if}}
      </p>

    </fieldset>

    <div class="sign-form-body__bottom-button">
      <PixButton @type="submit" @shape="rounded" @isLoading={{this.isLoading}}>
        {{t "pages.sign-up.actions.submit"}}
      </PixButton>
    </div>
  </form>
</main>