<div class="update-expired-password-form__container">

  <a href={{this.showcase.url}} class="pix-logo__link">
    <img class="pix-logo__image" src="/images/pix-logo.svg" alt="{{this.showcase.linkText}}" />
  </a>

  <div class="update-expired-password-form__header">
    <h1 class="update-expired-password-form-title">{{t "pages.update-expired-password.first-title"}}</h1>

    {{#unless this.authenticationHasFailed}}
      <p class="update-expired-password-form-subtitle" id="update-expired-password-authentication-failed-message">
        {{t "pages.update-expired-password.subtitle"}}
      </p>
    {{/unless}}
  </div>

  {{#if this.errorMessage}}
    <p
      class="update-expired-password-form__error-notification-message"
      aria-live="polite"
      role="alert"
      id="update-expired-password-error-message"
    >
      {{this.errorMessage}}
    </p>
  {{/if}}

  {{#unless this.authenticationHasFailed}}
    <form {{on "submit" this.handleUpdatePasswordAndAuthenticate}} class="update-expired-password-form__body">

      <div class="update-expired-password-form-body__input">
        <FormTextfield
          @label={{t "pages.update-expired-password.fields.label"}}
          @help={{t "pages.update-expired-password.fields.help"}}
          @textfieldName="password"
          @inputBindingValue={{this.newPassword}}
          @onValidate={{this.validatePassword}}
          @validationStatus={{this.validation.status}}
          @validationMessage={{this.validationMessage}}
          @require={{true}}
          @aria-describedby="update-expired-password-error-message update-expired-password-authentication-failed-message"
        />
      </div>

      {{#if this.isLoading}}
        <button type="button" disabled class="button button--thin button--round button--big">
          <span class="loader-in-button">&nbsp;</span>
        </button>
      {{else}}
        <PixButton @type="submit">
          {{t "pages.update-expired-password.button"}}
        </PixButton>
      {{/if}}
    </form>
  {{/unless}}

  {{#if this.authenticationHasFailed}}
    <div class="update-expired-password-form__body">
      <p class="update-expired-password-form-text" aria-live="polite">
        {{t "pages.update-expired-password.validation"}}
      </p>
      <LinkTo @route="authentication.login" class="button button--link button--thin button--round">
        {{t "pages.update-expired-password.go-to-login"}}
      </LinkTo>
    </div>
  {{/if}}
</div>