<PixBlock class="user-certifications-detail-competence user-certifications-detail-competence--{{@area.color}}">
  <table class="user-certifications-detail-competence__list user-certifications-detail-competence-list">
    <thead>
      <tr class="user-certifications-detail-competence-list__header">
        <th>{{@area.title}}</th>
        <th>{{t "common.level"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.sortedCompetences as |competence|}}
        <tr
          class="user-certifications-detail-competence-list__row user-certifications-detail-competence-list-row
            {{if (lt competence.level 0) 'user-certifications-detail-competence-list-row--disabled'}}"
        >
          <td class="user-certifications-detail-competence-list-row__name">
            {{competence.name}}
          </td>
          <td
            class="user-certifications-detail-competence-list-row__level
              {{if (lt competence.level 0) 'user-certifications-detail-competence-list-row__level--disabled'}}"
          >
            {{if (lt competence.level 1) "-" competence.level}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</PixBlock>