<div class="page__title session-details__header">
  <div class="session-details-header__title">
    {{#link-to "authenticated.sessions.list" class="icon-button session-details-content__return-button"}}
      {{fa-icon 'arrow-left'}}
    {{/link-to}}
    <h1 class="page-title">Session {{session.id}}</h1>
  </div>

  <div class="session-details-header__datetime">
    <div class="session-details-header-datetime__date">
      <h4 class="label-text session-details-content__label">Date</h4>
      <span class="content-text content-text--big session-details-content__text">
        {{moment-format session.date 'dddd DD MMM YYYY' allow-empty=true locale='fr'}}
      </span>
    </div>

    <div class="session-details-header-datetime__time">
      <h4 class="label-text session-details-content__label">Heure de début (heure locale)</h4>
      <span class="content-text content-text--big session-details-content__text">
        {{moment-format session.time 'HH:mm' 'HH:mm:ss' allow-empty=true}}
      </span>
    </div>
  </div>
</div>

<div class="panel session-details__controls">
  <nav class="navbar session-details-controls__navbar-tabs">
    {{#link-to 'authenticated.sessions.details.parameters' class="navbar-item"}}
        Détails
    {{/link-to}}
    {{#link-to 'authenticated.sessions.details.certification-candidates' class="navbar-item"}}
        Candidats {{certificationCandidatesCount}}
    {{/link-to}}
  </nav>

</div>

{{notification-container position="bottom-right"}}

{{outlet}}
