<div class="page__title session-details__header">
  <div class="session-details-header__title">
    {{#link-to "authenticated.sessions.list" class="icon-button session-details-content__return-button"}}
      {{fa-icon 'arrow-left'}}
    {{/link-to}}
    <h1 class="page-title">Session {{session.id}}</h1>
  </div>

  <div class="session-details-header__datetime">
    <div class="session-details-header-datetime__date">
      <h4 class="label-text session-details-content__label">Date</h4>
      <span class="content-text content-text--big session-details-content__text">
        {{moment-format session.date 'dddd DD MMM YYYY' allow-empty=true locale='fr'}}
      </span>
    </div>

    <div class="session-details-header-datetime__time">
      <h4 class="label-text session-details-content__label">Heure de début (heure locale)</h4>
      <span class="content-text content-text--big session-details-content__text">
        {{moment-format session.time 'HH:mm' 'HH:mm:ss' allow-empty=true}}
      </span>
    </div>
  </div>
</div>

<div class="panel session-details__controls">
  <nav class="navbar session-details-controls__navbar-tabs">
    <a class="navbar-item active">
      Détails
    </a>
  </nav>

  <div class="session-details-controls__actions">
    <a class="button button--link button--with-icon session-details-controls__download-button" href="{{session.urlToDownload}}" target="_blank" download>
      Télécharger le PV (.ods){{fa-icon 'file-download'}}
    </a>
    {{#file-upload name="file-upload"
                   for="upload-attendance-sheet"
                   accept=".ods"
                   multiple=false
                   onfileadd=(action uploadCertificationCandidates)}}
      <span class="button session-details-controls__import-button" role="button" tabindex=0>Importer des candidats (.ods)</span>
    {{/file-upload}}
  </div>
</div>

{{notification-container position="bottom-right"}}

{{outlet}}
