<div class="session-details-header__title">
  Session {{session.id}}
</div>

{{session.address}}
{{session.accessCode}}

<div class="session-details-content__date">
  {{session.date}}
</div>

{{session.description}}
{{session.examiner}}
{{session.room}}
{{session.time}}