<div class="session-list-page__header">
  <h1 class="page__title page-title">Sessions de certification</h1>
</div>

<div class="panel">
  <div class="session-list__header">
    {{#link-to 'authenticated.sessions.new' class="button button--link button--with-icon"}}
      Créer une session
      {{fa-icon 'plus'}}
    {{/link-to}}
  </div>

  {{#ember-table class="table" as |table|}}
    {{#table.head columns=columns as |head|}}
      {{#head.row as |row|}}
        {{#row.cell class=(if row.columnValue.isUpdate "row--center") as |value|}}

          {{value.name}}

        {{/row.cell}}
      {{/head.row}}
    {{/table.head}}

    {{#table.body rows=sortedSessions as |body|}}
      {{#body.row as |row|}}
        {{#row.cell class=(if row.columnValue.isUpdate "row--center") as |value column|}}

          {{#if column.isDate}}
            {{moment-format value 'DD/MM/YYYY' allow-empty=true}}
          {{else if column.isHour}}
            {{moment-format value 'HH:mm' 'HH:mm:ss' allow-empty=true}}
          {{else if column.isUpdate}}
            {{#link-to "authenticated.sessions.update" value class='icon-button session-list-content__update-button'}}
              {{fa-icon 'edit' prefix='far'}}
            {{/link-to}}
          {{else}}
            {{value}}
          {{/if}}

        {{/row.cell}}
      {{/body.row}}
    {{/table.body}}
  {{/ember-table}}
</div>
