{{page-title (t "pages.team-invite.title")}}

<div class="team-invite-page">
  <h1 class="page-title">
    {{t "pages.team-invite.title"}}
  </h1>

  <p>
    {{t "pages.team-invite.email-requirement"}}<br />
    {{t "pages.team-invite.several-email-requirement"}}
  </p>

  <p>
    {{t "pages.team-invite.invited-members"}}
  </p>

  <Team::InviteForm
    @email={{@model.email}}
    @isLoading={{this.isLoading}}
    @onSubmit={{this.createCertificationCenterInvitation}}
    @onCancel={{this.cancel}}
    @onUpdateEmail={{this.updateEmail}}
    class="team-invite-page__form"
  />
</div>