<article class="tutorial-card-v2">
  <div class="tutorial-card-v2__domain-border"></div>
  <div class="tutorial-card-v2__content">
    {{! template-lint-disable no-bare-strings }}
    <p class="tutorial-card-v2-content__skill">
      Mener une recherche et une veille d'information
    </p>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="{{@tutorial.link}}"
      class="tutorial-card-v2-content__link"
      title="{{@tutorial.title}}"
    >
      {{@tutorial.title}}
    </a>
    <p class="tutorial-card-v2-content__details">
      {{@tutorial.source}}
      •
      {{@tutorial.format}}
      •
      {{moment-duration @tutorial.duration}}
    </p>
    <div class="tutorial-card-v2-content__actions">
      <button
        class="tutorial-card-v2-content-actions__save"
        type="button"
        {{on "click" this.toggleSaveTutorial}}
        disabled={{this.isSaveButtonDisabled}}
      >
        <FaIcon @prefix={{if this.isSaved "fas" "far"}} @icon="bookmark" />
        {{this.buttonLabel}}
      </button>
      <button
        class="tutorial-card-v2-content-actions__evaluate"
        type="button"
        {{on "click" this.evaluateTutorial}}
        disabled={{this.isEvaluateButtonDisabled}}
      >
        <FaIcon @prefix="fas" @icon="thumbs-up" />
        {{t "pages.user-tutorials.list.tutorial.actions.evaluate.label"}}
      </button>
    </div>
  </div>
</article>