<article class="tutorial-card-v2">
  <div class="tutorial-card-v2__content">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="{{@tutorial.link}}"
      class="tutorial-card-v2-content__link"
      title="{{@tutorial.title}}"
    >
      {{@tutorial.title}}
    </a>
    <p class="tutorial-card-v2-content__details">
      {{@tutorial.source}}
      •
      {{@tutorial.format}}
      •
      {{moment-duration @tutorial.duration}}
    </p>
    <div class="tutorial-card-v2-content__actions">
      <button
        class="tutorial-card-v2-content-actions__evaluate"
        type="button"
        {{on "click" this.evaluateTutorial}}
        disabled={{this.isTutorialEvaluated}}
      >
        <FaIcon @prefix={{if this.isTutorialEvaluated "fas" "far"}} @icon="thumbs-up" />
      </button>
      <button
        class="tutorial-card-v2-content-actions__save"
        aria-label={{this.buttonLabel}}
        type="button"
        {{on "click" this.toggleSaveTutorial}}
      >
        <FaIcon @prefix={{if this.isTutorialSaved "fas" "far"}} @icon="bookmark" />
      </button>
    </div>
  </div>
</article>