<article class="tutorial-card-v2">
  <div class="tutorial-card-v2__content">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="{{@tutorial.link}}"
      class="tutorial-card-v2-content__link"
      title="{{@tutorial.title}}"
    >
      {{@tutorial.title}}
    </a>
    <p class="tutorial-card-v2-content__details">
      {{@tutorial.source}}
      •
      {{@tutorial.format}}
      •
      {{moment-duration @tutorial.duration}}
    </p>
    <div class="tutorial-card-v2-content__actions">
      <button
        class="pix-action-chip {{if this.isTutorialEvaluated "pix-action-chip--selected"}}"
        aria-label={{this.evaluateLabel}}
        type="button"
        {{on "click" this.evaluateTutorial}}
        disabled={{this.isTutorialEvaluated}}
        aria-disabled="{{this.isTutorialEvaluated}}"
      >
        <FaIcon class="pix-action-chip__icon" @prefix={{if this.isTutorialEvaluated "fas" "far"}} @icon="thumbs-up" />
      </button>
      <button
        class="pix-action-chip {{if this.isTutorialSaved "pix-action-chip--selected"}}"
        aria-label={{this.saveLabel}}
        type="button"
        {{on "click" this.toggleSaveTutorial}}
        disabled={{this.isSaveButtonDisabled}}
        aria-disabled="{{this.isSaveButtonDisabled}}"
      >
        <FaIcon class="pix-action-chip__icon" @prefix={{if this.isTutorialSaved "fas" "far"}} @icon="bookmark" />
      </button>
    </div>
  </div>
</article>