<header class="background-banner-v2">
  <div class="user-tutorials-banner-v2">
    <h1 class="user-tutorials-banner-v2__title">{{t "pages.user-tutorials-v2.title"}}</h1>
    <p class="user-tutorials-banner-v2__description">
      {{t "pages.user-tutorials-v2.description"}}
    </p>

    <div class="user-tutorials-banner-v2__filters">
      <PixButton @shape="rounded" class="user-tutorials-banner-v2-filters__button" @backgroundColor="transparent-light">
        {{t "pages.user-tutorials-v2.recommended"}}
      </PixButton>

      <PixButton @shape="rounded" class="user-tutorials-banner-v2-filters__button" @backgroundColor="grey">
        {{t "pages.user-tutorials-v2.saved"}}
      </PixButton>
    </div>
  </div>
</header>
<article class="user-tutorials-content-v2">
  <div class="user-tutorials-content-v2__container">
    {{#each @userTutorials as |userTutorial|}}
      <TutorialItem @tutorial={{userTutorial.tutorial}} />
    {{/each}}
  </div>
</article>