<div class="background-banner-v2">
  <div class="user-tutorials-banner-v2">
    <h1 class="user-tutorials-banner-v2__title">{{t "pages.user-tutorials.title"}}</h1>
    <p class="user-tutorials-banner-v2__description">
      {{t "pages.user-tutorials.description"}}
    </p>

    <ul class="user-tutorials-banner-v2__filters">
      <li class="user-tutorials-banner-v2-filters__filter">
        <ChoiceChip @route="authenticated.user-tutorials.recommended">
          {{t "pages.user-tutorials.recommended"}}
        </ChoiceChip>
      </li>
      <li class="user-tutorials-banner-v2-filters__filter">
        <ChoiceChip @route="authenticated.user-tutorials.saved">
          {{t "pages.user-tutorials.saved"}}
        </ChoiceChip>
      </li>
      {{#if (and this.featureToggles.featureToggles.isPixAppTutoFiltersEnabled @shouldShowFilterButton)}}
        <li class="user-tutorials-banner-v2-filters__filter">
          <PixButton
            @backgroundColor="transparent-light"
            @isBorderVisible={{false}}
            @triggerAction={{@onTriggerFilterButton}}
          >
            {{t "pages.user-tutorials.filter"}}
          </PixButton>
        </li>
      {{/if}}
    </ul>
  </div>
</div>