<div class="pagination-control">
  <section class="page-size">
    <p class="page-size__label">{{t "common.pagination.result-by-page"}}</p>
    <PixSelect
      aria-label={{t "common.pagination.action.select-page-size"}}
      class="page-size__choice"
      @selectedOption={{this.pageSize}}
      @onChange={{this.changePageSize}}
      @options={{this.pageOptions}}
    />
  </section>
  <section class="page-navigation">
    <p>
      {{#if (eq this.pageCount 1)}}
        {{t "common.pagination.page-results" total=this.resultsCount}}
      {{else}}
        {{t
          "common.pagination.page-info"
          start=this.firstItemPosition
          end=this.lastItemPosition
          total=this.resultsCount
        }}
      {{/if}}
    </p>
    <PixIconButton
      @icon="arrow-left"
      aria-label={{t "common.pagination.action.previous"}}
      @triggerAction={{this.goToPreviousPage}}
      @withBackground={{false}}
      @size="small"
      @color="dark-grey"
      disabled={{this.isPreviousPageDisabled}}
      aria-disabled="{{this.isPreviousPageDisabled}}"
      class="page-navigation__arrow page-navigation__arrow--previous"
    />
    <p class="page-number">
      {{t "common.pagination.page-number" current=this.currentPage total=this.pageCount}}
    </p>
    <PixIconButton
      @icon="arrow-right"
      aria-label={{t "common.pagination.action.next"}}
      @triggerAction={{this.goToNextPage}}
      @withBackground={{false}}
      @size="small"
      @color="dark-grey"
      disabled={{this.isNextPageDisabled}}
      aria-disabled="{{this.isNextPageDisabled}}"
      class="page-navigation__arrow page-navigation__arrow--next"
    />
  </section>
</div>