{{page-title (t "pages.sco-organization-participants.page-title")}}

<div class="organization-participant-list-page sco-organization-participant-list-page">
  <ScoOrganizationParticipant::HeaderActions
    @onImportStudents={{this.importStudents}}
    @participantCount={{@model.meta.participantCount}}
    @isLoading={{this.isLoading}}
  />
  <Certificability::Banner @display={{this.hasComputeOrganizationLearnerCertificabilityEnabled}}>
    {{t "components.certificability-banner.sco-managing-students"}}
  </Certificability::Banner>
  <ScoOrganizationParticipant::List
    @students={{@model}}
    @searchFilter={{this.search}}
    @divisionsFilter={{this.divisions}}
    @connectionTypeFilter={{this.connectionTypes}}
    @certificabilityFilter={{this.certificability}}
    @onFilter={{this.triggerFiltering}}
    @onClickLearner={{this.goToLearnerPage}}
    @onResetFilter={{this.resetFiltering}}
    @participationCountOrder={{this.participationCountOrder}}
    @sortByParticipationCount={{this.sortByParticipationCount}}
    @sortByLastname={{this.sortByLastname}}
    @sortByDivision={{this.sortByDivision}}
    @divisionSort={{this.divisionSort}}
    @lastnameSort={{this.lastnameSort}}
    @hasComputeOrganizationLearnerCertificabilityEnabled={{this.hasComputeOrganizationLearnerCertificabilityEnabled}}
  />
</div>