{{page-title (t "pages.sco-organization-participants.page-title")}}

<div class="organization-participant-list-page sco-organization-participant-list-page">
  <ScoOrganizationParticipant::HeaderActions @participantCount={{@model.participants.meta.participantCount}} />
  <ScoOrganizationParticipant::List
    @students={{@model.participants}}
    @importDetail={{@model.importDetail}}
    @searchFilter={{this.search}}
    @divisionsFilter={{this.divisions}}
    @connectionTypeFilter={{this.connectionTypes}}
    @certificabilityFilter={{this.certificability}}
    @onFilter={{this.triggerFiltering}}
    @onClickLearner={{this.goToLearnerPage}}
    @onResetFilter={{this.resetFiltering}}
    @participationCountOrder={{this.participationCountOrder}}
    @sortByParticipationCount={{this.sortByParticipationCount}}
    @sortByLastname={{this.sortByLastname}}
    @sortByDivision={{this.sortByDivision}}
    @divisionSort={{this.divisionSort}}
    @lastnameSort={{this.lastnameSort}}
    @hasComputeOrganizationLearnerCertificabilityEnabled={{this.hasComputeOrganizationLearnerCertificabilityEnabled}}
  />
</div>