{{page-title (t "pages.sco-organization-participants.page-title")}}

<div class="organization-participant-list-page sco-organization-participant-list-page">
  <ScoOrganizationParticipant::HeaderActions
    @onImportStudents={{this.importStudents}}
    @participantCount={{@model.meta.participantCount}}
  />
  <ScoOrganizationParticipant::List
    @students={{@model}}
    @searchFilter={{this.search}}
    @divisionsFilter={{this.divisions}}
    @connectionTypeFilter={{this.connectionTypes}}
    @certificabilityFilter={{this.certificability}}
    @onFilter={{this.triggerFiltering}}
    @onClickLearner={{this.goToLearnerPage}}
    @onResetFilter={{this.resetFiltering}}
    @participationCountOrder={{this.participationCountOrder}}
    @sortByParticipationCount={{this.sortByParticipationCount}}
  />

  {{#if this.isLoading}}
    <Ui::PixLoader />
  {{/if}}
</div>