<article>
  <header class="learner-header">
    <Ui::Breadcrumb class="learner-header__breadcrumb" @links={{this.breadcrumbLinks}} />
    <div class="learner-header__info">

      <h1 class="learner-header-info__title">{{t
          "common.fullname"
          firstName=@model.organizationLearner.firstName
          lastName=@model.organizationLearner.lastName
        }}</h1>
      <Ui::LearnerHeaderInfo
        @groupName={{t "components.group.SCO"}}
        @group={{@model.organizationLearner.division}}
        @authenticationMethods={{@model.organizationLearner.authenticationMethodsList}}
        @isCertifiable={{@model.organizationLearner.isCertifiable}}
        @certifiableAt={{@model.organizationLearner.certifiableAt}}
      />
    </div>
  </header>
  {{outlet}}
</article>