<div class="panel participant-row participant-row__result">
  <div class="participant-results-content__summary">
    <div class="participant-content participant-content--large participant-content--wide">
      <div class="label-text participant-content__label-text">Acquis validés</div>
      <div class="content-text content-text--big">
        {{if @campaignParticipation.isShared
             @campaignParticipation.campaignParticipationResult.validatedSkillsCount '-' }}
      </div>
    </div>
    <div class="participant-content participant-content--large participant-content--wide">
      <div class="label-text participant-content__label-text">Acquis évalués</div>
      <div class="content-text content-text--big">
        {{if @campaignParticipation.isShared
             @campaignParticipation.campaignParticipationResult.totalSkillsCount '-' }}
      </div>
    </div>
  </div>

  <div class="participant-content participant-results-content">
    <div class=" participant-results-content__score">
      <div class="content-text content-text--big content-text--bold">Résultat</div>
      <div class=" participant-results-content__circle-chart">
        <CircleChart @value={{@campaignParticipation.campaignParticipationResult.masteryPercentage}} @isDisabled={{not @campaignParticipation.isShared}}>
          <span class=" participant-results-content__circle-chart-value">
            {{@campaignParticipation.campaignParticipationResult.masteryPercentage}}%
          </span>
        </CircleChart>
      </div>
    </div>
  </div>
</div>
<div class="panel panel--light-shadow participant-results__details content-text content-text--small">
  <table>
    <thead>
    <tr>
      <th class="table__column--wide">Compétences ({{if @campaignParticipation.isShared
                                                            @campaignParticipation.campaignParticipationResult.competenceResults.length '-' }})</th>
      <th class="table__column--wide">Résultats</th>
      <th class="table__column--small">Acquis validés</th>
      <th class="table__column--small">Acquis évalués</th>
    </tr>
    </thead>

    {{#if @campaignParticipation.isShared }}
      <tbody>
      {{#each @campaignParticipation.campaignParticipationResult.competenceResults as |competence|}}
        <tr aria-label="Résultats par compétence">
          <td class="campaign-details-table__line-wrapper">
            <span class="campaign-details-table__bullet campaign-details-table__bullet--{{competence.areaColor}}">
              &#8226;
            </span>
            <span>{{competence.name}}</span>
          </td>
          <td>
            <ProgressionGauge @total={{competence.totalSkillsCountPercentage}} @value={{competence.validatedSkillsPercentage}}>
              <p class="sr-only">Ce participant a validé </p>{{competence.validatedSkillsPercentage}}%<p class="sr-only"> de la compétence {{competence.name}}.</p>
            </ProgressionGauge>
          </td>
          <td>{{competence.validatedSkillsCount}}</td>
          <td>{{competence.totalSkillsCount}}</td>
        </tr>
      {{/each}}
      </tbody>
    {{/if}}
  </table>
  {{#unless @campaignParticipation.isShared }}
    <div class="table__empty content-text">En attente de résultats</div>
  {{/unless}}
</div>
