<div class="list-students-page__header">
  <h1 class="page__title page-title">{{t "pages.students-sco.title"}}</h1>
  {{#if this.currentUser.isAdminInOrganization}}
    <div class="list-students-page__import-students-button">
      {{#if this.displayLearnMoreAndLinkTemplate }}
        <PixTooltip
          @text={{t "pages.students-sco.agri-tooltip" htmlSafe=true}}
          @position='bottom-left'
          @isLight={{true}}
          @isWide={{true}}
          class="list-students-page__tooltip">
            <span class="list-students-page__tooltip-title">
              <span>{{t "pages.students-sco.know-more"}}</span>
              <FaIcon @icon="info-circle" class="info-icon"/>
            </span>
        </PixTooltip>
        <a class="button button--link button--no-color"
          href="{{this.urlToDownloadCsvTemplate}}" target="_blank" rel="noopener noreferrer" download>
          {{t "pages.students-sco.actions.download-template"}}
        </a>
      {{/if}}
      <FileUpload @name="file-upload" @for="students-file-upload" @accept={{this.acceptedFileType}} @multiple={{false}} @onfileadd={{@importStudents}}>
        <span class="button" role="button" tabindex="0">
          {{this.importButtonLabel}}
        </span>
      </FileUpload>
    </div>
  {{/if}}
</div>

<div class="panel">
  <div class="table content-text content-text--small">
    <table>
      <thead>
        <tr>
          <Table::Header>{{t "pages.students-sco.table.column.last-name"}}</Table::Header>
          <Table::Header>{{t "pages.students-sco.table.column.first-name"}}</Table::Header>
          <Table::Header>{{t "pages.students-sco.table.column.date-of-birth"}}</Table::Header>
          <Table::Header>{{t "pages.students-sco.table.column.login-method"}}</Table::Header>
          <Table::Header @size="small"/>
        </tr>
        <tr>
          <Table::HeaderFilterInput
            @field="lastName"
            @value={{@lastNameFilter}}
            @placeholder={{t "pages.students-sco.table.filter.last-name.label"}}
            @ariaLabel={{t "pages.students-sco.table.filter.last-name.aria-label"}}
            @triggerFiltering={{@triggerFiltering}}
          />
          <Table::HeaderFilterInput
            @field="firstName"
            @value={{@firstNameFilter}}
            @placeholder={{t "pages.students-sco.table.filter.first-name.label"}}
            @ariaLabel={{t "pages.students-sco.table.filter.first-name.aria-label"}}
            @triggerFiltering={{@triggerFiltering}}
          />
          <Table::Header/>
          <Table::HeaderFilterSelect
            @field="connexionType"
            @options={{@connectionTypesOptions}}
            @selectedOption={{@connexionTypeFilter}}
            @triggerFiltering={{@triggerFiltering}}
            @ariaLabel={{t "pages.students-sco.table.filter.login-method.aria-label"}}
            @emptyOptionLabel={{t "pages.students-sco.table.filter.login-method.empty-option"}}
          />
          <Table::Header/>
        </tr>
      </thead>

      {{#if @students}}
        <tbody>
        {{#each @students as |student|}}
          <tr aria-label={{t "pages.students-sco.table.row-title"}}>
            <td>{{student.lastName}}</td>
            <td>{{student.firstName}}</td>
            <td>{{moment-format student.birthdate 'DD/MM/YYYY' allow-empty=true}}</td>
            <td class="list-students-page__authentication-methods">
              {{#each student.authenticationMethods as |authenticationMethod|}}
                <p>{{t authenticationMethod}}</p>
              {{/each}}
            </td>
            <td class="list-students-page__actions">
              {{#if student.isStudentAssociated}}
                <Dropdown::IconTrigger
                  @icon="ellipsis-v"
                  @dropdownButtonClass="list-students-page__dropdown-button"
                  @dropdownContentClass="list-students-page__dropdown-content"
                >
                  <Dropdown::Item @onClick={{fn this.openAuthenticationMethodModal student}}>
                    {{t "pages.students-sco.actions.manage-account"}}
                  </Dropdown::Item>
                  {{#if this.currentUser.isAdminInOrganization}}
                    {{#if this.isDissociateButtonEnabled}}
                    <Dropdown::Item @onClick={{fn this.openDissociateModal student}}>
                      Dissocier le compte
                    </Dropdown::Item>
                    {{/if}}
                  {{/if}}
                </Dropdown::IconTrigger>
              {{/if}}
            </td>
          </tr>
        {{/each}}

        </tbody>
      {{/if}}
    </table>

    {{#unless @students}}
      <div class="table__empty content-text">
        {{t "pages.students-sco.table.empty"}}
      </div>
    {{/unless}}
  </div>

  <ManageAuthenticationMethodModal
    @organizationId={{this.currentUser.organization.id}}
    @student={{this.student}}
    @display={{this.isShowingAuthenticationMethodModal}}
    @close={{this.closeAuthenticationMethodModal}}
  />
  <DissociateUserModal
    @student={{this.student}}
    @display={{this.isShowingDissociateModal}}
    @close={{this.closeDissociateModal}}
    @refreshModel={{@refreshModel}}
  />
</div>

{{#if @isLoading}}
  <ModalDialog @translucentOverlay={{true}} @containerClass="modal__translucent">
    <PixLoader />
  </ModalDialog>
{{/if}}

<PaginationControl @pagination={{@students.meta}}/>
