<Ui::ChartCard @title={{t "charts.participants-by-status.title"}} ...attributes>
  {{#if @loading}}
    <Campaign::Charts::ParticipantsByStatusLoader />
  {{else}}
    <Ui::Chart
      @type="doughnut"
      @options={{this.options}}
      @data={{this.data}}
      aria-hidden="true"
      class="participants-by-status"
    />

    <ul class="participants-by-status__legend" aria-hidden="true">
      {{#each this.datasets as |dataset|}}
        <li {{did-insert this.setCanvas dataset.canvas}}>
          <span>{{dataset.legend}}</span>
          <PixTooltip @id="legend-tooltip-{{dataset.key}}" @isWide="true" @position="top-left">
            <:triggerElement>
              <FaIcon
                @icon="circle-question"
                class="participants-by-status__legend-tooltip"
                tabindex="0"
                aria-describedby="legend-tooltip-{{dataset.key}}"
              />
            </:triggerElement>
            <:tooltip>
              {{dataset.legendTooltip}}
            </:tooltip>
          </PixTooltip>
        </li>
      {{/each}}
    </ul>

    <ul class="screen-reader-only">
      {{#each this.datasets as |dataset|}}
        <li>{{dataset.a11y}}</li>
      {{/each}}
    </ul>
  {{/if}}
</Ui::ChartCard>