<Ui::ChartCard @title={{t "charts.participants-by-mastery-percentage.title"}} ...attributes>
  {{#if this.loading}}
    <Campaign::Charts::ParticipantsByMasteryPercentageLoader />
  {{else}}
    <Ui::Chart
      @type="bar"
      @options={{this.options}}
      @data={{this.data}}
      aria-hidden="true"
      class="participants-by-mastery-percentage"
    />
  {{/if}}
</Ui::ChartCard>
<ul class="screen-reader-only">
  {{#each this.accessibilityLabels as |label|}}
    <li>{{label}}</li>
  {{/each}}
</ul>