<div class="session-list__header">
  <h1 class="page-title">{{t "pages.sessions.list.header.title"}}</h1>
  <div class="session-list-header__actions">
    {{#if this.shouldRenderImportTemplateButton}}
      <PixButton
        aria-label={{t "pages.sessions.list.header.session-import-template-label"}}
        @triggerAction={{this.downloadSessionImportTemplate}}
      >
        {{t "pages.sessions.list.header.session-import-template"}}
      </PixButton>
      {{! template-lint-disable require-presentational-children }}
      {{#let (file-queue name="file-upload" onFileAdded=this.importSessions) as |queue|}}
        <label for="session-import" class="file-upload">
          <PixButtonLink role="button" tabindex="0">
            {{t "pages.sessions.list.header.session-import-upload"}}
          </PixButtonLink>
        </label>
        <input id="session-import" type="file" accept=".csv" hidden {{queue.selectFile}} />
      {{/let}}

    {{/if}}
    <PixButtonLink @route="authenticated.sessions.new">
      {{t "pages.sessions.list.header.session-creation"}}
      <FaIcon @icon="plus" class="new-session-icon" />
    </PixButtonLink>
  </div>
</div>