<div class="element-image">
  <div class="element-image__container">
    <img class="element-image-container__image" alt={{@image.alt}} src={{@image.url}} />
  </div>
  {{#if this.hasAlternativeText}}
    <PixButton @variant="secondary" @shape="rounded" @size="small" @type="button" @triggerAction={{this.showModal}}>
      {{t "pages.modulix.buttons.element.alternativeText"}}
    </PixButton>
    <PixModal
      @title={{t "pages.modulix.modals.alternativeText.title"}}
      @showModal={{this.modalIsOpen}}
      @onCloseButtonClick={{this.closeModal}}
    >
      <:content>
        {{html-unsafe @image.alternativeText}}
      </:content>
    </PixModal>
  {{/if}}
</div>