{{page-title "Campagne " @model.name}}

<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.organizations.list">Toutes les organisations</LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    <LinkTo
      @route="authenticated.organizations.get"
      @model={{@model.organizationId}}
    >{{@model.organizationName}}</LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    <h1>Campagne
      {{@model.name}}
    </h1>
  </div>
</header>

<main class="page-body">
  {{#if this.isEditMode}}
    <Campaigns::Update @campaign={{@model}} @onExit={{this.toggleEditMode}} />
  {{else}}
    <Campaigns::Details @campaign={{@model}} @toggleEditMode={{this.toggleEditMode}} />
  {{/if}}

  <nav class="navbar">
    <LinkTo @route="authenticated.campaigns.campaign.participations" @model={{@model}} class="navbar-item">
      Participations
    </LinkTo>
  </nav>

  {{outlet}}
</main>