{{page-title "Campagne " @model.name}}

<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.organizations.list">Toutes les organisations</LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    <LinkTo @route="authenticated.organizations.get" @model={{@model.organizationId}}>{{@model.organizationName}}</LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    Campagne {{@model.name}}
  </div>
</header>

<main class="page-body">
  <Campaigns::Details @campaign={{@model}} />
</main>
