{{#if this.displayDivisionFilter }}
  <PixFilterBanner @title="Filtres" class="participant-filter-banner" aria-label="Filtres sur les participations">
    <PixMultiSelect
            class="division-filter"
            @emptyMessage={{"Pas de classes"}}
            @title={{'Classes'}}
            @id={{'division'}}
            @isSearchable={{false}}
            @onSelect={{ this.onSelectDivision }}
            @selected={{ @selectedDivisions }}
            @options={{ this.divisionOptions }} as |option|>
      {{option.value}}
    </PixMultiSelect>
  </PixFilterBanner>
{{/if}}
<div class="panel">
  <div class="table content-text content-text--small">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          {{#if @campaign.idPixLabel}}
            <th>{{@campaign.idPixLabel}}</th>
          {{/if}}
          <th>Résultats</th>
          {{#if @campaign.hasBadges}}
            <th>Résultats Thématiques</th>
          {{/if}}
        </tr>
      </thead>

      {{#if @participations}}
        <tbody>
        {{#each @participations as |participation|}}
          <tr aria-label="Participant" role="button" {{on 'click' (fn @goToAssessmentPage @campaign.id participation.id)}} class="tr--clickable">
            <td>{{participation.lastName}}</td>
            <td>{{participation.firstName}}</td>
            {{#if @campaign.idPixLabel}}
              <td>{{participation.participantExternalId}}</td>
            {{/if}}
            <td>
              {{#if participation.isShared}}
                {{#if @campaign.hasStages}}
                  <StageStars
                    @result={{participation.masteryPercentage}}
                    @stages={{@campaign.stages}}
                  />
                {{else}}
                  <span class="participant-list__mastery-percentage">
                    {{participation.masteryPercentage}}%
                  </span>
                {{/if}}
              {{else}}
                {{#if participation.isCompleted}}
                  <span class="participant-list__icon">
                    <FaIcon @icon='share-square'></FaIcon>
                  </span>
                  En attente
                {{else}}
                  <span class="participant-list__icon">
                    <FaIcon @icon='hourglass-half'></FaIcon>
                  </span>
                  En cours de test
                {{/if}}
              {{/if}}
            </td>
            {{#if @campaign.hasBadges}}
              <td>
                {{#if participation.isShared}}
                  {{#each participation.badges as |badge|}}
                    <PixTooltip
                      @text={{badge.title}}
                      @position='bottom'
                      @inline={{true}}
                      class="participant-list__tooltip"
                    >
                      <img src={{badge.imageUrl}} alt={{badge.altMessage}} class="participant-list__badge" />
                    </PixTooltip>
                  {{/each}}
                {{/if}}
              </td>
            {{/if}}
          </tr>
        {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless @participations}}
      <div class="table__empty content-text">En attente de participants</div>
    {{/unless}}
  </div>
</div>

{{#if @participations}}
  <PaginationControl @pagination={{@participations.meta}}/>
{{/if}}
