<Routes::Authenticated::Campaign::ParticipationFilters
  @campaign={{@campaign}}
  @selectedDivisions={{@selectedDivisions}}
  @selectedBadges={{@selectedBadges}}
  @selectedStages={{@selectedStages}}
  @rowCount={{@participations.meta.rowCount}}
  @resetFiltering={{@resetFiltering}}
  @triggerFiltering={{@triggerFiltering}}
/>

<div class="panel">
  <div class="table content-text content-text--small">
    <table>
      <thead>
        <tr>
          <th>{{t 'pages.assessment-participants-list.table.column.first-name'}}</th>
          <th>{{t 'pages.assessment-participants-list.table.column.last-name'}}</th>
          {{#if @campaign.idPixLabel}}
            <th>{{@campaign.idPixLabel}}</th>
          {{/if}}
          <th>{{t 'pages.assessment-participants-list.table.column.results.label'}}</th>
          {{#if @campaign.hasBadges}}
            <th>{{t 'pages.assessment-participants-list.table.column.badges'}}</th>
          {{/if}}
        </tr>
      </thead>

      {{#if @participations}}
        <tbody>
        {{#each @participations as |participation|}}
          <tr aria-label={{t 'pages.assessment-participants-list.table.row-title'}} role="button" {{on 'click' (fn @goToAssessmentPage @campaign.id participation.id)}} class="tr--clickable">
            <td>{{participation.lastName}}</td>
            <td>{{participation.firstName}}</td>
            {{#if @campaign.idPixLabel}}
              <td>{{participation.participantExternalId}}</td>
            {{/if}}
            <td>
              {{#if participation.isShared}}
                {{#if @campaign.hasStages}}
                  <StageStars
                    @result={{participation.masteryPercentage}}
                    @stages={{@campaign.stages}}
                  />
                {{else}}
                  <span class="participant-list__mastery-percentage">
                    {{participation.masteryPercentage}}%
                  </span>
                {{/if}}
              {{else}}
                {{#if participation.isCompleted}}
                  <span class="participant-list__icon">
                    <FaIcon @icon='share-square'></FaIcon>
                  </span>
                  {{t 'pages.assessment-participants-list.table.column.results.on-hold'}}
                {{else}}
                  <span class="participant-list__icon">
                    <FaIcon @icon='hourglass-half'></FaIcon>
                  </span>
                  {{t 'pages.assessment-participants-list.table.column.results.under-test'}}
                {{/if}}
              {{/if}}
            </td>
            {{#if @campaign.hasBadges}}
              <td class="participant-list__badges">
                {{#if participation.isShared}}
                  <Badges @badges={{participation.badges}} />
                {{/if}}
              </td>
            {{/if}}
          </tr>
        {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless @participations}}
      <div class="table__empty content-text">{{t 'pages.assessment-participants-list.table.empty'}}</div>
    {{/unless}}
  </div>
</div>

{{#if @participations}}
  <PaginationControl @pagination={{@participations.meta}}/>
{{/if}}
