<div class="background-banner-wrapper assessment-challenge">

  <div class="assessment-challenge__assessment-banner">
    {{#if model.assessment.isCertification}}
      {{certification-banner certificationNumber=model.assessment.certificationNumber}}
    {{else}}
      {{assessment-banner title=model.assessment.title displayHomeLink=true}}
    {{/if}}
  </div>

  <div class="assessment-challenge__content rounded-panel--over-background-banner">
    {{#if model.assessment.showProgressBar}}
      {{progress-bar assessment=model.assessment challenge=model.challenge}}
    {{/if}}

    {{#if model.assessment.isCertification}}
      {{certification-progress assessment=model.assessment challengeId=model.challenge.id}}
    {{/if}}

    {{component (get-challenge-component-class model.challenge)
                challenge=model.challenge
                assessment=model.assessment
                answer=model.answer
                answerValidated=(route-action "saveAnswerAndNavigate")}}
  </div>
</div>
