<div class="assessment-challenge">

  <div class="assessment-challenge__course-banner">
    {{#if model.assessment.isPlacement}}
      {{placement-banner competenceName=model.assessment.course.name}}
    {{/if}}
    {{#if model.assessment.isDemo}}
      {{course-banner course=model.assessment.course withHomeLink=true}}
    {{/if}}
    {{#if model.assessment.isPreview}}
      {{course-banner course=model.assessment.course withHomeLink=true}}
    {{/if}}
    {{#if model.assessment.isCertification}}
      {{certification-banner user=model.user certificationNumber=model.assessment.certificationNumber}}
    {{/if}}
    {{#if model.assessment.isSmartPlacement}}
      {{campaign-banner title=model.campaign.title}}
    {{/if}}
    {{#if model.assessment.isCompetenceEvaluation}}
      {{campaign-banner title=""}}
    {{/if}}
  </div>

  <div class="assessment-challenge__content">
    {{#unless model.assessment.course.isAdaptive}}
      <div class="assessment-challenge__progress-bar">
        {{progress-bar assessment=model.assessment}}
      </div>
    {{/unless}}

    {{component (get-challenge-component-class model.challenge)
                challenge=model.challenge
                assessment=model.assessment
                answers=model.answers
                answerValidated=(route-action "saveAnswerAndNavigate")}}
  </div>
</div>
