{{page-title this.pageTitle}}

<div class="background-banner-wrapper assessment-challenge">

  <div class="assessment-challenge__assessment-banner">
    <AssessmentBanner @title={{@model.title}} @displayHomeLink={{this.displayHomeLink}} />
  </div>

  <div class="checkpoint__container rounded-panel--over-background-banner">
    <div class="checkpoint__header">
      {{#if this.shouldDisplayAnswers}}
        <div class="checkpoint-progression-gauge-wrapper">
          <ProgressionGauge @total={{100}} @value={{this.completionPercentage}} @progressionClass="progression-gauge--white progression-gauge--tooltip-left">
            {{t 'pages.checkpoint.completion-percentage.label' completionPercentage=this.completionPercentage htmlSafe=true}}
          </ProgressionGauge>

          <p class="checkpoint-caption">{{t 'pages.checkpoint.completion-percentage.caption'}}</p>

        </div>
        <div class="checkpoint__continue-wrapper">
          <CheckpointContinue @assessmentId={{@model.id}} @nextPageButtonText={{this.nextPageButtonText}} />
        </div>
      {{/if}}
    </div>


    <main class="rounded-panel rounded-panel--strong checkpoint__content">
      {{#if this.shouldDisplayAnswers}}
        <div class="rounded-panel-one-line-header">
          <h2 class="rounded-panel-header-text__content rounded-panel-title rounded-panel-title--all-small-caps">
            {{t 'pages.checkpoint.answers.header'}}
          </h2>
        </div>

        <div class="assessment-results__list">
          {{#each @model.answersSinceLastCheckpoints as |answer|}}
            <ResultItem @answer={{answer}} @openAnswerDetails={{this.openComparisonWindow}} />
          {{/each}}
        </div>
        <CheckpointContinue @assessmentId={{@model.id}} @nextPageButtonText={{this.nextPageButtonText}} />
      {{else}}
        <div class="checkpoint-no-answer">
          <div class="checkpoint-no-answer__header">
            {{t 'pages.checkpoint.answers.already-finished.info'}}
          </div>
          <div class="checkpoint-no-answer__info">
            {{t 'pages.checkpoint.answers.already-finished.explanation'}}
          </div>
          <CheckpointContinue @assessmentId={{@model.id}} @nextPageButtonText={{this.nextPageButtonText}} />
        </div>
      {{/if}}
    </main>
  </div>

  {{#if this.isShowingModal}}
    <ComparisonWindow @answer={{this.answer}} @closeComparisonWindow={{this.closeComparisonWindow}} />
  {{/if}}

</div>

{{#if this.showLevelup}}
  <LevelupNotif @level={{this.newLevel}} @competenceName={{this.competenceLeveled}} />
{{/if}}
