{{title pageTitle}}

<div class="background-banner-wrapper assessment-challenge">

  <div class="assessment-challenge__assessment-banner">
    <AssessmentBanner @title={{model.title}} @displayHomeLink={{true}} />
  </div>

  <div class="checkpoint__container rounded-panel--over-background-banner">
    <div class="checkpoint__header">
      {{#if shouldDisplayAnswers}}
        <div class="checkpoint-progression-gauge-wrapper">
          <ProgressionGauge @total={{100}} @value={{completionPercentage}} @progressionClass="progression-gauge--white progression-gauge--tooltip-left">
            <p class="sr-only">Vous avez effectué</p>{{completionPercentage}}%<p
            class="sr-only"> de votre parcours.</p>
          </ProgressionGauge>

          <p class="checkpoint-legend">avancement du parcours</p>

        </div>
        <div class="checkpoint__continue-wrapper">
          <CheckpointContinue @assessmentId={{model.id}} @nextPageButtonText={{nextPageButtonText}} />
        </div>
      {{/if}}
    </div>


    <div class="rounded-panel rounded-panel--strong checkpoint__content">
      {{#if shouldDisplayAnswers}}
        <div class="rounded-panel-one-line-header">
          <h1 class="rounded-panel-header-text__content rounded-panel-title rounded-panel-title--all-small-caps">
            vos réponses
          </h1>
        </div>

        <div class="assessment-results__list">
          {{#each model.answersSinceLastCheckpoints as |answer|}}
            <ResultItem @answer={{answer}} @correction={{answer.correction}} @openAnswerDetails={{action "openComparisonWindow"}} />
          {{/each}}
        </div>
        <CheckpointContinue @assessmentId={{model.id}} @nextPageButtonText={{nextPageButtonText}} />
      {{else}}
        <div class="checkpoint-no-answer">
          <div class="checkpoint-no-answer__header">
            C’est déjà fini, ne soyez pas surpris !
          </div>
          <div class="checkpoint-no-answer__info">
            Vous avez déjà répondu aux questions, lors de vos parcours précédents. Vous pouvez directement accéder à vos résultats.
          </div>
          <CheckpointContinue @assessmentId={{model.id}} @nextPageButtonText={{nextPageButtonText}} />
        </div>
      {{/if}}
    </div>
  </div>

  {{#if isShowingModal}}
    <ComparisonWindow @answer={{answer}} @closeComparisonWindow={{action "closeComparisonWindow"}} />
  {{/if}}

</div>

{{#if showLevelup}}
  <LevelupNotif @level={{newLevel}} @competenceName={{competenceLeveled}} />
{{/if}}
