<div class="assessment-challenge">

  <!-- Currently, there is checkpoints only during campaign participations -->
  <div class="assessment-challenge__course-banner">
    {{campaign-banner title=model.campaign.title checkpoint='true'}}
  </div>

  <div class="checkpoint__container">

    <div class="checkpoint__header">

      <div class="checkpoint-progression-gauge-wrapper">

        {{#progression-gauge total=100 value=completionPercentage
                             progressionClass="progression-gauge--white progression-gauge--tooltip-left"}}
          <p class="sr-only">Vous avez effectué</p>{{completionPercentage}}%<p
          class="sr-only"> de votre parcours.</p>
        {{/progression-gauge}}

        <p class="checkpoint-legend">avancement du parcours</p>

      </div>
      <div class="checkpoint__continue-wrapper">
        {{checkpoint-continue assessmentId=model.id nextPageButtonText=nextPageButtonText}}
      </div>
    </div>

    <div class="rounded-panel rounded-panel--strong checkpoint__content">
      <div class="rounded-panel-one-line-header">
        <h1 class="rounded-panel-header-text__content rounded-panel-title">
          vos réponses
        </h1>
      </div>

      <div class="assessment-results__list">
        {{#each model.answersSinceLastCheckpoints as |answer|}}
          {{result-item-campaign answer=answer openAnswerDetails=(action "openComparisonWindow")}}
        {{/each}}
      </div>
      {{checkpoint-continue assessmentId=model.id nextPageButtonText=nextPageButtonText}}
    </div>
  </div>

  {{#if isShowingModal}}
    {{comparison-window answer=answer correction=correction closeComparisonWindow=(action 'closeComparisonWindow')}}
  {{/if}}

</div>
