<div class="assessment-results">

  <div class="assessment-results__assessment-banner">
    {{assessment-banner title=model.title checkpoint=false displayHomeLink=false}}
  </div>

  <div class="assessment-results__content">
    <p class="assessment-results__title">
      Vos réponses
    </p>

    <div class="assessment-results__list">
      {{#each model.answers as |answer|}}
        {{result-item answer=answer correction=answer.correction openAnswerDetails=(action 'openComparisonWindow')}}
      {{/each}}
    </div>

    <div class="assessment-results__index-link-container">
      {{#if model.isDemo}}
        <a href={{urlHome}} class="assessment-results__index-link__element assessment-results__index-a-link">
          <span class="assessment-results__link-back">Revenir à l'accueil</span>
        </a>
      {{else}}
        {{#link-to 'index' class='assessment-results__index-link__element' tagName='button'}}
          <span class="assessment-results__link-back">Revenir à l'accueil</span>
        {{/link-to}}
      {{/if}}
    </div>
  </div>

  {{#if isShowingModal}}
    {{comparison-window answer=answer closeComparisonWindow=(action 'closeComparisonWindow')}}
  {{/if}}

</div>
