<div class="login-form">
  <div class="login-form__information paragraph">Vous avez déjà un compte sur Pix.fr ? Vous pouvez utiliser ce compte
    pour rejoindre l'espace organisation.
  </div>

  {{#if hasInvitationError}}
      <div class="login-form__invitation-error">
        Cette invitation a déjà été acceptée. Connectez-vous ou contactez l’administrateur de votre espace Pix Orga.
      </div>
  {{/if}}

  {{#if isErrorMessagePresent}}
    <div id="login-form-error-message" class="login-form__error-message error-message">{{errorMessage}}
    </div>
  {{/if}}

  <form {{action 'authenticate' on='submit'}}>

    <div class="input-container">
      <label for="login-email" class="label">Adresse e-mail</label>
      <Input
        @id="login-email"
        @name="login"
        @type="email"
        @class="input"
        @value={{email}}
        @autocomplete="username"
      />
    </div>

    <div class="input-container">
      <label for="login-password" class="label">Mot de passe</label>
      <div class="input-password">
        <Input
          @id="login-password"
          @name="password"
          @type={{passwordInputType}}
          @class="input"
          @value={{password}}
          @autocomplete="current-password"
        />
        <button type="button" aria-label="rendre le mot de passe lisible" class="input-password__icon" {{action 'togglePasswordVisibility'}} >
           {{#if isPasswordVisible}}
             <div tabindex="-1" onmousedown={{action 'togglePasswordVisibility'}}>{{fa-icon 'eye' class="fa-fw input-password-icon__eye"}}</div>
           {{else}}
             <div tabindex="-1" onmousedown={{action 'togglePasswordVisibility'}}>{{fa-icon 'eye-slash' class="fa-fw input-password-icon__eye"}}</div>
          {{/if}}
        </button>
      </div>
    </div>

    <div class="input-container">
      {{#if isLoading}}
        <button type="submit" class="button"><span class="loader-in-button">&nbsp;</span></button>
      {{else}}
        <button type="submit" class="button login-form__button">Je me connecte</button>
      {{/if}}
    </div>

  </form>

  <div class="login-form__forgotten-password help-text">
    <a href="https://app.pix.fr/mot-de-passe-oublie" target="_blank" class="link">J'ai oublié mon mot de passe</a>
  </div>
</div>
