{{page-title (t 'pages.fill-in-id-pix.title')}}
<div class="background-banner-wrapper">
  <div class="background-banner"></div>
  <main class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner fill-in-id-pix__container">
    <h1 class="fill-in-id-pix-text fill-in-id-pix-text__title">{{t 'pages.fill-in-id-pix.first-title'}}</h1>
    <p class="fill-in-id-pix-text fill-in-id-pix-text__announcement">
      {{t 'pages.fill-in-id-pix.announcement'}}
    </p>

    <form {{action "submit" on="submit"}} class="fill-in-id-pix__form">
      <div class="fill-in-id-pix-form__section">
        <div class="fill-in-id-pix__form-field">
          <label for="id-pix-label">{{@model.idPixLabel}}</label>
          <Input required @id="id-pix-label" @value={{this.participantExternalId}} />
        </div>
        {{#if this.isLoading}}
          <button type="button" disabled class="button button--big">
            <span class="loader-in-button">&nbsp;</span>
          </button>
        {{else}}
          <button type="submit" class="button button--big">{{t 'pages.fill-in-id-pix.buttons.continue'}}</button>
        {{/if}}
        {{#if this.errorMessage}}
          <div class="fill-in-id-pix__form__error-message">{{errorMessage}}</div>
        {{/if}}
      </div>

      {{#if this.isLoading}}
        <button type="button" disabled class="button button--regular button--no-color fill-in-id-pix__cancel-button">
          {{t 'pages.fill-in-id-pix.buttons.cancel'}}
        </button>
      {{else}}
        <button type="button" {{action "cancel"}} class="button button--regular button--no-color fill-in-id-pix__cancel-button">
          {{t 'pages.fill-in-id-pix.buttons.cancel'}}
        </button>
      {{/if}}
    </form>
  </main>
</div>
