{{title pageTitle}}
<div class="background-banner-wrapper">
  <div class="background-banner"></div>
  <div class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner send-profile-header">

    <div class="send-profile-header__announcement">
      <h1 class="send-profile-header__title">Envoi de votre profil Pix</h1>
      <p class="send-profile-header__instruction">
        Vous allez transmettre votre score Pix et vos niveaux de compétence.<br>
        Toute évolution de votre profil après cet envoi ne sera pas partagée !<br>
        N'hésitez pas à vérifier
        <LinkTo @route="profile" target="_blank" class="link">votre profil Pix</LinkTo>
        avant envoi.
      </p>
    </div>

    <form {{action "sendProfile" on="submit"}} class="send-profile-header__form">
      <p class="send-profile-header__recipient">Destinataire : {{this.model.campaign.organizationName}}</p>

      {{#if this.model.campaignParticipation.isShared}}
        <p class="skill-review-share__thanks">Merci, votre profil a bien été envoyé !</p>
        <LinkTo @route="index" class="skill-review-share__back-to-home link">Continuez votre expérience Pix</LinkTo>
      {{else}}
        {{#if this.isLoading}}
          <button type="button" disabled class="button button--big">
            <span class="loader-in-button">&nbsp;</span>
          </button>
        {{else}}
          <button type="submit" class="button button--big">J'envoie mon profil</button>
        {{/if}}
        {{#if this.errorMessage}}
          <div class="fill-in-id-pix__form__error-message">{{this.errorMessage}}</div>
        {{/if}}

        <p class="send-profile-header__warning">
          <FaIcon @icon="exclamation-circle"></FaIcon>
          Cet envoi n’est possible qu’une seule fois
        </p>
      {{/if}}

    </form>
  </div>
</div>
