<div>
  {{navbar-header class="navbar-header--white"}}
</div>
<div class="skill-review__gradient"></div>

<div class="skill-review__result__container">
  <div class="skill-review__result__text">
    <p class="skill-review__result__text announcement">
      VOS RÉSULTATS :
    </p>
    <p class="skill-review__result__text score">
      Compte-tenu de l’ensemble de vos tests sur Pix, vous maîtrisez {{model.assessment.skillReview.profileMasteryPercentage}} des compétences ciblées par le parcours.
    </p>
  </div>

  <div class="skill-review__share_container">
    {{#if showButtonToShareResult}}
      <button class="skill-review__share__button" {{action 'shareCampaignParticipation'}}>J'ENVOIE MES RÉSULTATS</button>
      <p class="skill-review__share__legal">
        En cliquant, les résultats de votre parcours seront transmis à l’organisateur du parcours pour lui permettre de
        vous accompagner.
      </p>
    {{else}}
      <p class="skill-review__share__thanks">Merci, vos résultats ont bien été envoyés !</p>
    {{/if}}
  </div>
</div>

{{outlet}}