<form {{will-destroy this.removeEmbedAutoEventListener}} {{on "submit" this.validateAnswer}}>
  <Challenge::ChallengeActions @challenge={{@challenge}} @answer={{@answer}} @validateAnswer={{this.validateAnswer}} />
</form>