<div class="mission-page">
  <RobotDialog @instruction={{t "pages.missions.start-page.welcome"}} />
  <div class="mission-page__body">
    {{#if (eq @model.id "recExjO7RHeDI48HK")}}
      <MissionCard @title="Recherche sur internet" @colorClass="red" @imageName="internet-search" />
    {{else}}
      <MissionCard @title="Données personnelles" @colorClass="blue" @imageName="personal-data" />
    {{/if}}

    <div class="mission-page__details">
      <LinkTo @route="identified.missions" class="details-go-back">{{t
          "pages.missions.start-page.back-to-missions"
        }}</LinkTo>
      <p class="details-list__title details-list__title--big">{{t "pages.missions.start-page.purpose-title"}}</p>
      <ul class="details-list">
        <li class="details-list__item">
          <FaIcon @icon="arrow-right" class="icon" />
          {{#if (eq @model.id "recExjO7RHeDI48HK")}}
            <p>Savoir utiliser un moteur de recherche en ligne</p>
          {{else}}
            <p>Connaître la notion de données personnelles et savoir les protéger</p>
          {{/if}}
        </li>
      </ul>

      <PixButton @triggerAction={{this.goToResume}} @shape="rounded" class="pix1d-button details-action">
        <p>{{t "pages.missions.start-page.start-mission"}}</p>
        <FaIcon @icon="arrow-right" class="details-action__icon" />
      </PixButton>

    </div>
  </div>
</div>