<Modal::Dialog class="candidate-edit-modal" @title="Editer les informations du candidat" @display={{@isDisplayed}} @close={{@onCancelButtonsClicked}}>
  <form {{on "submit" this.onFormSubmit}}>
    <Modal::Body class="candidate-edit-modal__content">

      <div class="candidate-edit-modal__content__field candidate-edit-modal__content__field-double">
        <label for="last-name" class="label">
          <span class="required-field-indicator">*</span>
          Nom de famille
        </label>
        <Input @id="last-name" @type="text" @class="input" @value={{this.lastName}} {{ did-insert this.focus }} required />
      </div>

      <div class="candidate-edit-modal__content__field candidate-edit-modal__content__field-double">
        <label for="first-name" class="label">
          <span class="required-field-indicator">*</span>
          Prénom
        </label>
        <Input @id="first-name" @type="text" @class="input" @value={{this.firstName}} required />
      </div>

      <div class="candidate-edit-modal__content__field">
        <label for="birthdate" class="label">
          <span class="required-field-indicator">*</span>
          Date de naissance
        </label>
        <EmberFlatpickr
                id="birthdate"
                @altFormat="d/m/Y"
                @altInput={{true}}
                @onChange={{this.onUpdateCertificationBirthdate}}
                @dateFormat="Y-m-d"
                @locale="fr"
                @date={{this.birthdate}}
        />
      </div>

      <div class="candidate-edit-modal__content__field">
        <label for="birth-city" class="label">
          <span class="required-field-indicator">*</span>
          Commune de naissance
        </label>
        <Input @id="birth-city" @type="text" @class="input" @value={{this.birthCity}} required />
      </div>

    </Modal::Body>
    <Modal::Footer>
      <PixButton @size="small" @backgroundColor="transparent-light" @triggerAction={{@onCancelButtonsClicked}} data-test-id="close-certification-candidate-edition-modal">Annuler</PixButton>
      <PixButton @size="small" @type="submit" data-test-id="close-certification-candidate-edition-modal">Enregistrer</PixButton>
    </Modal::Footer>
  </form>
</Modal::Dialog>
