<div class="panel">
    <div class="table content-text content-text--small panel-info">
        <div class="panel-info__icon">
          {{fa-icon 'info'}}
        </div>
        <div class="panel-info__vertical-splitter">
        </div>
      <div class="panel-info__text">
        <p>Pour ajouter des candidats à cette session :</p>
        <ul>
            <li class="panel-info__list-item">Cliquez sur Télécharger le PV de session</li>
            <li class="panel-info__list-item">Renseignez les informations dans ce PV de session</li>
            <li class="panel-info__list-item">Cliquez sur importer les candidats et sélectionnez le fichier complété</li>
        </ul>
        <p>Attention : vous pouvez modifier cette liste en ré-important un fichier, mais cela efface la liste déjà existante.</p>
      </div>
    </div>
</div>
<div class="panel">
    <div class="table content-text content-text--small">
      {{#if certificationCandidates}}
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Identifiant externe</th>
                <th>Temps majoré</th>
            </tr>
            </thead>

              <tbody>
              {{#each certificationCandidates as |candidate|}}
                  <tr>
                      <td>{{candidate.lastName}}</td>
                      <td>{{candidate.firstName}}</td>
                      <td>{{moment-format candidate.birthdate 'DD/MM/YYYY'}}</td>
                      <td>{{candidate.birthplace}}</td>
                      <td>{{candidate.externalId}}</td>
                      <td>{{format-percentage candidate.extraTimePercentage}}</td>
                  </tr>
              {{/each}}
              </tbody>
        </table>
      {{else}}
          <div class="table__empty content-text">
              {{fa-icon 'user-graduate'}}
              <p><b>En attente de candidats</b></p>
          </div>
      {{/if}}
    </div>
</div>
