<div class="panel panel-actions">
  <div class="content-text context-text--small">
    <div class="panel-actions__header">
      <div class="panel-actions__header-icon">
        {{fa-icon "info"}}
      </div>
      <div class="panel-actions__header-title">Ajouter des candidats</div>
    </div>
    <div class="panel-actions__action-row">
      <div class="panel-actions__action-icon">
        {{fa-icon "file-download"}}
      </div>
      <div class="panel-actions__description">
        <div class="panel-actions__title">Télécharger le PV de session</div>
        <div class="panel-actions__subtitle">Renseignez les informations des candidats (Nom, Prénom, &#x2026;)
          <br> Lors du premier téléchargement, le PV de session est vide. Il contiendra ensuite les informations des candidats ajoutés à la session.
        </div>
      </div>
      <div class="panel-actions__button">
        <a data-test-id="attendance_sheet_download_button"
           class="button button--link button--with-icon"
           href="{{session.urlToDownload}}" target="_blank" download>
          Télécharger (.ods){{fa-icon 'file-download'}}
        </a>
      </div>
    </div>
    <div class="panel-actions__action-row">
      <div class="panel-actions__action-icon">
        {{fa-icon "cloud-upload-alt"}}
      </div>
      <div class="panel-actions__description">
        <div class="panel-actions__title">Importer le PV de session</div>
        <div class="panel-actions__subtitle">
          Sélectionnez le PV de session préalablement rempli.
          <br> <b>Attention, tout nouvel import efface la liste des candidats existante.</b>
        </div>
        {{#unless importAllowed}}
          <div class="panel-actions__warning">
              <br> <b>{{fa-icon 'exclamation-circle' class="panel-actions__warning-icon"}}
              La session a débuté, il n'est plus possible de modifier la liste dans candidats en utilisant l'import du PV de session.</b>
          </div>
        {{/unless}}
      </div>
        {{#if importAllowed}}
          <div class="panel-actions__button">
            {{#file-upload name="file-upload"
              for="upload-attendance-sheet"
              accept=".ods"
              multiple=false
              onfileadd=(action importCertificationCandidates)
            }}
              <span data-test-id="attendance_sheet_upload_button"
                    class="button button--with-icon"
                    role="button"
                    tabindex=0>Importer (.ods){{fa-icon 'cloud-upload-alt'}}</span>
            {{/file-upload}}
          </div>
        {{else}}
          <div class="panel-actions__button">
            <span data-test-id="attendance_sheet_upload_button"
                  class="button button--with-icon button--disabled"
                  role="button"
                  tabindex=0>Importer (.ods){{fa-icon 'cloud-upload-alt'}}</span>
          </div>
        {{/if}}
    </div>
  </div>
</div>

<div class="panel">
    <div class="table content-text content-text--small">
      {{#if certificationCandidates}}
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Commune de naissance</th>
                <th>Département de naissance</th>
                <th>Pays de naissance</th>
                <th>Identifiant externe</th>
                <th>Temps majoré</th>
            </tr>
            </thead>
              <tbody>
              {{#each certificationCandidates as |candidate|}}
                  <tr>
                      <td>{{candidate.lastName}}</td>
                      <td>{{candidate.firstName}}</td>
                      <td>{{moment-format candidate.birthdate 'DD/MM/YYYY'}}</td>
                      <td>{{candidate.birthCity}}</td>
                      <td>{{candidate.birthProvinceCode}}</td>
                      <td>{{candidate.birthCountry}}</td>
                      <td>{{candidate.externalId}}</td>
                      <td>{{format-percentage candidate.extraTimePercentage}}</td>
                  </tr>
              {{/each}}
              </tbody>
        </table>
      {{else}}
          <div class="table__empty content-text">
              <p>En attente de candidats</p>
          </div>
      {{/if}}
    </div>
</div>