<div id="icon-trigger" class="dropdown" ...attributes>
  <button 
    type="button"
    class="button button--round-with-icon {{@dropdownButtonClass}}"
    aria-haspopup="listbox"
    aria-expanded="{{this.display}}"
    aria-label="Afficher les actions"
    {{on 'click' this.toggle}}
  >
    <FaIcon @icon={{@icon}} />
  </button>
  <Dropdown::Content @display={{this.display}} @close={{this.close}} class="{{@dropdownContentClass}}" aria-label="Actions">
    {{yield}}
  </Dropdown::Content>
</div>
