{{#each @areas as |area|}}
  <div class="area-border-container">
    <div class="area-border {{area.color}}"></div>
    <PixCollapsible @title="{{area.code}} · {{area.title}}" class="{{area.color}} list-competences">
      {{#each area.sortedCompetences as |competence|}}
        <Common::TubesSelection::Competence
          @competence={{competence}}
          @setLevelTube={{@setLevelTube}}
          @selectedTubeIds={{@selectedTubeIds}}
          @checkTube={{@checkTube}}
          @uncheckTube={{@uncheckTube}}
          @tubeLevels={{@tubeLevels}}
        />
      {{/each}}
    </PixCollapsible>
  </div>
{{/each}}