<div class="competence-container">
  <PixCollapsible @title="{{@competence.index}} {{@competence.name}}">
    <div class="panel">
      <table class="table content-text content-text--small select-tube-table">
        <caption class="sr-only">Sélection des sujets</caption>
        <thead>
          <tr>
            <Table::Header @size="medium" scope="col">
              <label>
                <Common::TubesSelection::Checkbox
                  id="competence-{{@competence.id}}"
                  @state={{this.state}}
                  {{on "change" this.onChange}}
                />
                Thématiques
              </label>
            </Table::Header>
            <Table::Header @size="wide" scope="col">
              <p>Sujets</p>
            </Table::Header>
            <Table::Header @size="small" scope="col">
              <p>Niveau</p>
            </Table::Header>
            {{#if @displayDeviceCompatibility}}
              <Table::Header @size="medium" @align="center" scope="col">
                <p>Compatibilité</p>
              </Table::Header>
            {{/if}}
          </tr>
        </thead>

        <tbody>
          {{#each @competence.sortedThematics as |thematic|}}
            {{#each thematic.tubes as |tube index|}}
              <tr class="row-tube" aria-label="Sujet">
                {{#if (eq index 0)}}
                  <Common::TubesSelection::Thematic
                    @thematic={{thematic}}
                    @selectedTubeIds={{@selectedTubeIds}}
                    @checkTube={{@checkTube}}
                    @uncheckTube={{@uncheckTube}}
                  />
                {{/if}}
                <Common::TubesSelection::Tube
                  @tube={{tube}}
                  @setLevelTube={{@setLevelTube}}
                  @selectedTubeIds={{@selectedTubeIds}}
                  @checkTube={{@checkTube}}
                  @uncheckTube={{@uncheckTube}}
                  @tubeLevels={{@tubeLevels}}
                  @displayDeviceCompatibility={{@displayDeviceCompatibility}}
                />
              </tr>
            {{/each}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </PixCollapsible>
</div>