<td>
  <label>
    <Common::TubesSelection::Checkbox id="tube-{{@tube.id}}" @state={{this.state}} {{on "change" this.onChange}} />
    {{@tube.name}}
    :
    {{@tube.practicalTitle}}
  </label>
</td>
<td class="table__column--center">
  <PixSelect
    @label="Sélection du niveau du sujet suivant : {{@tube.practicalTitle}}"
    @screenReaderOnly={{true}}
    @options={{this.levelOptions}}
    @onChange={{this.setLevelTube}}
    @value={{this.selectedLevel}}
    @isDisabled={{not this.checked}}
  />
</td>
{{#if @displayDeviceCompatibility}}
  <td class="table__column--center">
    <div class="icon-container" aria-label="{{if @tube.mobile 'compatible mobile' 'incompatible mobile'}}">
      <FaIcon @icon="mobile-screen-button" class="fa-2x {{if @tube.mobile 'is-responsive'}}" />
      {{#unless @tube.mobile}}
        <FaIcon @icon="slash" class="fa-2x not-responsive" />
      {{/unless}}
    </div>
    <div class="icon-container" aria-label="{{if @tube.tablet 'compatible tablette' 'incompatible tablette'}}">
      <FaIcon @icon="tablet-screen-button" class="fa-2x {{if @tube.tablet 'is-responsive'}}" />
      {{#unless @tube.tablet}}
        <FaIcon @icon="slash" class="fa-2x not-responsive" />
      {{/unless}}
    </div>
  </td>
{{/if}}