<td>
  <label>
    <PixCheckbox @id="tube-{{@tube.id}}" @checked={{this.state}} {{on "change" this.onChange}} @size="small">
      <:label>{{@tube.name}} : {{@tube.practicalTitle}}</:label>
    </PixCheckbox>
  </label>
</td>
<td class="table__column--center">
  <div class="level-selection">
    <PixSelect
      @screenReaderOnly={{true}}
      @options={{this.levelOptions}}
      @value={{this.selectedLevel}}
      @onChange={{this.setLevelTube}}
      @placeholder="À sélectionner"
      @hideDefaultOption={{true}}
      class="tubes-selection__level-select"
    >
      <:label>Sélection du niveau du sujet suivant : {{@tube.practicalTitle}}</:label>
    </PixSelect>
    {{#if @displaySkillDifficultyAvailability}}
      <div class="skill-availability">
        {{#each this.skillAvailabilityMap as |skillAvailability|}}
          <div
            class="skill-square skill-square__{{skillAvailability.availability}}"
          >{{skillAvailability.difficulty}}</div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</td>
{{#if @displayDeviceCompatibility}}
  <td class="table__column--center">
    <div class="icon-container" aria-label="{{if @tube.mobile 'compatible mobile' 'incompatible mobile'}}">
      <FaIcon @icon="mobile-screen-button" class="fa-2x {{if @tube.mobile 'is-responsive'}}" />
      {{#unless @tube.mobile}}
        <FaIcon @icon="slash" class="fa-2x not-responsive" />
      {{/unless}}
    </div>
    <div class="icon-container" aria-label="{{if @tube.tablet 'compatible tablette' 'incompatible tablette'}}">
      <FaIcon @icon="tablet-screen-button" class="fa-2x {{if @tube.tablet 'is-responsive'}}" />
      {{#unless @tube.tablet}}
        <FaIcon @icon="slash" class="fa-2x not-responsive" />
      {{/unless}}
    </div>
  </td>
{{/if}}