{{page-title (t "pages.missions.list.title")}}
<div>
  <RobotDialog>
    <Bubble @message={{t "pages.missions.list.instruction" prenom=this.model.organizationLearner.firstName}} />
    <Bubble
      @message={{t
        "pages.missions.list.back-to-students"
        prenom=this.model.organizationLearner.firstName
        backUrl=this.schoolUrl
      }}
    />
  </RobotDialog>

  <div class="cards">
    {{#each @model.missions as |mission|}}
      <PixButton @triggerAction={{fn this.goToMission mission.id}} class="card">
        <MissionCard
          @title={{mission.name}}
          @colorClass="area-{{mission.areaCode}}"
          @imageName="img-area-{{mission.areaCode}}"
          @missionCompleted={{this.missionCompleted mission.id}}
        />
      </PixButton>
    {{/each}}
  </div>
</div>