<div class="campaign-list" role="tabpanel">
  <div class="panel">
    <div class="table content-text content-text--small">
      <table>
        <thead>
          <tr>
            <th class="table__column table__column--wide">Campagnes</th>
            <th class="table__column">Créé par</th>
            <th class="table__column table__column--small">Créé le</th>
            <th class="table__column table__column--small">Participants</th>
            <th class="table__column table__column--small">Résultats reçus</th>
          </tr>
          <tr>
            <Table::HeaderFilterInput
              @field="name"
              @value={{@nameFilter}}
              @placeholder="Rechercher une campagne"
              @triggerFiltering={{@triggerFiltering}}
            />
            <Table::HeaderFilterSelect
              @field="creatorId"
              @options={{@organizationMembers}}
              @selectedOption={{@campaignCreatorId}}
              @triggerFiltering={{@triggerFiltering}}
              @emptyOptionLabel="Tous"
            />
            <Table::Header/>
            <Table::Header/>
            <Table::Header/>
          </tr>
        </thead>

        <tbody>
        {{#each @campaigns as |campaign|}}
          <tr aria-label="Campagne" role="button" {{on 'click' (fn @goToCampaignPage campaign.id)}} class="tr--clickable">
            <td>{{campaign.name}}</td>
            <td class="table__column--truncated">{{campaign.creator.fullName}}</td>
            <td>{{moment-format campaign.createdAt 'DD/MM/YYYY' allow-empty=true}}</td>
            <td>{{campaign.campaignReport.participationsCount}}</td>
            <td>{{campaign.campaignReport.sharedParticipationsCount}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      {{#if (eq @campaigns.length 0)}}
        <div class="table__empty content-text">Aucune campagne</div>
      {{/if}}
    </div>
  </div>
</div>

<PaginationControl @pagination={{@campaigns.meta}}/>
