<form {{on 'submit' @createCampaign}} class="form">

  <div class="form__field">
    <label for="campaign-name" class="label">Nom de la campagne</label>
    <Input
      @id="campaign-name"
      @name="campaign-name"
      @type="text"
      @class="input"
      @maxlength="255"
      @value={{@campaign.name}}
    />

    {{#each @campaign.errors.name as |error|}}
      <div class='form__error error-message'>
        {{error.message}}
      </div>
    {{/each}}
  </div>

  {{#if this.currentUser.organization.canCollectProfiles}}
    <div class="form__field">
      <label class="label">Quel est l'objectif de votre campagne ?</label>
      <div class="form__sub-label" role="button">
        <label>
          <input type="radio" id="assess-participants" name="campaign-goal" value="assess-participants" class="radio-button" {{on "change" this.setCampaignGoal}}>
          <span class="radio-button-span"></span>Évaluer les participants
        </label>
      </div>

      <div class="form__sub-label" role="button">
        <label>
          <input type="radio" id="collect-participants-profile" name="campaign-goal" value="collect-participants-profile" class="radio-button" {{on "change" this.setCampaignGoal}}>
          <span class="radio-button-span"></span>Collecter les profils Pix des participants
        </label>
      </div>

      {{#each @campaign.errors.type as |error|}}
        <div class='form__error error-message'>
          {{error.message}}
        </div>
      {{/each}}

    </div>
  {{/if}}

  {{#if this.isCampaignGoalAssessment}}
    <div class="form__field">
      <label for="campaign-target-profile" class="label">Que souhaitez-vous tester ?</label>
      <SelectInput
        @id="campaign-target-profile"
        @onChange={{this.setSelectedTargetProfile}}
        @options={{this.targetProfilesOptions}}
        @emptyOptionLabel=""
      />
      {{#each @campaign.errors.targetProfile as |error|}}
        <div class='form__error error-message'>
          {{error.message}}
        </div>
      {{/each}}
      {{#if this.currentUser.isSCOManagingStudents}}
        <p class="form__comment" id="campaign-target-profile-comment-label">
          Si vous souhaitez avoir plus d'information, consultez
          <a class="link"
             href="https://cloud.pix.fr/s/Rxm5kLR2dmFW7qq?path=%2FLes%20parcours%20dans%20Pix%20Orga"
             target="_blank"
             rel="noopener noreferrer"> la documentation correspondante</a>.
        </p>
      {{/if}}
    </div>
  {{/if}}

  <div class="form__field">
    <div class="campaign-form_id-pix">
      <div class="label">
        <label for="id-pix-wanted-or-not">Souhaitez-vous demander un identifiant ?</label>
      </div>
      <div id="doNotAskLabelIdPix" class="form__sub-label" role="button" {{on 'click' this.doNotAskLabelIdPix}}>
        <label>
          <input type="radio" checked={{@notWantIdPix}} name="radio" class="radio-button">
          <span class="radio-button-span"></span>Non
        </label>
      </div>
      <div id="askLabelIdPix" class="form__sub-label" role="button" {{on 'click' this.askLabelIdPix}}>
        <label>
          <input type="radio" checked={{@wantIdPix}} name="radio" class="radio-button">
          <span class="radio-button-span"></span>Oui
        </label>
      </div>
    </div>

    {{#if this.wantIdPix}}

      <div class="form__field">
        <Input
          @id="id-pix-label"
          @name="id-pix-label"
          @type="text"
          @class="input"
          @maxlength="255"
          @label="Libellé de l’identifiant"
          @aria-required="true"
          @placeholder="Libellé de l’identifiant"
          @value={{@campaign.idPixLabel}}
        />
        {{#each @campaign.errors.idPixLabel as |error|}}
          <div class='form__error error-message'>
            {{error.message}}
          </div>
        {{/each}}
        <div class="form__information help-text">
          Exemple: "Numéro de l'étudiant" ou "Adresse e-mail professionnelle" *
        </div>

      </div>
    {{/if}}
  </div>

  {{#if this.isCampaignGoalAssessment}}
    <div class="form__field">
      <label for="campaign-title" class="label">Titre du parcours</label>
      <Input
        @id="campaign-title"
        @name="campaign-title"
        @type="text"
        @class="input"
        @maxlength="50"
        @value={{@campaign.title}}
      />
    </div>
  {{/if}}

  <div class="form__field">
    <label for="custom-landing-page-text" class="label">Texte de la page d'accueil</label>
    <Textarea @id="custom-landing-page-text" @name="custom-landing-page-text" @maxlength="350" @rows={{8}} @value={{@campaign.customLandingPageText}} class="textarea" />
  </div>

  <div class="form__validation">
    <button class="button button--no-color" type="button" {{on 'click' @cancel}}>Annuler</button>
    <button class="button" type="submit">Créer la campagne</button>
  </div>

 {{#if this.wantIdPix}}
   <div class="new-item-form__gdpr-information help-text">
    * En vertu de la loi Informatique et libertés, et en tant que responsable de traitement, soyez attentifs à ne pas demander de donnée particulièrement identifiante ou signifiante si ce n’est pas absolument indispensable. Le numéro de sécurité sociale (NIR) est à proscrire ainsi que toute donnée sensible.
   </div>
 {{/if}}

</form>
