<section class="import-page__section--download panel">
  {{#if @isImportInError}}
    <PixMessage @type="error">
      <p>{{@errorsReport}}</p>
    </PixMessage>
  {{else}}
    <PixMessage @type="info">
      <ul>
        <li>
          <img src="{{this.rootURL}}/icons/solid-square-chevron-rigth.svg" alt="" role="presentation" />
          {{t
            "pages.sessions.import.step-two.sessions-and-empty-sessions-count"
            sessionsCount=@sessionsCount
            sessionsWithoutCandidatesCount=@sessionsWithoutCandidatesCount
          }}</li>
        <li>
          <FaIcon @icon="user" />
          {{t "pages.sessions.import.step-two.candidates-count" candidatesCount=@candidatesCount}}</li>
      </ul>
    </PixMessage>

    <PixButton class="import-page__section--confirm-button">
      {{t "pages.sessions.import.step-two.actions.confirm.label"}}
    </PixButton>
  {{/if}}
</section>