<div class="certifications-page">
  <h1 class="page__title page-title">{{t 'pages.certifications.title'}}</h1>
  <p class="certifications-page__text">
    {{t 'pages.certifications.description' htmlSafe=true}}
  </p>

  <form class="certifications-page__action" {{on 'submit' this.downloadSessionResultFile}}>
    <label for="certifications-page-action__select">{{t 'pages.certifications.select-label'}}</label>
    <PixSelect id="certifications-page-action__select" 
      @options={{@model.options}}
      @selectedOption={{this.selectedDivision}}
      @onChange={{this.onSelectDivision}}
      @isSearchable={{true}}
      @isValidationActive={{true}}
      placeholder={{this.firstTwoDivisions}}
      required={{true}}
      autocomplete="off"
    />
    <button class="button" type="submit">
      {{t 'pages.certifications.download-button'}}
    </button>
  </form>

  <PixMessage @withIcon={{true}}>
    {{t 'pages.certifications.documentation-link-notice'}}
    <a href={{t 'pages.certifications.documentation-link'}} target="_blank" rel="noopener noreferrer">{{t 'pages.certifications.documentation-link-label'}}</a>
  </PixMessage>
</div>
