{{#if @studentList}}

  <div class="add-student-list">
    <div class="add-student-list__filters">
      <span>{{t "pages.sco.enrol-candidates-in-session.list.table.filter.title"}}</span>
      <PixMultiSelect
        @emptyMessage={{this.emptyMessage}}
        @id={{"add-student-list__multi-select"}}
        @onChange={{this.selectDivision}}
        @placeholder={{t "pages.sco.enrol-candidates-in-session.list.table.filter.placeholder"}}
        @isSearchable={{true}}
        @screenReaderOnly={{true}}
        @values={{this.selectedDivisions}}
        @options={{@certificationCenterDivisions}}
      >
        <:label>{{t "pages.sco.enrol-candidates-in-session.list.table.filter.extra-information"}}</:label>
        <:default as |option|>{{option.label}}</:default>
      </PixMultiSelect>
    </div>

    <div class="table">
      <table>
        <thead>
          <tr>
            <th>
              <PixCheckbox
                @screenReaderOnly={{true}}
                @class="add-student-list__checker"
                @isIndeterminate={{this.hasPartialState}}
                @checked={{this.hasCheckState}}
                {{on "click" this.toggleAllItems}}
                disabled={{this.isDisabled}}
              >
                <:label>{{t "pages.candidates.add.actions.select-all.label"}}</:label>
              </PixCheckbox>
            </th>
            <th>{{t "pages.sco.enrol-candidates-in-session.list.table.division"}}</th>
            <th>{{t "pages.sco.enrol-candidates-in-session.list.table.last-name"}}</th>
            <th>{{t "pages.sco.enrol-candidates-in-session.list.table.first-name"}}</th>
            <th class="add-student-list__column-birthdate">
              {{t "pages.sco.enrol-candidates-in-session.list.table.birthdate"}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each @studentList as |student|}}
            {{#if student.isEnrolled}}
              <tr class="add-student-list__row add-student-list__row--disabled">
                <td class="add-student-list__column-checkbox">
                  <PixCheckbox @screenReaderOnly={{true}} @class="add-student-list__checker" @checked={{true}} disabled>
                    <:label>
                      {{t
                        "pages.candidates.add.actions.selected.label"
                        firstName=student.firstName
                        lastName=student.lastName
                      }}
                    </:label>
                  </PixCheckbox>
                </td>
                <td>{{student.division}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.firstName}}</td>
                <td class="add-student-list__column-birthdate">{{dayjs-format student.birthdate "DD/MM/YYYY"}}</td>
              </tr>
            {{else}}
              <tr class="add-student-list__row" {{on "click" (fn this.toggleItem student)}}>
                <td class="add-student-list__column-checkbox">
                  <PixCheckbox @screenReaderOnly={{true}} @checked={{student.isSelected}}>
                    <:label>
                      {{t
                        "pages.candidates.add.actions.select.label"
                        firstName=student.firstName
                        lastName=student.lastName
                      }}
                    </:label>
                  </PixCheckbox>
                </td>
                <td>{{student.division}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.firstName}}</td>
                <td class="add-student-list__column-birthdate">{{dayjs-format student.birthdate "DD/MM/YYYY"}}</td>
              </tr>
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    </div>

    <PixPagination @pagination={{@studentList.meta}} />

    {{#if this.showStickyBar}}
      <div class="add-student-list__bottom-action-bar">

        <div class="bottom-action-bar__informations">
          <p class="bottom-action-bar__informations--candidates-selected">
            {{#if this.numberOfStudentsSelected}}
              {{this.numberOfStudentsSelected}}
              {{t "pages.sco.enrol-candidates-in-session.list.action-bar.candidate-selected"}}
            {{else}}
              {{t "pages.sco.enrol-candidates-in-session.list.action-bar.no-candidate-selected"}}
            {{/if}}
          </p>
          <span class="bottom-action-bar__seperator"></span>
          <p class="bottom-action-bar__informations--candidates-already-added">
            {{this.numberOfStudentsAlreadyCandidate}}
            {{t "pages.sco.enrol-candidates-in-session.list.action-bar.candidate-already-enrolled"}}
          </p>
        </div>

        <div class="bottom-action-bar__actions">
          <PixButtonLink
            @variant="secondary"
            @isBorderVisible={{true}}
            @route="authenticated.sessions.details.certification-candidates"
            @model={{@session.id}}
          >
            {{t "common.actions.cancel"}}
          </PixButtonLink>
          <PixButton
            @triggerAction={{this.enrolStudents}}
            type="button"
            @isDisabled={{this.shouldDisableAddButton}}
            class="bottom-action-bar__actions--add-button"
          >
            Inscrire
          </PixButton>
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}