{{#if @studentList}}
<div class="table add-student-list">
  <table>
    <thead>
      <tr>
        <th>
          <CertifCheckbox
            class="add-student-list__checker"
            @state={{headerCheckboxStatus}}
            {{on 'click' toggleAllItems}}>
          </CertifCheckbox>
        </th>
        <th>Classe</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th class="add-student-list__column-birthdate">Date de naissance</th>
      </tr>
    </thead>
    <tbody>
      {{#each @studentList as |student|}}
        <tr>
          <td class="add-student-list__column-checkbox">
            <CertifCheckbox
              @state={{if student.isSelected 'checked' 'unchecked'}}
              {{on 'click' (fn toggleItem student)}}>
            </CertifCheckbox>
          </td>
          <td>{{student.division}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.firstName}}</td>
          <td class="add-student-list__column-birthdate">{{moment-format student.birthdate 'DD/MM/YYYY'}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if this.hasCheckedSomething}}
    <div class="add-student-list__bottom-action-bar">
      <button class="button button--link">Ajouter</button>
    </div>
  {{/if}}
</div>
{{/if}}
