{{#if @studentList}}
<div class="table add-student-list">
  <table>
    <thead>
      <tr>
        <th>
          <CertifCheckbox
            class="add-student-list__checker"
            @state={{this.headerCheckboxStatus}}
            {{on 'click' this.toggleAllItems}}>
          </CertifCheckbox>
        </th>
        <th>Classe</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th class="add-student-list__column-birthdate">Date de naissance</th>
      </tr>
    </thead>
    <tbody>
      {{#each @studentList as |student|}}
        <tr>
          <td class="add-student-list__column-checkbox">
            <CertifCheckbox
              @state={{if student.isSelected 'checked' 'unchecked'}}
              {{on 'click' (fn this.toggleItem student)}}>
            </CertifCheckbox>
          </td>
          <td>{{student.division}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.firstName}}</td>
          <td class="add-student-list__column-birthdate">{{moment-format student.birthdate 'DD/MM/YYYY'}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if this.showStickyBar}}
    <div class="add-student-list__bottom-action-bar">

      <div class="bottom-action-bar__informations">
        <p class="bottom-action-bar__informations--candidates-selected">{{this.studentsSelectedInformation}}</p>
        <span class="bottom-action-bar__seperator"></span>
        <p class="bottom-action-bar__informations--candidates-already-added">
          {{this.numberOfStudentsAlreadyCandidate}} candidat(s) déjà ajouté(s) à la session
        </p>
      </div>

      <div class="bottom-action-bar__actions">
        <LinkTo
          @route="authenticated.sessions.details.certification-candidates"
          @model={{@session.id}}
          class="bottom-action-bar__actions--cancel-button button button--link button--grey"
          type="button">
          Annuler
        </LinkTo>
        <PixButton
          {{on 'click' this.enrollStudents}}
          class="bottom-action-bar__actions--add-button button button--link">Ajouter</PixButton>
      </div>

    </div>
  {{/if}}
</div>
{{/if}}
