<fieldset class="candidate-information-change-certification-issue-report-fields">
  <div class="candidate-information-change-certification-issue-report-fields__radio-button">
    <input
            id="input-radio-for-category-candidate-information-change"
            type="radio"
            name="candidate-information-change"
            checked={{@candidateInformationChangeCategory.isChecked}}
      {{on 'click' (fn @toggleOnCategory @candidateInformationChangeCategory)}} />
    <label for="input-radio-for-category-candidate-information-change">Modification infos candidat</label>
  </div>
  {{#if @candidateInformationChangeCategory.isChecked}}
    <div class="candidate-information-change-certification-issue-report-fields__details">
      <label for="subcategory-for-category-candidate-information-change">Sélectionnez une sous-catégorie :</label>
      <PixSelect
        id="subcategory-for-category-candidate-information-change"
        @options={{this.options}}
        @selectedOption={{@candidateInformationChangeCategory.subcategory}}
        @onChange={{this.onChangeSubcategory}}
      />
      <label for="text-area-for-category-candidate-information-change">Détaillez les changements</label>
      <Textarea
        id="text-area-for-category-candidate-information-change"
        @class="session-finalization-reports-informations-step__textarea"
        @value={{@candidateInformationChangeCategory.description}}
        @maxlength={{@maxlength}}
        required
      />
      <p class="candidate-information-change-certification-issue-report-fields-details__char-count">{{this.reportLength}}
        / {{@maxlength}}</p>
    </div>
  {{/if}}
</fieldset>
