<PixModal
  @title={{t "pages.sessions.detail.candidates.detail-modal.title"}}
  @onCloseButtonClick={{@closeModal}}
  class="certification-candidate-details-modal"
  @showModal={{@showModal}}
>
  <:content>
    <ul class="certification-candidate-details-modal__list">
      <li class="certification-candidate-details-modal__row">
        <span class="certification-candidate-details-modal__row__label">
          {{t "pages.sessions.detail.candidates.informations.lastname"}}
        </span>
        <span class="certification-candidate-details-modal__row__value">
          {{if @candidate.lastName @candidate.lastName "-"}}
        </span>
      </li>
      <li class="certification-candidate-details-modal__row">
        <span class="certification-candidate-details-modal__row__label">
          {{t "pages.sessions.detail.candidates.informations.firstname"}}
        </span>
        <span class="certification-candidate-details-modal__row__value">
          {{if @candidate.firstName @candidate.firstName "-"}}
        </span>
      </li>
      <li class="certification-candidate-details-modal__row">
        <span class="certification-candidate-details-modal__row__label">
          {{t "pages.sessions.detail.candidates.informations.birth-date"}}
        </span>
        {{#if @candidate.birthdate}}
          <span class="certification-candidate-details-modal__row__value">
            {{dayjs-format @candidate.birthdate "DD/MM/YYYY"}}
          </span>
        {{else}}
          <span class="certification-candidate-details-modal__row__value">
            {{"-"}}
          </span>
        {{/if}}
      </li>
      <li class="certification-candidate-details-modal__row">
        <span class="certification-candidate-details-modal__row__label">
          {{t "pages.sessions.detail.candidates.informations.gender"}}
        </span>
        <span class="certification-candidate-details-modal__row__value">
          {{if @candidate.sexLabel @candidate.sexLabel "-"}}
        </span>
      </li>
      <li class="certification-candidate-details-modal__row">
        <span class="certification-candidate-details-modal__row__label">
          {{t "pages.sessions.detail.candidates.informations.birth-city"}}
        </span>
        <span class="certification-candidate-details-modal__row__value">
          {{if @candidate.birthCity @candidate.birthCity "-"}}
        </span>
      </li>
      <li class="certification-candidate-details-modal__row">
        <span class="certification-candidate-details-modal__row__label">
          {{t "pages.sessions.detail.candidates.informations.birth-city-postcode"}}
        </span>
        <span class="certification-candidate-details-modal__row__value">
          {{if @candidate.birthPostalCode @candidate.birthPostalCode "-"}}
        </span>
      </li>
      <li class="certification-candidate-details-modal__row">
        <span class="certification-candidate-details-modal__row__label">
          {{t "pages.sessions.detail.candidates.informations.birth-city-insee-code"}}
        </span>
        <span class="certification-candidate-details-modal__row__value">
          {{if @candidate.birthInseeCode @candidate.birthInseeCode "-"}}
        </span>
      </li>
      <li class="certification-candidate-details-modal__row">
        <span class="certification-candidate-details-modal__row__label">
          {{t "pages.sessions.detail.candidates.informations.birth-country"}}
        </span>
        <span class="certification-candidate-details-modal__row__value">
          {{if @candidate.birthCountry @candidate.birthCountry "-"}}
        </span>
      </li>
      <li class="certification-candidate-details-modal__row">
        <span class="certification-candidate-details-modal__row__label">
          {{t "pages.sessions.detail.candidates.informations.email-results"}}
        </span>
        <span class="certification-candidate-details-modal__row__value">
          {{if @candidate.resultRecipientEmail @candidate.resultRecipientEmail "-"}}
        </span>
      </li>
      <li class="certification-candidate-details-modal__row">
        <span class="certification-candidate-details-modal__row__label">
          {{t "pages.sessions.detail.candidates.informations.email-convocation"}}
        </span>
        <span class="certification-candidate-details-modal__row__value">
          {{if @candidate.email @candidate.email "-"}}
        </span>
      </li>
      <li class="certification-candidate-details-modal__row">
        <span class="certification-candidate-details-modal__row__label">
          {{t "pages.sessions.detail.candidates.informations.external-id"}}
        </span>
        <span class="certification-candidate-details-modal__row__value">
          {{if @candidate.externalId @candidate.externalId "-"}}
        </span>
      </li>
      <li class="certification-candidate-details-modal__row">
        <span class="certification-candidate-details-modal__row__label">
          {{t "pages.sessions.detail.candidates.informations.extratime-percentage"}}
        </span>
        <span class="certification-candidate-details-modal__row__value">
          {{if @candidate.extraTimePercentage (format-percentage @candidate.extraTimePercentage) "-"}}
        </span>
      </li>
      {{#if @shouldDisplayPaymentOptions}}
        <li class="certification-candidate-details-modal__row">
          <span class="certification-candidate-details-modal__row__label">
            {{t "pages.sessions.detail.candidates.informations.pricing"}}
          </span>
          <span class="certification-candidate-details-modal__row__value">
            {{@candidate.billingModeLabel}}
          </span>
        </li>
        <li class="certification-candidate-details-modal__row">
          <span class="certification-candidate-details-modal__row__label">
            {{t "pages.sessions.detail.candidates.informations.prepayment-code"}}
          </span>
          <span class="certification-candidate-details-modal__row__value">
            {{if @candidate.prepaymentCode @candidate.prepaymentCode "-"}}
          </span>
        </li>
      {{/if}}
      {{#if @displayComplementaryCertification}}
        <li class="certification-candidate-details-modal__row">
          <span class="certification-candidate-details-modal__row__label">
            {{t "pages.sessions.detail.candidates.informations.additional-certification"}}
          </span>
          <span class="certification-candidate-details-modal__row__value">
            {{if @candidate.complementaryCertifications @candidate.complementaryCertificationsList "-"}}
          </span>
        </li>
      {{/if}}
    </ul>
  </:content>

  <:footer>
    <PixButton
      @triggerAction={{@closeModal}}
      aria-label="{{t 'pages.sessions.detail.candidates.detail-modal.actions.close-extra-information'}}"
    >{{t "common.actions.close"}}</PixButton>
  </:footer>
</PixModal>