<AppModal @containerClass="pix-modal-dialog--wide" @onClose={{@closeModal}}>
  <div class="certification-candidate-details-modal">
    <div class="pix-modal__close-button">
      <button aria-label="Fermer la fenêtre de détail du candidat" type="button" {{on "click" @closeModal}}>
        Fermer
        <img src="/icons/icon-close-modal.svg" alt="" role="presentation" width="24" height="24" />
      </button>
    </div>

    <div class="pix-modal__container pix-modal__container--white">
      <div class="certification-candidate-details-modal__title">
        <h1>Détail du candidat</h1>
      </div>

      <div class="certification-candidate-details-modal__content">
        <ul class="certification-candidate-details-modal__list">
          <li class="certification-candidate-details-modal__row">
            <span class="certification-candidate-details-modal__row__label">Nom</span>
            <span class="certification-candidate-details-modal__row__value" data-test-id="last-name-row">
              {{if @candidate.lastName @candidate.lastName "-"}}
            </span>
          </li>
          <li class="certification-candidate-details-modal__row">
            <span class="certification-candidate-details-modal__row__label">Prénom</span>
            <span class="certification-candidate-details-modal__row__value" data-test-id="first-name-row">
              {{if @candidate.firstName @candidate.firstName "-"}}
            </span>
          </li>
          <li class="certification-candidate-details-modal__row">
            <span class="certification-candidate-details-modal__row__label">Date de naissance</span>
            {{#if @candidate.birthdate}}
              <span class="certification-candidate-details-modal__row__value" data-test-id="birth-date-row">
                {{moment-format @candidate.birthdate "DD/MM/YYYY"}}
              </span>
            {{else}}
              <span class="certification-candidate-details-modal__row__value" data-test-id="birth-date-row">
                {{"-"}}
              </span>
            {{/if}}
          </li>
          <li class="certification-candidate-details-modal__row">
            <span class="certification-candidate-details-modal__row__label">Sexe</span>
            <span class="certification-candidate-details-modal__row__value" data-test-id="sex-label-row">
              {{if @candidate.sexLabel @candidate.sexLabel "-"}}
            </span>
          </li>
          <li class="certification-candidate-details-modal__row">
            <span class="certification-candidate-details-modal__row__label">Commune de naissance</span>
            <span class="certification-candidate-details-modal__row__value" data-test-id="birth-city-row">
              {{if @candidate.birthCity @candidate.birthCity "-"}}
            </span>
          </li>
          <li class="certification-candidate-details-modal__row">
            <span class="certification-candidate-details-modal__row__label">Code postal de naissance</span>
            <span class="certification-candidate-details-modal__row__value" data-test-id="birth-postal-code-row">
              {{if @candidate.birthPostalCode @candidate.birthPostalCode "-"}}
            </span>
          </li>
          <li class="certification-candidate-details-modal__row">
            <span class="certification-candidate-details-modal__row__label">Code INSEE de naissance</span>
            <span class="certification-candidate-details-modal__row__value" data-test-id="birth-insee-code-row">
              {{if @candidate.birthInseeCode @candidate.birthInseeCode "-"}}
            </span>
          </li>
          <li class="certification-candidate-details-modal__row">
            <span class="certification-candidate-details-modal__row__label">Pays de naissance</span>
            <span class="certification-candidate-details-modal__row__value" data-test-id="birth-country-row">
              {{if @candidate.birthCountry @candidate.birthCountry "-"}}
            </span>
          </li>
          <li class="certification-candidate-details-modal__row">
            <span class="certification-candidate-details-modal__row__label">E-mail du destinataire des résultats
              (formateur, enseignant...)</span>
            <span class="certification-candidate-details-modal__row__value" data-test-id="result-recipient-email-row">
              {{if @candidate.resultRecipientEmail @candidate.resultRecipientEmail "-"}}
            </span>
          </li>
          <li class="certification-candidate-details-modal__row">
            <span class="certification-candidate-details-modal__row__label">E-mail de convocation</span>
            <span class="certification-candidate-details-modal__row__value" data-test-id="email-row">
              {{if @candidate.email @candidate.email "-"}}
            </span>
          </li>
          <li class="certification-candidate-details-modal__row">
            <span class="certification-candidate-details-modal__row__label">Identifiant externe</span>
            <span class="certification-candidate-details-modal__row__value" data-test-id="external-id-row">
              {{if @candidate.externalId @candidate.externalId "-"}}
            </span>
          </li>
          <li class="certification-candidate-details-modal__row">
            <span class="certification-candidate-details-modal__row__label">Temps majoré (%)</span>
            <span class="certification-candidate-details-modal__row__value" data-test-id="extra-time-row">
              {{if @candidate.extraTimePercentage (format-percentage @candidate.extraTimePercentage) "-"}}
            </span>
          </li>
          {{#if @shouldDisplayPaymentOptions}}
            <li class="certification-candidate-details-modal__row">
              <span class="certification-candidate-details-modal__row__label">Tarification part Pix</span>
              <span class="certification-candidate-details-modal__row__value" data-test-id="billing-mode-row">
                {{if @candidate.billingMode @candidate.billingMode "-"}}
              </span>
            </li>
            <li class="certification-candidate-details-modal__row">
              <span class="certification-candidate-details-modal__row__label">Code de prépaiement</span>
              <span class="certification-candidate-details-modal__row__value" data-test-id="prepayment-code-row">
                {{if @candidate.prepaymentCode @candidate.prepaymentCode "-"}}
              </span>
            </li>
          {{/if}}
          {{#if @displayComplementaryCertification}}
            <li class="certification-candidate-details-modal__row">
              <span class="certification-candidate-details-modal__row__label">Certifications complémentaires</span>
              <span
                class="certification-candidate-details-modal__row__value"
                data-test-id="complementary-certifications-row"
              >
                {{if @candidate.complementaryCertifications @candidate.complementaryCertificationsList "-"}}
              </span>
            </li>
          {{/if}}
        </ul>

        <div class="certification-candidate-details-modal__actions">
          <PixButton @triggerAction={{@closeModal}}>Fermer</PixButton>
        </div>
      </div>

    </div>
  </div>
</AppModal>