<div class="new-certification-candidate-modal-form__field">
  <fieldset id="complementary-certifications">
    <legend class="label">
      {{t "common.forms.certification-labels.additional-certification"}}
    </legend>
    <PixRadioButton name="complementary-certifications" {{on "change" this.updateComplementaryCertification}}>
      <:label>{{t "common.labels.candidate.none"}}</:label>
    </PixRadioButton>
    {{#each @complementaryCertificationsHabilitations as |complementaryCertificationHabilitation|}}
      <PixRadioButton
        name="complementary-certifications"
        {{on "change" (fn this.updateComplementaryCertification complementaryCertificationHabilitation)}}
      >
        <:label>{{complementaryCertificationHabilitation.label}}</:label>
      </PixRadioButton>
    {{/each}}
  </fieldset>
</div>
{{#if @isComplementaryAlonePilot}}
  <div class="new-certification-candidate-modal-form__field">
    <fieldset id="is-complementary-alone">
      <legend class="label">
        {{t "common.forms.certification-labels.complementary-alone"}}
      </legend>
      <PixRadioButton name="complementary-alone">
        <:label>{{t "common.labels.complementary-alone.pix-plus"}}</:label>
      </PixRadioButton>
      <PixRadioButton name="complementary-alone">
        <:label>{{t "common.labels.complementary-alone.pix-and-pix-plus"}}</:label>
      </PixRadioButton>
    </fieldset>
  </div>
{{/if}}