<fieldset class="connexion-or-end-screen-certification-issue-report-fields">
  <div class="connexion-or-end-screen-certification-issue-report-fields__radio-button">
    <input
      id="input-radio-for-category-connexion-or-end-screen"
      type="radio"
      name="connexion-or-end-screen"
      checked={{@connexionOrEndScreenCategory.isChecked}}
      {{on 'click' (fn @toggleOnCategory @connexionOrEndScreenCategory)}} />
    <label for="input-radio-for-category-connexion-or-end-screen">Connexion et fin de test</label>
  </div>
  {{#if @connexionOrEndScreenCategory.isChecked}}
    <div class="connexion-or-end-screen-certification-issue-report-fields__details">
      <label for="subcategory-for-category-connexion-or-end-screen">Sélectionnez une sous-catégorie :</label>
      <PixSelect
        id="subcategory-for-category-connexion-or-end-screen"
        @options={{this.options}}
        @selectedOption={{@connexionOrEndScreenCategory.subcategory}}
        @onChange={{this.onChangeSubcategory}}
      />
    </div>
  {{/if}}
</fieldset>
