<div class="panel">
  <div class="panel-header">
    <h3 class="panel-header__title">
      {{t "pages.sessions.detail.candidates.list.title"}}
      ({{@certificationCandidates.length}})
    </h3>
    {{#if @shouldDisplayPrescriptionScoStudentRegistrationFeature}}
      <PixButtonLink
        @route="authenticated.sessions.add-student"
        @model={{@sessionId}}
        class="enrolled-candidate__add-students"
      >
        {{t "pages.sessions.detail.candidates.list.actions.inscription-multiple.label"}}
      </PixButtonLink>
    {{else}}
      <PixButton
        id="add-candidate"
        class="certification-candidates-add-button__text"
        @triggerAction={{this.openNewCertificationCandidateModal}}
        @size="small"
      >
        {{t "pages.sessions.detail.candidates.list.actions.inscription.label"}}
      </PixButton>
    {{/if}}
  </div>
  <div class="table content-text content-text--small certification-candidates-table">
    {{#if (or @certificationCandidates this.candidatesInStaging)}}
      <table class="certification-candidates-table-cpf-toggle-enabled">
        <caption class="sr-only">
          {{#if @shouldDisplayPrescriptionScoStudentRegistrationFeature}}
            {{t "pages.sessions.detail.candidates.list.without-details-description"}}
          {{else}}
            {{t "pages.sessions.detail.candidates.list.with-details-description"}}
          {{/if}}
        </caption>
        <thead>
          <tr>
            <th class="certification-candidates-table__column-last-name">
              {{t "common.forms.common-labels.birth-name"}}
            </th>
            <th class="certification-candidates-table__column-first-name">
              {{t "common.forms.common-labels.firstname.label"}}
            </th>
            <th class="certification-candidates-table__column-birthdate">
              {{t "common.forms.common-labels.birth-date"}}
            </th>
            {{#if @shouldDisplayPrescriptionScoStudentRegistrationFeature}}
              <th class="certification-candidates-table__birth-city">
                {{t "common.forms.common-labels.birth-city"}}
              </th>
              <th>
                {{t "common.forms.common-labels.birth-country"}}
              </th>
            {{/if}}
            {{#unless @shouldDisplayPrescriptionScoStudentRegistrationFeature}}
              <th class="certification-candidates-table__recipient-email">
                {{t "common.forms.certification-labels.email-results"}}
              </th>
            {{/unless}}
            {{#unless @shouldDisplayPrescriptionScoStudentRegistrationFeature}}
              <th class="certification-candidates-table__external-id">
                {{t "common.forms.certification-labels.external-id"}}
              </th>
            {{/unless}}
            <th class="certification-candidates-table__column-time">
              {{t "common.forms.certification-labels.extratime"}}
            </th>
            {{#if @shouldDisplayPaymentOptions}}
              <th class="certification-candidates-table__payment-options">
                {{t "common.forms.certification-labels.pricing"}}
              </th>
            {{/if}}
            {{#if @displayComplementaryCertification}}
              <th>{{t "common.forms.certification-labels.additional-certification"}}</th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each @certificationCandidates as |candidate|}}
            <tr>
              <td>{{candidate.lastName}}</td>
              <td>{{candidate.firstName}}</td>
              <td>{{dayjs-format candidate.birthdate "DD/MM/YYYY"}}</td>
              {{#if @shouldDisplayPrescriptionScoStudentRegistrationFeature}}
                <td>{{candidate.birthCity}}</td>
                <td>{{candidate.birthCountry}}</td>
              {{/if}}
              {{#unless @shouldDisplayPrescriptionScoStudentRegistrationFeature}}
                <td>{{candidate.resultRecipientEmail}}</td>
              {{/unless}}
              {{#unless @shouldDisplayPrescriptionScoStudentRegistrationFeature}}
                <td>{{candidate.externalId}}</td>
              {{/unless}}
              <td>{{format-percentage candidate.extraTimePercentage}}</td>
              {{#if @shouldDisplayPaymentOptions}}
                <td>{{candidate.billingModeLabel}}
                  {{candidate.prepaymentCode}}
                </td>
              {{/if}}

              {{#if @displayComplementaryCertification}}
                <td>
                  {{if candidate.complementaryCertifications candidate.complementaryCertificationsList "-"}}
                </td>
              {{/if}}
              <td>
                <div class="certification-candidates-actions">
                  {{#unless @shouldDisplayPrescriptionScoStudentRegistrationFeature}}
                    <div class="certification-candidates-actions__display-details">
                      <button
                        type="button"
                        class="button--showed-as-link"
                        {{on "click" (fn this.openCertificationCandidateDetailsModal candidate)}}
                        aria-label="{{t
                          'pages.sessions.detail.candidates.list.actions.details.extra-information'
                        }} {{candidate.firstName}} {{candidate.lastName}}"
                      >
                        {{t "pages.sessions.detail.candidates.list.actions.details.label"}}
                      </button>
                    </div>
                  {{/unless}}
                  <div class="certification-candidates-actions__delete">
                    {{#if candidate.isLinked}}
                      <PixTooltip @position="left" @isInline={{true}} @id="tooltip-delete-student-button">
                        <:triggerElement>
                          <PixIconButton
                            @icon="trash-alt"
                            class="certification-candidates-actions__delete-button--disabled"
                            aria-label="{{t
                              'pages.sessions.detail.candidates.list.actions.delete.extra-information'
                            }} {{candidate.firstName}} {{candidate.lastName}}"
                            aria-disabled="true"
                            aria-describedby="tooltip-delete-student-button"
                            @withBackground={{true}}
                          />
                        </:triggerElement>
                        <:tooltip>{{t "pages.sessions.detail.candidates.list.actions.delete.tooltip"}}</:tooltip>
                      </PixTooltip>
                    {{else}}
                      <PixIconButton
                        @icon="trash-alt"
                        {{on "click" (fn this.deleteCertificationCandidate candidate)}}
                        aria-label="{{t
                          'pages.sessions.detail.candidates.list.actions.delete.extra-information'
                        }} {{candidate.firstName}} {{candidate.lastName}}"
                        class="certification-candidates-actions__delete-button"
                        @withBackground={{true}}
                      />
                    {{/if}}
                  </div>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div class="table__empty content-text">
        <p>{{t "pages.sessions.detail.candidates.list.empty"}}</p>
      </div>
    {{/if}}
  </div>
</div>

{{#if this.shouldDisplayCertificationCandidateModal}}
  <CertificationCandidateDetailsModal
    @showModal={{this.shouldDisplayCertificationCandidateModal}}
    @closeModal={{this.closeCertificationCandidateDetailsModal}}
    @candidate={{this.certificationCandidateInDetailsModal}}
    @displayComplementaryCertification={{@displayComplementaryCertification}}
    @shouldDisplayPaymentOptions={{@shouldDisplayPaymentOptions}}
  />
{{/if}}

{{#if this.showNewCertificationCandidateModal}}
  <NewCertificationCandidateModal
    @showModal={{this.showNewCertificationCandidateModal}}
    @closeModal={{this.closeNewCertificationCandidateModal}}
    @countries={{@countries}}
    @saveCandidate={{this.addCertificationCandidate}}
    @candidateData={{this.newCandidate}}
    @updateCandidateData={{this.updateCertificationCandidateInStagingFieldFromEvent}}
    @updateCandidateDataFromValue={{this.updateCertificationCandidateInStagingFieldFromValue}}
    @shouldDisplayPaymentOptions={{@shouldDisplayPaymentOptions}}
  />
{{/if}}