<AppModal @containerClass="pix-modal-dialog--wide" @onClose={{@closeModal}}>
  <div class="examiner-report-modal">
    <div class="pix-modal__close-link">
      <a href="#" data-test-id="finalize-session-modal__close-cross" {{on "click" @closeModal}}>Fermer
        <img src="/icons/icon-close-modal.svg" alt="Fermer la fenêtre de confirmation" width="24" height="24">
      </a>
    </div>

    <PixBlock>
      <div class="examiner-report-modal__title">
        <h1>Signalement du candidat</h1>
        <h3>{{@report.firstName}} {{@report.lastName}}</h3>
      </div>

      <div class="examiner-report-modal__content">
        <input
            id="report-of-type-other__radio-button"
            type="radio"
            name="other"
            checked={{this.isReportOfTypeOtherChecked}}
            {{on 'click' this.toggleShowReportOfTypeOther}} />
        <label for="report-of-type-other__radio-button">Autre incident</label>
        {{#if this.isReportOfTypeOtherChecked}}
          <div class="content__report-type-details">
            <label for="report-of-type-other__text-area">Détaillez l'incident</label>
            <Textarea
                id="report-of-type-other__text-area"
                @class="session-finalization-reports-informations-step__textarea"
                @value={{this.reportOfTypeOther}}
                @maxlength={{@maxlength}}
                {{on 'input' this.handleChange}}
                />
              <p>{{this.reportLength}} / 500</p>
          </div>
        {{/if}}
      </div>

      <div class="examiner-report-modal__actions">
        <div class="pix-modal-footer pix-modal-footer--with-centered-buttons">
          <button type="button" class="button--showed-as-link" {{on "click" @closeModal}}>Annuler</button>
          <button type="button" class="button button--extra-thin" {{on "click" this.submitReport}}>Valider</button>
        </div>
      </div>
    </PixBlock>
  </div>
</AppModal>
