<div class="panel panel-actions">
  <div class="content-text">
    <div class="panel-actions__header">
      <div class="panel-actions__header-icon">
        <FaIcon @icon="info" />
      </div>
      <h3 class="panel-actions__header-title">{{t "pages.sessions.detail.candidates.panel-actions.title"}}</h3>
    </div>
    <div class="panel-actions__action-row">
      <div class="panel-actions__action-icon">
        <FaIcon @icon="file-download" />
      </div>
      <div class="panel-actions__description">
        <h4 class="panel-actions__title">{{t
            "pages.sessions.detail.candidates.panel-actions.actions.download.extra-information"
          }}</h4>
        <p class="panel-actions-description__information">{{t
            "pages.sessions.detail.candidates.panel-actions.actions.download.description"
            htmlSafe=true
          }}
        </p>
      </div>
      <div class="panel-actions__button">
        <PixButtonLink
          href="{{@session.urlToDownloadCandidatesImportTemplate}}"
          target="_blank"
          rel="noopener noreferrer"
          download
        >
          {{t "pages.sessions.detail.candidates.panel-actions.actions.download.label"}}
        </PixButtonLink>
      </div>
    </div>
    <div class="panel-actions__action-row">
      {{#if @importAllowed}}
        <div class="panel-actions__action-icon">
          <FaIcon @icon="cloud-upload-alt" />
        </div>
        <div class="panel-actions__description">
          <h4 class="panel-actions__title">{{t
              "pages.sessions.detail.candidates.panel-actions.actions.upload.extra-information"
            }}</h4>
          <p class="panel-actions-description__information">
            {{t "pages.sessions.detail.candidates.panel-actions.actions.upload.description" htmlSafe=true}}
          </p>
        </div>
        <div class="panel-actions__button">
          <PixButtonUpload @id="upload-attendance-sheet" @onChange={{this.importCertificationCandidates}} accept=".ods">
            {{t "pages.sessions.detail.candidates.panel-actions.actions.upload.label"}}
          </PixButtonUpload>
        </div>
      {{else}}
        <div class="panel-actions__action-icon">
          <FaIcon @icon="exclamation-circle" class="panel-actions__warning-icon" />
        </div>
        <div class="panel-actions__description">
          <strong class="panel-actions__warning">
            {{t "pages.sessions.detail.candidates.panel-actions.warning" htmlSafe=true}}
          </strong>
        </div>
      {{/if}}
    </div>
  </div>
</div>