<div class="panel panel-actions">
  <div class="content-text">
    <div class="panel-actions__header">
      <PixIcon @name="info" @plainIcon={{true}} @ariaHidden={{true}} class="panel-actions__header-icon" />
      <h3 class="panel-actions__header-title">{{t "pages.sessions.detail.candidates.panel-actions.title"}}</h3>
    </div>
    <div class="panel-actions__action-row">
      <PixIcon @name="download" @ariaHidden={{true}} class="panel-actions__action-icon" />
      <div class="panel-actions__description">
        <h4 class="panel-actions__title">{{t
            "pages.sessions.detail.candidates.panel-actions.actions.download.extra-information"
          }}</h4>
        <p class="panel-actions-description__information">{{t
            "pages.sessions.detail.candidates.panel-actions.actions.download.description"
            htmlSafe=true
          }}
        </p>
      </div>
      <div class="panel-actions__button">
        <PixButton @triggerAction={{@fetchCandidatesImportTemplateAction}} target="_blank">
          {{t "pages.sessions.detail.candidates.panel-actions.actions.download.label"}}
        </PixButton>
      </div>
    </div>
    <div class="panel-actions__action-row">
      {{#if @importAllowed}}
        <div class="panel-actions__action-icon">
          <PixIcon @name="upload" @ariaHidden={{true}} class="panel-actions__action-icon" />
        </div>
        <div class="panel-actions__description">
          <h4 class="panel-actions__title">{{t
              "pages.sessions.detail.candidates.panel-actions.actions.upload.extra-information"
            }}</h4>
          <p class="panel-actions-description__information">
            {{t "pages.sessions.detail.candidates.panel-actions.actions.upload.description" htmlSafe=true}}
          </p>
        </div>
        <div class="panel-actions__button">
          <PixButtonUpload @id="upload-attendance-sheet" @onChange={{this.importCertificationCandidates}} accept=".ods">
            {{t "pages.sessions.detail.candidates.panel-actions.actions.upload.label"}}
          </PixButtonUpload>
        </div>
      {{else}}
        <PixIcon @name="error" @plainIcon={{true}} @ariaHidden={{true}} class="panel-actions__warning-icon" />
        <div class="panel-actions__description">
          <strong class="panel-actions__warning">
            {{t "pages.sessions.detail.candidates.panel-actions.warning" htmlSafe=true}}
          </strong>
        </div>
      {{/if}}
    </div>
  </div>
</div>