<div class="login">

  <header class="login__header">
    <img src="/pix-certif-logo.svg" alt="Pix Certif" />

    <h1 class="login-header__title">{{t "pages.login.title"}}</h1>

    <p class="login-header__information paragraph">
      {{t "pages.login.accessible-to"}}
    </p>

    {{#if @hasInvitationAlreadyBeenAccepted}}
      <p class="login-header__invitation-error">{{t "pages.login.errors.invitation-already-accepted" htmlSafe=true}}</p>
    {{/if}}

    {{#if @isInvitationCancelled}}
      <p class="login-header__invitation-error">{{t "pages.login.errors.invitation-was-cancelled" htmlSafe=true}}</p>
    {{/if}}
  </header>

  <main class="login__main">

    <form class="login-main__form" {{on "submit" this.authenticate}}>

      <p class="login-main-form__mandatory-information paragraph">
        {{t "common.form-errors.mandatory-all-fields"}}
      </p>

      <PixInput
        @id="login-email"
        name="login"
        @label={{t "common.forms.login.email"}}
        autocomplete="email"
        type="email"
        required="true"
        {{on "input" this.setEmail}}
      />

      <PixInputPassword
        @id="login-password"
        name="password"
        @label={{t "common.forms.login.password"}}
        autocomplete="current-password"
        required="true"
        {{on "input" this.setPassword}}
      />

      {{#if this.isErrorMessagePresent}}
        <div class="error-message">
          <p>{{this.errorMessage}}</p>
        </div>
      {{/if}}

      <PixButton @type="submit">
        {{t "pages.login.actions.login.label"}}
      </PixButton>

      <div class="login-main-form__forgotten-password">
        <a href="https://app.pix.fr/mot-de-passe-oublie" target="_blank" rel="noopener noreferrer">{{t
            "common.forms.login.forgot-password"
          }}</a>
      </div>
    </form>
  </main>
</div>