<div class="login-form">

  <div>
    <img src="/pix-certif-logo.svg">
  </div>

  <div>

    <h1 class="login-form__title">Connectez-vous</h1>

    <div class="login-form__information paragraph">
      La certification Pix permet d’obtenir un profil de compétences certifié reconnu par l’État et le monde professionnel.
    </div>

    {{#if this.isErrorMessagePresent}}
      <div id="login-form-error-message" class="login-form__error-message error-message">
        {{this.errorMessage}}
      </div>
    {{/if}}

    <form {{on 'submit' this.authenticate}} >

      <div class="login-form__input-container">
        <label for="login-email" class="label">Adresse e-mail</label>
        <Input
          @id="login-email"
          @name="login"
          @type="email"
          @class="input"
          @value={{this.email}}
          @autocomplete="username"
          @required="true"
        />
      </div>

      <div class="login-form__input-container">
        <label for="login-password" class="label">Mot de passe</label>
        <div class="login-form__input-field">
          <Input
            @id="login-password"
            @name="password"
            @type={{this.passwordInputType}}
            @class="input"
            @value={{this.password}}
            @autocomplete="current-password"
            @required="true"
          />
          <button type="button" aria-label="rendre le mot de passe lisible" class="login-form__icon" {{action 'togglePasswordVisibility'}} >
            {{#if this.isPasswordVisible}}
              <div tabindex="-1" onmousedown={{this.togglePasswordVisibility}}>{{fa-icon 'eye' class="fa-fw login-form-icon__eye"}}</div>
            {{else}}
              <div tabindex="-1" onmousedown={{this.togglePasswordVisibility}}>{{fa-icon 'eye-slash' class="fa-fw login-form-icon__eye"}}</div>
            {{/if}}
          </button>
        </div>
      </div>

      <div class="login-form__input-container">
        <button type="submit" class="button login-form__button">Je me connecte</button>
      </div>

      <div class="login-form__forgotten-password one-line-text">
        <a href="https://app.pix.fr/mot-de-passe-oublie" target="_blank" rel="noopener noreferrer" >Mot de passe oublié ?</a>
      </div>

    </form>

    </div>

</div>
