<div class="login-session-supervisor-form">

  <img src="/illu-espace-surveillant.svg" alt="" role="presentation" />

  <h1 class="login-session-supervisor-form__title">{{t "pages.session-supervising.login.form.title"}}</h1>

  <h2 class="login-session-supervisor-form__subtitle">{{t "pages.session-supervising.login.form.sub-title"}}</h2>

  <p class="login-session-supervisor-form__required-fields-notice">{{t "common.forms.mandatory-all-fields"}}</p>

  {{#if this.errorMessage}}
    <p
      id="login-session-supervisor-form-error-message"
      class="login-session-supervisor-form__error-message error-message"
    >
      {{this.errorMessage}}
    </p>
  {{/if}}

  <form class="login-session-supervisor-form__form" {{on "submit" this.superviseSession}}>
    <PixInput
      @id="session-id"
      @label={{t "pages.session-supervising.login.form.session-number"}}
      type="number"
      {{on "input" this.setSessionId}}
    />

    <PixInputPassword
      @id="session-password"
      @label={{t "pages.session-supervising.login.form.session-password.label"}}
      @ariaLabel={{t "pages.session-supervising.login.form.session-password.aria-label"}}
      @information={{t "pages.session-supervising.login.form.example"}}
      @prefix="C-"
      placeholder="XXXXXX"
      {{on "input" this.setSupervisorPassword}}
    />

    <PixButton @type="submit">
      {{t "pages.session-supervising.login.form.actions.invigilate"}}
    </PixButton>
  </form>

  <p class="login-session-supervisor-form__description">
    {{t "pages.session-supervising.login.form.description"}}
  </p>
</div>