<div role="tabpanel">
  <div class="panel">
    <div class="table content-text content-text--small">
      <table>
        <thead>
          <tr>
            <th class="table__column table__column--medium">{{t "common.labels.candidate.lastname"}}</th>
            <th class="table__column table__column--medium">{{t "common.labels.candidate.firstname"}}</th>
            <th class="table__column table__column--medium">{{t "common.labels.candidate.role"}}</th>
            {{#if this.shouldDisplayRefererColumn}}
              <th class="table__column table__column--medium">{{t "pages.team.referer"}}</th>
            {{/if}}
          </tr>
        </thead>

        <tbody>
          {{#each this.orderedMemberListWithRefererFirst as |member|}}
            <MembersListItem @member={{member}} @shouldDisplayRefererColumn={{this.shouldDisplayRefererColumn}} />
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>