<tr aria-label="Membres du centre de certification">
  <td>{{@member.lastName}}</td>
  <td>{{@member.firstName}}</td>
  <td>
    {{#if this.isEditionMode}}
      <div id="selectCertificationCenterRole">
        <PixSelect
          class="table__input"
          @label="{{t 'pages.team.members.actions.select-role.label'}}"
          @screenReaderOnly={{true}}
          @hideDefaultOption={{true}}
          @placeholder="{{t 'pages.team.members.actions.select-role.label'}}"
          @onChange={{this.setRoleSelection}}
          @options={{this.roleOptions}}
          @value={{@member.role}}
        />
      </div>
    {{else}}
      {{@member.roleLabel}}
    {{/if}}
  </td>
  {{#if this.shouldDisplayManagingColumn}}
    <td>
      {{#if this.shouldDisplayMemberManageButton}}
        <Dropdown::IconTrigger
          @icon="ellipsis-vertical"
          @dropdownButtonClass="zone-edit-role__dropdown-button"
          @dropdownContentClass="managing-member__dropdown-content"
          @ariaLabel={{t "pages.team.members.actions.manage"}}
        >
          {{#if this.shouldDisplayChangeRoleOption}}
            <Dropdown::Item @onClick={{this.toggleEditionMode}}>
              {{t "pages.team.members.actions.edit-role"}}
            </Dropdown::Item>
          {{/if}}
        </Dropdown::IconTrigger>
      {{/if}}
      {{#if this.isEditionMode}}
        <div class="members-list-item__managing-role">
          <PixButton
            id="save-certification-center-role"
            @triggerAction={{fn this.updateMember @member}}
            @size="small"
            aria-label={{t "pages.team.members.actions.save"}}
          >
            {{t "pages.team.members.actions.save"}}
          </PixButton>
          <PixIconButton
            @icon="xmark"
            id="cancel-update-certification-center-role"
            aria-label="{{t 'common.actions.cancel'}}"
            @triggerAction={{this.cancelUpdateRoleOfMember}}
            @withBackground={{false}}
            @color="dark-grey"
          />
        </div>
      {{/if}}
    </td>
  {{/if}}
  {{#if @shouldDisplayRefererColumn}}
    <td>
      {{#if @member.isReferer}}
        <div class="members-list-item__is-referer">
          <PixTag class="members-list-item__tag" @color="blue-light">
            {{t "pages.team.pix-referer"}}
          </PixTag>
          <PixTooltip class="members-list-item__tool-tip" @isWide="true" @position="left">
            <:triggerElement>
              <span tabindex="0">
                <FaIcon @icon="info-circle" aria-label={{t "pages.team.pix-referer-tooltip"}} />
              </span>
            </:triggerElement>
            <:tooltip>
              {{t "pages.team.pix-referer-tooltip"}}
            </:tooltip>
          </PixTooltip>
        </div>
      {{/if}}
    </td>
  {{/if}}
</tr>