<div role="tabpanel">
  <div class="panel">
    <div class="table content-text content-text--small">
      <table>
        <thead>
          <tr>
            <Table::Header>{{t "common.labels.candidate.lastname"}}</Table::Header>
            <Table::Header>{{t "common.labels.candidate.firstname"}}</Table::Header>
            <Table::Header>{{t "common.labels.candidate.role"}}</Table::Header>
            {{#if this.shouldDisplayManagingColumn}}
              <Table::Header>{{t "pages.team.table-headers.actions"}}</Table::Header>
            {{/if}}
            {{#if this.shouldDisplayRefererColumn}}
              <Table::Header>{{t "pages.team.referer"}}</Table::Header>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each @members as |member|}}
            <MembersListItem
              @member={{member}}
              @shouldDisplayRefererColumn={{this.shouldDisplayRefererColumn}}
              @isMultipleAdminsAvailable={{this.isMultipleAdminsAvailable}}
              @onLeaveCertificationCenterButtonClicked={{this.openLeaveCertificationCenterModal}}
            />
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<Team::Modal::LeaveCertificationCenter
  @certificationCenterName={{this.currentUser.currentAllowedCertificationCenterAccess.name}}
  @isOpen={{this.isLeaveCertificationCenterModalOpen}}
  @onClose={{this.closeLeaveCertificationCenterModal}}
  @onSubmit={{this.leaveCertificationCenter}}
/>