<PixModal
  @title={{t "pages.sessions.detail.candidates.detail-modal.title"}}
  @onCloseButtonClick={{@closeModal}}
  class="new-certification-candidate-modal"
  @showModal={{@showModal}}
>
  <:content>
    <form
      id="new-certification-candidate-form"
      class="new-certification-candidate-modal__form"
      {{on "submit" this.onFormSubmit}}
    >

      <p class="new-certification-candidate-modal__form__required-fields-mention">
        {{t "common.forms.mandatory-fields" htmlSafe=true}}
      </p>

      <div class="new-certification-candidate-modal__form__field new-certification-candidate-modal__form__field-double">
        <label for="last-name" class="label">
          <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
          {{t "common.forms.common-labels.birth-name"}}
        </label>
        <Input
          id="last-name"
          @type="text"
          class="input"
          @value={{@candidateData.lastName}}
          {{on "input" (fn @updateCandidateData @candidateData "lastName")}}
          {{did-insert this.focus}}
          required
        />
      </div>

      <div class="new-certification-candidate-modal__form__field new-certification-candidate-modal__form__field-double">
        <label for="first-name" class="label">
          <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
          {{t "common.forms.common-labels.firstname.label"}}
        </label>
        <Input
          id="first-name"
          @type="text"
          class="input"
          @value={{@candidateData.firstName}}
          {{on "input" (fn @updateCandidateData @candidateData "firstName")}}
          required
        />
      </div>

      <div class="new-certification-candidate-modal__form__field">
        <fieldset>
          <legend class="label">
            <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
            {{t "common.forms.common-labels.gender.title"}}
          </legend>
          <div class="radio-button-container">
            <input
              type="radio"
              id="female"
              value="F"
              name="sex"
              required
              {{on "click" (fn @updateCandidateData @candidateData "sex")}}
            />
            <label class="radio-button-label" for="female">
              {{t "common.forms.common-labels.gender.woman"}}
            </label>
            <input
              type="radio"
              id="male"
              value="M"
              name="sex"
              {{on "click" (fn @updateCandidateData @candidateData "sex")}}
            />
            <label class="radio-button-label" for="male">
              {{t "common.forms.common-labels.gender.man"}}
            </label>
          </div>
        </fieldset>
      </div>

      <div class="new-certification-candidate-modal__form__field">
        <label for="birthdate" class="label">
          <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
          {{t "common.forms.common-labels.birth-date"}}
        </label>
        <OneWayDateMask
          required
          @placeholder="dd/mm/yyyy"
          @options={{this.query}}
          class="input"
          id="birthdate"
          @value={{this.maskedBirthdate}}
          @update={{this.updateBirthdate}}
        />
      </div>

      <div class="new-certification-candidate-modal__form__field">
        <label for="birth-country" class="label">
          <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
          {{t "common.forms.common-labels.birth-country"}}
        </label>
        <PixSelect
          @id="birth-country"
          class="birth-country-selector"
          @options={{this.countryOptions}}
          @onChange={{this.selectBirthCountry}}
          @value={{this.selectedCountryInseeCode}}
          @hideDefaultOption={{true}}
          required
        />
      </div>

      {{#if this.isBirthGeoCodeRequired}}
        <div class="new-certification-candidate-modal__form__field">
          <fieldset>
            <legend class="label">
              <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
              {{t "common.forms.common-labels.birth-geographical-code"}}
            </legend>
            <div class="radio-button-container">
              <input
                type="radio"
                id="insee-code-choice"
                name="birth-geo-code-option"
                value="insee"
                checked="checked"
                {{on "click" (fn this.selectBirthGeoCodeOption "insee")}}
                required
              />
              <label class="radio-button-label" for="insee-code-choice">
                {{t "common.forms.common-labels.insee-code"}}
              </label>
              <input
                type="radio"
                id="postal-code-choice"
                name="birth-geo-code-option"
                value="postal"
                {{on "click" (fn this.selectBirthGeoCodeOption "postal")}}
              />
              <label class="radio-button-label" for="postal-code-choice">
                {{t "common.forms.common-labels.postcode"}}
              </label>
            </div>
          </fieldset>
        </div>
      {{/if}}

      {{#if this.isBirthInseeCodeRequired}}
        <div class="new-certification-candidate-modal__form__field">
          <label for="birth-insee-code" class="label">
            <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
            {{t "common.forms.common-labels.birth-city-insee-code"}}
          </label>
          <Input
            id="birth-insee-code"
            @type="text"
            maxlength="5"
            class="input"
            @value={{@candidateData.birthInseeCode}}
            required
            {{on "input" (fn @updateCandidateData @candidateData "birthInseeCode")}}
          />
        </div>
      {{/if}}

      {{#if this.isBirthPostalCodeRequired}}
        <div
          class="new-certification-candidate-modal__form__field new-certification-candidate-modal__form__field-double"
        >
          <label for="birth-postal-code" class="label">
            <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
            {{t "common.forms.common-labels.birth-city-postcode"}}
          </label>
          <Input
            id="birth-postal-code"
            @type="text"
            maxlength="5"
            class="input"
            @value={{@candidateData.birthPostalCode}}
            required
            {{on "input" (fn @updateCandidateData @candidateData "birthPostalCode")}}
          />
        </div>
      {{/if}}

      {{#if this.isBirthCityRequired}}
        <div
          class="new-certification-candidate-modal__form__field new-certification-candidate-modal__form__field-double"
        >
          <label for="birth-city" class="label">
            <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
            {{t "common.forms.common-labels.birth-city"}}
          </label>
          <Input
            id="birth-city"
            @type="text"
            class="input"
            @value={{@candidateData.birthCity}}
            required
            {{on "input" (fn @updateCandidateData @candidateData "birthCity")}}
          />
        </div>
      {{/if}}

      <div class="new-certification-candidate-modal__form__field">
        <label for="external-id" class="label">{{t "common.forms.certification-labels.external-id"}}</label>
        <Input
          id="external-id"
          @type="text"
          class="input"
          @value={{@candidateData.externalId}}
          {{on "input" (fn @updateCandidateData @candidateData "externalId")}}
        />
      </div>

      <div class="new-certification-candidate-modal__form__field">
        <label for="extra-time-percentage" class="label">
          {{t "common.forms.certification-labels.extratime-percentage"}}
        </label>
        <Input
          id="extra-time-percentage"
          @type="number"
          class="input {{if this.validation.email.hasError 'input--error'}}"
          @value={{@candidateData.extraTimePercentage}}
          {{on "input" (fn @updateCandidateData @candidateData "extraTimePercentage")}}
        />
      </div>

      <div id="recipient-email-container" class="new-certification-candidate-modal__form__field">
        <label for="result-recipient-email" class="label">
          {{t "common.forms.certification-labels.email-results"}}
        </label>
        <Input
          id="result-recipient-email"
          @type="email"
          class="input"
          @value={{@candidateData.resultRecipientEmail}}
          {{on "input" (fn @updateCandidateData @candidateData "resultRecipientEmail")}}
        />
        <div class="new-certification-candidate-modal__form__field__info-panel">
          <FaIcon @icon="info-circle" />
          <span>{{t "pages.sessions.detail.candidates.add-modal.info-panel" htmlSafe=true}}</span>
        </div>
      </div>

      <div id="email-container" class="new-certification-candidate-modal__form__field">
        <label for="email" class="label">
          {{t "common.forms.certification-labels.email-convocation"}}
        </label>
        <Input
          id="email"
          @type="email"
          class="input"
          @value={{@candidateData.email}}
          {{on "input" (fn @updateCandidateData @candidateData "email")}}
        />
      </div>

      {{#if @shouldDisplayPaymentOptions}}
        <div
          class="new-certification-candidate-modal__form__field new-certification-candidate-modal__form__field-double"
        >
          <label for="billing-mode" class="label">
            <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
            {{t "common.forms.certification-labels.pricing"}}
          </label>
          <PixSelect
            @id="billing-mode"
            class="birth-country-selector"
            @options={{this.billingModeOptions}}
            @onChange={{fn @updateCandidateDataFromValue @candidateData "billingMode"}}
            @value={{@candidateData.billingMode}}
            @placeholder={{this.billingMenuPlaceholder}}
            @hideDefaultOption={{true}}
            required
          />
        </div>
        <div
          class="new-certification-candidate-modal__form__field new-certification-candidate-modal__form__field-double new-certification-candidate-modal__form__field__tooltip"
        >
          <label for="prepayment-code" class="label">
            {{t "common.forms.certification-labels.prepayment-code"}}
          </label>
          <PixTooltip @id="tooltip-prepayment-code" @position="left">
            <:triggerElement>
              <FaIcon
                @icon="info-circle"
                tabindex="0"
                aria-describedby="tooltip-prepayment-code"
                aria-label={{t "pages.sessions.detail.candidates.add-modal.prepayment-information"}}
              />
            </:triggerElement>
            <:tooltip>
              {{t "pages.sessions.detail.candidates.add-modal.prepayment-tooltip" htmlSafe=true}}
            </:tooltip>
          </PixTooltip>
          <Input
            id="prepayment-code"
            @type="text"
            class="input"
            @value={{@candidateData.prepaymentCode}}
            {{on "input" (fn @updateCandidateData @candidateData "prepaymentCode")}}
          />
        </div>
      {{/if}}

      {{#if this.complementaryCertifications.length}}
        <div class="new-certification-candidate-modal__form__field">
          <span class="label">
            {{t "common.forms.certification-labels.additional-certification"}}
          </span>
          <div class="complementary-certifications-checkbox-list">
            <fieldset id="complementary-certifications">
              <label for="no-complementaryCertification">
                <input
                  type="radio"
                  name="complementary-certifications"
                  id={{concat "no-complementaryCertification"}}
                  checked="checked"
                  value="none"
                  {{on "input" this.updateComplementaryCertification}}
                />
                {{t "common.forms.common-labels.none"}}
              </label>
              {{#each this.complementaryCertifications as |complementaryCertification index|}}
                <label for={{concat "complementaryCertification_" index}}>
                  <input
                    type="radio"
                    name="complementary-certifications"
                    id={{concat "complementaryCertification_" index}}
                    {{on "input" (fn this.updateComplementaryCertification complementaryCertification)}}
                  />
                  {{complementaryCertification.label}}
                </label>
              {{/each}}
            </fieldset>
          </div>
        </div>
      {{/if}}
    </form>
  </:content>
  <:footer>
    <PixButton
      aria-label={{t "pages.sessions.detail.candidates.add-modal.actions.close-extra-information"}}
      @triggerAction={{@closeModal}}
      @backgroundColor="transparent-light"
      @isBorderVisible="true"
    >
      {{t "common.actions.close"}}
    </PixButton>
    <PixButton
      @type="submit"
      @isLoading={{this.isLoading}}
      @isDisabled={{this.isLoading}}
      form="new-certification-candidate-form"
    >
      {{t "pages.sessions.detail.candidates.add-modal.actions.enrol-the-candidate"}}
    </PixButton>
  </:footer>
</PixModal>