<PixModal
  @title={{t "pages.sessions.detail.candidates.detail-modal.title"}}
  @onCloseButtonClick={{this.closeModal}}
  class="new-certification-candidate-modal"
  @showModal={{@showModal}}
>
  <:content>
    <form
      id="new-certification-candidate-form"
      class="new-certification-candidate-modal__form"
      {{on "submit" this.onFormSubmit}}
    >

      <p class="new-certification-candidate-modal-form__required-fields-mention">
        {{t "common.forms.mandatory-fields" htmlSafe=true}}
      </p>

      <div class="new-certification-candidate-modal-form__field">
        <PixInput
          @id="last-name"
          {{on "input" (fn @updateCandidateData @candidateData "lastName")}}
          required
          aria-required={{true}}
          autocomplete="off"
          @requiredLabel={{t "common.forms.required"}}
        >
          <:label>{{t "common.labels.candidate.birth-name"}}</:label>
        </PixInput>
        <PixInput
          @id="first-name"
          {{on "input" (fn @updateCandidateData @candidateData "firstName")}}
          required
          aria-required={{true}}
          autocomplete="off"
          @requiredLabel={{t "common.forms.required"}}
        >
          <:label>{{t "common.labels.candidate.firstname"}}</:label>
        </PixInput>
      </div>

      <div class="new-certification-candidate-modal-form__field">
        <fieldset>
          <legend class="label">
            <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
            {{t "common.labels.candidate.gender.title"}}
          </legend>
          <div class="radio-button-container">
            <PixRadioButton
              @value="F"
              name="sex"
              required
              {{on "change" (fn @updateCandidateData @candidateData "sex")}}
            >
              <:label>{{t "common.labels.candidate.gender.woman"}}</:label>
            </PixRadioButton>
            <PixRadioButton
              @value="M"
              name="sex"
              required
              {{on "change" (fn @updateCandidateData @candidateData "sex")}}
            >
              <:label>{{t "common.labels.candidate.gender.man"}}</:label>
            </PixRadioButton>
          </div>
        </fieldset>
      </div>

      <div class="new-certification-candidate-modal-form__field">
        <PixInput
          @id="birth-name"
          placeholder={{t "common.labels.candidate.birth-date-example"}}
          class="ember-text-field ember-view input"
          {{on "change" this.updateBirthdate}}
          {{inputmask
            alias="datetime"
            inputFormat="dd/mm/yyyy"
            outputFormat="yyyy-mm-dd"
            placeholder="_"
            registerAPI=this.saveApi
          }}
          required
          aria-required={{true}}
          autocomplete="off"
          @requiredLabel={{t "common.forms.required"}}
        >
          <:label>{{t "common.labels.candidate.birth-date"}}</:label>
        </PixInput>
      </div>

      <div class="new-certification-candidate-modal-form__field">
        <PixSelect
          @id="birth-country"
          @options={{this.countryOptions}}
          @onChange={{this.selectBirthCountry}}
          @value={{this.selectedCountryInseeCode}}
          @hideDefaultOption={{true}}
          @requiredLabel={{t "common.forms.required"}}
          required
        >
          <:label>{{t "common.labels.candidate.birth-country"}}</:label>
        </PixSelect>
      </div>

      {{#if this.isBirthGeoCodeRequired}}
        <div class="new-certification-candidate-modal-form__field">
          <fieldset>
            <legend class="label">
              <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
              {{t "common.labels.candidate.birth-geographical-code"}}
            </legend>
            <div class="radio-button-container">
              <PixRadioButton
                name="birth-geo-code-option"
                @value="insee"
                checked="checked"
                {{on "change" (fn this.selectBirthGeoCodeOption "insee")}}
                required
              >
                <:label>{{t "common.labels.candidate.insee-code"}}</:label>
              </PixRadioButton>
              <PixRadioButton
                name="birth-geo-code-option"
                @value="postal"
                {{on "change" (fn this.selectBirthGeoCodeOption "postal")}}
                required
              >
                <:label>{{t "common.labels.candidate.postcode"}}</:label>
              </PixRadioButton>
            </div>
          </fieldset>
        </div>
      {{/if}}

      {{#if this.isBirthInseeCodeRequired}}
        <div class="new-certification-candidate-modal-form__field">
          <PixInput
            @id="birth-insee-code"
            {{on "input" (fn @updateCandidateData @candidateData "birthInseeCode")}}
            required
            aria-required={{true}}
            autocomplete="off"
            maxlength="5"
            @requiredLabel={{t "common.forms.required"}}
          >
            <:label>{{t "common.labels.candidate.birth-city-insee-code"}}</:label>
          </PixInput>
        </div>
      {{/if}}

      {{#if this.isBirthPostalCodeRequired}}
        <div class="new-certification-candidate-modal-form__field">
          <PixInput
            @id="birth-postal-code"
            {{on "input" (fn @updateCandidateData @candidateData "birthPostalCode")}}
            required
            aria-required={{true}}
            autocomplete="off"
            maxlength="5"
            @requiredLabel={{t "common.forms.required"}}
          >
            <:label>{{t "common.labels.candidate.birth-city-postcode"}}</:label>
          </PixInput>
        </div>
      {{/if}}

      {{#if this.isBirthCityRequired}}
        <div class="new-certification-candidate-modal-form__field">
          <PixInput
            @id="birth-city"
            {{on "input" (fn @updateCandidateData @candidateData "birthCity")}}
            required
            aria-required={{true}}
            autocomplete="off"
            @requiredLabel={{t "common.forms.required"}}
          >
            <:label>{{t "common.labels.candidate.birth-city"}}</:label>
          </PixInput>
        </div>
      {{/if}}

      <div class="new-certification-candidate-modal-form__field">
        <PixInput
          @id="external-id"
          {{on "input" (fn @updateCandidateData @candidateData "externalId")}}
          autocomplete="off"
        >
          <:label>{{t "common.forms.certification-labels.external-id"}}</:label>
        </PixInput>
      </div>

      <div class="new-certification-candidate-modal-form__field">
        <PixInput
          @id="extra-time-percentage"
          class="input {{if this.validation.email.hasError 'input--error'}}"
          {{on "input" (fn @updateCandidateData @candidateData "extraTimePercentage")}}
          autocomplete="off"
        >
          <:label>{{t "common.forms.certification-labels.extratime-percentage"}}</:label>
        </PixInput>
      </div>

      <div class="new-certification-candidate-modal-form__field">
        <PixInput
          @id="result-recipient-email"
          {{on "input" (fn @updateCandidateData @candidateData "resultRecipientEmail")}}
          autocomplete="off"
        >
          <:label>{{t "common.forms.certification-labels.email-results"}}</:label>
        </PixInput>
      </div>

      <PixMessage class="new-certification-candidate-modal-form__info-panel" @withIcon={{true}}>
        {{t "pages.sessions.detail.candidates.add-modal.info-panel" htmlSafe=true}}
      </PixMessage>

      <div class="new-certification-candidate-modal-form__field">
        <PixInput
          @id="email"
          @type="email"
          {{on "input" (fn @updateCandidateData @candidateData "resultRecipientEmail")}}
          autocomplete="off"
        >
          <:label>{{t "common.forms.certification-labels.email-convocation"}}</:label>
        </PixInput>
      </div>

      {{#if @shouldDisplayPaymentOptions}}
        <div class="new-certification-candidate-modal-form__field">
          <PixSelect
            @id="billing-mode"
            @options={{this.billingModeOptions}}
            @onChange={{fn @updateCandidateDataFromValue @candidateData "billingMode"}}
            @value={{@candidateData.billingMode}}
            @placeholder={{this.billingMenuPlaceholder}}
            @hideDefaultOption={{true}}
            @requiredLabel={{t "common.forms.required"}}
          >
            <:label>{{t "common.forms.certification-labels.pricing"}}</:label>
          </PixSelect>

          <div class="new-certification-candidate-modal-form__tooltip">
            <label for="prepayment-code" class="label">
              {{t "common.forms.certification-labels.prepayment-code"}}
            </label>
            <PixTooltip @id="tooltip-prepayment-code" @position="left">
              <:triggerElement>
                <FaIcon
                  @icon="info-circle"
                  tabindex="0"
                  aria-describedby="tooltip-prepayment-code"
                  aria-label={{t "pages.sessions.detail.candidates.add-modal.prepayment-information"}}
                />
              </:triggerElement>
              <:tooltip>
                {{t "pages.sessions.detail.candidates.add-modal.prepayment-tooltip" htmlSafe=true}}
              </:tooltip>
            </PixTooltip>
            <Input
              id="prepayment-code"
              @type="text"
              class="input"
              @value={{@candidateData.prepaymentCode}}
              {{on "input" (fn @updateCandidateData @candidateData "prepaymentCode")}}
            />
          </div>
        </div>
      {{/if}}

      {{#if this.complementaryCertificationsHabilitations.length}}
        <div class="new-certification-candidate-modal-form__field">
          <fieldset id="complementary-certifications">
            <legend class="label">
              {{t "common.forms.certification-labels.additional-certification"}}
            </legend>
            <PixRadioButton name="complementary-certifications" {{on "change" this.updateComplementaryCertification}}>
              <:label>{{t "common.labels.candidate.none"}}</:label>
            </PixRadioButton>
            {{#each this.complementaryCertificationsHabilitations as |complementaryCertificationHabilitation|}}
              <PixRadioButton
                name="complementary-certifications"
                {{on "change" (fn this.updateComplementaryCertification complementaryCertificationHabilitation)}}
              >
                <:label>{{complementaryCertificationHabilitation.label}}</:label>
              </PixRadioButton>
            {{/each}}
          </fieldset>
        </div>
      {{/if}}
    </form>
  </:content>
  <:footer>
    <PixButton
      aria-label={{t "pages.sessions.detail.candidates.add-modal.actions.close-extra-information"}}
      @triggerAction={{this.closeModal}}
      @backgroundColor="transparent-light"
      @isBorderVisible="true"
    >
      {{t "common.actions.close"}}
    </PixButton>
    <PixButton
      @type="submit"
      @isLoading={{this.isLoading}}
      @isDisabled={{this.isLoading}}
      form="new-certification-candidate-form"
    >
      {{t "pages.sessions.detail.candidates.add-modal.actions.enrol-the-candidate"}}
    </PixButton>
  </:footer>
</PixModal>