<div class="no-session-panel">
  <div class="no-session-panel__explain-create-session">
    <img src="{{this.rootURL}}/icons/empty-list-session.svg" alt={{t "pages.sessions.list.empty.header-alt"}} />
    <h1 class="page-title">{{t "pages.sessions.list.empty.header"}}</h1>

    <div class="no-session-panel__link-to-create">
      <PixButtonLink @route="authenticated.sessions.new">
        {{t "pages.sessions.list.empty.session-creation"}}
      </PixButtonLink>
      {{#if this.shouldRenderImportTemplateButton}}
        <PixButtonLink @route="authenticated.sessions.import">
          {{t "pages.sessions.list.empty.session-multiple-creation"}}
        </PixButtonLink>
      {{/if}}
    </div>
  </div>
</div>