<PixModal
  class="select-referer-modal"
  @title={{"Sélectionner le référent Pix"}}
  @onCloseButtonClick={{@toggleRefererModal}}
>
  <:content>
    <div class="select-referer-modal__referer-selector">
      <label for="referer" class="label">
        Séléctionner le référent Pix
      </label>
      <PixSelect
        id="referer"
        @options={{@options}}
        @onChange={{this.selectBirthCountry}}
        @selectedOption={{this.defaultCountryOption}}
      />
    </div>
    <div class="select-referer-modal__actions">
      <PixButton
        aria-label="Annuler la sélection de référent"
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @triggerAction={{@toggleRefererModal}}
      >
        Annuler
      </PixButton>
      <PixButton
        class="select-referer-modal__validation-button"
        aria-label="Valider la sélection de référent"
        @triggerAction={{@confirm}}
        @loadingColor="white"
        @backgroundColor="blue"
      >
        Valider
      </PixButton>
    </div>
  </:content>
  <:footer>
    <p class="select-referer-modal__description">
      Le Groupement d’intérêt public, sis 21-23 rue des Ardennes 75019 Paris PIX met en œuvre en tant que responsable de
      traitement un traitement de données à caractère personnel portant sur votre adresse email professionnel de
      référent Pix.<br />
      La finalité de ce traitement est la communication des informations nécessaires aux attributions du référent Pix au
      sein du centre de certification agréé. Le traitement de cette données repose sur l’exécution de la convention
      d’agrément de votre centre de certification.<br />
      Les données sont conservées pendant la durée de la convention d’agrément en vigueur entre le GIP Pix et le centre
      habilité auquel vous êtes rattaché.<br />
      Vous disposez de droits personnels, droits d'accès, de rectification et d’effacement des données, le droit de
      limitation ou d’opposition au traitement pour motif légitime et le droit d’introduire une réclamation auprès d’une
      autorité de contrôle ainsi que le droit de définir des directives relatives à la conservation, à l'effacement et à
      la communication de vos données à caractère personnel en cas de décès que vous pouvez exercer par courriel auprès
      de notre DPD en adressant votre demande à l’adresse électronique suivante : dpd@pix.fr .<br />
      Vous disposez de la possibilité d’introduire une réclamation auprès de Commission nationale Informatique et
      libertés « CNIL » à l’adresse suivante : 3 Place de Fontenoy – TSA 80715 – 75334 Paris Cedex 07.
    </p>
  </:footer>
</PixModal>