<PixModal
  class="select-referer-modal"
  @title={{(t "pages.team.select-referer-modal.title")}}
  @onCloseButtonClick={{@toggleRefererModal}}
  @showModal={{@showModal}}
>
  <:content>
    <div class="select-referer-modal__referer-selector">
      <label for="referer" class="select-referer-modal__label">
        {{t "pages.team.select-referer-modal.label"}}
      </label>
      <PixSelect
        @id="referer"
        @options={{@options}}
        @value={{@selectedReferer}}
        @placeholder={{(t "pages.team.select-referer-modal.empty-option")}}
        @hideDefaultOption={{true}}
        @onChange={{@onSelectReferer}}
        @emptyOptionNotSelectable={{true}}
      />
    </div>
    <div class="select-referer-modal__actions">
      <PixButton
        aria-label="Annuler la sélection de référent"
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @triggerAction={{@toggleRefererModal}}
      >
        {{t "common.actions.cancel"}}
      </PixButton>
      <PixButton
        class="select-referer-modal__validation-button"
        aria-label="Valider la sélection de référent"
        @triggerAction={{@onValidateReferer}}
        @loadingColor="white"
        @isDisabled={{@noSelectedReferer}}
        @backgroundColor="blue"
      >
        {{t "pages.team.select-referer-modal.validate"}}
      </PixButton>
    </div>
  </:content>
  <:footer>
    <p class="select-referer-modal__description">
      {{t "pages.team.select-referer-modal.description" htmlSafe=true}}
    </p>
  </:footer>
</PixModal>