<div class="table--with-row-clickable session-summary-list" role="tabpanel">
  <div class="panel">
    <div class="table content-text content-text--small">
      <table>
        <thead>
          <tr>
            <th class="table__column table__column--small" scope="col">
              {{t "pages.sessions.list.session-summary.session-number"}}
            </th>
            <th class="table__column table__column--small" scope="col">
              {{t "pages.sessions.list.session-summary.center-name"}}
            </th>
            <th class="table__column table__column--small" scope="col">
              {{t "pages.sessions.list.session-summary.room"}}
            </th>
            <th class="table__column table__column--small" scope="col">
              {{t "pages.sessions.list.session-summary.date"}}
            </th>
            <th class="table__column table__column--small" scope="col">
              {{t "pages.sessions.list.session-summary.time"}}
            </th>
            <th class="table__column table__column--small" scope="col">
              {{t "pages.sessions.list.session-summary.supervisor"}}
            </th>
            <th class="table__column table__column" scope="col">
              {{t "pages.sessions.list.session-summary.enrolled-candidates"}}
            </th>
            <th class="table__column table__column" scope="col">
              {{t "pages.sessions.list.session-summary.effective-candidates"}}
            </th>
            <th class="table__column table__column--small" scope="col">
              {{t "pages.sessions.list.session-summary.status"}}
            </th>
            <th class="table__column table__column--small" scope="col">
              <span class="sr-only">
                {{t "pages.sessions.list.session-summary.actions"}}
              </span>
            </th>
          </tr>
        </thead>

        <tbody>
          {{#each @sessionSummaries as |sessionSummary|}}
            <SessionSummaryRow
              @sessionSummary={{sessionSummary}}
              @goToSessionDetails={{@goToSessionDetails}}
              @openSessionDeletionConfirmModal={{this.openSessionDeletionConfirmModal}}
            />
          {{/each}}
        </tbody>
      </table>
      {{#if (eq @sessionSummaries.length 0)}}
        <div class="table__empty content-text">
          {{t "pages.sessions.list.session-summary.empty-table"}}
        </div>
      {{/if}}
    </div>
  </div>
</div>

<PixPagination @pagination={{@sessionSummaries.meta}} @locale={{this.currentLocale}} />

<SessionDeleteConfirmModal
  @showModal={{this.shouldDisplaySessionDeletionModal}}
  @close={{this.closeSessionDeletionConfirmModal}}
  @sessionId={{this.currentSessionToBeDeletedId}}
  @enrolledCandidatesCount="{{this.currentEnrolledCandidatesCount}}"
  @confirm={{this.deleteSession}}
/>