<div class="panel session-details__clea-results-download">
  <div class="session-details__clea-results-download-grey">
    <div class="session-details__clea-results-download-icon">
      <FaIcon @icon="award" />
    </div>
    <div>
      <h1 class="session-details__clea-results-download-title">
        {{t "pages.sessions.detail.panel-clea.title"}}
      </h1>
      <p class="session-details__clea-results-download-description">
        {{t "pages.sessions.detail.panel-clea.description"}}
        <a class="link" href="https://cleanumerique.org/" target="_blank" rel="noopener noreferrer">
          {{t "pages.sessions.detail.panel-clea.link-text"}}
          <FaIcon @icon="link" /></a>
      </p>

      <PixButton @triggerAction={{this.downloadCleaCertifiedCandidateData}}>
        {{t "pages.sessions.detail.panel-clea.download-button"}}
      </PixButton>
    </div>
  </div>
</div>