<tr
  aria-label="{{t 'pages.sessions.list.session-summary.certification-session'}}"
  {{on "click" (fn @goToSessionDetails @sessionSummary.id)}}
  class="tr--clickable"
>
  <td>
    <LinkTo
      @route="authenticated.sessions.details"
      @model={{@sessionSummary.id}}
      class="session-summary-list__link"
      aria-label="{{t 'pages.sessions.list.session-summary.session-and-id' sessionId=@sessionSummary.id}}"
    >
      {{@sessionSummary.id}}
    </LinkTo>
  </td>
  <td>{{@sessionSummary.address}}</td>
  <td>{{@sessionSummary.room}}</td>
  <td>{{dayjs-format @sessionSummary.date "DD/MM/YYYY" allow-empty=true}}</td>
  <td>{{dayjs-format @sessionSummary.time "HH:mm" inputFormat="HH:mm:ss" allow-empty=true}}</td>
  <td>{{@sessionSummary.examiner}}</td>
  <td>{{@sessionSummary.enrolledCandidatesCount}}</td>
  <td>{{@sessionSummary.effectiveCandidatesCount}}</td>
  <td>{{this.statusLabel}}</td>
  <td>
    <div class="session-summary-list__delete">
      {{#if @sessionSummary.hasEffectiveCandidates}}
        <PixTooltip @position="left" @isInline={{true}} @id="tooltip-delete-session-button">
          <:triggerElement>
            <PixIconButton
              @icon="trash-alt"
              aria-label={{t "pages.sessions.list.session-summary.delete-session" sessionSummaryId=@sessionSummary.id}}
              disabled={{true}}
              aria-describedby="tooltip-delete-session-button"
              @withBackground={{true}}
            />
          </:triggerElement>
          <:tooltip>{{t "pages.sessions.list.session-summary.tooltip-label"}}</:tooltip>
        </PixTooltip>
      {{else}}
        <PixIconButton
          @icon="trash-alt"
          aria-label={{t "pages.sessions.list.session-summary.delete-session" sessionSummaryId=@sessionSummary.id}}
          disabled={{false}}
          @withBackground={{true}}
          @triggerAction={{fn
            @openSessionDeletionConfirmModal
            @sessionSummary.id
            @sessionSummary.enrolledCandidatesCount
          }}
        />
      {{/if}}
    </div>
  </td>
</tr>