<div class="table session-finalization-reports-informations-step">
  <table class="session-finalization-reports-informations-step__table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>N° de certification</th>
        <th>Signalement (à renseigner le cas échéant)</th>
        <th>
          <div class="session-finalization-reports-informations-step__row">
            <div class="session-finalization-reports-informations-step__checker" {{on 'click' (fn @toggleAllCertificationReportsHasSeenEndTestScreen this.hasCheckedSomething)}}>
              <CertifCheckbox @state={{headerCheckboxStatus}}></CertifCheckbox>
            </div>
            Écran de fin du test vu
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each @certificationReports as |report|}}
        <tr>
          <td data-test-id="finalization-report-last-name_{{report.certificationCourseId}}">{{report.lastName}}</td>
          <td data-test-id="finalization-report-first-name_{{report.certificationCourseId}}">{{report.firstName}}</td>
          <td data-test-id="finalization-report-certification-number_{{report.certificationCourseId}}">{{report.certificationCourseId}}</td>
          <td>
            <Textarea
              data-test-id="finalization-report-examiner-comment_{{report.certificationCourseId}}"
              @class="session-finalization-reports-informations-step__textarea"
              @value={{report.examinerComment}}
              {{on 'input' (fn @updateCertificationReportExaminerComment report)}}
              @maxlength={{@examinerCommentMaxLength}}
            />
          </td>
          <td>
            <CertifCheckbox
                    data-test-id="finalization-report-has-seen-end-test-screen_{{report.certificationCourseId}}"
                    @state={{if report.hasSeenEndTestScreen 'checked' 'unchecked'}}
              {{on 'click' (fn @toggleCertificationReportHasSeenEndTestScreen report)}}>
            </CertifCheckbox>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
