<div class="table session-finalization-reports-informations-step">
  <table class="session-finalization-reports-informations-step__table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>N° de certification</th>
        <th>Signalement</th>
        <th>
          <div class="session-finalization-reports-informations-step__row">
            <div class="session-finalization-reports-informations-step__checker" {{on 'click' (fn @toggleAllCertificationReportsHasSeenEndTestScreen this.hasCheckedSomething)}}>
              <CertifCheckbox @state={{this.headerCheckboxStatus}}></CertifCheckbox>
            </div>
            Écran de fin du test vu
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each @certificationReports as |report|}}
        <tr>
          <td data-test-id="finalization-report-last-name_{{report.certificationCourseId}}">{{report.lastName}}</td>
          <td data-test-id="finalization-report-first-name_{{report.certificationCourseId}}">{{report.firstName}}</td>
          <td data-test-id="finalization-report-certification-number_{{report.certificationCourseId}}">{{report.certificationCourseId}}</td>
          <td data-test-id="finalization-report-certification-issue-reports_{{report.certificationCourseId}}">
            <div class="finalization-report-examiner-comment">
              {{#if report.certificationIssueReports}}
                <button type="button" class="button--showed-as-link add-button" {{on 'click' (fn this.openIssueReportsModal report)}}>
                  Ajouter / modifier
                </button>
                <p data-test-id="finalization-report-has-examiner-comment_{{report.certificationCourseId}}">
                  {{#if (gt report.certificationIssueReports.length 1)}}
                    {{report.certificationIssueReports.length}} signalements
                  {{else}}
                    1 signalement
                  {{/if}}
                </p>
              {{else}}
                <button type="button" class="button--showed-as-link add-button" {{on 'click' (fn this.openAddIssueReportModal report)}}>
                  Ajouter ?
                </button>
              {{/if}}
            </div>
          </td>
          <td>
            <CertifCheckbox
                    data-test-id="finalization-report-has-seen-end-test-screen_{{report.certificationCourseId}}"
                    @state={{if report.hasSeenEndTestScreen 'checked' 'unchecked'}}
              {{on 'click' (fn @toggleCertificationReportHasSeenEndTestScreen report)}}>
            </CertifCheckbox>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if this.showAddIssueReportModal}}
    <IssueReportModal::AddIssueReportModal
      @closeModal={{this.closeAddIssueReportModal}}
      @report={{this.reportToEdit}}
      @maxlength={{@issueReportDescriptionMaxLength}}
      />
  {{/if}}
  {{#if this.showIssueReportsModal}}
    <IssueReportModal::IssueReportsModal
      @closeModal={{this.closeIssueReportsModal}}
      @onClickIssueReport={{this.openAddIssueReportModal}}
      @onClickDeleteIssueReport={{@handleClickOnDeleteIssueReportButton}}
      @report={{this.reportToEdit}}
      />
  {{/if}}
</div>
