<button
  type="button"
  {{on "click" (toggle "isMenuOpen" this)}}
  aria-haspopup="listbox"
  aria-expanded="{{this.isMenuOpen}}"
  class="logged-user-summary"
  ...attributes
>
  <span class="logged-user-summary__text">
    <span>{{this.userFullName}}</span>
    <span>{{this.certificationCenterNameAndExternalId}}</span>
  </span>
  <span class="screen-reader-only">{{t "navigation.user-logged-menu.button-extra-information"}}</span>
  {{#if this.isMenuOpen}}
    <FaIcon @icon="chevron-up" @class="logged-user-summary__chevron logged-user-summary__chevron--up" />
  {{else}}
    <FaIcon @icon="chevron-down" @class="logged-user-summary__chevron" />
  {{/if}}
</button>

<Dropdown::Content @display={{this.isMenuOpen}} @close={{this.closeMenu}} class="logged-user-menu">
  {{#each this.eligibleCertificationCenterAccesses as |certificationCenterAccess|}}
    <Dropdown::Item
      @onClick={{fn this.onCertificationCenterAccessChanged certificationCenterAccess}}
      title="{{certificationCenterAccess.name}}"
      class="logged-user-menu-item"
    >
      <span class="logged-user-menu-item__certification-center-name">{{certificationCenterAccess.name}}</span>
      {{#if certificationCenterAccess.externalId}}
        <span>({{certificationCenterAccess.externalId}})</span>
      {{/if}}
    </Dropdown::Item>
  {{/each}}
  <Dropdown::ItemLink @linkTo="logout" class="logged-user-menu-item">
    <FaIcon @icon="power-off" @class="logged-user-menu-item__icon" />
    {{t "navigation.user-logged-menu.logout"}}
  </Dropdown::ItemLink>
</Dropdown::Content>