<div class="dropdown logged-user-summary content-text content-text--small" aria-label="Résumé utilisateur">
  <a
    href="#"
    class="logged-user-summary__link"
    {{on "click" (toggle "isMenuOpen" this)}}
    aria-haspopup="listbox"
    aria-expanded="{{this.isMenuOpen}}"
  >
    <div>
      <div class="logged-user-summary__name">{{this.userFullName}}</div>
      <div class="logged-user-summary__certification-center">{{this.certificationCenterNameAndExternalId}}</div>
    </div>
    {{#if this.isMenuOpen}}
      <FaIcon @icon="chevron-up" class="logged-user-summary__chevron logged-user-summary__chevron-up" />
    {{else}}
      <FaIcon @icon="chevron-down" class="logged-user-summary__chevron" />
    {{/if}}
  </a>
</div>

<Dropdown::Content
  @display={{this.isMenuOpen}}
  @close={{this.closeMenu}}
  class="logged-user-menu"
  aria-label="Menu utilisateur"
>
  {{#each this.eligibleCertificationCenterAccesses as |certificationCenterAccess|}}
    <Dropdown::Item
      @onClick={{fn this.onCertificationCenterAccessChanged certificationCenterAccess}}
      title="{{certificationCenterAccess.name}}"
      class="logged-user-menu-item"
    >
      <span class="logged-user-menu-item__certification-center-name">{{certificationCenterAccess.name}}</span>
      {{#if certificationCenterAccess.externalId}}
        <span
          class="logged-user-menu-item__certification-center-externalId"
        >({{certificationCenterAccess.externalId}})</span>
      {{/if}}
    </Dropdown::Item>
  {{/each}}
  <Dropdown::ItemLink @linkTo="logout" class="logged-user-menu-item logged-user-menu-item__last">
    <FaIcon @icon="power-off" @class="logged-user-menu-item__icon" />
    {{t "navigation.user-logged-menu.logout"}}
  </Dropdown::ItemLink>
</Dropdown::Content>