<div class="content-text content-text--small">
  <table aria-label="Liste des membres" class="table-admin">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Adresse e-mail</th>
        <th>Rôle</th>
        <th>Actions</th>
      </tr>
    </thead>
    {{#if @members}}
      <tbody>
        {{#each @members as |member|}}
          <tr aria-label={{concat member.firstName " " member.lastName}}>
            <td>{{member.firstName}}</td>
            <td>{{member.lastName}}</td>
            <td>{{member.email}}</td>
            <td>
              {{#if member.isInEditionMode}}
                <PixSelect
                  @onChange={{this.setAdminRoleSelection}}
                  @value={{member.role}}
                  @options={{@roles}}
                  @label="Sélectionner un rôle"
                  @screenReaderOnly={{true}}
                  @isSearchable={{false}}
                  as |role|
                >
                  {{role.label}}
                </PixSelect>
              {{else}}
                {{member.role}}
              {{/if}}
            </td>
            <td>
              <div class="admin-member-item-actions">
                {{#if member.isInEditionMode}}
                  <PixButton
                    class="admin-member-item-actions__button"
                    aria-label="Valider la modification de rôle"
                    @triggerAction={{fn this.updateMemberRole member}}
                  >
                    Valider
                  </PixButton>
                {{else}}
                  <PixButton
                    class="admin-member-item-actions__button"
                    aria-label={{concat "Modifier le rôle de l'agent " member.firstName " " member.lastName}}
                    @triggerAction={{fn this.toggleEditionModeForThisMember member}}
                  >
                    <FaIcon @icon="pen-to-square" />
                    Modifier</PixButton>
                {{/if}}
                <PixButton
                  class="admin-member-item-actions__button"
                  @backgroundColor="red"
                  aria-label={{concat "Désactiver l'agent " member.firstName " " member.lastName}}
                  @triggerAction={{fn this.displayDeactivateConfirmationPopup member}}
                >
                  <FaIcon @icon="trash" />Désactiver
                </PixButton>

              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    {{/if}}
  </table>
  {{#unless @members}}
    <div class="table__empty">Aucun résultat</div>
  {{/unless}}
</div>

<ConfirmPopup
  @message={{this.confirmPopUpMessage}}
  @title="Désactivation d'un agent Pix"
  @submitTitle="Confirmer"
  @confirm={{fn this.deactivateAdminMember this.adminMemberToDeactivate}}
  @cancel={{this.toggleDisplayConfirm}}
  @show={{this.displayConfirm}}
/>