<div class="content-text content-text--small">
  <table class="table-admin">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>E-mail</th>
        <th>Rôle</th>
        <th>Actions</th>
      </tr>
    </thead>
    {{#if @members}}
      <tbody>
        {{#each @members as |member|}}
          <tr aria-label={{concat member.firstName " " member.lastName}}>
            <td>{{member.firstName}}</td>
            <td>{{member.lastName}}</td>
            <td>{{member.email}}</td>
            <td>
              {{#if member.isInEditionMode}}
                <PixSelect
                  @onChange={{this.setAdminRoleSelection}}
                  @selectedOption={{member.role}}
                  @options={{this.adminRoles}}
                  aria-label="Sélectionner un rôle"
                  @isSearchable={{false}}
                  as |role|
                >
                  {{role.label}}
                </PixSelect>
              {{else}}
                {{member.role}}
              {{/if}}
            </td>
            <td>
              {{#if member.isInEditionMode}}
                <PixButton
                  aria-label="Valider la modification de rôle"
                  @triggerAction={{fn this.updateMemberRole member}}
                >
                  Valider
                </PixButton>
              {{else}}
                <PixButton
                  aria-label={{concat "Modifier le rôle de " member.firstName " " member.lastName}}
                  @triggerAction={{fn this.toggleEditionModeForThisMember member}}
                >Modifier</PixButton>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    {{/if}}
  </table>

  {{#unless @members}}
    <div class="table__empty content-text">Aucun résultat</div>
  {{/unless}}
</div>