{{page-title (t "pages.missions.title")}}

<PixBanner class="mission-list-banner">
  {{t "pages.missions.list.banner.welcome"}}
  <br />
  {{#if @model.isAdminOfTheCurrentOrganization}}
    {{t "pages.missions.list.banner.admin.abstract"}}
    <LinkTo @route="authenticated.import-organization-participants">{{t
        "pages.missions.list.banner.admin.import-text"
      }}</LinkTo>
    {{t "pages.missions.list.banner.admin.info"}}
  {{else}}
    {{t "pages.missions.list.banner.non-admin.abstract"}}
  {{/if}}
  <br /><br />
  <div class="mission-list-banner__copypaste-container">
    {{t "pages.missions.list.banner.copypaste-container.abstract"}}
    &nbsp;

    <a href={{@model.pixJuniorSchoolUrl}} target="_blank" rel="noopener noreferrer">
      {{t "pages.missions.list.banner.copypaste-container.import-text"}}
    </a>

    <CopyPasteButton
      @clipBoardtext={{@model.pixJuniorSchoolUrl}}
      @successMessage="{{t 'pages.missions.list.banner.copypaste-container.button.success'}}"
      @defaultMessage="{{t 'pages.missions.list.banner.copypaste-container.button.tooltip'}}"
    />
  </div>
  {{t "pages.missions.list.banner.copypaste-container.hint"}}
</PixBanner>

<h1 class="mission-list__title page-title">{{t "pages.missions.title"}}</h1>
{{#if @model.missions}}
  <div class="panel">

    <table class="table content-text content-text--small participation-list__table">
      <caption class="screen-reader-only">{{t "pages.missions.list.caption"}}</caption>
      <thead>
        <tr>
          <Table::Header scope="col">{{t "pages.missions.list.headers.name"}}</Table::Header>
          <Table::Header scope="col">{{t "pages.missions.list.headers.competences"}}</Table::Header>
          <Table::Header scope="col">{{t "pages.missions.list.headers.started-by"}}</Table::Header>
        </tr>
      </thead>
      <tbody>
        {{#each @model.missions as |mission|}}
          <tr class="tr--clickable" {{on "click" (fn this.goToMissionDetails mission.id)}}>
            <td>
              {{mission.name}}
            </td>
            <td>
              {{mission.competenceName}}
            </td>
            <td>
              {{#if (eq mission.startedBy "")}}
                {{t "pages.missions.list.no-division"}}
              {{else}}
                {{mission.startedBy}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

{{else}}
  <div class="table__empty content-text">
    {{t "pages.missions.list.empty-state"}}
  </div>
{{/if}}