{{page-title (t "pages.missions.title")}}

<h1 class="mission-list__title page-title">{{t "pages.missions.title"}}</h1>
{{#if @model}}
  <div class="panel">
    <table class="table content-text content-text--small participation-list__table">
      <caption class="screen-reader-only">{{t "pages.missions.list.caption"}}</caption>
      <thead>
        <tr>
          <Table::Header scope="col">{{t "pages.missions.list.headers.name"}}</Table::Header>
          <Table::Header scope="col">{{t "pages.missions.list.headers.competences"}}</Table::Header>
          <Table::Header scope="col">{{t "pages.missions.list.headers.started-by"}}</Table::Header>
        </tr>
      </thead>
      <tbody>
        {{#each @model as |mission|}}
          <tr class="tr--clickable" {{on "click" (fn this.goToMissionDetails mission.id)}}>
            <td>
              {{mission.name}}
            </td>
            <td>
              {{mission.competenceName}}
            </td>
            <td>
              {{#if (eq mission.startedBy "")}}
                {{t "pages.missions.list.no-division"}}
              {{else}}
                {{mission.startedBy}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

{{else}}
  <div class="table__empty content-text">
    {{t "pages.missions.list.empty-state"}}
  </div>
{{/if}}