{{page-title (t "pages.missions.title")}}

<PixBanner class="mission-list-banner">
  {{t "pages.missions.list.banner.welcome"}}
  <br />
  <ul>
    <li>
      {{#if @model.isAdminOfTheCurrentOrganization}}
        <span>{{html-unsafe (t "pages.missions.list.banner.step1.admin.head")}}
          <LinkTo @route="authenticated.import-organization-participants">
            <b>{{t "pages.missions.list.banner.step1.admin.link"}}</b>
          </LinkTo>
          {{html-unsafe (t "pages.missions.list.banner.step1.admin.tail")}}
        </span>
      {{else}}
        <span>{{html-unsafe (t "pages.missions.list.banner.step1.non-admin")}}</span>
      {{/if}}
    </li>
    <li>
      <ul>
        {{t "pages.missions.list.banner.step2.title"}}
        <li>
          <div class="mission-list-banner__copypaste-container">
            <span>{{html-unsafe (t "pages.missions.list.banner.step2.option1" code=this.schoolCode)}}</span>
            <CopyPasteButton
              @clipBoardtext={{this.schoolCode}}
              @successMessage="{{t 'pages.missions.list.banner.copypaste-container.button.success'}}"
              @defaultMessage="{{t 'pages.missions.list.banner.copypaste-container.button.tooltip'}}"
            />

          </div>
        </li>
        <li>
          <div class="mission-list-banner__copypaste-container">
            <span>{{html-unsafe
                (t "pages.missions.list.banner.step2.option2" pixJuniorUrl=@model.pixJuniorSchoolUrl)
              }}</span>
            <a
              href={{@model.pixJuniorSchoolUrl}}
              target="_blank"
              rel="noopener noreferrer"
              class="mission-list-banner__copypaste-container__external-link"
            >
              <FaIcon @icon="external-link-alt" />
            </a>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <span>{{html-unsafe (t "pages.missions.list.banner.step3")}}</span>
    </li>
  </ul>
</PixBanner>

<h1 class="mission-list__title page-title">{{t "pages.missions.title"}}</h1>
{{#if @model.missions}}
  <div class="panel">

    <table class="table content-text content-text--small participation-list__table">
      <caption class="screen-reader-only">{{t "pages.missions.list.caption"}}</caption>
      <thead>
        <tr>
          <Table::Header scope="col">{{t "pages.missions.list.headers.name"}}</Table::Header>
          <Table::Header scope="col">{{t "pages.missions.list.headers.competences"}}</Table::Header>
          <Table::Header scope="col">{{t "pages.missions.list.headers.started-by"}}</Table::Header>
        </tr>
      </thead>
      <tbody>
        {{#each @model.missions as |mission|}}
          <tr
            aria-label={{t "pages.missions.list.aria-label"}}
            class="tr--clickable"
            {{on "click" (fn this.goToMissionDetails mission.id)}}
          >
            <td>
              {{mission.name}}
            </td>
            <td>
              {{mission.competenceName}}
            </td>
            <td>
              {{#if (eq mission.startedBy "")}}
                {{t "pages.missions.list.no-division"}}
              {{else}}
                {{mission.startedBy}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

{{else}}
  <div class="table__empty content-text">
    {{t "pages.missions.list.empty-state"}}
  </div>
{{/if}}