<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.organizations.list">Toutes les organisations</LinkTo>
    <span style="color: #DDDDDD;">&nbsp;>&nbsp;</span>
    {{model.name}}
  </div>
  <div class="page-actions">
    <button class="btn btn-outline-default btn-thin hidden">
      {{fa-icon "edit"}} Modifier
    </button>
    <button class="btn btn-outline-default btn-thin hidden">
      {{fa-icon "trash"}} Supprimer
    </button>
  </div>
</header>

<main class="page-body" id="organizations-get-page">

  <OrganizationInformationSection @organization={{model}} @onLogoUpdated={{action "updateOrganizationInformation"}} />

  <OrganizationMembersSection @organization={{model}} @userEmail={{userEmail}} @addMembership={{action "addMembership"}} />

  {{organization-target-profiles-section targetProfiles=model.targetProfiles}}

</main>
