<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.organizations.list">Toutes les organisations</LinkTo>
    <span style="color: #DDDDDD;">&nbsp;>&nbsp;</span>
    {{@model.name}}
  </div>
  <div class="page-actions">
    <button class="btn btn-outline-default btn-thin hidden">
      <FaIcon @icon="edit"></FaIcon> Modifier
    </button>
    <button class="btn btn-outline-default btn-thin hidden">
      <FaIcon @icon="trash"></FaIcon> Supprimer
    </button>
  </div>
</header>

<main class="page-body" id="organizations-get-page">

  <OrganizationInformationSection @organization={{@model}} @onLogoUpdated={{this.updateOrganizationInformation}} />

  <OrganizationMembersSection @organization={{@model}} @userEmail={{userEmail}} @addMembership={{this.addMembership}} />

  {{organization-target-profiles-section targetProfiles=model.targetProfiles}}

</main>
