{{page-title "Organisations"}}
<header class="page-header">
  <h1 class="page-title">Toutes les organisations</h1>
  {{#if this.accessControl.hasAccessToOrganizationActionsScope}}
    <div class="page-actions">
      <PixButton
        @route="authenticated.organizations.new"
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        class="pix-button__secondary"
        @iconBefore="plus"
      >
        Nouvelle organisation
      </PixButton>
    </div>
  {{/if}}
</header>

<main class="page-body">
  <section class="page-section">
    <Organizations::ListItems
      @organizations={{@model}}
      @id={{this.id}}
      @name={{this.name}}
      @type={{this.type}}
      @externalId={{this.externalId}}
      @triggerFiltering={{this.triggerFiltering}}
    />
  </section>
</main>