<header class="page-header">
  <div class="page-title">Toutes les organisations</div>
  <div class="page-actions">
    <LinkTo @route="authenticated.organizations.new" class="btn btn-outline-default btn-thin">
      {{fa-icon "plus"}}&nbsp;Nouvelle organisation
    </LinkTo>
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <Routes::Authenticated::Organizations::ListItems
      @organizations={{model}}
      @name={{name}}
      @type={{type}}
      @externalId={{externalId}}
      @triggerFiltering={{action "triggerFiltering"}}
      @goToOrganizationPage={{action "goToOrganizationPage"}} />
  </section>
</main>
