<div class="list-students-page__header">
  <div class="page__title page-title">Élèves</div>
  {{#if this.currentUser.isAdminInOrganization}}
    <div class="list-students-page__import-students-button">
      <FileUpload @name="file-upload" @for="students-file-upload" @accept=".xml" @multiple={{false}} @onfileadd={{this.importStudents}}>
        <span class="button" role="button" tabindex="0">Importer (.xml)</span>
      </FileUpload>
    </div>
  {{/if}}
</div>

<div class="panel">
  <div class="table content-text content-text--small">
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Connecté avec</th>
        <th></th>
      </tr>
      </thead>

      {{#if @students}}
        <tbody>
        {{#each @students as |student|}}
          <tr>
            <td>{{student.lastName}}</td>
            <td>{{student.firstName}}</td>
            <td>{{moment-format student.birthdate 'DD/MM/YYYY' allow-empty=true}}</td>
            <td class="list-students-page__authentication-methods">{{student.authenticationMethods}}</td>
            <td class="list-students-page__password-reset-cell">
              {{#if (or student.hasUsername  student.hasEmail) }}
                <div class="tooltip">
                  <span class="tooltip-text list-students-page__tooltip">Gérer</span>
                  <button class="button button--round-with-icon list-students-page__manage-button" type="button" {{on 'click' (fn this.openPasswordReset student)}}>
                    {{fa-icon "cog" }}
                  </button>
                </div>
              {{/if}}
            </td>
          </tr>
        {{/each}}

        </tbody>
      {{/if}}
    </table>

    {{#unless @students}}
      <div class="table__empty content-text">En attente d'élèves</div>
    {{/unless}}
  </div>

  {{#if this.isShowingModal}}
    <PasswordResetWindow @student={{this.student}} @isShowingModal={{this.isShowingModal}} />
  {{/if}}
</div>

{{#if this.isLoading}}
  <ModalDialog @translucentOverlay={{true}} @containerClass="pix-modal__translucent">
    <PixLoader />
  </ModalDialog>
{{/if}}
