<div class="list-students-page__header">
  <div class="page__title page-title">Élèves</div>
  {{#if this.currentUser.isAdminInOrganization}}
    <div class="list-students-page__import-students-button">
      <FileUpload @name="file-upload" @for="students-file-upload" @accept=".xml" @multiple={{false}} @onfileadd={{this.importStudents}}>
        <span class="button" role="button" tabindex="0">Importer (.xml)</span>
      </FileUpload>
    </div>
  {{/if}}
</div>

<div class="panel">
  <div class="table content-text content-text--small">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Date de naissance</th>
          <th>Connecté avec</th>
          <th></th>
        </tr>
        <tr>
            <th>
              <SearchInput
                class="table__input"
                @inputName="lastName"
                @value={{@lastNameFilter}}
                @placeholder="Rechercher par nom"
                @filterFunction={{fn @triggerFiltering "lastName" true}}
              />
            </th>
            <th>
              <SearchInput
                class="table__input"
                @inputName="firstName"
                @value={{@firstNameFilter}}
                @placeholder="Rechercher par prénom"
                @filterFunction={{fn @triggerFiltering "firstName" true}}
              />
            </th>
            <th></th>
            <th>
              <SelectInput
                @class="table__input"
                @onChange={{fn @triggerFiltering "connexionType" false}}
                @options={{@connexionTypesOptions}}
                @selectedOption={{@connexionTypeFilter}}
              />
            </th>
            <th></th>
          </tr>
      </thead>

      {{#if @students}}
        <tbody>
        {{#each @students as |student|}}
          <tr aria-label="Élève">
            <td>{{student.lastName}}</td>
            <td>{{student.firstName}}</td>
            <td>{{moment-format student.birthdate 'DD/MM/YYYY' allow-empty=true}}</td>
            <td class="list-students-page__authentication-methods">{{student.authenticationMethods}}</td>
            <td class="list-students-page__actions">
              {{#if student.isStudentAssociated}}
                <Dropdown::IconTrigger
                  @icon="ellipsis-v"
                  @dropdownButtonClass="list-students-page__dropdown-button"
                  @dropdownContentClass="list-students-page__dropdown-content"
                >
                  {{#if (or student.hasUsername student.hasEmail)}}
                    <Dropdown::Item @onClick={{fn this.openPasswordReset student}}>
                      Gérer le compte
                    </Dropdown::Item>
                  {{/if}}
                  {{#if this.currentUser.isAdminInOrganization}}
                    <Dropdown::Item @onClick={{fn this.openDissociateModal student}}>
                      Dissocier le compte
                    </Dropdown::Item>
                  {{/if}}
                </Dropdown::IconTrigger>
              {{/if}}
            </td>
          </tr>
        {{/each}}

        </tbody>
      {{/if}}
    </table>

    {{#unless @students}}
      <div class="table__empty content-text">Aucun élève.</div>
    {{/unless}}
  </div>

  <PasswordResetModal
    @organizationId={{this.currentUser.organization.id}}
    @student={{this.student}}
    @display={{this.isShowingModal}}
    @close={{this.closePasswordReset}}
  />
  <DissociateUserModal
    @student={{this.student}}
    @display={{this.isShowingDissociateModal}}
    @close={{this.closeDissociateModal}}
    @refreshModel={{@refreshModel}}
  />
</div>

{{#if this.isLoading}}
  <ModalDialog @translucentOverlay={{true}} @containerClass="modal__translucent">
    <PixLoader />
  </ModalDialog>
{{/if}}

<PaginationControl @pagination={{@students.meta}} @paginationLink="authenticated.students" />
