<tr
  aria-label={{t "pages.campaign-results.table.row-title"}}
  {{on "click" (fn @onClickParticipant @campaignId @participation.id)}}
  class="tr--clickable"
>
  <td>
    <LinkTo @route={{"authenticated.campaigns.participant-assessment"}} @models={{array @campaignId @participation.id}}>
      {{@participation.lastName}}
    </LinkTo>
  </td>
  <td>{{@participation.firstName}}</td>
  {{#if @hasExternalId}}
    <td>{{@participation.participantExternalId}}</td>
  {{/if}}
  {{#if @hasStages}}
    <td>
      <Campaign::StageStarsOld
        @reachedStage={{@participation.reachedStage}}
        @totalStage={{@participation.totalStage}}
        @prescriberTitle={{@participation.prescriberTitle}}
        @prescriberDescription={{@participation.prescriberDescription}}
        @withTooltip={{true}}
      />
    </td>
  {{else}}
    <td class="participant-list__mastery-percentage">
      {{t "pages.campaign-results.table.column.results.value" percentage=@participation.masteryRate}}
    </td>
  {{/if}}
  {{#if @hasBadges}}
    <td class="participant-list__badges">
      <Campaign::Badges @badges={{@participation.badges}} />
    </td>
  {{/if}}
</tr>