<tr
  aria-label={{t "pages.campaign-results.table.row-title"}}
  {{on "click" (fn @onClickParticipant @campaignId @participation.id)}}
  class="tr--clickable"
>
  <td>
    <LinkTo @route="authenticated.campaigns.participant-assessment" @models={{array @campaignId @participation.id}}>
      {{@participation.lastName}}
    </LinkTo>
  </td>
  <td>{{@participation.firstName}}</td>
  {{#if @hasExternalId}}
    <td class="table__column table__column--break-word">{{@participation.participantExternalId}}</td>
  {{/if}}
  <td>
    <Ui::MasteryPercentageDisplay
      @masteryRate={{@participation.masteryRate}}
      @hasStages={{@hasStages}}
      @reachedStage={{@participation.reachedStage}}
      @totalStage={{@participation.totalStage}}
      @prescriberTitle={{@participation.prescriberTitle}}
      @prescriberDescription={{@participation.prescriberDescription}}
      @isTableDisplay={{true}}
    />
  </td>
  {{#if @displayParticipationCount}}
    <td class="table__column--small">
      {{@participation.sharedResultCount}}
    </td>
  {{/if}}
  {{#if @hasBadges}}
    <td class="participant-list__badges">
      <Campaign::Badges @badges={{@participation.badges}} />
    </td>
  {{/if}}
</tr>