<Routes::Authenticated::Campaign::ParticipationFilters
  @campaign={{@campaign}}
  @selectedDivisions={{@selectedDivisions}}
  @selectedBadges={{@selectedBadges}}
  @selectedStages={{@selectedStages}}
  @rowCount={{@participations.meta.rowCount}}
  @resetFiltering={{@onResetFilter}}
  @triggerFiltering={{@onFilter}}
/>

<div class="panel">
  <div class="table content-text content-text--small">
    <table>
      <thead>
        <tr>
          <th>{{t 'pages.campaign-results.table.column.last-name'}}</th>
          <th>{{t 'pages.campaign-results.table.column.first-name'}}</th>
          {{#if @campaign.idPixLabel}}
            <th>{{@campaign.idPixLabel}}</th>
          {{/if}}
          <th>{{t 'pages.campaign-results.table.column.results.label'}}</th>
          {{#if @campaign.hasBadges}}
            <th>{{t 'pages.campaign-results.table.column.badges'}}</th>
          {{/if}}
        </tr>
      </thead>

      {{#if @participations}}
        <tbody>
        {{#each @participations as |participation|}}
          <tr aria-label={{t 'pages.campaign-results.table.row-title'}} role="button" {{on 'click' (fn @onClickParticipant @campaign.id participation.id)}} class="tr--clickable">
            <td>{{participation.lastName}}</td>
            <td>{{participation.firstName}}</td>
            {{#if @campaign.idPixLabel}}
              <td>{{participation.participantExternalId}}</td>
            {{/if}}
            <td>
              {{#if @campaign.hasStages}}
                <StageStars
                  @result={{participation.masteryPercentage}}
                  @stages={{@campaign.stages}}
                  @withTooltip={{true}}
                  @tooltipPosition="bottom-left"
                />
              {{else}}
                <span class="participant-list__mastery-percentage">
                  {{participation.masteryPercentage}}%
                </span>
              {{/if}}
            </td>
            {{#if @campaign.hasBadges}}
              <td class="participant-list__badges">
                <Badges @badges={{participation.badges}} />
              </td>
            {{/if}}
          </tr>
        {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless @participations}}
      <div class="table__empty content-text">{{t 'pages.campaign-results.table.empty'}}</div>
    {{/unless}}
  </div>
</div>

{{#if @participations}}
  <PaginationControl @pagination={{@participations.meta}}/>
{{/if}}
