<div class="assessment-cards">
  {{#if @hasStages}}
    <Campaign::Cards::StageAverage
      @totalStage={{@totalStage}}
      @reachedStage={{@reachedStage}}
      @stages={{@stages}}
      class="assessment-cards__average-card"
    />
  {{else}}
    <Campaign::Cards::ResultAverage @value={{@averageResult}} class="assessment-cards__average-card" />
  {{/if}}

  <Campaign::Cards::SharedCount @value={{@sharedParticipationsCount}} @isTypeAssessment={{true}} />
</div>