<section ...attributes>
  <h3 class="screen-reader-only">{{t "pages.profiles-list.table.title"}}</h3>

  <Campaign::Filter::ParticipationFilters
    @campaign={{@campaign}}
    @selectedDivisions={{@selectedDivisions}}
    @selectedGroups={{@selectedGroups}}
    @rowCount={{@profiles.meta.rowCount}}
    @searchFilter={{@searchFilter}}
    @onFilter={{@onFilter}}
    @onResetFilter={{@onReset}}
    @isHiddenStatus={{true}}
  />

  <div class="panel">
    <table class="table content-text content-text--small">
      <colgroup class="table__column">
        <col />
        <col />
        {{#if @campaign.idPixLabel}}
          <col />
        {{/if}}
        <col />
        <col />
        <col class="hide-on-mobile" />
        <col class="hide-on-mobile" />
      </colgroup>
      <thead>
        <tr>
          <Table::Header>{{t "pages.profiles-list.table.column.last-name"}}</Table::Header>
          <Table::Header>{{t "pages.profiles-list.table.column.first-name"}}</Table::Header>
          {{#if @campaign.idPixLabel}}
            <Table::Header>{{@campaign.idPixLabel}}</Table::Header>
          {{/if}}
          <Table::Header @align="center">{{t "pages.profiles-list.table.column.sending-date.label"}}</Table::Header>
          <Table::Header @align="center">{{t "pages.profiles-list.table.column.pix-score.label"}}</Table::Header>
          <Table::Header @align="center" class="hide-on-mobile">{{t
              "pages.profiles-list.table.column.certifiable"
            }}</Table::Header>
          <Table::Header @align="center" class="hide-on-mobile">{{t
              "pages.profiles-list.table.column.competences-certifiables"
            }}</Table::Header>
        </tr>
      </thead>

      {{#if (gt @profiles.length 0)}}
        <tbody>
          {{#each @profiles as |profile|}}
            <tr
              aria-label={{t "pages.profiles-list.table.row-title"}}
              {{on "click" (fn @onClickParticipant @campaign.id profile.id)}}
              class="tr--clickable"
            >
              <td>
                <LinkTo
                  @route={{"authenticated.campaigns.participant-profile"}}
                  @models={{array @campaign.id profile.id}}
                >
                  {{profile.lastName}}
                </LinkTo>
              </td>
              <td>{{profile.firstName}}</td>
              {{#if @campaign.idPixLabel}}
                <td>{{profile.participantExternalId}}</td>
              {{/if}}
              <td class="table__column--center">
                {{#if profile.sharedAt}}
                  {{dayjs-format profile.sharedAt "DD/MM/YYYY"}}
                {{else}}
                  <span class="table__column--highlight">{{t
                      "pages.profiles-list.table.column.sending-date.on-hold"
                    }}</span>
                {{/if}}
              </td>
              <td class="table__column--center">
                {{#if profile.sharedAt}}
                  <PixTag @color="purple" class="pix-score-tag">
                    {{t "pages.profiles-list.table.column.pix-score.value" score=profile.pixScore}}
                  </PixTag>
                {{/if}}
              </td>
              <td class="table__column--center hide-on-mobile">
                {{#if profile.certifiable}}
                  <PixTag @color="green-light">{{t "pages.profiles-list.table.column.certifiable"}}</PixTag>
                {{/if}}
              </td>
              <td class="table__column--center hide-on-mobile">
                {{profile.certifiableCompetencesCount}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless @profiles}}
      <p class="table__empty content-text">{{t "pages.profiles-list.table.empty"}}</p>
    {{/unless}}
  </div>

  {{#if (gt @profiles.length 0)}}
    <Table::PaginationControl @pagination={{@profiles.meta}} />
  {{/if}}
</section>