<section class="badge-form-criterion">
  <header>
    <h3>Critère d’obtention sur une sélection de sujets du profil cible</h3>
    <PixButton @variant="secondary" @size="small" @triggerAction={{@remove}} @isBorderVisible={{true}}>
      Supprimer
    </PixButton>
  </header>
  <main>
    <PixInput @id={{concat @id "criterionName"}} class="badge-form-criterion__name" {{on "change" @onNameChange}}>
      <:label>Nom du critère :</:label>
    </PixInput>
    <PixInput
      @id={{@id}}
      class="badge-form-criterion__threshold"
      type="number"
      min="1"
      max="100"
      @requiredLabel="Champ obligatoire"
      {{on "change" @onThresholdChange}}
    >
      <:label>Taux de réussite requis :</:label>
    </PixInput>
    <Common::TubesSelection::Areas
      @areas={{this.areas}}
      @selectedTubeIds={{this.selectedTubeIds}}
      @tubeLevels={{this.tubeLevels}}
      @checkTube={{this.checkTube}}
      @uncheckTube={{this.uncheckTube}}
      @setLevelTube={{this.setLevelTube}}
      @displayDeviceCompatibility={{true}}
    />
  </main>
</section>