<Card @title="Critères d'obtention du résultat thématique">
  <PixMessage @type="info" @withIcon={{true}}>
    Vous pouvez définir des critères de réussite du résultat thématique
    <strong>sur une liste de sujets ET/OU sur l’ensemble du profil cible</strong>.
    <br />
    <strong>Toutes les conditions devront être remplies</strong>
    pour obtenir le résultat thématique.
  </PixMessage>
  <div class="badge-form-criteria-choice">
    <p>Définir un critère d'obtention&nbsp;:</p>
    <PixCheckbox
      @id="hasCampaignCriterion"
      @checked={{this.hasCampaignCriterion}}
      {{on "change" this.onHasCampaignCriterionChange}}
    >
      <:label>sur l'ensemble du profil cible</:label>
    </PixCheckbox>
    <PixCheckbox
      @id="hasCappedTubesCriteria"
      @checked={{this.hasCappedTubesCriteria}}
      {{on "change" this.onHasCappedTubesCriteriaChange}}
    >
      <:label>sur une sélection de sujets du profil cible</:label>
    </PixCheckbox>
  </div>
  {{#if this.hasCampaignCriterion}}
    <TargetProfiles::BadgeForm::CampaignCriterion @onThresholdChange={{this.onCampaignThresholdChange}} />
  {{/if}}
  {{#if this.hasCappedTubesCriteria}}
    {{#each @badge.cappedTubesCriteria as |criterion index|}}
      <TargetProfiles::BadgeForm::CappedTubesCriterion
        @id={{concat "cappedTubeCriterion" index}}
        @areas={{@areas}}
        @onThresholdChange={{fn this.onCappedTubesThresholdChange criterion}}
        @onNameChange={{fn this.onCappedTubesNameChange criterion}}
        @onTubesSelectionChange={{fn this.onCappedTubesSelectionChange criterion}}
        @remove={{fn this.removeCappedTubeCriterion index}}
      />
    {{/each}}
    <PixButton
      class="badge-form-criterion__add"
      @variant="primary"
      @size="small"
      @triggerAction={{this.addCappedTubeCriterion}}
      @iconBefore="plus"
    >
      Ajouter une nouvelle sélection de sujets
    </PixButton>
  {{/if}}
</Card>