<Card @title="Définir un ou plusieurs critères">
  <p>
    Vous pouvez définir un critère de réussite du RT sur une liste d’acquis ET/OU sur l’ensemble du profil cible. Toutes
    les conditions devront être remplies pour obtenir le badge. Laissez vide les critères qui ne sont pas souhaités.
  </p>

  <div>
    <h4>Sur une liste d'acquis</h4>

    <div class="badge-form-criteria">
      <div class="badge-form__text-field badge-form-criteria__threshold">
        <label for="skillSetThreshold">Taux de réussite :</label>
        <Input
          id="skillSetThreshold"
          class="form-control"
          @type="number"
          min="1"
          max="100"
          @value={{@badge.skillSetThreshold}}
        />
      </div>

      <div class="badge-form-criteria__skill-set">
        <div class="badge-form__text-field">
          <label for="skillSetName">Nom de la liste :</label>
          <Input id="skillSetName" class="form-control" @type="text" @value={{@badge.skillSetName}} />
        </div>

        <div class="badge-form__text-field">
          <label for="skillSetSkills">Liste des acquis :</label>
          <Textarea id="skillSetSkills" class="form-control" @value={{@skillSetSkills}} rows="4" />
        </div>
      </div>
    </div>
  </div>

  <div>
    <h4>Sur l'ensemble du profil cible</h4>

    <div class="badge-form-criteria">
      <div class="badge-form__text-field badge-form-criteria__threshold">
        <label for="campaignParticipationThreshold">Taux de réussite global :</label>
        <Input
          id="campaignParticipationThreshold"
          class="form-control"
          @type="number"
          min="0"
          max="100"
          @value={{@badge.campaignThreshold}}
        />
      </div>
    </div>
  </div>

  <div class="badge-form__action-buttons">
    <PixButtonLink
      class="badge-form-action-buttons__cancel"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @size="small"
      @route="authenticated.target-profiles.target-profile.insights"
    >
      Annuler
    </PixButtonLink>
    <PixButton @backgroundColor="green" @size="small" @type="submit">
      Créer le badge
    </PixButton>
  </div>
</Card>