<div class="qcm-solution-panel qcm-panel__proposals rounded-panel">
  <div class="rounded-panel__row">
    {{#each this.labeledCheckboxes as |labeledCheckbox index|}}
      <p class="qcm-panel__proposal-item">
        <label class="qcm-panel__proposal-label qcm-proposal-label">

          <input
            type="checkbox"
            class="qcm-panel__proposal-checkbox"
            checked={{if labeledCheckbox.checked "checked" ""}}
            disabled="disabled"
          />

          <MarkdownToHtml
            @class="qcm-proposal-label__answer-details"
            @markdown={{labeledCheckbox.label}}
            data-goodness="{{if (get this.solutionArray (concat index)) 'good' 'bad'}}"
            data-checked={{if labeledCheckbox.checked "yes" "no"}}
          />
        </label>
      </p>
    {{/each}}
  </div>
  {{#if this.isNotCorrectlyAnswered}}
    {{#if @solutionToDisplay}}
      <div class="comparison-window-solution comparison-window-solution--with-margin">
        <span class="sr-only">{{t "pages.comparison-window.results.a11y.the-answer-was"}}</span>
        <div class="comparison-window-solution__text">{{@solutionToDisplay}}</div>
      </div>
    {{/if}}
  {{/if}}
</div>