{{#if this.hasCorrection}}
  <div class="rounded-panel rounded-panel__row correction-qroc-box">
    {{#if @solution}}
      <div class="correction-qroc-box__answer">
        {{#if (eq @answer.challenge.format "paragraphe")}}
          <div class="correction-qroc-box-answer {{this.inputClass}}">
            <PixTextarea
              class="correction-qroc-box-answer--paragraph"
              @id="correction-qroc-box-answer__paragraphe"
              rows="5"
              @value={{this.answerToDisplay}}
              aria-label={{this.inputAriaLabel}}
              disabled
            />
          </div>
        {{else if (eq @answer.challenge.format "phrase")}}
          <div class="correction-qroc-box-answer {{this.inputClass}}">
            <PixInput
              class="correction-qroc-box-answer--sentence"
              @id="correction-qroc-box-answer--sentence"
              @value="{{this.answerToDisplay}}"
              @ariaLabel={{this.inputAriaLabel}}
              disabled
            />
          </div>
        {{else}}
          <div class="correction-qroc-box-answer {{this.inputClass}}">
            <PixInput
              class="correction-qroc-box-answer--input"
              @id="correction-qroc-box-answer"
              size="{{this.answerToDisplay.length}}"
              @value="{{this.answerToDisplay}}"
              @ariaLabel={{this.inputAriaLabel}}
              disabled
            />
          </div>
        {{/if}}
      </div>
    {{/if}}
    {{#if this.isNotCorrectlyAnswered}}
      {{#if this.understandableSolution}}
        <p class="comparison-window-solution">
          <span class="sr-only">{{t "pages.comparison-window.results.a11y.the-answer-was"}}</span>
          <span class="comparison-window-solution__text">{{this.understandableSolution}}</span>
        </p>
      {{/if}}
    {{/if}}
  </div>
{{/if}}