<div class="qrocm-solution-panel qrocm-solution-panel--ind rounded-panel">
  <div class="rounded-panel__row correction-qrocm__text">
    {{#each this.blocks as |block|}}
      {{#if block.showText}}
        <MarkdownToHtml
          @markdown={{block.text}}
          @extensions="remove-paragraph-tags"
          class="correction-qrocm-text__label"
        />
      {{/if}}

      {{#if block.input}}
        {{#if block.text}}
          <label for="{{block.input}}">
            <MarkdownToHtml @isInline={{true}} @extensions="remove-paragraph-tags" @markdown={{block.text}} />
          </label>
        {{/if}}

        {{#if (eq @challenge.format "paragraphe")}}
          <div class="correction-qrocm__answer {{block.inputClass}}">
            <PixTextarea
              class="correction-qrocm-answer__input-paragraph"
              rows="5"
              @value="{{block.answer}}"
              @id="{{block.input}}"
              aria-label={{block.ariaLabel}}
              disabled
            />
          </div>
          {{#if block.emptyOrWrongAnswer}}
            <p class="correction-qrocm__solution">
              <span class="sr-only">{{t "pages.comparison-window.results.a11y.the-answer-was"}}</span>
              <span class="correction-qrocm__solution-text">{{block.solution}}</span>
            </p>
          {{/if}}
        {{else if (eq @challenge.format "phrase")}}
          <div class="correction-qrocm__answer {{block.inputClass}}">
            <PixInput
              class="correction-qrocm-answer__input-sentence"
              @value="{{block.answer}}"
              size="{{get-qroc-input-size @challenge.format}}"
              @id="{{block.input}}"
              aria-label={{block.ariaLabel}}
              disabled
            />
          </div>
          {{#if block.emptyOrWrongAnswer}}
            <p class="correction-qrocm__solution">
              <span class="sr-only">{{t "pages.comparison-window.results.a11y.the-answer-was"}}</span>
              <span class="correction-qrocm__solution-text">{{block.solution}}</span>
            </p>
          {{/if}}
        {{else}}
          <div class="correction-qrocm__answer correction-qrocm__answer--input {{block.inputClass}}">
            <PixInput
              class="correction-qrocm-answer__input"
              @value="{{block.answer}}"
              size="{{block.answer.length}}"
              @id="{{block.input}}"
              aria-label={{block.ariaLabel}}
              disabled
            />
            {{#if block.emptyOrWrongAnswer}}
              <p class="correction-qrocm__solution">
                <span class="sr-only">{{t "pages.comparison-window.results.a11y.the-answer-was"}}</span>
                <span class="correction-qrocm__solution-text">{{block.solution}}</span>
              </p>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}

      {{#if block.breakline}}
        <br />
      {{/if}}

    {{/each}}
  </div>

  {{#if this.isNotCorrectlyAnswered}}
    {{#if @solutionToDisplay}}
      <div class="comparison-window-solution comparison-window-solution--with-margin">
        <span class="sr-only">{{t "pages.comparison-window.results.a11y.the-answer-was"}}</span>
        <div class="comparison-window-solution__text">{{@solutionToDisplay}}</div>
      </div>
    {{/if}}
  {{/if}}

</div>