<section class="import-students-page__section">
  <h2 class="import-students-page-section__title">
    {{t "pages.organization-participants-import.actions.add-sup.title"}}
  </h2>
  <p class="import-students-page-section__details">
    {{t "pages.organization-participants-import.actions.add-sup.details"}}
  </p>
  <div class="import-students-page-section__button-and-type">
    <PixButtonUpload @id="students-file-upload-add" @size="small" @onChange={{@onAddStudents}} accept=".csv">
      {{t "pages.organization-participants-import.actions.add-sup.label"}}
    </PixButtonUpload>
    <p class="import-students-page-section__details">
      {{t "pages.organization-participants-import.supported-formats" types=".csv"}}
    </p>
  </div>
</section>