<section class="import-students-page__section">
  <h2 class="import-students-page-section__title">
    {{t "pages.organization-participants-import.actions.add-sup.title"}}
  </h2>
  <p class="import-students-page-section__details">
    {{t "pages.organization-participants-import.actions.add-sup.details"}}
  </p>
  <div class="import-students-page-section__button-and-type">
    <PixButtonUpload
      @id="students-file-upload-add"
      @size="small"
      @onChange={{@onAddStudents}}
      accept={{@supportedFormats}}
      aria-describedby="accepted-files-add"
    >
      {{t "pages.organization-participants-import.actions.add-sup.label"}}
    </PixButtonUpload>
    <p class="import-students-page-section__details" id="accepted-files-add">
      {{@acceptedFileType}}
    </p>
  </div>
</section>