<section class="import-card">
  <h2 class="import-card__title">
    {{t "pages.organization-participants-import.actions.add-sup.title"}}
  </h2>

  <p class="import-card__details">
    {{t "pages.organization-participants-import.actions.add-sup.details"}}
  </p>

  <div class="import-card__footer">

    <UploadButton
      @id="students-file-upload-add"
      @size="small"
      @onChange={{@onImportStudents}}
      @disabled={{@disabled}}
      @supportedFormats={{@supportedFormats}}
    >
      {{t "pages.organization-participants-import.actions.add-sup.label"}}
    </UploadButton>
  </div>
</section>