<section class="import-students-page__section">
  <h2 class="import-students-page-section__title">
    {{t "pages.sup-organization-participants-import.actions.replace.title"}}
  </h2>
  <p class="import-students-page-section__details">
    {{t "pages.sup-organization-participants-import.actions.replace.details"}}
  </p>

  <PixButton @triggerAction={{this.toggleModal}}>
    {{t "pages.sup-organization-participants-import.actions.replace.label"}}
  </PixButton>

  <SupOrganizationParticipant::Modal::ReplaceStudentsModal
    @onClose={{this.toggleModal}}
    @display={{this.displayModal}}
    @onReplaceStudents={{@onReplaceStudents}}
  />
</section>