<div class="session-finalization-complementary-information-step">
  <div class="session-finalization-complementary-information-step__content">
    <PixCheckbox
      @id="session-finalization-complementary-information-step-incident"
      @size="small"
      @checked={{false}}
      {{on "click" this.onCheckIncidentDuringCertificationSession}}
    >
      <:label>{{t "pages.session-finalization.complementary-information.incident"}}</:label>
    </PixCheckbox>
    <PixCheckbox
      @id="session-finalization-complementary-information-step-candidates-joining-issue"
      @size="small"
      @checked={{false}}
      {{on "click" this.onCheckIssueWithJoiningSession}}
    >
      <:label>{{t "pages.session-finalization.complementary-information.candidates-joining-issue.label"}}</:label>
    </PixCheckbox>

    {{#if this.displayJoiningIssue}}
      <PixMessage @type="info" @withIcon={{true}}>
        {{t
          "pages.session-finalization.complementary-information.candidates-joining-issue.link"
          htmlSafe=true
          joiningIssueSheetUrl=this.joiningIssueSheetUrl
        }}
      </PixMessage>
    {{/if}}
  </div>
</div>