<PixModal
  @title={{t "pages.session-finalization.confirm-finalisation-modal.title"}}
  @onCloseButtonClick={{@closeModal}}
  class="finalization-confirmation-modal"
  @showModal={{@showModal}}
>
  <:content>
    {{#if (and @hasUncheckedHasSeenEndTestScreen @shouldDisplayHasSeenEndTestScreenCheckbox)}}
      <p class="app-modal-body__contextual finalization-confirmation-modal__unchecked-has-seen-end-test-screen">
        {{t
          "pages.session-finalization.confirm-finalisation-modal.end-of-test-screen"
          candidatesCount=@uncheckedHasSeenEndTestScreenCount
        }}
      </p>
    {{/if}}
    <p>
      <span class="finalization-confirmation-modal__warning">
        {{t "pages.session-finalization.confirm-finalisation-modal.warning"}}
      </span>
      {{t "pages.session-finalization.confirm-finalisation-modal.information"}}
    </p>
  </:content>
  <:footer>
    <PixButton @triggerAction={{@closeModal}} @variant="secondary" @isBorderVisible="true" @size="small">
      {{t "common.actions.cancel"}}
    </PixButton>
    <PixButton data-test-id="finalize-session-modal__confirm-button" @triggerAction={{@finalizeSession}} @size="small">
      {{t "pages.session-finalization.confirm-finalisation-modal.actions.confirm"}}
    </PixButton>
  </:footer>
</PixModal>