<div class="table session-finalization-reports-information-step">

  <table>
    <caption>
      <PixMessage
        @type="warning"
        @withIcon={{true}}
        class="session-finalization-reports-information-step__title-uncompleted"
      >
        Ces candidats n'ont pas fini leur test de certification ou le surveillant a mis fin à leur test
      </PixMessage>
      <span class="sr-only">
        {{t "pages.sessions.finalize.unfinished-test-list-description"}}
      </span>
    </caption>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>N° de certification</th>
        <th>Signalement</th>
        <th>
          <div class="session-finalization-reports-information-step__header_cancel">
            <span>Raison de l'abandon</span>
            <PixTooltip @id="tooltip-cancel-reason" @position="left" @isWide={{true}}>
              <:triggerElement>
                <FaIcon
                  @icon="info-circle"
                  tabindex="0"
                  aria-describedby="tooltip-cancel-reason"
                  aria-label="Raison de l'abandon"
                />
              </:triggerElement>
              <:tooltip>
                <ul>
                  <li>Abandon : Manque de temps ou départ prématuré :
                    <ul>
                      <li>Le candidat n'a pas eu le temps de répondre à toutes ses questions</li>
                      <li>Le candidat est parti volontairement avant la fin du test</li>
                    </ul>
                  </li>
                  <li>Problème technique :
                    <ul>
                      <li>Le candidat a rencontré un problème technique l'empêchant de poursuivre son test jusqu’à la
                        fin</li>
                    </ul>
                  </li>
                </ul>
              </:tooltip>
            </PixTooltip>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each @certificationReports as |report|}}
        <tr>
          <td data-test-id="finalization-report-last-name_{{report.certificationCourseId}}">{{report.lastName}}</td>
          <td data-test-id="finalization-report-first-name_{{report.certificationCourseId}}">{{report.firstName}}</td>
          <td
            data-test-id="finalization-report-certification-number_{{report.certificationCourseId}}"
          >{{report.certificationCourseId}}</td>
          <td data-test-id="finalization-report-certification-issue-reports_{{report.certificationCourseId}}">
            <div class="finalization-report-examiner-comment">
              {{#if report.certificationIssueReports}}
                <button
                  type="button"
                  class="button--showed-as-link add-button"
                  {{on "click" (fn this.openIssueReportsModal report)}}
                >
                  <FaIcon @icon="plus-circle" />
                  {{t "common.actions.add"}}
                  /
                  {{t "common.actions.delete"}}
                </button>
                <p data-test-id="finalization-report-has-examiner-comment_{{report.certificationCourseId}}">
                  {{#if (gt report.certificationIssueReports.length 1)}}
                    {{report.certificationIssueReports.length}}
                    signalements
                  {{else}}
                    1 signalement
                  {{/if}}
                </p>
              {{else}}
                <button
                  type="button"
                  class="button--showed-as-link add-button"
                  {{on "click" (fn this.openAddIssueReportModal report)}}
                >
                  <FaIcon @icon="plus-circle" />
                  {{t "common.actions.add"}}
                </button>
              {{/if}}
            </div>
          </td>
          <td class="finalization-report-abort-reason">
            <PixSelect
              @id={{concat "finalization-report-abort-reason__select" report.id}}
              @placeholder={{"-- Choisissez --"}}
              @onChange={{fn @onChangeAbortReason report}}
              @hideDefaultOption={{true}}
              @value={{report.abortReason}}
              required="required"
              @options={{this.abortOptions}}
            />
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if this.showAddIssueReportModal}}
    <IssueReportModal::AddIssueReportModal
      @showModal={{this.showAddIssueReportModal}}
      @closeModal={{this.closeAddIssueReportModal}}
      @report={{this.reportToEdit}}
      @maxlength={{@issueReportDescriptionMaxLength}}
    />
  {{/if}}

  {{#if this.showIssueReportsModal}}
    <IssueReportModal::IssueReportsModal
      @showModal={{this.showIssueReportsModal}}
      @closeModal={{this.closeIssueReportsModal}}
      @onClickIssueReport={{this.openAddIssueReportModal}}
      @onClickDeleteIssueReport={{@onIssueReportDeleteButtonClicked}}
      @report={{this.reportToEdit}}
    />
  {{/if}}

</div>