<form {{will-destroy this.removeEmbedAutoEventListener}} {{on "submit" this.validateAnswer}}>
  {{#if this.showProposal}}
    <div class="rounded-panel__row challenge-response {{if @answer 'challenge-response--locked'}}">
      <h2 class="sr-only">{{t "pages.challenge.parts.answer-input"}}</h2>
      <div class="challenge-proposals qroc-proposal">
        {{#each this._blocks as |block|}}
          {{#if block.text}}
            <label for="qroc_input">
              <MarkdownToHtml @isInline={{true}} @extensions="remove-paragraph-tags" @markdown={{block.text}} />
            </label>
          {{/if}}

          {{#if block.input}}
            {{#if (eq block.type "select")}}
              <div class="challenge-response__proposal challenge-response__proposal--selector">
                <PixSelect
                  @id="qroc_input"
                  data-uid="qroc-proposal-uid"
                  data-test="challenge-response-proposal-selector"
                  @isDisabled={{this.isAnswerFieldDisabled}}
                  @screenReaderOnly={{true}}
                  @placeholder={{block.placeholder}}
                  @value={{this.qrocProposalAnswerValue}}
                  @hideDefaultOption={{true}}
                  @options={{block.options}}
                  @onChange={{this.onChangeSelect}}
                  @size="big"
                >
                  <:label>{{block.ariaLabel}}</:label>
                </PixSelect>
              </div>
            {{else if (eq @challenge.format "paragraphe")}}
              <div class="challenge-response__proposal challenge-response__proposal--paragraph">
                <PixTextarea
                  @id="qroc_input"
                  rows="5"
                  placeholder={{block.placeholder}}
                  name={{block.randomName}}
                  @value={{this.userAnswer}}
                  data-test="challenge-response-proposal-selector"
                  data-uid="qroc-proposal-uid"
                  disabled={{this.isAnswerFieldDisabled}}
                  autocomplete="nope"
                  {{on "keyup" this.answerChanged}}
                />
              </div>
            {{else if (eq @challenge.format "phrase")}}
              <div class="challenge-response__proposal challenge-response__proposal--sentence">
                <PixInput
                  @id="qroc_input"
                  name={{block.randomName}}
                  type="text"
                  placeholder={{block.placeholder}}
                  {{on "keyup" this.answerChanged}}
                  autocomplete="nope"
                  @value={{this.userAnswer}}
                  disabled={{this.isAnswerFieldDisabled}}
                  data-uid="qroc-proposal-uid"
                  data-test="challenge-response-proposal-selector"
                />
              </div>
            {{else if (eq @challenge.format "nombre")}}
              <PixInput
                @id="qroc_input"
                name={{block.randomName}}
                type="number"
                min="0"
                data-test="challenge-response-proposal-selector"
                placeholder={{block.placeholder}}
                @value={{this.userAnswer}}
                data-uid="qroc-proposal-uid"
                disabled={{this.isAnswerFieldDisabled}}
                {{on "keyup" this.answerChanged}}
              />

            {{else}}
              <PixInput
                class="challenge-response__proposal"
                @id="qroc_input"
                name={{block.randomName}}
                size="{{get-qroc-input-size @challenge.format}}"
                type="text"
                data-test="challenge-response-proposal-selector"
                placeholder={{block.placeholder}}
                @value={{this.userAnswer}}
                autocomplete="nope"
                data-uid="qroc-proposal-uid"
                disabled={{this.isAnswerFieldDisabled}}
                {{on "keyup" this.answerChanged}}
              />
            {{/if}}
          {{/if}}

          {{#if block.breakline}}
            <br />
          {{/if}}

        {{/each}}
      </div>

      {{#if @answer}}
        <div class="challenge-response__locked-overlay">
          <FaIcon @icon="lock" class="challenge-response-locked__icon" />
        </div>
      {{/if}}

      {{#if this.displayTimer}}
        <div class="timeout-gauge-wrapper">
          <TimeoutGauge
            @allottedTime={{@challenge.timer}}
            @hasTimeoutChallenge={{@assessment.hasTimeoutChallenge}}
            @setChallengeAsTimedOut={{this.setChallengeAsTimedOut}}
          />
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if this.errorMessage}}
    <PixMessage role="alert" class="challenge-response__alert" @type="error" @withIcon={{true}}>
      {{this.errorMessage}}
    </PixMessage>
  {{/if}}

  {{#if @assessment}}
    <ChallengeActions
      @challenge={{@challenge}}
      @answer={{@answer}}
      @isCertification={{@assessment.isCertification}}
      @resumeAssessment={{this.resumeAssessment}}
      @isDisabled={{this.isAnswerFieldDisabled}}
      @validateAnswer={{this.validateAnswer}}
      @skipChallenge={{this.skipChallenge}}
      @hasChallengeTimedOut={{this.hasChallengeTimedOut}}
      @hasFocusedOutOfWindow={{@hasFocusedOutOfWindow}}
      @hasOngoingLiveAlert={{@assessment.hasOngoingLiveAlert}}
      @certificationVersion={{@assessment.certificationCourse.version}}
    />
  {{/if}}
</form>