<form {{on "submit" this.validateAnswer}}>

  <div class="rounded-panel__row challenge-response {{if @answer 'challenge-response--locked'}}">
    <h2 class="sr-only">{{t "pages.challenge.parts.answer-input"}}</h2>
    <div class="challenge-proposals">
      {{#if @hasMultipleFieldSet}}
        <QrocmProposalInd
          @answer={{@answer}}
          @format={{@challenge.format}}
          @proposals={{@challenge.proposals}}
          @answersValue={{this.answersValue}}
          @answerChanged={{this.answerChanged}}
          @onChangeSelect={{this.onChangeSelect}}
          @isAnswerFieldDisabled={{this.isAnswerFieldDisabled}}
        />
      {{else}}
      <Proposals::QrocmProposal
          @answer={{@answer}}
          @format={{@challenge.format}}
          @proposals={{@challenge.proposals}}
          @answersValue={{this.answersValue}}
          @answerChanged={{this.answerChanged}}
          @onChangeSelect={{this.onChangeSelect}}
          @isAnswerFieldDisabled={{this.isAnswerFieldDisabled}}
        />
      {{/if}}
    </div>

    {{#if @answer}}
      <div class="challenge-response__locked-overlay">
        <FaIcon @icon="lock" class="challenge-response-locked__icon" />
      </div>
    {{/if}}

    {{#if this.displayTimer}}
      <div class="timeout-gauge-wrapper">
        <TimeoutGauge
          @allottedTime={{@challenge.timer}}
          @hasTimeoutChallenge={{@assessment.hasTimeoutChallenge}}
          @setChallengeAsTimedOut={{this.setChallengeAsTimedOut}}
        />
      </div>
    {{/if}}
  </div>

  {{#if this.errorMessage}}
    <PixMessage role="alert" class="challenge-response__alert" @type="error" @withIcon={{true}}>
      {{this.errorMessage}}
    </PixMessage>
  {{/if}}

  {{#if @assessment}}
    <ChallengeActions
      @challenge={{@challenge}}
      @answer={{@answer}}
      @isCertification={{@assessment.isCertification}}
      @resumeAssessment={{this.resumeAssessment}}
      @validateAnswer={{this.validateAnswer}}
      @skipChallenge={{this.skipChallenge}}
      @hasChallengeTimedOut={{this.hasChallengeTimedOut}}
      @hasFocusedOutOfWindow={{@hasFocusedOutOfWindow}}
      @isDisabled={{this.isAnswerFieldDisabled}}
      @hasOngoingLiveAlert={{@assessment.hasOngoingLiveAlert}}
      @certificationVersion={{@assessment.certificationCourse.version}}
    />
  {{/if}}
</form>