<div class="card">
  <div class="card__title">1. Renseigner le nouveau profil cible à rattacher</div>
  <div class="card__content">
    <form class="complementary-certification-attach-target-profile__form">
      <PixSelect
        class=""
        @label="ID du profil cible"
        @emptyMessage="Aucun résultat"
        @searchPlaceholder="Exemple: 3"
        @searchLabel="Rechercher un profile cible à rattacher à la certification complémentaire"
        @isSearchable={{true}}
        @value={{this.targetProfileToAttach}}
        @options={{this.targetProfiles}}
        @onChange={{this.onChange}}
        @hideDefaultOption={{true}}
      />
      <PixButton class="complementary-certification-attach-target-profile-form__submit-button">Valider</PixButton>
    </form>
  </div>
</div>