<section class="page-section">
  <div class="content-text content-text--small complementary-certification-details">
    <h1 class="complementary-certification-details__title">Certification complémentaire</h1>

    <span class="complementary-certification-details__label">{{@complementaryCertification.label}}</span>
    <ComplementaryCertifications::Common::LinkToCurrentTargetProfile @model={{@currentTargetProfile}} />
    {{#if this.isMultipleCurrentTargetProfiles}}
      <PixToggle
        @label="Accéder aux détails des profils cibles courants"
        @onLabel="Profil 1"
        @offLabel="Profil 2"
        @toggled={{@switchToggle}}
        @onChange={{@switchTargetProfile}}
        @screenReaderOnly={{true}}
      />
    {{/if}}
    {{#if this.hasAccessToAttachNewTargetProfile}}
      <div class="complementary-certification-details-target-profile__attach-button">
        <PixButtonLink
          @route="authenticated.complementary-certifications.complementary-certification.attach-target-profile"
          @model={{@currentTargetProfile.id}}
        >Rattacher un nouveau profil cible
        </PixButtonLink>
      </div>
    {{/if}}
  </div>
</section>