<div class="area-border-container">
  <div class="area-border {{@color}}"></div>
  <PixCollapsible @title="{{@title}}" class="{{@color}} list-competences">
    {{#each @competences as |competence|}}
      <TargetProfiles::TubesDetails::Competence
        @name={{competence.fullName}}
        @thematics={{competence.sortedThematics}}
      />
    {{/each}}
  </PixCollapsible>
</div>