{{navbar-header class="navbar-header--white"}}
<div class="competence-details">
  <div class="profilv2__banner"></div>
  {{#if (and model.scorecard competence)}}
    <div class="competence-details__panel">
      <div class="rounded-panel rounded-panel--strong">
        <div class="competence-details__panel__inner">
          <div class="competence-details__panel__inner__left">
            <div class={{concat "competence-details__panel__inner__left__area competence-details--" areaColor}}>
              {{model.scorecard.area.title}}
            </div>
            <div class="competence-details__panel__inner__left__name">
              {{model.scorecard.name}}
            </div>
            <div class="competence-details__panel__inner__left__description">
              Appliquer des traitements à des données pour les analyser et les interpréter (avec un tableur, un programme, un logiciel de traitement d’enquête, une requête calcul dans une base de données, etc.).
            </div>
          </div>
          <div class="competence-details__panel__inner__right">
            <div class="competence-details__panel__inner__right__score-container">
              {{#circle-chart value=percentageAheadOfNextLevel sliceColor=areaColor chartClass='circle-chart__content--big' thicknessClass='circle--thick'}}
                <div class="competence-card__level">
                  <span class="competence-card-level__label">Niveau</span>
                  <span class="competence-card-level__value">{{model.scorecard.level}}</span>
                </div>
              {{/circle-chart}}
              <div class="competence-details__panel__inner__right__score-container__pix-earned">
                <div>{{model.scorecard.earnedPix}}</div>
                <div>pix gagnés</div>
              </div>
            </div>
            {{#if (lt model.scorecard.level maxLevel)}}
              <div class="competence-details__panel__inner__right__level-info">
                {{model.scorecard.pixScoreAheadOfNextLevel}} pix avant niveau {{inc model.scorecard.level}}
              </div>
            {{/if}}
            {{#if competence.isAssessed}}
              {{#if competence.isRetryable}}
                {{#link-to "courses.create-assessment" competence.courseId class="competence-details__link"}}
                  <button role="button" class="competence-details__button">
                    Progresser
                  </button>
                {{/link-to}}
              {{else}}
                <button role="button" class="competence-details__button" disabled="true">
                  Progresser
                </button>
                <div class="competence-details__panel__inner__right__disponibility">
                  {{remainingDaysText}}
                </div>
              {{/if}}
            {{else}}
              {{#if competence.isAssessableForTheFirstTime}}
                {{#link-to "courses.create-assessment" competence.courseId class="competence-details__link"}}
                  <button role="button" class="competence-details__button">
                    Démarrer le test
                  </button>
                {{/link-to}}
              {{/if}}
              {{#if competence.isBeingAssessed}}
                {{#link-to "assessments.resume" competence.assessmentId class="competence-details__link"}}
                  <button role="button" class="competence-details__button">
                    Continuer
                  </button>
                {{/link-to}}
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="competence-details__panel__shadow" aria-hidden="true">.</div>
    </div>
  {{/if}}
</div>
