{{navbar-header class="navbar-header--white"}}
<div class="competence-details">
  <div class="background-banner"></div>

  {{#if (and model.scorecard model.competence)}}
    <div class="competence-details-panel">
      <div class="rounded-panel rounded-panel--strong">
        <div class="competence-details-panel-inner">
          <div class="competence-details-panel-inner-left">
            <div class={{concat "competence-details-panel-inner-left-area competence-details--" areaColor}}>
              {{model.scorecard.area.title}}
            </div>
            <div class="competence-details-panel-inner-left-name">
              {{model.scorecard.name}}
            </div>
            <div class="competence-details-panel-inner-left-description">
              {{model.competence.description}}
            </div>
          </div>
          <div class="competence-details-panel-inner-right">
            <div class="competence-details-panel-inner-right-score-container">
              {{#circle-chart value=percentageAheadOfNextLevel sliceColor=areaColor chartClass='circle-chart__content--big' thicknessClass='circle--thick'}}
                <div class="competence-card__level">
                  <span class="competence-card-level__label">Niveau</span>
                  <span class="competence-card-level__value">{{model.scorecard.level}}</span>
                </div>
              {{/circle-chart}}
              <div class="competence-details-panel-inner-right-score-container-pix-earned">
                <div class="competence-details-panel-inner-right-score-container-pix-earned-number">{{model.scorecard.earnedPix}}</div>
                <div class="competence-details-panel-inner-right-score-container-pix-earned-info">{{earnedPixText}}</div>
              </div>
            </div>
            {{#if (lt model.scorecard.level maxLevel)}}
              <div class="competence-details-panel-inner-right-level-info">
                {{model.scorecard.remainingPixToNextLevel}} pix avant niveau {{inc model.scorecard.level}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="competence-details-panel-shadow" aria-hidden="true">.</div>
    </div>
  {{/if}}
</div>
