{{page-title (t "navigation.error")}}

<header role="banner">
  <NavbarHeader />
</header>

<div class="error-page">
  <div class="rounded-panel rounded-panel--strong error-page__body-section">
    <div class="error-page__main-content">
      <h1 class="error-page-main-content__title">{{t "pages.error.first-title"}}</h1>
      {{t "pages.error.content-text" htmlSafe=true}}
      <PixButton @triggerAction={{this.disconnectOidcProviderSession}}> {{t "navigation.disconnect-and-back-to-homepage"}} </PixButton>
    </div>
    <div class="error-page__error">
      <p class="error-page__error-title">{{this.errorTitle}}</p>
      <p>{{this.errorStatus}}</p>
      <p>{{this.errorMessage}}</p>
      <p>{{this.errorDetail}}</p>
    </div>
  </div>
</div>

<Footer />