<BurgerMenu @animation="push" @translucentOverlay={{true}} as |burger|>
  <burger.outlet>

    <NavbarHeader @burger={{burger}} />

    <div class="error-page">
      <div class="rounded-panel rounded-panel--strong error-page__body-section">
        <div class="error-page__main-content">
          <h1 class="error-page-main-content__title">Oups, une erreur est survenue !</h1>
          <p>Nous vous invitons à recharger cette page ou <LinkTo @route="login">revenir à la page d’accueil</LinkTo>.</p>
          <p>Vous pouvez aussi nous contacter via <a href="https://support.pix.fr/support/tickets/new">le formulaire du centre d'aide</a> en nous précisant le code d'erreur ci-dessous dans la description.</p>
          <p>Nous vous prions de nous excuser pour la gêne occasionnée.</p>
          <p>L'équipe Pix.</p>
          <LinkTo @route="login" class="button button--extra-big button--link error-page__index-link">
            Revenir à la page d'accueil</LinkTo>
        </div>
        <div class="error-page__error">
          <p class="error-page__error-title">{{this.errorTitle}}</p>
          <p class="error-page__error-status">{{this.errorStatus}}</p>
          <p class="error-page__error-message">{{this.errorMessage}}</p>
          <p class="error-page__error-detail">{{this.errorDetail}}</p>
        </div>
      </div>
    </div>

  </burger.outlet>
</BurgerMenu>
