{{page-title (t 'pages.fill-in-certificate-verification-code.title')}}

<BurgerMenu @animation="push" @translucentOverlay={{true}} as |burger|>
  <burger.outlet>
    <NavbarHeader @burger={{burger}} />
    <PixBackgroundHeader>
      <PixBlock class="fill-in-certificate-verification-code">
        <form class="fill-in-certificate-verification-code__form" autocomplete="off">

          <h1 class="fill-in-certificate-verification-code__title">
            {{t "pages.fill-in-certificate-verification-code.first-title"}}
          </h1>

          <label for="certificate-verification-code" class="fill-in-certificate-verification-code__instruction">
            {{t "pages.fill-in-certificate-verification-code.description"}}
          </label>
          <Input required
            @type="text" @id="certificate-verification-code"
            @value={{this.certificateVerificationCode}}
            @maxlength="10"
            @key-down={{this.clearErrorMessage}} />

          {{#if this.errorMessage}}
          <div class="fill-in-certificate-verification-code__error" aria-live="polite">
            {{this.errorMessage}}
          </div>
          {{/if}}

          <button
            class="fill-in-certificate-verification-code__actions"
            type="submit"
            class="button button--extra-big fill-in-certificate-verification-code__start-button"
            {{action 'checkCertificate'}}>
            {{t "pages.fill-in-certificate-verification-code.verify"}}
          </button>

          {{#if this.showNotFoundCertificationErrorMessage}}
          <div class="fill-in-certificate-verification-code__not-found">
            <FaIcon @icon="exclamation-triangle"/>
            <span>{{t "pages.fill-in-certificate-verification-code.errors.not-found"}}</span>
          </div>
          {{/if}}
        </form>
    </PixBlock>
    </PixBackgroundHeader>
  </burger.outlet>
</BurgerMenu>
