{{! template-lint-disable no-action require-input-label no-invalid-interactive no-triple-curlies no-unknown-arguments-for-builtin-components }}
{{page-title (t "pages.fill-in-campaign-code.title")}}

<div class="pix-communication-banner">
  <DataProtectionPolicyInformationBanner />
</div>

<div>
  <NavbarHeader />
</div>

<div class="main">
  <PixBackgroundHeader>
    <PixBlock class="container">
      <p class="title rounded-panel-title">
        {{this.firstTitle}}
      </p>

      <p class="instruction">{{{t
          "pages.fill-in-campaign-code.description"
        }}}</p>
      <form class="form" autocomplete="off">

        <div class="form-field">
          <Input
            required
            class="input-code"
            @type="text"
            @value={{this.campaignCode}}
            maxlength="9"
            {{on "keyup" this.clearErrorMessage}}
          />
        </div>

        {{#if this.errorMessage}}
          <div class="error">
            {{this.errorMessage}}
          </div>
        {{/if}}

        <div class="actions">
          <PixButton
            @type="submit"
            class="start-button"
            @triggerAction={{action "startCampaign"}}
          >
            {{t "pages.fill-in-campaign-code.start"}}
          </PixButton>
        </div>
      </form>

      {{#if this.showWarningMessage}}
        <div class="warning">
          <p>{{this.warningMessage}}</p>
          <a href="#" class="link" {{action this.disconnect}}>
            {{t "pages.fill-in-campaign-code.warning-message-logout"}}
          </a>
        </div>
      {{/if}}

      <div class="explanation">
        <a
          href={{t "pages.fill-in-campaign-code.explanation-link"}}
          class="link"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{t "pages.fill-in-campaign-code.explanation-message"}}
        </a>
      </div>
    </PixBlock>
  </PixBackgroundHeader>
</div>

<div id="footer" class="footer">
  <div class="footer__container">
    <div class="footer-container__logos">
      <div class="footer-logos__french-government">
        <img src="/images/logo/logo-de-la-republique-francaise.svg" />
      </div>
      <PixLogo />
    </div>

    <div class="footer-container__content">
      <div class="footer-container-content__navigation">
        <div class="footer-container-content__navigation-list">
          <div>
            <a href="{{this.supportHomeUrl}}" target="_blank" class="footer-navigation__item" rel="noopener noreferrer">
              {{t "navigation.footer.help-center"}}
            </a>
          </div>

          <div>
            <a
              href="{{this.accessibilityUrl}}"
              target="_blank"
              class="footer-navigation__item"
              rel="noopener noreferrer"
            >
              {{t "navigation.footer.a11y"}}
            </a>
          </div>

          <div>
            <a href="{{this.cguUrl}}" target="_blank" class="footer-navigation__item" rel="noopener noreferrer">
              {{t "navigation.footer.eula"}}
            </a>
          </div>

          <div>
            <a
              href="{{this.dataProtectionPolicyUrl}}"
              target="_blank"
              class="footer-navigation__item"
              rel="noopener noreferrer"
            >
              {{t "navigation.footer.data-protection-policy"}}
            </a>
          </div>

          <div>
            <a
              href="{{t 'navigation.footer.student-data-protection-policy-url'}}"
              target="_blank"
              class="footer-navigation__item"
              rel="noopener noreferrer"
            >
              {{t "navigation.footer.student-data-protection-policy"}}
            </a>
          </div>
          <div>
            <LinkTo
              @route="authenticated.sitemap"
              class="footer-navigation__item footer-navigation__item--internal-link"
            >
              {{t "navigation.footer.sitemap"}}
            </LinkTo>
          </div>
        </div>
      </div>

      <div class="footer-container-content__copyrights">
        <span>{{t "navigation.copyrights"}} 2023 {{t "navigation.pix"}}</span>
      </div>
    </div>

  </div>

</div>

<PixModal
  @title={{t "pages.fill-in-campaign-code.mediacentre-start-campaign-modal.title"}}
  @onCloseButtonClick={{this.closeModal}}
  @showModal={{this.showGARModal}}
>
  <:content>
    <p>
      {{t "pages.fill-in-campaign-code.mediacentre-start-campaign-modal.message"}}
      <p class="pix-text--small">
        <div class="pix-text--small"><b>{{this.campaign.targetProfileName}}</b></div>
        {{t "pages.fill-in-campaign-code.mediacentre-start-campaign-modal.organised-by"}}
        <b>{{this.campaign.organizationName}}</b>
      </p>
      <p class="pix-text--small">
        <b>{{t "pages.fill-in-campaign-code.mediacentre-start-campaign-modal.message-footer"}}</b>
      </p>
    </p>
  </:content>

  <:footer>
    <div class="mediacentre-start-campaign-modal__action-buttons">
      <LinkTo class="pix-text--link pix-text--small" @route="campaigns.entry-point" @model={{this.campaign.code}}>
        {{t "pages.fill-in-campaign-code.mediacentre-start-campaign-modal.actions.continue"}}
      </LinkTo>
      <PixButton @triggerAction={{this.closeModal}}>
        {{t "pages.fill-in-campaign-code.mediacentre-start-campaign-modal.actions.quit"}}
      </PixButton>
    </div>
  </:footer>
</PixModal>