{{page-title this.module.title}}

<div class="module-preview">
  <aside class="module-preview__passage">
    <div class="module-preview-passage__title">
      <h1>{{this.formattedModule.title}}</h1>
    </div>

    <div class="module-preview-passage__content">
      {{#each this.formattedModule.grains as |grain|}}
        <Module::Grain
          @grain={{grain}}
          @onElementRetry={{this.noop}}
          @passage={{this.passage}}
          @transition={{this.grainTransition grain.id}}
          @onImageAlternativeTextOpen={{this.noop}}
          @onVideoTranscriptionOpen={{this.noop}}
          @onElementAnswer={{this.noop}}
          @onStepperNextStep={{this.noop}}
          @canMoveToNextGrain={{false}}
          @onGrainContinue={{this.noop}}
          @onGrainSkip={{this.noop}}
          @shouldDisplayTerminateButton={{false}}
          @onModuleTerminate={{this.noop}}
          @hasJustAppeared={{false}}
          @onVideoPlay={{this.noop}}
          @onFileDownload={{this.noop}}
        />
      {{/each}}
    </div>
  </aside>

  <main class="module-preview__form">
    <PixTextarea
      class="module-preview-form__textarea"
      @id="module"
      @value={{this.module}}
      @errorMessage={{this.errorMessage}}
      {{on "change" this.updateModule}}
    >
      <:label>{{t "pages.modulix.preview.textarea-label"}}</:label>
    </PixTextarea>
  </main>
</div>