{{navbar-header class="navbar-header--white"}}
<div class="profilv2-page">
  <div class="profilv2__banner"></div>

  <div class="rounded-panel rounded-panel--strong profilv2__panel">

    <div class="rounded-panel-header-with-components">
      <div class="rounded-panel-header__left-wrapper">
        <h1 class="rounded-panel-header-text__content rounded-panel-title">
          votre profil
        </h1>

        <h2 class="rounded-panel-header-text__content rounded-panel-subtitle">
          Vous avez 16 compétences à tester.<br>On se concentre et c'est partix !
        </h2>
      </div>

      <div class="rounded-panel-header__right-wrapper">
        {{hexagon-score pixScore=model.pixScore.value}}
      </div>
    </div>

    <div class="rounded-panel-body">
      {{#each model.scorecards as |scorecard|}}
        <div class="scorecard">
          <div class="scorecard-content__area">Area: {{scorecard.area.title}}</div>
          <div class="scorecard-content__competence">Compétence: {{scorecard.name}}</div>
          <div>Niveau: {{scorecard.level}}</div>
          <div class="scorecard-content__percentage-ahead-of-next-level">Points restants sur niveau: {{scorecard.pixScoreAheadOfNextLevel}}</div>
          <div>Pix par compétence: {{scorecard.earnedPix}}</div>
        </div>
        <br>
      {{/each}}
    </div>

  </div>
</div>
