{{resume-campaign-banner campaignParticipations=model.campaignParticipations}}
{{navbar-header class="navbar-header--white"}}
<div class="profilv2-page">
  <div class="background-banner"></div>

  <div class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner profilv2__panel">

    <div class="rounded-panel-header-with-components">
      <div class="rounded-panel-header__left-wrapper">
        <h1 class="rounded-panel-header-text__content rounded-panel-title">
          Vous avez 16 compétences à tester.<br>On se concentre et c'est partix !
        </h1>

        <h2 class="rounded-panel-header-text__content profilv2-panel-header-information">
          Le profil Pix évolue.
          <a class="link"
             href="https://pix.fr/actualites/votre-profil-evolue"
             target="Actualité Pix">
            Découvrez ce qui change.
          </a>
        </h2>
      </div>

      <div class="rounded-panel-header__right-wrapper">
        {{hexagon-score pixScore=model.pixScore.value}}
      </div>
    </div>

    <div class="profilv2-panel__link-to-compte">
      {{#link-to "compte" class="link link--grey rounded-panel__link"}}Accès à l'ancien profil{{/link-to}}
    </div>

    <div class="rounded-panel-body">
      {{#each model.areasCode as |areaCode|}}
        <div class="rounded-panel-body__areas">
          {{#each model.scorecards as |scorecard|}}
            {{#if (eq areaCode scorecard.area.code)}}
              <div class="rounded-panel-body__competence-card">
                {{competence-card scorecard=scorecard}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/each}}
    </div>

  </div>
</div>

{{#if showNewProfileModal}}
  {{#pix-modal onClose=(action "updateUserHasSeenMigration")}}
    <div class="pix-modal__close-link">
      <a href="#" {{action "updateUserHasSeenMigration"}}>Fermer
        <img src="/images/icon-close-modal.svg" alt="Fermer la fenêtre modale" width="24" height="24">
      </a>
    </div>

    <div class="pix-modal__container">
      <div class="pix-modal-header">
        <h1 class="pix-modal-header__title">Nouveau profil !</h1>
      </div>

      <div class="pix-modal-body">
        <div class="new-profile">
          <p>Vous avez été migré sur le tout nouveau profil de Pix.</p>
        </div>
      </div>

      <div class="pix-modal-footer pix-modal-footer--with-centered--buttons">
        <button class="button" {{action "updateUserHasSeenMigration"}}>Fermer</button>
      </div>
    </div>
  {{/pix-modal}}
{{/if}}
