{{page-title (t 'pages.recover-account-after-leaving-sco.title')}}

<div class="recover-account-after-leaving-sco">
  <div class="recover-account-after-leaving-sco-content">
    <PixLogo />
    <div class="recover-account-after-leaving-sco-content__image">
      <img alt="" role="none"
        src="{{rootURL}}/images/illustrations/recovery-account/recover-account-illustration.svg">
    </div>

    <div class="recover-account-after-leaving-sco-content__step">
      {{#if this.showRecoverAccountStudentInformationForm}}
        <RecoverAccountStudentInformationForm
          @submitStudentInformation={{this.submitStudentInformation}}
          @showAccountNotFoundError={{this.showAccountNotFoundError}} />
      {{/if}}

      {{#if this.showRecoverAccountConflictError}}
        <RecoverAccountConflictError @firstName={{this.firstName}} />
      {{/if}}

      {{#if this.showRecoverAccountConfirmationStep}}
        <RecoverAccountConfirmationStep
          @studentInformationForAccountRecovery={{this.studentInformationForAccountRecovery}}
          @cancelAccountRecovery={{this.cancelAccountRecovery}}
          @continueAccountRecoveryBackupEmailConfirmation={{this.continueAccountRecoveryBackupEmailConfirmation}}
        />
      {{/if}}

      {{#if this.showRecoverAccountBackupEmailConfirmationForm}}
        <RecoveryAccount::RecoverAccountBackupEmailConfirmationForm
          @firstName={{this.firstName}}
          @existingEmail={{this.studentInformationForAccountRecovery.email}}
          @cancelAccountRecovery={{this.cancelAccountRecovery}}
        />
      {{/if}}
    </div>
  </div>
</div>
