{{page-title (t "pages.reset-password.title")}}

{{#if this.isNewAuthenticationDesignEnabled}}
  <AuthenticationLayout class="signup-page-layout">
    <:header>
      <PixButtonLink @variant="secondary" @route="authentication.login">
        {{t "pages.sign-up.actions.login"}}
      </PixButtonLink>
    </:header>
    <:content>
      <h1 class="pix-title-m">{{t "pages.reset-password.first-title"}}</h1>
      <Authentication::PasswordResetForm::PasswordResetForm
        @temporaryKey={{@model.temporaryKey}}
        @user={{@model.user}}
      />
    </:content>
  </AuthenticationLayout>
{{else}}
  <div class="sign-form-page">
    <ResetPasswordForm @user={{@model.user}} @temporaryKey={{@model.temporaryKey}} />
  </div>
{{/if}}