{{page-title (t 'pages.user-tests.title')}}
<BurgerMenu @animation="push" @translucentOverlay={{true}} as |burger|>
  <burger.outlet>
    <NavbarHeader @burger={{burger}} />
    <main id="main">
      <PixBackgroundHeader>
        <div class="user-tests-banner">
          <img src="{{this.rootURL}}/images/background/user-test-banner.svg" class="user-tests-banner__icon" role="none" alt="" />
          <h3 class="user-tests-banner__title">{{t 'pages.user-tests.title'}}</h3>
        </div>
      </PixBackgroundHeader>

      <section class="user-tests-main">
        <CampaignParticipationOverview::Grid @model={{this.model}}/>
      </section>
    </main>
    <Footer/>
  </burger.outlet>
</BurgerMenu>
