{{!-- template-lint-disable no-implicit-this  --}}
{{page-title (t 'pages.user-account.title')}}
<BurgerMenu @animation="push" @translucentOverlay={{true}} as |burger|>
  <burger.outlet>

    <NavbarHeader @burger={{burger}} @campaignParticipations={{@model.campaignParticipations}}/>

    <main>
      <div class="background-banner">
        <div class="user-account__banner">
          <h1 class="user-account-banner__title">{{t 'pages.user-account.title'}}</h1>
        </div>
      </div>
      {{#if this.isEmailEditionMode}}
      <div class="user-account__update-email">
        <UserAccountUpdateEmail
                @user={{@model}}
                @disableEmailEditionMode={{this.disableEmailEditionMode}}
                @saveNewEmail={{this.saveNewEmail}}/>
      </div>
      {{else}}
      <div class="user-account__panel">
        <UserAccountPanel
                @user={{@model}}
                @enableEmailEditionMode={{this.enableEmailEditionMode}}/>
      </div>
      {{/if}}
    </main>

    <Footer />
  </burger.outlet>
</BurgerMenu>
