{{!-- template-lint-disable no-implicit-this  --}}
{{page-title (t 'pages.user-account.title')}}
<BurgerMenu @animation="push" @translucentOverlay={{true}} as |burger|>
  <burger.outlet>

    <NavbarHeader @burger={{burger}} @campaignParticipations={{@model.campaignParticipations}} />

    <main id="main">
      <PixBackgroundHeader>

        <h1 class="user-account__title">{{t 'pages.user-account.title'}}</h1>
        <div class="user-account__menu-and-content">
          <PixBlock class="user-account__menu-block">
            <nav class="user-account-menu">
              <LinkTo @route="user-account.personal-information" class="user-account-menu__link">
                <FaIcon @icon='user' /> Informations personnelles
              </LinkTo>
              <LinkTo @route="user-account.connection-methods" class="user-account-menu__link">
                <FaIcon @icon='link' /> Méthodes de connexion
              </LinkTo>
            </nav>
          </PixBlock>

          <PixBlock class="user-account__content">
            {{outlet}}
          </PixBlock>
        </div>
      </PixBackgroundHeader>
    </main>

    <Footer />
  </burger.outlet>
</BurgerMenu>
