{{page-title "Rejoindre"}}

<div class="background-banner-wrapper">
  <div class="background-banner"></div>
  <div
    class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner join-restricted-campaign__container">
    <div class="join-restricted-campaign">
      <div class="join-restricted-campaign__title">Rejoignez l'organisation {{@model.organizationName}}</div>
      <div class="join-restricted-campaign__subtitle">Remplissez les informations manquantes</div>
      {{#if (eq @model.organizationType "SCO")}}
        <Routes::Campaigns::Restricted::JoinSco @campaignCode={{@model.code}} @onSubmit={{this.attemptNext}} />
      {{else}}
        <Routes::Campaigns::Restricted::JoinSup @campaignCode={{@model.code}} @onSubmit={{this.attemptNext}} />
      {{/if}}
    </div>
  </div>
</div>
