<div class="complementary-certification-attach-badges">
  <p class="complementary-certification-attach-badges__description">
    Les niveaux de RT sont déterminés en fonction de leur difficulté, avec le chiffre le plus bas étant le plus facile à
    obtenir et le chiffre le plus haut étant le chiffre le plus difficile à obtenir (1 &#60; 3).
  </p>

  {{#if @error}}
    <PixMessage role="alert" @type="error" @withIcon={{true}} class="complementary-certification-attach-badges__error">
      {{@error}}
    </PixMessage>
  {{/if}}

  <section class="complementary-certification-attach-badges__list">
    <h1>Résultats thématiques certifiants</h1>

    <table aria-label="Liste des résultats thématiques">
      <thead>
        <tr>
          <ComplementaryCertifications::AttachForm::Badges::Header>
            ID
          </ComplementaryCertifications::AttachForm::Badges::Header>
          <ComplementaryCertifications::AttachForm::Badges::Header>
            Nom
          </ComplementaryCertifications::AttachForm::Badges::Header>
          <ComplementaryCertifications::AttachForm::Badges::Header @isRequired="true">
            <:default>Niveau</:default>
            <:tooltip>A compléter</:tooltip>
          </ComplementaryCertifications::AttachForm::Badges::Header>
          <ComplementaryCertifications::AttachForm::Badges::Header @isRequired="true">
            <:default>Image svg certificat Pix App</:default>
            <:tooltip>A compléter</:tooltip>
          </ComplementaryCertifications::AttachForm::Badges::Header>
          <ComplementaryCertifications::AttachForm::Badges::Header @isRequired="true">
            <:default>Label du certificat</:default>
            <:tooltip>A compléter</:tooltip>
          </ComplementaryCertifications::AttachForm::Badges::Header>
          <ComplementaryCertifications::AttachForm::Badges::Header @isRequired="true">
            <:default>Macaron de l'attestation PDF</:default>
            <:tooltip>A compléter</:tooltip>
          </ComplementaryCertifications::AttachForm::Badges::Header>
          <ComplementaryCertifications::AttachForm::Badges::Header>
            <:default>Message du certificat</:default>
            <:tooltip>A compléter</:tooltip>
          </ComplementaryCertifications::AttachForm::Badges::Header>
          <ComplementaryCertifications::AttachForm::Badges::Header>
            <:default>Message temporaire certificat</:default>
            <:tooltip>A compléter</:tooltip>
          </ComplementaryCertifications::AttachForm::Badges::Header>
        </tr>
      </thead>
      <tbody>
        {{#each @options as |option|}}
          <ComplementaryCertifications::AttachForm::Badges::Row
            @badgeId={{option.id}}
            @badgeLabel={{option.label}}
            @badgeMaxLevel={{option.length}}
            @onFieldUpdate={{this.onBadgeUpdated}}
          />
        {{/each}}
      </tbody>
    </table>

    <p aria-details="Les colonnes marquées avec un astérisque sont des champs obligatoires">
      <abbr title="obligatoire" class="mandatory-mark">*</abbr>
      Champs obligatoires
    </p>
  </section>
</div>