<div class="complementary-certification-attach-badges">
  {{#if @error}}
    <PixMessage role="alert" @type="error" @withIcon={{true}} class="complementary-certification-attach-badges__error">
      {{@error}}
    </PixMessage>
  {{/if}}

  <section class="complementary-certification-attach-badges__section">
    <h1>Résultats thématiques certifiants</h1>

    <div class="complementary-certification-attach-badges-section__table">
      <p>Tous les champs sont obligatoires.</p>

      <table aria-label="Liste des résultats thématiques">
        <thead>
          <tr>
            <ComplementaryCertifications::AttachBadges::Badges::Header>
              ID
            </ComplementaryCertifications::AttachBadges::Badges::Header>
            <ComplementaryCertifications::AttachBadges::Badges::Header>
              Nom
            </ComplementaryCertifications::AttachBadges::Badges::Header>
            <ComplementaryCertifications::AttachBadges::Badges::Header>
              <:default>Niveau</:default>
              <:tooltip>
                Renseignez un chiffre unique pour chaque RT, niveau minimum = 1 niveau maximum = nombre total de RT.
              </:tooltip>
            </ComplementaryCertifications::AttachBadges::Badges::Header>
            <ComplementaryCertifications::AttachBadges::Badges::Header>
              <:default>Nombre de pix minimum</:default>
            </ComplementaryCertifications::AttachBadges::Badges::Header>
            <ComplementaryCertifications::AttachBadges::Badges::Header>
              <:default>Image svg certificat Pix App</:default>
              <:tooltip>
                Renseignez l’URL de l’image au format .svg (fournie par les devs) pour le certificat Pix App du
                candidat.
              </:tooltip>
            </ComplementaryCertifications::AttachBadges::Badges::Header>
            <ComplementaryCertifications::AttachBadges::Badges::Header>
              <:default>Label du certificat</:default>
              <:tooltip>
                Renseignez un label qui permet de distinguer chaque RT (exemples : Pix+ Droit Expert, CléA Numérique,
                Pix+ Edu 2nd degré Confirmé etc…)
              </:tooltip>
            </ComplementaryCertifications::AttachBadges::Badges::Header>
            <ComplementaryCertifications::AttachBadges::Badges::Header>
              <:default>Macaron de l'attestation PDF</:default>
              <:tooltip>
                Renseignez l’URL de l’image au format .pdf (fournie par les devs) pour l’attestation de certification
                PDF du candidat.
              </:tooltip>
            </ComplementaryCertifications::AttachBadges::Badges::Header>
            {{#if @hasExternalJury}}
              <ComplementaryCertifications::AttachBadges::Badges::Header>
                <:default>Message du certificat</:default>
                <:tooltip>
                  Renseignez le message définitif à afficher sur le certificat Pix App pour les certifications
                  comportant plusieurs volets (exemple : Vous avez obtenu la certification Pix+ Edu niveau “Avancé”).
                </:tooltip>
              </ComplementaryCertifications::AttachBadges::Badges::Header>
              <ComplementaryCertifications::AttachBadges::Badges::Header>
                <:default>Message temporaire certificat</:default>
                <:tooltip>
                  Renseignez le message temporaire à afficher sur le certificat Pix App en attendant la validation de
                  tous les volets de la certification (exemple : Vous avez obtenu le niveau “Avancé” dans le cadre du
                  volet 1 de la certification Pix+Édu. Votre niveau final sera déterminé à l’issue du volet 2).
                </:tooltip>
              </ComplementaryCertifications::AttachBadges::Badges::Header>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each @options as |option|}}
            <ComplementaryCertifications::AttachBadges::Badges::Row
              @badgeId={{option.id}}
              @badgeLabel={{option.label}}
              @badgeMaxLevel={{option.length}}
              @onFieldUpdate={{this.onBadgeUpdated}}
              @hasExternalJury={{@hasExternalJury}}
            />
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</div>