<tr class="badge" aria-label="Résultat thématique {{@badgeId}} {{@badgeLabel}}">
  <th scope="row">{{@badgeId}}</th>
  <th scope="row">{{@badgeLabel}}</th>
  <td>
    <PixInput
      @id="{{@badgeId}}-level"
      name="level"
      placeholder="Exemple de niveau de RT : 1"
      required="true"
      aria-required="true"
      @screenReaderOnly={{true}}
      type="number"
      min="1"
      max="{{@badgeMaxLevel}}"
      {{on "input" (fn @onFieldUpdate @badgeId)}}
      value="1"
    >
      <:label>{{@badgeId}} {{@badgeLabel}} Niveau</:label>
    </PixInput>
  </td>
  <td>
    <PixInput
      @id="{{@badgeId}}-minimum-earned-pix"
      name="minimum-earned-pix"
      placeholder="Ex : 150"
      @screenReaderOnly={{true}}
      type="number"
      {{on "input" (fn @onFieldUpdate @badgeId)}}
    >
      <:label>{{@badgeId}} {{@badgeLabel}} Nombre de pix minimum</:label>
    </PixInput>
  </td>
  <td>
    <PixInput
      @id="{{@badgeId}}-certificate-image"
      name="certificate-image"
      placeholder="Ex : https://images.pix.fr/..."
      required="true"
      aria-required="true"
      @screenReaderOnly={{true}}
      type="text"
      {{on "input" (fn @onFieldUpdate @badgeId)}}
    >
      <:label>{{@badgeId}} {{@badgeLabel}} Image svg certificat Pix App</:label>
    </PixInput>
  </td>
  <td>
    <PixTextarea
      @id="{{@badgeId}}-certificate-label"
      name="certificate-label"
      placeholder="Ex : Pix+ Édu 1er degré Initié (entrée dans le métier)"
      required="true"
      aria-required="true"
      @screenReaderOnly={{true}}
      {{on "input" (fn @onFieldUpdate @badgeId)}}
    >
      <:label>{{@badgeId}} {{@badgeLabel}} Label du certificat</:label>
    </PixTextarea>
  </td>
  <td>
    <PixInput
      @id="{{@badgeId}}-certificate-sticker"
      name="certificate-sticker"
      placeholder="Ex : https://images.pix.fr/..."
      required="true"
      aria-required="true"
      @screenReaderOnly={{true}}
      type="text"
      {{on "input" (fn @onFieldUpdate @badgeId)}}
    >
      <:label>{{@badgeId}} {{@badgeLabel}} Macaron de l'attestation PDF</:label>
    </PixInput>
  </td>
  {{#if @hasExternalJury}}
    <td>
      <PixTextarea
        @id="{{@badgeId}}-certificate-message"
        @screenReaderOnly={{true}}
        name="certificate-message"
        placeholder="Ex : Vous avez obtenu la certification Pix+Édu niveau “Initié (entrée dans le métier)”"
        required="true"
        {{on "input" (fn @onFieldUpdate @badgeId)}}
      >
        <:label>{{@badgeId}} {{@badgeLabel}} Message du certificat</:label>
      </PixTextarea>
    </td>
    <td>
      <PixTextarea
        @id="{{@badgeId}}-certificate-temporary-message"
        @screenReaderOnly={{true}}
        name="certificate-temporary-message"
        placeholder="Ex : Vous avez obtenu la certification Pix+Édu niveau “Initié (entrée dans le métier)”"
        required="true"
        {{on "input" (fn @onFieldUpdate @badgeId)}}
      >
        <:label>{{@badgeId}} {{@badgeLabel}} Message temporaire certificat</:label>
      </PixTextarea>
    </td>
  {{/if}}
</tr>