<tr class="badge" aria-label="Résultat thématique {{@badgeId}} {{@badgeLabel}}">
  <th scope="row">{{@badgeId}}</th>
  <th scope="row">{{@badgeLabel}}</th>
  <td>
    <PixInput
      @id="{{@badgeId}}-level"
      name="level"
      placeholder="Exemple de niveau de RT : 1"
      required="true"
      aria-required="true"
      @ariaLabel="{{@badgeId}} {{@badgeLabel}} Niveau"
      title="{{@badgeId}} {{@badgeLabel}} Niveau"
      type="number"
      min="1"
      max="{{@badgeMaxLevel}}"
      {{on "input" (fn @onFieldUpdate @badgeId)}}
      value="1"
    />
  </td>
  <td>
    <PixInput
      @id="{{@badgeId}}-certificate-image"
      name="certificate-image"
      placeholder="Ex : https://images.pix.fr/..."
      required="true"
      aria-required="true"
      @ariaLabel="{{@badgeId}} {{@badgeLabel}} Image svg certificat Pix App"
      title="{{@badgeId}} {{@badgeLabel}} Image svg certificat Pix App"
      type="text"
      {{on "input" (fn @onFieldUpdate @badgeId)}}
    />
  </td>
  <td>
    <PixTextarea
      @id="{{@badgeId}}-certificate-label"
      name="certificate-label"
      placeholder="Ex : Pix+ Édu 1er degré Initié (entrée dans le métier)"
      required="true"
      aria-required="true"
      aria-label="{{@badgeId}} {{@badgeLabel}} Label du certificat"
      title="{{@badgeId}} {{@badgeLabel}} Label du certificat"
      {{on "input" (fn @onFieldUpdate @badgeId)}}
    />
  </td>
  <td>
    <PixInput
      @id="{{@badgeId}}-certificate-sticker"
      name="certificate-sticker"
      placeholder="Ex : https://images.pix.fr/..."
      required="true"
      aria-required="true"
      @ariaLabel="{{@badgeId}} {{@badgeLabel}} Macaron de l'attestation PDF"
      title="{{@badgeId}} {{@badgeLabel}} Macaron de l'attestation PDF"
      type="text"
      {{on "input" (fn @onFieldUpdate @badgeId)}}
    />
  </td>
  {{#if @hasExternalJury}}
    <td>
      <PixTextarea
        @id="{{@badgeId}}-certificate-message"
        name="certificate-message"
        placeholder="Ex : Vous avez obtenu la certification Pix+Édu niveau “Initié (entrée dans le métier)”"
        aria-label="{{@badgeId}} {{@badgeLabel}} Message du certificat"
        title="{{@badgeId}} {{@badgeLabel}} Message du certificat"
        required="true"
        {{on "input" (fn @onFieldUpdate @badgeId)}}
      />
    </td>
    <td>
      <PixTextarea
        @id="{{@badgeId}}-certificate-temporary-message"
        name="certificate-temporary-message"
        placeholder="Ex : Vous avez obtenu la certification Pix+Édu niveau “Initié (entrée dans le métier)”"
        aria-label="{{@badgeId}} {{@badgeLabel}} Message temporaire certificat"
        title="{{@badgeId}} {{@badgeLabel}} Message temporaire certificat"
        required="true"
        {{on "input" (fn @onFieldUpdate @badgeId)}}
      />
    </td>
  {{/if}}
</tr>