<header class="navigation">
  <Ui::Breadcrumb @links={{this.breadcrumbLinks}} />
</header>

<header class="campaign-prescriber-profile page__title">
  <div class="page-header">
    <h1 class="page-title">
      {{@campaignProfile.firstName}}
      {{@campaignProfile.lastName}}
    </h1>
    {{#if (and @campaignProfile.isCertifiable @campaignProfile.isShared)}}
      <PixTag @color="green-light" class="prescriber__certifiable-tag">
        {{t "pages.profiles-individual-results.certifiable"}}
      </PixTag>
    {{/if}}
  </div>
  <p class="participant__link">
    <FaIcon @prefix="far" @icon="user" />
    <Participant::LinkTo @organizationLearnerId={{@campaignProfile.organizationLearnerId}}>
      {{t "common.actions.link-to-participant"}}
    </Participant::LinkTo>
  </p>
</header>

<section class="panel panel--header">
  <header class="panel-header__headline">
    <h2 class="panel-header-title">{{@campaign.name}}</h2>
  </header>
  <div class="panel-header__body">
    <Ui::InformationWrapper>
      {{#if @campaignProfile.externalId}}
        <Ui::Information>
          <:title>{{@campaign.idPixLabel}}</:title>
          <:content>{{@campaignProfile.externalId}}</:content>
        </Ui::Information>
      {{/if}}
      <Ui::Information>
        <:title>{{t "pages.campaign-individual-results.start-date"}}</:title>
        <:content>{{dayjs-format @campaignProfile.createdAt "DD MMM YYYY"}}</:content>
      </Ui::Information>
      {{#if @campaignProfile.isShared}}
        <Ui::Information>
          <:title>{{t "pages.campaign-individual-results.shared-date"}}</:title>
          <:content>{{dayjs-format @campaignProfile.sharedAt "DD MMM YYYY"}}</:content>
        </Ui::Information>
      {{/if}}
    </Ui::InformationWrapper>

    {{#if @campaignProfile.isShared}}
      <ul class="panel-header__data panel-header__data--highlight">
        <li class="panel-header-data__content">
          <span class="value-text value-text--highlight">{{t
              "pages.profiles-individual-results.pix-score"
              score=@campaignProfile.pixScore
            }}</span>
          <span class="label-text label-text--dark label-text--small">
            {{t "pages.profiles-individual-results.pix"}}
          </span>
        </li>
        <li class="panel-header-data__content">
          <span class="value-text">
            <span class="value-text value-text--highlight">{{@campaignProfile.certifiableCompetencesCount}}</span>
            <span>&nbsp;/&nbsp;{{@campaignProfile.competencesCount}}</span>
          </span>
          <span class="label-text label-text--dark label-text--small">
            {{t "pages.profiles-individual-results.competences-certifiables"}}
          </span>
        </li>
      </ul>
    {{/if}}
  </div>
</section>