<section class="page-section">
  <header class="page-section__header">
    <h2 class="page-section__title">{{t "components.administration.anonymize-gar-import.title"}}</h2>
  </header>

  <p class="description">{{t "components.administration.anonymize-gar-import.description"}}</p>

  <PixButtonUpload
    @id="anonymize-gar-upload"
    @onChange={{this.anonymizeGar}}
    @variant="secondary"
    disabled={{this.isLoading}}
    accept=".csv"
  >
    {{#if this.isLoading}}
      {{t "common.forms.loading"}}
    {{else}}
      {{t "components.administration.anonymize-gar-import.upload-button"}}
    {{/if}}
  </PixButtonUpload>
</section>