<section class="page-section">
  <header class="page-section__header">
    <h2 class="page-section__title">{{t "components.administration.campaigns-import.title"}}</h2>
  </header>
  <p>{{t "components.administration.campaigns-import.description"}}</p>
  <br />
  <PixButtonUpload
    @id="campaigns-file-upload"
    @onChange={{this.importCampaigns}}
    @variant="secondary"
    @isBorderVisible={{true}}
    accept=".csv"
  >
    {{t "components.administration.campaigns-import.upload-button"}}
  </PixButtonUpload>
</section>