<section class="page-section">
  <header class="page-section__header">
    <h2 class="page-section__title">{{t "components.administration.update-campaign-code.title"}}</h2>
  </header>

  <form {{on "submit" this.updateCode}}>
    <fieldset class="campaign-update-code">
      <legend>{{t "components.administration.update-campaign-code.description"}}</legend>
      <PixInput @id="firstCampaignId" {{on "change" this.onChangeCampaignId}}>
        <:label>{{t "components.administration.update-campaign-code.form.campaignId"}}</:label>
      </PixInput>
      <PixInput @id="secondCampaignId" {{on "change" this.onChangeCampaignCode}}>
        <:label>{{t "components.administration.update-campaign-code.form.campaignCode"}}</:label>
      </PixInput>
    </fieldset>
    <PixButton @type="submit" @size="small" @isLoading={{this.isLoading}}>
      {{t "components.administration.update-campaign-code.form.button"}}
    </PixButton>
  </form>
</section>