<div class="app">

  <aside class="app__sidebar sidebar">
    <header class="sidebar__logo">
      <LinkTo @route="authenticated" type="button" aria-hidden="true">
        <img class="sidebar__logo-image" src="{{this.rootUrl}}/pix-certif-logo.svg" alt="Pix Certif" />
      </LinkTo>
    </header>

    <nav class="sidebar-menu">
      <ul>
        {{#if this.showLinkToSessions}}
          <li>
            <LinkTo
              @route="authenticated.sessions.list"
              class="sidebar-menu__item"
              type="button"
              aria-label={{t "navigation.main.sessions-label"}}
            >
              {{! template-lint-disable no-redundant-role }}
              <img
                src="{{this.rootURL}}/icons/chevron-square-right.svg"
                alt=""
                role="presentation"
                class="sidebar-menu__item-icon"
              />
              {{t "navigation.main.sessions"}}
            </LinkTo>
          </li>
          <li>
            <LinkTo @route="login-session-supervisor" class="sidebar-menu__item" type="button">
              <FaIcon @icon="eye" class="sidebar-menu__item-icon" />
              {{t "navigation.main.supervisor"}}
            </LinkTo>
          </li>
        {{/if}}
        <li>
          <LinkTo @route="authenticated.team" class="sidebar-menu__item" type="button">
            <FaIcon @icon="users" class="sidebar-menu__item-icon" />
            {{t "navigation.main.team"}}
          </LinkTo>
        </li>
        <li>
          <a class="sidebar-menu__item" href="{{this.documentationLink}}" target="_blank" rel="noopener noreferrer">
            <FaIcon @icon="book" class="sidebar-menu__item-icon" />
            {{t "navigation.main.documentation"}}
          </a>
        </li>
      </ul>
    </nav>

  </aside>

  <div class="app__main-content main-content">

    <div class="main-content__topbar topbar">
      <UserLoggedMenu @onCertificationCenterAccessChanged={{this.changeCurrentCertificationCenterAccess}} />
    </div>

    {{#if this.showBanner}}
      <PixBanner
        @actionLabel={{t "pages.sco.banner.url-label"}}
        @actionUrl="https://cloud.pix.fr/s/GqwW6dFDDrHezfS"
        @canCloseBanner="true"
      >
        {{t "pages.sco.banner.information"}}
      </PixBanner>
    {{/if}}

    {{#if this.displayRoleManagementBanner}}
      <PixBanner
        @actionLabel={{t "pages.sup-and-pro.banner.url-label"}}
        @actionUrl="https://cloud.pix.fr/s/xfPrK5n7K73kmbz"
        @canCloseBanner="true"
      >
        {{t "pages.sup-and-pro.banner.information" htmlSafe=true}}
      </PixBanner>
    {{/if}}

    <div class="page">
      {{outlet}}
    </div>

    <Layout::Footer />
  </div>

</div>