<div class="app">

  <aside class="app__sidebar sidebar">
    <header class="sidebar__logo">
        <LinkTo @route="authenticated.sessions.list" type="button">
          <img class="sidebar__logo-image" src="{{this.rootUrl}}/pix-certif-logo.svg" alt="PixCertif">
        </LinkTo>
    </header>

    <nav class="sidebar-menu">
      <ul>
        <li>
          <LinkTo @route="authenticated.sessions.list" class="sidebar-menu__item" type="button">
            <img src="{{this.rootURL}}/icons/chevron-square-right.svg" alt="Liste des sessions" class="sidebar-menu__item-icon">
            Sessions
          </LinkTo>
        </li>
        <li>
          <a class="sidebar-menu__item" href="{{this.documentationLink}}" target="_blank" rel="noopener noreferrer">
            <FaIcon @icon='book' @class="sidebar-menu__item-icon" />
            Documentation
          </a>
        </li>
      </ul>
    </nav>
    
  </aside>

  <div class="app__main-content main-content">

    <div class="main-content__topbar topbar">
      <div class="topbar__user-logged-menu"><UserLoggedMenu /></div>
    </div>

    {{#if this.showBanner}}
      <PixBanner class="sco-temporary-banner">
        <span class="sco-temporary-banner__informations-text">
          <FaIcon @icon="info-circle" class="sco-temporary-banner-informations-text__triangle-icon" />
          <p>
            La certification en collège et lycée est possible jusqu'au 25 juin. Pour reporter des sessions déjà programmées, il vous suffit de changer la date de la session en cliquant sur « modifier ».<br>
            <a href="https://view.genial.ly/6077017b8b37870d98620200" target="_blank" rel="noopener noreferrer"> En savoir plus <FaIcon @icon="external-link-alt"/></a>
          </p>
        </span>
        <button type="button" class="sco-temporary-banner-button" {{on 'click' this.closeBanner}}>
          <FaIcon @icon="times" class="sco-temporary-banner-button__times-icon" />
        </button>
      </PixBanner>
    {{/if}}

    <div class="main-content__body page">
      {{outlet}}
    </div>

  </div>

</div>
