{{page-title (t "pages.login.title")}}
<main class="login-page">
  <div>
    <Login
      @hasInvitationAlreadyBeenAccepted={{this.hasInvitationAlreadyBeenAccepted}}
      @isInvitationCancelled={{this.isInvitationCancelled}}
    />

    {{#if this.isInternationalDomain}}
      <LanguageSwitcher @selectedLanguage={{this.selectedLanguage}} @onLanguageChange={{this.onLanguageChange}} />
    {{/if}}
  </div>
</main>