{{page-title (t "pages.home.page-title")}}

<form onSubmit={{this.goToSchool}} class="school-code">
  <div class="school-code__welcome-with-bubble">
    <div class="school-code__rotated-bubble">{{t "pages.home.beta"}}</div>
    <p class="school-code__welcome">{{t "pages.home.welcome"}}</p>
  </div>
  <p class="school-code__instructions">{{t "pages.home.code-instruction"}}</p>
  <label for="organization-code" class="school-code__label">{{t "pages.home.code-label"}}</label>
  <PixInputCode
    id="organization-code"
    @ariaLabel={{t "pages.home.field-description"}}
    @legend={{t "pages.home.code-description"}}
    @numInputs={{9}}
    @inputType="text"
    @onAllInputsFilled={{this.updateCode}}
    class="school-code__input"
  />

  <PixButton class="pix1d-button" @type="submit" @shape="rounded" @size="large">
    {{t "pages.home.go-to-school"}}
  </PixButton>
</form>