{{page-title (t "pages.profiles-list.title")}}
<h2 class="screen-reader-only">{{t "pages.profiles-list.title"}}</h2>

{{#if @model.campaign.hasSharedParticipations}}
  <Campaign::Results::ProfileList
    @campaign={{@model.campaign}}
    @profiles={{@model.profiles}}
    @selectedDivisions={{this.divisions}}
    @selectedGroups={{this.groups}}
    @onClickParticipant={{this.goToProfilePage}}
    @onFilter={{this.triggerFiltering}}
    @onReset={{this.resetFiltering}}
    class="profile-results__list"
  />
{{else}}
  <Campaign::EmptyState @campaignCode={{@model.campaign.code}} />
{{/if}}