<div class="list-team-page__header">
  <div class="page__title page-title">Mon équipe</div>
  <div class="list-team-page-header__add-member-button">
    <LinkTo @route="authenticated.team.new" class="button button--link">Inviter un membre</LinkTo>
  </div>
</div>
{{#if @organizationInvitations}}
  <div class="panel list-team-page-invitations">
    <div class="table content-text content-text--small">
      <table id="table-invitations">
        <thead>
          <caption>Invitations en attente ({{@organizationInvitations.length}})</caption>
        </thead>
        <tbody>
          {{#each @organizationInvitations as |organizationInvitation|}}
            <tr>
              <td>{{organizationInvitation.email}}</td>
              <td colspan="3">Invité le {{moment-format organizationInvitation.createdAt 'DD/MM/YYYY'}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/if}}

<div class="panel">
  <div class="table content-text content-text--small">
    <table id="table-members">
      <thead>
        <caption>Liste des membres ({{@memberships.length}})</caption>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Rôle</th>
          <th></th>
        </tr>
      </thead>
      {{#if @memberships}}
        <tbody>
          {{#each @memberships as |membership|}}
            <Routes::Authenticated::Team::Items @membership={{membership}} @tagName="tr"/>
          {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless @memberships}}
      <div class="table__empty content-text">En attente de membres</div>
    {{/unless}}
  </div>
</div>
