<form {{on 'submit' @createOrganizationInvitation}} class="form">

  <div class="form__field">
    <label for="email" class="label">Adresse(s) e-mail</label>
    <Input
      @type="email"
      @id="email"
      @name="email"
      @class="input"
      @value={{@organizationInvitation.email}}
      @multiple={{true}}
      @aria-required="true"
      @required="required"
    />
  </div>

  <div class="form__validation">
    <div class="button button--no-color" role="button" {{on 'click' @cancel}}>Annuler</div>
    {{#if @isLoading}}
      <button type="button" disabled class="button"><span class="loader-in-button">&nbsp;</span></button>
    {{else}}
      <button type="submit" class="button button--regular">Inviter</button>
    {{/if}}
  </div>

</form>
