<div class="mission-page">
  <RobotDialog @class="happy">
    <Bubble @message={{t "pages.missions.end-page.congratulations"}} @color="success" />
  </RobotDialog>
  <div class="mission-page__body">
    <MissionCard
      @title={{@model.name}}
      @colorClass="area-{{@model.areaCode}}"
      @imageName="img-area-{{@model.areaCode}}"
    />

    <div class="mission-page__details">
      <p class="details-list__title">{{t "pages.missions.end-page.details-list"}}</p>
      <ul class="details-list">
        {{#each this.validatedObjectives as |element|}}
          <li class="details-list__item">
            <img src="/images/icons/objectif.svg" alt="" />
            <Markdown::MarkdownToHtml @markdown={{element}} />
          </li>
        {{/each}}
      </ul>

      <PixButtonLink @route="identified.missions" @shape="rounded" class="details-action">
        <p>{{t "pages.missions.end-page.back-to-missions"}}</p>
        <FaIcon @icon="arrow-right" class="details-action__icon" />
      </PixButtonLink>

    </div>
  </div>
</div>