<div class="mission-page-end">
  <RobotDialog @instruction={{t "pages.missions.end-page.congratulations"}} @class="happy" />
  <div class="mission-page-end__body-finish">
    {{#if (eq @model.id "recExjO7RHeDI48HK")}}
      <MissionCard @title="Recherche sur internet" @colorClass="red" @imageName="internet-search" />
    {{else}}
      <MissionCard @title="Données personnelles" @colorClass="blue" @imageName="personal-data" />
    {{/if}}
    <div class="mission-page-end__competences">
      <ul class="competences-list">
        <li class="competences-list__title">{{t "pages.missions.end-page.competences-list"}}</li>
        {{#if (eq @model.id "recExjO7RHeDI48HK")}}
          <li class="competences-list__item">
            <img src="/images/icons/objectif.svg" alt="" />
            <p>ce qu'est un moteur de recherche et donner le nom d'un moteur de recherche que tu connais,</p>
          </li>
          <li class="competences-list__item">
            <img src="/images/icons/objectif.svg" alt="" />
            <p>choisir correctement les mots pour faire une recherche,</p>
          </li>
          <li class="competences-list__item">
            <img src="/images/icons/objectif.svg" alt="" />
            <p>utiliser un moteur de recherche.</p>
          </li>
        {{else}}
          <li class="competences-list__item">
            <img src="/images/icons/objectif.svg" alt="" />
            <p>ce qu'est une donnée personelle,</p>
          </li>
          <li class="competences-list__item">
            <img src="/images/icons/objectif.svg" alt="" />
            <p>protéger tes données personnelles en évitant de les diffuser.</p>
          </li>
        {{/if}}
      </ul>
      <PixButtonLink @route="missions" @shape="rounded" class="back-to-mission">
        <p>{{t "pages.missions.end-page.back-to-missions"}}</p>
        <FaIcon @icon="arrow-right" class="back-to-mission__icon" />
      </PixButtonLink>
    </div>
  </div>
</div>