<div class="assessment-challenge">

  <div class="assessment-challenge__course-banner">
    {{#if model.assessment.isCertification}}
      {{certification-banner user=model.user certificationNumber=model.assessment.certificationNumber}}
    {{else}}
      {{course-banner course=model.assessment.course withHomeLink=true}}
    {{/if}}
  </div>

  <div class="assessment-challenge__content">
    {{#unless model.assessment.course.isAdaptive}}
      <div class="assessment-challenge__progress-bar">
        {{progress-bar progress=model.assessment.progress}}
      </div>
    {{/unless}}

    {{component (get-challenge-component-class model.challenge)
                challenge=model.challenge
                assessment=model.assessment
                answers=model.answers
                answerValidated=(route-action "saveAnswerAndNavigate")}}
  </div>
</div>
