<div class="assessment-challenge">

  <div class="assessment-challenge__course-banner">
      {{course-banner course=model.course withHomeLink=true}}
  </div>

  <div class="assessment-challenge__content">

    <div class="smart-random pix-progress-bar-wrapper">
      <h2 class="checkpoint-title">Mon parcours effectué</h2>

      <div class="pix-progress-bar">
        <div class="pix-progress-bar__marker" style="width: {{model.skillReview.profileCompletionPercentage}}"></div>
      </div>


      <div class="pix-progress-bar__legend-wrapper" style="width: {{model.skillReview.profileCompletionPercentage}}">
        <div class="pix-progress-bar__legend-circle"></div>
        <div class="pix-progress-bar__legend">
          <p class="sr-only">Vous avez effectué</p>{{model.skillReview.profileCompletionPercentage}}<p class="sr-only"> de votre parcours.</p>
        </div>
      </div>
    </div>

    <h2>Vos réponses :</h2>
    <div class="assessment-results__list">
      {{#each model.answersSinceLastCheckpoints as |answer index|}}
        {{result-item answer=answer index=index openComparison="openComparison" a11y-focus-id=(concat "open-comparison_" (add index 1))}}
      {{/each}}
    </div>

    <div class="assessment-challenge__continue-wrapper">
      {{#if finalCheckpoint}}
        {{#link-to 'assessments.rating' model class="assessment-checkpoint__continue-button"}}
          Voir mes résultats
          <img src="{{rootURL}}/images/button-continue/button-continue-next.png" srcset="
           {{rootURL}}/images/button-continue/button-continue-next@2x.png 2x,
					 {{rootURL}}/images/button-continue/button-continue-next@3x.png 3x"
               alt="" class="assessment-checkpoint__continue-button__image" />
        {{/link-to}}
      {{else}}
        {{#link-to 'assessments.resume' model class="assessment-checkpoint__continue-button"}}
          Je continue
          <img src="{{rootURL}}/images/button-continue/button-continue-next.png" srcset="
           {{rootURL}}/images/button-continue/button-continue-next@2x.png 2x,
					 {{rootURL}}/images/button-continue/button-continue-next@3x.png 3x"
               alt="" class="assessment-checkpoint__continue-button__image" />
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
