<div id="assessment-results">

  {{course-banner course=model.assessment.course}}

  <div class="container">

        <div class="rounded-panel big-text">
            <table class="table table-bordered" id="summary">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Instruction</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                  {{#each model.assessment.answers as |answer index|}}
                  <tr>
                      <td>{{add index 1}}</td>
                      <td>{{strip-instruction (convert-to-html answer.challenge.instruction)}}</td>
                      <td>
                        {{#if answer.isResultOk}}
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve" width="32px" height="32px"><g><path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26 S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" fill="#91DC5A"/><path d="M38.252,15.336l-15.369,17.29l-9.259-7.407c-0.43-0.345-1.061-0.274-1.405,0.156c-0.345,0.432-0.275,1.061,0.156,1.406 l10,8C22.559,34.928,22.78,35,23,35c0.276,0,0.551-0.114,0.748-0.336l16-18c0.367-0.412,0.33-1.045-0.083-1.411 C39.251,14.885,38.62,14.922,38.252,15.336z" fill="#91DC5A"/></g></svg>
                            <div>
                                <small>réponse correcte</small>
                            </div>
                        {{else if answer.isResultNotOk}}
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 490.4 490.4" style="enable-background:new 0 0 490.4 490.4;" xml:space="preserve" width="32px" height="32px"><g><g><path d="M245.2,490.4c135.2,0,245.2-110,245.2-245.2S380.4,0,245.2,0S0,110,0,245.2S110,490.4,245.2,490.4z M245.2,24.5 c121.7,0,220.7,99,220.7,220.7s-99,220.7-220.7,220.7s-220.7-99-220.7-220.7S123.5,24.5,245.2,24.5z" fill="#D80027"/><path d="M180.3,310.1c2.4,2.4,5.5,3.6,8.7,3.6s6.3-1.2,8.7-3.6l47.6-47.6l47.6,47.6c2.4,2.4,5.5,3.6,8.7,3.6s6.3-1.2,8.7-3.6 c4.8-4.8,4.8-12.5,0-17.3l-47.8-47.6l47.6-47.6c4.8-4.8,4.8-12.5,0-17.3s-12.5-4.8-17.3,0l-47.6,47.6l-47.6-47.6 c-4.8-4.8-12.5-4.8-17.3,0s-4.8,12.5,0,17.3l47.6,47.6l-47.6,47.6C175.5,297.6,175.5,305.3,180.3,310.1z" fill="#D80027"/></g></g></svg>
                            <div>
                                <small>réponse incorrecte</small>
                            </div>
                        {{else}}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.652 34.652" style="enable-background:new 0 0 34.652 34.652;" xml:space="preserve" width="32px" height="32px"><g><g><path d="M15.529,32.855C6.966,32.855,0,25.889,0,17.326C0,8.763,6.966,1.797,15.529,1.797 c8.563,0,15.529,6.967,15.529,15.529c0,0.49-0.397,0.888-0.888,0.888c-0.49,0-0.888-0.397-0.888-0.888 c0-7.584-6.17-13.755-13.754-13.755c-7.585,0-13.755,6.171-13.755,13.755c0,7.584,6.17,13.754,13.755,13.754 c4.852,0,9.397-2.601,11.862-6.787c0.249-0.423,0.793-0.562,1.215-0.314c0.422,0.248,0.562,0.792,0.315,1.215 C26.139,29.919,21.007,32.855,15.529,32.855z" fill="#006DF0"/></g><g><path d="M30.17,18.214c-0.153,0-0.309-0.04-0.45-0.123l-5.561-3.284c-0.422-0.249-0.562-0.793-0.313-1.215 c0.25-0.422,0.794-0.562,1.216-0.312l4.852,2.865l3.123-4.473c0.281-0.402,0.834-0.5,1.235-0.22c0.402,0.28,0.5,0.833,0.22,1.235 l-3.594,5.146C30.726,18.08,30.451,18.214,30.17,18.214z" fill="#006DF0"/></g></g></svg>
                            <div>
                                <small>validation en cours</small>
                            </div>
                        {{/if}}

                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>




        <p>Un PixMaster va étudier vos réponses et échanger avec vous pour recueillir vos impressions.</p>
        <p>{{#link-to "home" class="button button-primary home-link"}}Revenir à la liste des tests{{/link-to}}</p>
    </div>

</div>
</div>
