<div class="assessment-results">

  {{#if model.assessment.course.isAdaptive}}
    <div class="assessment-results__logo-banner">
      {{pix-logo}}
    </div>
    <div class="assessment-results__scoring">
      {{scoring-panel assessment=model.assessment}}
    </div>
  {{else}}
    <div class="assessment-results__course-banner">
      {{course-banner course=model.assessment.course}}
    </div>
  {{/if}}

  <div class="assessment-results__content">
    <h2 class="assessment-results__title">
      Vos résultats
    </h2>
    <div class="assessment-results__list">
      {{#each model.assessment.answers as |answer index|}}
        {{result-item answer=answer index=index openComparison="openComparison"
                      a11y-focus-id=(concat "open-comparison_" (add index 1))}}
      {{/each}}
    </div>

    <div class="assessment-results__index-link-container">
      {{#link-to 'index' class='assessment-results__index-link__element' tagName='button'}}
        <span class="assessment-results__link-back">Revenir à l'accueil</span>
      {{/link-to}}
    </div>
  </div>

</div>
