<div class="user-account__connection-methods">
  {{#if this.isEmailEditionMode}}
    {{#if this.featureToggles.featureToggles.isEmailValidationEnabled}}
      <UserAccount::UpdateEmailWithValidation @disableEmailEditionMode={{this.disableEmailEditionMode}} />
    {{else}}
      <UserAccount::UpdateEmail
        @saveNewEmail={{this.saveNewEmail}}
        @disableEmailEditionMode={{this.disableEmailEditionMode}}
      />
    {{/if}}
  {{else}}
    {{#if this.shouldShowEmail}}
      <div class="user-account-panel__item">
        <div class="user-account-panel-item__text">
          <p class="form-textfield__label user-account-panel-item__label">{{t
              "pages.user-account.connexion-methods.email"
            }}</p>
          <p class="user-account-panel-item__value" data-test-email>{{@model.email}}</p>
        </div>
        <PixButton class="user-account-panel-item__button" @triggerAction={{this.enableEmailEditionMode}}>
          {{t "pages.user-account.connexion-methods.edit-button"}}
        </PixButton>
      </div>
    {{/if}}
    {{#if this.shouldShowUsername}}
      <div class="user-account-panel__item">
        <div class="user-account-panel-item__text">
          <p class="form-textfield__label user-account-panel-item__label">{{t
              "pages.user-account.connexion-methods.username"
            }}</p>
          <p class="user-account-panel-item__value" data-test-username>{{@model.username}}</p>
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>