{{#if this.isEmailEditionMode}}
  <div class="user-account__update-email">
    <UserAccountUpdateEmail @saveNewEmail={{this.saveNewEmail}} @disableEmailEditionMode={{this.disableEmailEditionMode}} />
  </div>
{{else if this.isEmailWithValidationEditionMode}}
  <div class="user-account__update-email-with-validation">
    <UserAccount::UserAccountUpdateEmailWithValidation
      @disableEmailWithValidationEditionMode={{this.disableEmailWithValidationEditionMode}}
      @sendVerificationCode={{this.sendVerificationCode}}
    />
  </div>
{{else if this.showEmailVerificationCode}}
  <UserAccount::EmailVerificationCode
    @disableEmailWithValidationEditionMode={{this.disableEmailWithValidationEditionMode}}
    @email={{this.newEmail}}
  />
{{else}}
  <div class="user-account__connection-methods">
    <UserAccountConnexionMethods
      @user={{@model}}
      @enableEmailEditionMode={{this.enableEmailEditionMode}}
      @enableEmailWithValidationEditionMode={{this.enableEmailWithValidationEditionMode}}
    />
  </div>
{{/if}}
