<div class="new-candidate-modal-form__field">
  <fieldset id="complementary-certifications">
    <legend class="label">
      {{t "common.forms.certification-labels.additional-certification"}}
    </legend>
    <PixRadioButton name="complementary-certifications" {{on "change" (fn @updateComplementaryCertification null)}}>
      <:label>{{t "common.labels.candidate.none"}}</:label>
    </PixRadioButton>
    {{#each @complementaryCertificationsHabilitations as |complementaryCertificationHabilitation|}}
      <PixRadioButton
        name="complementary-certifications"
        {{on "change" (fn @updateComplementaryCertification complementaryCertificationHabilitation)}}
      >
        <:label>{{complementaryCertificationHabilitation.label}}</:label>
      </PixRadioButton>
    {{/each}}
  </fieldset>
</div>