<form class="admin-form admin-form--badge-form" {{on "submit" this.submitBadgeCreation}}>
  <h2 class="badge-form__title">Création d'un résultat thématique</h2>
  <section class="admin-form__content admin-form__content--with-counters">
    <Card class="create-target-profile__card" @title="Remplir des informations sur le résultat thématique">
      <div class="badge-form__text-field">
        <PixInput
          @id="title"
          @value={{this.badge.title}}
          @label={{"Nom du résultat thématique :"}}
          @requiredLabel="Champ obligatoire"
          {{on "change" (fn this.updateFormValue "title")}}
        />
      </div>
      <div class="badge-form__text-field">
        <label for="image-name" class="badge-form__label badge-form__label--required">Nom de l'image (svg) :</label>
        <p class="badge-form__information">
          <a
            class="badge-form__information--link"
            href="https://1024pix.github.io/pix-images-list/badges.html"
            target="_blank"
            rel="noopener noreferrer"
          >
            Voir la liste des résultats thématiques
          </a>
        </p>
        <PixInput
          @id="image-name"
          @value={{this.imageName}}
          @requiredLabel="Champ obligatoire"
          placeholder="exemple: clea_num.svg"
          {{on "change" (fn this.updateFormValue "imageName")}}
        />
      </div>
      <div class="badge-form__text-field">
        <PixInput
          @id="alt-message"
          @value={{this.badge.altMessage}}
          @label="Texte alternatif pour l'image :"
          @requiredLabel="Champ obligatoire"
          {{on "change" (fn this.updateFormValue "altMessage")}}
        />
      </div>
      <div class="badge-form__text-field">
        <PixTextarea
          @id="message"
          @value={{this.badge.message}}
          rows="4"
          @label="Message :"
          {{on "change" (fn this.updateFormValue "message")}}
        />
      </div>
      <div class="badge-form__text-field">
        <PixInput
          @id="badge-key"
          maxlength="255"
          @value={{this.badge.key}}
          @label="Clé (texte unique , vérifier qu'il n'existe pas) :"
          @requiredLabel="Champ obligatoire"
          {{on "change" (fn this.updateFormValue "key")}}
        />
      </div>
      <div class="badge-form__check-field">
        <PixCheckbox
          @checked={{this.badge.isCertifiable}}
          {{on "change" (fn this.updateFormCheckBoxValue "isCertifiable")}}
        >
          Certifiable
        </PixCheckbox>
      </div>
      <div class="badge-form__check-field">
        <PixCheckbox
          @checked={{this.badge.isAlwaysVisible}}
          {{on "change" (fn this.updateFormCheckBoxValue "isAlwaysVisible")}}
        >
          Lacunes
        </PixCheckbox>
      </div>
    </Card>
    <TargetProfiles::BadgeForm::Criteria @badge={{this.badge}} @areas={{@targetProfile.areas}} />
  </section>
  <section class="admin-form__actions">
    <PixButtonLink
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @route="authenticated.target-profiles.target-profile.insights"
    >
      Annuler
    </PixButtonLink>
    <PixButton @backgroundColor="green" @type="submit">
      Enregistrer le RT
    </PixButton>
  </section>
</form>