<form {{on "submit" this.createBadge}} class="badge-form">
  <div class="badge-form__text-field">
    <label for="title">Nom du badge : </label>
    <Input id="title" class="form-control" name="Nom du badge" @type="text" @value={{this.badge.title}} />
  </div>
  <div class="badge-form__text-field">
    <label for="badge-key">Clé : </label>
    <Input id="badge-key" class="form-control" name="Clé du badge" maxlength="255" @type="text" @value={{this.badge.key}} />
  </div>
  <div class="badge-form__text-field">
    <label for="message">Message : </label>
    <Input id="message" class="form-control" name="Message du badge" @type="text" @value={{this.badge.message}} />
  </div>
  <div class="badge-form__text-field">
    <label for="image-url">Url de l'image : </label>
    <Input id="image-url" class="form-control" name="Url de l'image" @type="text" @value={{this.badge.imageUrl}} />
  </div>
  <div class="badge-form__text-field">
    <label for="alt-message">Texte alternatif pour l'image : </label>
    <Input
      id="alt-message"
      class="form-control"
      name="Texte alternatif pour l'image"
      @type="text"
      @value={{this.badge.altMessage}}
    />
  </div>
  <div class="badge-form__check-field">
    <label for="isCertifiable">Certifiable : </label>
    <Input
      class="badge-form-check-field__control"
      @type="checkbox"
      @checked={{this.badge.isCertifiable}}
      id="isCertifiable"
    />
  </div>
  <div class="badge-form__check-field">
    <label for="isAlwaysVisible">Toujours visible (même pour les lacunes) : </label>
    <Input
      class="badge-form-check-field__control"
      @type="checkbox"
      @checked={{this.badge.isAlwaysVisible}}
      id="isAlwaysVisible"
    />
  </div>

  <div class="badge-form__action-buttons">
    <PixButtonLink
      data-test="badge-form-cancel-button"
      class="badge-form-action-buttons__cancel"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @size="small"
      @route="authenticated.target-profiles.target-profile.insights"
    >
      Annuler
    </PixButtonLink>
    <PixButton data-test="badge-form-submit-button" @backgroundColor="green" @size="small" @type="submit">
      Créer le badge
    </PixButton>
  </div>
</form>