<div class="content-text content-text--small">
  {{#if this.hasBadges}}
    <div class="table-admin">
      <table>
        <thead>
          <tr>
            <th class="badges-table__id">ID</th>
            <th class="badges-table__image">Image</th>
            <th class="badges-table__key">Clé</th>
            <th class="badges-table__name">Nom</th>
            <th>Message</th>
            <th class="badges-table__actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each @badges as |badge|}}
            <tr>
              <td>{{badge.id}}</td>
              <td class="badges-table__image"><img src={{badge.imageUrl}} alt={{badge.altMessage}} /></td>
              <td>{{badge.key}}</td>
              <td>{{badge.title}}</td>
              <td>{{badge.message}}</td>
              <td><LinkTo @route="authenticated.badges.badge" @model={{badge.id}} class="btn btn-outline-default btn-thin">Voir détail</LinkTo></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <div class="table__empty content-text">Aucun résultat thématique associé</div>
  {{/if}}
</div>
