<form class="admin-form admin-form--target-profile" {{on "submit" this.onSubmit}}>
  <p class="admin-form__mandatory-text">
    Les champs marqués de
    <span class="mandatory-mark">*</span>
    sont obligatoires.
  </p>
  <section class="admin-form__content admin-form__content--with-counters">
    <Card class="admin-form__card" @title="Information sur le profil cible">
      <PixInput
        @id="targetProfileName"
        @label="Nom :"
        required={{true}}
        @requiredLabel="Champ obligatoire"
        aria-required={{true}}
        {{on "change" (fn this.updateTargetProfileValue "name")}}
      />
      <PixSelect
        @label="Catégorie :"
        @onChange={{this.updateCategory}}
        @value={{@targetProfile.category}}
        @options={{this.optionsList}}
        @placeholder="-"
        @hideDefaultOption={{true}}
        required={{true}}
        @requiredText="Champ obligatoire"
        aria-required={{true}}
      />
      <div class="create-target-profile__is-public">
        <label for="isPublic">Public :</label>
        <Input @type="checkbox" @checked={{@targetProfile.isPublic}} id="isPublic" />
        <span>Un profil cible marqué comme public sera affecté à toutes les organisations.</span>
      </div>
      <PixInput
        @id="organizationId"
        type="number"
        @label="Identifiant de l'organisation de référence : "
        @errorMessage=""
        required={{true}}
        @requiredLabel="Champ obligatoire"
        aria-required={{true}}
        placeholder="7777"
        {{on "change" (fn this.updateTargetProfileValue "ownerOrganizationId")}}
      />
    </Card>

    <Common::TubesSelection
      @frameworks={{@frameworks}}
      @onChange={{this.updateTubes}}
      @displayJsonImportButton={{true}}
      @displayDeviceCompatibility={{true}}
      @displaySkillDifficultyAvailability={{true}}
    />

    <Card class="admin-form__card" @title="Personnalisation">
      <PixInput
        @id="imageUrl"
        @label="Lien de l'image du profil cible : "
        @information="L'url à saisir doit être celle d'OVH. Veuillez
          vous rapprocher des équipes tech et produit pour la réalisation de celle-ci."
        {{on "change" (fn this.updateTargetProfileValue "imageUrl")}}
      />
      <PixTextarea
        @id="description"
        @label="Description :"
        @maxlength="500"
        rows="4"
        @value={{@targetProfile.description}}
        {{on "change" (fn this.updateTargetProfileValue "description")}}
      />
      <PixTextarea
        @id="comment"
        @label="Commentaire (usage interne) :"
        @maxlength="500"
        rows="4"
        @value={{@targetProfile.comment}}
        {{on "change" (fn this.updateTargetProfileValue "comment")}}
      />
    </Card>
  </section>
  <section class="admin-form__actions">
    <PixButton @backgroundColor="transparent-light" @isBorderVisible={{true}} @size="big" @triggerAction={{@onCancel}}>
      Annuler
    </PixButton>
    <PixButton
      @backgroundColor="green"
      @size="big"
      @type="submit"
      @isLoading={{this.submitting}}
      @triggerAction={{this.noop}}
    >
      Créer le profil cible
    </PixButton>
  </section>
</form>