<form class="form create-target-profile" {{on "submit" this.onSubmit}}>

  <section class="form-section">
    <Card class="create-target-profile__card" @title="1. Information sur le profil cible">
      <PixInput
        class="form-field"
        @id="targetProfileName"
        @label="Nom (obligatoire) : "
        required={{true}}
        aria-required={{true}}
        {{on "change" this.updateTargetProfileName}}
      />
      <PixSelect
        @label="Catégorie :"
        @onChange={{this.onCategoryChange}}
        @value={{@targetProfile.category}}
        @options={{this.optionsList}}
        @placeholder="-"
        @hideDefaultOption={{true}}
        required={{true}}
        aria-required={{true}}
      />

      <div class="form-field form-group create-target-profile__checkbox-container">
        <label class="create-target-profile__is-public-label" for="isPublic">Public : </label>
        <div class="create-target-profile__is-public-checkbox">
          <Input
            class="form-control create-target-profile__checkbox"
            @type="checkbox"
            @checked={{@targetProfile.isPublic}}
            id="isPublic"
          />
          <p class="create-target-profile__checkbox-label">Un profil cible marqué comme public sera affecté à toutes les
            organisations.</p>
        </div>
      </div>

      <div class="form-field form-group">
        <PixInput
          @id="organizationId"
          @label="Identifiant de l'organisation de référence : "
          @errorMessage=""
          required={{true}}
          aria-required={{true}}
          placeholder="7777"
          {{on "change" this.updateOwnerOrganizationId}}
        />
      </div>
    </Card>

    <Common::TubesSelection
      @frameworks={{@frameworks}}
      @onChange={{this.updateTubes}}
      @displayJsonImportButton={{true}}
      @displayDeviceCompatibility={{true}}
    />

    <Card class="create-target-profile__card" @title="3. Personnalisation">
      <PixInput
        @id="imageUrl"
        class="input-url"
        @label="Lien de l'image du profil cible : "
        @information="L'url à saisir doit être celle d'OVH. Veuillez
          vous rapprocher des équipes tech et produit pour la réalisation de celle-ci."
        {{on "change" this.updateImageUrl}}
      />
      <div class="form-group">
        <label class="textarea-label" for="description">Description : </label>
        <PixTextarea
          class="form-control"
          @id="description"
          @maxlength="500"
          rows="4"
          @value={{@targetProfile.description}}
        />
      </div>

      <div class="form-group">
        <label class="textarea-label" for="comment">Commentaire (usage interne) : </label>
        <PixTextarea class="form-control" id="comment" @maxlength="500" rows="4" @value={{@targetProfile.comment}} />
      </div>
    </Card>
  </section>
  <section class="form-section form-actions form-section--actions">
    <PixButton
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @size="big"
      @triggerAction={{@onCancel}}
    >Annuler
    </PixButton>
    <PixButton
      @backgroundColor="green"
      @size="big"
      @type="submit"
      @isLoading={{this.submitting}}
      @triggerAction={{this.noop}}
    >
      Créer le profil cible
    </PixButton>
  </section>
</form>