<div class="content-text content-text--small">
  <div class="table-admin">
    <table>
      <thead>
        <tr>
          <th class="table__column table__column--id" id="target-profile-id">ID</th>
          <th id="target-profile-name">Nom</th>
          <th class="col-status" id="target-profile-status">Statut</th>
        </tr>
        <tr>
          <td class="table__column table__column--id">
            <input
              type="text"
              value={{@id}}
              oninput={{perform @triggerFiltering "id"}}
              class="table-admin-input"
              aria-label="Filtrer les profils cible par un id"
            />
          </td>
          <td>
            <input
              type="text"
              value={{@name}}
              oninput={{perform @triggerFiltering "name"}}
              class="table-admin-input"
              aria-label="Filtrer les profils cible par un nom"
            />
          </td>
          <td></td>
        </tr>
      </thead>

      {{#if @targetProfiles}}
        <tbody>
          {{#each @targetProfiles as |targetProfile|}}
            <tr aria-label="Profil cible">
              <td headers="target-profile-id" class="table__column table__column--id">{{targetProfile.id}}</td>
              <td headers="target-profile-name">
                <LinkTo @route="authenticated.target-profiles.target-profile" @model={{targetProfile.id}}>
                  {{targetProfile.name}}
                </LinkTo>
              </td>
              <td headers="target-profile-status" class="target-profile-table-column__status">
                {{if targetProfile.outdated "Obsolète" "Actif"}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless @targetProfiles}}
      <div class="table__empty content-text">Aucun résultat</div>
    {{/unless}}
  </div>
</div>

{{#if @targetProfiles}}
  <PaginationControl @pagination={{@targetProfiles.meta}} />
{{/if}}