{{#each @targetProfile.sortedOldAreas as |area|}}
  {{#each area.sortedCompetences as |competence|}}
    <section class="page-section competence">
      <span class="competence__border competence__border--{{area.color}}"></span>
      <div>
        <header class="competence__header">
          <h2 class="competence__title">{{competence.name}}</h2>
          <sub class="competence__subtitle">{{area.title}}</sub>
        </header>
        <table class="table-admin">
          <thead>
            <tr>
              <th class="table__column table__column--wide">Sujet</th>
              {{#each this.maxLevelAsArray as |level|}}
                <th class="table__column table__column--small table__column--center">Niveau {{level}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each competence.sortedTubes as |tube|}}
              <tr>
                <td>{{tube.practicalTitle}}</td>
                {{#each (call (fn this.computeSkillLevelChecks tube)) as |skillData|}}
                  <td class="table__column--center skill-column">
                    {{#if skillData.isChecked}}
                      <PixTooltip @position="bottom">
                        <:triggerElement>
                          <FaIcon @icon="check" class="skill-column--check" aria-label={{skillData.name}} />
                        </:triggerElement>
                        <:tooltip>{{skillData.tooltip}}</:tooltip>
                      </PixTooltip>
                    {{else}}
                      <FaIcon @icon="xmark" class="skill-column--uncheck" />
                    {{/if}}
                  </td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  {{/each}}
{{else}}
  <section class="page-section">
    <div class="table__empty">Profil cible vide.</div>
  </section>
{{/each}}