<section class="page-section mb_10">
  <header class="page-section__header">
    <h2 class="page-section__title">Organisations</h2>
  </header>

  <Organizations::ListItems
    @organizations={{@organizations}}
    @name={{@name}}
    @type={{@type}}
    @externalId={{@externalId}}
    @triggerFiltering={{@triggerFiltering}}
    @goToOrganizationPage={{@goToOrganizationPage}} />
</section>

