{{! template-lint-disable require-input-label }}
<div class="content-text content-text--small">
  <form class="form" {{on "submit" this.createStages}}>
    {{#if this.hasStages}}
      {{#if this.displayNoThresholdZero}}
        <PixMessage type="warning">
          Attention ! Il n'y a pas de palier à 0
        </PixMessage>
      {{/if}}
      <div class="table-admin">
        <table class="stages-table">
          <thead>
            <tr>
              <th class="table__column table__column--id">ID</th>
              <th class="stages-table__image">Image</th>
              <th class="stages-table__threshold">Seuil</th>
              <th class="stages-table__title">Titre</th>
              <th>Message</th>
              <th>Titre prescripteur</th>
              <th>Description prescripteur</th>
              <th class="stages-table__actions">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each @stages as |stage|}}
              <tr>
                <td class="table__column table__column--id">{{stage.id}}</td>
                <td class="stages-table__image">
                  <img src={{@targetProfile.imageUrl}} alt="" role="presentation" />
                </td>
                <td>
                  {{#if stage.isNew}}
                    <div class="form-field">
                      <Input
                        class={{if stage.errors.threshold "form-control is-invalid" "form-control"}}
                        @type="number"
                        required="true"
                        @value={{stage.threshold}}
                      />
                      {{#if stage.errors.threshold}}
                        <div class="form-field__error">
                          {{stage.errors.threshold.0.message}}
                        </div>
                      {{/if}}
                    </div>
                  {{else}}
                    {{stage.threshold}}
                  {{/if}}
                </td>
                <td>
                  {{#if stage.isNew}}
                    <div class="form-field">
                      <Input
                        class={{if
                          stage.errors.title
                          "form-field__text form-control is-invalid"
                          "form-field__text form-control"
                        }}
                        required="true"
                        @value={{stage.title}}
                      />
                      {{#if stage.errors.title}}
                        <div class="form-field__error">
                          {{stage.errors.title.0.message}}
                        </div>
                      {{/if}}
                    </div>
                  {{else}}
                    {{stage.title}}
                  {{/if}}
                </td>
                <td>
                  {{#if stage.isNew}}
                    <div class="form-field">
                      <Input class="form-control" required="true" @value={{stage.message}} />
                    </div>
                  {{else}}
                    {{stage.message}}
                  {{/if}}
                </td>
                <td>
                  <Common::TickOrCross @isTrue={{stage.hasPrescriberTitle}} />
                </td>
                <td>
                  <Common::TickOrCross @isTrue={{stage.hasPrescriberDescription}} />
                </td>
                <td>
                  {{#if stage.isNew}}
                    <PixButton
                      @backgroundColor="transparent-light"
                      @size="small"
                      @isBorderVisible={{true}}
                      aria-label="Supprimer palier"
                      @triggerAction={{fn this.removeNewStage stage}}
                    >
                      <FaIcon @icon="minus" />
                    </PixButton>
                  {{else}}
                    <PixButtonLink
                      @backgroundColor="transparent-light"
                      @isBorderVisible={{true}}
                      @route="authenticated.stages.stage"
                      @size="small"
                      @model={{stage}}
                      class="pix-button__secondary"
                    >Voir détail</PixButtonLink>
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="table__empty content-text">Aucun palier associé</div>
    {{/if}}

    <PixButton
      class="stages-new-stage pix-button__secondary"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @triggerAction={{this.addStage}}
    >
      <FaIcon @icon="plus" />Nouveau palier
    </PixButton>

    {{#if this.hasNewStage}}
      <div class="stages-actions form-actions">
        <PixButton
          @backgroundColor="transparent-light"
          @isBorderVisible={{true}}
          @triggerAction={{this.cancelStagesCreation}}
        >
          Annuler
        </PixButton>
        <PixButton type="submit" @backgroundColor="green" @triggerAction={{this.createStages}}>
          Enregistrer
        </PixButton>
      </div>
    {{/if}}
  </form>
</div>