{{! template-lint-disable require-input-label }}
<div class="content-text content-text--small">
  <form class="form" {{on "submit" this.createStages}}>
    {{#if this.hasStages}}
      {{#if this.displayNoThresholdZero}}
        <PixMessage type="warning">
          Attention ! Il n'y a pas de palier à 0
        </PixMessage>
      {{/if}}
      <div class="table-admin">
        <table class="stages-table">
          <thead>
            <tr>
              <th class="table__column table__column--id">ID</th>
              <th class="stages-table__image">Image</th>
              <th class="stages-table__type">{{this.columnNameByStageType}}</th>
              <th class="stages-table__title">Titre</th>
              <th>Message</th>
              <th>Titre prescripteur</th>
              <th>Description prescripteur</th>
              <th class="stages-table__actions">Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each @stages as |stage|}}
              {{#if stage.isNew}}
                <TargetProfiles::Stages::NewStage
                  @imageUrl={{@targetProfile.imageUrl}}
                  @title={{stage.title}}
                  @threshold={{stage.threshold}}
                  @message={{stage.message}}
                  @errors={{stage.errors}}
                  @remove={{fn this.removeStage stage}}
                />
              {{else}}
                <TargetProfiles::Stages::Stage
                  @imageUrl={{@targetProfile.imageUrl}}
                  @id={{stage.id}}
                  @title={{stage.title}}
                  @isTypeLevel={{stage.isTypeLevel}}
                  @threshold={{stage.threshold}}
                  @level={{stage.level}}
                  @message={{stage.message}}
                  @hasPrescriberTitle={{stage.hasPrescriberTitle}}
                  @hasPrescriberDescription={{stage.hasPrescriberDescription}}
                />
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="table__empty">Aucun palier associé</div>
    {{/if}}
    {{#unless this.isTypeLevel}}
      <PixButton
        class="stages-new-stage pix-button__secondary"
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @triggerAction={{this.addStage}}
      >
        <FaIcon @icon="plus" />Nouveau palier
      </PixButton>
    {{/unless}}
    {{#if this.hasNewStage}}
      <div class="stages-actions form-actions">
        <PixButton
          @backgroundColor="transparent-light"
          @isBorderVisible={{true}}
          @triggerAction={{this.cancelStagesCreation}}
        >
          Annuler
        </PixButton>
        <PixButton type="submit" @backgroundColor="green" @triggerAction={{this.createStages}}>
          Enregistrer
        </PixButton>
      </div>
    {{/if}}
  </form>
</div>