<div class="content-text content-text--small">
  {{#if this.hasStages}}
    <div class="table-admin">
      <table>
        <thead>
        <tr>
          <th class="stages-table__id">ID</th>
          <th class="stages-table__image">Image</th>
          <th class="stages-table__threshold">Threshold</th>
          <th class="stages-table__title">Titre</th>
          <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {{#each @stages as |stage|}}
          <tr>
            <td>{{stage.id}}</td>
            <td class="stages-table__image">
              <img src={{@targetProfileImageUrl}} alt="" role="presentation" />
            </td>
            <td>{{stage.threshold}}</td>
            <td>{{stage.title}}</td>
            <td>{{stage.message}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <div class="table__empty content-text">Aucun palier associé</div>
  {{/if}}
</div>
