{{!-- template-lint-disable  --}}
{{page-title "Profil " @model.id " | Pix Admin" replace=true}}
<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.target-profiles.list">Tous les profils cibles</LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    <h1>{{@model.name}}</h1>
  </div>
</header>

<main class="page-body">
  {{#if this.isEditMode}}

    <TargetProfiles::UpdateTargetProfile @model={{@model}} @toggleEditMode={{this.toggleEditMode}} />

  {{else}}
    <section class="page-section">
      <div class="page-section__header">
        <h2 class="page-section__title target-profile__title">{{@model.name}}</h2>
        <TargetProfiles::Category @category={{@model.category}} />
      </div>
      <div class="page-section__container">
        <ul>
          <li><span class="bold">ID : </span>{{@model.id}}</li>
          <li><span class="bold">Date de création : </span>{{format-date @model.createdAt}}</li>
          <li><span class="bold">Public : </span>{{this.isPublic}}</li>
          <li><span class="bold">Parcours Accès Simplifié : </span>{{this.isSimplifiedAccess}}</li>
          <li><span class="bold">Obsolète : </span>{{this.isOutdated}}</li>
          <li><span class="bold">Est associé à une campagne : </span>{{this.hasLinkedCampaign}}</li>
          <li><span class="bold">Organisation de référence : </span>
            <LinkTo @route="authenticated.organizations.get" @model={{@model.ownerOrganizationId}}>
              {{@model.ownerOrganizationId}}
            </LinkTo>
          </li>
          <li><span class="bold">{{t "pages.target-profiles.resettable-checkbox.label"}} : </span>{{this.areKnowledgeElementsResettable}}</li>
          {{#if @model.description}}
            <li>
              <span class="bold">Description : </span>
              <MarkdownToHtml @markdown={{@model.description}} />
            </li>
          {{/if}}
          {{#if @model.comment}}
            <li>
              <span class="bold">Commentaire (usage interne) : </span>
              <MarkdownToHtml @markdown={{@model.comment}} />
            </li>
          {{/if}}
        </ul>

        {{! template-lint-disable no-redundant-role }}
        <img src={{@model.imageUrl}} role="img" alt="Profil cible" />
      </div>
      <div class="target-profile__actions">
        <PixButton
          @size="small"
          @backgroundColor="transparent-light"
          @isBorderVisible={{true}}
          @triggerAction={{this.toggleEditMode}}
        >
          Éditer
        </PixButton>
        <div class="target-profile__actions-separator"></div>
        {{#unless @model.isSimplifiedAccess}}
          <PixButton
            @size="small"
            @backgroundColor="transparent-light"
            @isBorderVisible={{true}}
            @triggerAction={{this.toggleDisplaySimplifiedAccessPopupConfirm}}
          >
            Marquer comme accès simplifié
          </PixButton>
        {{/unless}}
        <PixButtonLink
          @size="small"
          @backgroundColor="green"
          @href={{@model.urlToJsonContent}}
          target="_blank"
          rel="noopener noreferrer"
          download
        >
          Télécharger le profil cible (JSON)
        </PixButtonLink>
        <PixButton @triggerAction={{this.toggleDisplayPdfParametersModal}} @size="small" @backgroundColor="green">
          Télécharger le profil cible (PDF)
        </PixButton>
        {{#unless @model.outdated}}
          <div class="target-profile__actions-spacer"></div>
          <PixButton @size="small" @backgroundColor="red" @triggerAction={{this.toggleDisplayConfirm}}>
            Marquer comme obsolète
          </PixButton>
        {{/unless}}
      </div>
    </section>

  {{/if}}

  <nav class="navbar">
    <LinkTo @route="authenticated.target-profiles.target-profile.details" @model={{@model}} class="navbar-item">
      Détails
    </LinkTo>
    <LinkTo
      @route="authenticated.target-profiles.target-profile.organizations"
      @model={{@model}}
      class="navbar-item"
      aria-label="Organisations du profil cible"
    >
      Organisations
    </LinkTo>
    <LinkTo @route="authenticated.target-profiles.target-profile.insights" @model={{@model}} class="navbar-item">
      Clés de lecture
    </LinkTo>
    <LinkTo
      @route="authenticated.target-profiles.target-profile.training-summaries"
      @model={{@model}}
      class="navbar-item"
      aria-label="Contenus formatifs du profil cible"
    >
      Contenus formatifs
    </LinkTo>
  </nav>

  {{yield}}

  <ConfirmPopup
    @message="Marquer comme obsolète ce profil cible entraînera l'impossibilité de l'utiliser dans toutes les organisations qui lui sont rattachées."
    @title="Etes-vous sûr de vouloir marquer comme obsolète le profil cible {{@model.name}} ?"
    @submitTitle="Oui, marquer comme obsolète"
    @closeTitle="Non, annuler"
    @size="lg"
    @confirm={{this.outdate}}
    @cancel={{this.toggleDisplayConfirm}}
    @show={{this.displayConfirm}}
  />

  <PixModal
    @title="Êtes-vous sûr de vouloir marquer ce profil cible comme accès simplifié ?"
    @onCloseButtonClick={{this.toggleDisplaySimplifiedAccessPopupConfirm}}
    @showModal={{this.displaySimplifiedAccessPopupConfirm}}
  >
    <:content>
      <p>
        Pour tous les utilisateurs qui accéderont à des campagnes avec ce profil cible, l’accès se fera sans inscription
        et donc sans création de compte. Ils accéderont à ces campagnes de manière anonyme.
      </p>
      <p>
        <strong>
          Cette action est irréversible.
        </strong>
      </p>
    </:content>
    <:footer>
      <PixButton
        @size="small"
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @triggerAction={{this.toggleDisplaySimplifiedAccessPopupConfirm}}
      >
        Non, annuler
      </PixButton>
      <PixButton @type="submit" @size="small" {{on "click" this.markTargetProfileAsSimplifiedAccess}}>
        Oui, marquer comme accès simplifié
      </PixButton>
    </:footer>
  </PixModal>

  <TargetProfiles::PdfParametersModal
    @onDownloadButtonClicked={{this.downloadPDF}}
    @onCloseButtonClicked={{this.toggleDisplayPdfParametersModal}}
    @displayModal={{this.displayPdfParametersModal}}
  />
</main>