<section class="page-section">
  <div class="target-profile__edit-form">
    <form class="form" {{on "submit" this.updateProfile}}>

      <span class="form__instructions">
        Les champs marqués de
        <abbr title="obligatoire" class="mandatory-mark" aria-hidden="true">*</abbr>
        sont obligatoires.
      </span>

      <div class="form-field">
        <label for="targetProfileName" class="form-field__label">
          <abbr title="obligatoire" class="mandatory-mark" aria-hidden="true">*</abbr>
          Nom
        </label>
        {{#if (v-get this.form "name" "isInvalid")}}
          <div class="form-field__error">
            {{v-get this.form "name" "message"}}
          </div>
        {{/if}}
        <Input
          id="targetProfileName"
          @type="text"
          class={{if (v-get this.form "name" "isInvalid") "form-control is-invalid" "form-control"}}
          @value={{this.form.name}}
          required={{true}}
        />
      </div>
      <div class="form-field">
        <PixSelect
          @onChange={{this.onCategoryChange}}
          @value={{this.form.category}}
          @options={{this.optionsList}}
          @placeholder="-- Sélectionnez une catégorie --"
          @hideDefaultOption={{true}}
          required={{true}}
          aria-required={{true}}
        >
          <:label>Catégorie :</:label>
        </PixSelect>
      </div>
      <div class="form-field">
        {{#if (v-get this.form "imageUrl" "isInvalid")}}
          <div class="form-field__error">
            {{v-get this.form "imageUrl" "message"}}
          </div>
        {{/if}}
        <PixInput
          @id="imageUrl"
          class={{if (v-get this.form "name" "isInvalid") "form-control is-invalid" "form-control"}}
          @subLabel="L'url à saisir doit être celle d'OVH. Veuillez
            vous rapprocher des équipes tech et produit pour la réalisation de celle-ci."
          @value={{this.form.imageUrl}}
          {{on "change" (fn this.updateFormValue "imageUrl")}}
        >
          <:label>Lien de l'image du profil cible :</:label>
        </PixInput>
      </div>
      <div class="form-field">
        {{#if (v-get this.form "description" "isInvalid")}}
          <div class="form-field__error">
            {{v-get this.form "description" "message"}}
          </div>
        {{/if}}
        <PixTextarea
          @id="targetProfileDescription"
          rows="4"
          @maxlength="500"
          class={{if (v-get this.form "description" "isInvalid") "form-control is-invalid" "form-control"}}
          @value={{this.form.description}}
          {{on "change" (fn this.updateFormValue "description")}}
        >
          <:label>Description</:label>
        </PixTextarea>
      </div>
      <div class="form-field">
        {{#if (v-get this.form "comment" "isInvalid")}}
          <div class="form-field__error">
            {{v-get this.form "comment" "message"}}
          </div>
        {{/if}}
        <PixTextarea
          @id="targetProfileComment"
          rows="4"
          @maxlength="500"
          class={{if (v-get this.form "comment" "isInvalid") "form-control is-invalid" "form-control"}}
          @value={{this.form.comment}}
          {{on "change" (fn this.updateFormValue "comment")}}
        >
          <:label>Commentaire (usage interne)</:label>
        </PixTextarea>
      </div>
      <div class="form-field">
        <PixCheckbox
          @checked={{this.form.areKnowledgeElementsResettable}}
          onChange={{this.updateAreKnowledgeElementsResettableValue}}
        >
          <:label>{{t "pages.target-profiles.resettable-checkbox.label"}}</:label>
        </PixCheckbox>
      </div>
      <div class="form-actions">
        <PixButton @variant="secondary" @isBorderVisible={{true}} @size="small" @triggerAction={{@toggleEditMode}}>
          Annuler
        </PixButton>
        <PixButton @variant="success" @size="small" @type="submit">
          Enregistrer
        </PixButton>
      </div>
    </form>
  </div>
</section>