{{page-title "Home"}}

<RobotDialog @instruction={{t "pages.home.code-instruction"}} />

<form {{action "goToSchool" on="submit"}} class="school-code">
  <PixInputCode
    @ariaLabel={{t "pages.home.field-description"}}
    @legend={{t "pages.home.code-description"}}
    @numInputs={{9}}
    @inputType="text"
    @onAllInputsFilled={{this.updateCode}}
    class="school-code__input"
  />

  <PixButton class="pix1d-button" type="submit" @shape="rounded">
    {{t "pages.home.go-to-school"}}
  </PixButton>
</form>