{{page-title "Home"}}

<RobotDialog>
  <Bubble @message={{t "pages.home.code-instruction"}} />
</RobotDialog>

<form onSubmit={{this.goToSchool}} class="school-code">
  <PixInputCode
    @ariaLabel={{t "pages.home.field-description"}}
    @legend={{t "pages.home.code-description"}}
    @numInputs={{9}}
    @inputType="text"
    @onAllInputsFilled={{this.updateCode}}
    class="school-code__input"
  />

  <PixButton class="pix1d-button" @type="submit" @shape="rounded">
    {{t "pages.home.go-to-school"}}
  </PixButton>
</form>