<PixModal
  @title={{t
    "pages.sup-organization-participants.deletion-modal.title"
    count=this.count
    firstname=this.firstName
    lastname=this.lastName
    htmlSafe=true
  }}
  @showModal={{@showModal}}
  @onCloseButtonClick={{@onCloseModal}}
>
  <:content>
    <p>{{t "pages.sup-organization-participants.deletion-modal.content.header" count=this.count}}</p>
    <p>{{t
        "pages.sup-organization-participants.deletion-modal.content.main-participation-prevent"
        count=this.count
      }}</p>
    <p>{{t "pages.sup-organization-participants.deletion-modal.content.main-campaign-prevent" count=this.count}}</p>
    <p>{{t "pages.sup-organization-participants.deletion-modal.content.main-participation-access" count=this.count}}</p>
    <p>{{t "pages.sup-organization-participants.deletion-modal.content.main-new-campaign-access" count=this.count}}</p>
    <p><strong>{{t "pages.sup-organization-participants.deletion-modal.content.footer" count=this.count}}</strong></p>
    {{#if this.isMultipleDeletion}}
      <PixCheckbox
        {{on "click" this.giveDeletionPermission}}
        @labelSize="small"
        @checked={{this.allowDeletion}}
        @class="deletion-modal__permission-checkbox"
      >
        <strong>
          {{t "pages.sup-organization-participants.deletion-modal.confirmation-checkbox" count=@itemsToDelete.length}}
        </strong>
      </PixCheckbox>
    {{/if}}
  </:content>
  <:footer>
    <PixButton @backgroundColor="transparent-light" @isBorderVisible={{true}} @triggerAction={{@onCloseModal}}>
      {{t "common.actions.cancel"}}
    </PixButton>
    <PixButton @backgroundColor="red" @triggerAction={{@onTriggerAction}} @isDisabled={{(not this.canDelete)}}>
      {{t "pages.sup-organization-participants.deletion-modal.delete-button"}}
    </PixButton>
  </:footer>
</PixModal>