<PixModal
  @title={{t "pages.sup-organization-participants.edit-student-number-modal.title"}}
  @showModal={{@display}}
  @onCloseButtonClick={{this.close}}
>
  <:content>
    <div class="edit-student-number-modal">
      {{#if @student.studentNumber}}
        <p>
          {{t
            "pages.sup-organization-participants.edit-student-number-modal.form.student-number"
            firstName=@student.firstName
            lastName=@student.lastName
          }}<span class="edit-student-number-modal__student-number">{{@student.studentNumber}}</span></p>
      {{/if}}

      <div class="input-container">
        <PixInput @id="editStudentNumber" {{on "change" this.setStudentNumber}}>
          <:label>{{t
              "pages.sup-organization-participants.edit-student-number-modal.form.new-student-number-label"
            }}</:label>
        </PixInput>

        <div class="form__error error-message">
          {{this.error}}
        </div>
      </div>
    </div>
  </:content>
  <:footer>
    <PixButton @triggerAction={{this.close}} @variant="secondary">
      {{t "common.actions.cancel"}}
    </PixButton>

    <PixButton @triggerAction={{this.updateStudentNumber}} @isDisabled={{this.isDisabled}}>
      {{t "pages.sup-organization-participants.edit-student-number-modal.actions.update"}}
    </PixButton>
  </:footer>
</PixModal>