{{page-title (t "pages.login.title")}}
<main class="login-page">
  <div>
    <section class="login-page__container">
      <header class="login-page__header">
        <img class="login-page-header__logo" src="/platform-logo.png" alt="Pix for Pix Orga" />
        <h1 class="login-page__title">{{t "pages.login.title"}}</h1>
      </header>

      <Auth::LoginForm
        @isWithInvitation={{false}}
        @hasInvitationAlreadyBeenAccepted={{this.hasInvitationAlreadyBeenAccepted}}
        @isInvitationCancelled={{this.isInvitationCancelled}}
      />
    </section>

    {{#if this.isInternationalDomain}}
      <LanguageSwitcher @selectedLanguage={{this.selectedLanguage}} @onLanguageChange={{this.onLanguageChange}} />
    {{/if}}
  </div>
</main>