{{page-title (t "pages.organization-participants.page-title")}}

<div class="organization-participant-list-page">
  <OrganizationParticipant::Header @participantCount={{@model.meta.participantCount}} />
  {{#if @model.meta.participantCount}}
    <OrganizationParticipant::List
      @participants={{@model}}
      @triggerFiltering={{this.triggerFiltering}}
      @onResetFilter={{this.resetFilters}}
      @fullName={{this.fullName}}
      @onClickLearner={{this.goToLearnerPage}}
      @certificabilityFilter={{this.certificability}}
      @certificabilityOptions={{this.certificabilityOptions}}
      @participationCountOrder={{this.participationCountOrder}}
      @sortByParticipationCount={{this.sortByParticipationCount}}
    />
  {{else}}
    <OrganizationParticipant::NoParticipantPanel />
  {{/if}}
</div>