{{page-title (t "pages.organization-participants.title")}}

<div class="organization-participant-list-page">
  <h1 class="page__title page-title">{{t "pages.organization-participants.title"}}</h1>
  {{#if this.currentUser.prescriber.hasParticipants}}
    <OrganizationParticipant::List
      @participants={{@model}}
      @triggerFiltering={{this.triggerFiltering}}
      @onResetFilter={{this.resetFilters}}
      @fullName={{this.fullName}}
    />
  {{else}}
    <OrganizationParticipant::NoParticipantPanel />
  {{/if}}
</div>