{{page-title (t "pages.organization-participants.page-title")}}

<div class="organization-participant-list-page">
  <OrganizationParticipant::Header @participantCount={{@model.meta.participantCount}} />

  <Certificability::Banner @display={{this.hasComputeOrganizationLearnerCertificabilityEnabled}}>
    {{t "components.certificability-banner.not-managing-students"}}
  </Certificability::Banner>
  {{#if @model.meta.participantCount}}
    <OrganizationParticipant::List
      @participants={{@model}}
      @triggerFiltering={{this.triggerFiltering}}
      @onResetFilter={{this.resetFilters}}
      @fullName={{this.fullName}}
      @certificabilityFilter={{this.certificability}}
      @onClickLearner={{this.goToLearnerPage}}
      @participationCountOrder={{this.participationCountOrder}}
      @sortByParticipationCount={{this.sortByParticipationCount}}
      @sortByLatestParticipation={{this.sortByLatestParticipation}}
      @sortByLastname={{this.sortByLastname}}
      @lastnameSort={{this.lastnameSort}}
      @latestParticipationOrder={{this.latestParticipationOrder}}
      @deleteParticipants={{this.deleteOrganizationLearners}}
    />
  {{else}}
    <OrganizationParticipant::NoParticipantPanel />
  {{/if}}
</div>