{{page-title (t "pages.organization-participants.page-title")}}

<div class="organization-participant-list-page">
  <OrganizationParticipant::Header @participantCount={{this.currentUser.prescriber.participantCount}} />
  {{#if this.currentUser.prescriber.hasParticipants}}
    <OrganizationParticipant::List
      @participants={{@model}}
      @triggerFiltering={{this.triggerFiltering}}
      @onResetFilter={{this.resetFilters}}
      @fullName={{this.fullName}}
    />
  {{else}}
    <OrganizationParticipant::NoParticipantPanel />
  {{/if}}
</div>