<article>
  <header class="learner-header">
    <Ui::Breadcrumb class="learner-header__breadcrumb" @links={{this.breadcrumbLinks}} />
    <div class="learner-header__info">

      <h1 class="learner-header-info__title">{{t
          "common.fullname"
          firstName=@model.firstName
          lastName=@model.lastName
        }}</h1>
      <Ui::LearnerHeaderInfo @isCertifiable={{@model.isCertifiable}} @certifiableAt={{@model.certifiableAt}} />
    </div>
  </header>
  {{outlet}}
</article>