{{page-title @model.name}}

<div class="campaign-page">
  <Campaign::Header::Title @campaign={{@model}} />

  <Campaign::Header::Tabs @campaign={{@model}} />

  <Campaign::Header::ArchivedBanner @campaign={{@model}} />

  {{outlet}}
</div>
