<div class="list-campaigns-page">
  {{#if this.displayNoCampaignPanel}}
    <Routes::Authenticated::Campaigns::NoCampaignPanel />
  {{else}}
    <div class="list-campaigns-page__header-page">
      <ul role="tablist" class="list-campaigns-page__campaigns-status" aria-label="Filtre des campagnes par statut">
        <li role="tab" type="submit" class="list-campaigns-page__tab {{unless this.isArchived  'list-campaigns-page__tab--active' }}" aria-selected="{{ not this.isArchived }}" {{on 'click' (fn this.updateCampaignStatus null)}}>Actives</li>
        <li role="tab" type="submit" class="list-campaigns-page__tab {{if this.isArchived 'list-campaigns-page__tab--active' }}" aria-selected="{{ this.isArchived }}" {{on 'click' (fn this.updateCampaignStatus 'archived')}}>Archivées</li>
      </ul>
      <div role="tabpanel" class="list-campaigns-page__create-campaign-button">
        <LinkTo @route="authenticated.campaigns.new" class="button button--link">Créer une campagne</LinkTo>
      </div>
    </div>
    <Routes::Authenticated::Campaigns::ListItems
            @campaigns={{@model}} @campaignName={{this.name}}
            @organizationMembers={{this.currentUser.organization.memberships}}
            @campaignCreatorId={{this.creatorId}}
            @triggerFiltering={{this.triggerFiltering}}
            @updateCampaignCreator={{this.updateCampaignCreator}}
            @goToCampaignPage={{this.goToCampaignPage}} />
  {{/if}}
</div>
