{{page-title "Certif " @model.id " | Pix Admin" replace=true}}
<nav class="navbar">
  <LinkTo @route="authenticated.certifications.certification.informations" @model={{@model.id}} class="navbar-item">
    Informations
  </LinkTo>
  <LinkTo @route="authenticated.certifications.certification.neutralization" class="navbar-item">
    Neutralisation
  </LinkTo>
  <LinkTo @route="authenticated.certifications.certification.details" @model={{@model.id}} class="navbar-item">
    Détails
  </LinkTo>
  {{#unless @model.isV3}}
    <LinkTo @route="authenticated.certifications.certification.profile" @model={{@model.id}} class="navbar-item">
      Profil
    </LinkTo>
  {{/unless}}
</nav>
<section>
  {{outlet}}
</section>