<section>
  <form class="scoring-simulation__form">
    <PixInput {{on "input" this.updateScore}} @id="score" @value={{this.score}} type="number">
      <:label>{{t "pages.certifications.scoring-simulation.labels.score-input"}}</:label>
    </PixInput>

    <PixInput @id="capacity" {{on "input" this.updateCapacity}} @value={{this.capacity}} type="number">
      <:label>{{t "pages.certifications.scoring-simulation.labels.capacity-input"}}</:label>
    </PixInput>

    <PixButton
      class="scoring-simulation__form-button"
      @type="submit"
      @triggerAction={{this.onGenerateSimulationProfile}}
    >{{t "pages.certifications.scoring-simulation.actions.submit"}}</PixButton>
  </form>

  {{#each this.errors as |error|}}
    <PixMessage class="scoring-simulation__error-message" @type="error">{{error}}</PixMessage>
  {{/each}}

  <dl class="scoring-simulation__data">
    <div class="scoring-simulation-data__container">
      <dt>{{t "pages.certifications.scoring-simulation.labels.score"}}</dt>
      <dd>{{this.simulatorReport.score}}</dd>
    </div>
    <div class="scoring-simulation-data__container">
      <dt>{{t "pages.certifications.scoring-simulation.labels.capacity"}}</dt>
      <dd>{{this.simulatorReport.capacity}}</dd>
    </div>
  </dl>

  <ul class="scoring-simulation__competences">
    {{#each this.simulatorReport.competences as |competence|}}
      <li
        class="scoring-simulation-competences__item"
        aria-label="Niveau de la compétence {{competence.competenceCode}}"
      >
        <span aria-hidden="true">{{competence.competenceCode}}</span>
        <span>{{t "pages.certifications.scoring-simulation.labels.level"}} {{competence.level}}</span>
      </li>
    {{/each}}
  </ul>
</section>