<header class="page-header">
  <div class="page-title">
    Sessions de certification
  </div>
  <div class="page-actions">
    <CertificationSelect @id={{readonly sessionId}} @select={{action "onLoadSession"}} />
  </div>
</header>

<main class="page-body">
  {{#if sessionId}}
    <BsNav @type="tabs" as |nav|>
      <nav.item>
        {{#nav.link-to 'authenticated.certifications.sessions.info.index' sessionId}}
          Informations
        {{/nav.link-to}}
      </nav.item>
      <nav.item>
        {{#nav.link-to 'authenticated.certifications.sessions.info.list' sessionId}}
          Certifications
        {{/nav.link-to}}
      </nav.item>
    </BsNav>
  {{/if}}
  <section class="page-section  {{if sessionId 'with-navs'}}">
    {{#if loading}}
      <div class="single-loading">
        <i class='fa fa-spinner fa-spin fa-lg'></i>
        Chargement...
      </div>
    {{else}}
      {{outlet}}
    {{/if}}
  </section>
</main>

