<section>
  <div class="download-file">
    {{#if this.haveNoTubeSelected}}
      <PixButton class="download-file__button" @isDisabled={{this.haveNoTubeSelected}}>
        {{t "pages.preselect-target-profile.no-tube-selected" fileSize=this.fileSize}}
      </PixButton>
    {{else}}
      <PixButtonLink
        class="download-file__button"
        @href={{this.downloadURL}}
        download={{t
          "pages.preselect-target-profile.download-filename"
          organizationName=@organization.name
          date=this.formattedCurrentDate
        }}
      >
        {{t
          "pages.preselect-target-profile.download"
          fileSize=this.fileSize
          numberOfTubesSelected=this.numberOfTubesSelected
        }}
      </PixButtonLink>
    {{/if}}
  </div>
  {{#each this.sortedAreas as |area|}}
    <PixCollapsible @title="{{area.code}} · {{area.title}}" class="{{area.color}}">
      {{#each area.sortedCompetences as |competence|}}
        <h2>{{competence.index}} {{competence.name}}</h2>
        <div class="panel">
          <table class="table content-text content-text--small preselect-tube-table">
            <caption>{{t "pages.preselect-target-profile.table.caption"}}</caption>
            <thead>
              <tr>
                <Table::Header @size="medium" @align="center" scope="col">
                  {{t "pages.preselect-target-profile.table.column.theme-name"}}
                </Table::Header>
                <Table::Header @size="small" @align="center" scope="col">
                  {{t "pages.preselect-target-profile.table.column.action"}}
                </Table::Header>
                <Table::Header @size="wide" scope="col">
                  {{t "pages.preselect-target-profile.table.column.name"}}
                </Table::Header>
                <Table::Header @size="small" @align="center" scope="col">
                  {{t "pages.preselect-target-profile.table.column.mobile"}}
                </Table::Header>
                <Table::Header @size="small" @align="center" scope="col">
                  {{t "pages.preselect-target-profile.table.column.tablet"}}
                </Table::Header>
              </tr>
            </thead>

            <tbody>
              {{#each competence.sortedThematics as |thematic|}}
                {{#each thematic.tubes as |tube index|}}
                  <tr class="row-tube" aria-label={{t "pages.preselect-target-profile.table.row-title"}}>
                    {{#if (eq index 0)}}
                      <Tube::Thematic
                        @thematic={{thematic}}
                        @getThematicState={{this.getThematicState}}
                        @selectThematic={{this.selectThematic}}
                        @unselectThematic={{this.unselectThematic}}
                      />
                    {{/if}}
                    <Tube::Tube
                      @tube={{tube}}
                      @isTubeSelected={{this.isTubeSelected}}
                      @selectTube={{this.selectTube}}
                      @unselectTube={{this.unselectTube}}
                    />
                  </tr>
                {{/each}}
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/each}}
    </PixCollapsible>

  {{/each}}
</section>