<section>
  <div class="download-file">
    {{#if this.haveNoTubeSelected}}
      <PixButton class="download-file__button" @isDisabled={{this.haveNoTubeSelected}}>
        {{t "pages.preselect-target-profile.no-tube-selected" fileSize=this.fileSize}}
      </PixButton>
    {{else}}
      <PixButtonLink
        class="download-file__button"
        @href={{this.downloadURL}}
        download={{t
          "pages.preselect-target-profile.download-filename"
          organizationName=@organization.name
          date=this.formattedCurrentDate
        }}
      >
        {{t
          "pages.preselect-target-profile.download"
          fileSize=this.fileSize
          numberOfTubesSelected=this.numberOfTubesSelected
        }}
      </PixButtonLink>
    {{/if}}
  </div>
  {{#each this.sortedAreas as |area|}}
    <PixCollapsible @title="{{area.code}} · {{area.title}}" class="{{area.color}}">
      {{#each area.sortedCompetences as |competence|}}
        <h2>{{competence.index}} {{competence.name}}</h2>
        <div class="panel">
          <table class="table content-text content-text--small preselect-tube-table">
            <caption>{{t "pages.preselect-target-profile.table.caption"}}</caption>
            <thead>
              <tr>
                <Table::Header @size="medium" @align="center" scope="col">
                  {{t "pages.preselect-target-profile.table.column.theme-name"}}
                </Table::Header>
                <Table::Header @size="small" @align="center" scope="col">
                  {{t "pages.preselect-target-profile.table.column.action"}}
                </Table::Header>
                <Table::Header @size="wide" scope="col">
                  {{t "pages.preselect-target-profile.table.column.name"}}
                </Table::Header>
                <Table::Header @size="small" @align="center" scope="col">
                  {{t "pages.preselect-target-profile.table.column.mobile"}}
                </Table::Header>
                <Table::Header @size="small" @align="center" scope="col">
                  {{t "pages.preselect-target-profile.table.column.tablet"}}
                </Table::Header>
              </tr>
            </thead>

            <tbody>
              {{#each competence.sortedThematics as |thematic|}}
                {{#each thematic.tubes as |tube index|}}
                  <tr
                    {{on "click" this.toggleTubeInput}}
                    class="row-tube"
                    aria-label={{t "pages.preselect-target-profile.table.row-title"}}
                  >
                    {{#if (eq index 0)}}
                      <th
                        scope="row"
                        class="th--clickable"
                        rowspan={{thematic.tubes.length}}
                        {{on "click" this.toggleThematicInput}}
                      >
                        <Input
                          {{on "input" (fn this.updateSelectedThematics thematic.id)}}
                          id="thematic-{{thematic.id}}"
                          @type="checkbox"
                        />
                        <label for="thematic-{{thematic.id}}">
                          {{thematic.name}}
                        </label>
                      </th>
                    {{/if}}
                    <td class="table__column--center">
                      <Input
                        {{on "input" (fn this.updateSelectedTubes tube.id)}}
                        data-thematic={{thematic.id}}
                        data-tube={{tube.id}}
                        id="tube-{{tube.id}}"
                        @type="checkbox"
                      />
                    </td>
                    <td>
                      <label for="tube-{{tube.id}}">
                        {{tube.practicalTitle}}
                        :
                        {{tube.practicalDescription}}
                      </label>
                    </td>
                    <td class="table__column--center">
                      <div
                        aria-label="{{if
                          tube.isMobileCompliant
                          (t 'pages.preselect-target-profile.table.is-responsive')
                          (t 'pages.preselect-target-profile.table.not-responsive')
                        }}"
                      >
                        <FaIcon
                          @icon="mobile-screen-button"
                          class="fa-2x {{if tube.isMobileCompliant 'is-responsive'}}"
                        />
                        {{#unless tube.isMobileCompliant}}
                          <FaIcon @icon="slash" class="fa-2x not-responsive" />
                        {{/unless}}
                      </div>
                    </td>
                    <td class="table__column--center">
                      <div
                        aria-label="{{if
                          tube.isTabletCompliant
                          (t 'pages.preselect-target-profile.table.is-responsive')
                          (t 'pages.preselect-target-profile.table.not-responsive')
                        }}"
                      >
                        <FaIcon
                          @icon="tablet-screen-button"
                          class="fa-2x {{if tube.isTabletCompliant 'is-responsive'}}"
                        />
                        {{#unless tube.isTabletCompliant}}
                          <FaIcon @icon="slash" class="fa-2x not-responsive" />
                        {{/unless}}
                      </div>
                    </td>
                  </tr>
                {{/each}}
              {{/each}}
            </tbody>
          </table>
        </div>
      {{/each}}
    </PixCollapsible>

  {{/each}}
</section>