<td class="table__column--center">
  <Input id="tube-{{@tube.id}}" @type="checkbox" @checked={{this.checked}} />
</td>
<td>
  <label for="tube-{{@tube.id}}">
    {{@tube.practicalTitle}}
    :
    {{@tube.practicalDescription}}
  </label>
</td>
<td class="table__column--center">
  <div
    aria-label="{{if
      @tube.isMobileCompliant
      (t 'pages.preselect-target-profile.table.is-responsive')
      (t 'pages.preselect-target-profile.table.not-responsive')
    }}"
  >
    <FaIcon @icon="mobile-screen-button" class="fa-2x {{if @tube.isMobileCompliant 'is-responsive'}}" />
    {{#unless @tube.isMobileCompliant}}
      <FaIcon @icon="slash" class="fa-2x not-responsive" />
    {{/unless}}
  </div>
</td>
<td class="table__column--center">
  <div
    aria-label="{{if
      @tube.isTabletCompliant
      (t 'pages.preselect-target-profile.table.is-responsive')
      (t 'pages.preselect-target-profile.table.not-responsive')
    }}"
  >
    <FaIcon @icon="tablet-screen-button" class="fa-2x {{if @tube.isTabletCompliant 'is-responsive'}}" />
    {{#unless @tube.isTabletCompliant}}
      <FaIcon @icon="slash" class="fa-2x not-responsive" />
    {{/unless}}
  </div>
</td>