<div class="certification-instructions__content">
  <span class="certification-instructions__question--bold">{{t "pages.certification-instructions.steps.5.text"}}</span>
  <ul class="certification-instructions-content__list">
    <li>
      <span class="certification-instructions__text--bold">
        {{t "pages.certification-instructions.steps.5.list.no-communication.strong-text"}}
      </span>
      {{t "pages.certification-instructions.steps.5.list.no-communication.text"}}
    </li>
    <li>
      <span class="certification-instructions__text--bold">
        {{t "pages.certification-instructions.steps.5.list.no-connected-device.strong-text"}}
      </span>
      {{t "pages.certification-instructions.steps.5.list.no-connected-device.text"}}
    </li>
    <li>
      <span class="certification-instructions__text--bold">
        {{t "pages.certification-instructions.steps.5.list.no-cheat-sheet.strong-text"}}
      </span>
      {{t "pages.certification-instructions.steps.5.list.no-cheat-sheet.text"}}
    </li>
    <li>
      <span class="certification-instructions__text--bold">
        {{t "pages.certification-instructions.steps.5.list.no-artificial-intelligence.strong-text"}}
      </span>
      {{t "pages.certification-instructions.steps.5.list.no-artificial-intelligence.text"}}
    </li>
    <li>
      <span class="certification-instructions__text--bold">
        {{t "pages.certification-instructions.steps.5.list.no-forum.strong-text"}}
      </span>
      {{t "pages.certification-instructions.steps.5.list.no-forum.text"}}
    </li>
    <li>
      <span class="certification-instructions__text--bold">
        {{t "pages.certification-instructions.steps.5.list.other.strong-text"}}
      </span>
      {{t "pages.certification-instructions.steps.5.list.other.text"}}
    </li>
  </ul>
  <PixCheckbox {{on "change" this.onChange}}>
    <:label>{{t "pages.certification-instructions.steps.5.checkbox-label"}}</:label>
  </PixCheckbox>
</div>