<h2 {{did-insert @focus}} tabindex="0" class="instructions-step__title">{{@title}}
  <span class="screen-reader-only">{{@vocalStepIdentifier}}</span>
</h2>

<div class="instructions-content" tabindex="0">
  <span class="instructions-content__title--bold">{{t "pages.certification-instructions.steps.5.text"}}</span>
  <ul class="instructions-content-list">
    <li>
      {{t "pages.certification-instructions.steps.5.list.no-communication" htmlSafe=true}}
    </li>
    <li>
      {{t "pages.certification-instructions.steps.5.list.no-connected-device" htmlSafe=true}}
    </li>
    <li>
      {{t "pages.certification-instructions.steps.5.list.no-cheat-sheet" htmlSafe=true}}
    </li>
    <li>
      {{t "pages.certification-instructions.steps.5.list.no-artificial-intelligence" htmlSafe=true}}
    </li>
    <li>
      {{t "pages.certification-instructions.steps.5.list.no-forum" htmlSafe=true}}
    </li>
    <li>
      {{t "pages.certification-instructions.steps.5.list.other" htmlSafe=true}}
    </li>
  </ul>
  <PixCheckbox {{on "change" this.onChange}}>
    <:label>{{t "pages.certification-instructions.steps.5.checkbox-label"}}</:label>
  </PixCheckbox>
</div>