<div class="skill-review__banner">
  <AssessmentBanner @title={{this.title}} @displayHomeLink={{false}} />
</div>
<main role="main">
  {{#if this.showDisabledBlock}}
    <PixBlock class="skill-review__result-abstract-container">
      <div class="skill-review__disabled-share">
        <img class="skill-review-disabled-share__image" src="/images/illustrations/fat-bee.svg" alt="" />
        <p class="skill-review-disabled-share__text">
          {{t "pages.skill-review.disabled-share" htmlSafe=true}}
        </p>
        <LinkTo @route="authenticated" class="skill-review-share__back-to-home link">
          {{t "pages.skill-review.actions.continue"}}
        </LinkTo>
      </div>
    </PixBlock>
  {{else}}
    <PixBlock class="skill-review__result-abstract-container">
      <div class="skill-review__result-and-action">
        <h2 class="sr-only">{{t "pages.skill-review.abstract-title"}}</h2>
        {{#if this.showStages}}
          <ReachedStage
            @reachedStage={{this.reachedStage.reachedStage}}
            @totalStage={{this.reachedStage.totalStage}}
            @masteryRate={{this.masteryRate}}
            @imageUrl={{@model.campaign.targetProfileImageUrl}}
          />
        {{/if}}

        <div class="skill-review__share">
          {{#if this.showStages}}
            <div class="skill-review-share__stage-congrats">
              <div class="stage-congrats__title">
                {{text-with-multiple-lang this.reachedStage.title}}
              </div>
              <div class="stage-congrats__message">
                <MarkdownToHtml @markdown={{this.reachedStage.message}} />
              </div>
            </div>
          {{else}}
            {{#if this.isFlashCampaign}}
              <p class="rounded-panel-title skill-review-result-abstract__text">
                {{t "pages.skill-review.flash.abstract"}}
              </p>
              <p class="rounded-panel-title skill-review-result-abstract__subtext">
                {{t "pages.skill-review.flash.pixScore" score=this.flashPixScore}}
                <br />
                <span class="skill-review-result-abstract__nonDefinitive">
                  {{t "pages.skill-review.flash.nonDefinitive"}}
                </span>
              </p>
            {{else}}
              <p class="rounded-panel-title skill-review-result-abstract__text">
                {{t "pages.skill-review.abstract" rate=this.masteryRate htmlSafe=true}}
              </p>
            {{/if}}
          {{/if}}

          <h2 class="sr-only">{{t "pages.skill-review.send-title"}}</h2>

          <div
            class="skill-review-result-abstract__share-container
              {{if this.showStages 'skill-review-result-abstract__share-container--left'}}"
          >
            {{#if this.showNotFinishedYetMessage}}
              <div class="skill-review-share__error-container">
                <div class="skill-review-share-error__message" aria-live="polite">
                  {{t "pages.skill-review.not-finished"}}
                </div>
                <LinkTo
                  @route="campaigns.entry-point"
                  @model={{@model.campaign.code}}
                  class="skill-review-share-error__button button button--big button--link"
                ><span class="sr-only">{{t "pages.profile.resume-campaign-banner.accessibility.resume"}}</span>{{t
                    "pages.profile.resume-campaign-banner.actions.resume"
                  }}</LinkTo>
              </div>
            {{else if this.showGlobalErrorMessage}}
              <div class="skill-review-share__error-container">
                <div class="skill-review-share-error__message" aria-live="polite">
                  {{t "pages.skill-review.error"}}
                </div>
                <LinkTo
                  @route="authentication.login"
                  class="skill-review-share-error__button button button--big button--link"
                >
                  {{t "navigation.back-to-homepage"}}
                </LinkTo>
              </div>
            {{else}}
              {{#if @model.campaign.isForAbsoluteNovice}}
                <a
                  href="#"
                  {{on "click" this.redirectToSignupIfUserIsAnonymous}}
                  class="skill-review-share__back-to-home link"
                >
                  <FaIcon @icon="arrow-right" aria-hidden="true" />
                  {{t "pages.skill-review.actions.continue"}}
                </a>
              {{else}}
                <CampaignShareButton
                  @isShared={{this.isShared}}
                  @displayPixLink={{this.displayPixLink}}
                  @shareCampaignParticipation={{this.shareCampaignParticipation}}
                  @redirectToSignupIfUserIsAnonymous={{this.redirectToSignupIfUserIsAnonymous}}
                  @isFlashCampaign={{this.isFlashCampaign}}
                />
                <Campaigns::Assessment::SkillReview::ShareBadgeIcons
                  @badges={{@model.campaignParticipationResult.campaignParticipationBadges}}
                />
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
      {{#if this.displayRetryOrResetActions}}
        <div class="skill-review__retry">
          <p class="skill-review-retry__message">{{t
              "pages.skill-review.retry.message"
              organizationName=@model.campaign.organizationName
            }}</p>
          <div class="skill-review__actions">
            {{#if @model.campaignParticipationResult.canRetry}}
              <PixButtonLink
                class="skill-review__actions__pix-button"
                @route="campaigns.entry-point"
                @model={{@model.campaign.code}}
                @query={{this.retryQuery}}
                @size="small"
                @shape="rounded"
              >{{t "pages.skill-review.retry.button"}}</PixButtonLink>
            {{/if}}

            {{#if @model.campaignParticipationResult.canReset}}
              <PixButton
                class="skill-review__actions__pix-button"
                @size="small"
                @shape="rounded"
                @backgroundColor="transparent"
                @isBorderVisible={{true}}
                @triggerAction={{this.showResetModal}}
              >{{t "pages.skill-review.reset.button"}}</PixButton>

              <PixBanner @type="default" class="skill-review__action-banner">{{t
                  "pages.skill-review.reset.notifications"
                }}</PixBanner>

              <PixModal
                @title={{t "pages.skill-review.reset.button"}}
                @showModal={{this.displayResetCampaignParticipationModal}}
                @onCloseButtonClick={{this.closeResetModal}}
              >
                <:content>
                  <PixBanner @type="warning">{{t "pages.skill-review.reset.modal.warning-text"}}</PixBanner>
                  <p class="reset-campaign-participation-modal__text">

                    {{t
                      "pages.skill-review.reset.modal.text"
                      targetProfileName=@model.campaign.targetProfileName
                      htmlSafe=true
                    }}
                  </p>
                </:content>
                <:footer>
                  <div class="reset-campaign-participation-modal__footer">
                    <PixButton
                      @backgroundColor="transparent-light"
                      @isBorderVisible={{true}}
                      @triggerAction={{this.closeResetModal}}
                    >
                      {{t "common.actions.cancel"}}
                    </PixButton>
                    <PixButtonLink
                      @route="campaigns.entry-point"
                      @model={{@model.campaign.code}}
                      @query={{this.resetQuery}}
                      @size="big"
                      @shape="squircle"
                      @backgroundColor="red"
                    >{{t "common.actions.confirm"}}</PixButtonLink>
                  </div>
                </:footer>
              </PixModal>
            {{/if}}
          </div>
        </div>
      {{/if}}
      {{#if (and @model.trainings this.isShared)}}
        <section class="skill-review__trainings">
          <h2 class="skill-review-trainings__title">{{t "pages.skill-review.trainings.title"}}</h2>
          <p class="skill-review-trainings__description">{{t "pages.skill-review.trainings.description"}}</p>
          <ul class="skill-review-trainings__list">
            {{#each @model.trainings as |training|}}
              <li class="skill-review-trainings-list__item">
                <Training::Card @training={{training}} />
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}
    </PixBlock>
  {{/if}}

  {{#if this.displayOrganizationCustomMessage}}
    <PixBlock class="skill-review__organization-message">
      {{#if @model.campaign.organizationLogoUrl}}
        <div class="skill-review-organization-message__logo">
          <img class="logo" src={{@model.campaign.organizationLogoUrl}} alt="" />
        </div>
      {{/if}}
      <div class="skill-review-organization-message__content">
        <p class="skill-review-organization-message__title">{{t "pages.skill-review.organization-message"}}</p>
        <p class="skill-review-organization-message__organization-name">{{@model.campaign.organizationName}}</p>
        {{#if this.showOrganizationMessage}}
          <div class="skill-review-organization-message__text">
            <MarkdownToHtml @markdown={{@model.campaign.customResultPageText}} />
          </div>
        {{/if}}
        {{#if this.showOrganizationButton}}
          <a
            class="skill-review-organization-message__link"
            target="_blank"
            rel="noopener noreferrer"
            href={{this.customButtonUrl}}
          >{{this.customButtonText}}
            <FaIcon @icon="up-right-from-square" aria-hidden="true" />
          </a>
        {{/if}}
      </div>
    </PixBlock>
  {{/if}}

  {{#if this.showNPS}}
    <PixBlock class="skill-review__net-promoter-score">
      <div class="skill-review-net-promoter-score__logo">
        <img src="/images/illustrations/skill-review/net-promoter-score.svg" alt="" />
      </div>
      <div class="skill-review-net-promoter-score__content">
        <h2>{{t "pages.skill-review.net-promoter-score.title"}}</h2>
        <p>{{t "pages.skill-review.net-promoter-score.text"}}</p>
        <PixButtonLink @href="{{@model.campaign.organizationFormNPSUrl}}" target="_blank">
          {{t "pages.skill-review.net-promoter-score.link.label"}}
        </PixButtonLink>
      </div>
    </PixBlock>
  {{/if}}
  {{#if this.showHeavyBlock}}
    <PixBlock @shadow="heavy" class="skill-review__result-detail-container">

      {{#if this.showCertifiableBadges}}
        <div class="badge-certifiable-container">
          {{#each this.certifiableBadgesOrderedByValidity as |badge|}}
            <BadgeCardCertifiable
              @title={{badge.title}}
              @message={{badge.message}}
              @imageUrl={{badge.imageUrl}}
              @altMessage={{badge.altMessage}}
              @isAcquired={{badge.isAcquired}}
              @isValid={{badge.isValid}}
              @isCertifiable={{badge.isCertifiable}}
              @isAlwaysVisible={{badge.isAlwaysVisible}}
              @acquisitionPercentage={{badge.acquisitionPercentage}}
            />
          {{/each}}
        </div>
      {{/if}}

      {{#if this.showNotCertifiableBadges}}
        <h2 class="skill-review-result-detail__badge-subtitle">
          {{t "pages.skill-review.badges-title"}}
        </h2>
        <div class="badge-container">
          {{#each this.notCertifiableBadges as |badge|}}
            <BadgeCard
              @title={{badge.title}}
              @message={{badge.message}}
              @isAlwaysVisible={{badge.isAlwaysVisible}}
              @acquisitionPercentage={{badge.acquisitionPercentage}}
              @imageUrl={{badge.imageUrl}}
              @altMessage={{badge.altMessage}}
              @isAcquired={{badge.isAcquired}}
            />
          {{/each}}
        </div>
      {{/if}}

      {{#if this.showImproveButton}}
        <SkillReviewImprove @improve={{this.improve}} />
      {{/if}}

      {{#unless @model.campaign.isForAbsoluteNovice}}
        {{#if this.showStagesWithStars}}
          <section class="skill-review-result-detail__content">
            <h2 class="skill-review-competence-stages-result__title">
              {{t "pages.skill-review.stage.title"}}
            </h2>
            {{#each-in this.competenceResultsGroupedByAreas as |area competenceResults|}}
              <div class="skill-review-competence-stages-result__content">
                <div class="skill-review-competence-stages-result__area">
                  <span
                    class="skill-review-competence-stages-result__border skill-review-competence__border--{{competenceResults.areaColor}}"
                    aria-hidden="true"
                  ></span>
                  <h3 class="skill-review-competence-stages-result__subtitle">{{area}}</h3>
                </div>
                <Campaigns::Assessment::SkillReview::CompetenceStagesResult
                  @competenceResults={{competenceResults}}
                  @totalStage={{this.reachedStage.totalStage}}
                />
              </div>
            {{/each-in}}
          </section>
        {{else}}
          <section class="skill-review-result-detail__content">
            <div class="skill-review-result-detail__table-header">
              <h2 class="skill-review-result-detail__subtitle">
                {{t "pages.skill-review.details.title"}}
              </h2>
              {{#unless this.isFlashCampaign}}
                <CircleChart @value={{this.masteryPercentage}}>
                  <span
                    aria-label="{{t 'pages.skill-review.details.result'}}"
                    class="skill-review-table-header__circle-chart-value"
                  >
                    {{t "pages.skill-review.details.percentage" rate=this.masteryRate}}
                  </span>
                </CircleChart>
              {{/unless}}
            </div>
            <Campaigns::Assessment::CampaignSkillReviewCompetenceResult
              @competenceResults={{@model.campaignParticipationResult.competenceResults}}
            />
          </section>
        {{/if}}

        {{#unless this.isFlashCampaign}}
          <div class="skill-review-result-detail__information">
            <FaIcon @icon="circle-info" class="skill-review-information__info-icon" aria-hidden="true" />
            <div class="skill-review-information__text">
              {{t "pages.skill-review.information"}}
            </div>
          </div>
        {{/unless}}
      {{/unless}}
    </PixBlock>
  {{/if}}
</main>