
<div class="skill-review__banner">
  <AssessmentBanner @title={{@model.assessment.title}} @displayHomeLink={{false}} />
</div>

{{#if @model.campaignParticipation.campaign.isArchived}}
  <PixBlock class="skill-review__result-abstract-container">
    <div class="skill-review__campaign-archived">
      <img class="skill-review__campaign-archived-image" src="{{this.rootURL}}/images/illustrations/fat-bee.svg" alt="" role="none">
      <p class="skill-review__campaign-archived-text">
        {{t 'pages.skill-review.archived' htmlSafe=true}}
      </p>
      <LinkTo @route="index" class="skill-review-share__back-to-home link">
        {{t 'pages.skill-review.actions.continue'}}
      </LinkTo>
    </div>
  </PixBlock>
{{else}}
  <PixBlock class="skill-review__result-abstract-container">
    <div class="skill-review__result-and-action">
      <h2 class="sr-only">{{t 'pages.skill-review.abstract-title'}}</h2>
      {{#if this.showStages}}
        <ReachedStage
                @stageCount={{this.stageCount}}
                @starCount={{this.reachedStage.starCount}}
                @percentage={{@model.campaignParticipation.campaignParticipationResult.masteryPercentage}}
                @imageUrl={{@model.campaignParticipation.campaign.targetProfileImageUrl}}
        />
      {{/if}}

      <div class="skill-review__share">

        {{#if this.showStages}}
          <div class="skill-review-share__stage-congrats">
            <div class="stage-congrats__title">
              {{text-with-multiple-lang this.reachedStage.title}}
            </div>
            <div class="stage-congrats__message">
              <MarkdownToHtml @markdown={{text-with-multiple-lang this.reachedStage.message}} />
            </div>
          </div>
        {{else}}
          <p class="rounded-panel-title skill-review-result-abstract__text">
            {{t 'pages.skill-review.abstract' percentage=@model.campaignParticipation.campaignParticipationResult.masteryPercentage htmlSafe=true}}
          </p>
        {{/if}}
        <h2 class="sr-only">{{t 'pages.skill-review.send-title'}}</h2>

        <div class="skill-review-result-abstract__share-container {{if this.showStages "skill-review-result-abstract__share-container--left"}}">
          {{#if this.displayErrorMessage}}
            <div class="skill-review-share__error-container">
              <div class="skill-review-share-error__message" aria-live="polite">
                {{t 'pages.skill-review.not-finished'}}
              </div>
              <LinkTo @route="campaigns.start-or-resume" @model={{@model.campaignParticipation.campaign.code}}
                      class="skill-review-share-error__resume-button button button--big button--link"><span class="sr-only">{{t
                      'pages.profile.resume-campaign-banner.accessibility.resume'}}</span>{{t
                      'pages.profile.resume-campaign-banner.actions.resume'}}</LinkTo>
            </div>
          {{else}}
            {{#if @model.campaignParticipation.campaign.isForAbsoluteNovice}}
              <a href="#" {{on "click" this.redirectForNoviceCampaign}}
                      class="skill-review-share__back-to-home link" data-link-to-continue-pix>
                {{t 'pages.skill-review.actions.continue'}}
              </a>
            {{else}}
              <CampaignShareButton
                      @isShared={{@model.campaignParticipation.isShared}}
                      @shareCampaignParticipation={{this.shareCampaignParticipation}}
              />
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </PixBlock>
{{/if}}

{{#if this.showOrganizationMessage}}
  <PixBlock class="skill-review__organization-message">
      {{#if this.organizationLogoUrl}}
        <div class="skill-review-organization-message__logo">
          <img class="logo" src={{this.organizationLogoUrl}} alt="{{this.organizationName}}">
        </div>
      {{/if}}
      <div class="skill-review-organization-message__content">
        <p class="skill-review-organization-message__title">{{t 'pages.skill-review.organization-message'}}</p>
        <p class="skill-review-organization-message__organization-name">{{this.organizationName}}</p>
        <div class="skill-review-organization-message__text">
          <p>{{this.organizationMessageText}}</p>
        </div>
      </div>
  </PixBlock>
{{/if}}

<PixBlock @shadow="heavy" class="skill-review__result-detail-container">
  {{#if this.showBadges}}
    {{#unless this.hideBadgesTitle}}
      <h2 class="skill-review-result-detail__badge-subtitle">
        {{t 'pages.skill-review.badges-title'}}
      </h2>
    {{/unless}}
    <div class="badge-acquired-container">
      {{#each this.acquiredBadges as |badge|}}
        <BadgeAcquiredCard
                @title={{badge.title}}
                @message={{badge.message}}
                @imageUrl={{badge.imageUrl}}
                @altMessage={{badge.altMessage}}
        />
      {{/each}}
    </div>
  {{/if}}

  {{#if @model.displayImprovementButton}}
    <SkillReviewTryAgain
            @campaignParticipation={{@model.campaignParticipation}}
            @improvementCampaignParticipation={{this.improvementCampaignParticipation}}/>
  {{/if}}


  {{#unless @model.campaignParticipation.campaign.isForAbsoluteNovice}}

  <main class="skill-review-result-detail__content">
    <div class="skill-review-result-detail__table-header">
      <h2 class="skill-review-result-detail__subtitle">
        {{t 'pages.skill-review.details.title'}}
      </h2>
      <CircleChart @value={{@model.campaignParticipation.campaignParticipationResult.masteryPercentage}}>
          <span aria-label="{{t "pages.skill-review.details.result"}}" class="skill-review-table-header__circle-chart-value">
            {{@model.campaignParticipation.campaignParticipationResult.masteryPercentage}}%
          </span>
      </CircleChart>
    </div>

    <CampaignSkillReviewCompetenceResult
            @showCleaCompetences={{this.showCleaCompetences}}
            @competenceResults={{@model.campaignParticipation.campaignParticipationResult.competenceResults}}
            @partnerCompetenceResults={{@model.campaignParticipation.campaignParticipationResult.cleaBadge.partnerCompetenceResults}}
    />
  </main>

  <div class="skill-review-result-detail__information">
    <FaIcon @icon='info-circle' class='skill-review-information__info-icon' aria-hidden="true"/>
    <div class="skill-review-information__text">
      {{t 'pages.skill-review.information'}}
    </div>
  </div>
  {{/unless}}
</PixBlock>
