<form {{action 'submit' on='submit'}} class="campaign-creation-form">

  <div class="campaign-creation-form__field">
    <label for="campaign-name" class="label">Nom de la campagne</label>
    {{input id='campaign-name'
            name='campaign-name'
            type='text'
            maxlength='255'
            value=campaign.name
            class="input"
    }}

    {{#each campaign.errors.name as |error|}}
      <div class='campaign-creation-form__error'>
        {{error.message}}
      </div>
    {{/each}}
  </div>

  <div class="campaign-creation-form__field">
    <label for="campaign-target-profile" class="label">Que souhaitez-vous tester ?</label>
    <select class="select" id="campaign-target-profile" onchange={{action 'setSelectedTargetProfile' value='target.value'}}>
      <option value="" disabled="disabled" selected></option>
      {{#each targetProfiles as |targetProfile|}}
        <option value="{{targetProfile.id}}">{{targetProfile.name}}</option>
      {{/each}}
    </select>
    {{#each campaign.errors.targetProfile as |error|}}
      <div class='campaign-creation-form__error'>
        {{error.message}}
      </div>
    {{/each}}
  </div>

  <div class="campaign-creation-form__one-parameter">
    <div class="campaign-creation-form_id-pix">
      <div class="label">
        <label for="id-pix-wanted-or-not" class="campaign-creation-form_label">Souhaitez-vous demander un ID Pix ?</label>
      </div>
      <div id="doNotAskLabelIdPix" class="campaign-creation-form_sub-label" onclick={{action "doNotAskLabelIdPix"}}>
        <input type="radio" checked={{notWantIdPix}} class="blue-radio-button" name="radio">
        <label><span></span>Non</label>
      </div>
      <div id="askLabelIdPix" class="campaign-creation-form_sub-label" onclick={{action "askLabelIdPix"}}>
        <input type="radio" checked={{wantIdPix}} name="radio" class="blue-radio-button">
        <label><span></span>Oui</label>
      </div>
    </div>

    {{#if showLabelIdPixQuestion}}
      <div class="campaign-creation-form_id-pix_libelled">
        {{input class="input"
                id='id-pix-label'
                name='id-pix-label'
                type='text'
                maxlength='255'
                value=campaign.idPix
                label='Libellé de l\'ID Pix'
                aria-required='true'
                placeholder="Libellé de l'id Pix"}}
        {{#each campaign.errors.idPix as |error|}}
          <div class='campaign-creation-form__error'>
            {{error.message}}
          </div>
        {{/each}}
        <div class="campaign-creation-form__information">
          Exemple: "Numéro de l'étudiant" ou "Adresse mail professionnelle"
        </div>
      </div>
    {{/if}}
  </div>
  <div>
    <button class="campaign-creation-form__validation-button submit-button" type="submit">Créer la campagne</button>
  </div>

</form>
