<PixModal @containerClass="pix-modal-dialog" @onClose={{this.closePasswordReset}}>

  <div class="pix-modal__container">

    <div class="pix-modal-header">
      <div class="pix-modal-header__title">
        <span>Gestion du compte de l'élève</span>
        <button type="button" class="pix-modal-header__icon icon-button" {{on 'click' this.closePasswordReset}}>
          <FaIcon @icon='times'></FaIcon>
        </button>
      </div>
    </div>

    <form {{on 'submit' this.updatePassword}}>
      <div class="pix-modal-body">
          {{#if @student.hasUsername}}
              <div class="input-container">
                  <label for="username" class="label">Identifiant</label>
                  <Input
                    id="username"
                    @name="username"
                    @type="text"
                    @class="input disabled"
                    @value={{@student.username}}
                    @disabled="disabled"
                  />
              </div>
          {{/if}}

          {{#if @student.hasEmail}}
              <div class="input-container">
                  <label for="email" class="label">Adresse e-mail</label>
                  <Input
                    id="email"
                    @name="email"
                    @type="text"
                    @class="input disabled"
                    @value={{@student.email}}
                    @disabled="disabled"
                  />
              </div>
          {{/if}}
      </div>
      <div class="pix-modal-footer">
        <div class="pix-modal-footer__title">L'élève saisit ici son nouveau mot de passe</div>
        <div class="input-container">
          <label for="password" class="label">Nouveau mot de passe
            <br>
            <span class="help">
            (8 caractères minimum, dont une majuscule, une minuscule et un chiffre)
          </span>
          </label>
          <div class="{{if this.validation.password.message 'alert-input alert-input--error'}}" role="alert">{{this.validation.password.message}}</div>
          <div class="input-password {{if this.validation.password.message 'input-password--error'}}">
            <Input
              id="update-password"
              @name="password"
              @type={{this.passwordInputType}}
              @class="input"
              @value={{this.studentUser.password}}
              required="required"
              @autocomplete="current-password"
              @focusOut={{this.validateInputPassword}}
            />
            <button type="button" aria-label="rendre le mot de passe lisible" class="button input-password__icon" {{on 'click' this.togglePasswordVisibility}} >
              {{#if this.isPasswordVisible}}
                <div tabindex="-1" {{on 'mousedown' this.togglePasswordVisibility}}>
                  <FaIcon @icon='eye' @class="fa-fw input-password-icon__eye" />
                </div>
              {{else}}
                <div tabindex="-1" {{on 'mousedown' this.togglePasswordVisibility}}>
                  <FaIcon @icon='eye-slash' @class="fa-fw input-password-icon__eye" />
                </div>
              {{/if}}
            </button>
          </div>
        </div>
        {{#if this.isLoading}}
          <button type="button" disabled class="button"><span class="loader-in-button">&nbsp;</span></button>
        {{else}}
          <button type="submit" class="button">Modifier le mot de passe</button>
        {{/if}}
      </div>
    </form>
  </div>

</PixModal>
