<PixModal @containerClass="pix-modal-dialog" @onClose={{this.closePasswordReset}}>

  <div class="pix-modal__container">

    <div class="pix-modal-header">
      <div class="pix-modal-header__title">
        <span>Gestion du compte de l'élève</span>
        <button type="button" class="pix-modal-header__icon icon-button" {{on 'click' this.closePasswordReset}}>
          <FaIcon @icon='times'></FaIcon>
        </button>
      </div>
    </div>

    <form>
      <div class="pix-modal-body">
          {{#if @student.hasUsername}}
              <div class="input-container">
                <label for="username" class="label">Identifiant</label>
                <div class="pix-modal-body__clipboard">
                  <Input
                    id="username"
                    @name="username"
                    @type="text"
                    @class="input disabled"
                    @value={{@student.username}}
                    @disabled="disabled"
                  />
                  {{#if (is-clipboard-supported)}}
                    <div class="tooltip content-text content-text--small">
                      <span class="tooltip-text pix-modal-body__tooltip-text">{{this.tooltipTextUsername}}</span>
                      <CopyButton
                              @aria-label="Copier l'identifiant"
                              @clipboardText={{@student.username}}
                              @success={{this.clipboardSuccessUsername}}
                              {{ on 'mouseout' this.clipboardOutUsername}}
                              @classNames="icon-button pix-modal-body__clipboard-button">
                        <FaIcon @icon='copy' @prefix='far'></FaIcon>
                      </CopyButton>
                    </div>
                  {{/if}}
                </div>
              </div>
          {{/if}}

          {{#if @student.hasEmail}}
              <div class="input-container">
                  <label for="email" class="label">Adresse e-mail</label>
                  <div class="pix-modal-body__clipboard">
                    <Input
                      id="email"
                      @name="email"
                      @type="text"
                      @class="input disabled"
                      @value={{@student.email}}
                      @disabled="disabled"
                    />
                    {{#if (is-clipboard-supported)}}
                      <div class="tooltip content-text content-text--small">
                        <span class="tooltip-text pix-modal-body__tooltip-text">{{this.tooltipTextEmail}}</span>
                        <CopyButton
                                @aria-label="Copier l'adresse e-mail"
                                @clipboardText={{@student.email}}
                                @success={{this.clipboardSuccessEmail}}
                                {{ on 'mouseout' this.clipboardOutEmail}}
                                @classNames="icon-button pix-modal-body__clipboard-button">
                          <FaIcon @icon='copy' @prefix='far'></FaIcon>
                        </CopyButton>
                      </div>
                    {{/if}}
                  </div>
              </div>
          {{/if}}
      </div>
      <div class="pix-modal-footer">
        {{#unless this.isUniquePasswordVisible}}
          <div>
            <button id="generate-password" type="button" class="button" {{on 'click' this.resetPassword}}>Réinitialiser le mot de passe</button>

            <div class="pix-modal-footer__warning">
              <FaIcon @icon='exclamation-triangle' @class="fa-fw warning-icon" />
              <span>Réinitialiser supprime le mot de passe actuel de l’élève</span>
            </div>
          </div>
        {{/unless}}
        {{#if this.isUniquePasswordVisible}}
          <div>
            <div class="input-container">
              <label for="generated-password" class="label">Mot de passe à usage unique</label>
              <div class="pix-modal-footer__clipboard">
                <Input
                  id="generated-password"
                  @name="generated-password"
                  @class="input"
                  @value={{this.generatedPassword}}
                  @disabled="true"
                />
                {{#if (is-clipboard-supported)}}
                  <div class="tooltip content-text content-text--small">
                    <span class="tooltip-text pix-modal-footer__tooltip-text">{{this.tooltipTextGeneratedPassword}}</span>
                    <CopyButton
                            @aria-label="Copier le mot de passe unique"
                            @clipboardText={{this.generatedPassword}}
                            @success={{this.clipboardSuccessGeneratedPassword}}
                            {{ on 'mouseout' this.clipboardOutGeneratedPassword}}
                            @classNames="icon-button pix-modal-footer__clipboard-button">
                      <FaIcon @icon='copy' class="fa-inverse" @prefix='far'></FaIcon>
                    </CopyButton>
                  </div>
                {{/if}}
              </div>
            </div>

            <div class="pix-modal-footer__informations">
              <span>1. Communiquez ce mot de passe à votre élève</span>
              <span>2. L'élève se connecte avec ce mot de passe à usage unique</span>
              <span>3. Pix lui demande de choisir un nouveau mot de passe</span>
            </div>
          </div>
        {{/if}}
      </div>
    </form>
  </div>

</PixModal>
