<PixModal @containerClass="password-reset-modal" @onClose={{this.closePasswordReset}}>

  <div class="pix-modal__container">

    <div class="pix-modal-header">
      <div class="password-reset-header__title">Réinitialisation du mot de passe</div>
      <div class="password-reset-header__subtitle">L'élève saisit ici son nouveau mot de passe.</div>
      <button type="button" class="icon-button password-reset-header__icon" {{on 'click' this.closePasswordReset}}>
        <FaIcon @icon='times'></FaIcon>
      </button>
    </div>

    <div class="password-reset-body">
      <form {{on 'submit' this.updatePassword}}>
        <div class="input-container">
          <label for="username" class="label">Identifiant de l'élève</label>
          <Input
            @id="username"
            @name="username"
            @type="text"
            @class="input disabled"
            @value={{@student.username}}
            @disabled="disabled"
          />
        </div>

        <div class="input-container">
          <label for="password" class="label">
            Nouveau mot de passe<br>
            <span class="help">
              (8 caractères minimum, dont une majuscule, une minuscule et un chiffre)
            </span>
          </label>
          <div class="{{if this.validation.password.message 'alert-input alert-input--error'}}" role="alert">{{this.validation.password.message}}</div>
          <div class="input-password {{if this.validation.password.message 'input-password--error'}}">
            <Input
              @id="update-password"
              @name="password"
              @type={{this.passwordInputType}}
              @class="input"
              @value={{this.studentUser.password}}
              required="required"
              @autocomplete="current-password"
              @focusOut={{this.validateInputPassword}}
            />
            <button type="button" aria-label="rendre le mot de passe lisible" class="input-password__icon" {{on 'click' this.togglePasswordVisibility}} >
              {{#if this.isPasswordVisible}}
                <div tabindex="-1" {{on 'mousedown' this.togglePasswordVisibility}}>
                  <FaIcon @icon='eye' @class="fa-fw input-password-icon__eye" />
                </div>
              {{else}}
                <div tabindex="-1" {{on 'mousedown' this.togglePasswordVisibility}}>
                  <FaIcon @icon='eye-slash' @class="fa-fw input-password-icon__eye" />
                </div>
              {{/if}}
            </button>
          </div>
        </div>

        <div class="input-container">
          {{#if this.isLoading}}
            <button type="button" disabled class="button"><span class="loader-in-button">&nbsp;</span></button>
          {{else}}
            <button type="submit" class="button">Modifier le mot de passe</button>
          {{/if}}
        </div>

      </form>
    </div>
  </div>

</PixModal>
