<PixModal @containerClass="password-reset-modal" @onClose={{action closePasswordReset}}>

  <div class="pix-modal__container">

    <div class="pix-modal-header">
      <div class="password-reset-header__title">Réinitialisation du mot de passe</div>
      <div class="password-reset-header__subtitle">L'élève saisit ici son nouveau mot de passe.</div>
      <div class="icon-button password-reset-header__icon" {{ action closePasswordReset }}>
        <FaIcon @icon='times'></FaIcon>
      </div>
    </div>

    <div class="password-reset-body">
      <form {{ action 'updatePassword' on='submit' }}>
        <div class="input-container">
          <label for="username" class="label">Identifiant de l'élève</label>
          <Input
            @id="username"
            @name="username"
            @type="text"
            @class="input disabled"
            @value={{student.username}}
            @disabled="disabled"
          />
        </div>

        <div class="input-container">
          <label for="password" class="label">
            Nouveau mot de passe<br>
            <span class="help">
              (8 caractères minimum, dont une majuscule, une minuscule et un chiffre)
            </span>
          </label>
          <div class="{{if validation.password.message 'alert-input alert-input--error'}}" role="alert">{{validation.password.message}}</div>
          <div class="input-password {{if validation.password.message 'input-password--error'}}">
            <Input
              @id="update-password"
              @name="password"
              @type={{passwordInputType}}
              @class="input"
              @value={{studentUser.password}}
              required="required"
              @autocomplete="current-password"
              @focusOut={{action 'validateInputPassword'}}
            />
            <button type="button" aria-label="rendre le mot de passe lisible" class="input-password__icon" {{action 'togglePasswordVisibility'}} >
              {{#if isPasswordVisible}}
                <div tabindex="-1" onmousedown={{action 'togglePasswordVisibility'}}><FaIcon @icon='eye' class="fa-fw input-password-icon__eye"></FaIcon></div>
              {{else}}
                <div tabindex="-1" onmousedown={{action 'togglePasswordVisibility'}}><FaIcon @icon='eye-slash' class="fa-fw input-password-icon__eye"></FaIcon></div>
              {{/if}}
            </button>
          </div>
        </div>

        <div class="input-container">
          {{#if isLoading}}
            <button type="button" disabled class="button"><span class="loader-in-button">&nbsp;</span></button>
          {{else}}
            <button type="submit" class="button">Modifier le mot de passe</button>
          {{/if}}
        </div>

      </form>
    </div>
  </div>

</PixModal>
