<div class={{concat "progression-gauge " @progressionClass}} style={{this.totalGaugeStyle}}>
  <div class="progression-gauge__marker" style={{this.valueGaugeStyle}}></div>

  <div class="progression-gauge__tooltip-wrapper" style={{this.valueGaugeStyle}}>
    <div class="progression-gauge__tooltip content-text--small">{{yield}}</div>
  </div>
</div>
