<div class="logged-user-summary content-text content-text--small" aria-haspopup="true" aria-expanded="{{this.isMenuOpen}}">
  <a href="#" class="link logged-user-summary__link" {{on 'click' this.toggleUserMenu}}>
    <div>
      <div class="logged-user-summary__name">{{this.currentUser.user.firstName}} {{this.currentUser.user.lastName}}</div>
      <div class="logged-user-summary__organization">{{this.organizationNameAndExternalId}}</div>
    </div>
    {{#if this.isMenuOpen}}
      <FaIcon @icon="chevron-up" @class="logged-user-summary__chevron logged-user-summary__chevron-up"></FaIcon>
    {{else}}
      <FaIcon @icon="chevron-down" @class="logged-user-summary__chevron"></FaIcon>
    {{/if}}
  </a>
</div>

{{#if this.isMenuOpen}}
  <ClickOutside @onClickOutside={{this.closeMenu}}>
    <div class="logged-user-menu">
      {{#each this.eligibleOrganizations as |organization|}}
        <div class="logged-user-menu-item" title="{{organization.name}}" role="button" {{on 'click' (fn this.onOrganizationChange organization)}}>
          <span class="logged-user-menu-item__organization-name">{{organization.name}}</span>
          {{#if organization.externalId}}
            <span class="logged-user-menu-item__organization-externalId">({{organization.externalId}})</span>
          {{/if}}
        </div>
      {{/each}}
      <LinkTo @route="logout" class="link logged-user-menu-item logged-user-menu-item__last">
        <FaIcon @icon="power-off" @class="logged-user-menu-item__icon"></FaIcon>
        Se déconnecter
      </LinkTo>
    </div>
  </ClickOutside>
{{/if}}
