<div class="logged-user-summary content-text content-text--small" aria-haspopup="true" aria-expanded="{{isMenuOpen}}">
  <a href="#" class="link logged-user-summary__link" {{action 'toggleUserMenu'}}>
    <div>
      <div class="logged-user-summary__name">{{currentUser.user.firstName}} {{currentUser.user.lastName}}</div>
      <div class="logged-user-summary__organization">{{organizationNameAndExternalId}}</div>
    </div>
    {{#if isMenuOpen}}
      <FaIcon @icon="chevron-up" @class="logged-user-summary__chevron logged-user-summary__chevron-up"></FaIcon>
    {{else}}
      <FaIcon @icon="chevron-down" @class="logged-user-summary__chevron"></FaIcon>
    {{/if}}
  </a>
</div>

{{#if isMenuOpen}}
  <ClickOutside @onClickOutside={{action "closeMenu"}}>
    <div class="logged-user-menu">
      {{#each eligibleOrganizations as |organization|}}
        <div class="logged-user-menu-item" title="{{organization.name}}" onclick={{action 'onOrganizationChange' organization}}>
          <span class="logged-user-menu-item__organization-name">{{organization.name}}</span>
          {{#if organization.externalId}}
            <span class="logged-user-menu-item__organization-externalId">({{organization.externalId}})</span>
          {{/if}}
        </div>
      {{/each}}
      <LinkTo @route="logout" class="link logged-user-menu-item logged-user-menu-item__last">
        <FaIcon @icon="power-off" @class="logged-user-menu-item__icon"></FaIcon>
        Se déconnecter
      </LinkTo>
    </div>
  </ClickOutside>
{{/if}}
