{{page-title (t 'pages.students-sup.title')}}
<div class="list-students-page">
  <Student::Sup::HeaderActions
    @onImportStudents={{this.importStudents}}
  />

  <Student::Sup::List
    @students={{@model}}
    @lastNameFilter={{this.lastName}}
    @firstNameFilter={{this.firstName}}
    @studentNumberFilter={{this.studentNumber}}
    @onFilter={{this.triggerFiltering}}
  />

  {{#if this.isLoading}}
    <ModalDialog @translucentOverlay={{true}} @containerClass="modal__translucent">
      <PixLoader />
    </ModalDialog>
  {{/if}}
</div>
