<div class="list-students-page">
  <Routes::Authenticated::SupStudents::ListItems
    @students={{@model}}
    @isLoading={{this.isLoading}}
    @importStudents={{this.importStudents}}
    @triggerFiltering={{this.triggerFiltering}}
    @lastNameFilter={{this.lastName}}
    @firstNameFilter={{this.firstName}}
    @studentNumberFilter={{this.studentNumber}}
  />
</div>
