{{page-title (t 'pages.students-sup.title')}}
<div class="list-students-page">
  <Student::Sup::List
    @students={{@model}}
    @isLoading={{this.isLoading}}
    @lastNameFilter={{this.lastName}}
    @firstNameFilter={{this.firstName}}
    @studentNumberFilter={{this.studentNumber}}
    @onImportStudents={{this.importStudents}}
    @onFilter={{this.triggerFiltering}}
  />
</div>
