<header class="page-header">
  <div class="page-title">
    <p>Résultat Thématique<span class="wire">&nbsp;>&nbsp;</span>{{@badge.id}}</p>
  </div>
</header>

<main class="page-body">
  <section class="page-section mb_10">
    <div class="page-section__header">
      <h1 class="page-section__title">{{@badge.name}}</h1>
    </div>
    <div class="page-section__details badge-data">
      <div class="badge-data__image">
        <img src={{@badge.imageUrl}} alt="" role="presentation" width="90px"/><br>
      </div>
      <div class="page-section__details">
        ID : {{@badge.id}}<br>
        Titre : {{@badge.title}}<br>
        Clé : {{@badge.key}}<br>
        Message : {{@badge.message}}<br>
        Message alternatif : {{@badge.altMessage}}<br>
        <PixTag @color={{this.isCertifiableColor}} class="badge-data__tags">{{this.isCertifiableText}}</PixTag><br>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="page-section__header">
      <h2 class="page-section__title">Critères</h2>
    </div>


    <div class="page-section__details table-admin">
      {{#each this.badgeCriteria as |criterion|}}
        <p>L‘évalué doit obtenir <strong>{{criterion.threshold}}%</strong> sur {{call (fn this.scopeExplanation criterion.scope)}}</p>

        {{#if criterion.partnerCompetences}}
          <ul class="badge-criteria-competences">
            {{#each criterion.partnerCompetences as |badgePartnerCompetence|}}
            <li>
              <details>
                <summary>{{badgePartnerCompetence.name}}{{#if badgePartnerCompetence.color}} - {{badgePartnerCompetence.color}}{{/if}}</summary>
                <table class="table-admin badge-partner-competences-table">
                  <thead>
                    <tr>
                      <th class="table__column table__column--wide">Sujet</th>
                      {{#each this.allLevels as |level|}}
                      <th class="table__column table__column--small table__column--center">Niveau {{level}}</th>
                      {{/each}}
                    </tr>
                  </thead>
                  <tbody>
                    {{#each badgePartnerCompetence.tubes as |tube|}}
                    <tr>
                      <td>{{tube.practicalTitle}}</td>
                      {{#each tube.skillsWithAllLevels as |skill|}}
                      <td class="table__column--center skill-column">
                        {{#if skill}}
                        <PixTooltip @text={{concat skill.id ' ' skill.name}} @position='bottom'  >
                        <FaIcon @icon="check" class="skill-column--check" aria-label={{skill.name}} />
                        </PixTooltip>
                        {{else}}
                        <FaIcon @icon="times" class="skill-column--uncheck" />
                        {{/if}}
                      </td>
                      {{/each}}
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </details>
            </li>
            {{/each}}
          </ul>
        {{/if}}
      {{/each}}
    </div>
  </section>
</main>
