<header class="page-header">
  <div class="page-title">
    <p>
      <LinkTo @route="authenticated.target-profiles.target-profile.insights">{{@targetProfile.name}}</LinkTo>
      <span class="wire">&nbsp;>&nbsp;</span>
      <h1>Résultat thématique
        {{@badge.id}}
      </h1>
    </p>
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <div class="page-section__header">
      <h2 class="page-section__title">{{@badge.name}}</h2>
    </div>
    <div class="page-section__details badge-data">
      <div class="badge-data__image">
        {{! template-lint-disable no-redundant-role }}
        <img src={{@badge.imageUrl}} alt="" role="presentation" width="90px" /><br />
      </div>
      {{#if this.editMode}}
        <div class="badge-edit-form">
          <form class="form" {{on "submit" this.updateBadge}}>
            <div class="badge-edit-form__field">
              <PixInput
                class="form-control"
                @value={{this.form.title}}
                @requiredLabel={{true}}
                {{on "input" (pick "target.value" (set this "form.title"))}}
              ><:label>Titre : </:label></PixInput>
            </div>
            <div class="badge-edit-form__field">
              <PixInput
                class="form-control"
                @value={{this.form.key}}
                @requiredLabel={{true}}
                {{on "input" (pick "target.value" (set this "form.key"))}}
              ><:label>Clé : </:label></PixInput>
            </div>
            <div class="badge-edit-form__field">
              <PixTextarea
                class="form-control"
                @value={{this.form.message}}
                rows="4"
                {{on "input" (pick "target.value" (set this "form.message"))}}
              ><:label>Message : </:label></PixTextarea>
            </div>
            <div class="badge-edit-form__field">
              <PixInput
                class="form-control"
                @value={{this.form.imageName}}
                @requiredLabel={{true}}
                {{on "input" (pick "target.value" (set this "form.imageName"))}}
              ><:label>Nom de l'image (svg) : </:label></PixInput>
            </div>
            <div class="badge-edit-form__field">
              <PixInput
                class="form-control"
                @value={{this.form.altMessage}}
                @requiredLabel={{true}}
                {{on "input" (pick "target.value" (set this "form.altMessage"))}}
              ><:label>Message Alternatif : </:label></PixInput>
            </div>
            <div class="badge-edit-form__field">
              <PixCheckbox
                class="badge-form-check-field__control"
                @checked={{this.form.isCertifiable}}
                {{on "change" (toggle "form.isCertifiable" this)}}
              ><:label>Certifiable</:label></PixCheckbox>
            </div>
            <div class="badge-edit-form__field">
              <PixCheckbox
                class="badge-form-check-field__control"
                @type="checkbox"
                @checked={{this.form.isAlwaysVisible}}
                {{on "change" (toggle "form.isAlwaysVisible" this)}}
              ><:label>Lacunes</:label></PixCheckbox>
            </div>
            <div class="badge-edit-form__actions">
              <PixButton @size="small" @variant="secondary" @triggerAction={{this.cancel}}>Annuler</PixButton>
              <PixButton @type="submit" @size="small" @variant="success" data-testid="save-badge-edit">
                Enregistrer
              </PixButton>
            </div>
          </form>
        </div>
      {{else}}
        <div>
          <ul class="badge-data__list">
            <li>ID : {{@badge.id}}</li>
            <li>Nom du résultat thématique : {{@badge.title}}</li>
            <li>Nom de l'image : {{this.imageName}}</li>
            <li>Clé : {{@badge.key}}</li>
            <li>Message : {{@badge.message}}</li>
            <li>Message alternatif : {{@badge.altMessage}}</li>
          </ul>
          {{#if @badge.isCertifiable}}
            <PixTag @color={{this.isCertifiableColor}} class="badge-data__tags">{{this.isCertifiableText}}</PixTag><br
            />
          {{/if}}
          {{#if @badge.isAlwaysVisible}}
            <PixTag @color={{this.isAlwaysVisibleColor}} class="badge-data__tags">
              {{this.isAlwaysVisibleText}}</PixTag><br />
          {{/if}}
          <PixButton
            @variant="secondary"
            class="badge-data__action"
            @size="small"
            @triggerAction={{this.toggleEditMode}}
          >Modifier</PixButton>
        </div>
      {{/if}}
    </div>
  </section>

  <section class="badge__criteria main-admin-form">
    <div class="admin-form__content">
      {{#if this.campaignScopeCriterion}}
        <Badges::CampaignCriterion
          @criterion={{this.campaignScopeCriterion}}
          @isEditable={{not @targetProfile.hasLinkedCampaign}}
        />
      {{/if}}
      {{#if this.cappedTubesCriteria.length}}
        <h2 class="badge-criterion__title">
          Liste des critères d'obtention basés sur une sélection de sujets du profil cible&nbsp;:
        </h2>
        {{#each this.cappedTubesCriteria as |criterion|}}
          <div class="card">
            <Badges::CappedTubesCriterion @criterion={{criterion}} @targetProfile={{@targetProfile}} />
          </div>
        {{/each}}
      {{/if}}
    </div>
  </section>
</main>