<p data-testid="toujourstriste">
  L'évalué doit obtenir
  <strong>{{@criterion.threshold}}%</strong>
  {{#if @criterion.name}}
    sur le groupe
    <strong>{{@criterion.name}}</strong>
    possédant
  {{else}}
    sur tous
  {{/if}}
  les sujets plafonnés par niveau suivants :
</p>

{{#each this.areasForView as |area|}}
  <Common::TubesDetails::Area @title={{area.title}} @color={{area.color}} @competences={{area.competences}} />
{{/each}}