<p>
  L‘évalué doit obtenir
  <strong>{{@criterion.threshold}}%</strong>
  sur tous les groupes d‘acquis suivants :
</p>

<ul class="badge-criteria-competences">
  {{#each @criterion.skillSets as |skillSet|}}
    <li>
      <details>
        <summary>FIXME METS MON NOM</summary>
        <table class="table-admin skill-sets-table">
          <thead>
            <tr>
              <th class="table__column table__column--wide">Sujet</th>
              {{#each this.allLevels as |level|}}
                <th class="table__column table__column--small table__column--center">Niveau {{level}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each (call (fn this.getTubeForSkillSet skillSet)) as |tube|}}
              <tr>
                <td>{{tube.tubeTitle}}</td>
                {{#each tube.skillsWithAllLevels as |skill|}}
                  <td class="table__column--center skill-column">
                    {{#if skill}}
                      <PixTooltip @position="bottom">
                        <:triggerElement>
                          <FaIcon @icon="check" class="skill-column--check" aria-label={{skill.name}} />
                        </:triggerElement>
                        <:tooltip>{{concat skill.id " " skill.name}}</:tooltip>
                      </PixTooltip>
                    {{else}}
                      <FaIcon @icon="xmark" class="skill-column--uncheck" />
                    {{/if}}
                  </td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </details>
    </li>
  {{/each}}
</ul>