<section class="autonomous-course-landing-page-start-block rounded-panel">
  <div class="autonomous-course-landing-page-start-block__logos">
    <img src="/images/pix-logo.svg" alt="Pix" />
  </div>
  <h1 id="autonomous-course-main-title" class="autonomous-course-landing-page-start-block__title">
    {{t "pages.autonomous-course.landing-page.texts.title"}}<br />
    {{@campaign.title}}
  </h1>
  <p class="autonomous-course-landing-page-start-block__description">
    {{@campaign.customLandingPageText}}
  </p>
  {{#if this.isUserConnected}}
    <PixButton
      id="autonomous-course-connected-start-button"
      class="autonomous-course-landing-page-start-block__connected-start-button"
      @triggerAction={{@startCampaignParticipation}}
    >
      {{t "pages.autonomous-course.landing-page.actions.start-connected"}}
    </PixButton>
  {{else}}
    <div class="autonomous-course-landing-page-start-block__launcher">
      <p>{{t "pages.autonomous-course.landing-page.texts.first-course"}}</p>
      <PixButton
        id="autonomous-course-start-anonymously-button"
        class="start-anonymously-button"
        @triggerAction={{@startCampaignParticipation}}
      >
        {{t "pages.autonomous-course.landing-page.actions.start-anonymously"}}
      </PixButton>
      <p>{{t "common.or"}}</p>
      <button
        id="autonomous-course-sign-in-button"
        class="sign-in-button"
        type="button"
        {{on "click" this.redirectToSigninIfUserIsAnonymous}}
      >
        {{t "pages.autonomous-course.landing-page.actions.sign-in"}}
      </button>
    </div>
  {{/if}}
  <p class="autonomous-course-landing-page-start-block__informations">
    {{t "pages.autonomous-course.landing-page.texts.legal-informations" htmlSafe=true}}
  </p>
</section>