<div>
  <Challenge::ChallengeInstruction @instruction={{@challenge.instruction}} />
  {{#if @challenge.hasValidEmbedDocument}}
    <Challenge::ChallengeEmbedSimulator @url={{@challenge.embedUrl}} @title={{@challenge.embedTitle}} />
  {{/if}}
  <Challenge::ChallengeItemAutoReply @setAnswerValue={{this.setAnswerValue}} />

  <Challenge::ChallengeActions @validateAnswer={{this.validateAnswer}} @skipChallenge={{this.skipChallenge}} />
</div>

<AnswerFeedback
  @answer={{this.answer}}
  @answerHasBeenValidated={{this.answerHasBeenValidated}}
  @nextAction={{this.resume}}
/>