{{page-title "Certification complémentaire " @model.complementaryCertification.id " | Pix Admin" replace=true}}

<ComplementaryCertifications::TargetProfiles::Header
  @complementaryCertificationLabel={{@model.complementaryCertification.label}}
/>

<main class="page-body">
  <div class="page-section complementary-certification-attach-target-profile">
    <h1 class="complementary-certification-attach-target-profile__header">
      Rattacher un nouveau profil cible à la certification
      {{@model.complementaryCertification.label}}
    </h1>
    <span class="complementary-certification-details__target-profile">Profile cible actuel:
      <LinkTo
        @route="authenticated.target-profiles.target-profile"
        @model={{@model.currentTargetProfile.id}}
        class="complementary-certification-details-target-profile__link"
      >
        {{@model.currentTargetProfile.name}}
      </LinkTo>
    </span>

    <section class="card">
      <h2 class="card__title">1. Renseigner le nouveau profil cible à rattacher</h2>
      <div class="card__content">
        {{#if this.selectedTargetProfile}}
          <ComplementaryCertifications::TargetProfiles::SelectedTargetProfile
            @onChange={{this.onChange}}
            @attachableTargetProfile={{this.selectedTargetProfile}}
          />
        {{else}}
          <ComplementaryCertifications::TargetProfiles::SearchBar
            @onSelection={{this.onSelection}}
            @onSearch={{this.onSearch}}
            @options={{this.options}}
          />
        {{/if}}
      </div>
    </section>

    {{#if this.selectedTargetProfile}}
      <section class="card complementary-certification-attach-target-profile__card-badges">
        <h2 class="card__title">2. Complétez les niveaux des résultats thématiques</h2>
        <div class="card__content">
          {{#if this.isLoadingBadges}}
            <p class="loader__image">
              <img src="/images/loader-grey.svg" alt="loader" />
            </p>
          {{/if}}
          <ComplementaryCertifications::TargetProfiles::AttachBadges
            @options={{this.targetProfileBadges}}
            @error={{this.getTargetProfileBadgesErrorMessage}}
          />
        </div>
      </section>
    {{/if}}

    <div>
      <PixButton
        @size="small"
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @triggerAction={{this.cancel}}
      >Annuler
      </PixButton>
    </div>
  </div>
</main>