<div class="page-section attach-target-profile">
  <h1 class="attach-target-profile__header">
    Rattacher un nouveau profil cible à la certification
    {{@model.complementaryCertification.label}}
  </h1>
  <ComplementaryCertifications::Common::LinkToCurrentTargetProfile @model={{@model.currentTargetProfile}} />

  <form class="form" {{on "submit" this.onSubmit}}>
    <Card class="attach-target-profile__card" @title="1. Renseigner le nouveau profil cible à rattacher">
      <ComplementaryCertifications::AttachBadges::TargetProfileSelector
        @onError={{this.onError}}
        @onSelection={{this.onSelection}}
        @onChange={{this.onReset}}
      />
    </Card>

    {{#if this.selectedTargetProfile}}
      <Card
        class="attach-target-profile__card attach-target-profile__card-badges"
        @title="2. Complétez les informations des résultats thématiques"
      >
        <ComplementaryCertifications::AttachBadges::Badges
          @targetProfile={{this.selectedTargetProfile}}
          @onError={{this.onError}}
          @onBadgeUpdated={{this.onBadgeUpdated}}
          @hasExternalJury={{this.hasExternalJury}}
        />
      </Card>

      <div class="badge-edit-form__field attach-target-profile__notification">
        <Input
          class="badge-edit-form__control attach-target-profile__notification__checkbox"
          @type="checkbox"
          @checked="false"
          {{on "change" this.onNotificationUpdated}}
          id="notification-checkbox"
        />
        <label for="notification-checkbox">Notifier les organisations avec une campagne basée sur l’ancien PC</label>
        <PixTooltip @position="top-left" @isLight={{true}} @isWide={{true}}>
          <:triggerElement>
            <FaIcon @icon="circle-question" tabindex="0" />
          </:triggerElement>
          <:tooltip>
            Un email sera envoyé à chaque membre de l'organisation
          </:tooltip>
        </PixTooltip>
      </div>
    {{/if}}

    <div class="attach-target-profile__actions">
      <PixButton
        @type="submit"
        @size="large"
        @isBorderVisible={{true}}
        @isDisabled={{this.isSubmitDisabled}}
        aria-disabled={{this.isSubmitDisabled}}
        @isLoading={{this.isSubmitting}}
      >
        Rattacher le profil cible
      </PixButton>
      <PixButton @size="large" @variant="secondary" @isBorderVisible={{true}} @triggerAction={{this.onCancel}}>
        Annuler
      </PixButton>
    </div>
  </form>
</div>