{{page-title "Certification complémentaire " @model.id " | Pix Admin" replace=true}}

<ComplementaryCertifications::TargetProfiles::Header @complementaryCertificationLabel={{@model.label}} />

<main class="page-body">
  <ComplementaryCertifications::TargetProfiles::Information @complementaryCertification={{@model}} />
  <ComplementaryCertifications::TargetProfiles::BadgesList @currentTargetProfiles={{@model.currentTargetProfiles}} />
  <ComplementaryCertifications::TargetProfiles::History @targetProfilesHistory={{@model.targetProfilesHistory}} />
</main>