<div class="terms-of-service-page">
  <div class="terms-of-service-form">

    <div class="terms-of-service-form__logo">
      <a href={{this.showcaseUrl}}>
        <img class="pix-logo__image" src="{{rootURL}}/images/pix-logo.svg" alt={{t "navigation.homepage"}} />
      </a>
    </div>

    <h1 class="terms-of-service-form__title">{{t "pages.terms-of-service-oidc.title"}}</h1>

    <div class="terms-of-service-form__description">
      <p>
        {{t
          "pages.terms-of-service-oidc.message"
          identityProviderOrganizationName=this.identityProviderOrganizationName
        }}
      </p>
    </div>

    <PixCheckbox @id="pix-cgu" {{on "change" this.onChange}} aria-label={{t "common.cgu.label"}}>
      {{t "pages.terms-of-service-oidc.cgu" htmlSafe=true}}
    </PixCheckbox>

    {{#if this.errorMessage}}
      <PixMessage @type="error">
        {{this.errorMessage}}
      </PixMessage>
    {{/if}}

    <div class="terms-of-service-form__actions">
      <PixButtonLink @route="logout" @backgroundColor="grey">
        {{t "common.actions.back"}}
      </PixButtonLink>
      {{#unless this.isAuthenticationKeyExpired}}
        <PixButton @type="submit" @triggerAction={{this.submit}} class="terms-of-service-form-actions__submit">
          {{t "pages.terms-of-service-oidc.form.button"}}
        </PixButton>
      {{/unless}}
    </div>

  </div>
</div>