<PixBackgroundHeader class="user-certifications-page-get">

  <PixBlock class="user-certifications-page-get__header">
    <PixReturnTo @route="user-certifications" @shade="white" class="user-certifications-page-get__return-to">
      {{t "pages.certificate.back-link"}}
    </PixReturnTo>
    <UserCertificationsDetailHeader @certification={{@model}} />
  </PixBlock>

  <div class="user-certifications-page-get__details-body">
    <UserCertificationsDetailCompetencesList
            @resultCompetenceTree={{@model.resultCompetenceTree}}
            @maxReachableLevelOnCertificationDate={{this.model.maxReachableLevelOnCertificationDate}}/>
    {{#if this.shouldDisplayDetailsSection}}
      <UserCertificationsDetailResult @certification={{@model}} />
    {{/if}}
  </div>

  <p class="user-certifications-page-get__note">
    {{t "pages.certificate.competences.information" maxReachableLevelOnCertificationDate=this.model.maxReachableLevelOnCertificationDate
        maxReachablePixCountOnCertificationDate=this.model.maxReachablePixCountOnCertificationDate}}
  </p>

</PixBackgroundHeader>
