<div class="join-request-form">

  <form {{on "submit" this.submit}}>
    <p class="join-request-form__information">Tous les champs sont obligatoires.</p>

    <div class="input-container">
      <PixInput
        @id="uai"
        name="uai"
        type="text"
        {{on "focusout" this.validateUai}}
        @errorMessage={{this.uaiValidationMessage}}
        @validationStatus={{if this.uaiValidationMessage "error" "default"}}
        required={{true}}
        aria-required={{true}}
        autocomplete="off"
      >
        <:label>{{t "pages.join-request-form.organization-code"}}</:label>

      </PixInput>
    </div>

    <div class="input-container">
      <PixInput
        @id="firstName"
        name="firstName"
        type="firstName"
        {{on "focusout" this.validateFirstName}}
        @errorMessage={{this.firstNameValidationMessage}}
        @validationStatus={{if this.firstNameValidationMessage "error" "default"}}
        required={{true}}
        aria-required={{true}}
        autocomplete="given-name"
      >
        <:label>{{t "pages.join-request-form.firstname"}}</:label>
      </PixInput>
    </div>

    <div class="input-container">
      <PixInput
        @id="lastName"
        name="lastName"
        type="lastName"
        {{on "focusout" this.validateLastName}}
        @errorMessage={{this.lastNameValidationMessage}}
        @validationStatus={{if this.lastNameValidationMessage "error" "default"}}
        required={{true}}
        aria-required={{true}}
        autocomplete="family-name"
      >
        <:label>{{t "pages.join-request-form.lastname"}}</:label>
      </PixInput>
    </div>

    <div class="input-container">
      <PixButton @type="submit" @isLoading={{this.isLoading}}>
        {{t "common.actions.confirm"}}
      </PixButton>
    </div>

  </form>

  <p class="join-request-form__legal-information">
    {{t "pages.join-request-form.legal-information.text"}}
    <a href={{t "pages.join-request-form.legal-information.link-url"}} target="_blank" rel="noopener noreferrer">
      {{t "pages.join-request-form.legal-information.link-text"}}
    </a>
  </p>
</div>