<div class="login-or-register">
  <div class="panel login-or-register__panel">
    <div>
      <img src="/pix-orga.svg" alt="" role="none" class="login-or-register-panel__logo" />
    </div>
    <span class="login-or-register-panel__invitation">{{t
        "pages.login-or-register.title"
        organizationName=@organizationName
      }}</span>
    <div class="login-or-register-panel__forms-container">
      <div class="login-or-register-panel__form">
        <h1 class="form-title">{{t "pages.login-or-register.register-form.title"}}</h1>
        {{#unless this.displayRegisterForm}}
          <PixButton id="register" @triggerAction={{this.toggleFormsVisibility}} @variant="secondary">
            {{t "pages.login-or-register.register-form.button"}}
          </PixButton>
        {{/unless}}
        <div
          class={{concat
            "login-or-register-panel-form__expandable"
            (if this.displayRegisterForm " login-or-register-panel-form__expandable--expanded")
          }}
        >
          {{#if this.displayRegisterForm}}
            <Auth::RegisterForm
              @organizationInvitationId={{@organizationInvitationId}}
              @organizationInvitationCode={{@organizationInvitationCode}}
            />
          {{/if}}
        </div>
      </div>
      <div class="login-or-register-panel__divider"></div>
      <div class="login-or-register-panel__form">
        <h1 class="form-title">{{t "pages.login-or-register.login-form.title"}}</h1>
        {{#if this.displayRegisterForm}}
          <PixButton id="login" @triggerAction={{this.toggleFormsVisibility}} @variant="secondary">
            {{t "pages.login-or-register.login-form.button"}}
          </PixButton>
        {{/if}}
        <div
          class={{concat
            "login-or-register-panel-form__expandable"
            (unless this.displayRegisterForm " login-or-register-panel-form__expandable--expanded")
          }}
        >
          {{#unless this.displayRegisterForm}}
            <Auth::LoginForm
              @isWithInvitation={{true}}
              @organizationInvitationId={{@organizationInvitationId}}
              @organizationInvitationCode={{@organizationInvitationCode}}
            />
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
  {{#if this.isInternationalDomain}}
    <div class="login-or-register__language-switcher">
      <LanguageSwitcher @selectedLanguage={{this.selectedLanguage}} @onLanguageChange={{this.onLanguageChange}} />
    </div>
  {{/if}}
</div>