<div class="register-form">
  <form {{on "submit" this.register}}>
    <p class="login-form__information">{{t "pages.login-form.mandatory-all-fields"}}</p>
    <div class="input-container">
      <PixInput
        @id="register-firstName"
        @label={{t "pages.login-or-register.register-form.fields.first-name.label"}}
        name="firstName"
        @type="firstName"
        @value={{this.user.firstName}}
        {{on "focusout" (fn this.validateInput "firstName" this.user.firstName)}}
        @errorMessage={{if this.validation.firstName.hasError this.validation.firstName.message}}
        required={{true}}
        aria-required={{true}}
        autocomplete="given-name"
      />
    </div>

    <div class="input-container">
      <PixInput
        @id="register-lastName"
        @label={{t "pages.login-or-register.register-form.fields.last-name.label"}}
        name="lastName"
        @type="lastName"
        @value={{this.user.lastName}}
        {{on "focusout" (fn this.validateInput "lastName" this.user.lastName)}}
        @errorMessage={{if this.validation.lastName.hasError this.validation.lastName.message}}
        required={{true}}
        aria-required={{true}}
        autocomplete="family-name"
      />
    </div>

    <div class="input-container">
      <PixInput
        @id="register-email"
        @label={{t "pages.login-or-register.register-form.fields.email.label"}}
        name="email"
        @type="email"
        @value={{this.user.email}}
        {{on "focusout" (fn this.validateInput "email" this.user.email)}}
        @errorMessage={{if this.validation.email.hasError this.validation.email.message}}
        required={{true}}
        aria-required={{true}}
        autocomplete="email"
      />
    </div>

    <div class="input-container">
      <PixInputPassword
        @id="register-password"
        name="password"
        @label={{t "pages.login-or-register.register-form.fields.password.label"}}
        autocomplete="current-password"
        required={{true}}
        aria-required={{true}}
        {{on "focusout" (fn this.validateInput "password")}}
        @errorMessage={{if this.validation.password.hasError this.validation.password.message}}
      />
    </div>

    <div id="register-cgu-container" class="input-container">
      <label for="register-cgu" class="label register-form__cgu-label">
        <Input
          id="register-cgu"
          @type="checkbox"
          @checked={{this.user.cgu}}
          required={{true}}
          aria-required={{true}}
          aria-label="{{t "pages.login-or-register.register-form.fields.cgu.aria-label"}}"
          {{on "focusout" (fn this.validateInput "cgu" this.user.cgu)}}
        />
        <span class="register-form__cgu">
          {{t "pages.login-or-register.register-form.fields.cgu.accept"}}
          <a
            href="{{t "pages.login-or-register.register-form.fields.cgu.link"}}"
            class="link"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{t "pages.login-or-register.register-form.fields.cgu.terms-of-use"}}
          </a>
        </span>
      </label>
      {{#if this.validation.cgu.hasError}}
        <div class="alert-input alert-input--error alert-input--left" role="alert">{{this.validation.cgu.message}}</div>
      {{/if}}
    </div>

    <div class="input-container">
      <PixButton @type="submit" @isLoading={{this.isLoading}}>
        {{t "pages.login-or-register.register-form.fields.button.label"}}
      </PixButton>
    </div>

  </form>

  <div class="legal-text">
    {{t "pages.login-or-register.register-form.legal-text"}}
  </div>
</div>