<div class="register-form">
  <form {{on "submit" this.register}}>
    <p class="login-form__information">{{t "common.form.mandatory-all-fields"}}</p>
    <div class="input-container">
      <PixInput
        @id="register-firstName"
        @label={{t "pages.login-or-register.register-form.fields.first-name.label"}}
        name="firstName"
        type="firstName"
        {{on "focusout" this.validateFirstName}}
        @errorMessage={{this.firstNameValidationMessage}}
        @validationStatus={{if this.firstNameValidationMessage "error" "default"}}
        required={{true}}
        aria-required={{true}}
        autocomplete="given-name"
      />
    </div>

    <div class="input-container">
      <PixInput
        @id="register-lastName"
        @label={{t "pages.login-or-register.register-form.fields.last-name.label"}}
        name="lastName"
        type="lastName"
        {{on "focusout" this.validateLastName}}
        @errorMessage={{this.lastNameValidationMessage}}
        @validationStatus={{if this.lastNameValidationMessage "error" "default"}}
        required={{true}}
        aria-required={{true}}
        autocomplete="family-name"
      />
    </div>

    <div class="input-container">
      <PixInput
        @id="register-email"
        @label={{t "pages.login-or-register.register-form.fields.email.label"}}
        name="email"
        type="email"
        {{on "focusout" this.validateEmail}}
        @errorMessage={{this.emailValidationMessage}}
        @validationStatus={{if this.emailValidationMessage "error" "default"}}
        required={{true}}
        aria-required={{true}}
        autocomplete="email"
      />
    </div>

    <div class="input-container">
      <PixInputPassword
        @id="register-password"
        name="password"
        @label={{t "pages.login-or-register.register-form.fields.password.label"}}
        autocomplete="current-password"
        required={{true}}
        aria-required={{true}}
        {{on "input" this.validatePassword}}
        {{on "focusout" this.validatePassword}}
        @errorMessage={{this.passwordValidationMessage}}
        @validationStatus={{if this.passwordValidationMessage "error" "default"}}
      />
    </div>

    <div id="register-cgu-container" class="input-container">
      <div class="checkbox-container">
        <Input
          @type="checkbox"
          @checked={{this.cgu}}
          required={{true}}
          aria-required={{true}}
          aria-label="{{t 'pages.login-or-register.register-form.fields.cgu.aria-label'}}"
          {{on "focusout" this.validateCgu}}
        />
        <p class="register-form__cgu-label">
          {{t "pages.login-or-register.register-form.fields.cgu.accept"}}
          <a href={{this.cguUrl}} class="link" target="_blank" rel="noopener noreferrer">
            {{t "pages.login-or-register.register-form.fields.cgu.terms-of-use"}}
          </a>
          {{t "pages.login-or-register.register-form.fields.cgu.and"}}
          <a href={{this.dataProtectionPolicyUrl}} class="link" target="_blank" rel="noopener noreferrer">
            {{t "pages.login-or-register.register-form.fields.cgu.data-protection-policy"}}
          </a>
        </p>
      </div>
      {{#if this.cguValidationMessage}}
        <p class="register-form__cgu-error" role="alert">{{this.cguValidationMessage}}</p>
      {{/if}}
    </div>

    {{#if this.errorMessage}}
      <PixMessage @type="alert">
        {{this.errorMessage}}
      </PixMessage>
    {{/if}}

    <div class="input-container">
      <PixButton @type="submit" @isLoading={{this.isLoading}}>
        {{t "pages.login-or-register.register-form.fields.button.label"}}
      </PixButton>
    </div>

  </form>
</div>