<article class="participant">
  <header class="navigation">
   <PreviousPageButton
     @route="authenticated.campaigns.details.participants"
     @routeId={{@campaign.id}}
     @aria-label="Retourner au détail de la campagne"
   >
    {{@campaign.name}}
   </PreviousPageButton>
  </header>

  <section class="panel panel--header">
    <header class="panel-header__headline">
      <h2 class="panel-header-title">{{@campaignAssessmentParticipation.firstName}} {{@campaignAssessmentParticipation.lastName}}</h2>
    </header>

    <div class="panel-header__body">
      <ul class="panel-header__data">
        {{#if @campaignAssessmentParticipation.participantExternalId}}
          <li class="panel-header-data__content">
            <div class="label-text panel-header-data-content__label">{{@campaign.idPixLabel}}</div>
            <div class="value-text panel-header-data-content__value">{{@campaignAssessmentParticipation.participantExternalId}}</div>
          </li>
        {{/if}}
        <li class="panel-header-data__content">
          <div class="label-text panel-header-data-content__label">Commencé le</div>
          <div class="value-text panel-header-data-content__value">
            {{moment-format @campaignAssessmentParticipation.createdAt 'DD MMM YYYY'}}
          </div>
        </li>
        <li class="panel-header-data__content">
          <div class="label-text panel-header-data-content__label">Avancement</div>
          <div class="value-text panel-header-data-content__value">
            {{@campaignAssessmentParticipation.progression}}%
          </div>
        </li>
        <li class="panel-header-data__content">
          <div class="label-text panel-header-data-content__label">Envoyé le</div>
          {{#if @campaignAssessmentParticipation.sharedAt}}
            <div class="value-text panel-header-data-content__value">
              {{moment-format @campaignAssessmentParticipation.sharedAt 'DD MMM YYYY'}}
            </div>
          {{else}}
            <div class="value-text panel-header-data-content__value">Non disponible</div>
          {{/if}}
        </li>
      </ul>

      {{#if @campaignAssessmentParticipation.isShared}}
        <ul class="panel-header__data panel-header__data--highlight">
          <li class="panel-header-data__content panel-header-data__content--horizontal">
            <div aria-label="Résultat" class="panel-header-data-content__progress-bar">
              <ProgressBar @value={{@campaignAssessmentParticipation.masteryPercentage}}>
                {{@campaignAssessmentParticipation.validatedSkillsCount}} / {{@campaignAssessmentParticipation.totalSkillsCount}} ACQUIS
              </ProgressBar>
            </div>
            <div class="value-text value-text--highlight">{{@campaignAssessmentParticipation.masteryPercentage}}%
            </div>
          </li>
        </ul>
      {{/if}}
    </div>
  </section>

  <div class="panel campaign-details__controls">
    <nav class="navbar campaign-details-controls__navbar-tabs">
      <LinkTo @route="authenticated.campaigns.participant.results" class="navbar-item" @models={{array @campaign.id @campaignAssessmentParticipation.id}}>
        Résultats
      </LinkTo>
      <LinkTo @route="authenticated.campaigns.participant.analysis" class="navbar-item" @models={{array @campaign.id @campaignAssessmentParticipation.id}}>
        Analyse
      </LinkTo>
    </nav>
  </div>

  {{outlet}}
</article>
