<PixModal
  class="answer"
  @title={{this.title}}
  @showModal={{@answerHasBeenValidated}}
  @onCloseButtonClick={{@nextAction}}
>
  <:content>
    <div class="answer__content">
      <span class="answer__span">
        {{#if (eq @answer.result "ok")}}
          Bravo ! C'est la bonne réponse.
        {{else if (eq @answer.result "aband")}}
          Si tu passes l’activité, une autre activité plus simple te sera proposée.
        {{else}}
          Mauvaise réponse. Tu peux passer à la suite.
        {{/if}}
      </span>
    </div>
  </:content>
  <:footer>
    <div class="modal-footer">
      <PixButton class="pix1d-button pix1d-button--modal" @triggerAction={{@nextAction}}>
        {{#if (eq @answer.result "ok")}}
          Je continue
        {{else if (eq @answer.result "aband")}}
          Oui, je passe
        {{else}}
          Je continue
        {{/if}}
      </PixButton>
    </div>
  </:footer>
</PixModal>