<article class="campaign-participation-overview-card">
  <header class="campaign-participation-overview-card__header">
    <PixTag class="campaign-participation-overview-card-header__tag"
            @compact={{true}}
            @color="grey-light">
      {{t 'pages.campaign-participation-overview.card.tag.archived'}}
    </PixTag>
    <h3 class="campaign-participation-overview-card-header__title">{{@model.organizationName}}</h3>
    <strong class="campaign-participation-overview-card-header__subtitle">{{@model.campaignTitle}}</strong>
    <time class="campaign-participation-overview-card-header__date"
          datetime="{{@model.createdAt}}">
      {{t 'pages.campaign-participation-overview.card.started-at' date=(moment-format @model.createdAt 'DD/MM/YYYY')}}
    </time>
  </header>
  <section class="campaign-participation-overview-card-content">
    <div class="campaign-participation-overview-card-content__content campaign-participation-overview-card-content__content-archived">
      {{#if this.isCompleted }}
        {{#if this.hasStages }}
          <PixStars
                    @count={{@model.validatedStagesCount}}
                    @total={{@model.totalStagesCount}}
                    @alt={{t 'pages.campaign-participation-overview.card.stages' count=@model.validatedStagesCount total=@model.totalStagesCount}}
                    @color="yellow"
          />
        {{else}}
          <p class="campaign-participation-overview-card-content--archived-result">
            {{t 'pages.campaign-participation-overview.card.results' result=@model.masteryPercentage}}
          </p>
        {{/if}}
      {{else}}
        <p class="campaign-participation-overview-card-content--archived">
          {{t 'pages.campaign-participation-overview.card.text-archived' htmlSafe=true}}
        </p>
      {{/if}}
    </div>
  </section>
</article>
