<article class="campaign-participation-overview-card" role="article">
  <div class="campaign-participation-overview-card__header">
    <PixTag class="campaign-participation-overview-card-header__tag" @compact={{true}} @color="grey-light">
      {{t "pages.campaign-participation-overview.card.tag.disabled"}}
    </PixTag>
    <h2 class="campaign-participation-overview-card-header__title">{{@model.organizationName}}</h2>
    <strong class="campaign-participation-overview-card-header__subtitle">{{@model.campaignTitle}}</strong>
    <time class="campaign-participation-overview-card-header__date" datetime="{{@model.createdAt}}">
      {{t "pages.campaign-participation-overview.card.started-at" date=(dayjs-format @model.createdAt "DD/MM/YYYY")}}
    </time>
  </div>
  <section class="campaign-participation-overview-card-content">
    {{#if @model.isShared}}
      <div class="campaign-participation-overview-card-content__content">
        {{#if this.hasStages}}
          <PixStars
            @count={{this.count}}
            @total={{this.total}}
            @alt={{t "pages.campaign-participation-overview.card.stages" count=this.count total=this.total}}
            @color="yellow"
          />
        {{else}}
          <p>
            {{t "pages.campaign-participation-overview.card.results" result=@model.masteryRate}}
          </p>
        {{/if}}
      </div>
      <LinkTo
        class="link campaign-participation-overview-card-content__see-more campaign-participation-overview-card-content__action"
        @route="campaigns.entry-point"
        @model={{@model.campaignCode}}
      >
        <FaIcon @icon="arrow-right" aria-hidden="true" />
        {{t "pages.campaign-participation-overview.card.see-more"}}
      </LinkTo>
    {{else}}
      <div
        class="campaign-participation-overview-card-content__content campaign-participation-overview-card-content__archived-and-not-shared"
      >
        <p class="campaign-participation-overview-card-content--archived">
          {{t "pages.campaign-participation-overview.card.text-disabled" htmlSafe=true}}
        </p>
      </div>
    {{/if}}
  </section>
</article>