<article class="campaign-participation-overview-card" role="article">
  <div class="campaign-participation-overview-card__header">
    <PixTag class="campaign-participation-overview-card-header__tag" @compact={{true}} @color="green-light">
      {{t "pages.campaign-participation-overview.card.tag.started"}}
    </PixTag>
    <h2 class="campaign-participation-overview-card-header__title">{{@model.organizationName}}</h2>
    <strong class="campaign-participation-overview-card-header__subtitle">{{@model.campaignTitle}}</strong>
    <time class="campaign-participation-overview-card-header__date" datetime="{{@model.createdAt}}">
      {{t "pages.campaign-participation-overview.card.started-at" date=(dayjs-format @model.createdAt "DD/MM/YYYY")}}
    </time>
  </div>
  <section class="campaign-participation-overview-card-content">
    <LinkTo
      class="button button--link campaign-participation-overview-card-content__action"
      @route="campaigns.entry-point"
      @model={{@model.campaignCode}}
      aria-label={{t
        "pages.campaign-participation-overview.card.resume.extra-information"
        campaignTitle=@model.campaignTitle
      }}
    >
      {{t "pages.campaign-participation-overview.card.resume.information"}}
    </LinkTo>
  </section>
</article>