<header class="navigation">
  <Ui::Breadcrumb @links={{this.breadcrumbLinks}} />
</header>

<header class="page__title">
  <h1 class="page-title">{{@participation.firstName}} {{@participation.lastName}}</h1>
  <p class="participant__link">
    <FaIcon @prefix="far" @icon="user" />
    <Participant::LinkTo @organizationLearnerId={{@participation.organizationLearnerId}}>
      {{t "common.actions.link-to-participant"}}
    </Participant::LinkTo>
  </p>
</header>

<section class="panel panel--header">
  <header class="panel-header__headline panel-header__headline--with-right-content">
    <h2 class="panel-header-title">{{@campaign.name}}</h2>
    {{#if @campaign.multipleSendings}}
      <PixSelect
        @options={{this.participationsListOptions}}
        @inlineLabel="true"
        @value={{this.selectedParticipation.value}}
        @onChange={{this.selectAParticipation}}
      >
        <:label>{{t "pages.assessment-individual-results.participation-selector"}}</:label>
      </PixSelect>
    {{/if}}
  </header>

  <div class="panel-header__body">
    <Ui::InformationWrapper>
      {{#if @participation.participantExternalId}}
        <Ui::Information>
          <:title>{{@campaign.idPixLabel}}</:title>
          <:content>{{@participation.participantExternalId}}</:content>
        </Ui::Information>
      {{/if}}
      <Ui::Information>
        <:title>{{t "pages.campaign-individual-results.start-date"}}</:title>
        <:content>{{dayjs-format @participation.createdAt "DD MMM YYYY"}}</:content>
      </Ui::Information>
      {{#unless @participation.isShared}}
        <Ui::Information>
          <:title>{{t "pages.assessment-individual-results.progression"}}</:title>
          <:content>{{t "common.result.percentage" value=@participation.progression}}</:content>
        </Ui::Information>
      {{/unless}}
      {{#if @participation.isShared}}
        <Ui::Information>
          <:title>{{t "pages.campaign-individual-results.shared-date"}}</:title>
          <:content>{{dayjs-format @participation.sharedAt "DD MMM YYYY"}}</:content>
        </Ui::Information>
      {{/if}}
    </Ui::InformationWrapper>

    {{#if @participation.isShared}}
      <ul class="panel-header__data panel-header__data--highlight">
        {{#if this.displayBadges}}
          <li
            aria-label={{t "pages.assessment-individual-results.badges"}}
            class="panel-header-data__content panel-header-data-content__badges"
          >
            <Campaign::Badges @badges={{@participation.badges}} />
          </li>
        {{/if}}
        <li
          aria-label={{t "pages.assessment-individual-results.result"}}
          class="panel-header-data__content panel-header-data-content__stages"
        >
          {{#if @campaign.hasStages}}
            <Ui::MasteryPercentageDisplay
              @masteryRate={{@participation.masteryRate}}
              @hasStages={{@campaign.hasStages}}
              @reachedStage={{@participation.reachedStage}}
              @totalStage={{@participation.totalStage}}
              @prescriberTitle={{@participation.prescriberTitle}}
              @prescriberDescription={{@participation.prescriberDescription}}
            />
          {{else}}
            <PixProgressGauge @value={{this.percentage}} @color="primary" />
          {{/if}}
        </li>
      </ul>
    {{/if}}
  </div>
</section>