<header class="navigation">
  <Ui::Breadcrumb @links={{this.breadcrumbLinks}} />
</header>

<section class="panel panel--header">
  <header class="panel-header__headline">
    <h2 class="panel-header-title">{{@participation.firstName}} {{@participation.lastName}}</h2>
  </header>

  <div class="panel-header__body">
    <Ui::InformationWrapper>
      {{#if @participation.participantExternalId}}
        <Ui::Information>
          <:title>{{@campaign.idPixLabel}}</:title>
          <:content>{{@participation.participantExternalId}}</:content>
        </Ui::Information>
      {{/if}}
      <Ui::Information>
        <:title>{{t "pages.campaign-individual-results.start-date"}}</:title>
        <:content>{{dayjs-format @participation.createdAt "DD MMM YYYY"}}</:content>
      </Ui::Information>
      {{#unless @participation.isShared}}
        <Ui::Information>
          <:title>{{t "pages.assessment-individual-results.progression"}}</:title>
          <:content>{{t "common.percentage" value=@participation.progression}}</:content>
        </Ui::Information>
      {{/unless}}
      {{#if @participation.isShared}}
        <Ui::Information>
          <:title>{{t "pages.campaign-individual-results.shared-date"}}</:title>
          <:content>{{dayjs-format @participation.sharedAt "DD MMM YYYY"}}</:content>
        </Ui::Information>
      {{/if}}
    </Ui::InformationWrapper>

    {{#if @participation.isShared}}
      <ul class="panel-header__data panel-header__data--highlight">
        {{#if this.displayBadges}}
          <li
            aria-label={{t "pages.assessment-individual-results.badges"}}
            class="panel-header-data__content panel-header-data-content__badges"
          >
            <Campaign::Badges @badges={{@participation.badges}} />
          </li>
        {{/if}}
        {{#if @campaign.hasStages}}
          <li
            aria-label={{t "pages.assessment-individual-results.stages.label"}}
            class="panel-header-data__content panel-header-data-content__stages"
          >
            <Campaign::StageStars
              @result={{this.valuePercentage}}
              @stages={{@campaign.stages}}
              @withTooltip={{true}}
              @tooltipPosition="bottom-left"
            />
          </li>
        {{else}}
          <li
            aria-label={{t "pages.assessment-individual-results.result"}}
            class="panel-header-data__content panel-header-data-content__progress-bar"
          >
            <Ui::ProgressBar @value={{@participation.masteryRate}} />
          </li>

          <li
            class="panel-header-data__content value-text value-text--highlight panel-header-data-content__mastery-percentage"
          >
            {{t "common.percentage" value=@participation.masteryRate}}
          </li>
        {{/if}}
      </ul>
    {{/if}}
  </div>
</section>