<header class="page-header">
  <h1 class="page-title">Tous les profils cibles</h1>
  <div class="page-actions">
    <PixButton
      @route="authenticated.target-profiles.new"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      class="pix-button__secondary"
      @iconBefore="plus"
    >
      Nouveau profil cible
    </PixButton>
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <TargetProfiles::ListSummaryItems
      @summaries={{@model}}
      @id={{this.id}}
      @name={{this.name}}
      @triggerFiltering={{this.triggerFiltering}}
    />
  </section>
</main>