<header class="page-header">
  <div class="page-title">Tous les profils cibles</div>
  <div class="page-actions">
    <LinkTo @route="authenticated.target-profiles.new" class="btn btn-outline-default btn-thin">
      <FaIcon @icon="plus"></FaIcon>&nbsp;Nouveau profil cible
    </LinkTo>
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <TargetProfiles::ListItems
      @targetProfiles={{@model}}
      @id={{this.id}}
      @name={{this.name}}
      @triggerFiltering={{this.triggerFiltering}}
      @goToTargetProfilePage={{this.goToTargetProfilePage}} />
  </section>
</main>
