{{page-title "Nouveau profil cible"}}
<header class="page-header">
  <div class="page-title">
    Nouveau profil cible
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <TargetProfiles::CreateTargetProfileFormTubeBased
      @targetProfile={{this.targetProfile}}
      @orderedAreasBySelectedFrameworks={{this.areasState}}
      @onCancel={{this.goBackToTargetProfileList}}
      @frameworkOptions={{this.frameworkOptions}}
      @selectedFrameworkIds={{this.selectedFrameworkIds}}
    />
  </section>
</main>