<header class="page-header">
  <div class="page-title">
    Nouveau profil cible
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <TargetProfiles::CreateTargetProfileForm
            @targetProfile={{this.model}}
            @isFileInvalid={{this.isFileInvalid}}
            @isDisabled={{this.isSaving}}
            
            @onLoadFile={{this.saveFileObject}}
            @onSubmit={{this.createTargetProfile}}
            @onCancel={{this.goBackToTargetProfileList}} />
  </section>
</main>
