<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.target-profiles.list">Tous les profils cibles</LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    {{@model.name}}
  </div>
</header>

<main class="page-body">
  {{#if this.isEditMode}}

  <TargetProfiles::update-target-profile-name @model={{@model}} @toggleEditMode={{this.toggleEditMode}} />

  {{else}}
  <section class="page-section mb_10">
    <div class="page-section__header">
      <h1 class="page-section__title">{{@model.name}}</h1>
    </div>
    <div>
      ID : {{@model.id}}<br>
      Date de création : {{format-date @model.createdAt}}<br>
      Public : {{this.isPublic}}<br>
      Archivé : {{this.isOutdated}}<br>
      Organisation de référence : <LinkTo @route="authenticated.organizations.get" @model={{@model.ownerOrganizationId}}>
        {{@model.ownerOrganizationId}} </LinkTo><br>
    </div>
    <br>
    <button type="button" class="btn btn-outline-default" {{on "click" this.toggleEditMode}}>Editer</button>
  </section>

  {{/if}}

  <nav class="navbar">
    <LinkTo @route="authenticated.target-profiles.target-profile.details" @model={{@model}} class="navbar-item">
      Détails
    </LinkTo>
    <LinkTo @route="authenticated.target-profiles.target-profile.organizations" @model={{@model}} class="navbar-item">
      Organisations
    </LinkTo>
    <LinkTo @route="authenticated.target-profiles.target-profile.insight" @model={{@model}} class="navbar-item">
      Clés de lecture
    </LinkTo>
  </nav>

  {{outlet}}
</main>
