<form class="element-qcu" aria-describedby="instruction-{{this.element.id}}">
  <fieldset disabled={{this.disableInput}}>
    <legend class="screen-reader-only">
      {{t "pages.modulix.qcu.direction"}}
    </legend>

    <div class="element-qcu__instruction" id="instruction-{{this.element.id}}">
      {{html-unsafe this.element.instruction}}
    </div>

    <p class="element-qcu__direction" aria-hidden="true">
      {{t "pages.modulix.qcu.direction"}}
    </p>

    <div class="element-qcu__proposals">
      {{#each this.element.proposals as |proposal|}}
        <PixRadioButton
          name={{this.element.id}}
          @value={{proposal.id}}
          @isDisabled={{this.disableInput}}
          @variant="tile"
          {{on "click" (fn this.radioClicked proposal.id)}}
        >
          <:label>
            {{proposal.content}}
          </:label>
        </PixRadioButton>
      {{/each}}
    </div>
  </fieldset>

  {{#if this.shouldDisplayRequiredMessage}}
    <div class="element-qcu__required-field-missing">
      <PixMessage role="alert" @type="error" @withIcon={{true}}>
        {{t "pages.modulix.verification-precondition-failed-alert.qcu"}}
      </PixMessage>
    </div>
  {{/if}}

  {{#unless this.correction}}
    <PixButton
      @variant="success"
      @type="submit"
      class="element-qcu__verify-button"
      @triggerAction={{this.submitAnswer}}
    >
      {{t "pages.modulix.buttons.activity.verify"}}
    </PixButton>
  {{/unless}}

  <div class="element-qcu__feedback" role="status" tabindex="-1">
    {{#if this.shouldDisplayFeedback}}
      <Modulix::Feedback @answerIsValid={{this.answerIsValid}}>
        {{html-unsafe this.correction.feedback}}
      </Modulix::Feedback>
    {{/if}}
  </div>

  {{#if this.shouldDisplayRetryButton}}
    <PixButton
      class="element-qcu__retry-button"
      @variant="secondary"
      @size="small"
      @type="button"
      @triggerAction={{this.retry}}
      @iconAfter="rotate-right"
    >
      {{t "pages.modulix.buttons.activity.retry"}}
    </PixButton>
  {{/if}}
</form>