<form
  class="element-qrocm"
  aria-describedby="instruction-{{this.element.id}}"
  autocapitalize="off"
  autocomplete="nope"
  autocorrect="off"
  spellcheck="false"
>
  <fieldset>
    <legend class="screen-reader-only">
      {{t "pages.modulix.qrocm.direction" count=this.nbOfProposals}}
    </legend>

    <div class="element-qrocm__instruction" id="instruction-{{this.element.id}}">
      {{html-unsafe this.element.instruction}}
    </div>

    <p class="element-qrocm__direction" aria-hidden="true">
      {{t "pages.modulix.qrocm.direction" count=this.nbOfProposals}}
    </p>

    <div class="element-qrocm__proposals">
      {{#each this.formattedProposals as |block|}}
        {{#if (eq block.type "text")}}
          {{html-unsafe block.content}}
        {{/if}}
        {{#if (eq block.type "input")}}
          {{#if (eq block.inputType "text")}}
            <div class="element-qrocm-proposals__input element-qrocm-proposals__input--{{block.display}}">
              <PixInput
                @type="text"
                @value={{get this.selectedValues block.input}}
                @id={{block.input}}
                placeholder={{block.placeholder}}
                @screenReaderOnly={{true}}
                {{on "change" (fn this.onInputChanged block)}}
                size={{block.size}}
                readonly={{this.disableInput}}
              >
                <:label>{{block.ariaLabel}}</:label>
              </PixInput>
            </div>
          {{/if}}
        {{else if (eq block.type "select")}}
          <div class="element-qrocm-proposals__input element-qrocm-proposals__input--{{block.display}}">
            <PixSelect
              @value={{get this.selectedValues block.input}}
              @placeholder={{block.placeholder}}
              @options={{block.options}}
              @hideDefaultOption={{true}}
              @onChange={{fn this.onSelectChanged block}}
              @screenReaderOnly={{true}}
              @isDisabled={{this.disableInput}}
            >
              <:label>{{block.ariaLabel}}</:label>
            </PixSelect>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </fieldset>

  {{#if this.shouldDisplayRequiredMessage}}
    <div class="element-qrocm__required-field-missing">
      <PixMessage role="alert" @type="error" @withIcon={{true}}>
        {{t "pages.modulix.verification-precondition-failed-alert.qrocm"}}
      </PixMessage>
    </div>
  {{/if}}

  {{#unless this.correction}}
    <PixButton
      @variant="success"
      @type="submit"
      class="element-qrocm__verify-button"
      @triggerAction={{this.submitAnswer}}
    >
      {{t "pages.modulix.buttons.activity.verify"}}
    </PixButton>
  {{/unless}}

  <div class="element-qrocm__feedback" role="status" tabindex="-1">
    {{#if this.shouldDisplayFeedback}}
      <Modulix::Feedback @answerIsValid={{this.answerIsValid}}>
        {{html-unsafe this.correction.feedback}}
      </Modulix::Feedback>
    {{/if}}
  </div>

  {{#if this.shouldDisplayRetryButton}}
    <PixButton
      class="element-qrocm__retry-button"
      @variant="secondary"
      @size="small"
      @type="button"
      @triggerAction={{this.retry}}
      @iconAfter="rotate-right"
    >
      {{t "pages.modulix.buttons.activity.retry"}}
    </PixButton>
  {{/if}}
</form>