{{!-- template-lint-disable require-input-label no-triple-curlies --}}
<form>
  <div class="join-restricted-campaign__row">
    <label class="join-restricted-campaign__label">{{t 'pages.join.fields.firstname.label'}}</label>
    <Input
            @id="firstName"
            @type="text"
            @value={{this.firstName}}
            placeholder={{t 'pages.join.fields.firstname.label'}}
            @readonly={{this.isDisabled}}
            @disabled={{this.isDisabled}}
            class={{if this.validation.firstName "input--error"}}
            @focusOut={{ fn this.triggerInputStringValidation "firstName" this.firstName }}
    />
    <div class={{if this.validation.firstName "join-restricted-campaign__field-error"}} role="alert">
      {{this.validation.firstName}}
    </div>
  </div>

  <div class="join-restricted-campaign__row">
    <label class="join-restricted-campaign__label">{{t 'pages.join.fields.lastname.label'}}</label>
    <Input
            @id="lastName"
            @type="text"
            @value={{this.lastName}}
            placeholder={{t 'pages.join.fields.lastname.label'}}
            @readonly={{this.isDisabled}}
            @disabled={{this.isDisabled}}
            class={{if this.validation.lastName "input--error"}}
            @focusOut={{ fn this.triggerInputStringValidation "lastName" this.lastName }}
    />
    <div class={{if this.validation.lastName "join-restricted-campaign__field-error"}} role="alert">
      {{this.validation.lastName}}
    </div>
  </div>

  <div class="join-restricted-campaign__row">
    <label class="join-restricted-campaign__label">{{t 'pages.join.fields.birthdate.label'}}</label>
    <div class="join-restricted-campaign__birthdate">
      <Input @id="dayOfBirth" @type="text" @value={{this.dayOfBirth}} placeholder={{t 'pages.join.fields.birthdate.day-format'}} class={{if this.validation.dayOfBirth "input--error"}} @focusOut={{ fn this.triggerInputDayValidation "dayOfBirth" this.dayOfBirth }} />
      <Input @id="monthOfBirth" @type="text" @value={{this.monthOfBirth}} placeholder={{t 'pages.join.fields.birthdate.month-format'}} class={{if this.validation.monthOfBirth "input--error"}} @focusOut={{ fn this.triggerInputMonthValidation "monthOfBirth" this.monthOfBirth }} />
      <Input @id="yearOfBirth" @type="text" @value={{this.yearOfBirth}} placeholder={{t 'pages.join.fields.birthdate.year-format'}} class={{if this.validation.yearOfBirth "input--error"}} @focusOut={{ fn this.triggerInputYearValidation "yearOfBirth" this.yearOfBirth }} />
    </div>
    <div class={{if this.validation.dayOfBirth "join-restricted-campaign__field-error"}} role="alert">
      {{this.validation.dayOfBirth}}
    </div>
    <div class={{if this.validation.monthOfBirth "join-restricted-campaign__field-error"}} role="alert">
      {{this.validation.monthOfBirth}}
    </div>
    <div class={{if this.validation.yearOfBirth "join-restricted-campaign__field-error"}} role="alert">
      {{this.validation.yearOfBirth}}
    </div>
  </div>

  {{#if this.errorMessage}}
    <div class="join-restricted-campaign__error" aria-live="polite">{{{this.errorMessage}}}</div>
  {{/if}}
  {{#if this.isLoading}}
    <button type="button" disabled class="button button--big join-restricted-campaign__button"><span class="loader-in-button">&nbsp;</span></button>
  {{else}}
    <button type="submit" class="button button--big join-restricted-campaign__button" {{on 'click' this.submit}}>
      {{t 'pages.join.button'}}
    </button>
  {{/if}}
</form>
{{#if this.displayInformationModal}}
  <Routes::Campaigns::Restricted::JoinScoInformationModal
          @campaignCode={{@campaignCode}}
          @reconciliationError={{this.reconciliationError}}
          @reconciliationWarning={{this.reconciliationWarning}}
          @closeModal={{this.closeModal}}
          @associate={{this.associate}}
  />
{{/if}}
