{{!-- template-lint-disable require-input-label --}}
<div class="join-restricted-campaign__row">
  <label class="join-restricted-campaign__label">{{t 'pages.join.fields.firstname.label'}}</label>
  <Input
    @id="firstName"
    @type="text"
    @value={{@firstName}}
    placeholder={{t 'pages.join.fields.firstname.label'}}
    @readonly={{this.isDisabled}}
    @disabled={{this.isDisabled}}
    class={{if @validation.firstName "input--error"}}
    @focusOut={{fn @triggerInputStringValidation "firstName" @firstName}}
  />
  <div class={{if @validation.firstName "join-restricted-campaign__field-error"}} role="alert">
    {{@validation.firstName}}
  </div>
</div>

<div class="join-restricted-campaign__row">
  <label class="join-restricted-campaign__label">{{t 'pages.join.fields.lastname.label'}}</label>
  <Input
    @id="lastName"
    @type="text"
    @value={{@lastName}}
    placeholder={{t 'pages.join.fields.lastname.label'}}
    @readonly={{this.isDisabled}}
    @disabled={{this.isDisabled}}
    class={{if @validation.lastName "input--error"}}
    @focusOut={{fn @triggerInputStringValidation "lastName" @lastName}}
  />
  <div class={{if @validation.lastName "join-restricted-campaign__field-error"}} role="alert">
    {{@validation.lastName}}
  </div>
</div>

<div class="join-restricted-campaign__row">
  <label class="join-restricted-campaign__label">{{t 'pages.join.fields.birthdate.label'}}</label>
  <div class="join-restricted-campaign__birthdate">
    <Input @id="dayOfBirth" @type="text" @value={{@dayOfBirth}} placeholder={{t 'pages.join.fields.birthdate.day-format'}} class={{if @validation.dayOfBirth "input--error"}} @focusOut={{fn @triggerInputDayValidation "dayOfBirth" @dayOfBirth}} />
    <Input @id="monthOfBirth" @type="text" @value={{@monthOfBirth}} placeholder={{t 'pages.join.fields.birthdate.month-format'}} class={{if @validation.monthOfBirth "input--error"}} @focusOut={{fn @triggerInputMonthValidation "monthOfBirth" @monthOfBirth}} />
    <Input @id="yearOfBirth" @type="text" @value={{@yearOfBirth}} placeholder={{t 'pages.join.fields.birthdate.year-format'}} class={{if @validation.yearOfBirth "input--error"}} @focusOut={{fn @triggerInputYearValidation "yearOfBirth" @yearOfBirth}} />
  </div>
  <div class={{if @validation.dayOfBirth "join-restricted-campaign__field-error"}} role="alert">
    {{@validation.dayOfBirth}}
  </div>
  <div class={{if @validation.monthOfBirth "join-restricted-campaign__field-error"}} role="alert">
    {{@validation.monthOfBirth}}
  </div>
  <div class={{if @validation.yearOfBirth "join-restricted-campaign__field-error"}} role="alert">
    {{@validation.yearOfBirth}}
  </div>
</div>
