<table class="default-table">
  <thead>
  <tr>
    <th scope="col">{{t 'pages.skill-review.details.header-skill'}}</th>
    <th scope="col">{{t 'pages.skill-review.details.header-result'}}</th>
  </tr>
  </thead>

  <tbody>
  {{#if @showCleaCompetences}}
    {{#each @partnerCompetenceResults as |partnerCompetence|}}
      <tr aria-label="{{t "pages.skill-review.details.result-by-skill"}}">
        <th scope="row">
          <span class="skill-review-competence__bullet skill-review-competence__bullet--{{partnerCompetence.areaColor}}" aria-hidden="true">&#8226;</span>
          <span>{{partnerCompetence.name}}</span>
        </th>
        <td>
          <ProgressionGauge @total={{partnerCompetence.totalSkillsCountPercentage}}
                            @value={{partnerCompetence.masteryPercentage}}>
            {{partnerCompetence.masteryPercentage}}%
          </ProgressionGauge>
        </td>
      </tr>
    {{/each}}
    {{else}}
    {{#each @competenceResults as |competence|}}
      <tr aria-label="{{t "pages.skill-review.details.result-by-skill"}}">
        <th scope="row">
          <span class="skill-review-competence__bullet skill-review-competence__bullet--{{competence.areaColor}}" aria-hidden="true">&#8226;</span>
          <span>{{competence.name}}</span>
        </th>
        <td>
          <ProgressionGauge @total={{competence.totalSkillsCountPercentage}}
                            @value={{competence.masteryPercentage}}>
            {{competence.masteryPercentage}}%
          </ProgressionGauge>
        </td>
      </tr>
    {{/each}}
  {{/if}}

  </tbody>
</table>
