{{#if this.showCongratulationsBanner }}
  <CongratulationsCertificationBanner @fullName={{this.currentUser.user.fullName}} @closeBanner={{action "closeBanner"}}/>
{{/if}}

<section class="certification-joiner">
  <div class="certification-joiner__title">Rejoindre une session</div>
    <form autocomplete="off">
        <div class="certification-joiner__row">
            <label class="certification-joiner__label">Numéro de session</label>
          {{input autofocus="autofocus" type="text" size="6" placeholder="Numéro de la session" value=sessionId id="sessionId"}}
        </div>
        <div class="certification-joiner__row">
            <label class="certification-joiner__label">Prénom</label>
          {{input type="text" value=firstName placeholder="Prénom" id="firstName"}}
        </div>
        <div class="certification-joiner__row">
            <label class="certification-joiner__label">Nom de naissance</label>
          {{input type="text" value=lastName placeholder="Nom" id="lastName"}}
        </div>
        <div class="certification-joiner__row">
            <label class="certification-joiner__label">Date de naissance</label>
            <div class="certification-joiner__birthdate">
              {{input min="1" max="31" type="number" value=dayOfBirth placeholder="JJ" id="dayOfBirth"}}
                <div class="certification-joiner__divider"></div>
              {{input min="1" max="12" type="number" value=monthOfBirth placeholder="MM" id="monthOfBirth"}}
                <div class="certification-joiner__divider"></div>
              {{input min="1900" type="number" value=yearOfBirth placeholder="AAAA" id="yearOfBirth"}}
            </div>
        </div>
      {{#if errorMessage}}
          <div class="certification-course-page__errors">{{errorMessage}}</div>
      {{/if}}
      {{#if isLoading}}
          <button class="button button--big button--thin certification-course-page__submit_button"><span
                  class="loader-in-button">&nbsp;</span>
          </button>
      {{else}}
          <button type="submit" class="button button--big button--thin certification-joiner__attempt-next-btn" {{ action "attemptNext" }}>
              Continuer
          </button>
      {{/if}}
    </form>
</section>
