{{!-- template-lint-disable require-input-label no-unknown-arguments-for-builtin-components --}}
<div class="certification-results__certification-banner">
  <CertificationBanner @certificationNumber={{@certificationNumber}} />
</div>

<div class="certification-results__content rounded-panel result-content">
  {{#if this.notFinishedYet}}

    <div class="result-content__panel-picture">
      <img src="{{@rootURL}}/images/illustrations/flag.svg" alt={{t "pages.certification-results.flag-alt"}}>
    </div>
    <div class="result-content__panel-title">
      {{t "pages.certification-results.not-finished.title"}}
    </div>
    <div class="result-content__panel-description-supervisor">
      {{t "pages.certification-results.not-finished.supervisor" htmlSafe=true}}
    </div>

    <div class="result-content__warning-container">
      <div class="result-content__checked-supervisor">
        <Input @type="checkbox" @id="validSupervisor" @checked={{this.validSupervisor}} @alt="Le surveillant doit cliquer ici." />

        <span class="result-content__warning-text">
          {{t "pages.certification-results.not-finished.warning-text"}}
        </span>
      </div>

      {{#if this.validSupervisor}}
        <button class="result-content__button result-content__validation-button button button--big button--thin" {{on "click" this.validateBySupervisor}} type="button">{{t "pages.certification-results.action.confirm"}}</button>
      {{else}}
        <button class="result-content__button result-content__button-blocked" type="button">{{t "pages.certification-results.action.confirm"}}</button>
      {{/if}}
    </div>

  {{else}}
    <div class="result-content__panel-title">
      {{t "pages.certification-results.finished.title"}}
    </div>
    <div class="result-content__panel-description">
      {{t "pages.certification-results.finished.description"}}
    </div>
    <div class="result-content__warning-container">
      <div class="result-content__warning-text">
        {{t "pages.certification-results.finished.warning-text"}}
      </div>

      <LinkTo @route="logout" class="result-content__logout-button result-content__button button button--big button--thin">{{t "pages.certification-results.action.logout"}}</LinkTo>

    </div>
  {{/if}}

</div>
