{{#if displayPlaceholder}}
  <div class="challenge-illustration__placeholder">
    {{fa-icon 'image'}}
  </div>
{{/if}}

<img src="{{src}}"
     alt="{{alt}}"
     class="challenge-illustration__loaded-image {{hiddenClass}}"
     onload={{action 'onImageLoaded'}}>
