<div class="rounded-panel__row challenge-actions">
  <h2 class="sr-only">{{t 'pages.challenge.parts.validation'}}</h2>

  {{#if @answer}}
    <span class="challenge-actions__already-answered">
      {{#if (eq @answer.result "timedout")}}
        {{t "pages.challenge.timed.cannot-answer"}}
      {{else}}
        {{t "pages.challenge.already-answered"}}
      {{/if}}
    </span>
    <PixButton
      @isBorderVisible={{true}}
      @triggerAction={{fn @resumeAssessment @assessment}}
      @backgroundColor="blue"
      @shape="rounded"
      class="challenge-actions__action-continue"
    >
      <span class="challenge-actions__action-continue-text">{{t "pages.challenge.actions.continue"}}</span>
    </PixButton>

  {{else if @hasChallengeTimedOut}}
    <span class="challenge-actions__timed-out">{{t "pages.challenge.timed.cannot-answer"}}</span>
    <button class="button challenge-actions__action challenge-actions__action-continue"
      {{on 'click' @validateAnswer}}
            type="button">
      <span class="challenge-actions__action-continue-text">{{t "pages.challenge.actions.continue"}}
        <span class="sr-only">{{t "pages.challenge.actions.go-to-next"}}</span></span>
    </button>

  {{else}}
    {{#if @hasFocusedOutOfWindow}}
      <div class="challenge-actions__focused-out-of-window" role="alert" aria-live="assertive">
        <FaIcon @icon="info-circle" class="challenge-actions-focused-out__icon"/>
        {{t 'pages.challenge.has-focused-out-of-window'}}
      </div>
    {{/if}}

    <div class="challenge-actions__group">
      <PixButton
        @isBorderVisible={{true}}
        @isDisabled={{@isDisabled}}
        @triggerAction={{@skipChallenge}}
        @backgroundColor="transparent-light"
        @shape="rounded"
        class="challenge-actions__action-skip"
      >
        <span class="challenge-actions__action-skip-text">
          {{t "pages.challenge.actions.skip"}}<span class="sr-only"> {{t "pages.challenge.actions.go-to-next"}}</span>
        </span>
      </PixButton>

      <PixButton
        @isBorderVisible={{true}}
        @isDisabled={{@isDisabled}}
        @triggerAction={{@validateAnswer}}
        @backgroundColor="green"
        @shape="rounded"
        class="challenge-actions__action-validate"
      >
        <span class="challenge-actions__action-validate-text">
          {{t "pages.challenge.actions.validate"}}<span class="sr-only"> {{t "pages.challenge.actions.go-to-next"}}</span>
        </span>
      </PixButton>

    </div>
  {{/if}}
</div>

