{{#if _hiddenSimulatorClass}}
  <div class="embed placeholder" aria-label="Chargement de l'application en cours">
    {{fa-icon 'image'}}
  </div>
{{/if}}

<div class="embed rounded-panel {{_hiddenSimulatorClass}}">
  {{#if _isSimulatorNotYetLaunched}}
    <div class="embed__acknowledgment-overlay">
      <button class="embed__launch-simulator-button" {{action "launchSimulator"}}>Je lance l’application</button>
    </div>
  {{/if}}

  <div class="embed__simulator blurred">
    <iframe class="embed__iframe"
            src="{{embedDocument.url}}"
            title="{{embedDocument.title}}">
    </iframe>
  </div>
</div>

<div class="embed__reboot">
  <div class="link link--grey embed-reboot__content" {{action "rebootSimulator"}}>
    <Fa-Icon @icon="redo-alt"></Fa-Icon>
    <div class="embed-reboot-content__text"> Réinitialiser </div>
  </div>
</div>
