{{#if hasChallengeTimer}}
  {{#unless hasUserConfirmWarning}}
    {{warning-page hasUserConfirmWarning=(action "setUserConfirmation") time=challenge.timer}}
  {{/unless}}
{{/if}}

{{#unless hasChallengeTimer}}
  <form {{action "validateAnswer" on="submit"}}>
    {{challenge-statement challenge=challenge assessment=assessment}}

    <div class="rounded-panel challenge-response {{if answer 'challenge-response--locked'}}">
      <div class="rounded-panel__row challenge-proposals">
        {{qroc-proposal
          proposals=challenge.proposals
          answerValue=answer.value
          answer=answer
          answerChanged=(action 'answerChanged')}}
      </div>
      {{#if challenge.timer}}
        {{#if hasUserConfirmWarning}}
          <div class="rounded-panel__row timeout-jauge-wrapper">
            {{timeout-jauge allotedTime=challenge.timer}}
          </div>
        {{/if}}
      {{/if}}

      {{#if answer}}
        <div class="challenge-response__locked-overlay">
          {{fa-icon 'lock' class='challenge-response-locked__icon'}}
        </div>
      {{/if}}
    </div>

    {{#if errorMessage}}
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    {{/if}}

    {{#if assessment}}
      {{challenge-actions
        challenge=challenge
        answer=answer
        assessment=assessment
        validateAnswer=(action "validateAnswer")
        skipChallenge=(action "skipChallenge")
        resumeAssessment=resumeAssessment
        isValidateButtonEnabled=isValidateButtonEnabled
        isSkipButtonEnabled=isSkipButtonEnabled
      }}
    {{/if}}
  </form>
{{/unless}}

{{#if canDisplayFeedbackPanel}}
  <div class="challenge-item__feedback">
    {{feedback-panel assessment=assessment challenge=challenge isFormOpened=false}}
  </div>
{{/if}}
