<article class="challenge-item"
         data-challenge-id="{{@challenge.id}}"
         {{will-destroy this.removeEventListener}}>
  {{#if this.isTimedChallengeWithoutAnswer}}
    {{#unless this.hasUserConfirmedWarning}}
      <TimedChallengeInstructions @hasUserConfirmedWarning={{this.setUserConfirmation}} @time={{@challenge.timer}} />
    {{/unless}}
  {{/if}}

  {{#if this.displayChallenge}}
    <form {{on "submit" this.validateAnswer}} class="rounded-panel">
      <ChallengeStatement @challenge={{@challenge}} @assessment={{@assessment}} />

      {{#if this.showProposal}}
        <div class="rounded-panel__row challenge-response {{if @answer 'challenge-response--locked'}} {{if this.hasChallengeTimedOut 'challenge-response--locked'}}">
          <h2 class="sr-only">{{t 'pages.challenge.parts.answer-input'}}</h2>
          <div class="challenge-proposals">
            <QrocProposal @answer={{@answer}}
                          @format={{@challenge.format}}
                          @proposals={{@challenge.proposals}}
                          @answerValue={{@answer.value}}
                          @answerChanged={{this.answerChanged}}
                          />
          </div>

          {{#if @answer}}
            <div class="challenge-response__locked-overlay">
              <FaIcon @icon='lock' class='challenge-response-locked__icon' />
            </div>
          {{/if}}
          {{#if this.hasChallengeTimedOut}}
            <div class="challenge-response__locked-overlay">
              <FaIcon @icon='hourglass-end' class='challenge-response-locked__icon' />
            </div>
          {{/if}}

          {{#if this.displayTimer}}
            <div class="timeout-gauge-wrapper">
              <TimeoutGauge @allottedTime={{@challenge.timer}}
                            @updateChallengeTimedOut={{this.updateChallengeTimedOut}}/>
            </div>
          {{/if}}
        </div>
      {{/if}}

      {{#if this.errorMessage}}
        <div class="alert alert-danger" role="alert">
          {{this.errorMessage}}
        </div>
      {{/if}}

      {{#if @assessment}}
        <ChallengeActions @challenge={{@challenge}}
                          @answer={{@answer}}
                          @resumeAssessment={{this.resumeAssessment}}
                          @validateAnswer={{this.validateAnswer}}
                          @skipChallenge={{this.skipChallenge}}
                          @isValidateButtonEnabled={{this.isValidateButtonEnabled}}
                          @hasChallengeTimedOut={{this.hasChallengeTimedOut}}
                          @isSkipButtonEnabled={{this.isSkipButtonEnabled}}/>
      {{/if}}
    </form>
  {{/if}}

  <div class="challenge-item__feedback">
    <FeedbackPanel @assessment={{@assessment}} @challenge={{@challenge}}/>
  </div>
</article>
