<svg viewBox="0 0 36 36" class={{concat "circle-chart__content " chartClass}}>
  <path class={{concat "circle " thicknessClass}}
        d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831">
  </path>
  <!-- wait for value to be ready in order to animate circle under safari -->
  {{#if value}}
    <path class={{concat "circle circle--slice circle--" sliceColor " " thicknessClass}}
          stroke-dasharray="{{value}}, 100"
          d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831">
    </path>
  {{/if}}
</svg>
<div class="circle-chart__text">
  {{yield}}
</div>
