<svg viewBox="1.2 1.2 33.6 33.6" class={{concat "circle-chart__content " this.chartClass}}>
  <path class={{concat "circle " this.thicknessClass}}
        d="M18 2 a 16 16 0 0 1 0 32 a 16 16 0 0 1 0 -32">
  </path>
  <!-- wait for value to be ready in order to animate circle under safari -->
  {{#if this.value}}
    <path class={{concat "circle circle--slice circle--" this.sliceColor " " this.thicknessClass}}
          stroke-dasharray="{{this.value}}, 100"
          d="M18 2 a 16 16 0 0 1 0 32 a 16 16 0 0 1 0 -32">
    </path>
  {{/if}}
</svg>
<div class="circle-chart__text">
  {{yield}}
</div>
