<article class="competence-card {{if @interactive "competence-card--interactive"}}">
  <LinkTo @route="competences.details" @model={{@scorecard.competenceId}}>
    <div class="competence-card__title">
      <span class="competence-card__color competence-card__color--{{@scorecard.area.color}}"></span>
      <span class="competence-card__area-name">{{@scorecard.area.title}}</span>
      <span class="competence-card__competence-name">{{@scorecard.name}}</span>
    </div>

    <div class="competence-card__body">
      {{#if @scorecard.isFinishedWithMaxLevel}}
        <div class="competence-card__congrats competence-card__congrats--with-magnification">
          <div class="competence-card__level competence-card__level--congrats">
            <span class="score-label competence-card__score-label--congrats">Niveau</span>
            <span class="score-value competence-card__score-value competence-card__score-value--congrats">{{this.displayedLevel}}</span>
          </div>
        </div>
      {{else}}
        <div class="competence-card__link">
          <CircleChart @value={{@scorecard.percentageAheadOfNextLevel}} @sliceColor={{@scorecard.area.color}} @chartClass="circle-chart__content--big" @thicknessClass="circle--thick">
            <div class="competence-card__level">
              <span class="score-label">Niveau</span>
              <span class="score-value competence-card__score-value">{{replace-zero-by-dash this.displayedLevel}}</span>
              <span class="competence-card__score-details">détail</span>
            </div>
          </CircleChart>
        </div>
      {{/if}}
    </div>
  </LinkTo>

  {{#if @scorecard.isFinishedWithMaxLevel}}
    <div class="competence-card__congrats-message">
      Bravo !
    </div>
  {{else}}
    <div class="competence-card__interactions">
      {{#if @scorecard.isFinished}}
        {{#if this.displayImproveButton}}
          {{#if this.shouldWaitBeforeImproving}}
            <div class="competence-card-interactions__improvement-countdown">
              <span class="competence-card-improvement-countdown__label">Tenter le niveau supérieur dans</span>
              <span class="competence-card-improvement-countdown__count">{{this.computeRemainingDaysBeforeImproving}}</span>
            </div>
          {{else}}
            <button class="button button--extra-thin button--round button--link button--green competence-card__button" {{action "improveCompetenceEvaluation"}}>
              <span class="competence-card-button__label">Retenter <span class="sr-only">la compétence "{{@scorecard.name}}"</span>
              </span>
              <span class="competence-card-button__arrow">
              <FaIcon @icon='long-arrow-alt-right'></FaIcon>
              </span>
            </button>
          {{/if}}
        {{/if}}
      {{else}}
        <LinkTo @route="competences.resume" @model={{@scorecard.competenceId}} class="button button--extra-thin button--round button--link button--green competence-card__button">
          <span class="competence-card-button__label">
            {{#if @scorecard.isStarted}}
              Reprendre
            {{else}}
              Commencer
            {{/if}}
          </span>
          <span class="competence-card-button__arrow">
            <FaIcon @icon='long-arrow-alt-right'></FaIcon>
          </span>
        </LinkTo>
      {{/if}}
    </div>
  {{/if}}
</article>
