<article class="competence-card">
  <header class="competence-card__header">
    <span class="competence-card__color competence-card__color--{{scorecard.areaColor}}"></span>
    <span class="competence-card__area-name">{{scorecard.area.title}}</span>
    <span class="competence-card__competence-name">{{scorecard.name}}</span>
  </header>
  <div class="competence-card__body">
    {{#link-to "competence-details" scorecard.id class="competence-card__link"}}
      {{scorecard-circle scorecard=scorecard}}
    {{/link-to}}
  </div>
  <footer class="competence-card__footer">
    {{#if (not scorecard.isFinished)}}
      {{#link-to "competences.resume" scorecard.competenceId
                 class="button button--extra-thin button--round button--link button--green competence-card__button"}}
        <span class="competence-card-button__label">
          {{#if scorecard.isStarted}}
            Reprendre
          {{else}}
            Commencer
          {{/if}}
        </span>
        <span class="competence-card-button__arrow">
          {{fa-icon 'long-arrow-alt-right'}}
        </span>
      {{/link-to}}
    {{/if}}
  </footer>
</article>
