<article class="competence-card">
  <header class="competence-card__header">
    <span class="competence-card__color competence-card__color--{{areaColor}}"></span>
    <span class="competence-card__area-name">{{scorecard.area.title}}</span>
    <span class="competence-card__competence-name">{{scorecard.name}}</span>
  </header>
  <div class="competence-card__body">
    {{#circle-chart value=percentageAheadOfNextLevel sliceColor=areaColor chartClass='circle-chart__content--big' thicknessClass='circle--thick'}}
      <div class="competence-card__level">
        <span class="competence-card-level__label">Niveau</span>
        <span class="competence-card-level__value">{{displayedLevel}}</span>
      </div>
    {{/circle-chart}}
  </div>
  <footer class="competence-card__footer">
    <button class="button button--thin button--green competence-card__button">
      {{#if displayedLevel}}
        Continuer
      {{else}}
        Commencer
      {{/if}}
    </button>
  </footer>
</article>
