<PixModal @class="comparison-window-modal" @onClose={{this.closeComparisonWindow}}>

  <div class="pix-modal__close-link" aria-label="Fermer" {{action (action this.closeComparisonWindow)}}>
    <span>Fermer</span>
    <FaIcon @icon="times-circle" class="logged-user-menu__icon"></FaIcon>
  </div>

  <div class="pix-modal__container comparison-window">

    <div class="pix-modal-header comparison-window-header">
      <div class="comparison-window__title">
        <div title="{{this.resultItem.tooltip}}">
          <img class="comparison-window__result-icon comparison-window__result-icon--{{this.resultItem.status}}"
               src={{this.resultItemIcon}}
               alt={{this.resultItem.tooltip}}>
        </div>
      </div>
      <div class="comparison-window__title-text">{{this.resultItem.title}}</div>
    </div>

    <div class="comparison-window--content">

      <div class="comparison-window--body">

        <div class="rounded-panel comparison-window__instruction">
          <div class="rounded-panel__row ">
            <MarkdownToHtml @class="challenge-statement__instruction" @markdown={{this.answer.challenge.instruction}} />
          </div>

         {{#if this.answer.challenge.illustrationUrl}}
            <div class="rounded-panel__row challenge-statement__illustration-section">
              <ChallengeIllustration @src={{this.answer.challenge.illustrationUrl}} @alt={{this.answer.challenge.illustrationAlt}} />
            </div>
         {{/if}}
        </div>
        <div class="comparison-window__corrected-answers">
          {{#if this.isAssessmentChallengeTypeQcm}}
            <QcmSolutionPanel @challenge={{this.answer.challenge}} @answer={{this.answer}} @solution={{this.answer.correction.solution}} />
          {{/if}}

          {{#if this.isAssessmentChallengeTypeQcu}}
            <QcuSolutionPanel @challenge={{this.answer.challenge}} @answer={{this.answer}} @solution={{this.answer.correction.solution}} />
          {{/if}}

          {{#if this.isAssessmentChallengeTypeQroc}}
            <div class="comparison-window__corrected-answers--qroc">
              <QrocSolutionPanel @answer={{this.answer}} @solution={{this.answer.correction.solution}} />
            </div>
          {{/if}}

          {{#if this.isAssessmentChallengeTypeQrocmInd}}
            <div class="comparison-window__corrected-answers--qrocm">
              <QrocmIndSolutionPanel @answer={{this.answer}} @solution={{this.answer.correction.solution}} @challenge={{this.answer.challenge}} />
            </div>
          {{/if}}

          {{#if this.isAssessmentChallengeTypeQrocmDep}}
            <div class="comparison-window__corrected-answers--qrocm">
              <QrocmDepSolutionPanel @answer={{this.answer}} @solution={{this.answer.correction.solution}} @challenge={{this.answer.challenge}} />
            </div>
          {{/if}}
        </div>

        {{#if this.answer.isResultNotOk}}
          {{#if this.answer.correction.noHintsNorTutorialsAtAll }}
            <div class="comparison-windows__default-message-container">
              <div class="comparison-windows__default-message-picto-container">
                <img src="{{this.rootURL}}/images/comparison-window/icon-tuto.svg"
                    alt=""
                    class="comparison-windows__default-message-picto">
              </div>
              <div class="comparison-windows__default-message-title">Bientôt ici des tutoriels pour vous aider à réussir ce type
                d'épreuves !!
              </div>
            </div>
          {{else}}
            <TutorialPanel @hint={{this.answer.correction.hint}} @tutorials={{this.answer.correction.tutorials}} />
          {{/if}}
        {{/if}}
        <LearningMorePanel @learningMoreTutorials={{this.answer.correction.learningMoreTutorials}} />
      </div>

      <div class="pix-modal-footer">
        <div class="comparison-window__feedback-panel">
          <FeedbackPanel @assessment={{this.answer.assessment}} @challenge={{this.answer.challenge}} @context="comparison-window" @answer={{this.answer}} @isFormOpened={{true}} />
        </div>
      </div>
    </div>
  </div>
</PixModal>
