<PixModal @class="comparison-window-modal" @onClose={{@closeComparisonWindow}}>

  <button type="button" class="pix-modal__close-link" aria-label={{t "common.actions.close"}} {{on "click" @closeComparisonWindow}}>
    <span>{{t "common.actions.close"}}</span>
    <FaIcon @icon="times-circle" class="logged-user-menu__icon" aria-hidden="true"></FaIcon>
  </button>

  <div class="pix-modal__container comparison-window">

    <div class="pix-modal-header comparison-window-header">
      <div class="comparison-window__title">
        <img class="comparison-window__result-icon comparison-window__result-icon--{{this.resultItem.status}}"
             src={{this.resultItemIcon}}
             role="presentation"
             alt="">
      </div>
      <h3 class="comparison-window__title-text">{{t this.resultItem.title}}</h3>
    </div>

    <div class="comparison-window--content">

      <div class="comparison-window--body">

        <div class="rounded-panel comparison-window__instruction">
          <div class="rounded-panel__row ">
            <MarkdownToHtml @class="challenge-statement__instruction" @markdown={{@answer.challenge.instruction}} />
          </div>

         {{#if @answer.challenge.illustrationUrl}}
            <div class="rounded-panel__row challenge-statement__illustration-section">
              <ChallengeIllustration @src={{@answer.challenge.illustrationUrl}} @alt={{@answer.challenge.illustrationAlt}} />
            </div>
         {{/if}}
        </div>
        <div class="comparison-window__corrected-answers">
          {{#if this.isAssessmentChallengeTypeQcm}}
            <QcmSolutionPanel @challenge={{@answer.challenge}} @answer={{@answer}} @solution={{@answer.correction.solution}} />
          {{/if}}

          {{#if this.isAssessmentChallengeTypeQcu}}
            <QcuSolutionPanel @challenge={{@answer.challenge}} @answer={{@answer}} @solution={{@answer.correction.solution}} />
          {{/if}}

          {{#if (and this.isAssessmentChallengeTypeQroc (not this.isAutoReply))}}
            <div class="comparison-window__corrected-answers--qroc">
              <QrocSolutionPanel @answer={{@answer}} @solution={{@answer.correction.solution}} />
            </div>
          {{/if}}

          {{#if this.isAssessmentChallengeTypeQrocmInd}}
            <div class="comparison-window__corrected-answers--qrocm">
              <QrocmIndSolutionPanel @answer={{@answer}} @solution={{@answer.correction.solution}} @challenge={{@answer.challenge}} />
            </div>
          {{/if}}

          {{#if this.isAssessmentChallengeTypeQrocmDep}}
            <div class="comparison-window__corrected-answers--qrocm">
              <QrocmDepSolutionPanel @answer={{@answer}} @solution={{@answer.correction.solution}} @challenge={{@answer.challenge}} />
            </div>
          {{/if}}
        </div>

        {{#if @answer.isResultNotOk}}
          {{#if @answer.correction.noHintsNorTutorialsAtAll}}
            <div class="comparison-windows__default-message-container">
              <div class="comparison-windows__default-message-picto-container">
                <img src="{{this.rootURL}}/images/comparison-window/icon-tuto.svg"
                    alt=""
                    role="none"
                    class="comparison-windows__default-message-picto">
              </div>
              <div class="comparison-windows__default-message-title">{{t "pages.comparison-window.upcoming-tutorials"}}</div>
            </div>
          {{else}}
            <TutorialPanel @hint={{@answer.correction.hint}} @tutorials={{@answer.correction.tutorials}} />
          {{/if}}
        {{/if}}
        <LearningMorePanel @learningMoreTutorials={{@answer.correction.learningMoreTutorials}} />
      </div>

      <div class="pix-modal-footer">
        <div class="comparison-window__feedback-panel">
          <FeedbackPanel @assessment={{@answer.assessment}}
                         @challenge={{@answer.challenge}}
                         @context="comparison-window"
                         @answer={{@answer}}
                         @alwaysOpenForm={{true}}
          />
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="pix-modal__close-link" aria-label={{t "common.actions.close"}} {{on "click" @closeComparisonWindow}}>
    <span>{{t "common.actions.close"}}</span>
    <FaIcon @icon="times-circle" class="logged-user-menu__icon" aria-hidden="true"></FaIcon>
  </button>

</PixModal>
