<footer class="footer">
  <div class="footer__container">
    <div class="footer-container__logos">
      <PixLogo/>

      {{#if this.shouldShowTheMarianneLogo}}
        <div class="footer-logos__french-government">
          <img src="{{this.rootURL}}/images/logo-de-la-republique-francaise.svg"
               alt="{{t 'common.french-republic'}}">
        </div>
      {{/if}}
    </div>

    <div class="footer-container__content">
      <div class="footer-container-content__navigation">
        <a href="{{t 'navigation.footer.link-help-center'}}"
           target="_blank"
           class="footer-navigation__item">
          {{t 'navigation.footer.help-center'}}
        </a>

        <a href="{{t 'navigation.footer.link-a11y'}}"
           target="_blank"
           class="footer-navigation__item">
          {{t 'navigation.footer.a11y'}}
        </a>

        <a href="{{t 'navigation.footer.link-eula'}}"
           target="_blank"
           class="footer-navigation__item">
          {{t 'navigation.footer.eula'}}
        </a>

        <a href="{{t 'navigation.footer.link-protection-policy'}}"
           target="_blank"
           class="footer-navigation__item">
          {{t 'navigation.footer.protection-policy'}}
        </a>
      </div>

      <div class="footer-container-content__copyrights">
        <span>{{t 'navigation.copyrights'}} {{ this.currentYear }} {{t 'navigation.pix'}}</span>
      </div>
    </div>

  </div>

</footer>
