<label class="form-textfield__label">
  {{#if this.require}}<abbr title="obligatoire">*</abbr> {{/if}}
  {{this.label}}
  <br><span class="form-textfield__help">{{this.help}}</span>
</label>

<div class="form-textfield__date">
  <div class="form-textfield__input-field-container {{if this.disabled "form-textfield__input-container--disabled" this.dayInputContainerStatusClass}}">
    <Input @type="text"
           @id={{this.dayTextfieldName}}
           @name={{this.dayTextfieldName}}
           @value={{this.dayInputBindingValue}}
           @focus-out={{action this.onValidateDay this.dayTextfieldName}}
           class="form-textfield__input {{this.dayInputValidationStatus}}"
           @autocomplete={{this.autocomplete}}
           @ariaDescribedBy="dayValidationMessage"
           required={{this.require}}
           @disabled={{this.disabled}}
           placeholder="JJ" />
    <div class="form-textfield__icon">
      {{#if this.dayHasIcon}}
        {{#if (eq this.dayValidationStatus 'error') }}
          <img src="/images/icons/icon-error.svg" class="form-textfield-icon__state form-textfield-icon__state--error">
        {{else}}
          <img src="/images/icons/icon-success.svg"
               class="form-textfield-icon__state form-textfield-icon__state--success">
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="form-textfield__input-field-container {{if this.disabled "form-textfield__input-container--disabled" this.monthInputContainerStatusClass}}">
    <Input @type="text"
           @id={{this.monthTextfieldName}}
           @name={{this.monthTextfieldName}}
           @value={{this.monthInputBindingValue}}
           @focus-out={{action this.onValidateMonth this.monthTextfieldName}}
           class="form-textfield__input {{this.monthInputValidationStatus}}"
           @autocomplete={{this.autocomplete}}
           @ariaDescribedBy="monthValidationMessage"
           required={{this.require}}
           @disabled={{this.disabled}}
           placeholder="MM" />
    <div class="form-textfield__icon">
      {{#if this.monthHasIcon}}
        {{#if (eq this.monthValidationStatus 'error') }}
          <img src="/images/icons/icon-error.svg" class="form-textfield-icon__state form-textfield-icon__state--error">
        {{else}}
          <img src="/images/icons/icon-success.svg"
               class="form-textfield-icon__state form-textfield-icon__state--success">
        {{/if}}
      {{/if}}
    </div>
  </div>

  <div class="form-textfield__input-field-container {{if this.disabled "form-textfield__input-container--disabled" this.yearInputContainerStatusClass}}">
    <Input @type="text"
           @id={{this.yearTextfieldName}}
           @name={{this.yearTextfieldName}}
           @value={{this.yearInputBindingValue}}
           @focus-out={{action this.onValidateYear this.yearTextfieldName}}
           class="form-textfield__input {{this.yearInputValidationStatus}}"
           @autocomplete={{this.autocomplete}}
           @ariaDescribedBy="yearValidationMessage"
           required={{this.require}}
           @disabled={{this.disabled}}
           placeholder="AAAA" />
    <div class="form-textfield__icon">
      {{#if this.yearHasIcon}}
        {{#if (eq this.yearValidationStatus 'error') }}
          <img src="/images/icons/icon-error.svg" class="form-textfield-icon__state form-textfield-icon__state--error">
        {{else}}
          <img src="/images/icons/icon-success.svg"
               class="form-textfield-icon__state form-textfield-icon__state--success">
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>

{{#if this.dayValidationMessage}}
  <div id="dayValidationMessage" class="form-textfield__message {{this.dayValidationMessageClass}}" role="alert">{{this.dayValidationMessage}}</div>
{{/if}}

{{#if this.monthValidationMessage}}
<div id="monthValidationMessage" class="form-textfield__message {{this.monthValidationMessageClass}}" role="alert">{{this.monthValidationMessage}}</div>
{{/if}}

{{#if this.yearValidationMessage}}
  <div id="yearValidationMessage" class="form-textfield__message {{this.yearValidationMessageClass}}" role="alert">{{this.yearValidationMessage}}</div>
{{/if}}
