<label for="{{this.textfieldName}}" class="form-textfield__label">
  {{#if this.require}}<abbr title="obligatoire">*</abbr> {{/if}}
  {{this.label}}
    <br><span class="form-textfield__help">{{this.help}}</span>
</label>

<div class="form-textfield__input-field-container {{if this.disabled "form-textfield__input-container--disabled" this.inputContainerStatusClass}}">
  <Input @type={{this.textfieldType}}
         @id={{this.textfieldName}}
         @name={{this.textfieldName}}
         @value={{this.inputBindingValue}}
         @focus-out={{action this.onValidate this.textfieldName}}
         class="form-textfield__input {{this.inputValidationStatus}}"
         @autocomplete={{this.autocomplete}}
         @ariaDescribedBy="validationMessage"
         required={{this.require}}
         @disabled={{this.disabled}} />
    <div class="form-textfield__icon">
      {{#if this.isPassword}}
          <button type="button" aria-label="rendre le mot de passe lisible" class="form-textfield-icon__button" {{action 'togglePasswordVisibility'}}>
            {{#if this.isPasswordVisible}}
                <div tabindex="-1" onmousedown={{action 'togglePasswordVisibility'}}>{{fa-icon 'eye' class="fa-fw form-textfield-icon-button__eye"}}</div>
            {{else}}
                <div tabindex="-1" onmousedown={{action 'togglePasswordVisibility'}}>{{fa-icon 'eye-slash' class="fa-fw form-textfield-icon-button__eye"}}</div>
            {{/if}}
          </button>
      {{/if}}
      {{#if this.hasIcon}}
        {{#if (eq this.validationStatus 'error') }}
            <img src="/images/icons/icon-error.svg" class="form-textfield-icon__state form-textfield-icon__state--error">
        {{else}}
            <img src="/images/icons/icon-success.svg" class="form-textfield-icon__state form-textfield-icon__state--success">
        {{/if}}
      {{/if}}
    </div>

</div>
{{#if this.displayMessage}}
    <div id="validationMessage" class="form-textfield__message {{this.validationMessageClass}} form-textfield__message-{{this.textfieldType}}" role="alert">{{this.validationMessage}}</div>
{{/if}}
