<div class="hexagon-score"
  {{on 'mouseenter' this.showHelp}}
  {{on 'mouseleave' this.hideHelp}}>
  <div class="hexagon-score__content">
    <div class="hexagon-score-content__title">{{t 'common.pix'}}</div>
    <div class="hexagon-score-content__pix-score">{{this.score}}</div>
    <div class="hexagon-score-content__pix-total">
      1024
      <PixButton role="button"
                 aria-label={{t 'pages.profile.total-score-helper.title'}}
                 @backgroundColor="transparent"
                 @isBorderVisible={{false}}
                 @triggerAction={{this.toggleTooltip}}
                 {{on 'focusout' this.hideHelp}}
                 aria-describedby="hexagon-score-tooltip">
        <FaIcon @icon="info-circle"/>
      </PixButton>
    </div>
  </div>

  {{#if this.displayHelp}}
    <div role="tooltip"
         id="hexagon-score-tooltip"
         class="hexagon-score__information hexagon-score-information__text"
         {{on-key 'Escape' this.hideHelp event='keyup'}}>
      <span class="hexagon-score-information__text--strong">{{t 'pages.profile.total-score-helper.title'}}</span>
      <br><br>
      {{t 'pages.profile.total-score-helper.explanation' maxReachablePixCount=this.maxReachablePixCount maxReachableLevel=this.maxReachableLevel htmlSafe=true}}
    </div>
  {{/if}}
</div>
