{{#if showLevelup}}
  <div class="levelup">
    <img src="{{rootURL}}/images/levelup.svg">
    <div class="levelup__card-level">{{level}}</div>
    <div class="levelup__competence">
      <div class="levelup__level">Niveau {{level}} gagné !</div>
      <div class="levelup__competence-name">{{competenceName}}</div>
    </div>
    <div class="levelup__close" {{action "close"}}>
      {{fa-icon 'times'}}
    </div>
  </div>
{{/if}}
