{{#unless closeLevelup}}
  <div class="levelup">
    <img src="{{rootURL}}/images/levelup.svg">
    <div class="levelup__icon-card-level">{{level}}</div>
    <div class="levelup__competence">
      <div class="levelup-competence__level">Niveau {{level}} gagné !</div>
      <div class="levelup-competence__name">{{competenceName}}</div>
    </div>
    <button role = "button"
            class="levelup__close"
            aria-labelledby="button-label"
            {{action "close"}}>
        <span id="button-label" hidden>Fermer</span>
      {{fa-icon 'times'}}
    </button>
  </div>
{{/unless}}
