{{#unless this.closeLevelup}}
  <div class="levelup">
    <img src="{{this.rootURL}}/images/levelup.svg">
    <div class="levelup__icon-card-level">{{this.level}}</div>
    <div class="levelup__competence">
      <div class="levelup-competence__level">Niveau {{this.level}} gagné !</div>
      <div class="levelup-competence__name">{{this.competenceName}}</div>
    </div>
    <button role = "button"
            class="levelup__close"
            aria-labelledby="button-label"
            {{action "close"}}>
        <span id="button-label" hidden>Fermer</span>
      {{fa-icon 'times'}}
    </button>
  </div>
{{/unless}}
