<nav class="navbar-header">
  {{#if @campaignParticipations}}
    <ResumeCampaignBanner  @campaignParticipations={{@campaignParticipations}}/>
  {{/if}}
  {{#if (media 'isDesktop')}}
    <NavbarDesktopHeader @shouldShowTheMarianneLogo={{this.isFrenchDomainExtension}} @isPixContest={{this.isPixContest}}/>
  {{else}}
    <NavbarMobileHeader @burger={{@burger}} @shouldShowTheMarianneLogo={{this.isFrenchDomainExtension}} />
  {{/if}}
</nav>
