<div class="navbar-mobile-header__container">
  {{#if this.burger}}
    {{#if this.isUserLogged}}
      <span class="navbar-mobile-header__burger-icon" {{action this.burger.state.actions.toggle}}>
        {{#if this.burger.state.open}}
          {{fa-icon 'times'}}
        {{else}}
          {{fa-icon 'bars'}}
        {{/if}}
      </span>

      {{#burger.menu as |menu|}}
        <NavbarBurgerMenu />
      {{/burger.menu}}
    {{/if}}
  {{/if}}

  <div class="navbar-mobile-header__logo">
    <div class="navbar-mobile-header-logo__pix">
      <PixLogo />
    </div>
    <div class="navbar-mobile-header-logo__marianne">
      <img src="{{this.rootURL}}/images/logo-de-la-republique-francaise.svg" alt="République française">
    </div>
  </div>
</div>
