<Skiplink @href="#main" @label={{t 'common.skip-links.skip-to-content'}} />
<Skiplink @href="#footer" @label={{t 'common.skip-links.skip-to-footer'}} />

<nav class="navbar-header">
  {{#if (media 'isDesktop')}}
    <NavbarDesktopHeader @shouldShowTheMarianneLogo={{this.isFrenchDomainExtension}}/>
  {{else}}
    <NavbarMobileHeader @burger={{@burger}} @shouldShowTheMarianneLogo={{this.isFrenchDomainExtension}} />
  {{/if}}
</nav>
