<div class="new-information {{@backgroundColorClass}}">
  <div class="new-information__content">
    {{#if (media 'isDesktop')}}
      <img class="new-information-content__img"
           src="{{@image}}"
           alt=""
           role="presentation"/>
    {{/if}}
    <div class="new-information-content__text {{@textAlignment}} {{@textColorClass}}">
      {{{@information}}}
      {{#if @linkText}}
        {{#if (eq @linkDisplayType 'button')}}
          <LinkTo @route="{{@linkTo}}" class="new-information-content-text__button button button--extra-thin button--link">{{@linkText}}</LinkTo>
        {{/if}}
      {{/if}}
    </div>
  </div>

  {{#if @closeaction}}
    <button class="new-information__close {{@textColorClass}}" {{on 'click' @closeaction}} type="button">
      <FaIcon @icon='times'/><span class="sr-only">{{t 'common.actions.close'}}</span>
    </button>
  {{/if}}
</div>
