<div class="sign-form__container">

  <a href={{urlHome}} class="pix-logo__link" title="Lien vers la page d'accueil de PIX">
    <img class="pix-logo__image" src="{{rootURL}}/images/pix-logo.svg" alt="Pix">
  </a>

  <div class="sign-form__header-container">
    {{#unless _displaySuccessMessage}}
      <h1 class="sign-form-header__title">Mot de passe oublié ?</h1>
      <div class="sign-form-header__instruction">Entrez votre adresse e-mail ci-dessous, et c'est repartix</div>
    {{/unless}}
  </div>

  {{#if _displayErrorMessage}}
    <div class="sign-form__notification-message sign-form__notification-message--error" aria-live="polite">
      L'e-mail entré ne correspond à aucun compte
    </div>
  {{/if}}

  {{#unless _displaySuccessMessage}}
    <form {{action "savePasswordResetDemand" on="submit"}} class="sign-form__form">

      <div class="sign-form__input-container">
        {{form-textfield
          label="Adresse Email"
          textfieldName="email"
          validationStatus="default"
          inputBindingValue=email}}
      </div>

      <div class="sign-form__submit-container sign-form__submit-container--big">
        <button type="submit" class="button button--thin button--round button--extra-big">
          Réinitialiser mon mot de passe
        </button>
        {{#link-to 'login' class="link link--grey password-reset-demand-form__cancel-link"}}
          Retour à la page de connexion{{/link-to}}
      </div>

    </form>
  {{/unless}}

  {{#if _displaySuccessMessage}}
    <div class="sign-form__message" aria-live="polite">
      Un e-mail vous a été envoyé à l’adresse {{email}}.
      <br>
      <br>
      Il contient un lien, cliquez dessus pour modifier votre mot de passe. Si vous ne recevez pas cet e-mail, vérifiez
      vos courriers indésirables.
    </div>

    <div class=" password-reset-demand-form__home-link">
      <a href={{urlHome}} class="link" title="Lien vers la page d'accueil de PIX">Retour à l'accueil</a>
    </div>
  {{/if}}

</div>
