<div class="sign-form__container">

  <a href={{urlHome}} class="pix-logo__link" title="Lien vers la page d'accueil de PIX">
    <img class="pix-logo__image" src="{{rootURL}}/images/pix-logo.svg" alt="Pix">
  </a>

  <div class="sign-form__header-container">
    <h1 class="sign-form-header__title">Mot de passe oublié ?</h1>
    <div class="sign-form-header__instruction">Entrez votre adresse e-mail ci-dessous, et c'est repartix</div>
  </div>

    {{#if _displaySuccessMessage}}
      <div class="sign-form__notification-message sign-form__notification-message--success" aria-live="polite">
        Vous allez recevoir un lien par e-mail pour renouveler votre mot de passe
      </div>
    {{/if}}
    {{#if _displayErrorMessage}}
      <div class="sign-form__notification-message sign-form__notification-message--error" aria-live="polite">
        L'e-mail entré ne correspond à aucun compte
      </div>
    {{/if}}

  <form {{action "savePasswordResetDemand" on="submit"}} class="sign-form__form">

    <div class="sign-form__input-container">
      {{form-textfield
        label="Adresse Email"
        textfieldName="email"
        validationStatus="default"
        inputBindingValue=email}}
    </div>

    <div class="sign-form__submit-container sign-form__submit-container--big">
      <button type="submit" class="sign-form__submit-button sign-form__submit-button--big"
        {{action "savePasswordResetDemand" allowedKeys="enter"}}>
        Réinitialiser mon mot de passe
      </button>
    </div>

  </form>

</div>
