<div class="sign-form__container">

  <a href={{urlHome}} class="pix-logo__link" title="Lien vers la page d'accueil de Pix">
    <img class="pix-logo__image" src="{{rootURL}}/images/pix-logo.svg" alt="Pix">
  </a>

  <div class="sign-form__header">
    {{#unless _displaySuccessMessage}}
      <h1 class="sign-form-title">Mot de passe oublié ?</h1>
      <div class="sign-form-header__instruction sign-form-header__instruction--short sign-form-subtitle">
        Entrez votre adresse e-mail ci-dessous, et c'est repartix
      </div>
    {{/unless}}
  </div>

  {{#if _displayErrorMessage}}
    <div class="sign-form__notification-message sign-form__notification-message--error" aria-live="polite">
      Cette adresse e-mail ne correspond à aucun compte
    </div>
  {{/if}}

  {{#unless _displaySuccessMessage}}
    <form {{action "savePasswordResetDemand" on="submit"}} class="sign-form__body">

      <div class="sign-form-body__input">
        <FormTextfield @label="Adresse e-mail" @textfieldName="email" @validationStatus="default" @inputBindingValue={{email}} />
      </div>

      <div class="sign-form-body__bottom-button sign-form-body__bottom-button--big">
        <button type="submit" class="button button--uppercase button--thin button--round">
          Réinitialiser mon mot de passe
        </button>
        <LinkTo @route="login" class="link link--grey sign-form-link password-reset-demand-form__cancel-link">
          Retour à la page de connexion</LinkTo>
      </div>

    </form>
  {{/unless}}

  {{#if _displaySuccessMessage}}
    <div class="sign-form-header__instruction sign-form-subtitle">Demande de réinitialisation de mot de passe</div>

    <div class="password-reset-demand-form__body" aria-live="polite">
      <span class="password-reset-demand-body__text sign-form-text">Un e-mail contenant la démarche à suivre afin de réinitialiser votre mot de passe
        vous a été envoyé à l’adresse e-mail {{email}}.</span>
      <span class="password-reset-demand-body__text sign-form-text">Si vous ne recevez pas cet e-mail, vérifiez vos courriers indésirables.</span>
    </div>

    <div class="password-reset-demand-form__home-link">
      <a href={{urlHome}} class="link" title="Lien vers la page d'accueil de Pix">Retour à l'accueil</a>
    </div>
  {{/if}}

</div>
