
<div class="pix-toggle">
<span class="{{this.firstButtonClass}}" onToggle={{action "onToggle" "firstButtonClass" on="click"}}>{{this.valueFirstLabel}}</span>
<span class="{{this.secondButtonClass}}" onToggle={{action "onToggle" "secondButtonClass" on="click"}}>{{this.valueSecondLabel}}</span>
</div>
{{yield}}