
<div class="pix-toogle">
<span class="{{firstButtonClass}}" onclick={{action 'onToggle'}}>{{valueFirstLabel}}</span>
<span class="{{secondButtonClass}}" onclick={{action 'onToggle'}}>{{valueSecondLabel}}</span>
</div>
{{yield}}