<div class={{concat "progression-gauge " progressionClass}} style="width: {{total}}%">
  <div class="progression-gauge__marker" style="width: {{value}}%"></div>

  <div class="progression-gauge__tooltip-wrapper" style="width: {{value}}%">
    <div class="progression-gauge__tooltip">{{yield}}</div>
  </div>
</div>