{{! template-lint-disable builtin-component-arguments }}
{{#each this.labeledRadios as |labeledRadio index|}}
  <p class="proposal-paragraph qcu-proposals">
    <Input
      type="radio"
      name="radio"
      class="qcu-proposals__radio"
      value="{{inc index}}"
      data-value="{{inc index}}"
      id="radio_{{inc index}}"
      checked={{get labeledRadio 1}}
      {{on "click" (fn this.radioClicked index)}}
      data-test="challenge-response-proposal-selector"
      disabled={{@isAnswerFieldDisabled}}
    />

    <label for="radio_{{inc index}}" class="qcu-proposals__label">
      <MarkdownToHtml @class="qcu-panel__text proposal-text" @markdown={{get labeledRadio 0}} />
    </label>
  </p>
{{/each}}