<div class="qroc-proposal">
  {{#each this._blocks as |block|}}

    {{#if block.showText}}
      <MarkdownToHtml @markdown={{block.text}}
                      @extensions="remove-paragraph-tags"
                      class="qrocm-proposal__label" />
    {{/if}}

    {{#if block.input}}
      {{#if block.text}}
        <label for="qroc_input">
          <MarkdownToHtml class="qroc_input-label"
                          @extensions="remove-paragraph-tags"
                          @markdown={{block.text}} />
        </label>
      {{/if}}

      {{#if (eq @format 'paragraphe')}}
        <Textarea id="qroc_input"
                  @value={{mut (get @answersValue block.input)}}
                  class="challenge-response__proposal challenge-response__proposal--paragraph"
                  rows="5"
                  {{on 'keyup' this.onInputChange}}
                  name={{block.randomName}}
                  placeholder={{block.placeholder}}
                  autocomplete="nope"
                  data-uid="qroc-proposal-uid"
                  disabled={{@answer}}>
        </Textarea>
      {{else if (eq @format 'phrase')}}
        <Input id="qroc_input"
               @type="text"
               @value={{mut (get @answersValue block.input)}}
               class="challenge-response__proposal challenge-response__proposal--sentence"
               {{on 'keyup' this.onInputChange}}
               name={{block.randomName}}
               placeholder={{block.placeholder}}
               autocomplete="nope"
               data-uid="qroc-proposal-uid"
               disabled={{@answer}} />
      {{else if (eq @format 'nombre')}}
        <Input id="qroc_input"
               @type="number"
               @value={{mut (get @answersValue block.input)}}
               class="challenge-response__proposal challenge-response__proposal--number"
               {{on 'keyup' this.onInputChange}}
               name={{block.randomName}}
               placeholder={{block.placeholder}}
               autocomplete="nope"
               data-uid="qroc-proposal-uid"
               disabled={{@answer}} />
      {{else}}
        <Input id="qroc_input"
               @type="text"
               @value={{mut (get @answersValue block.input)}}
               class="challenge-response__proposal"
               size="{{get-qroc-input-size @format}}"
               {{on 'keyup' this.onInputChange}}
               name={{block.randomName}}
               placeholder={{block.placeholder}}
               autocomplete="nope"
               data-uid="qroc-proposal-uid"
               disabled={{@answer}} />
      {{/if}}
    {{/if}}

  {{/each}}
</div>

