{{#each this._blocks as |block|}}

  {{#if block.showText}}
    <span>{{block.text}}</span>
  {{/if}}

  {{#if block.input}}
    {{#if (eq this.format 'paragraphe')}}
      {{#if block.text}}
        <label for="{{block.text}}">{{block.text}}</label>
      {{/if}}
      <textarea class="challenge-response__proposal challenge-response__proposal--paragraph"
                rows="5"
                name={{block.input}}
                placeholder={{block.placeholder}}
                autocomplete="off"
                id="{{block.text}}"
                value={{property-of this.answersValue block.input}}
                disabled={{this.answer}}
                aria-label={{block.ariaLabel}}
                onkeydown={{action 'onInputChange'}}>      </textarea>
    {{else if (eq this.format 'phrase')}}
      {{#if block.text}}
        <label for="{{block.text}}">{{block.text}}</label>
      {{/if}}
      <input class="challenge-response__proposal challenge-response__proposal--sentence"
             type="text"
             name={{block.input}}
             placeholder={{block.placeholder}}
             autocomplete="off"
             id="{{block.text}}"
             value={{property-of this.answersValue block.input}}
             disabled={{this.answer}}
             aria-label={{block.ariaLabel}}
             onkeydown={{action 'onInputChange'}}>
    {{else}}
      {{#if block.text}}
        <label for="{{block.text}}">{{block.text}}</label>
      {{/if}}
      <input class="challenge-response__proposal"
             size="{{get-qroc-input-size this.format}}"
             type="text"
             name={{block.input}}
             placeholder={{block.placeholder}}
             autocomplete="off"
             id="{{block.text}}"
             value={{property-of this.answersValue block.input}}
             disabled={{this.answer}}
             aria-label={{block.ariaLabel}}
             onkeydown={{action 'onInputChange'}}>
    {{/if}}

  {{/if}}

  {{#if block.breakline}}
    <br>
  {{/if}}

{{/each}}
