{{#each _blocks as |block|}}

  {{#if block.text}}
    <span id="qroc_input">{{block.text}}</span>
  {{/if}}

  {{#if block.input}}
    {{#if (eq format 'paragraphe')}}
      <textarea class="challenge-response__proposal-textarea"
             for="qroc_input"
             name={{block.input}}
             placeholder={{block.placeholder}}
             autocomplete="off"
             value="{{userAnswer}}"
             data-uid="qroc-proposal-uid">
      </textarea>

    {{else}}
      <input class="challenge-response__proposal-input"
             size="{{get-qroc-input-size format}}"
             type="text"
             for="qroc_input"
             name={{block.input}}
             placeholder={{block.placeholder}}
             autocomplete="off"
             value="{{userAnswer}}"
             data-uid="qroc-proposal-uid">
    {{/if}}
  {{/if}}

  {{#if block.breakline}}
    <br>
  {{/if}}

{{/each}}
