<div class="qrocm-solution-panel rounded-panel">
  <div class="rounded-panel__row correction-qrocm__text">
    {{#each inputFields as |field|}}
      {{{field.label}}}
      <div class="correction-qrocm__answer-solution">
        {{#if (eq challenge.format 'paragraphe')}}
          <textarea class="correction-qrocm__answer-textarea"
                    value="{{field.answer}}"
                    data-uid="qroc-proposal-uid"
                    disabled>
          </textarea>
        {{else}}
          <input value="{{field.answer}}"
                 size="{{get-qroc-input-size challenge.format}}"
                 class="correction-qrocm__answer-input {{field.inputClass}}"
                 disabled>
        {{/if}}
      </div>
    {{/each}}
    {{#unless answerIsCorrect}}
      <div class="correction-qrocm__solution">
        <img class="correction-qrocm__solution-img" src="/images/comparison-window/icon-arrow-right.svg" alt="">
        <div class="correction-qrocm__solution-text">{{expectedAnswers}}</div>
      </div>
    {{/unless}}
  </div>
</div>
