{{#each _blocks as |block|}}

  {{#if (and block.text (not block.ariaLabel) (not block.input))}}
    <span>{{block.text}}</span>
  {{/if}}

  {{#if block.input}}
    {{#if (eq format 'paragraphe')}}
      {{#if block.text}}
        <label for="{{block.text}}">{{block.text}}</label>
      {{/if}}
      <textarea class="challenge-response__proposal challenge-response__proposal--paragraph"
                rows="5"
                name={{block.input}}
                placeholder={{block.placeholder}}
                autocomplete="off"
                id="{{block.text}}"
                value={{property-of answersValue block.input}}
                disabled={{if answer true}}
                aria-label={{if block.ariaLabel block.ariaLabel false}}>
      </textarea>
    {{else if (eq format 'phrase')}}
      {{#if block.text}}
        <label for="{{block.text}}">{{block.text}}</label>
      {{/if}}
      <input class="challenge-response__proposal challenge-response__proposal--sentence"
             type="text"
             name={{block.input}}
             placeholder={{block.placeholder}}
             autocomplete="off"
             id="{{block.text}}"
             value={{property-of answersValue block.input}}
             disabled={{if answer true}}
             aria-label={{if block.ariaLabel block.ariaLabel false}}>
    {{else}}
      {{#if block.text}}
        <label for="{{block.text}}">{{block.text}}</label>
      {{/if}}
      <input class="challenge-response__proposal"
             size="{{get-qroc-input-size format}}"
             type="text"
             name={{block.input}}
             placeholder={{block.placeholder}}
             autocomplete="off"
             id="{{block.text}}"
             value={{property-of answersValue block.input}}
             disabled={{if answer true}}
             aria-label={{if block.ariaLabel block.ariaLabel false}}>
    {{/if}}

  {{/if}}

  {{#if block.breakline}}
    <br>
  {{/if}}

{{/each}}
