<div class="correction-qroc-box rounded-panel">
  <div class="rounded-panel__row ">

    <div class="correction-qroc-box__answer">
      {{#if (eq @answer.challenge.format 'paragraphe')}}
        <textarea class="correction-qroc-box-answer correction-qroc-box-answer--paragraph {{this.inputClass}}"
                  rows="5"
                  value="{{this.answerToDisplay}}"
                  aria-label={{t 'pages.comparison-window.results.a11y.given-answer'}}
                  disabled>
        </textarea>
      {{else if (eq @answer.challenge.format 'phrase')}}
        <input class="correction-qroc-box-answer correction-qroc-box-answer--sentence {{this.inputClass}}"
               value="{{this.answerToDisplay}}"
               aria-label={{t 'pages.comparison-window.results.a11y.given-answer'}}
               disabled>
      {{else}}
        <input class="correction-qroc-box-answer {{this.inputClass}}"
               size="{{get-qroc-input-size @answer.challenge.format}}"
               value="{{this.answerToDisplay}}"
               aria-label={{t 'pages.comparison-window.results.a11y.given-answer'}}
               disabled>
      {{/if}}
    </div>

    {{#unless this.isResultOk}}
      <div class="correction-qroc-box__solution">
        <img class="correction-qroc-box__solution-img" src="/images/icons/comparison-window/icon-arrow-right.svg" alt="" role="none">
        <span class="sr-only">{{t 'pages.comparison-window.results.a11y.the-answer-was'}}</span>
        <div class="correction-qroc-box__solution-text">{{this.solutionToDisplay}}</div>
      </div>
    {{/unless}}
  </div>
</div>

