  <div class="reached-stage">
    <div class="reached-stage__score">
      <div class="reached-stage-score__stars">
        {{#each this.acquiredStars as |star|}}
          <img
            id="acquired-star-{{star}}"
            src="{{this.rootURL}}/images/stage-plain-star.svg"
            alt={{t 'pages.skill-review.stage.alt.acquiredStar' index=star}}/>
        {{/each}}
        {{#each this.unacquiredStars as |star|}}
          <img
            id="unacquired-star-{{star}}"
            src="{{this.rootURL}}/images/stage-clear-star.svg"
            alt={{t 'pages.skill-review.stage.alt.unacquiredStar' index=star}}/>
        {{/each}}
      </div>
      <div class="reached-stage-score__percentage-text">
        {{t 'pages.skill-review.stage.masteryPercentage' percentage=@percentage}}
      </div>
    </div>
    {{#if @imageUrl}}
      <img class="reached-stage__image" src={{ @imageUrl }}  alt="" role="none"/>
    {{/if}}
 </div>
