<div class="sign-form__container">

  <a href={{urlHome}} class="pix-logo__link" title="Lien vers la page d'accueil de PIX">
    <img class="pix-logo__image" src="{{rootURL}}/images/pix-logo.svg" alt="Pix">
  </a>

  <div class="sign-form__header-container">
    <h1 class="sign-form-header__title">{{user.fullName}}</h1>
    <div class="sign-form-header__instruction">Saisissez votre nouveau mot de passe</div>
  </div>

  {{#if _displaySuccessMessage}}
    <div class="sign-form__notification-message sign-form__notification-message--success" aria-live="polite">
      Votre mot de passe a bien été mis à jour, {{#link-to 'login' class="link"}}connectez-vous{{/link-to}}.
    </div>
  {{/if}}

  <form {{action "handleResetPassword" on="submit"}} class="sign-form__form">

    <div class="sign-form__input-container">
      {{form-textfield
        label="Mot de passe"
        textfieldName="password"
        validationStatus=validation.status
        validate="validatePassword"
        inputBindingValue=user.password
        validationMessage=validation.message}}
    </div>

    <div class="sign-form__submit-container sign-form__submit-container--big">
      <button type="submit" class="button button--thin button--round button--big" {{action "handleResetPassword" allowedKeys="enter"}}>
        envoyer
      </button>
    </div>

  </form>

</div>
