<div class="sign-form__container">

  <a href={{urlHome}} class="pix-logo__link" title="Lien vers la page d'accueil de Pix">
    <img class="pix-logo__image" src="{{rootURL}}/images/pix-logo.svg" alt="Pix">
  </a>

  {{#unless displaySuccessMessage}}
    <div class="password-reset-demand-form__subtitle sign-form-subtitle">
      Saisissez votre nouveau mot de passe
    </div>

    {{#if errorMessage}}
      <div class="password-reset-demand-form__error">
        {{errorMessage}}
      </div>
    {{/if}}

    <form {{action "handleResetPassword" on="submit"}} class="sign-form__body">

      <div class="sign-form-body__input">
        {{form-textfield
          label="Mot de passe"
          textfieldName="password"
          textfieldType="password"
          validationStatus=validation.status
          onValidate=(action "validatePassword")
          inputBindingValue=passwordReset.password
          validationMessage=validation.message
          autocomplete="new-password"}}
      </div>

      <div class="sign-form-body__bottom-button sign-form-body__bottom-button--big">
        <button type="submit" class="button button--uppercase button--thin button--round button--big">
          Envoyer
        </button>
      </div>

    </form>
  {{/unless}}

  {{#if displaySuccessMessage}}
    <div class="sign-form__body">
      <div class="password-reset-demand-form__body password-reset-demand-form__body--centered sign-form-text" aria-live="polite">
        Votre mot de passe a été modifié avec succès.
      </div>
      <div class="sign-form-body__bottom-button sign-form-body__bottom-button--big">
        {{#link-to 'login' class="button button--link button--uppercase button--thin button--round button--big"}}
          connectez-vous
        {{/link-to}}
      </div>
    </div>
  {{/if}}
</div>
