{{#if @isCompleted}}
  {{#if @title}}
    <span class="resume-campaign-banner__title">{{t
            'pages.profile.resume-campaign-banner.reminder-send-campaign-with-title' title=@title }}</span>
  {{else}}
    <span class="resume-campaign-banner__title">{{t
            'pages.profile.resume-campaign-banner.reminder-send-campaign'}}</span>
  {{/if}}
  <LinkTo @route="campaigns.start-or-resume" @model={{@code}}
          class="resume-campaign-banner__button button button--big button--link"><span class="sr-only">{{t
          'pages.profile.resume-campaign-banner.accessibility.share'}}</span>{{t
          'pages.profile.resume-campaign-banner.actions.continue'}}</LinkTo>
{{else}}
  {{#if @title}}
    <span class="resume-campaign-banner__title">{{t
            'pages.profile.resume-campaign-banner.reminder-continue-campaign-with-title' title=@title}}</span>
  {{else}}
    <span class="resume-campaign-banner__title">{{t
            'pages.profile.resume-campaign-banner.reminder-continue-campaign'}}</span>
  {{/if}}
  <LinkTo @route="campaigns.start-or-resume" @model={{@code}}
          class="resume-campaign-banner__button button button--big button--link"><span class="sr-only">{{t
          'pages.profile.resume-campaign-banner.accessibility.resume'}}</span>{{t
          'pages.profile.resume-campaign-banner.actions.resume'}}</LinkTo>
{{/if}}
