{{#if this.campaignToResumeOrShare}}
  <div class="resume-campaign-banner__container">
    {{#if this.campaignToResumeOrShare.assessment.isCompleted}}
      {{#if this.campaignToResumeOrShare.title}}
        <span class="resume-campaign-banner__title">Parcours "{{this.campaignToResumeOrShare.title}}" terminé ! Envoyez vos résultats.</span>
      {{else}}
        <span class="resume-campaign-banner__title">Parcours terminé ! Envoyez vos résultats.</span>
      {{/if}}
      <LinkTo @route="campaigns.start-or-resume" @model={{this.campaignToResumeOrShare.code}} class="resume-campaign-banner__button button button--big button--link">Continuer</LinkTo>
    {{else}}
      {{#if this.campaignToResumeOrShare.title}}
        <span class="resume-campaign-banner__title">Vous n'avez pas terminé le parcours "{{this.campaignToResumeOrShare.title}}"</span>
      {{else}}
        <span class="resume-campaign-banner__title">Vous n'avez pas terminé votre parcours</span>
      {{/if}}
      <LinkTo @route="campaigns.start-or-resume" @model={{this.campaignToResumeOrShare.code}} class="resume-campaign-banner__button button button--big button--link">Reprendre</LinkTo>
    {{/if}}
  </div>
{{/if}}
