<div class="result-item__icon">
  <div data-toggle="tooltip" data-placement="top" title="{{resultItem.tooltip}}">
    <img class="result-item__icon-img result-item__icon-img--{{resultItem.status}}" src={{resultItemIcon}} alt="">
  </div>
</div>

<div class="result-item__instruction">
  {{strip-instruction (convert-to-html answer.challenge.instruction)}}
</div>

<div class="result-item__correction">
  {{#if validationImplementedForChallengeType}}
    {{link-to 'Réponses et tutos' 'assessments.results.comparison' answer.assessment.id answer.id class="result-item__correction__button js-correct-answer"}}
  {{/if}}
</div>
