{{!-- template-lint-disable no-implicit-this  --}}
<div class="result-item__icon" title="{{resultTooltip}}">
  {{fa-icon resultItem.icon class=(concat 'result-item__icon--' resultItem.color)}}
</div>

<div class="result-item__instruction">
  {{strip-instruction (convert-to-html answer.challenge.instruction) textLength}}
</div>

<div class="result-item__correction">
  {{#if validationImplementedForChallengeType}}
    <button {{action openAnswerDetails answer}} class="result-item__correction-button link js-correct-answer" type="button">
      {{t 'pages.result-item.actions.see-answers-and-tutorials.label'}}
    </button>
  {{/if}}
</div>
