{{#if campaignParticipationState}}
  <div class="resume-campaign-banner__container">
    {{#if campaignParticipationState.isTypeAssessment}}
      <ResumeCampaignBannerAssessment
        @isCompleted={{campaignParticipationState.assessment.isCompleted}}
        @title={{campaignParticipationState.title}}
        @code={{campaignParticipationState.code}}
      />
    {{else}}
      <ResumeCampaignBannerCollectProfile @code={{campaignParticipationState.code}} />
    {{/if}}
  </div>
{{/if}}
