<div class="scorecard-details__header">
  {{#link-to "profilv2" class="scorecard-details-header__return-button"}}
    <span class="icon-button scorecard-details-header-return-button__icon">
      {{fa-icon 'arrow-left'}}
    </span>
    Retour Profil
  {{/link-to}}
</div>

<div class="scorecard-details__content">
  <div class="scorecard-details-content__left">
    <div class="scorecard-details-content-left__area scorecard-details-content-left__area--{{scorecard.areaColor}}">
      {{scorecard.area.title}}
    </div>
    <div class="scorecard-details-content-left__name">
      {{scorecard.name}}
    </div>
    <div class="scorecard-details-content-left__description">
      {{scorecard.description}}
    </div>
  </div>

  <div class="scorecard-details-content__right">

    {{#unless scorecard.isNotStarted}}
      <div class="scorecard-details-content-right__score-container">
        {{#circle-chart value=scorecard.percentageAheadOfNextLevel
                        sliceColor=scorecard.areaColor
                        chartClass='circle-chart__content--big'
                        thicknessClass='circle--thick'}}
          <div class="competence-card__level">
            <span class="score-label">Niveau</span>
            <span class="score-value">{{replace-zero-by-dash level}}</span>
          </div>
        {{/circle-chart}}
        <div class="scorecard-details-content-right-score-container__pix-earned">
          <div class="score-label">pix</div>
          <div class="score-value">{{replace-zero-by-dash scorecard.earnedPix}}</div>
        </div>
      </div>
    {{/unless}}

    {{#if isProgressable}}
      <div class="scorecard-details-content-right__level-info">
        {{scorecard.remainingPixToNextLevel}} pix avant le niveau {{inc scorecard.level}}
      </div>
    {{/if}}

    {{#unless scorecard.isFinished}}
      {{#link-to "competences.resume" scorecard.competenceId
                 class=(concat "button button--thin button--link button--green " (if scorecard.isNotStarted "" "scorecard-details__button"))}}
        {{#if scorecard.isStarted}}
          Reprendre
        {{else}}
          Commencer
        {{/if}}
      {{/link-to}}
    {{/unless}}

    {{#if displayResetButton}}
      <button class="button button--no-color" {{action "openModal"}}>
        Remettre à zéro <div class="sr-only">la compétence "{{scorecard.name}}"</div>
      </button>
    {{else if displayWaitSentence}}
      {{remainingDaysText}}
    {{/if}}

    {{#if showResetModal}}
      {{#pix-modal containerClass="scorecard-details__reset-modal" onClose=(action "closeModal") }}
        <div class="pix-modal__close-link">
          <a href="#" {{action "closeModal"}}>Fermer
            <img src="/images/icon-close-modal.svg" alt="Fermer la fenêtre modale" width="24" height="24">
          </a>
        </div>

        <div class="pix-modal__container">
          <div class="pix-modal-header">
            <h1 class="pix-modal-header__title">Remise à zéro de la compétence</h1>
            <h2 class="pix-modal-header__subtitle">{{scorecard.name}}</h2>
          </div>

          <div class="pix-modal-body pix-modal-body--with-padding">
            <div class="">
              {{#if scorecard.hasNotReachLevelOne}}
                Vos {{scorecard.earnedPix}} Pix vont être supprimés.
              {{else if scorecard.hasReachAtLeastLevelOne}}
                Votre niveau {{scorecard.level}} et vos {{scorecard.earnedPix}} Pix vont être supprimés.
              {{/if}}
            </div>
            <div class="">
              <p>Attention : Si vous participez à un parcours de test, celui-ci pourrait être affecté.</p>
              <p>Vous devrez reprendre ce parcours pour refaire les questions de cette compétence. </p>
            </div>
          </div>

          <div class="pix-modal-footer pix-modal-footer--with-centered--buttons">
            <button class="button button--grey" {{action "closeModal"}}>Annuler</button>
            <button class="button" {{action "reset"}}>Remettre à zéro</button>
          </div>
        </div>
      {{/pix-modal}}
    {{/if}}

  </div>

</div>
