<div class="scorecard-details-content">
  <div class="scorecard-details-content__left">
    <div class="scorecard-details-content-left__area scorecard-details-content-left__area--{{scorecard.areaColor}}">
      {{scorecard.area.title}}
    </div>
    <div class="scorecard-details-content-left__name">
      {{scorecard.name}}
    </div>
    <div class="scorecard-details-content-left__description">
      {{scorecard.description}}
    </div>
  </div>

  <div class="scorecard-details-content__right">
    <div class="scorecard-details-content-right__score-container">

      {{#circle-chart value=scorecard.percentageAheadOfNextLevel
                      sliceColor=scorecard.areaColor
                      chartClass='circle-chart__content--big'
                      thicknessClass='circle--thick'}}
        <div class="competence-card__level">
          <span class="competence-card-level__label">Niveau</span>
          <span class="competence-card-level__value">{{level}}</span>
        </div>
      {{/circle-chart}}
      {{#unless scorecard.isNotStarted}}
        <div class="scorecard-details-content-right-score-container__pix-earned">
          <div class="scorecard-details-content-right-score-container-pix-earned__info">pix</div>
          <div class="scorecard-details-content-right-score-container-pix-earned__number">{{earnedPix}}</div>
        </div>
      {{/unless}}
    </div>

    {{#unless (or scorecard.isMaxLevel scorecard.isNotStarted)}}
      <div class="scorecard-details-content-right__level-info">
        {{scorecard.remainingPixToNextLevel}} pix avant le niveau {{inc scorecard.level}}
      </div>
    {{/unless}}

    {{#unless scorecard.isFinished}}
      {{#link-to "competences.resume" scorecard.competenceId
                  class="button button--thin button--link button--green scorecard-details__button"}}
        {{#if scorecard.isStarted}}
          Reprendre
        {{else}}
          Commencer
        {{/if}}
      {{/link-to}}
    {{/unless}}

  </div>

</div>
