<div class="scorecard-details-content">
  <div class="scorecard-details-content__left">
    <div class="scorecard-details-content-left__area scorecard-details-content-left__area--{{scorecard.areaColor}}">
      {{scorecard.area.title}}
    </div>
    <div class="scorecard-details-content-left__name">
      {{scorecard.name}}
    </div>
    <div class="scorecard-details-content-left__description">
      {{scorecard.description}}
    </div>
  </div>

  <div class="scorecard-details-content__right">
    <div class="scorecard-details-content-right__score-container">
      {{#circle-chart value=scorecard.percentageAheadOfNextLevel
                      sliceColor=scorecard.areaColor
                      chartClass='circle-chart__content--big'
                      thicknessClass='circle--thick'}}
        <div class="competence-card__level">
          <span class="competence-card-level__label">Niveau</span>
          <span class="competence-card-level__value">{{scorecard.level}}</span>
        </div>
      {{/circle-chart}}
      <div class="scorecard-details-content-right-score-container__pix-earned">
        <div class="scorecard-details-content-right-score-container-pix-earned__number">{{scorecard.earnedPix}}</div>
        <div class="scorecard-details-content-right-score-container-pix-earned__info">{{earnedPixText}}</div>
      </div>
    </div>
    {{#unless scorecard.isMaxLevel}}
      <div class="scorecard-details-content-right__level-info">
        {{scorecard.remainingPixToNextLevel}} pix avant niveau {{inc scorecard.level}}
      </div>
    {{/unless}}
  </div>
</div>
