<button class="share-profile__share-button" {{action "openModal"}}>
  Envoyer <span class="sr-only">mon profil</span>
  <img class="share-profile__share-button-image" src="/images/icon-partager.svg" alt="">
</button>

{{#if _showingModal}}
  {{#pix-modal onClose=(action "closeModal")}}

    <div class="pix-modal__close-link">
      <a href="#" {{action "closeModal"}}>Fermer
        <img src="/images/icon-close-modal.svg" alt="Fermer la fenêtre modale" width="24" height="24">
      </a>
    </div>

    <div class="pix-modal__container">

      <div class="pix-modal-header">
        <h1 class="pix-modal-header__title">Envoi de votre profil</h1>
      </div>

       {{#if stepOrganizationCodeEntry}}

         <div class="pix-modal-body">
            <section class="share-profile__section share-profile__section--organization-code-entry">
              <div class="share-profile__row">
                <p>Veuillez saisir le code correspondant à votre organisation (collège, lycée, université, école, entreprise).</p>

                {{input class="pix-modal__input share-profile__organization-code-input"
                        id="code"
                        placeholder=_placeholder
                        focus-in=(action "focusInOrganizationCodeInput")
                        focus-out=(action "focusOutOrganizationCodeInput")
                        value=_code
                        enter=(action "findOrganizationAndGoToSharingConfirmationView")}}

                {{#if _organizationNotFound}}
                  <p class="share-profile__form-error">Ce code ne correspond à aucune organisation.</p>
                {{/if}}
              </div>
            </section>
         </div>

         <div class="pix-modal-footer pix-modal-footer--with-centered-buttons pix-modal-footer--border">
           <button class="button share-profile__continue-button" {{action "findOrganizationAndGoToSharingConfirmationView"}}>Continuer</button>
           <button class="button button--grey share-profile__cancel-button" {{action "closeModal"}}>Annuler</button>
         </div>

       {{else if stepProfileSharingConfirmation}}

         <div class="pix-modal-body">
            <section class="share-profile__section share-profile__section--sharing-confirmation">
              <div class="share-profile__row share-profile__row--organization-name">
                <p>{{organizationLabels.text1}}</p>
                <p class="share-profile__organization-name">{{_organization.name}}</p>
              </div>

              {{#if isOrganizationHasTypeSupOrPro}}
                <div class="share-profile__row share-profile__row--student-code">
                  <p>{{organizationLabels.personalCode}}</p>
                  {{input class="pix-modal__input share-profile__student-code-input" value=_studentCode maxlength=255}}
                </div>
              {{/if}}

              <div class="share-profile__row share-profile__row--campaign-code">
                <p>Précisez le code campagne s'il vous a été fourni :</p>
                {{input class="pix-modal__input share-profile__campaign-code-input" value=_campaignCode maxlength=255}}
              </div>

              <div class="share-profile__row share-profile__row--disclaimer">
                <p><strong>{{organizationLabels.text2}}</strong></p>
                <ul>
                  <li>votre nom et prénom</li>
                  <li>l'état actuel de votre profil</li>
                  <li>{{organizationLabels.text3}}</li>
                </ul>
                <p>{{organizationLabels.text4}}</p>
              </div>
            </section>
         </div>

         <div class="pix-modal-footer pix-modal-footer--with-centered-buttons pix-modal-footer--border">
           <button class="button share-profile__confirm-button" {{action "shareSnapshotAndGoToSuccessNotificationView"}}>Envoyer</button>
           <button class="button button--grey share-profile__cancel-button" {{action "cancelSharingAndGoBackToOrganizationCodeEntryView"}}>Annuler</button>
         </div>

       {{else}}

         <div class="pix-modal-body">
            <section class="share-profile__section share-profile__section--success-notification">
              <div class="share-profile__row">
                <p class="share-profile__statement">Votre profil a été envoyé avec succès.</p>
              </div>
            </section>
         </div>

         <div class="pix-modal-footer pix-modal-footer--with-centered-buttons pix-modal-footer--border">
           <button class="button share-profile__close-button" {{action "closeModal"}}>Fermer</button>
         </div>
       {{/if}}

    </div>

  {{/pix-modal}}
{{/if}}


{{yield}}

