<main class="sign-form__container">
  <a href={{this.homeUrl}} class="pix-logo__link">
    <img class="pix-logo__image" src="{{@rootURL}}/images/pix-logo.svg" alt="{{t 'navigation.homepage'}}">
  </a>

  <div class="sign-form__header">
    <h1 class="sign-form-title">{{t 'pages.sign-up.first-title'}}</h1>
    <div class="sign-form-header__subtitle">
      <span class="sign-form-header-subtitle">{{t 'common.or'}}</span>
      <LinkTo @route="login" class="link">{{t 'pages.sign-up.subtitle.link'}}</LinkTo>
    </div>
  </div>

  {{#if this.errorMessage}}
    <div class="sign-form__notification-message sign-form__notification-message--error" aria-live="polite">
      {{this.errorMessage}}
    </div>
  {{/if}}

  {{#if this.notificationMessage}}
    <div class="sign-form__notification-message sign-form__notification-message--success" aria-live="polite">
      {{this.notificationMessage}}
    </div>
  {{/if}}

  <form {{on "submit" this.signup}} class="sign-form__body">
    <span class="sign-form-body__instruction">{{t 'common.form.mandatory-fields' htmlSafe=true}}</span>

    <div class="sign-form-body__input">
      <FormTextfield @label="{{t 'pages.sign-up.fields.firstname.label'}}"
                     @textfieldName="firstName"
                     @inputBindingValue={{@user.firstName}}
                     @onValidate={{this.validateInput}}
                     @validationStatus={{this.validation.firstName.status}}
                     @validationMessage={{this.validation.firstName.message}}
                     @autocomplete="given-name"
                     @require={{true}} />
    </div>

    <div class="sign-form-body__input">
      <FormTextfield @label="{{t 'pages.sign-up.fields.lastname.label'}}"
                     @textfieldName="lastName"
                     @inputBindingValue={{@user.lastName}}
                     @onValidate={{this.validateInput}}
                     @validationStatus={{this.validation.lastName.status}}
                     @validationMessage={{this.validation.lastName.message}}
                     @autocomplete="family-name"
                     @require={{true}} />
    </div>

    <div class="sign-form-body__input">
      <FormTextfield @label="{{t 'pages.sign-up.fields.email.label'}}"
                     @help="{{t 'pages.sign-up.fields.email.help'}}"
                     @textfieldName="email"
                     @validationStatus={{this.validation.email.status}}
                     @onValidate={{this.validateInputEmail}}
                     @inputBindingValue={{@user.email}}
                     @validationMessage={{this.validation.email.message}}
                     @autocomplete="email"
                     @require={{true}} />
    </div>

    <div class="sign-form-body__input">
      <FormTextfield @label="{{t 'pages.sign-up.fields.password.label'}}"
                     @help="{{t 'pages.sign-up.fields.password.help'}}"
                     @textfieldName="password"
                     @validationStatus={{this.validation.password.status}}
                     @onValidate={{this.validateInputPassword}}
                     @inputBindingValue={{@user.password}}
                     @validationMessage={{this.validation.password.message}}
                     @autocomplete="new-password"
                     @require={{true}} />
    </div>

    <div class="signup-form__cgu-container">
      <label for="pix-cgu" class="signup-form__cgu-label">
        <div class="signup-form__cgu">
          <Input @type="checkbox" @id="pix-cgu" @checked={{@user.cgu}} />
           {{t 'pages.sign-up.fields.cgu.label' cguUrl=this.cguUrl htmlSafe=true}}
          <a href={{this.cguUrl}} class="link" target="_blank" rel="noopener noreferrer"> {{t 'pages.sign-up.fields.cgu.cgu' cguUrl=this.cguUrl htmlSafe=true}} </a>
        </div>

        {{#if @user.errors.cgu}}
          <div class="sign-form__validation-error">
            {{t 'pages.sign-up.fields.cgu.error'}}
          </div>
        {{/if}}
      </label>
    </div>

    <div class="sign-form-body__bottom-button">
      {{#if this.isLoading}}
        <button type="button" disabled class="button button--uppercase button--thin button--round button--big">
          <span class="loader-in-button">&nbsp;</span>
        </button>
      {{else}}
        <button type="submit" class="button button--uppercase button--thin button--round button--big">
          {{t 'pages.sign-up.actions.submit'}}
        </button>
      {{/if}}
    </div>

    <div class="signup-form__legal-details-container">
      {{t 'pages.sign-up.legal-information' }}
    </div>

  </form>
</main>
