<div class="sign-form__container">

  <a href={{homeUrl}} class="pix-logo__link" title="{{t 'navigation.homepage.link'}}">
    <img class="pix-logo__image" src="{{rootURL}}/images/pix-logo.svg" alt="Pix">
  </a>

  <div class="sign-form__header">
    <h1 class="sign-form-title">{{t 'signup-form.title'}}</h1>
    <div class="sign-form-header__subtitle">
      <span class="sign-form-header-subtitle">{{t 'common.or'}}</span>
      <LinkTo @route="login" class="link">{{t 'signup-form.subtitle.link'}}</LinkTo>
    </div>
  </div>

  {{#if _notificationMessage}}
    <div class="sign-form__notification-message sign-form__notification-message--success" aria-live="polite">
      {{_notificationMessage}}
    </div>
  {{/if}}

  <form {{action "signup" on="submit"}} class="sign-form__body">
    <span class="sign-form-body__instruction">{{t 'common.form.mandatory-fields' htmlSafe=true}}</span>

    <div class="sign-form-body__input">
      <FormTextfield @label="{{t 'signup-form.fields.firstname.label'}}"
                     @textfieldName="firstName"
                     @inputBindingValue={{user.firstName}}
                     @onValidate={{action "validateInput"}}
                     @validationStatus={{validation.firstName.status}}
                     @validationMessage={{validation.firstName.message}}
                     @autocomplete="given-name"
                     @require={{true}} />
    </div>

    <div class="sign-form-body__input">
      <FormTextfield @label="{{t 'signup-form.fields.lastname.label'}}"
                     @textfieldName="lastName"
                     @inputBindingValue={{user.lastName}}
                     @onValidate={{action "validateInput"}}
                     @validationStatus={{validation.lastName.status}}
                     @validationMessage={{validation.lastName.message}}
                     @autocomplete="family-name" @require={{true}} />
    </div>

    <div class="sign-form-body__input">
      <FormTextfield @label="{{t 'signup-form.fields.email.label'}}"
                     @help="{{t 'signup-form.fields.email.help'}}"
                     @textfieldName="email"
                     @validationStatus={{validation.email.status}}
                     @onValidate={{action "validateInputEmail"}}
                     @inputBindingValue={{user.email}}
                     @validationMessage={{validation.email.message}}
                     @autocomplete="email" @require={{true}} />
    </div>

    <div class="sign-form-body__input">
      <FormTextfield @label="{{t 'signup-form.fields.password.label'}}"
                     @help="{{t 'signup-form.fields.password.help'}}"
                     @textfieldName="password"
                     @validationStatus={{validation.password.status}}
                     @onValidate={{action "validateInputPassword"}}
                     @inputBindingValue={{user.password}}
                     @validationMessage={{validation.password.message}}
                     @autocomplete="new-password"
                     @require={{true}} />
    </div>

    <div class="signup-form__cgu-container">
      <label for="pix-cgu" class="signup-form__cgu-label">
        <div class="signup-form__cgu">
          <Input @type="checkbox" @id="pix-cgu" @checked={{user.cgu}} />
           {{t 'signup-form.fields.cgu.label' htmlSafe=true}}
        </div>

        {{#if user.errors.cgu}}
          <div class="sign-form__validation-error">
            {{t 'signup-form.fields.cgu.error'}}
          </div>
        {{/if}}
      </label>
    </div>

    {{#if isRecaptchaEnabled}}
      <div class="signup-form__captcha-container">
        {{#if user.errors.recaptchaToken}}
          <div class="sign-form__validation-error">{{user.errors.recaptchaToken.firstObject.message}}</div>
        {{/if}}
        <GRecaptcha @recaptchaToken={{user.recaptchaToken}} @tokenHasBeenUsed={{_tokenHasBeenUsed}} />
      </div>
    {{/if}}

    <div class="sign-form-body__bottom-button {{if isRecaptchaEnabled "" "sign-form-body__bottom-button--margin-top"}}">
      {{#if isLoading}}
        <button type="button" disabled class="button button--uppercase button--thin button--round button--big">
          <span class="loader-in-button">&nbsp;</span>
        </button>
      {{else}}
        <button type="submit" class="button button--uppercase button--thin button--round button--big">
          {{t 'signup-form.actions.submit'}}
        </button>
      {{/if}}
    </div>

    <div class="signup-form__legal-details-container">
      {{t 'signup-form.legal-information' }}
    </div>

  </form>
</div>
