<div class="sign-form__container">

  <a href={{urlHome}} class="pix-logo__link" title="Page d'accueil">
    <img class="pix-logo__image" src="{{rootURL}}/images/pix-logo.svg" alt="Pix">
  </a>

  <div class="sign-form__header">
    <h1 class="sign-form-title">Inscrivez-vous</h1>
    <div class="sign-form-header__subtitle">
      <span class="sign-form-header-subtitle">ou</span>
      <LinkTo @route="login" class="link">connectez-vous à votre compte</LinkTo>
    </div>
  </div>

  {{#if _notificationMessage}}
    <div class="sign-form__notification-message sign-form__notification-message--success" aria-live="polite">
      {{_notificationMessage}}
    </div>
  {{/if}}

  <form {{action "signup" on="submit"}} class="sign-form__body">
    <span class="sign-form-body__instruction">Les champs marqués de <abbr title="obligatoire">*</abbr> sont obligatoires.</span>

    <div class="sign-form-body__input">
      <FormTextfield @label="Prénom" @textfieldName="firstName" @inputBindingValue={{user.firstName}} @onValidate={{action "validateInput"}} @validationStatus={{validation.firstName.status}} @validationMessage={{validation.firstName.message}} @autocomplete="given-name" @require={{true}} />
    </div>

    <div class="sign-form-body__input">
      <FormTextfield @label="Nom" @textfieldName="lastName" @inputBindingValue={{user.lastName}} @onValidate={{action "validateInput"}} @validationStatus={{validation.lastName.status}} @validationMessage={{validation.lastName.message}} @autocomplete="family-name" @require={{true}} />
    </div>

    <div class="sign-form-body__input">
      <FormTextfield @label="Adresse e-mail" @help="(ex: nom@exemple.fr)" @textfieldName="email" @validationStatus={{validation.email.status}} @onValidate={{action "validateInputEmail"}} @inputBindingValue={{user.email}} @validationMessage={{validation.email.message}} @autocomplete="email" @require={{true}} />
    </div>

    <div class="sign-form-body__input">
      <FormTextfield @label="Mot de passe" @help="(8 caractères minimum, dont une majuscule, une minuscule et un chiffre)" @textfieldName="password" @validationStatus={{validation.password.status}} @onValidate={{action "validateInputPassword"}} @inputBindingValue={{user.password}} @validationMessage={{validation.password.message}} @autocomplete="new-password" @require={{true}} />
    </div>

    <div class="signup-form__cgu-container">



      <label for="pix-cgu" class="signup-form__cgu-label">
        <div class="signup-form__cgu">
          <Input @type="checkbox" @id="pix-cgu" @checked={{user.cgu}} />
           <abbr title="obligatoire">*</abbr> J'accepte les <a href="https://pix.fr/conditions-generales-d-utilisation" class="link" target="_blank">conditions d'utilisation de Pix</a>
        </div>

        {{#if user.errors.cgu}}
          <div class="sign-form__validation-error">
            {{user.errors.cgu.firstObject.message}}
          </div>
        {{/if}}
      </label>
    </div>

    {{#if isRecaptchaEnabled}}
      <div class="signup-form__captcha-container">
        {{#if user.errors.recaptchaToken}}
          <div class="sign-form__validation-error">{{user.errors.recaptchaToken.firstObject.message}}</div>
        {{/if}}
        <GRecaptcha @recaptchaToken={{user.recaptchaToken}} @tokenHasBeenUsed={{_tokenHasBeenUsed}} />
      </div>
    {{/if}}

    <div class="sign-form-body__bottom-button {{if isRecaptchaEnabled "" "sign-form-body__bottom-button--margin-top"}}">
      {{#if isLoading}}
        <button type="button" disabled class="button button--uppercase button--thin button--round button--big">
          <span class="loader-in-button">&nbsp;</span>
        </button>
      {{else}}
        <button type="submit" class="button button--uppercase button--thin button--round button--big">
          Je m'inscris
        </button>
      {{/if}}
    </div>

    <div class="signup-form__legal-details-container">
      Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par Pix
      pour permettre l'accès au service offert par Pix.
      Elles sont conservées pendant une durée de 5 ans maximum à compter du dernier accès au compte utilisateur,
      et archivées selon les délais de prescription légale (5 ans).
      Elles sont destinées à Pix et à ses prestataires techniques exclusivement.
      Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en envoyant un mail à dpd@pix.fr.
    </div>

  </form>
</div>
