<div class="sign-form__container">

  <a href={{urlHome}} class="pix-logo__link" title="Lien vers la page d'accueil de Pix">
    <img class="pix-logo__image" src="{{rootURL}}/images/pix-logo.svg" alt="Pix">
  </a>

  <div class="sign-form__header">
    <h1 class="sign-form-title">Inscrivez-vous</h1>
    <div class="sign-form-header__subtitle">
      <span class="sign-form-header-subtitle">ou</span>
      {{#link-to 'login' class="link"}}connectez-vous à votre compte{{/link-to}}
    </div>
  </div>

  {{#if _notificationMessage}}
    <div class="sign-form__notification-message sign-form__notification-message--success" aria-live="polite">
      {{_notificationMessage}}
    </div>
  {{/if}}

  <form {{action "signup" on="submit"}} class="sign-form__body">

    <div class="sign-form-body__input">
      {{form-textfield
        label="Prénom"
        textfieldName="firstName"
        inputBindingValue=user.firstName
        onValidate=(action "validateInput")
        validationStatus=validation.firstName.status
        validationMessage=validation.firstName.message
        autocomplete="given-name"}}
    </div>

    <div class="sign-form-body__input">
      {{form-textfield
        label="Nom"
        textfieldName="lastName"
        inputBindingValue=user.lastName
        onValidate=(action "validateInput")
        validationStatus=validation.lastName.status
        validationMessage=validation.lastName.message
        autocomplete="family-name"}}
    </div>

    <div class="sign-form-body__input">
      {{form-textfield
        label="Adresse Email"
        textfieldName="email"
        validationStatus=validation.email.status
        onValidate=(action "validateInputEmail")
        inputBindingValue=user.email
        validationMessage=validation.email.message
        autocomplete="email"}}
    </div>

    <div class="sign-form-body__input">
      {{form-textfield
        label="Mot de passe"
        textfieldName="password"
        textfieldType="password"
        validationStatus=validation.password.status
        onValidate=(action "validateInputPassword")
        inputBindingValue=user.password
        validationMessage=validation.password.message
        autocomplete="new-password"}}
    </div>

    <div class="signup-form__cgu-container">

      {{#if user.errors.cgu}}
        <div class="sign-form__validation-error sign-form-validation-error">
          {{user.errors.cgu.firstObject.message}}
        </div>
      {{/if}}

      <label for="pix-cgu" class="signup-form__cgu-label">
        {{input type="checkbox" id='pix-cgu' checked=user.cgu}}
        <span class="signup-form__cgu">
        J'​accepte les <a href="https://pix.fr/conditions-generales-d-utilisation" class="link" target="_blank">conditions d'​utilisation de Pix</a>
      </span>
      </label>
    </div>

    {{#if isRecaptchaEnabled}}
      <div class="signup-form__captcha-container">
        {{#if user.errors.recaptchaToken}}
          <div class="sign-form__validation-error  sign-form-validation-error">{{user.errors.recaptchaToken.firstObject.message}}</div>
        {{/if}}
        {{g-recaptcha recaptchaToken=user.recaptchaToken tokenHasBeenUsed=_tokenHasBeenUsed}}
      </div>
    {{/if}}

    <div class="sign-form-body__bottom-button {{if isRecaptchaEnabled "" "sign-form-body__bottom-button--margin-top"}}">
      <button type="submit" class="button button--uppercase button--thin button--round button--big">
        Je m'inscris
      </button>
    </div>

    <div class="signup-form__legal-details-container">
      Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par Pix pour
      permettre l'accès au service offert par Pix.
      Elles sont conservées pendant la durée d'utilisation du service et sont destinées à Pix exclusivement. Elles ne
      sont pas communiquées à des tiers.
      Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous
      concernant et les faire rectifier en envoyant un mail à dpo@pix.fr.
    </div>

  </form>
</div>
