<div class="tutorial-item">
  <div class="tutorial__content">
    <a target="_blank" rel="noopener noreferrer" href="{{tutorial.link}}"
       class="tutorial-content__title">{{tutorial.title}}</a>
    <div class="tutorial-content__description">
      <span class="tutorial-content__source">Par {{tutorial.source}}</span>
      • <span class="tutorial-content__format">{{tutorial.format}}</span>
      • <span class="tutorial-content__duration">{{moment-duration tutorial.duration}}</span>
    </div>
    {{#if isUserTutorialsPage}}
      <p class="tutorial-content__competence-name">S'insérer dans le monde numérique</p>
    {{/if}}
    <button class="tutorial-content__save-tutorial" title="Enregistrer dans ma liste de tutos">
      <FaIcon @prefix="far" @icon='bookmark'></FaIcon>
      Enregister
    </button>
  </div>
</div>
