<a class="tutorial" target="_blank" rel="noopener noreferrer" href="{{tutorial.link}}">
  <div class="tutorial__header">
    <h4 class="tutorial-header__title">{{tutorial.title}}</h4>
    <p class="tutorial-header__source">par {{tutorial.source}}</p>
  </div>
  <div class="tutorial__statistics">
    <div class="tutorial-statistics__content-type">
      <img src="/images/icons/icon-{{formatImageName}}-on-scorecard.svg" alt="{{tutorial.format}}">
      <span>{{tutorial.format}}</span>
    </div>
    <span class="tutorial-statistics__duration">{{fa-icon 'clock'}} {{displayedDuration}}</span>
  </div>
</a>
