<div class="tutorial-item">
  <div class="tutorial__content">
    <a target="_blank" rel="noopener noreferrer" href="{{tutorial.link}}"
       class="tutorial-content__title">{{tutorial.title}}</a>
    <div class="tutorial-content__description">
      <span class="tutorial-content__source">Par {{tutorial.source}}</span>
      • <span class="tutorial-content__format">{{tutorial.format}}</span>
      • <span class="tutorial-content__duration">{{moment-duration tutorial.duration}}</span>
    </div>
    {{#if this.currentUser.user}}
      <button class="tutorial-content__save-tutorial" title={{this.saveButtonTitle}}
        {{on 'click' this.saveTutorial}}
              disabled={{this.isSaveButtonDisabled}}>
        <FaIcon @prefix={{if this.isSaved 'fas' 'far'}} @icon='bookmark'></FaIcon>
        {{saveButtonText}}
      </button>
    {{/if}}
  </div>
</div>
