<div class="tutorial-item">
  <div class="tutorial__content">
    <a target="_blank" rel="noopener noreferrer" href="{{tutorial.link}}"
       class="tutorial-content__title">{{tutorial.title}}</a>
    <div class="tutorial-content__description">
      <span class="tutorial-content__source">Par {{tutorial.source}}</span>
      • <span class="tutorial-content__format">{{tutorial.format}}</span>
      • <span class="tutorial-content__duration">{{moment-duration tutorial.duration}}</span>
    </div>
    {{#if this.currentUser.user}}
      <div class="tutorial-content__actions">
        <button class="tutorial-content-actions__save" title={{this.buttonTitle}}
          {{on 'click' (if this.isSaved this.removeTutorial this.saveTutorial)}}
          disabled={{this.isSaveButtonDisabled}}>
          <FaIcon @prefix={{if this.isSaved 'fas' 'far'}} @icon='bookmark'/>
          {{buttonText}}
        </button>
        <button class="tutorial-content-actions__evaluate" title="Donner mon avis sur ce tuto"
          {{on 'click' this.evaluateTutorial}}
          disabled={{this.isEvaluateButtonDisabled}}>
          <FaIcon @prefix={{if this.isEvaluated 'fas' 'far'}} @icon='thumbs-up'/>
          Tuto utile
        </button>
      </div>
    {{/if}}
  </div>
</div>
