<div class="tutorial-item">
  <div class="tutorial__content">
    <a target="_blank" rel="noopener noreferrer" href="{{this.tutorial.link}}" class="tutorial-content__title">{{this.tutorial.title}}</a>
    <div class="tutorial-content__description">
      <span class="tutorial-content__source">Par {{this.tutorial.source}}</span>
      • <span class="tutorial-content__format">{{this.tutorial.format}}</span>
      • <span class="tutorial-content__duration">{{moment-duration this.tutorial.duration}}</span>
    </div>
    {{#if this.currentUser.user}}
      <button class="tutorial-content__save-tutorial" title={{this.buttonTitle}} {{on 'click' (if this.isSaved this.removeTutorial this.saveTutorial)}} disabled={{this.isButtonDisabled}}>
        <FaIcon @prefix={{if this.isSaved 'fas' 'far'}} @icon='bookmark'></FaIcon>
        {{this.buttonText}}
      </button>
    {{/if}}
  </div>
</div>
