<div class="update-expired-password-form__container">

    <a href={{this.homeUrl}} class="pix-logo__link" title="Lien vers la page d'accueil de Pix">
      <img class="pix-logo__image" src="{{@rootURL}}/images/pix-logo.svg" alt="Pix">
    </a>

    <div class="update-expired-password-form__header">
      <h1 class="update-expired-password-form-title">Réinitialiser le mot de passe</h1>

      {{#unless this.authenticationHasFailed}}
        <div class="update-expired-password-form-header__instruction update-expired-password-form-subtitle">
          Choisissez un nouveau mot de passe pour continuer
        </div>
      {{/unless}}
    </div>

    {{#unless this.authenticationHasFailed}}
      <form {{on "submit" this.handleUpdatePasswordAndAuthenticate}} class="update-expired-password-form__body">

        <div class="update-expired-password-form-body__input">
          <FormTextfield @label="Mot de passe"
                         @help="(8 caractères minimum, dont une majuscule, une minuscule et un chiffre)"
                         @textfieldName="password"
                         @inputBindingValue={{this.newPassword}}
                         @onValidate={{this.validatePassword}}
                         @validationStatus={{this.validation.status}}
                         @validationMessage={{this.validation.message}}
                         @required="true" />
        </div>

        <div class="update-expired-password-form-body__bottom-button update-expired-password-form-body__bottom-button--big">
          {{#if this.isLoading}}
            <button type="button" disabled class="button button--thin button--round button--big">
              <span class="loader-in-button">&nbsp;</span>
            </button>
          {{else}}
            <button type="submit" class="button button--thin button--round update-expired-password-form-body__bottom-button--round">
              Réinitialiser
            </button>
          {{/if}}
        </div>
      </form>
    {{/unless}}

    {{#if this.authenticationHasFailed}}
      <div class="update-expired-password-form__body">
        <div class="password-reset-demand-form__body password-reset-demand-form__body--centered update-expired-password-form-text" aria-live="polite">
          Votre mot de passe a été mis à jour.
        </div>
        <div class="update-expired-password-form-body__bottom-button update-expired-password-form-body__bottom-button--big">
          <LinkTo @route="login" class="button button--link button--uppercase button--thin button--round">
            Je me connecte
          </LinkTo>
        </div>
      </div>
    {{/if}}
  </div>