{{#if @certification.date}}
  <div class="user-certifications-detail-header">
    <UserCertificationsHexagonScore @score={{@certification.pixScore}} />
    <div class="user-certifications-detail-header__info-certificate">
      <h1>{{t "certificate.title"}}</h1>

      <p class="user-certifications-detail-header__info-certificate--grey">
        {{t "certificate.issued-on"}}{{format-date @certification.deliveredAt format="LL"}}
      </p>
      <p class="user-certifications-detail-header__info-certificate--grey">
        {{t "certificate.validity"}}
      </p>

      <p>{{@certification.fullName}}</p>
      <p>
        {{t "certificate.candidate-birth-complete" birthdate=birthdate birthplace=@certification.birthplace}}
      </p>

      {{#if @certification.certificationCenter}}
        <p>{{t "certificate.certification-center"}}{{@certification.certificationCenter}}</p>
      {{/if}}

      <p>{{t "certificate.exam-date"}}{{format-date @certification.date format="LL"}}</p>

    </div>
  </div>
{{/if}}
