<img src="{{rootURL}}/images/icons/icon-certification.svg"
     alt=""
     class="user-certifications-detail-header__icon">

<div class="user-certifications-detail-header__data-box">
  {{#if certification.date}}
    <p class="user-certifications-detail-header__data-box-title">
      <span class="user-certifications-detail-header__data-box-title-big">CERTIFICAT</span>
      obtenu le {{moment-format certification.date 'LL' locale='fr' allow-empty=true}}
    </p>
    <p>Nom : {{certification.firstName}} {{certification.lastName}}</p>
    <p>Date de naissance : {{moment-format certification.birthdate 'LL' locale='fr' allow-empty=true}}</p>
    <p>Lieu de naissance : {{certification.birthplace}}</p>
    {{#if certification.certificationCenter}}
      <p>Centre de certification : {{certification.certificationCenter}}</p>
    {{/if}}
  {{/if}}
</div>
