{{#if currentUser.user}}
  <div class="logged-user-name" aria-haspopup="true" aria-expanded="{{_canDisplayMenu}}">
    <a href="#" class="logged-user-name__link" {{action 'toggleUserMenu'}}>
      {{currentUser.user.firstName}}
      <span class="caret"></span>
    </a>
  </div>

  {{#if _canDisplayMenu}}
    {{#click-outside action=(action 'closeMenu')}}
      <div class="logged-user-menu">
        <div class="logged-user-menu__details">
          <div class="logged-user-menu-details__fullName">{{currentUser.user.fullName}}</div>
          <div class="logged-user-menu-details__email">{{currentUser.user.email}}</div>
        </div>
        {{#link-to 'user-certifications' class="logged-user-menu__link"}}
          Mes certifications
        {{/link-to}}
        {{#link-to 'logout' class="logged-user-menu__link logged-user-menu__link--last"}}
          {{fa-icon "power-off" class="logged-user-menu__icon"}}
          Se déconnecter
        {{/link-to}}
      </div>
    {{/click-outside}}
  {{/if}}
{{/if}}
