<img src="{{rootURL}}/images/icons/icon-certification.svg"
     alt=""
     class="user-certifications-detail-header__icon">

<div class="user-certifications-detail-header__data-box">
  <p class="user-certifications-detail-header__data-box-title">
    <span class="user-certifications-detail-header__data-box-title-big">CERTIFICAT</span>
    {{#if certification.date}}
      obtenu le {{moment-format certification.date 'LL' locale='fr'}}
    {{/if}}
  </p>
  {{#if certification.lastName}}
    <p>Nom : {{certification.firstName}} {{certification.lastName}}</p>
  {{/if}}
  {{#if certification.birthdate}}
    <p>Date de naissance : {{moment-format certification.birthdate 'LL' locale='fr'}}</p>
  {{/if}}
  {{#if certification.certificationCenter}}
    <p>Centre de certification : {{certification.certificationCenter}}</p>
  {{/if}}
</div>
