<PixBlock>
    <div class="user-account-update-email">
      <h3>{{t 'pages.user-account.account-update-email.title'}}</h3>
      <div class="user-account-update-email__informations">
        <span>{{t 'pages.user-account.account-update-email.email-information' htmlSafe=true}}</span>
      </div>
      <form class="sign-form__body user-account-update-email__form">
        <div class="sign-form-body__input" data-test-new-email>
          <FormTextfield @label="{{t 'pages.user-account.account-update-email.fields.new-email.label'}}"
                       @textfieldName="newEmail"
                       @inputBindingValue={{this.newEmail}}
                       @onValidate={{this.validateNewEmail}}
                       @validationMessage={{this.newEmailValidation.message}}
                       @validationStatus={{this.newEmailValidation.status}}
                       @autocomplete="off"
                       @require={{true}}/>
        </div>
        <div class="sign-form-body__input" data-test-new-email-confirmation>
          <FormTextfield @label="{{t 'pages.user-account.account-update-email.fields.new-email-confirmation.label'}}"
                       @textfieldName="newEmailConfirmation"
                       @inputBindingValue={{this.newEmailConfirmation}}
                       @onValidate={{this.validateNewEmailConfirmation}}
                       @validationMessage={{this.newEmailConfirmationValidation.message}}
                       @validationStatus={{this.newEmailConfirmationValidation.status}}
                       @autocomplete="off"
                       @require={{true}}/>
        </div>
        <div class="user-account-update-email__informations">
          <span>{{t 'pages.user-account.account-update-email.password-information'}}</span>
        </div>
        <div class="sign-form-body__input" data-test-password>
          <FormTextfield @label="{{t 'pages.user-account.account-update-email.fields.password.label'}}"
                         @textfieldName="password"
                         @inputBindingValue={{this.password}}
                         @onValidate={{this.validatePassword}}
                         @validationMessage={{this.passwordValidation.message}}
                         @validationStatus={{this.passwordValidation.status}}
                         @autocomplete="new-password"
                         @require={{true}}/>
        </div>
        {{#if this.errorMessage}}
        <div class="user-account-update-email__error">
          <span data-test-error-message>{{this.errorMessage}}</span>
        </div>
        {{/if}}
        <div class="user-account-update-email__actions">
          <PixButton
                  class="user-account-update-email-actions__button"
                  @type="button"
                  @triggerAction={{@disableEmailEditionMode}}
                  @backgroundColor="transparent"
                  data-test-cancel-email>
          {{t 'common.actions.cancel'}}
          </PixButton>
          <PixButton
                  class="user-account-update-email-actions__button"
                  @type="submit"
                  @isDisabled={{not this.isFormValid}}
                  @triggerAction={{this.onSubmit}}
                  data-test-submit-email>
          {{t 'pages.user-account.account-update-email.save-button'}}
          </PixButton>
        </div>
      </form>
    </div>
</PixBlock>
