{{#if @certification.date}}
  <div class="user-certifications-detail-header">
    <UserCertificationsHexagonScore @score={{@certification.pixScore}} />
    <div class="user-certifications-detail-header__info-certificate">
      <h1>{{t "pages.certificate.title"}}</h1>

      <p class="user-certifications-detail-header__info-certificate--grey">
        {{t "pages.certificate.issued-on"}} {{format-date @certification.deliveredAt format="LL"}}
      </p>
      <p class="user-certifications-detail-header__info-certificate--grey">
        {{t "pages.certificate.validity"}}
      </p>

      <p>{{@certification.fullName}}</p>
      <p>
        {{t "pages.certificate.candidate-birth-complete" birthdate=birthdate birthplace=@certification.birthplace}}
      </p>

      {{#if @certification.certificationCenter}}
        <p>{{t "pages.certificate.certification-center"}} {{@certification.certificationCenter}}</p>
      {{/if}}

      <p>{{t "pages.certificate.exam-date"}} {{format-date @certification.date format="LL"}}</p>

    </div>
  </div>
  {{#if this.isSharedCertificateActive}}
  {{#if @certification.verificationCode}}
    <div class="attestation-and-verification-code">
        <div class="verification-code">
          <h2 class="verification-code__title">
            {{t "pages.certificate.verification-code.title"}}
            <PixTooltip
                @class="verification-code__tooltip"
                @text={{t "pages.certificate.verification-code.tooltip"}}
                @position='top'
                @inline={{false}}
                >
              <div class="verification-code__title--info">{{t "pages.certificate.verification-code.info"}}</div>
            </PixTooltip>
          </h2>
          <span class="verification-code__box">
            <p class="verification-code__code">{{@certification.verificationCode}}</p>

            {{#if (is-clipboard-supported)}}
              <PixTooltip
                @text={{this.tooltipText}}
                @position='bottom'
                @inline={{true}}
                >
                  <CopyButton
                    @clipboardText={{@certification.verificationCode}}
                    @success={{this.clipboardSuccess}}
                    @classNames="icon-button">
                      <FaIcon class="verification-code__copy-button" @icon="copy" @prefix="far" alt="COPIER" />
                  </CopyButton>
              </PixTooltip>
            {{/if}}
          </span>
        </div>
    </div>
  {{/if}}
  {{/if}}
{{/if}}
