<PixBlock>
  <div class="user-account-panel__item">
    <span class="form-textfield__label user-account-panel-item__label">{{t 'pages.user-account.account-panel.first-name'}}</span>
    <span class="user-account-panel-item__value" data-test-firstName>{{@user.firstName}}</span>
  </div>
  <div class="user-account-panel__item">
    <span class="form-textfield__label user-account-panel-item__label">{{t 'pages.user-account.account-panel.last-name'}}</span>
    <span class="user-account-panel-item__value" data-test-lastName>{{@user.lastName}}</span>
  </div>

  {{#if this.displayEmail}}
  <div class="user-account-panel__item">
    <span class="form-textfield__label user-account-panel-item__label">{{t 'pages.user-account.account-panel.email'}}</span>
    <span class="user-account-panel-item__value" data-test-email>{{@user.email}}</span>
      <PixButton
              class="user-account-panel-item__button"
              @triggerAction={{@enableEmailEditionMode}}
              data-test-edit-email>
        {{t 'pages.user-account.account-panel.edit-button'}}
      </PixButton>
  </div>
  {{/if}}

  {{#if this.displayUsername}}
  <div class="user-account-panel__item">
    <span class="form-textfield__label user-account-panel-item__label">{{t 'pages.user-account.account-panel.username'}}</span>
    <span class="user-account-panel-item__value" data-test-username>{{@user.username}}</span>
  </div>
  {{/if}}
  {{#if this.displayLanguageSwitch}}
    <div class="user-account-panel__item">
      <span class="form-textfield__label user-account-panel-item__label">{{t 'pages.user-account.account-panel.lang'}}</span>
        <div class="user-account-panel-item__select">
          <PixSelect
            class="user-account-panel-item__value"
            @options={{this.options}}
            @onChange={{this.onChangeLang}}
            @selectedOption={{@user.lang}}
            data-test-lang
          />
        </div>
    </div>
  {{/if}}
</PixBlock>
