<div class="rounded-panel user-certifications-detail-competence user-certifications-detail-competence--{{@area.color}}">
  <h3 class="user-certifications-detail-competence__title">
    {{@area.title}}
    <span class="user-certifications-detail-competence__title--level">niveau</span>
  </h3>

  {{#each sortedCompetences as |competence index|}}
  <div>
    <p
      class="user-certifications-detail-competence__competence {{if (lt competence.level 0) "user-certifications-detail-competence__competence--disabled"}}">
      {{competence.name}}
      {{#if (eq competence.level 0)}}
      <span class="user-certifications-detail-competence__competence--level">-</span>
      {{else}}
      <span class="user-certifications-detail-competence__competence--level">{{competence.level}}</span>
      {{/if}}
    </p>
  </div>
  {{/each}}
</div>