{{#if @certification.date}}
  <div class="user-certifications-detail-header">
    <UserCertificationsHexagonScore @score={{@certification.pixScore}} />
    <div class="user-certifications-detail-header__info-certificate">

      <h1>Certificat Pix</h1>

      <p class="user-certifications-detail-header__info-certificate--grey">
        Délivré le {{moment-format @certification.deliveredAt 'LL' locale='fr' allow-empty=true}}
      </p>
      <p class="user-certifications-detail-header__info-certificate--grey">
        Certificat valable 3 ans
      </p>

      <p>{{@certification.fullName}}</p>
      <p>Né(e) le {{moment-format @certification.birthdate 'LL' locale='fr' allow-empty=true}} à {{@certification.birthplace}}</p>
      {{#if @certification.certificationCenter}}
      <p>Centre de certification : {{@certification.certificationCenter}}</p>
      {{/if}}
      <p>Date de passage : {{moment-format @certification.date 'LL' locale='fr' allow-empty=true}}</p>

    </div>
  </div>
{{/if}}
