<PixBlock>
  <div class="user-account-panel__item">
    <label class="form-textfield__label user-account-panel-item__label">{{t 'navigation.user.account-panel.first-name'}}</label>
    <span class="user-account-panel-item__value" data-test-firstName>{{@user.firstName}}</span>
  </div>
  <div class="user-account-panel__item">
    <label class="form-textfield__label user-account-panel-item__label">{{t 'navigation.user.account-panel.last-name'}}</label>
    <span class="user-account-panel-item__value" data-test-lastName>{{@user.lastName}}</span>
  </div>
  <div class="user-account-panel__item">
    <label class="form-textfield__label user-account-panel-item__label">{{t 'navigation.user.account-panel.email'}}</label>
    {{#if this.editionMode}}
      <Input
        data-test-modify-email-input
        class="user-account-panel-item__value"
        @value={{this.newEmail}}
      />
      <PixButton
          data-test-cancel-button
          class="button button--grey user-account-panel-item__button"
          @triggerAction={{this.toggleEditionMode}}>
        {{t 'common.actions.cancel'}}
      </PixButton>
      <PixButton
          data-test-save-button
          class="button user-account-panel-item__button"
          @triggerAction={{this.save}}>
        {{t 'common.actions.save'}}
      </PixButton>
    {{else}}
      <span class="user-account-panel-item__value" data-test-email>{{@user.email}}</span>
    {{/if}}

    {{#if this.displayModifyButton}}
      <PixButton
          data-test-modify-button
          class="button user-account-panel-item__button"
          @triggerAction={{this.toggleEditionMode}}>
        {{t 'common.actions.modify'}}
      </PixButton>
    {{/if}}
  </div>
  {{#if this.displayUsername}}
  <div class="user-account-panel__item">
    <label class="form-textfield__label user-account-panel-item__label">{{t 'navigation.user.account-panel.username'}}</label>
    <span class="user-account-panel-item__value" data-test-username>{{@user.username}}</span>
  </div>
  {{/if}}
</PixBlock>