<div class="rounded-panel challenge-item-warning">
  <div class="challenge-item-warning__instruction-primary">
    {{t 'pages.warning.instructions' time=this.allocatedHumanTime htmlSafe=true}}
  </div>

  <div class="challenge-item-warning__instruction-secondary">
    {{t 'pages.warning.further-instructions'}}
  </div>

  <div class="challenge-item-warning__allocated-time">
    <div class="challenge-allocated-time__jauge">
      <img class = "challenge-allocated-time-jauge__icon"
           src="/images/icon-timed-challenge.svg"
           alt=""
           role="presentation">
      <span class="challenge-allocated-time-jauge__value">{{this.allocatedTime}}</span>
    </div>
  </div>

  <div class="challenge-item-warning__action">
    <button {{on "click" @hasUserConfirmedWarning}}
            class="challenge-item-warning-action__confirmation-button"
            type="button">
      {{t 'pages.warning.action'}}
    </button>
  </div>
</div>
