{{!-- template-lint-disable no-implicit-this no-action --}}
<div class="rounded-panel challenge-item-warning">
  <div class="challenge-item-warning__instruction-primary">
    {{t 'pages.warning.instructions' time=allocatedHumanTime htmlSafe=true}}
  </div>

  <div class="challenge-item-warning__intruction-secondary">
    {{t 'pages.warning.further-instructions'}}
  </div>
  <div class="challenge-item-warning__allocated-time">
    <div class="challenge__allocated-time__jauge">
      <img class="challenge__allocated-time__warning-icon" src="/images/icon-timed-challenge.svg" alt="" role="presentation">
      <span class="challenge__allocated-time__value">{{allocatedTime}}</span>
    </div>
  </div>
  <div class="challenge-item-warning__action">
    <button {{action hasUserConfirmedWarning}} class="challenge-item-warning__confirm-btn" type="button">{{t 'pages.warning.action'}}</button>
  </div>
</div>
