<div class="challenge-item-warning">
  <div class="challenge-item-warning__instruction-primary">
    {{t 'pages.warning.instructions.part1'}}<span class="challenge-item-warning__instruction-time">{{allocatedHumanTime}}</span>{{t 'pages.warning.instructions.part2'}}
  </div>

  <div class="challenge-item-warning__intruction-secondary">
    {{t 'pages.warning.secondary'}}
  </div>
  <div class="challenge-item-warning__allocated-time">
    <div class="challenge__allocated-time__jauge">
      <img class="challenge__allocated-time__warning-icon" src="/images/icon-timed-challenge.svg" alt="Message d'avertissement">
      <span class="challenge__allocated-time__value">{{allocatedTime}}</span>
    </div>
  </div>
  <div class="challenge-item-warning__action">
    <button {{action hasUserConfirmedWarning}} class="challenge-item-warning__confirm-btn">{{t 'pages.warning.start'}}</button>
  </div>
</div>
