<table class="skill-review-competence__table">
  <caption class="sr-only">{{t "pages.skill-review.details.caption"}}</caption>
  <thead>
    <tr>
      <th class="skill-review-competence__column-header" scope="col">
        {{t "pages.skill-review.details.header-skill"}}
      </th>
      <th class="skill-review-competence__column-header" scope="col">
        {{t "pages.skill-review.details.header-result"}}
      </th>
    </tr>
  </thead>

  <tbody>
    {{#if @showCleaCompetences}}
      {{#each @skillSetResults as |skillSet|}}
        <tr class="skill-review-competence__row">
          <th scope="row" class="skill-review-competence__row-header">
            <span class="skill-review-competence__border" aria-hidden="true"></span>
            <span class="skill-review-competence__name">{{skillSet.name}}</span>
          </th>
          <td>
            <PixProgressGauge @value={{skillSet.masteryPercentage}} @tooltipText="{{skillSet.masteryPercentage}}%" />
          </td>
        </tr>
      {{/each}}
    {{else}}
      {{#each @competenceResults as |competence|}}
        <tr class="skill-review-competence__row">
          <th scope="row" class="skill-review-competence__row-header">
            <span
              class="skill-review-competence__border skill-review-competence__border--{{competence.areaColor}}"
              aria-hidden="true"
            ></span>
            <span class="skill-review-competence__name">{{competence.name}}</span>
          </th>
          <td>
            {{#if competence.flashPixScore}}
              {{t "pages.skill-review.details.flash-pix-score" score=competence.flashPixScore}}
            {{else}}
              <PixProgressGauge
                @value={{competence.masteryPercentage}}
                @tooltipText="{{competence.masteryPercentage}}%"
              />
            {{/if}}
          </td>
        </tr>
      {{/each}}
    {{/if}}

  </tbody>
</table>