{{page-title @module.title}}

<main class="module">
  <div class="module__title">
    <h1>{{@module.title}}</h1>
  </div>

  <div class="module__content" aria-live="assertive">
    <article class="grain">
      {{#each @module.elements as |element|}}

        <!--        Lesson-->

        {{#if element.isLesson}}
          <div class="element-lesson">
            {{html-safe element.content}}
          </div>
        {{/if}}

        <!--      QCU-->

        {{#if element.isQcu}}
          <div class="element-qcu">
            <div class="element-qcu__header">
              <p class="element-qcu-header__instruction">
                {{html-safe element.instruction}}
              </p>
              <p class="element-qcu-header__direction">
                {{t "pages.modulix.qcu.direction"}}
              </p>
            </div>
            <div class="element-qcu__proposals">
              {{#each element.proposals as |proposal|}}
                <PixRadioButton
                  name="radioss"
                  @value={{html-safe proposal}}
                  {{on "click" (fn this.radioClicked proposal)}}
                  data-value={{html-safe proposal}}
                  @class="element-qcu__radio"
                >
                  {{html-safe proposal}}
                </PixRadioButton>
              {{/each}}
            </div>
          </div>
        {{/if}}

        <!--        end-->

      {{/each}}
      <footer class="grain__footer">
        <PixButton @backgroundColor="blue" @shape="rounded" @triggerAction={{this.continueToNextGrain}}>
          {{t "pages.modulix.buttons.continue"}}
        </PixButton>
      </footer>
    </article>
  </div>
</main>