{{page-title @module.title}}

<main class="module">
  <div class="module__title">
    <h1>{{@module.title}}</h1>
  </div>

  <div class="module__content">
    <article class="grain">
      {{#each @module.grains as |grain|}}
        {{#each grain.elements as |element|}}
          {{#if element.isText}}
            <Module::Text @text={{element}} />
          {{else if element.isQcu}}
            <Module::Qcu @qcu={{element}} />
          {{/if}}
        {{/each}}
      {{/each}}
      <footer class="grain__footer">
        <PixButton @backgroundColor="blue" @shape="rounded" @triggerAction={{this.continueToNextGrain}}>
          {{t "pages.modulix.buttons.continue"}}
        </PixButton>
      </footer>
    </article>
  </div>
</main>