{{page-title @module.title}}

<main class="module">
  <div class="module__title">
    <h1>{{@module.title}}</h1>
  </div>

  <div class="module__content">
    {{#each this.grainsToDisplay as |grain index|}}
      <Module::Grain
        @grain={{grain}}
        @transition={{this.grainTransition grain.id}}
        @submitAnswer={{@submitAnswer}}
        @canDisplayContinueButton={{this.grainCanDisplayContinueButton index}}
        @continueAction={{this.addNextGrainToDisplay}}
        @skipAction={{this.addNextGrainToDisplay}}
      />
    {{/each}}
  </div>
</main>