<div class="panel participant-row participant-row__result">

  <div class="participant-results-content__summary">
    <div class="participant-content participant-content--large participant-content--wide">
      <div class="label-text participant-content__label-text">{{t 'pages.campaign-collective-results.table.column.validated-items'}}</div>
      <div class="content-text content-text--big">
        {{ @campaignCollectiveResult.averageValidatedSkillsSum }}
      </div>
    </div>
    <div class="participant-content participant-content--large participant-content--wide">
      <div class="label-text participant-content__label-text">{{t 'pages.campaign-collective-results.table.column.tested-items'}}</div>
      <div class="content-text content-text--big">
        {{ @campaignCollectiveResult.totalSkills }}
      </div>
    </div>
  </div>

  <div class="participant-content participant-results-content">
    <div aria-label={{t 'pages.campaign-collective-results.average'}} class="participant-results-content__score">
      <div class="content-text content-text--big content-text--bold">{{t 'pages.campaign-collective-results.result'}}</div>
      <div class="participant-results-content__circle-chart">
        <CircleChart @value={{@campaignCollectiveResult.averageResult}}>
          <span class="participant-results-content__circle-chart-value">
            {{@campaignCollectiveResult.averageResult}}%
          </span>
        </CircleChart>
      </div>
    </div>
  </div>

</div>
<div class="panel panel--light-shadow participant-results__details content-text content-text--small">


  <table aria-label={{t 'pages.campaign-collective-results.table.title'}}>
    <thead>
    <tr>
      <th class="table__column--wide">{{this.campaignCollectiveResultLabel}}</th>
      <th class="table__column--wide">{{t 'pages.campaign-collective-results.table.column.results.label'}}</th>
      <th class="table__column--small">{{t 'pages.campaign-collective-results.table.column.validated-items'}}</th>
      <th class="table__column--small">{{t 'pages.campaign-collective-results.table.column.tested-items'}}</th>
    </tr>
    </thead>

    {{#if @sharedParticipationsCount }}

      <tbody>
      {{#each @campaignCollectiveResult.campaignCompetenceCollectiveResults as |competenceResult|}}
        <tr aria-label={{t 'pages.campaign-collective-results.table.row-title'}}>
          <td class="competences-col__name">
            <span class="competences-col__border competences-col__border--{{competenceResult.areaColor}}"></span>
            <span>
              {{competenceResult.competenceName}}
            </span>
          </td>
          <td class="competences-col__gauge">
            <PixProgressGauge
              @value={{competenceResult.validatedSkillsPercentage}}
              @tooltipText={{t 'pages.campaign-collective-results.table.column.results.tooltip' result=competenceResult.validatedSkillsPercentage competence=competenceResult.competenceName htmlSafe=true}}
            />
          </td>
          <td>{{competenceResult.roundedAverageValidatedSkills}}</td>
          <td>{{competenceResult.targetedSkillsCount}}</td>
        </tr>
      {{/each}}
      </tbody>
    {{/if}}
  </table>

  {{#unless @sharedParticipationsCount }}
    <div class="table__empty content-text">{{t 'pages.campaign-collective-results.table.empty'}}</div>
  {{/unless}}

</div>
