<div class="register-form">
  <form {{action 'searchForMatchingStudent' on='submit'}}>
    <span class="register-form__required-inputs">Les champs marqués de <abbr title="obligatoire">*</abbr> sont obligatoires.</span>

    <div id="register-firstName-container">
      <FormTextfield @label="Prénom"
                     @textfieldName="firstName"
                     @inputBindingValue={{this.firstName}}
                     @onValidate={{action "triggerInputStringValidation" "firstName" this.firstName}}
                     @validationStatus={{this.validation.firstName.status}}
                     @validationMessage={{this.validation.firstName.message}}
                     @autocomplete="firstname"
                     @disabled={{this.matchingStudentFound}}
                     @require={{true}} />
    </div>

    <div id="register-lastName-container">
      <FormTextfield @label="Nom"
                     @textfieldName="lastName"
                     @inputBindingValue={{this.lastName}}
                     @onValidate={{action "triggerInputStringValidation" "lastName" this.lastName}}
                     @validationStatus={{this.validation.lastName.status}}
                     @validationMessage={{this.validation.lastName.message}}
                     @autocomplete="lastname"
                     @disabled={{this.matchingStudentFound}}
                     @require={{true}} />
    </div>

    <div id="register-birthdate-container">
      <FormTextfieldDate @label="Date de naissance (JJ/MM/AAAA)"
                         @dayTextfieldName="dayOfBirth"
                         @monthTextfieldName="monthOfBirth"
                         @yearTextfieldName="yearOfBirth"
                         @dayInputBindingValue={{this.dayOfBirth}}
                         @monthInputBindingValue={{this.monthOfBirth}}
                         @yearInputBindingValue={{this.yearOfBirth}}
                         @onValidateDay={{action "triggerInputDayValidation" "dayOfBirth" this.dayOfBirth}}
                         @onValidateMonth={{action "triggerInputMonthValidation" "monthOfBirth" this.monthOfBirth}}
                         @onValidateYear={{action "triggerInputYearValidation" "yearOfBirth" this.yearOfBirth}}
                         @dayValidationStatus={{this.validation.dayOfBirth.status}}
                         @monthValidationStatus={{this.validation.monthOfBirth.status}}
                         @yearValidationStatus={{this.validation.yearOfBirth.status}}
                         @dayValidationMessage={{this.validation.dayOfBirth.message}}
                         @monthValidationMessage={{this.validation.monthOfBirth.message}}
                         @yearValidationMessage={{this.validation.yearOfBirth.message}}
                         @disabled={{this.matchingStudentFound}}
                         @require={{true}} />
    </div>

    {{#if this.errorMessage}}
      <div class="register-form__error" aria-live="polite">{{this.errorMessage}}</div>
    {{/if}}

    {{#unless this.matchingStudentFound}}
      <div class="register-button-container">
        {{#if this.isLoading}}
          <button type="button" disabled class="button"><span class="loader-in-button">&nbsp;</span></button>
        {{else}}
          <button id="submit-search" type="submit" class="button button--uppercase">Je m'inscris</button>
        {{/if}}
      </div>
    {{/unless}}

  </form>

  {{#if this.matchingStudentFound}}

  <hr>

  <label class="register-form__login-options">Je m'inscris avec :</label>
  <div id="login-mode-container">
            <PixToggle @valueFirstLabel="Mon identifiant"
                       @valueSecondLabel="Mon adresse e-mail"
                       @onToggle={{action "onToggle"}} />
  </div>

  <form {{action 'register' on='submit'}} autocomplete="off">
    {{#if this.loginWithUsername}}
        <div id="register-username-container">
          <FormTextfield @label="Mon identifiant"
                         @textfieldName="username"
                         @inputBindingValue={{this.username}}
                         @onValidate={{action "triggerInputStringValidation" "username" this.username}}
                         @validationStatus={{this.validation.username.status}}
                         @validationMessage={{this.validation.username.message}}
                         @disabled={{true}}
                         @require={{true}} />
        </div>
    {{else}}
        <div id="register-email-container">
          <FormTextfield @label="Adresse e-mail"
                         @help="(ex: nom@exemple.fr)"
                         @textfieldName="email"
                         @inputBindingValue={{this.email}}
                         @onValidate={{action "triggerInputEmailValidation" "email" this.email}}
                         @validationStatus={{this.validation.email.status}}
                         @validationMessage={{this.validation.email.message}}
                         @require={{true}} />
        </div>
    {{/if}}
    <div id="register-password-container">
      <FormTextfield @label="Mot de passe"
                     @help="(8 caractères minimum, dont une majuscule, une minuscule et un chiffre)"
                     @textfieldName="password"
                     @inputBindingValue={{this.password}}
                     @onValidate={{action "triggerInputPasswordValidation" "password" this.password}}
                     @validationStatus={{this.validation.password.status}}
                     @validationMessage={{this.validation.password.message}}
                     @require={{true}} />
    </div>

    <div class="register-button-container">
      {{#if this.isLoading}}
        <button type="button" disabled class="button"><span class="loader-in-button">&nbsp;</span></button>
      {{else}}
        <button id="submit-registration" type="submit" class="button button--uppercase">Je m'inscris</button>
      {{/if}}
    </div>

    <LinkTo @route="campaigns.start-or-resume" @model={{@campaignCode}} class="link link--underline register-form__return-button">
      <span class="icon-button register-form-return-button__icon">
        <FaIcon @icon='arrow-left'></FaIcon>
      </span>
      Ce n'est pas moi
    </LinkTo>

  </form>
  {{/if}}

</div>
