{{page-title (t "pages.missions.list.title")}}
<div>
  <RobotDialog>
    <Bubble @message={{t "pages.missions.list.instruction" prenom=this.model.organizationLearner.firstName}} />
    <Bubble
      @message={{t
        "pages.missions.list.back-to-students"
        prenom=this.model.organizationLearner.firstName
        backUrl=this.schoolUrl
      }}
    />
  </RobotDialog>

  <div class="cards">
    {{#each @model.missions as |mission|}}
      <PixButton @triggerAction={{fn this.goToMission mission.id}} class="card">
        {{#if (this.isMissionCompleted mission.id)}}
          <MissionCard::CompletedMissionCard
            @missionLabelStatus={{t "pages.missions.list.status.completed.label"}}
            @title={{mission.name}}
            @areaCode={{mission.areaCode}}
          />
        {{else}}
          <MissionCard::MissionCard
            @missionLabelStatus={{this.getMissionLabelStatus mission.id}}
            @missionButtonLabel={{this.getMissionButtonLabel mission.id}}
            @title={{mission.name}}
            @areaCode={{mission.areaCode}}
            @displayStartedIcon={{this.isMissionStarted mission.id}}
          />
        {{/if}}
      </PixButton>
    {{/each}}
  </div>
</div>