<header class="page-section__header">
  <h2 class="page-section__title">Centres de certification de l’utilisateur</h2>
</header>
<div class="content-text content-text--small">
  <div class="table-admin">
    <table>
      <thead>
        <tr>
          <th class="table__column table__column--id">Membre ID</th>
          <th>Centre ID</th>
          <th>Nom</th>
          <th>Type</th>
          <th>Identifiant externe</th>
          <th>Actions</th>
        </tr>
      </thead>

      {{#if this.orderedCertificationCenterMemberships}}
        <tbody>
          {{#each this.orderedCertificationCenterMemberships as |certificationCenterMembership|}}
            <tr>
              <td>{{certificationCenterMembership.id}}</td>
              <td class="table__column table__column--id">
                <LinkTo
                  @route="authenticated.certification-centers.get"
                  @model={{certificationCenterMembership.certificationCenter.id}}
                >
                  {{certificationCenterMembership.certificationCenter.id}}
                </LinkTo>
              </td>
              <td>{{certificationCenterMembership.certificationCenter.name}}</td>
              <td>{{certificationCenterMembership.certificationCenter.type}}</td>
              <td>{{certificationCenterMembership.certificationCenter.externalId}}</td>
              <td>
                <PixButton
                  @size="small"
                  @backgroundColor="red"
                  @triggerAction={{fn this.disableCertificationCenterMembership certificationCenterMembership}}
                  class="member-item-actions__button"
                  @iconBefore="trash"
                >
                  Désactiver
                </PixButton>
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/if}}
    </table>

  </div>
  {{#unless this.orderedCertificationCenterMemberships}}
    <div class="table__empty">Aucun centre de certification</div>
  {{/unless}}
</div>