<div class="content-text content-text--small">
  <table class="table-admin">
    <thead>
      <tr>
        <th class="table__column table__column--id">ID</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Adresse électronique</th>
      </tr>
    </thead>

    {{#if @users}}
      <tbody>
        {{#each @users as |user|}}
          <tr aria-label="Informations de l'utilisateur {{user.firstName}} {{user.lastName}}">
            <td class="table__column table__column--id"><LinkTo @route="authenticated.users.get" @model={{user.id}}>
                {{user.id}}
              </LinkTo></td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
          </tr>
        {{/each}}
      </tbody>
    {{/if}}
  </table>

  {{#unless @users}}
    <div class="table__empty content-text">Aucun résultat</div>
  {{/unless}}
</div>

{{#if @users}}
  <PaginationControl @pagination={{@users.meta}} />
{{/if}}