<section class="page-section">
  <div class="user-detail-personal-information-section">
    {{#if this.isEditionMode}}
      <form class="form" {{on "submit" this.updateUserDetails}}>
        <span class="form__instructions">
          Les champs marqués de
          <abbr title="obligatoire" class="mandatory-mark" aria-hidden="true">*</abbr>
          sont obligatoires.
        </span>
        <div class="form-field">
          <PixInput
            @errorMessage={{this.form.firstNameError.message}}
            @validationStatus={{this.form.firstNameError.status}}
            @value={{this.form.firstName}}
            {{on "input" (fn this.updateFormValue "firstName")}}
          ><:label>
              <abbr title="obligatoire" class="mandatory-mark" aria-hidden="true">*</abbr>
              Prénom :
            </:label></PixInput>
        </div>
        <div class="form-field">
          <PixInput
            @errorMessage={{this.form.lastNameError.message}}
            @validationStatus={{this.form.lastNameError.status}}
            @value={{this.form.lastName}}
            {{on "input" (fn this.updateFormValue "lastName")}}
          >
            <:label>
              <abbr title="obligatoire" class="mandatory-mark" aria-hidden="true">*</abbr>
              Nom :
            </:label></PixInput>
        </div>
        {{#if this.canModifyEmail}}
          <div class="form-field">
            <PixInput
              @errorMessage={{this.form.emailError.message}}
              @validationStatus={{this.form.emailError.status}}
              @value={{this.form.email}}
              {{on "input" (fn this.updateFormValue "email")}}
            >
              <:label>
                <abbr title="obligatoire" class="mandatory-mark" aria-hidden="true">*</abbr>
                Adresse e-mail :
              </:label></PixInput>
          </div>
        {{/if}}
        {{#if @user.username}}
          <div class="form-field">
            <PixInput
              @errorMessage={{this.form.usernameError.message}}
              @validationStatus={{this.form.usernameError.status}}
              @value={{this.form.username}}
              {{on "input" (fn this.updateFormValue "username")}}
            ><:label>
                <abbr title="obligatoire" class="mandatory-mark" aria-hidden="true">*</abbr>
                Identifiant :
              </:label></PixInput>
          </div>
        {{/if}}
        <div class="form-field">
          <PixSelect
            @placeholder="-- Sélectionnez une langue --"
            @options={{this.languageOptions}}
            @value={{this.form.lang}}
            @onChange={{this.onChangeLanguage}}
            @hideDefaultOption={{true}}
          >
            <:label>Langue :</:label>
          </PixSelect>
        </div>
        <div class="form-field">
          <PixSelect
            @placeholder="-- Sélectionnez une locale --"
            @options={{this.localeOptions}}
            @value={{this.form.locale}}
            @onChange={{this.onLocaleChange}}
            @hideDefaultOption={{true}}
          >
            <:label>Locale :</:label>
          </PixSelect>
        </div>
        <div class="form-actions">
          <PixButton @size="small" @variant="secondary" @triggerAction={{this.cancelEdit}}>Annuler</PixButton>
          <PixButton @type="submit" @size="small" @variant="success">Modifier</PixButton>
        </div>
      </form>
    {{else}}
      <div>
        {{#if @user.hasBeenAnonymised}}
          <PixMessage @type="warning" class="user-detail-personal-information-section__anonymisation-message">
            {{this.anonymisationMessage}}
          </PixMessage>
        {{/if}}
      </div>
      <div class="user-detail-personal-information-section__content">
        <div>
          <ul class="user-detail-personal-information-section__infogroup">
            <li class="user-detail-personal-information-section__user-informations">Prénom : {{@user.firstName}}</li>
            <li class="user-detail-personal-information-section__user-informations">Nom : {{@user.lastName}}</li>
            <li class="user-detail-personal-information-section__user-informations">Langue : {{@user.lang}}</li>
            <li class="user-detail-personal-information-section__user-informations">Locale : {{@user.locale}}</li>
            <li class="user-detail-personal-information-section__user-informations">
              Date de création :
              {{#if @user.createdAt}}
                {{dayjs-format @user.createdAt "DD/MM/YYYY"}}
              {{/if}}
            </li>
          </ul>
          <ul class="user-detail-personal-information-section__infogroup">
            <li class="user-detail-personal-information-section__user-informations flex space-between gap-4x">
              <span>Adresse e-mail : {{@user.email}}</span>
              <span>
                {{#if @user.email}}
                  {{#if (is-clipboard-supported)}}
                    <PixTooltip @id="copy-email-tooltip" @position="top" @isInline={{true}}>
                      <:triggerElement>
                        <CopyButton
                          @text={{@user.email}}
                          aria-label="{{t 'components.users.user-detail-personal-information.actions.copy-email'}}"
                          aria-describedby="copy-user-email"
                          class="pix-icon-button pix-icon-button--small pix-icon-button--dark-grey"
                        >
                          <FaIcon @icon="copy" @prefix="far" />
                        </CopyButton>
                      </:triggerElement>
                      <:tooltip>{{this.tooltipTextEmail}}</:tooltip>
                    </PixTooltip>
                  {{/if}}
                {{/if}}
              </span>
            </li>
            <li class="user-detail-personal-information-section__user-informations flex space-between gap-4x">
              <span>Identifiant : {{@user.username}}</span>
              <span>
                {{#if @user.username}}
                  {{#if (is-clipboard-supported)}}
                    <PixTooltip @id="copy-username-tooltip" @position="top" @isInline={{true}}>
                      <:triggerElement>
                        <CopyButton
                          @text={{@user.username}}
                          aria-label="{{t 'components.users.user-detail-personal-information.actions.copy-username'}}"
                          aria-describedby="copy-user-id"
                          class="pix-icon-button pix-icon-button--small pix-icon-button--dark-grey"
                        >
                          <FaIcon @icon="copy" @prefix="far" />
                        </CopyButton>
                      </:triggerElement>
                      <:tooltip>{{this.tooltipTextUsername}}</:tooltip>
                    </PixTooltip>
                  {{/if}}
                {{/if}}
              </span>
            </li>
          </ul>
          <ul class="user-detail-personal-information-section__infogroup">
            <li class="user-detail-personal-information-section__user-informations">CGU Pix App validé :
              {{this.userHasValidatePixAppTermsOfService}}</li>
            <li class="user-detail-personal-information-section__user-informations">CGU Pix Orga validé :
              {{this.userHasValidatePixOrgaTermsOfService}}</li>
            <li class="user-detail-personal-information-section__user-informations">CGU Pix Certif validé :
              {{this.userHasValidatePixCertifTermsOfService}}</li>
          </ul>
          <ul class="user-detail-personal-information-section__infogroup">
            <li class="user-detail-personal-information-section__user-informations">Nombre de tentatives de connexion en
              erreur :
              {{@user.userLogin.failureCount}}</li>
            {{#if @user.userLogin.blockedAt}}
              <li class="user-detail-personal-information-section__user-informations">Utilisateur totalement bloqué le :
                {{dayjs-format @user.userLogin.blockedAt "DD/MM/YYYY HH:mm"}}</li>
            {{/if}}
            {{#if this.shouldDisplayTemporaryBlockedDate}}
              <li class="user-detail-personal-information-section__user-informations">Utilisateur temporairement bloqué
                jusqu'au :
                {{dayjs-format @user.userLogin.temporaryBlockedUntil "DD/MM/YYYY HH:mm"}}</li>
            {{/if}}
          </ul>
        </div>
        <div>
          <PixButtonLink
            @variant="secondary"
            @href={{this.externalURL}}
            @size="small"
            target="_blank"
            rel="noopener noreferrer"
          >Tableau de bord</PixButtonLink>
        </div>
      </div>
      <div class="form-actions">
        {{#if this.accessControl.hasAccessToUsersActionsScope}}
          <PixButton
            @size="small"
            @variant="secondary"
            @triggerAction={{this.changeEditionMode}}
            @isDisabled={{@user.hasBeenAnonymised}}
          >
            Modifier
          </PixButton>

          <PixTooltip @position="bottom" @hide={{not @user.isPixAgent}} @isInline="{{true}}">
            <:triggerElement>
              <PixButton
                @size="small"
                @variant="error"
                @triggerAction={{this.toggleDisplayAnonymizeModal}}
                @isDisabled={{this.isAnonymizationDisabled}}
              >
                Anonymiser cet utilisateur
              </PixButton>
            </:triggerElement>
            <:tooltip>Vous ne pouvez pas anonymiser le compte d'un agent Pix.</:tooltip>
          </PixTooltip>

          {{#if @user.userLogin.blockedAt}}
            <PixButton @variant="primary-bis" @triggerAction={{this.unblockUserAccount}} @size="small">
              Débloquer l'utilisateur
            </PixButton>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</section>

<ConfirmPopup
  @message="Êtes-vous sûr de vouloir anonymiser cet utilisateur ? Ceci n’est pas réversible."
  @confirm={{this.anonymizeUser}}
  @cancel={{this.toggleDisplayAnonymizeModal}}
  @submitButtonType="danger"
  @show={{this.displayAnonymizeModal}}
/>