<div class="panel">
  <table class="table content-text content-text--small participation-list__table">
    <thead>
      <tr>
        <Table::Header @size="wide">{{t
            "pages.organization-learner.activity.participation-list.table.column.campaign-name"
          }}</Table::Header>
        <Table::Header @size="medium" @align="left">{{t
            "pages.organization-learner.activity.participation-list.table.column.campaign-type"
          }}</Table::Header>
        <Table::Header @size="medium" @align="left">
          {{t "pages.organization-learner.activity.participation-list.table.column.created-at"}}
        </Table::Header>
        <Table::Header @size="medium" @align="left">{{t
            "pages.organization-learner.activity.participation-list.table.column.shared-at"
          }}</Table::Header>
        <Table::Header @size="medium" @align="left">{{t
            "pages.organization-learner.activity.participation-list.table.column.status"
          }}</Table::Header>
      </tr>
    </thead>
    <tbody>
      {{#each @participations as |participation|}}
        <OrganizationLearner::Activity::ParticipationRow @participation={{participation}} />
      {{/each}}
    </tbody>
  </table>
</div>