<section class="page-section tab-container">
  <header class="page-section-header">
    <h2 class="page-section-header__title">
      <span class="title__user-id">#{{model.id}}</span>
      <span class="title__user-name">{{model.firstName}} {{model.lastName}}</span>
      <span class="title__user-email">- {{model.email}}</span>
    </h2>
    <div class="page-section-header__actions">
      {{#bs-button}}Modifier{{/bs-button}}
    </div>
  </header>
  {{#bs-tab as |tab|}}
    <!-- Profil de compétences -->
    {{#tab.pane title="Profil de compétences"}}
      <!-- Profile areas -->
      <div class="profile">
        <div class="profile__panel profile__panel--areas">
          <h2 class="profile__panel-title">Niveau par compétence</h2>
          <ul class="profile-area-list">
            {{#each model.profileAreas as | area |}}
              <li class="profile-area-item">
                <div class="profile-area">
                  <p class="profile-area__name">{{area.name}}</p>
                  <div class="profile-competences">
                    <ul class="profile-competence-list">
                      {{#each area.profileCompetences as |competence|}}
                        <li class="profile-competence-item">
                          <div class="profile-competence">
                            <div class="profile-competence__overview">
                              <span class="profile-competence__name">{{competence.name}}</span>
                              {{#if competence.level}}
                                <span class="profile-competence__level">{{competence.level}}</span>
                              {{else}}
                                <span
                                  class="profile-competence__level profile-competence__level--invalidated">N/A</span>
                              {{/if}}

                            </div>
                            <div class="profile-competence__progression">
                              <div class="profile-competence__progression-background">
                                {{#each (repeat 8)}}
                                  <span class="profile-competence__progression-background-level"></span>
                                {{/each}}
                              </div>
                              <div class="profile-competence__progression-validated">
                                {{#each (repeat 8) as | empty index|}}
                                  {{#if (lt index competence.level)}}
                                    <span class="profile-competence__progression-validated-level"></span>
                                  {{else}}
                                    <span class="profile-competence__progression-validated-level hidden"></span>
                                  {{/if}}
                                {{/each}}
                              </div>
                            </div>
                          </div>
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
        <!-- Assessments-->
        <div class="profile__panel profile__panel--placement-tests">
          <h2 class="profile__panel-title">Tests de positionnement</h2>
          <table class="placement-tests">
            <thead>
              <tr class="placement-tests__row">
                <th>Id.</th>
                <th>Comp.</th>
                <th>Statut</th>
                <th>Niveau</th>
                <th>Score</th>
                <th>Date</th>
              </tr>
            </thead>
            {{#each model.placementTests as | placementTest |}}
              <tbody>
              <tr class="placement-tests__row">
                <td>#{{placementTest.id}}</td>
                <td>{{placementTest.competenceIndex}}</td>
                <td>{{placementTest.status}}</td>
                <td>{{placementTest.level}}</td>
                <td>{{placementTest.nbPix}}</td>
                <td>{{placementTest.startDate}}</td>
              </tr>
              </tbody>
            {{/each}}
          </table>
        </div>
      </div>
    {{/tab.pane}}

    <!-- Campagnes -->
    {{#tab.pane title="Campagnes & partages"}}
    {{/tab.pane}}

    <!-- Certifications -->
    {{#tab.pane title="Certifications"}}
    {{/tab.pane}}
  {{/bs-tab}}
</section>
