<td>
  {{#if this.isEditionMode}}
    <PixSelect
      class="pix-select-in-table"
      @onChange={{this.setRoleSelection}}
      @value={{this.selectedNewRole}}
      @options={{this.organizationRoles}}
      @placeholder="- Rôle -"
      @label="Sélectionner un rôle"
      @screenReaderOnly={{true}}
      as |organizationRole|
    >
      {{organizationRole.label}}
    </PixSelect>
  {{else}}
    {{@organizationMembership.roleLabel}}
  {{/if}}
</td>

{{#if this.accessControl.hasAccessToOrganizationActionsScope}}
  <td>
    <div class="member-item-actions">
      {{#if this.isEditionMode}}
        <div class="member-item-actions__modify">
          <PixButton
            @size="small"
            @triggerAction={{this.updateRoleOfMember}}
            class="member-item-actions__button member-item-actions__button--save"
          >
            Enregistrer
          </PixButton>
          <PixButton
            @size="small"
            @backgroundColor="transparent-light"
            @isBorderVisible={{true}}
            @triggerAction={{this.cancelUpdateRoleOfMember}}
            aria-label="Annuler"
            class="member-item-actions__button--icon"
          >
            <FaIcon @icon="xmark" />
          </PixButton>
        </div>
      {{else}}
        <PixButton
          @isDisabled={{@organizationMembership.isSaving}}
          @size="small"
          class="member-item-actions__button"
          aria-label="Modifier le rôle"
          @triggerAction={{this.editRoleOfMember}}
          @iconBefore="pen-to-square"
        >
          Modifier le rôle
        </PixButton>
      {{/if}}
      <PixButton
        @size="small"
        @backgroundColor="red"
        @isDisabled={{@organizationMembership.isSaving}}
        class="member-item-actions__button"
        aria-label="Désactiver l'agent"
        @triggerAction={{this.toggleDisplayConfirm}}
        @iconBefore="trash"
      >
        Désactiver
      </PixButton>
    </div>

    <PixModal
      @title="Désactivation d'un membre"
      @onCloseButtonClick={{this.toggleDisplayConfirm}}
      @showModal={{this.displayConfirm}}
    >
      <:content>
        <p>
          Etes-vous sûr de vouloir désactiver le membre de cette équipe ?
        </p>
      </:content>
      <:footer>
        <PixButton
          @backgroundColor="transparent-light"
          @isBorderVisible={{true}}
          @triggerAction={{this.toggleDisplayConfirm}}
        >
          Annuler
        </PixButton>
        <PixButton @triggerAction={{this.disableOrganizationMembership}}>Confirmer</PixButton>
      </:footer>
    </PixModal>
  </td>
{{/if}}