{{#if this.isEdited}}
  <div class="row form-group certification-status-select edited">
    <label class="col-form-label" for={{this.id}}>Statut :</label>
    <div class="certificate">
      <PowerSelect
          @options={{this.statusOptions}}
          @selected={{this.selectedOption}}
          @searchEnabled={{false}}
          @onchange={{this.selectOption}}
          as |option|>
        {{option.label}}
      </PowerSelect>
    </div>
  </div>
{{else}}
  <div class="row certification-status-select">
    <div class="certification-info-label">{{this.label}}</div>
    <div class="certification-info-value">
      {{@certification.value}}
    </div>
  </div>
{{/if}}
