<div class="certification-info-competences">

  <div class="certification-info-competences__headers">
    <div class="certification-info-competences__header">
      Compétence
    </div>
    <div class="certification-info-competences__header">
      Score (en pix)
    </div>
    <div class="certification-info-competences__header">
      Niveau
    </div>
  </div>

  {{#each @competences as |competence key|}}
    <div class="certification-info-competences__row">
      <div class="certification-info-competences__cell">
        <span class="certification-info-competence__index">{{competence.index}}</span>
      </div>
      <div class="certification-info-competences__cell">
        <Input class="certification-info-competence__score" @type="text" id={{concat 'certification-info-score_' key}} @value={{get this.indexedValues.scores key}} {{on 'change' (fn this.onScoreChange key)}} />
      </div>
      <div class="certification-info-competences__cell">
        <Input class="certification-info-competence__level" @type="text" id={{concat 'certification-info-level_' key}} @value={{get this.indexedValues.levels key}} {{on 'change' (fn this.onLevelChange key)}} />
      </div>
    </div>
  {{/each}}
</div>