<PixModal @title={{this.title}} @onCloseButtonClick={{@cancel}} @showModal={{@show}}>
  <:content>
    <p>{{@message}}</p>
    <p class="confirm-popup__errors">{{@error}}</p>
  </:content>

  <:footer>
    <PixButton @variant="secondary" @isBorderVisible={{true}} @triggerAction={{@cancel}}>
      {{this.closeTitle}}
    </PixButton>

    <PixButton @triggerAction={{@confirm}} @loadingColor="white" @variant="primary">
      {{this.submitTitle}}
    </PixButton>
  </:footer>
</PixModal>