<header class="login-page__header">
  <h1 class="login-page__header__title">Pix Admin</h1>
  <p class="login-form__information">{{t "pages.login.title"}}</p>
</header>

<section class="login-page__section--login-form">
  <form class="login-form" {{on "submit" this.authenticateUser}}>
    {{#if this.isGoogleIdentityProviderEnabled}}
      <LinkTo @route="authentication.login-oidc" @model="google" class="login-form__oidc-connect-link">
        <img src="/google-logo.svg" alt="" class="login-form__oidc-connect-link__logo" />
        <span class="login-form__oidc-connect-link__label">{{t "pages.login.google.label"}}</span>
      </LinkTo>

      {{#if @userShouldCreateAnAccount}}
        <PixMessage @type="alert">
          Vous n'avez pas de compte Pix.
        </PixMessage>
      {{/if}}

      {{#if @unknownErrorHasOccured}}
        <PixMessage @type="alert">
          Une erreur est survenue. Veuillez recommencer ou contacter les administrateurs de la plateforme.
        </PixMessage>
      {{/if}}

      {{#if @userShouldRequestAccess}}
        <PixMessage @type="alert">
          Vous n'avez pas les droits pour vous connecter. Veuillez demander un accès aux administrateurs de la
          plateforme.
        </PixMessage>
      {{/if}}
    {{else}}
      <PixInput
        class="login-form__fields login-form__email-field"
        placeholder={{t "pages.login.fields.email.label"}}
        aria-label={{t "pages.login.fields.email.label"}}
        required="true"
        @value={{this.email}}
        autocomplete="true"
        {{on "input" (pick "target.value" (set this "email"))}}
      />

      <PixInput
        class="login-form__fields"
        placeholder={{t "pages.login.fields.password.label"}}
        aria-label={{t "pages.login.fields.password.label"}}
        required="true"
        type="password"
        @value={{this.password}}
        autocomplete="true"
        {{on "input" (pick "target.value" (set this "password"))}}
      />

      {{#if this.errorMessage}}
        <p class="login-form__error">{{this.errorMessage}}</p>
      {{/if}}

      <PixButton @type="submit" class="login-form__button">{{t "pages.login.button"}}</PixButton>
    {{/if}}
  </form>
</section>