<td>{{@membership.id}}</td>
<td>{{@membership.user.firstName}}</td>
<td>{{@membership.user.lastName}}</td>
<td>{{@membership.user.email}}</td>
<td class="editable-cell">
  {{#if this.isEditionMode}}
    <PowerSelect @options={{this.organizationRoles}}
                 @selected={{this.selectedNewRole}}
                 @searchEnabled={{false}}
                 @onchange={{this.setRoleSelection}}
                 @placeholder="Sélectionner"
                 aria-label="Sélectionner un rôle"
                 as |role|>
      {{role.label}}
    </PowerSelect>
  {{else}}
    {{@membership.displayedOrganizationRole}}
  {{/if}}
</td>
<td>
  {{#if this.isEditionMode}}
    <div class="zone-save-cancel-role">
      <button type="button"
              class="btn btn-primary btn-sm"
              aria-label="Enregistrer"
        {{on 'click' this.updateRoleOfMember}}>
        Enregistrer
      </button>
      <button type="button"
              class="btn btn-outline-default btn-sm"
              aria-label="Annuler"
        {{on 'click' this.cancelUpdateRoleOfMember}}>
        <FaIcon @icon='times'></FaIcon>
      </button>
    </div>
  {{else}}
    <div class="zone-edit-role">
      <button class="btn btn-primary btn-sm"
              aria-label="Modifier le rôle"
              type="button" {{on 'click' this.editRoleOfMember}}>
        <FaIcon @icon="edit"></FaIcon>
        Modifier le rôle
      </button>
    </div>
  {{/if}}
</td>
