<div class="menu-bar">

  <ul class="menu-bar__entries">
    <li class="menu-bar__entry">
      <PixTooltip @position="right">
        <:triggerElement>
          <LinkTo @route="authenticated.organizations" class="menu-bar__link">
            <FaIcon @icon="building" @title="Organisations" />
          </LinkTo>
        </:triggerElement>
        <:tooltip>Organisations</:tooltip>
      </PixTooltip>
    </li>
    <li class="menu-bar__entry">
      <PixTooltip @position="right">
        <:triggerElement>
          <LinkTo @route="authenticated.users.list" class="menu-bar__link">
            <FaIcon @icon="users" @title="Utilisateurs" />
          </LinkTo>
        </:triggerElement>
        <:tooltip>Utilisateurs</:tooltip>
      </PixTooltip>
    </li>
    <li class="menu-bar__entry">
      <PixTooltip @position="right" @inline={{true}}>
        <:triggerElement>
          <LinkTo @route="authenticated.certification-centers.list" class="menu-bar__link">
            <FaIcon @icon="map-pin" @title="Centres de certification" />
          </LinkTo>
        </:triggerElement>
        <:tooltip>Centres de certification</:tooltip>
      </PixTooltip>
    </li>
    <li class="menu-bar__entry">
      <PixTooltip @position="right" @inline={{true}}>
        <:triggerElement>
          <LinkTo @route="authenticated.sessions.list.with-required-action" class="menu-bar__link">
            <FaIcon @icon="chalkboard-teacher" @title="Sessions de certifications" />
          </LinkTo>
        </:triggerElement>
        <:tooltip>Sessions de certifications</:tooltip>
      </PixTooltip>
    </li>
    <li class="menu-bar__entry">
      <PixTooltip @position="right" @inline={{true}}>
        <:triggerElement>
          <LinkTo @route="authenticated.certifications" class="menu-bar__link">
            <FaIcon @icon="graduation-cap" @title="Certifications" />
          </LinkTo>
        </:triggerElement>
        <:tooltip>Certifications</:tooltip>
      </PixTooltip>
    </li>
    <li class="menu-bar__entry">
      <PixTooltip @position="right" @inline={{true}}>
        <:triggerElement>
          <LinkTo @route="authenticated.target-profiles.list" class="menu-bar__link">
            <FaIcon @icon="clipboard-list" @title="Profils cibles" />
          </LinkTo>
        </:triggerElement>
        <:tooltip>Profils cibles</:tooltip>
      </PixTooltip>
    </li>
    <li class="menu-bar__entry">
      <PixTooltip @position="right">
        <:triggerElement>
          <LinkTo @route="authenticated.tools" class="menu-bar__link">
            <FaIcon @icon="tools" @title="Outils" />
          </LinkTo>
        </:triggerElement>
        <:tooltip>Outils</:tooltip>
      </PixTooltip>
    </li>
    <li class="menu-bar__entry">
      <PixTooltip @position="right" @inline={{true}}>
        <:triggerElement>
          <LinkTo @route="logout" class="menu-bar__link">
            <FaIcon @icon="power-off" @title="Se déconnecter" />
          </LinkTo>
        </:triggerElement>
        <:tooltip>Se déconnecter</:tooltip>
      </PixTooltip>
    </li>
  </ul>
</div>