<section class="page-section mb_10">
  <div class="organization__information">
    <div class="organization__logo">
      <figure class="organization__logo-figure">
        {{#if @organization.logoUrl}}
          <img src={{@organization.logoUrl}}>
        {{else}}
          <img src="{{rootURL}}/logo-placeholder.png">
        {{/if}}

        <FileUpload @name="logo" @accept="image/*" @onfileadd={{this.updateLogo}} as |queue|>
          <a class="file-upload__button"/>
        </FileUpload>

      </figure>
    </div>

    {{#if (not this.isEditMode) }}
    <div class="organization__data">
      <h1 class="organization__name">{{@organization.name}}</h1>
      <p>
        Type : <span class="organization__type">{{@organization.type}}</span><br>
        {{#if @organization.externalId}}
          Identifiant externe : <span class="organization__externalId">{{@organization.externalId}}</span><br>
        {{/if}}
        {{#if @organization.provinceCode}}
          Département : <span class="organization__provinceCode">{{@organization.provinceCode}}</span><br>
        {{/if}}
        {{#if @organization.isOrganizationSCO}}
          Gère des élèves : <span class="organization__isManagingStudents">{{this.isManagingStudents}}</span><br>
        {{/if}}
        A accès aux campagnes de collecte de profils : <span class="organization__canCollectProfiles">{{this.canCollectProfiles}}</span><br>
        Crédits : <span class="organization__credit">{{@organization.credit}}</span>
      </p>
      <button class="btn btn-outline-default" aria-label="Editer" {{on "click" this.toggleEditMode}}>Editer</button>
    </div>
    {{else}}
    <div class="organization__edit-form">
      <form class="form">
        <div class="form-group">
          <label for="name" class="form-field__label">Nom</label>
          <Input id="name"
                 type="text"
                 class="form-control"
                 @value={{this.form.name}} />
        </div>
        <div class="form-group">
          <label for="externalId">Identifiant externe</label>
          <Input id="externalId"
                 type="text"
                 class="form-control"
                 @value={{this.form.externalId}} />
        </div>
        <div class="form-group">
          <label for="provinceCode">Département</label>
          <Input id="provinceCode"
                 type="text"
                 class="form-control"
                 @value={{this.form.provinceCode}} />
        </div>
        <div class="form-actions">
          <button class="btn btn-outline-default" aria-label="Annuler" type="button" {{on "click" this.cancel}}>Annuler</button>
          <button class="btn btn-outline-default" aria-label="Enregister" type="submit">Enregistrer</button>
        </div>
      </form>
    </div>
    {{/if}}
  </div>
</section>
