<section class="page-section mb_10">
  <header class="page-section__header">
    <h2 class="page-section__title">Ajouter un membre</h2>
  </header>
  <form aria-label="Ajouter un membre" class="organization__sub-form form">
    <Input
      id="userEmail"
      aria-label="Adresse email"
      @value={{@userEmail}}
      class="organization-sub-form__input form-field__text form-control"
      @placeholder="Adresse email de l'utilisateur à ajouter" />
    <button
      type="button"
      {{on "click" @addMembership}}
      class="organization-sub-form__validate-button btn btn-outline-default">
      Valider
    </button>
  </form>
</section>

<section class="page-section mb_10">
  <header class="page-section__header">
    <h2 class="page-section__title">Membres</h2>
  </header>
  <div class="member-list">
    <ModelsTable @data={{@organization.memberships}}
                 @columns={{this.columns}}
                 @showColumnsDropdown={{false}}
                 @showGlobalFilter={{false}} />
  </div>
</section>
