<section class="page-section mb_10">
  <header class="page-section__header">
    <h2 class="page-section__title">Ajouter un membre</h2>
    <h2 class="page-section__title">Inviter un membre</h2>
  </header>

  <div class="organization__forms-section">
    <form aria-label="Ajouter un membre">
      <div class="organization__sub-form">
        <Input
                id="userEmailToAdd"
                aria-label="Adresse email"
                @value={{@userEmailToAdd}}
                class="organization-sub-form__input form-field__text form-control"
                @placeholder="Adresse email de l'utilisateur à ajouter" />
        <button
                type="button"
          {{on "click" @addMembership}}
                class="organization-sub-form__validate-button btn btn-outline-default">
          Valider
        </button>
      </div>
    </form>

    <form aria-label="Inviter un membre">
      <div class="organization__sub-form">
        <Input
                id="userEmailToInvite"
                aria-label="Adresse email"
                @value={{@userEmailToInvite}}
                class={{if @userEmailToInviteError "organization-sub-form__input organization-sub-form__input__error form-control" "organization-sub-form__input form-control"}}
                @placeholder="Adresse email de l'utilisateur à inviter" />
        {{#if @isLoading}}
          <button type="button" class="organization-sub-form__validate-button btn btn-outline-default">
            Inviter
          </button>
        {{else}}
          <button type="button" {{on "click" @createOrganizationInvitation}} class="organization-sub-form__validate-button btn btn-outline-default">
            Inviter
          </button>
        {{/if}}
      </div>
      {{#if @userEmailToInviteError}}
        <div class="organization-sub-form__error-message">{{@userEmailToInviteError}}</div>
      {{/if}}
    </form>
  </div>
</section>

<section class="page-section mb_10">
  <header class="page-section__header">
    <h2 class="page-section__title">Membres</h2>
  </header>
  <div class="member-list content-text content-text--small">
    <div class="table-admin">
      <table>
        <thead>
          <tr>
            <th class="table__column">ID Membre</th>
            <th class="table__column table__column--wide">Prénom</th>
            <th class="table__column table__column--wide">Nom</th>
            <th class="table__column table__column--wide">Adresse email</th>
            <th class="table__column">Rôle</th>
            <th class="table__column">Actions</th>
          </tr>
          <tr>
            <th class="table__column"></th>
            <th class="table__column table__column--wide">
              <input id="firstName"
                     type="text"
                     value={{@firstName}}
                     oninput={{fn @triggerFiltering 'firstName'}}
                     class="table-admin-input form-control"/>
            </th>
            <th class="table__column table__column--wide">
              <input id="lastName"
                     type="text"
                     value={{@lastName}}
                     oninput={{fn @triggerFiltering 'lastName'}}
                     class="table-admin-input form-control"/>
            </th>
            <th class="table__column table__column--wide">
              <input id="email"
                     type="text"
                     value={{@email}}
                     oninput={{fn @triggerFiltering 'email'}}
                     class="table-admin-input form-control"/>
            </th>
            <th class="table__column">
              <select id="organizationRole" class="table-admin-input form-control" {{on 'change' this.selectRole}} aria-label="Rechercher par rôle">
                <option value="">Tous</option>
                <option value="ADMIN" selected={{eq @organizationRole "ADMIN"}}>Administrateur</option>
                <option value="MEMBER" selected={{eq @organizationRole "MEMBER"}}>Membre</option>
              </select>
            </th>
            <th class="table__column"></th>
          </tr>
        </thead>

        {{#if @memberships}}
          <tbody>
          {{#each @memberships as |membership|}}
            <tr aria-label="Membre">
              <MemberItem @membership={{membership}} @updateMembership={{@updateMembership}} @disableMembership={{@disableMembership}} />
            </tr>
          {{/each}}
          </tbody>
        {{/if}}
      </table>

      {{#unless @memberships}}
        <div class="table__empty content-text">Aucun résultat</div>
      {{/unless}}
    </div>

    {{#if @memberships}}
      <PaginationControl @pagination={{@memberships.meta}}/>
    {{/if}}
  </div>
</section>

