<section class="page-section mb_10 organization-team-section">
  <div class="organization__forms-section">
    <form>
      <h2>Ajouter un membre</h2>
      <div class="organization__sub-form">
        <PixInput
          @id="userEmailToAdd"
          @value={{@userEmailToAdd}}
          @label="Adresse e-mail de l'utilisateur à ajouter"
          class="form-field__text form-control organization-team-section__input"
        />
        <PixButton
          @size="small"
          @triggerAction={{@addMembership}}
          class="organization-team-section__button"
          aria-label="Ajouter un membre"
        >
          Valider
        </PixButton>
      </div>
    </form>

    <form>
      <h2>Inviter un membre</h2>
      <div class="organization__sub-form">
        <PixInput
          @id="userEmailToInvite"
          @value={{@userEmailToInvite}}
          @label="Adresse e-mail du membre à inviter"
          class="form-control organization-team-section__input
            {{if @userEmailToInviteError "organization-sub-form__input__error"}}"
        />

        <PixSelect
          @options={{this.languagesOptions}}
          @selectedOption={{this.organizationInvitationLang}}
          @onChange={{this.changeOrganizationInvitationLang}}
          aria-label="Choisir la langue de l’email d’invitation"
          class="organization-team-section__select"
        />

        <PixSelect
          @options={{this.rolesOptions}}
          @selectedOption={{this.organizationInvitationRole}}
          @onChange={{this.changeOrganizationInvitationRole}}
          aria-label="Choisir le rôle du membre"
          class="organization-team-section__select"
        />

        <PixButton
          @size="small"
          @triggerAction={{fn
            @createOrganizationInvitation
            this.organizationInvitationLang
            this.organizationInvitationRoleValue
          }}
          aria-label="Inviter un membre"
          class="organization-team-section__button"
          data-test-id-invitation-button
        >
          Inviter
        </PixButton>
      </div>
      {{#if @userEmailToInviteError}}
        <div class="organization-sub-form__error-message">{{@userEmailToInviteError}}</div>
      {{/if}}
    </form>
  </div>
</section>
{{yield}}