<form class="form organization-form" {{on "submit" @onSubmit}}>

  <section class="form-section form-section--organization">

    <!-- Organization name -->
    <div class="form-field form-group">
      <label class="form-field__label" for="organizationName">Nom : </label>
      <Input class={{if @organization.errors.name "form-field__text form-control is-invalid" "form-field__text form-control"}}
             @id="organizationName"
             @value={{@organization.name}} />
      {{#if @organization.errors.name}}
        <div class="form-field__error">
          {{@organization.errors.name.[0].message}}
        </div>
      {{/if}}
    </div>

    <!-- Organization type -->
    <div class="form-field form-group">
      <label class="form-field__label" for="organizationType">Type : </label>
      <div id="organizationTypeSelector" class="form-field__select {{if @organization.errors.type 'is-invalid' ''}}">
        <PowerSelect
                @options={{this.organizationTypes}}
                @searchEnabled={{false}}
                @selected={{this.selectedOrganizationType}}
                @onchange={{this.selectOrganizationType}} as |organizationType|>
          {{organizationType.label}}
        </PowerSelect>
      </div>
      {{#each @organization.errors.type as |error|}}
        <div class="form-field__error">
          {{error.message}}
        </div>
      {{/each}}
    </div>
  </section>

  <!-- Form submit button -->
  <section class="form-section form-section--actions">
    <button class="form-action form-action--cancel btn btn-outline-default btn-thin" type="button" {{on "click" @onCancel}}>Annuler</button>
    <button class="form-action form-action--submit btn btn-success btn-thin" type="submit">Ajouter</button>
  </section>
</form>