<div class="session-to-be-published-list">

  <ModelsTable @data={{@sessionToBePublished}}
    @columns={{this.columns}}
    @showColumnsDropdown={{false}}
    @showGlobalFilter={{false}}
    @useNumericPagination={{true}}
    @multipleSelect={{true}}
    @pageSize={{25}}
    @pageSizeValues={{this.pageValues}}
  />

</div>
