<section class="page-section mb_10">
  <div>
    <div class="attribute first-name">
      <span class="attibute__label">Prénom : </span>
      <span class="attribute__value user__first-name">{{@user.firstName}}</span>
    </div>
    <div class="attribute last-name">
      <span class="attibute__label">Nom : </span>
      <span class="attribute__value user__last-name">{{@user.lastName}}</span>
    </div>
    <div class="attribute email">
      <span class="attibute__label">E-mail : </span>
      <span class="attribute__value user__email">{{@user.email}}</span>
    </div>
    <div class="attribute username">
      <span class="attibute__label">Identifiant : </span>
      <span class="attribute__value user__username">{{@user.username}}</span>
    </div>
    <div class="attribute authenticated-from-gar">
      <span class="attibute__label">Connecté via le GAR : </span>
      <span class="attribute__value user__is-authenticated-from-gar">{{if @user.isAuthenticatedFromGar 'OUI' 'NON'}}</span>
    </div>
    <br>
    <div class="attribute cgu">
      <span class="attibute__label">CGU Pix App validé : </span>
      <span class="attribute__value user__cgu">{{if @user.cgu 'OUI' 'NON'}}</span>
    </div>
    <div class="attribute pix-orga-terms-of-service-accepted">
      <span class="attibute__label">CGU Pix Orga validé : </span>
      <span class="attribute__value user__pix-orga-terms-of-service-accepted">{{if @user.pixOrgaTermsOfServiceAccepted 'OUI' 'NON'}}</span>
    </div>
    <div class="attribute pix-certif-terms-of-service-accepted">
      <span class="attibute__label">CGU Pix Certif validé : </span>
      <span class="attribute__value user__pix-certif-terms-of-service-accepted">{{if @user.pixCertifTermsOfServiceAccepted 'OUI' 'NON'}}</span>
    </div>
  </div>
</section>
