<div class="single-certification-info">
  <div class='row'>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <CertificationInfoPublished @record={{certification}} @float={{true}} />État
          </h5>
          <div class="card-text">
            <CertificationInfoField @value={{certification.sessionId}} @edition={{false}} @label="Session :" @linkRoute="authenticated.certifications.sessions.info" />
            <CertificationStatusSelect @value={{certification.status}} @edition={{edition}} />
            <CertificationInfoField @value={{certification.creationDate}} @edition={{false}} @label="Créée le :" />
            <CertificationInfoField @value={{certification.completionDate}} @edition={{false}} @label="Terminée le :" />
            <CertificationInfoField @value={{certification.publishedText}} @edition={{false}} @label="Publiée :" />
            <CertificationInfoField @value={{certification.isV2CertificationText}} @edition={{false}} @label="Certification v2 :" />
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card {{if edition "border-primary"}}">
        <div class="card-body">
          <h5 class="card-title">Candidat</h5>
          <div class="card-text">
            <CertificationInfoField @value={{certification.firstName}} @edition={{edition}} @label="Prénom :" @fieldId="certification-firstName" />
            <CertificationInfoField @value={{certification.lastName}} @edition={{edition}} @label="Nom :" @fieldId="certification-lastName" />
            <CertificationInfoField @isDate={{true}} @edition={{edition}} @label="Date de naissance :" @fieldId="certification-birthdate" @value={{certification.birthdate}} @onUpdateCertificationBirthdate={{action "onUpdateCertificationBirthdate"}} />
            <CertificationInfoField @value={{certification.birthplace}} @edition={{edition}} @label="Lieu de naissance :" @fieldId="certification-birthPlace" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col">
      <div class="card {{if edition "border-primary"}}">
        <div class="card-body">
          <h5 class="card-title">Commentaires jury</h5>
          <div class="card-text">
            <CertificationInfoField @value={{certification.commentForCandidate}} @edition={{edition}} @label="Pour le candidat :" @fieldId="certification-commentForCandidate" @large={{true}} />
            <CertificationInfoField @value={{certification.commentForOrganization}} @edition={{edition}} @label="Pour l'organisation :" @fieldId="certification-commentForOrganization" @large={{true}} />
            <CertificationInfoField @value={{certification.commentForJury}} @edition={{edition}} @label="Pour le jury :" @fieldId="certification-commentForJury" @large={{true}} />
            <p></p>
            <CertificationInfoField @value={{certification.juryId}} @edition={{false}} @label="Identifiant jury :" @large={{true}} />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col">
      <div class="card {{if edition "border-primary"}}">
        <div class="card-body">
          <h5 class="card-title">Résultats</h5>
          <div class="card-text">
            <CertificationInfoField @value={{certification.pixScore}} @edition={{edition}} @label="Score :" @fieldId="certification-pixScore" @suffix=" Pix" @large={{true}} />
            <p></p>
            <CertificationInfoCompetences @competences={{certification.competences}} @edition={{edition}} @onUpdateScore={{action "onUpdateScore"}} @onUpdateLevel={{action "onUpdateLevel"}} />
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if isValid}}
    <div class="row">
      <div class="col single-certification-info__actions">
        {{#if edition}}
          <BsButton @class="single-certification-edit__button" @type="secondary" @size="sm" @onClick={{action "onCancel"}}>Annuler</BsButton>
          <BsButton @class="single-certification-edit__button" @type="primary" @size="sm" @onClick={{action "onSaveConfirm"}}>Enregistrer</BsButton>
        {{else}}
          <BsButton @class="single-certification-edit__button" @type="primary" @size="sm" @onClick={{action "onEdit"}}>
            Modifier</BsButton>
          <BsButton @class="single-certification-edit__button" @type="primary" @size="sm" @onClick={{action "onTogglePublishConfirm"}}>
            {{#if certification.isPublished}}
              Dépublier
            {{else}}
              Publier
            {{/if}}
          </BsButton>
        {{/if}}
      </div>
    </div>
  {{/if}}
  <ConfirmPopup @message={{confirmMessage}}
                @error={{confirmErrorMessage}}
                @confirm={{action confirmAction}}
                @cancel={{action "onCancelConfirm"}}
                @show={{displayConfirm}} />
</div>
