<h4 class="campaign-details-analysis campaign-details-analysis__header">Recommandation de sujets à travailler</h4>
<p class="campaign-details-analysis campaign-details-analysis__text">
  En fonction du référentiel testé et des résultats de la campagne,
  Pix vous recommande ces sujets à travailler, classés par degré de pertinence (
  <svg height="10" width="10">
      <circle cx="5" cy="5" r="5" class="campaign-details-analysis recommendation-indicator__bubble"/>
  </svg>
  )
</p>
<div class="panel panel--light-shadow content-text content-text--small campaign-details-table">

  <table aria-label="Analyse par sujet">
    <thead>
    <tr>
      <th class="table__column--wide">Sujets ({{ @campaignTubeRecommendations.length }})</th>
      <th class="table__column--small table__column--center">Pertinence</th>
    </tr>
    </thead>

      <tbody>
      {{#each @campaignTubeRecommendations as |tubeRecommendation|}}
        <tr aria-label="Sujet">
          <td class="campaign-details-table__line-wrapper">
            <span class="campaign-details-table__bullet campaign-details-table__bullet--{{tubeRecommendation.areaColor}}">
              &#8226;
            </span>
            <span>{{tubeRecommendation.tubePracticalTitle}}<br/>
              <sub>{{tubeRecommendation.competenceName}}</sub>
            </span>
          </td>
          <td><RecommendationIndicator @value={{tubeRecommendation.averageScore}} /></td>
        </tr>
      {{/each}}
      </tbody>
  </table>
</div>
