<div class="panel panel--strong-shadow campaign-details-container">
  <div class="campaign-details-row">
    <div class="campaign-details-content">
      <h4 class="label-text campaign-details-content__label">Profil cible</h4>
      <p class="content-text campaign-details-content__text">{{campaign.targetProfile.name}}</p>
    </div>

    {{#if campaign.idPixLabel}}
      <div class="campaign-details-content">
        <h4 class="label-text campaign-details-content__label">Libellé de l'identifiant</h4>
        <p class="content-text campaign-details-content__text">{{campaign.idPixLabel}}</p>
      </div>
    {{/if}}

    <div class="campaign-details-content">
      <h4 class="label-text campaign-details-content__label">Lien direct</h4>
      <div class="campaign-details-content__clipboard">
        <p class="content-text campaign-details-content__text">{{campaign.url}}</p>
        {{#if (is-clipboard-supported)}}
          <div class="tooltip content-text content-text--small">
            <span class="tooltip-text campaign-details-content__tooltip-text">{{this.tooltipText}}</span>
            {{#copy-button clipboardText=campaign.url success=(action 'clipboardSuccess') mouseLeave=(action 'clipboardOut')
                           classNames="icon-button campaign-details-content__clipboard-button"}}
              {{fa-icon 'copy' prefix='far'}}
            {{/copy-button}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="campaign-details-row">
    <div class="campaign-details-content campaign-details-content--single">
      <h4 class="label-text campaign-details-content__label">Titre du parcours</h4>
      <p class="content-text campaign-details-content__text">{{campaign.title}}</p>
    </div>
  </div>

  <div class="campaign-details-row">
    <div class="campaign-details-content campaign-details-content--single">
      <h4 class="label-text campaign-details-content__label">Texte de la page d'accueil</h4>
      <p class="content-text campaign-details-content__text">
        {{markdown-to-html markdown=campaign.customLandingPageText}}
      </p>
    </div>
  </div>

  {{#if (not campaign.isArchived)}}
    <div class="campaign-details-row">
      <div class="campaign-details-content campaign-details-content--button campaign-details--button">
        {{#link-to "authenticated.campaigns.update" campaign.id
                   class="button button--grey button--regular button--link campaign-details-content__update-button"}}
          Modifier
        {{/link-to}}
      </div>
      <div class="campaign-details-content campaign-details-content--button campaign-details-content--left">
        <button {{action 'archiveCampaign' campaign.id}}
                   class="button button--grey button--regular button--link">
          Archiver
        </button>
      </div>
    </div>
  {{/if}}
</div>
