<div class="panel">
  <div class="table content-text content-text--small">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          {{#if @campaign.idPixLabel}}
            <th>{{this.idPixLabelDisplay}}</th>
          {{/if}}
          <th>Résultats</th>
        </tr>
      </thead>

      {{#if @participants}}
        <tbody>
        {{#each @participants as |participant|}}
          <tr aria-label="Participant" role="button" {{on 'click' (fn @goToParticipantPage @campaign.id participant.id)}} class="tr--clickable">
            <td>{{participant.user.lastName}}</td>
            <td>{{participant.user.firstName}}</td>
            {{#if @campaign.idPixLabel}}
              <td>{{participant.participantExternalId}}</td>
            {{/if}}
            <td>
              {{#if participant.isShared}}
                <span class="participant-list__mastery-percentage">
                  {{participant.campaignParticipationResult.masteryPercentage}}%
                </span>
              {{else}}
                {{#if participant.campaignParticipationResult.isCompleted}}
                  <span class="participant-list__icon">
                    <FaIcon @icon='share-square'></FaIcon>
                  </span>
                  En attente
                {{else}}
                  <span class="participant-list__icon">
                    <FaIcon @icon='hourglass-half'></FaIcon>
                  </span>
                  En cours de test
                {{/if}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless @participants}}
      <div class="table__empty content-text">En attente de participants</div>
    {{/unless}}
  </div>
</div>

{{#if @participants}}
  <PaginationControl @pagination={{@participants.meta}} @paginationLink="authenticated.campaigns.details.participants" />
{{/if}}
