<div class="participant-list__export">
  <a class="button button--link" href="{{campaign.urlToResult}}" target="_blank" download>
    Export résultats (.csv)
  </a>
</div>

<div class="panel">
  <div class="participant-list__header">
    Liste des participants
  </div>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          {{#if campaign.idPixLabel}}
            <th>{{campaign.idPixLabel}}</th>
          {{/if}}
        </tr>
      </thead>

      {{#if participants}}
        <tbody>
        {{#each participants as |participant|}}
          <tr>
            <td>{{participant.user.lastName}}</td>
            <td>{{participant.user.firstName}}</td>
            {{#if campaign.idPixLabel}}
              <td>{{participant.participantExternalId}}</td>
            {{/if}}
          </tr>
        {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless participants}}
      <div class="participant-list__no-participants">En attente de participants</div>
    {{/unless}}
  </div>
</div>