<tr aria-label="Membre">
  <td>{{@membership.user.lastName}}</td>
  <td>{{@membership.user.firstName}}</td>

  {{#unless this.isEditionMode }}
    <td>{{@membership.displayRole}}</td>
    {{#if (not-eq @membership.user.id this.currentUser.prescriber.id) }}
      <td>
        <div class="zone-edit-role">
          <button id='edit-organization-role' class="button button--light-grey button--thin"
                  type="button" {{on 'click' (fn this.editRoleOfMember @membership)}}>
            Modifier le rôle
          </button>
        </div>
      </td>
    {{else}}
      <td></td>
    {{/if}}
  {{/unless}}

  {{#if this.isEditionMode}}
    <td>
      <div id="selectOrganizationRole">
        <SelectInput
          class="table__input"
          @onChange={{this.setRoleSelection}}
          @options={{this.organizationRoles}}
          @selectedOption={{@membership.organizationRole}}
          @placeholder="Sélectionner un rôle"
          @ariaLabel="Sélectionner un rôle"
        />
      </div>
    </td>
    <td>
      <div class="zone-save-cancel-role">
        <button id='save-organization-role' type="button" class="button button--thin" {{on 'click' (fn this.updateRoleOfMember @membership)}}>
          Enregistrer
        </button>
        <PixIconButton
          @icon="times"
          id='cancel-update-organization-role'
          aria-label="Annuler"
          @triggerAction={{this.cancelUpdateRoleOfMember}}
          @withBackground={{false}}
          @color="dark-grey"
        />
      </div>
    </td>
  {{/if}}
</tr>
