<div class="panel">
  <div class="table content-text content-text--small">
    <table id="table-members">
      <thead>
      <tr>
        <th>{{t 'pages.team-members.table.column.last-name'}}</th>
        <th>{{t 'pages.team-members.table.column.first-name'}}</th>
        <th>{{t 'pages.team-members.table.column.organization-membership-role'}}</th>
        <th></th>
      </tr>
      </thead>
      {{#if @memberships}}
        <tbody>
        {{#each @memberships as |membership|}}
          <Routes::Authenticated::Team::Items
                  @membership={{membership}}
                  @removeMembership={{@removeMembership}} />
        {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless @memberships}}
      <div class="table__empty content-text">{{t 'pages.team-members.table.empty'}}</div>
    {{/unless}}
  </div>
</div>

{{#if @memberships}}
  <PaginationControl @pagination={{@memberships.meta}}/>
{{/if}}
