<form {{on 'submit' @createOrganizationInvitation}} class="form">

  <div class="form__field">
    <label for="email" class="label">{{t 'pages.team-new-item.input-label'}}</label>
    <Input
      @id="email"
      @type="email"
      @value={{@organizationInvitation.email}}
      name="email"
      class="input"
      multiple={{true}}
      aria-required="true"
      required="required"
    />
  </div>

  <div class="form__validation">
    <button type="button" class="button button--no-color" {{on 'click' @cancel}}>
      {{t 'pages.team-new-item.cancel-button'}}
    </button>
    {{#if @isLoading}}
      <button type="button" disabled class="button button--regular">
        <span class="loader-in-button">&nbsp;</span>
      </button>
    {{else}}
      <button type="submit" class="button button--regular">
        {{t 'pages.team-new-item.invite-button'}}
      </button>
    {{/if}}
  </div>

</form>
