<div class="challenge-proposals">
  {{#each this._blocks as |block|}}
    {{#if block.text}}
      <label for="qroc_input">
        <Markdown::MarkdownToHtml
          class="qroc_input-label"
          @extensions="remove-paragraph-tags"
          @markdown={{block.text}}
        />
      </label>
    {{/if}}
    {{#if block.input}}
      {{#if (eq block.type "select")}}
        <div class="challenge-response__proposal">
          <PixSelect
            data-uid="qroc-proposal-uid"
            @label={{block.ariaLabel}}
            @screenReaderOnly={{true}}
            @placeholder={{block.placeholder}}
            @value={{this.qrocProposalAnswerValue}}
            @hideDefaultOption={{true}}
            @options={{block.options}}
            @onChange={{this.onChangeSelect}}
            @size="big"
          />
        </div>
      {{else if (eq @challenge.format "paragraphe")}}
        <div class="challenge-response__proposal challenge-response__proposal--paragraph">
          <PixTextarea
            @id="qroc_input"
            rows="5"
            placeholder={{block.placeholder}}
            name={{block.randomName}}
            data-test="challenge-response-proposal-selector"
            autocomplete="nope"
            data-uid="qroc-proposal-uid"
            {{on "change" this.updateUserAnswerValue}}
          />
        </div>
      {{else if (eq @challenge.format "phrase")}}
        <div class="challenge-response__proposal challenge-response__proposal--sentence">
          <PixInput
            @id="qroc_input"
            name={{block.randomName}}
            type="text"
            class="challenge-response__proposal"
            placeholder={{block.placeholder}}
            autocomplete="nope"
            data-test="challenge-response-proposal-selector"
            data-uid="qroc-proposal-uid"
            {{on "change" this.updateUserAnswerValue}}
          />
        </div>
      {{else if (eq @challenge.format "nombre")}}
        <div class="challenge-response__proposal challenge-response__proposal--number">
          <PixInput
            @id="qroc_input"
            class="challenge-response__proposal"
            name={{block.randomName}}
            type="number"
            min="0"
            data-test="challenge-response-proposal-selector"
            placeholder={{block.placeholder}}
            @value={{this.userAnswer}}
            data-uid="qroc-proposal-uid"
            {{on "change" this.updateUserAnswerValue}}
          />
        </div>
      {{else}}
        <div class="challenge-response__proposal challenge-response__proposal--short-text">
          <PixInput
            class="challenge-response__proposal"
            @id="qroc_input"
            @ariaLabel={{block.ariaLabel}}
            type="text"
            data-test="challenge-response-proposal-selector"
            autocomplete="nope"
            data-uid="qroc-proposal-uid"
            {{on "change" this.updateUserAnswerValue}}
          />
        </div>
      {{/if}}
    {{/if}}
    {{#if block.breakline}}
      <br />
    {{/if}}
  {{/each}}
</div>