<div class="challenge-item-proposals">
  {{#each this._blocks as |block|}}
    {{#if block.text}}
      <label for="qroc_input">
        <Markdown::MarkdownToHtml
          class="qroc_input-label"
          @extensions="remove-paragraph-tags"
          @markdown={{block.text}}
        />
      </label>
    {{/if}}
    {{#if block.input}}
      {{#if (eq block.type "select")}}
        <PixSelect
          data-uid="qroc-proposal-uid"
          class="challenge-item-proposals__response"
          @label={{block.ariaLabel}}
          @screenReaderOnly={{true}}
          @placeholder={{block.placeholder}}
          @value={{this.qrocProposalAnswerValue}}
          @hideDefaultOption={{true}}
          @options={{block.options}}
          @onChange={{this.onChangeSelect}}
        />
      {{else if (eq @challenge.format "paragraphe")}}
        <PixTextarea
          @id="qroc_input"
          class="challenge-item-proposals__response challenge-item-proposals__response--paragraph"
          rows="5"
          placeholder={{block.placeholder}}
          name={{block.randomName}}
          autocomplete="nope"
          data-uid="qroc-proposal-uid"
          {{on "keyup" this.updateUserAnswerValue}}
        />
      {{else if (eq @challenge.format "phrase")}}
        <PixInput
          @id="qroc_input"
          name={{block.randomName}}
          type="text"
          class="challenge-item-proposals__response"
          placeholder={{block.placeholder}}
          autocomplete="nope"
          data-uid="qroc-proposal-uid"
          {{on "keyup" this.updateUserAnswerValue}}
        />
      {{else if (eq @challenge.format "nombre")}}
        <PixInput
          @id="qroc_input"
          class="challenge-item-proposals__response challenge-item-proposals__response--number"
          name={{block.randomName}}
          type="number"
          min="0"
          placeholder={{block.placeholder}}
          @value={{this.userAnswer}}
          data-uid="qroc-proposal-uid"
          {{on "keyup" this.updateUserAnswerValue}}
        />
      {{else}}
        <PixInput
          class="challenge-item-proposals__response challenge-item-proposals__response--short-text"
          @id="qroc_input"
          @ariaLabel={{block.ariaLabel}}
          type="text"
          autocomplete="nope"
          data-uid="qroc-proposal-uid"
          {{on "keyup" this.updateUserAnswerValue}}
        />
      {{/if}}
    {{/if}}
    {{#if block.breakline}}
      <br />
    {{/if}}
  {{/each}}
</div>