<footer class="footer">
  <nav class="footer__navigation" aria-label={{t "navigation.footer.aria-label"}}>
    <ul class="footer__navigation-list">
      <li>
        <a href="{{this.legalNoticeUrl}}" target="_blank" class="footer-navigation__item" rel="noopener noreferrer">
          {{t "navigation.footer.legal-notice"}}
        </a>
      </li>

      <li>
        <a href="{{this.accessibilityUrl}}" target="_blank" class="footer-navigation__item" rel="noopener noreferrer">
          {{t "navigation.footer.a11y"}}
        </a>
      </li>

      <li>
        <a href="{{this.serverStatusUrl}}" target="_blank" class="footer-navigation__item" rel="noopener noreferrer">
          {{t "navigation.footer.server-status"}}
        </a>
      </li>
    </ul>
  </nav>

  <div class="footer__copyrights">
    <span>{{t "navigation.footer.copyrights"}} {{this.currentYear}} {{t "navigation.footer.pix"}}</span>
  </div>
</footer>