<div class="content-text content-text--small table-admin__wrapper session-list">
  <table class="table-admin table-admin__auto-width">
    <thead>
      <tr>
        <th class="table__column table__column--id">ID</th>
        <th>Centre de certification</th>
        <th>Date de session</th>
        <th>Date de finalisation</th>
        {{#if this.accessControl.hasAccessToCertificationActionsScope}}
          <th>Actions</th>
        {{/if}}
      </tr>
    </thead>

    {{#if @toBePublishedSessions}}
      <tbody>
        {{#each @toBePublishedSessions as |toBePublishedSession|}}
          <tr>
            <td class="table__column table__column--id">
              <LinkTo @route="authenticated.sessions.session" @model={{toBePublishedSession.id}}>
                {{toBePublishedSession.id}}
              </LinkTo>
            </td>
            <td>{{toBePublishedSession.certificationCenterName}}</td>
            <td>{{toBePublishedSession.printableDateAndTime}}</td>
            <td>{{toBePublishedSession.printableFinalizationDate}}</td>
            {{#if this.accessControl.hasAccessToCertificationActionsScope}}
              <td>
                <PixButton
                  @triggerAction={{fn this.showConfirmModal toBePublishedSession}}
                  class="publish-session-button"
                  @size="small"
                  aria-label="Publier la session numéro {{toBePublishedSession.id}}"
                  @iconBefore="paper-plane"
                >
                  Publier
                </PixButton>
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    {{/if}}
  </table>

  {{#unless @toBePublishedSessions}}
    <div class="table__empty">Aucun résultat</div>
  {{/unless}}
</div>

<ConfirmPopup
  @message="Souhaitez-vous publier la session ?"
  @confirm={{this.publishSession}}
  @cancel={{this.hideConfirmModal}}
  @show={{this.shouldShowModal}}
/>