<form class="form generate-target-profile">

  <section
    class="form-section"
    {{did-insert this.refreshAreas}}
    {{did-update this.refreshAreas this.selectedFrameworkIds}}
  >
    <Card class="generate-target-profile__card" @title="Sélection des sujets">
      <div class="generate-target-profile__inline-layout">
        <label for="framework-list" class="generate-target-profile__multi-select-label">Référentiel :</label>
        <PixMultiSelect
          class="generate-target-profile__multi-select"
          @id="framework-list"
          @isSearchable={{true}}
          @showOptionsOnInput={{true}}
          @onSelect={{this.setSelectedFrameworkIds}}
          @emptyMessage={{"Pas de résultat"}}
          @selected={{this.selectedFrameworkIds}}
          @options={{this.frameworkOptions}}
          as |option|
        >
          {{option.label}}
        </PixMultiSelect>
      </div>
    </Card>

    {{#if this.hasNoFrameworksSelected}}
      Aucun référentiel de sélectionné
    {{else}}
      <TargetProfiles::NewTubeBased::TubesSelection
        @areas={{this.areas}}
        @setLevelTube={{this.setLevelTube}}
        @tubesSelected={{this.tubesSelected}}
        @checkTube={{this.checkTube}}
        @uncheckTube={{this.uncheckTube}}
      />
    {{/if}}

  </section>
  <section class="form-section form-actions form-section--actions">
    <PixButton
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @size="big"
      @triggerAction={{this.goBackToTargetProfileList}}
    >
      Retour
    </PixButton>
    <PixButtonLink @size="big" @backgroundColor="green" @href="#">
      Télécharger la sélection des sujets (JSON)
    </PixButtonLink>
  </section>
</form>