{{#each @areas as |area|}}
  <div class="area-border-container">
    <div class="area-border {{area.color}}"></div>
    <PixCollapsible @title="{{area.code}} · {{area.title}}" class="{{area.color}} list-competences">
      {{#each area.sortedCompetences as |competence|}}
        <TargetProfiles::NewTubeBased::TubesSelectionCompetence
          @competence={{competence}}
          @setLevelTube={{@setLevelTube}}
          @tubesSelected={{@tubesSelected}}
          @checkTube={{@checkTube}}
          @uncheckTube={{@uncheckTube}}
        />
      {{/each}}
    </PixCollapsible>
  </div>
{{/each}}