{{page-title "Utilisateur " @model.id}}
<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.users.list"><span id="link-to-users-page">Tous les utilisateurs</span></LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    <h1>Utilisateur {{@model.id}}</h1>
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <h1 class="page-section__title">Informations de l'utilisateur</h1>
    <Users::UserOverview @user={{@model}} />
  </section>

  <nav class="navbar" aria-label="Navigation de la section détails d'un utilisateur">
    <LinkTo @route="authenticated.users.get.information" @model={{@model}} class="navbar-item">
      Détails
    </LinkTo>

    <LinkTo @route="authenticated.users.get.profile" @model={{@model}} class="navbar-item">
      Profil
    </LinkTo>

    <LinkTo @route="authenticated.users.get.campaign-participations" @model={{@model}} class="navbar-item">
      Participations
    </LinkTo>

    <LinkTo
      @route="authenticated.users.get.organizations"
      @model={{@model}}
      aria-label="Organisations de l’utilisateur"
      class="navbar-item"
    >
      Organisations
    </LinkTo>

    <LinkTo
      @route="authenticated.users.get.certification-center-memberships"
      class="navbar-item certification-center-navbar"
      aria-label="Centres de certification auxquels appartient l´utilisateur"
    >
      Centres de certification
    </LinkTo>
  </nav>

  {{outlet}}
</main>