{{page-title "Utilisateur " @model.id}}
<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.users.list"><span id="link-to-users-page">Tous les utilisateurs</span></LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    {{@model.id}}
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <Users::UserOverview @user={{@model}} />
  </section>

  <nav class="navbar">
    <LinkTo @route="authenticated.users.get.information" @model={{@model}} class="navbar-item">
      Informations
    </LinkTo>

    <LinkTo @route="authenticated.users.get.profile" @model={{@model}} class="navbar-item">
      Profil
    </LinkTo>

    <LinkTo @route="authenticated.users.get.campaign-participations" @model={{@model}} class="navbar-item">
      Participations
    </LinkTo>

    <LinkTo
      @route="authenticated.users.get.organizations"
      @model={{@model}}
      aria-label="Organisations de l’utilisateur"
      class="navbar-item"
    >
      Organisations
    </LinkTo>
  </nav>

  {{outlet}}
</main>