<header class="page-header">
  <div class="page-title">Tous les utilisateurs</div>
  <div class="page-actions">
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <Routes::Authenticated::Users::ListItems @users={{@model}} @firstName={{firstName}} @lastName={{lastName}} @email={{email}} @triggerFiltering={{action "triggerFiltering"}} />
  </section>
</main>
