<section class="activity-dashboard" ...attributes>
  <div class="activity-dashboard__row">
    <Campaign::Cards::ParticipantsCount
      @value={{this.total}}
      @isLoading={{this.participantsByStatusLoading}}
      class="activity-dashboard__total-participants-card"
    />
    <Campaign::Cards::SharedCount
      @value={{this.shared}}
      @isLoading={{this.participantsByStatusLoading}}
      @isTypeAssessment={{@campaign.isTypeAssessment}}
    />
  </div>
  <div class="activity-dashboard__row">
    <Campaign::Charts::ParticipantsByDay
      @campaignId={{@campaign.id}}
      @totalParticipations={{@totalParticipations}}
      @isTypeAssessment={{@campaign.isTypeAssessment}}
      class="activity-dashboard__participations-by-day"
    />
    <Campaign::Charts::ParticipantsByStatus
      @loading={{this.participantsByStatusLoading}}
      @participantCountByStatus={{this.participantCountByStatus}}
      @isTypeAssessment={{@campaign.isTypeAssessment}}
      class="activity-dashboard__participations-by-status"
    />
  </div>
</section>