<PixModal
  @title={{t
    "pages.campaign-activity.delete-participation-modal.title"
    lastName=@participation.lastName
    firstName=@participation.firstName
    htmlSafe=true
  }}
  @onCloseButtonClick={{@closeModal}}
  @showModal={{@isModalOpen}}
>
  <:content>
    <p>
      {{t "pages.campaign-activity.delete-participation-modal.text"}}
    </p>
    <p class="warning-text">
      {{this.deleteParticipationModalWarning}}
    </p>
  </:content>
  <:footer>
    <PixButton @variant="secondary" @triggerAction={{@closeModal}}>
      {{t "pages.campaign-activity.delete-participation-modal.actions.cancel"}}
    </PixButton>
    <PixButton @variant="error" @triggerAction={{@deleteCampaignParticipation}}>
      {{t "pages.campaign-activity.delete-participation-modal.actions.confirmation"}}
    </PixButton>
  </:footer>
</PixModal>