<Campaign::Filter::ParticipationFilters
  @campaign={{@campaign}}
  @selectedDivisions={{@selectedDivisions}}
  @selectedStatus={{@selectedStatus}}
  @selectedGroups={{@selectedGroups}}
  @searchFilter={{@searchFilter}}
  @rowCount={{@rowCount}}
  @isHiddenStages={{true}}
  @isHiddenBadges={{true}}
  @isHiddenCertificability={{true}}
  @onFilter={{@onFilter}}
  @onResetFilter={{@onResetFilter}}
/>

<section ...attributes>
  <div class="panel">
    <table class="table content-text content-text--small">
      <colgroup class="table__column">
        <col class="table__column--wide" />
        <col class="table__column--wide" />
        {{#if @campaign.idPixLabel}}
          <col class="table__column--wide" />
        {{/if}}
        <col class="table__column--wide" />
        {{#if this.canDeleteParticipation}}
          <col class="table__column--small table__column--right hide-on-mobile" />
        {{/if}}
      </colgroup>
      <thead>
        <tr>
          <Table::Header>{{t "pages.campaign-activity.table.column.last-name"}}</Table::Header>
          <Table::Header>{{t "pages.campaign-activity.table.column.first-name"}}</Table::Header>
          {{#if @campaign.idPixLabel}}
            <Table::Header>{{@campaign.idPixLabel}}</Table::Header>
          {{/if}}
          <Table::Header>{{t "pages.campaign-activity.table.column.status"}}</Table::Header>
          {{#if this.canDeleteParticipation}}
            <Table::Header class="hide-on-mobile">
              <span class="screen-reader-only">
                {{t "pages.campaign-activity.table.column.delete"}}
              </span>
            </Table::Header>
          {{/if}}
        </tr>
      </thead>

      {{#if @participations}}
        <tbody>
          {{#each @participations as |participation|}}
            <tr
              aria-label={{t "pages.campaign-activity.table.row-title"}}
              {{on
                "click"
                (fn @onClickParticipant @campaign.id participation.lastSharedOrCurrentCampaignParticipationId)
              }}
              class="tr--clickable"
            >
              <td>
                <LinkTo
                  @route={{if
                    @campaign.isTypeAssessment
                    "authenticated.campaigns.participant-assessment"
                    "authenticated.campaigns.participant-profile"
                  }}
                  @models={{array @campaign.id participation.lastSharedOrCurrentCampaignParticipationId}}
                >
                  <span
                    aria-label="{{t
                      'pages.campaign-activity.table.see-results'
                      firstName=participation.firstName
                      lastName=participation.lastName
                    }}"
                  >
                    {{participation.lastName}}</span>
                </LinkTo>
              </td>
              <td>{{participation.firstName}}</td>
              {{#if @campaign.idPixLabel}}
                <td>{{participation.participantExternalId}}</td>
              {{/if}}
              <td>
                <Ui::ParticipationStatus @status={{participation.status}} @campaignType={{@campaign.type}} />
              </td>
              {{#if this.canDeleteParticipation}}
                <td class="hide-on-mobile">
                  <PixIconButton
                    @ariaLabel={{t "pages.campaign-activity.table.delete-button-label"}}
                    @withBackground={{true}}
                    @icon="trash-can"
                    @triggerAction={{fn this.openModal participation}}
                    @size="small"
                    class="campaign-activity-table-actions__button campaign-activity-table-actions__button--delete"
                  >
                    <FaIcon />
                  </PixIconButton>
                </td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      {{/if}}
    </table>

    {{#unless @participations}}
      <p class="table__empty content-text">{{t "pages.campaign-activity.table.empty"}}</p>
    {{/unless}}
  </div>

  {{#if @participations}}
    <Table::PaginationControl @pagination={{@participations.meta}} />
  {{/if}}

  <Campaign::Activity::DeleteParticipationModal
    @participation={{this.participationToDelete}}
    @campaign={{@campaign}}
    @deleteCampaignParticipation={{this.deleteCampaignParticipation}}
    @closeModal={{this.closeModal}}
    @isModalOpen={{this.isModalOpen}}
  />
</section>