<div ...attributes>
  <div class="panel">
    <div class="table content-text content-text--small">
      <table>
        <thead>
          <tr>
            <th>{{t 'pages.campaign-activity.table.column.last-name'}}</th>
            <th>{{t 'pages.campaign-activity.table.column.first-name'}}</th>
            {{#if @campaign.idPixLabel}}
              <th>{{@campaign.idPixLabel}}</th>
            {{/if}}
            <th>{{t 'pages.campaign-activity.table.column.status'}}</th>
          </tr>
        </thead>

        {{#if @participations}}
          <tbody>
          {{#each @participations as |participation|}}
            <tr aria-label={{t 'pages.campaign-activity.table.row-title'}} role="button" {{on 'click' (fn @onClickParticipant @campaign.id participation.id)}} class="tr--clickable">
              <td>
                <LinkTo
                  @route={{if @campaign.isTypeAssessment 'authenticated.campaigns.assessment' 'authenticated.campaigns.profile'}}
                  @models={{array @campaign.id participation.id}}>
                {{participation.lastName}}
                </LinkTo>
              </td>
              <td>{{participation.firstName}}</td>
              {{#if @campaign.idPixLabel}}
                <td>{{participation.participantExternalId}}</td>
              {{/if}}
              <td>
                <Campaign::Activity::ParticipationStatus
                  @status={{participation.status}}
                  @isTypeAssessment={{@campaign.isTypeAssessment}}
                />
              </td>
            </tr>
          {{/each}}
          </tbody>
        {{/if}}
      </table>

      {{#unless @participations}}
        <div class="table__empty content-text">{{t 'pages.campaign-activity.table.empty'}}</div>
      {{/unless}}
    </div>
  </div>

  {{#if @participations}}
    <PaginationControl @pagination={{@participations.meta}}/>
  {{/if}}
</div>
