<div class="challenge-item-proposals__qcu-radios">
  {{#each this.labeledRadios as |labeledRadio|}}
    <PixRadioButton
      name="radio"
      @value={{labeledRadio.value}}
      disabled={{@isDisabled}}
      checked={{labeledRadio.checked}}
      {{on "click" (fn this.radioClicked labeledRadio.value)}}
      data-value="{{labeledRadio.value}}"
      @class="pix1d-radio"
      data-test="challenge-response-proposal-selector"
    >
      <:label>
        <MarkdownToHtml @class="qcu-panel__text proposal-text" @markdown={{labeledRadio.label}} />
      </:label>
    </PixRadioButton>
  {{/each}}
</div>