<th rowspan={{@thematic.tubes.length}}>
  <label>
    <TargetProfiles::TubesSelection::Checkbox
      id="thematic-{{@thematic.id}}"
      @state={{this.state}}
      {{on "change" this.onChange}}
    />
    {{@thematic.name}}
  </label>
</th>