<div class="certification-informations__row">
  <div class="certification-informations__card">
    <h2 class="certification-informations__card__title">Commentaires jury</h2>
    <Certifications::InfoField
      @value={{@certification.commentForCandidate}}
      @edition={{false}}
      @label="Pour le candidat :"
      @fieldId="certification-commentForCandidate"
    />
    <Certifications::InfoField
      @value={{@certification.commentForOrganization}}
      @edition={{false}}
      @label="Pour l'organisation :"
      @fieldId="certification-commentForOrganization"
    />
    <Certifications::InfoField
      @value={{@certification.commentByJury}}
      @edition={{this.isEditingJuryComment}}
      @label="Notes internes Jury Pix :"
      @fieldId="certification-commentByJury"
      @isTextarea={{true}}
    />
    <Certifications::InfoField @value={{@certification.juryId}} @edition={{false}} @label="Identifiant jury :" />

    {{#if this.isEditingJuryComment}}
      <ul class="certification-information-comments">
        <li>
          <PixButton
            @size="small"
            @variant="secondary"
            @isBorderVisible={{true}}
            @triggerAction={{this.cancelJuryCommentEdition}}
          >
            Annuler
          </PixButton>
        </li>
        <li>
          <PixButton @size="small" @triggerAction={{this.saveJuryComment}}>
            Enregistrer
          </PixButton>
        </li>
      </ul>
    {{else}}
      <PixButton @size="small" @triggerAction={{this.editJuryComment}}>
        Modifier le commentaire jury
      </PixButton>
    {{/if}}
  </div>
</div>