<div class="certification-details-v3__container">
  <section class="page-section"></section>
  <section class="page-section">
    <h2 class="certification-details-v3__title">Informations complémentaires</h2>

    <dl class="certification-details-v3__list">
      <dt>Nombre de question répondues <br /> / Nombre total de questions</dt>
      <dd>{{@details.numberOfAnsweredQuestions}}/{{@details.totalNumberOfQuestions}}</dd>
      <dt>Nombre de question OK :</dt>
      <dd>{{@details.numberOfOkAnswers}}</dd>
      <dt>Nombre de question KO :</dt>
      <dd>{{@details.numberOfKoAnswers}}</dd>
      <dt>Nombre de question abandonnées :</dt>
      <dd>{{@details.numberOfAbandAnswers}}</dd>
      <dt>Nombre de problèmes techniques validés :</dt>
      <dd>{{@details.numberOfValidatedLiveAlerts}}</dd>
    </dl>
  </section>
</div>
<section class="page-section">
  <h2 class="certification-details-v3__title">Liste des questions</h2>
  <div class="content-text content-text--small">
    <div class="table-admin">
      <table>
        <thead>
          <tr>
            <th class="table__column--small">N°</th>
            <th class="certification-details-v3-table__answered-at-column">Heure de réponse</th>
            <th class="certification-details-v3-table__answer-status-column">Statut</th>
            <th class="certification-details-v3-table__competence-column">Compétence concernée</th>
            <th class="certification-details-v3-table__skill-column">Nom de l'acquis</th>
            <th class="certification-details-v3-table__challenge-id-column">RecID (voir dans Pix Editor)</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each @details.certificationChallengesForAdministration as |certificationChallenge|}}
            <tr>
              <td>{{certificationChallenge.questionNumber}}</td>
              <td>
                {{#if certificationChallenge.answeredAt}}
                  <time>
                    {{dayjs-format certificationChallenge.answeredAt "HH:mm:ss"}}
                  </time>
                {{else}}
                  -
                {{/if}}
              </td>
              <td>
                <PixTag @color={{this.answerStatusColor certificationChallenge.answerStatus}}>
                  {{this.answerStatusLabel certificationChallenge.answerStatus}}
                </PixTag>
              </td>
              <td>{{certificationChallenge.competenceIndex}} {{certificationChallenge.competenceName}}</td>
              <td>{{certificationChallenge.skillName}}</td>
              <td>
                <a
                  href={{this.externalUrlForPixEditor certificationChallenge.id}}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {{certificationChallenge.id}}
                  <FaIcon @icon="external-link" />
                </a>
              </td>
              <td class="certification-details-v3-table__challenge-action-cell">
                <a
                  href={{this.externalUrlForPreviewChallenge certificationChallenge.id}}
                  target="_blank"
                  title="Lien vers l'aperçu de l'épreuve"
                  aria-label="Lien vers l'aperçu de l'épreuve (Ouverture dans une nouvelle fenêtre)"
                  rel="noopener noreferrer"
                >
                  <FaIcon @icon="eye" />
                </a>
                {{#if certificationChallenge.answerValue}}
                  <button
                    title="Afficher la réponse du candidat"
                    aria-label="Afficher la réponse du candidat"
                    type="button"
                    {{on "click" (fn this.openModal certificationChallenge)}}
                  >
                    <FaIcon @icon="message" />
                  </button>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>

<PixModal
  @title="Réponse question {{this.certificationChallenge.questionNumber}}"
  @showModal={{this.showModal}}
  @onCloseButtonClick={{this.closeModal}}
>
  <:content>
    <p>
      {{this.certificationChallenge.answerValue}}
    </p>
  </:content>
  <:footer>
    <PixButton @backgroundColor="transparent-light" @isBorderVisible={{true}} @triggerAction={{this.closeModal}}>
      Fermer
    </PixButton>
  </:footer>
</PixModal>