{{page-title "Simulateur algorithme Smart Random"}}
<div class="page">

  <header class="page-header">
    <div class="page-title">
      <h1>Simulateur Smart Random</h1>
    </div>
  </header>

  <main class="page-body smart-random-simulator">
    <section class="admin-form__content">
      <SmartRandomSimulator::SmartRandomParams
        @knowledgeElements={{this.knowledgeElements}}
        @answers={{this.answers}}
        @skills={{this.skills}}
        @challenges={{this.challenges}}
        @locale={{this.locale}}
        @assessmentId={{this.assessmentId}}
        @loadCampaignParams={{this.loadCampaignParams}}
        @updateParametersValue={{this.updateParametersValue}}
      />

      {{#if this.previousChallenges.length}}
        <SmartRandomSimulator::PreviousChallenges @challenges={{this.previousChallenges}} />
      {{/if}}
    </section>

    <section>
      <section class="admin-form__content">

        {{#if this.assessmentComplete}}

          <SmartRandomSimulator::Reset @reset={{this.reset}} />

          <SmartRandomSimulator::TubesViewer
            @tubes={{this.skillsByTube}}
            @currentSkillId={{this.currentChallenge.skill.id}}
            @knowledgeElements={{this.knowledgeElements}}
            @smartRandomDetails={{this.smartRandomDetails}}
            @totalNumberOfSkills={{this.skills.length}}
            @numberOfSkillsStillAvailable={{this.numberOfSkillsStillAvailable}}
            @displayedStepIndex={{this.displayedStepIndex}}
            @selectDisplayedStepIndex={{this.selectDisplayedStepIndex}}
          />

        {{else if this.currentChallenge}}

          <SmartRandomSimulator::CurrentChallenge
            @assessmentComplete={{this.assessmentComplete}}
            @challenge={{this.currentChallenge}}
            @reset={{this.reset}}
            @succeedCurrentChallenge={{this.succeedCurrentChallenge}}
            @failCurrentChallenge={{this.failCurrentChallenge}}
            @getNextChallenge={{this.getNextChallenge}}
          />

          <SmartRandomSimulator::TubesViewer
            @tubes={{this.skillsByTube}}
            @currentSkillId={{this.currentChallenge.skill.id}}
            @knowledgeElements={{this.knowledgeElements}}
            @smartRandomDetails={{this.smartRandomDetails}}
            @totalNumberOfSkills={{this.skills.length}}
            @numberOfSkillsStillAvailable={{this.numberOfSkillsStillAvailable}}
            @displayedStepIndex={{this.displayedStepIndex}}
            @selectDisplayedStepIndex={{this.selectDisplayedStepIndex}}
          />

        {{else}}

          <SmartRandomSimulator::Start @startAssessment={{this.startAssessment}} />

        {{/if}}
      </section>
    </section>

  </main>
</div>