<header class='page-header'>
  <h1 class='page-title'>Gestionnaire jury</h1>
</header>
<div class='page-body page-body__jury container'>
  <div class='row mt-2'>
    <div class='col-5'>
      <div class='card border-primary'>
        <div class='card-body'>
          <form class='jury-form form-inline' {{action 'loadCertificationDetails' on='submit'}}>
            <div class='form-group row'>
              <div class='jury-form__control mx-sm-3 mb-2'>
                {{input class='jury-form__control' placeholder='Identifiant' value=requestedId}}
              </div>
              {{#bs-button class='jury-form__button mb-2 btn-sm' type='primary' onClick=(action 'loadCertificationDetails')}}Charger{{/bs-button}}
            </div>
          </form>
        {{#if loading}}
          <div class='mt-4 mb-4'>
            <i class='fa fa-spinner fa-spin fa-lg'></i>
            Chargement...
          </div>
        {{else}}
          {{#if details}}
            <div class='row'>
              <div class='col'>Statut :</div><div class='col'>{{details.status}}</div>
            </div>
            <div class='row'>
              <div class='col'>Créé le :</div><div class='col'>{{details.creationDate}}</div>
            </div>
            <div class='row'>
              <div class='col'>Terminée le :</div><div class='col'>{{details.completionDate}}</div>
            </div>
            <div class='row'>
              <div class='col'>Score :</div><div class='col certificate'>{{score}}</div>
            </div>
            {{#if juryScore includeZero=true}}
              <div class='row jury'>
                <div class='col'>Score corrigé :</div><div class='col jury'>{{juryScore}}</div>
              </div>
            {{/if}}
            <div class='row'>
              <div class='col'>Taux de reproductibilité :</div><div class='col certificate'>{{rate}}</div>
            </div>
            {{#if juryRate}}
              <div class='row'>
                <div class='col'>Taux corrigé :</div><div class='col jury'>{{juryRate}}</div>
              </div>
            {{/if}}
          {{/if}}
        {{/if}}
        </div>
      </div>
    </div>
    <div class='col'>
      {{#each details.competences as |competence|}}
        {{certification-details-competence competence=competence rate=rate juryRate=juryRate updateDetails=(action 'updateDetails') }}
      {{/each}}
    </div>
  </div>
</div>
