<div class="add-student">

  <PixReturnTo
    @route="authenticated.sessions.details.certification-candidates"
    @model={{@model.session.id}}
    class="add-student__return-to">Retour à la session</PixReturnTo>

  <h1 class="add-student__title">Ajouter des candidats</h1>

  <AddStudentList
    @certificationCandidates={{@model.certificationCandidates}}
    @studentList={{@model.students}}
    @session={{@model.session}}
    @returnToSessionCandidates={{this.returnToSessionCandidates}} />
</div>
