{{page-title this.pageTitle replace=true}}
<div class="session-details-page">
  <PixReturnTo @route="authenticated.sessions.list" class="session-details-page__return-to">
    Retour à la liste des sessions
  </PixReturnTo>
  <div class="page__title session-details__header">
    <div class="session-details-header__title">
      <h1 class="page-title">Session {{this.session.id}}</h1>
    </div>

    <div class="session-details-header__datetime">
      <div class="session-details-header-datetime__date">
        <h2 class="label-text session-details-content__label">Date</h2>
        <span class="content-text content-text--big session-details-header-datetime__text">
          {{dayjs-format this.session.date "dddd DD MMM YYYY" allow-empty=true locale="fr"}}
        </span>
      </div>

      <div>
        <h2 class="label-text session-details-content__label">Heure de début (heure locale)</h2>
        <span class="content-text content-text--big session-details-header-datetime__text">
          {{dayjs-format this.session.time "HH:mm" inputFormat="HH:mm:ss" allow-empty=true}}
        </span>
      </div>
    </div>
  </div>

  {{#if this.session.shouldDisplayCleaResultDownloadSection}}
    <SessionCleaResultsDownload @session={{this.session}} />
  {{/if}}

  <div class="panel session-details__controls">
    <nav class="navbar session-details__controls-navbar-tabs">
      <LinkTo @route="authenticated.sessions.details.parameters" class="navbar-item">
        Détails
      </LinkTo>
      <LinkTo @route="authenticated.sessions.details.certification-candidates" class="navbar-item">
        Candidats
        {{this.certificationCandidatesCount}}
      </LinkTo>
    </nav>
    <div class="session-details__controls-links">
      <span class="session-details__controls-title">Téléchargements :</span>
      <PixButtonLink
        class="session-details__controls-download-button"
        @href="{{this.session.urlToDownloadSessionIssueReportSheet}}"
        @backgroundColor="transparent"
        @size="small"
        target="_blank"
        aria-label="Télécharger le pv d'incident"
        rel="noopener noreferrer"
        download
      >
        <FaIcon @icon="file-download" class="session-details__controls-icon" />
        PV d'incident
      </PixButtonLink>
      <PixButtonLink
        class="session-details__controls-download-button"
        @href="{{this.session.urlToDownloadSupervisorKitPdf}}"
        @backgroundColor="transparent"
        @size="small"
        target="_blank"
        aria-label="Télécharger le kit surveillant"
        rel="noopener noreferrer"
        download
      >
        <FaIcon @icon="file-download" class="session-details__controls-icon" />
        Kit surveillant
      </PixButtonLink>
      {{#if this.shouldDisplayDownloadButton}}
        <PixButtonLink
          class="session-details__controls-download-button"
          @href="{{this.session.urlToDownloadAttendanceSheet}}"
          @backgroundColor="transparent"
          @size="small"
          target="_blank"
          aria-label="Télécharger la feuille d'émargement"
          rel="noopener noreferrer"
          download
        >
          <FaIcon @icon="file-download" class="session-details__controls-icon" />
          Feuille d'émargement
        </PixButtonLink>
      {{/if}}
    </div>
  </div>
  {{outlet}}
</div>