{{page-title this.pageTitle replace=true}}
<div class="session-details-page">
  <PixReturnTo @route="authenticated.sessions.list" class="session-details-page__return-to">
    {{t "pages.sessions.actions.return"}}
  </PixReturnTo>
  <div class="page__title session-details__header">
    <div class="session-details-header__title">
      <h1 class="page-title">{{t "pages.sessions.detail.title" sessionId=this.session.id}}</h1>
    </div>

    <div class="session-details-header__datetime">
      <div class="session-details-header-datetime__date">
        <h2 class="label-text session-details-content__label">{{t "common.forms.session-labels.date"}}</h2>
        <span class="content-text content-text--big session-details-header-datetime__text">
          {{dayjs-format this.session.date "dddd DD MMM YYYY" allow-empty=true}}
        </span>
      </div>

      <div>
        <h2 class="label-text session-details-content__label">{{t "common.forms.session-labels.time-start"}}</h2>
        <span class="content-text content-text--big session-details-header-datetime__text">
          {{dayjs-format this.session.time "HH:mm" inputFormat="HH:mm:ss" allow-empty=true}}
        </span>
      </div>
    </div>
  </div>

  {{#if this.session.shouldDisplayCleaResultDownloadSection}}
    <SessionCleaResultsDownload @session={{this.session}} />
  {{/if}}

  <div class="panel session-details__controls">
    <nav class="navbar session-details__controls-navbar-tabs">
      <LinkTo @route="authenticated.sessions.details.parameters" class="navbar-item">
        {{t "pages.sessions.detail.tabs.details"}}
      </LinkTo>
      <LinkTo @route="authenticated.sessions.details.certification-candidates" class="navbar-item">
        {{t "common.sessions.candidates"}}
        {{this.certificationCandidatesCount}}
      </LinkTo>
    </nav>
    <div class="session-details__controls-links">
      <span class="session-details__controls-title">{{t "pages.sessions.detail.downloads.label"}}</span>
      <PixButtonLink
        class="session-details__controls-download-button"
        @href="{{this.urlToDownloadSessionIssueReportSheet}}"
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @size="small"
        target="_blank"
        aria-label={{t "pages.sessions.detail.downloads.incident-report.extra-information"}}
        rel="noopener noreferrer"
        download
      >
        <FaIcon @icon="file-download" class="session-details__controls-icon" />
        {{t "pages.sessions.detail.downloads.incident-report.label"}}
      </PixButtonLink>
      <PixButtonLink
        class="session-details__controls-download-button"
        @href="{{this.session.urlToDownloadSupervisorKitPdf}}"
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @size="small"
        target="_blank"
        aria-label={{t "pages.sessions.detail.downloads.invigilator-kit.extra-information"}}
        rel="noopener noreferrer"
        download
      >
        <FaIcon @icon="file-download" class="session-details__controls-icon" />
        {{t "pages.sessions.detail.downloads.invigilator-kit.label"}}
      </PixButtonLink>
      {{#if this.shouldDisplayDownloadButton}}
        <PixButtonLink
          class="session-details__controls-download-button"
          @href="{{this.session.urlToDownloadAttendanceSheet}}"
          @backgroundColor="transparent-light"
          @isBorderVisible={{true}}
          @size="small"
          target="_blank"
          aria-label={{t "pages.sessions.detail.downloads.attendance-sheet.extra-information"}}
          rel="noopener noreferrer"
          download
        >
          <FaIcon @icon="file-download" class="session-details__controls-icon" />
          {{t "pages.sessions.detail.downloads.attendance-sheet.label"}}
        </PixButtonLink>
      {{/if}}
    </div>
  </div>
  {{outlet}}
</div>