{{page-title this.pageTitle replace=true}}
<div class="page__title finalize">
  <div class="finalize__title">
    <PixReturnTo @route="authenticated.sessions.details" @model={{this.session.id}} class="previous-button">
      {{t "common.sessions.actions.return-to"}}
    </PixReturnTo>
    <h1 class="page-title">{{t "pages.session-finalization.title" sessionId=this.session.id}}</h1>
  </div>
  <SessionFinalizationStepContainer
    @title={{t "pages.session-finalization.reporting.title"}}
    @subtitle={{t "pages.session-finalization.reporting.description"}}
    @icon="/icons/session-finalization-user.svg"
    @iconAlt=""
  >
    {{#if (gt this.session.uncompletedCertificationReports.length 0)}}
      <SessionFinalization::UncompletedReportsInformationStep
        @certificationReports={{this.session.uncompletedCertificationReports}}
        @issueReportDescriptionMaxLength={{this.issueReportDescriptionMaxLength}}
        @onIssueReportDeleteButtonClicked={{this.deleteCertificationIssueReport}}
        @onChangeAbortReason={{this.abort}}
        @session={{this.session}}
      />
    {{/if}}
    {{#if (gt this.session.completedCertificationReports.length 0)}}
      <SessionFinalization::CompletedReportsInformationStep
        @session={{this.session}}
        @certificationReports={{this.session.completedCertificationReports}}
        @issueReportDescriptionMaxLength={{this.issueReportDescriptionMaxLength}}
        @onHasSeenEndTestScreenCheckboxClicked={{this.toggleCertificationReportHasSeenEndTestScreen}}
        @onAllHasSeenEndTestScreenCheckboxesClicked={{this.toggleAllCertificationReportsHasSeenEndTestScreen}}
        @onIssueReportDeleteButtonClicked={{this.deleteCertificationIssueReport}}
        @shouldDisplayHasSeenEndTestScreenCheckbox={{this.shouldDisplayHasSeenEndTestScreenCheckbox}}
      />
    {{/if}}
  </SessionFinalizationStepContainer>

  <SessionFinalizationStepContainer
    @title={{t "pages.session-finalization.complementary-information.title"}}
    @subtitle={{t "pages.session-finalization.complementary-information.description"}}
    @icon="/icons/edit-file.svg"
    @iconAlt=""
  >
    <SessionFinalization::ComplementaryInformationStep
      @toggleIncidentDuringCertificationSession={{this.toggleIncidentDuringCertificationSession}}
      @toggleSessionJoiningIssue={{this.toggleSessionJoiningIssue}}
    />
  </SessionFinalizationStepContainer>

  <PixButton class="finalize__button" data-test-id="finalize__button" @triggerAction={{this.openModal}}>
    {{t "pages.session-finalization.actions.finalise"}}
  </PixButton>
</div>

<SessionFinalization::FinalizationConfirmationModal
  @showModal={{this.showConfirmModal}}
  @closeModal={{this.closeModal}}
  @hasUncheckedHasSeenEndTestScreen={{this.hasUncheckedHasSeenEndTestScreen}}
  @uncheckedHasSeenEndTestScreenCount={{this.uncheckedHasSeenEndTestScreenCount}}
  @shouldDisplayHasSeenEndTestScreenCheckbox={{this.shouldDisplayHasSeenEndTestScreenCheckbox}}
  @finalizeSession={{this.finalizeSession}}
/>