<div class="page__title finalize">
  <div class="finalize__title">
    <LinkTo @route="authenticated.sessions.details" @model={{this.session.id}} class="icon-button session-details-content__return-button">
      {{fa-icon 'arrow-left'}}
    </LinkTo>
    <h1 class="page-title">Finaliser la session {{this.session.id}}</h1>
  </div>
  <div class="finalize__subtitle">
    Pour finaliser la session, complétez les trois étapes puis validez.
  </div>

  <SessionFinalizationStepContainer
      @number="1"
      @title="Renseigner les informations de vos candidats"
      @icon="/icons/session-finalization-user.svg"
      @iconAlt="">
    <SessionFinalizationReportsInformationsStep
        @certificationReports={{this.session.certificationReports}}
        @updateCertificationReportExaminerComment={{this.updateCertificationReportExaminerComment}}
        @examinerCommentMaxLength={{this.examinerCommentMaxLength}}
        @toggleCertificationReportHasSeenEndTestScreen={{this.toggleCertificationReportHasSeenEndTestScreen}}
        @toggleAllCertificationReportsHasSeenEndTestScreen={{this.toggleAllCertificationReportsHasSeenEndTestScreen}} />
  </SessionFinalizationStepContainer>

  <SessionFinalizationStepContainer
          @number="2"
          @title="Transmettre le PV de session scanné et autres documents éventuels"
          @icon="/icons/session-finalization-send.svg"
          @iconAlt="">
      <SessionFinalizationFormbuilderLinkStep/>
  </SessionFinalizationStepContainer>

  <SessionFinalizationStepContainer
          @number="3"
          @title="Commenter la session (facultatif)"
          @icon="/icons/session-finalization-edit.svg"
          @iconAlt="">
      <SessionFinalizationExaminerGlobalCommentStep
              @session={{this.session}}
              @updateExaminerGlobalComment={{this.updateExaminerGlobalComment}}
              @examinerGlobalCommentMaxLength={{this.examinerGlobalCommentMaxLength}} />
  </SessionFinalizationStepContainer>

  <ActionButton
          class="finalize__button"
          data-test-id="finalize__button"
          @isLoading={{this.isLoading}}
          @handleClick={{this.openModal}} >
      Finaliser
  </ActionButton>
</div>

{{#if this.showConfirmModal}}
  <AppModal @containerClass="pix-modal-dialog--wide" @onClose={{this.closeModal}}>

    <div class="pix-modal__close-link">
      <a href="#" data-test-id="finalize-session-modal__close-cross" {{on "click" this.closeModal}}>Fermer
        <img src="/icons/icon-close-modal.svg" alt="Fermer la fenêtre de confirmation" width="24" height="24">
      </a>
    </div>

    <div class="pix-modal__container pix-modal__container--white pix-modal__container--with-padding">
      <div class="pix-modal-body pix-modal-body--with-padding">
        <div class="app-modal-body__attention">Vous êtes sur le point de finaliser cette session.</div>
        <div class="app-modal-body__warning">
          <p>Attention : il ne vous sera plus possible de modifier ces informations par la suite.</p>
        </div>
      </div>

      <div class="pix-modal-footer pix-modal-footer--with-centered-buttons">
        <button
                type="button"
                class="button button--big button--extra-thin button--red"
                data-test-id="finalize-session-modal__confirm-button"
          {{on "click" this.finalizeSession}}>Confirmer</button>
        <button
                type="button"
                class="button button--regular button--extra-thin button--grey"
                data-test-id="finalize-session-modal__cancel-button"
          {{on "click" this.closeModal}}>Annuler</button>
      </div>
    </div>
  </AppModal>
{{/if}}
