{{page-title (t "pages.sessions.import.title")}}
<main class="import-page">
  <h1 class="page-title">{{t "pages.sessions.import.title"}}</h1>
  <p>Comment ça marche ?</p>
  <PixCollapsible
    @title={{t "pages.sessions.import.instructions-creation-title"}}
    @iconTitle="plus"
    class="import-page_section--instructions"
  >
    {{t "pages.sessions.import.instructions-creation-list"}}
    <ul>
      <li>{{t "pages.sessions.import.instructions-creation-list-with-candidates" htmlSafe=true}}</li>
      <li>{{t "pages.sessions.import.instructions-creation-list-without-candidates" htmlSafe=true}}</li>
    </ul>
  </PixCollapsible>
  <PixCollapsible
    @title={{t "pages.sessions.import.instructions-edition-title"}}
    @iconTitle="plus"
    class="import-page__section--instructions"
  >
    <ul>
      <li>{{t "pages.sessions.import.instructions-edition-replace" htmlSafe=true}}</li>
      <li>{{t "pages.sessions.import.instructions-edition-subscription" htmlSafe=true}}</li>
    </ul>
    <PixMessage @type="warning" @withIcon={{true}}>
      {{t "pages.sessions.import.instructions-edition-warning"}}
    </PixMessage>
  </PixCollapsible>
  <nav aria-label="Fil d'Ariane" class="import-page__section--breadcrumb panel">
    <ol>
      <li class="active">
        <a href="">
          {{t "pages.sessions.import.breadcrumb-import"}}
        </a>
      </li>
      <FaIcon @icon="chevron-right" class="breadcrumb-icon" />
      <li>
        <a href="">
          {{t "pages.sessions.import.breadcrumb-summary"}}
        </a>
      </li>
    </ol>
  </nav>
  <section class="import-page__section--download panel">
    <div class="import-page__section--download__button">
      <FaIcon @icon="file-arrow-down" class="fa-2x download-icon" />
      {{t "pages.sessions.import.session-import-template-label"}}
      <PixButton
        @backgroundColor="transparent-light"
        @isBorderVisible="{{true}}"
        aria-label={{t "pages.sessions.import.session-import-template-label"}}
        @triggerAction={{this.downloadSessionImportTemplate}}
      >
        {{t "pages.sessions.import.session-import-template"}}
      </PixButton>
    </div>

    <div class="import-page__section--download__button">
      <FaIcon @icon="cloud-arrow-up" class="fa-2x download-icon" />
      {{t "pages.sessions.import.session-import-upload-label"}}
      <PixButtonUpload
        @backgroundColor="transparent-light"
        @isBorderVisible="{{true}}"
        @id="file-upload"
        @onChange={{this.preImportSessions}}
        aria-label={{t "pages.sessions.import.session-import-upload-label"}}
        accept=".csv"
      >
        {{t "pages.sessions.import.session-import-upload"}}
      </PixButtonUpload>
    </div>

    {{#if this.file}}
      <div class="import-page__file-name" aria-label={{this.fileName}}>
        {{this.fileName}}
        <PixIconButton
          @ariaLabel={{t "pages.sessions.import.cancel"}}
          @icon="circle-xmark"
          @triggerAction={{this.removeImport}}
          class="import-page-file-name__cancel"
        />
      </div>
    {{/if}}

    <div class="import-page__section--link-buttons">
      <PixButtonLink
        @route="authenticated.sessions.list"
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
      >
        {{t "common.actions.cancel"}}
      </PixButtonLink>
      <PixButtonLink onclick={{this.importSessions}} @isDisabled={{this.isImportDisabled}}>
        {{t "common.actions.continue"}}
      </PixButtonLink>
    </div>
  </section>
</main>