{{! template-lint-disable link-href-attributes }}
{{page-title (t "pages.sessions.import.title")}}
<main class="import-page">
  <PixReturnTo @route="authenticated.sessions.list" class="import-page__previous-page-button">
    {{t "pages.sessions.actions.return"}}
  </PixReturnTo>
  <h1 class="page-title">{{t "pages.sessions.import.title"}}</h1>

  <nav
    aria-label={{t "pages.sessions.import.breadcrumb.extra-information"}}
    class="import-page__section--breadcrumb panel"
  >
    <ol>
      <li class={{if this.isImportStepOne "active" ""}}>
        <a href="">
          {{t "pages.sessions.import.breadcrumb.import"}}
        </a>
      </li>
      <FaIcon @icon="chevron-right" class="breadcrumb-icon" />
      <li class={{if this.isImportStepOne "" "active"}}>
        <a role="link" aria-disabled="true" class="import-page-section-breadcrumb__summary-link">
          {{t "pages.sessions.import.breadcrumb.summary"}}
        </a>
      </li>
    </ol>
  </nav>

  {{#if this.isImportStepOne}}
    <Import::StepOneSection
      @downloadSessionImportTemplate={{this.downloadSessionImportTemplate}}
      @preImportSessions={{this.preImportSessions}}
      @file={{this.file}}
      @fileName={{this.fileName}}
      @removeImport={{this.removeImport}}
      @validateSessions={{this.validateSessions}}
      @isImportDisabled={{this.isImportDisabled}}
    />
  {{else}}
    <Import::StepTwoSection
      @sessionsCount={{this.sessionsCount}}
      @sessionsWithoutCandidatesCount={{this.sessionsWithoutCandidatesCount}}
      @candidatesCount={{this.candidatesCount}}
      @isImportInError={{this.isImportInError}}
      @errorsReport={{this.errorsReport}}
    />
  {{/if}}
</main>