{{page-title (t "pages.sessions.import.title")}}
<main class="import-page">
  <h1 class="page-title">{{t "pages.sessions.import.title"}}</h1>

  <nav aria-label="Fil d'Ariane" class="import-page__section--breadcrumb panel">
    <ol>
      <li class={{if this.isImportStepOne "active" ""}}>
        <a href="">
          {{t "pages.sessions.import.breadcrumb.import"}}
        </a>
      </li>
      <FaIcon @icon="chevron-right" class="breadcrumb-icon" />
      <li class={{if this.isImportStepOne "" "active"}}>
        <a href="">
          {{t "pages.sessions.import.breadcrumb.summary"}}
        </a>
      </li>
    </ol>
  </nav>

  {{#if this.isImportStepOne}}
    <Import::StepOneSection
      @downloadSessionImportTemplate={{this.downloadSessionImportTemplate}}
      @preImportSessions={{this.preImportSessions}}
      @file={{this.file}}
      @fileName={{this.fileName}}
      @removeImport={{this.removeImport}}
      @importSessions={{this.importSessions}}
      @isImportDisabled={{this.isImportDisabled}}
    />
  {{else}}
    <Import::StepTwoSection />
  {{/if}}
</main>