{{! template-lint-disable link-href-attributes }}
{{page-title (t "pages.sessions.import.title")}}
<main class="import-page">
  <PixReturnTo @route="authenticated.sessions.list" class="import-page__previous-page-button">
    {{t "pages.sessions.actions.return"}}
  </PixReturnTo>
  <h1 class="page-title">{{t "pages.sessions.import.title"}}</h1>

  {{#if this.isImportStepOne}}
    <Import::StepOneSection
      @downloadSessionImportTemplate={{this.downloadSessionImportTemplate}}
      @preImportSessions={{this.preImportSessions}}
      @file={{this.file}}
      @fileName={{this.fileName}}
      @removeImport={{this.removeImport}}
      @validateSessions={{this.validateSessions}}
      @isImportDisabled={{this.isImportDisabled}}
      @importErrorMessage={{this.importErrorMessage}}
    />
  {{else}}
    <Import::StepTwoSection
      @sessionsCount={{this.sessionsCount}}
      @sessionsWithoutCandidatesCount={{this.sessionsWithoutCandidatesCount}}
      @candidatesCount={{this.candidatesCount}}
      @errorReports={{this.errorReports}}
      @createSessions={{this.createSessions}}
      @toggleStepOne={{this.toggleStepOne}}
    />
  {{/if}}
</main>