{{page-title (t "pages.sessions.import.title")}}
<main class="import-page">
  <h1 class="page-title">{{t "pages.sessions.import.title"}}</h1>
  <p>Comment ça marche ?</p>
  <PixCollapsible @title="Pour créer des sessions ?" @iconTitle="plus" class="import-page_section--instructions">
    Vous pouvez créer des sessions
    <ul>
      <li><strong>Avec candidats</strong>, complétez le modèle dans son intégralité,</li>
      <li><strong>Sans candidat</strong>, complétez uniquement les informations des sessions.</li>
    </ul>
  </PixCollapsible>
  <PixCollapsible
    @title="Pour éditer la liste des candidats de sessions déjà créées ?"
    @iconTitle="plus"
    class="import-page__section--instructions"
  >
    <ul>
      <li><strong>Pour remplacer</strong> une liste pré-existante dans le fichier modèle,</li>
      <li><strong>Pour inscrire</strong> des candidats dans une session vide.</li>
    </ul>
    <PixBanner @type="warning">Attention à renseigner le numéro de session sans les autres informations de sessions (ex
      : date, heure, etc.) pour éviter les doublons lors de la création.</PixBanner>
  </PixCollapsible>
  <section class="import-page__section--download panel">
    <div class="import-page__section--download__button">
      <FaIcon @icon="file-arrow-down" class="fa-2x download-icon" />
      {{t "pages.sessions.import.session-import-template-label"}}
      <PixButton
        @backgroundColor="transparent-light"
        @isBorderVisible="{{true}}"
        aria-label={{t "pages.sessions.import.session-import-template-label"}}
        @triggerAction={{this.downloadSessionImportTemplate}}
      >
        {{t "pages.sessions.import.session-import-template"}}
      </PixButton>
    </div>

    <div class="import-page__section--download__button">
      <FaIcon @icon="cloud-arrow-up" class="fa-2x download-icon" />
      {{t "pages.sessions.import.session-import-upload-label"}}
      <PixButtonUpload
        @backgroundColor="transparent-light"
        @isBorderVisible="{{true}}"
        @id="file-upload"
        @onChange={{this.preImportSessions}}
        aria-label={{t "pages.sessions.import.session-import-upload-label"}}
        accept=".csv"
      >
        {{t "pages.sessions.import.session-import-upload"}}
      </PixButtonUpload>
    </div>

    {{#if this.file}}
      <div class="import-page__file-name" aria-label={{this.fileName}}>
        {{this.fileName}}
        <PixIconButton
          @ariaLabel={{t "pages.sessions.import.cancel"}}
          @icon="circle-xmark"
          @triggerAction={{this.removeImport}}
          class="import-page-file-name__cancel"
        />
      </div>
    {{/if}}

    <div class="import-page__section--link-buttons">
      <PixButtonLink
        @route="authenticated.sessions.list"
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
      >
        {{t "common.actions.cancel"}}
      </PixButtonLink>
      <PixButtonLink onclick={{this.importSessions}} @isDisabled={{this.isImportDisabled}}>
        {{t "common.actions.continue"}}
      </PixButtonLink>
    </div>
  </section>
</main>