<div class="session-list-page">
  {{#if this.hasSession}}
    <div class="session-list-page__header">
      <h1 class="page__title page-title">Sessions de certification</h1>
    </div>

    <PixMessage @withIcon={{true}}>
      Vous pouvez maintenant renseigner l'adresse email du destinataire des résultats (exemple : formateur).<br>
      Pensez à bien renseigner ce champ lors de l'inscription des candidats.
      <a href="https://cloud.pix.fr/s/gTwmp4GKWNJtdn5" target="_blank" rel="noreferrer noopener">
        Plus d'informations ici.
      </a>
    </PixMessage>

    <div class="panel">
      <div class="session-list__header">
          <LinkTo @route="authenticated.sessions.new" class="button button--link button--with-icon">
            Créer une session
            <FaIcon @icon='plus'/>
          </LinkTo>
      </div>

      <div class="table content-text content-text--small table--with-row-clickable">
        <table>
          <thead>
          <tr>
            <th class="table__column table__column--small">ID session</th>
            <th class="table__column table__column--wide">Nom du site</th>
            <th class="table__column table__column--wide">Salle</th>
            <th class="table__column">Date</th>
            <th class="table__column table__column--small">Heure</th>
            <th class="table__column table__column--wide">Surveillant(s)</th>
            <th class="table__column table__column--wide">Statut</th>
          </tr>
          </thead>

          <tbody>
          {{#each this.sortedSessions as |session|}}
            <tr data-test-id="session-list-row__{{session.id}}" {{on 'click' (fn this.goToDetails session)}}>
                <td>{{session.id}}</td>
                <td>{{session.address}}</td>
                <td>{{session.room}}</td>
                <td>{{moment-format session.date 'DD/MM/YYYY' allow-empty=true}}</td>
                <td>{{moment-format session.time 'HH:mm' 'HH:mm:ss' allow-empty=true}}</td>
                <td>{{session.examiner}}</td>
                <td>{{session.displayStatus}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{else}}
    <NoSessionPanel />
  {{/if}}
</div>
