{{page-title this.pageTitle replace=true}}
<div>
  <h1 class="page-title">{{t "pages.sessions.new.title"}}</h1>

  <form {{on "submit" this.createSession}} class="session-form">
    <p class="session-form__mandatory-information">
      {{t "common.forms.mandatory-fields" htmlSafe=true}}
    </p>

    <PixInput
      @id="session-address"
      @requiredLabel={{t "common.forms.required"}}
      maxlength="255"
      @errorMessage={{this.address}}
      @validationStatus={{if this.address "error" "default"}}
      {{on "focusout" (fn this.validateInput "address")}}
      {{on "change" this.onChangeAddress}}
    >
      <:label>{{t "common.forms.session-labels.center-name"}}</:label>
    </PixInput>

    <PixInput
      @id="session-room"
      @requiredLabel={{t "common.forms.required"}}
      maxlength="255"
      @errorMessage={{this.room}}
      @validationStatus={{if this.room "error" "default"}}
      {{on "focusout" (fn this.validateInput "room")}}
      {{on "change" this.onChangeRoom}}
    >
      <:label>{{t "common.forms.session-labels.room-name"}}</:label>
    </PixInput>

    <div class="session-form__field {{if this.isSessionDateMissing 'session-form__field--error'}}">
      <label for="session-date" class="label">
        <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
        {{t "common.forms.session-labels.date-start"}}
      </label>
      <EmberFlatpickr
        id="session-date"
        @altFormat="d/m/Y"
        @altInput={{true}}
        @onChange={{this.onDatePicked}}
        @date=""
        @dateFormat="Y-m-d"
        @locale={{this.currentLocale}}
        @minDate="today"
        @name="session-date"
        class="input input--small"
        aria-describedby="date-error"
        aria-required="true"
      />

      <p id="date-error" class="session-form__error error-message">
        {{#if this.isSessionDateMissing}}
          {{t "pages.sessions.new.errors.SESSION_DATE_REQUIRED"}}
        {{/if}}
      </p>
    </div>

    <div class="session-form__field {{if this.isSessionTimeMissing 'session-form__field--error'}}">
      <label for="session-time" class="label">
        <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
        {{t "common.forms.session-labels.time-start"}}
      </label>
      <EmberFlatpickr
        id="session-time"
        @onChange={{this.onTimePicked}}
        @onClose={{this.onTimePicked}}
        @enableTime={{true}}
        @date=""
        @noCalendar={{true}}
        @dateFormat="H:i"
        @time_24hr={{true}}
        @enableSeconds={{false}}
        @name="session-time"
        class="input input--small"
        aria-describedby="time-error"
        aria-required="true"
      />
      <p id="time-error" class="session-form__error error-message">
        {{#if this.isSessionTimeMissing}}
          {{t "pages.sessions.new.errors.SESSION_TIME_REQUIRED"}}
        {{/if}}
      </p>
    </div>

    <PixInput
      @id="session-examiner"
      @requiredLabel={{t "common.forms.required"}}
      maxlength="255"
      @errorMessage={{this.examiner}}
      @validationStatus={{if this.examiner "error" "default"}}
      {{on "focusout" (fn this.validateInput "examiner")}}
      {{on "change" this.onChangeExaminer}}
    >
      <:label>{{t "common.forms.session-labels.invigilator"}}</:label>
    </PixInput>

    <PixTextarea
      @id="session-description"
      @maxlength="350"
      class="session-form__textarea"
      {{on "change" this.onChangeDescription}}
    >
      <:label>{{t "common.forms.session-labels.observations"}}</:label>
    </PixTextarea>

    <ul class="session-form__actions">
      <li>
        <PixButton
          data-test-id="session-form__cancel-button"
          @variant="secondary"
          @triggerAction={{this.cancel}}
          @isBorderVisible="true"
          aria-label={{t "pages.sessions.new.actions.cancel-extra-information"}}
        >
          {{t "common.actions.cancel"}}
        </PixButton>
      </li>
      <li>
        <PixButton @type="submit">
          {{t "pages.sessions.new.actions.create-session"}}
        </PixButton>
      </li>
    </ul>

  </form>
</div>