{{page-title this.pageTitle replace=true}}
<div>
  <h1 class="page__title page-title">{{t "pages.sessions.update.title"}}</h1>

  <form {{on "submit" this.updateSession}} class="session-form">
    <p class="session-form__mandatory-information">
      {{t "common.forms.mandatory-fields" htmlSafe=true}}
    </p>

    <div class="session-form__field">
      <label for="session-address" class="label">
        <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
        {{t "common.forms.session-labels.center-name"}}
      </label>
      <Input
        id="session-address"
        name="session-address"
        @type="text"
        maxlength="255"
        class="input"
        @value={{this.session.address}}
        {{on "change" this.onChangeAddress}}
        aria-describedby="address-error"
        aria-required="true"
      />
      <p id="address-error" class="session-form__error error-message">
        {{#if this.isSessionAddressMissing}}
          {{t "pages.sessions.new.errors.SESSION_ADDRESS_REQUIRED"}}
        {{/if}}
      </p>
    </div>

    <div class="session-form__field">
      <label for="session-room" class="label">
        <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
        {{t "common.forms.session-labels.room-name"}}
      </label>
      <Input
        id="session-room"
        name="session-room"
        @type="text"
        maxlength="255"
        class="input"
        @value={{this.session.room}}
        {{on "change" this.onChangeRoom}}
        aria-describedby="room-error"
        aria-required="true"
      />
      <p id="room-error" class="session-form__error error-message">
        {{#if this.isSessionRoomMissing}}
          {{t "pages.sessions.new.errors.SESSION_ROOM_REQUIRED"}}
        {{/if}}
      </p>
    </div>

    <div class="session-form__field">
      <label for="session-date" class="label">
        <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
        {{t "common.forms.session-labels.date-start"}}
      </label>
      <EmberFlatpickr
        id="session-date"
        @altFormat="d/m/Y"
        @altInput={{true}}
        @onChange={{this.onDatePicked}}
        @dateFormat="Y-m-d"
        @locale="fr"
        @name="session-date"
        class="input input--small"
        @date={{readonly this.session.date}}
        aria-describedby="date-error"
        aria-required="true"
      />
      <p id="date-error" class="session-form__error error-message">
        {{#if this.isSessionDateMissing}}
          {{t "pages.sessions.new.errors.SESSION_DATE_REQUIRED"}}
        {{/if}}
      </p>
    </div>

    <div class="session-form__field">
      <label for="session-time" class="label">
        <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
        {{t "common.forms.session-labels.time-start"}}
      </label>
      <EmberFlatpickr
        id="session-time"
        @onChange={{this.onTimePicked}}
        @onClose={{this.onTimePicked}}
        @enableTime={{true}}
        @noCalendar={{true}}
        @dateFormat="H:i"
        @time_24hr={{true}}
        @enableSeconds={{false}}
        @name="session-time"
        class="input input--small"
        @date={{readonly this.session.time}}
        aria-describedby="time-error"
        aria-required="true"
      />
      <p id="time-error" class="session-form__error error-message">
        {{#if this.isSessionTimeMissing}}
          {{t "pages.sessions.new.errors.SESSION_TIME_REQUIRED"}}
        {{/if}}
      </p>
    </div>

    <div class="session-form__field">
      <label for="session-examiner" class="label">
        <abbr title={{t "common.forms.required"}} class="mandatory-mark" aria-hidden="true">*</abbr>
        {{t "common.forms.session-labels.invigilator"}}
      </label>
      <Input
        id="session-examiner"
        name="session-examiner"
        @type="text"
        maxlength="255"
        class="input"
        @value={{this.session.examiner}}
        {{on "change" this.onChangeExaminer}}
        aria-describedby="examiner-error"
        aria-required="true"
      />
      <p id="examiner-error" class="session-form__error error-message">
        {{#if this.isSessionExaminerMissing}}
          {{t "pages.sessions.new.errors.SESSION_EXAMINER_REQUIRED"}}
        {{/if}}
      </p>
    </div>

    <div class="session-form__field">
      <label for="session-description" class="label">{{t "common.forms.session-labels.observations"}}</label>
      <Textarea
        id="session-description"
        name="session-description"
        maxlength="350"
        rows={{8}}
        @value={{this.session.description}}
        class="textarea"
      />
    </div>

    <ul class="session-form__actions">
      <li>
        <PixButton
          data-test-id="session-form__cancel-button"
          @triggerAction={{this.cancel}}
          @backgroundColor="transparent-light"
          @isBorderVisible="true"
          aria-label={{t "pages.sessions.update.actions.cancel-extra-information"}}
        >
          {{t "common.actions.cancel"}}
        </PixButton>
      </li>
      <li>
        <PixButton @type="submit">
          {{t "pages.sessions.update.actions.edit-session"}}
        </PixButton>
      </li>
    </ul>

  </form>
</div>