<td>{{@participation.firstName}} {{@participation.lastName}}</td>
<td>
  <LinkTo @route="authenticated.users.get" @model={{@participation.userId}}>
    {{@participation.userFullName}}
  </LinkTo>
</td>
{{#if @idPixLabel}}
  <td>
    {{#if this.isEditionMode}}
      <PixInput
        id="participantExternalId"
        type="text"
        @ariaLabel="Modifier l'identifiant externe du participant"
        value={{@participation.participantExternalId}}
        onchange={{this.handleChange}}
        class="table-admin-input form-control"
      />
    {{else}}
      {{@participation.participantExternalId}}
    {{/if}}
  </td>
{{/if}}
<td>{{dayjs-format @participation.createdAt "DD/MM/YYYY"}}</td>
<td>{{@participation.displayedStatus}}</td>
<td>
  {{if @participation.sharedAt (dayjs-format @participation.sharedAt "DD/MM/YYYY") "-"}}
</td>
{{#if @participation.deletedAt}}
  <td>
    {{dayjs-format @participation.deletedAt "DD/MM/YYYY"}}
    par
    <LinkTo @route="authenticated.users.get" @model={{@participation.deletedBy}}>
      {{@participation.deletedByFullName}}
    </LinkTo>
  </td>
{{else}}
  <td>-</td>
{{/if}}
{{#if this.accessControl.hasAccessToOrganizationActionsScope}}
  {{#if @idPixLabel}}
    <td>
      <div class="participation-item-actions">
        {{#if this.isEditionMode}}
          <div class="participation-item-actions__modify">
            <PixButton
              @size="small"
              @triggerAction={{this.updateParticipantExternalId}}
              class="participation-item-actions__button participation-item-actions__button--save"
            >
              Enregistrer
            </PixButton>
            <PixButton
              @size="small"
              @backgroundColor="transparent-light"
              @isBorderVisible={{true}}
              @triggerAction={{this.cancelUpdateParticipantExternalId}}
              aria-label="Annuler"
              class="participation-item-actions__button--icon"
            >
              <FaIcon @icon="xmark" />
            </PixButton>
          </div>
        {{else}}
          <PixButton
            @triggerAction={{this.editParticipantExternalId}}
            @size="small"
            class="participation-item-actions__button"
            @iconBefore="pen-to-square"
          >
            Modifier
          </PixButton>
        {{/if}}
      </div>
    </td>
  {{/if}}
{{/if}}