<section class="page-section mb_10">
  <header class="page-section__header">
    <h2 class="page-section__title">Liste des participations</h2>
  </header>
  <div class="content-text content-text--small">
    <div class="table-admin">
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            {{#if @idPixLabel}}
              <th>{{@idPixLabel}}</th>
            {{/if}}
            <th>Date de début</th>
            <th>Statut</th>
            <th>Date d'envoi</th>
          </tr>
        </thead>

        {{#if @participations}}
          <tbody>
            {{#each @participations as |participation|}}
              <tr aria-label="participation">
                <td>{{participation.lastName}}</td>
                <td>{{participation.firstName}}</td>
                {{#if @idPixLabel}}
                  <td>{{participation.participantExternalId}}</td>
                {{/if}}
                <td>{{moment-format participation.createdAt "DD/MM/YYYY"}}</td>
                <td>{{participation.displayedStatus}}</td>
                <td>
                  {{#if participation.sharedAt}}
                    {{moment-format participation.sharedAt "DD/MM/YYYY"}}
                  {{else}}
                    -
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        {{/if}}
      </table>

      {{#unless @participations}}
        <div class="table__empty content-text">Aucune participation</div>
      {{/unless}}
    </div>
    {{#if @participations}}
      <PaginationControl @pagination={{@participations.meta}} />
    {{/if}}
  </div>
</section>