<section class="page-section mb_10">
  <header class="page-section__header">
    <h2 class="page-section__title">Liste des participations</h2>
  </header>
  <div class="content-text content-text--small">
    <div class="table-admin">
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            {{#if @idPixLabel}}
              <th>{{@idPixLabel}}</th>
            {{/if}}
            <th>Date de début</th>
            <th>Statut</th>
            <th>Date d'envoi</th>
            {{#if @idPixLabel}}
              <th>Actions</th>
            {{/if}}
          </tr>
        </thead>

        {{#if @participations}}
          <tbody>
            {{#each @participations as |participation|}}
              <tr aria-label="participation">
                <Campaigns::ParticipationRow
                  @participation={{participation}}
                  @idPixLabel={{@idPixLabel}}
                  @updateParticipantExternalId={{@updateParticipantExternalId}}
                />
              </tr>
            {{/each}}
          </tbody>
        {{/if}}
      </table>

      {{#unless @participations}}
        <div class="table__empty content-text">Aucune participation</div>
      {{/unless}}
    </div>
    {{#if @participations}}
      <PaginationControl @pagination={{@participations.meta}} />
    {{/if}}
  </div>
</section>