<section class="page-section">
  <h2>{{@campaign.name}}</h2>
  <br />

  <form class="form" {{on "submit" this.update}}>
    <div class="form-field">
      <label for="name" class="form-field__label">
        <abbr title="obligatoire" class="mandatory-mark">*</abbr>
        Nom de la campagne
      </label>
      <Input
        id="name"
        @type="text"
        class="form-control {{if (v-get this.form 'name' 'isInvalid') 'is-invalid'}}"
        @value={{this.form.name}}
      />
      {{#if (v-get this.form "name" "isInvalid")}}
        <div class="form-field__error">
          {{v-get this.form "name" "message"}}
        </div>
      {{/if}}
      <br />

      {{#if @campaign.isTypeAssessment}}
        <label for="title" class="form-field__label">
          Titre du parcours
        </label>
        <Input
          id="title"
          @type="text"
          class="form-control {{if (v-get this.form 'title' 'isInvalid') 'is-invalid'}}"
          @value={{this.form.title}}
          maxlength="50"
        />
        {{#if (v-get this.form "title" "isInvalid")}}
          <div class="form-field__error">
            {{v-get this.form "title" "message"}}
          </div>
        {{/if}}
        <br />
      {{/if}}

      <label for="customLandingPageText" class="form-field__label">
        Texte de la page d'accueil
      </label>
      <PixTextarea
        id="customLandingPageText"
        rows="8"
        @maxlength="5000"
        @value={{this.form.customLandingPageText}}
        class="form-control {{if (v-get this.form 'customLandingPageText' 'isInvalid') 'is-invalid'}}"
      />

      {{#if (v-get this.form "customLandingPageText" "isInvalid")}}
        <div class="form-field__error">
          {{v-get this.form "customLandingPageText" "message"}}
        </div>
      {{/if}}
      <br />

      {{#if @campaign.isTypeAssessment}}
        <label for="customResultPageText" class="form-field__label">
          Texte de la page de fin de parcours
        </label>
        <PixTextarea
          id="customResultPageText"
          rows="8"
          @maxlength="5000"
          @value={{this.form.customResultPageText}}
          class="form-control {{if (v-get this.form 'customResultPageText' 'isInvalid') 'is-invalid'}}"
        />
        {{#if (v-get this.form "customResultPageText" "isInvalid")}}
          <div class="form-field__error">
            {{v-get this.form "customResultPageText" "message"}}
          </div>
        {{/if}}
        <br />

        <label for="customResultPageButtonText" class="form-field__label">
          Texte du bouton de la page de fin de parcours
        </label>
        <Input
          id="customResultPageButtonText"
          @type="text"
          class="form-control {{if (v-get this.form 'customResultPageButtonText' 'isInvalid') 'is-invalid'}}"
          @value={{this.form.customResultPageButtonText}}
        />
        {{#if (v-get this.form "customResultPageButtonText" "isInvalid")}}
          <div class="form-field__error">
            {{v-get this.form "customResultPageButtonText" "message"}}
          </div>
        {{/if}}
        <p class="form__instructions">Si un texte pour le bouton est saisi, une URL est également requise.</p>
        <br />

        <label for="customResultPageButtonUrl" class="form-field__label">
          URL du bouton de la page de fin de parcours
        </label>
        <Input
          id="customResultPageButtonUrl"
          @type="text"
          class="form-control {{if (v-get this.form 'customResultPageButtonUrl' 'isInvalid') 'is-invalid'}}"
          @value={{this.form.customResultPageButtonUrl}}
        />
        {{#if (v-get this.form "customResultPageButtonUrl" "isInvalid")}}
          <div class="form-field__error">
            {{v-get this.form "customResultPageButtonUrl" "message"}}
          </div>
        {{/if}}
        <p class="form__instructions">Si une URL pour le bouton est saisie, le texte est également requis.</p>
      {{/if}}

      {{#unless @campaign.totalParticipationsCount}}
        <div class="form-field campaign-edit-form__checkbox">
          <label for="multipleSendings" class="form-field__label">Envoi multiple</label>
          <Input
            id="multipleSendings"
            @type="checkbox"
            class={{if (v-get this.form "multipleSendings" "isInvalid") "form-control is-invalid" "form-control"}}
            @checked={{this.form.multipleSendings}}
          />
        </div>
      {{/unless}}

    </div>

    <div class="form-actions">
      <PixButton
        @triggerAction={{@onExit}}
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @size="small"
      >Annuler</PixButton>
      <PixButton @type="submit" @backgroundColor="green" @size="small">
        Enregistrer
      </PixButton>
    </div>
  </form>
</section>