<section class="page-section">
  <h1>{{@campaign.name}}</h1>

  <p class="admin-form__mandatory-text">
    Les champs marqués de
    <span class="mandatory-mark">*</span>
    sont obligatoires.
  </p>

  <form class="admin-form" {{on "submit" this.update}}>
    <div class="admin-form__content">
      <PixInput
        @id="name"
        @label="Nom de la campagne"
        @requiredLabel="Champ obligatoire"
        @errorMessage={{this.nameError.message}}
        @validationStatus={{this.nameError.state}}
        @value={{this.form.name}}
        {{on "change" (fn this.updateFormValue "name")}}
      />

      {{#if @campaign.isTypeAssessment}}
        <PixInput
          @id="title"
          @label="Titre du parcours"
          @errorMessage={{this.titleError.message}}
          @validationStatus={{this.titleError.state}}
          @value={{this.form.title}}
          maxlength="50"
          {{on "change" (fn this.updateFormValue "title")}}
        />
      {{/if}}

      <PixTextarea
        @id="customLandingPageText"
        @label="Texte de la page d'accueil"
        @value={{this.form.customLandingPageText}}
        @errorMessage={{this.customLandingPageTextError.message}}
        @validationStatus={{this.customLandingPageTextError.state}}
        @maxlength="5000"
        rows="8"
        {{on "change" (fn this.updateFormValue "customLandingPageText")}}
      />

      {{#if @campaign.isTypeAssessment}}
        <PixTextarea
          @id="customResultPageText"
          @label="Texte de la page de fin de parcours"
          @value={{this.form.customResultPageText}}
          @errorMessage={{this.customResultPageTextError.message}}
          @validationStatus={{this.customResultPageTextError.state}}
          @maxlength="5000"
          rows="8"
          {{on "change" (fn this.updateFormValue "customResultPageText")}}
        />

        <PixInput
          @id="customResultPageButtonText"
          @label="Texte du bouton de la page de fin de parcours"
          @information="Si un texte pour le bouton est saisi, une URL est également requise."
          @value={{this.form.customResultPageButtonText}}
          @errorMessage={{this.customResultPageButtonTextError.message}}
          @validationStatus={{this.customResultPageButtonTextError.state}}
          {{on "change" (fn this.updateFormValue "customResultPageButtonText")}}
        />

        <PixInput
          @id="customResultPageButtonUrl"
          @label="URL du bouton de la page de fin de parcours"
          @information="Si une URL pour le bouton est saisie, le texte est également requis."
          @value={{this.form.customResultPageButtonUrl}}
          @errorMessage={{this.customResultPageButtonUrlError.message}}
          @validationStatus={{this.customResultPageButtonUrlError.state}}
          {{on "change" (fn this.updateFormValue "customResultPageButtonUrl")}}
        />
      {{/if}}

      {{#unless @campaign.totalParticipationsCount}}
        <PixCheckbox
          @id="multipleSendings"
          @checked={{this.form.multipleSendings}}
          {{on "change" (fn this.updateFormCheckBoxValue "multipleSendings")}}
        >
          Envoi multiple
        </PixCheckbox>
      {{/unless}}

      {{#if this.displayIsForAbsoluteNoviceChoice}}
        <Ui::PixFieldset role="radiogroup">
          <:title>Voulez-vous passer cette campagne en <i>isForAbsoluteNovice</i></:title>
          <:content>
            <PixRadioButton
              name="isForAbsoluteNovice"
              @value={{true}}
              {{on "change" (fn this.updateFormValue "isForAbsoluteNovice")}}
              checked={{this.form.isForAbsoluteNovice}}
            >
              Oui
            </PixRadioButton>

            <PixRadioButton
              name="isForAbsoluteNovice"
              @value={{false}}
              {{on "change" (fn this.updateFormValue "isForAbsoluteNovice")}}
              checked={{(not this.form.isForAbsoluteNovice)}}
            >
              Non
            </PixRadioButton>
          </:content>
        </Ui::PixFieldset>

        {{#if this.displayIsForAbsoluteNoviceWarning}}
          <PixBanner @type="warning">
            <div class="is-for-absolute-novice-warning">
              <p>Les campagnes
                <strong><i>isForAbsoluteNovice</i></strong>
                sont uniquement à destination des grand débutants et supprimant de ce fait les éléments suivant :</p>

              <ul class="is-for-absolute-novice-warning__list">
                <li>Didacticiel</li>
                <li>Page d'accueil de la campagne</li>
                <li>Envoi de résultats</li>
              </ul>
            </div>
          </PixBanner>
        {{/if}}
      {{/if}}
    </div>

    <div class="admin-form__actions">
      <PixButton
        @triggerAction={{@onExit}}
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @size="small"
      >Annuler</PixButton>
      <PixButton @type="submit" @backgroundColor="green" @size="small">
        Enregistrer
      </PixButton>
    </div>
  </form>
</section>