{{page-title (t 'pages.students-sco.title')}}
<div class="list-students-page">
  <Student::Sco::List
    @students={{@model}}
    @isLoading={{this.isLoading}}
    @connectionTypesOptions={{this.connectionTypesOptions}}
    @lastNameFilter={{this.lastName}}
    @firstNameFilter={{this.firstName}}
    @connexionTypeFilter={{this.connexionType}}
    @onFilter={{this.triggerFiltering}}
    @onImportStudents={{this.importStudents}}
    @onDissociateUser={{this.refresh}}
  />
</div>
