<h1 class="account-recovery__content--title">
  {{t "pages.account-recovery.find-sco-record.backup-email-confirmation.email-is-needed-message" firstName=@firstName}}
</h1>

<div class="account-recovery__content--step--content">
  {{#if @existingEmail}}
    <div id="backup-email-confirmation-already-associated-error-message">
      <p class="account-recovery__content--information-text">
        {{t "pages.account-recovery.find-sco-record.backup-email-confirmation.email-already-exist-for-account-message"}}
        <strong>{{@existingEmail}}</strong>
      </p>
      <p class="account-recovery__content--information-text--details">
        {{t "pages.account-recovery.find-sco-record.backup-email-confirmation.email-is-valid-message"}}
        <LinkTo @route="password-reset-demand">
          {{t "pages.account-recovery.find-sco-record.backup-email-confirmation.email-reset-message"}}
        </LinkTo>
        {{t "pages.account-recovery.find-sco-record.backup-email-confirmation.ask-for-new-email-message"}}
      </p>
    </div>
  {{else}}
    <p class="account-recovery__content--information-text">
      {{t "pages.account-recovery.find-sco-record.backup-email-confirmation.email-sent-to-choose-password-message"}}
    </p>
  {{/if}}

  <form onSubmit={{this.submitBackupEmailConfirmationForm}}>
    <FormTextfield
      @label={{t "pages.account-recovery.find-sco-record.backup-email-confirmation.form.email"}}
      @textfieldName="email"
      @inputBindingValue={{this.email}}
      @onValidate={{this.validateEmail}}
      @validationStatus={{this.emailValidation.status}}
      @validationMessage={{this.emailValidation.message}}
      @autocomplete="off"
      @require={{true}}
      @hideRequired={{true}}
      @aria-describedby="backup-email-confirmation-already-use-error-message backup-email-confirmation-already-associated-error-message"
    />

    {{#if @showAlreadyRegisteredEmailError}}
      <PixMessage
        @type="alert"
        class="account-recovery__content--not-found-error"
        id="backup-email-confirmation-already-use-error-message"
      >
        {{t "pages.account-recovery.find-sco-record.backup-email-confirmation.form.error.new-email-already-exist"}}
      </PixMessage>
    {{/if}}

    <div class="account-recovery__content--actions">
      <PixButton @triggerAction={{@cancelAccountRecovery}} @variant="secondary">
        {{t "pages.account-recovery.find-sco-record.backup-email-confirmation.form.actions.cancel"}}
      </PixButton>
      <PixButton @type="submit" @isDisabled={{not this.isSubmitButtonEnabled}}>
        {{t "pages.account-recovery.find-sco-record.backup-email-confirmation.form.actions.submit"}}
      </PixButton>
    </div>
  </form>
</div>