<h1 class="account-recovery-after-leaving-sco-content__title">
  {{t 'pages.account-recovery-after-leaving-sco.send-email-confirmation.title' }}
</h1>

<div class="account-recovery-after-leaving-sco-content__step--content">
  <p class="account-recovery-after-leaving-sco-content__information-text">
    {{t 'pages.account-recovery-after-leaving-sco.send-email-confirmation.send-email' }}
  </p>

  <p class="account-recovery-after-leaving-sco-content__information-text--details">
    {{t 'pages.account-recovery-after-leaving-sco.send-email-confirmation.check-spam' }}
  </p>

  <div class="account-recovery-after-leaving-sco-content__actions">
    <PixButton @isLink={{true}} @route='login'>
      {{t 'pages.account-recovery-after-leaving-sco.send-email-confirmation.return' }}
    </PixButton>
  </div>
</div>
