{{page-title (t 'pages.account-recovery-after-leaving-sco.title')}}

<div class="account-recovery-after-leaving-sco">
  <div class="account-recovery-after-leaving-sco-content">
    <PixLogo />
    <div class="account-recovery-after-leaving-sco-content__image">
      <img alt="" role="none" src="{{rootURL}}/images/illustrations/account-recovery/illustration.svg">
    </div>

    <div class="account-recovery-after-leaving-sco-content__step">
      <div class="account-recovery-after-leaving-sco-content__step--content">
        <h1 class="account-recovery-after-leaving-sco-content__title">
          {{t 'pages.account-recovery-after-leaving-sco.reset-password.welcome-message' firstName=@firstName}}
        </h1>

        <p class="account-recovery-after-leaving-sco-content__information-text--details">
          {{t 'pages.account-recovery-after-leaving-sco.reset-password.fill-password'}}
        </p>

        <form onSubmit={{this.submitResetPasswordForm}} class="student-information-form">
          <div class="student-information-form__fields">
            <FormTextfield
                @label={{t 'pages.account-recovery-after-leaving-sco.reset-password.form.email-label'}}
                @textfieldName="email"
                @inputBindingValue={{@email}}
                @disabled={{true}}
            />

            <FormTextfield
                @label={{t 'pages.account-recovery-after-leaving-sco.reset-password.form.password-label'}}
                @textfieldName="password"
                @inputBindingValue={{this.password}}
                @onValidate={{this.validatePassword}}
                @validationStatus={{this.passwordValidation.status}}
                @validationMessage={{this.passwordValidation.message}}
                @autocomplete="off"
                @require={{true}}
                @hideRequired={{true}}
            />
            <PixButton
                @type="submit"
                @isDisabled={{not this.isFormValid}}
                class="account-recovery-after-leaving-sco-content__actions reset-password-form__submit"
            >
              {{t 'pages.account-recovery-after-leaving-sco.reset-password.form.login-button'}}
            </PixButton>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>