<h1>
  {{t 'pages.account-recovery-after-leaving-sco.reset-password.welcome-message' firstName=@firstName}}
</h1>

<p>
  {{t 'pages.account-recovery-after-leaving-sco.reset-password.fill-password'}}
</p>

<form onSubmit={{this.submitResetPasswordForm}}>
  <FormTextfield
    @label={{t 'pages.account-recovery-after-leaving-sco.reset-password.form.email-label'}}
    @textfieldName="email"
    @inputBindingValue={{@email}}
    @disabled={{true}}
  />

  <FormTextfield
    @label={{t 'pages.account-recovery-after-leaving-sco.reset-password.form.password-label'}}
    @textfieldName="password"
    @inputBindingValue={{this.password}}
    @onValidate={{this.validatePassword}}
    @validationStatus={{this.passwordValidation.status}}
    @validationMessage={{this.passwordValidation.message}}
    @autocomplete="off"
    @require={{true}}
    @hideRequired={{true}}
  />

  <PixButton @type="submit" @isDisabled={{not this.isFormValid}}>
    {{t 'pages.account-recovery-after-leaving-sco.reset-password.form.login-button'}}
  </PixButton>
</form>
