{{! template-lint-disable require-input-label  no-unknown-arguments-for-builtin-components }}
<h1 class="account-recovery__content--title">
  {{t "pages.account-recovery.find-sco-record.student-information.title"}}
</h1>

<div class="account-recovery__content--step--content">
  <p class="account-recovery__content--information-text--details">
    {{t "pages.account-recovery.find-sco-record.student-information.subtitle.text"}}
    <LinkTo @route="password-reset-demand">
      {{t "pages.account-recovery.find-sco-record.student-information.subtitle.link"}}
    </LinkTo>
  </p>

  <p class="account-recovery__content--information-text--details">
    {{t "pages.account-recovery.find-sco-record.student-information.mandatory-all-fields"}}
  </p>

  <form {{on "submit" this.submit}} class="account-recovery__content--form">
    <div class="account-recovery__content--form-fields">
      <div class="student-information-form__tooltip">
        <PixTooltip
          @position="top-left"
          @isLight={{true}}
          @isWide={{true}}
          aria-label={{t "pages.account-recovery.find-sco-record.student-information.form.tooltip" htmlSafe=true}}
        >
          <:triggerElement>
            <FaIcon @icon="circle-question" tabindex="0" />
          </:triggerElement>
          <:tooltip>
            {{t "pages.account-recovery.find-sco-record.student-information.form.tooltip" htmlSafe=true}}
          </:tooltip>
        </PixTooltip>
      </div>
      <FormTextfield
        @label={{t "pages.account-recovery.find-sco-record.student-information.form.ine-ina"}}
        @textfieldName="ineIna"
        @inputBindingValue={{this.ineIna}}
        @onValidate={{this.validateIneIna}}
        @validationStatus={{this.ineInaValidation.status}}
        @validationMessage={{this.ineInaValidation.message}}
        @autocomplete="off"
        @require={{true}}
        @hideRequired="true"
        @placeholder="123456789XX"
        @aria-describedby="student-information-error-message"
      />

      <FormTextfield
        @label={{t "pages.account-recovery.find-sco-record.student-information.form.first-name"}}
        @textfieldName="firstName"
        @inputBindingValue={{this.firstName}}
        @onValidate={{this.validateFirstName}}
        @validationStatus={{this.firstNameValidation.status}}
        @validationMessage={{this.firstNameValidation.message}}
        @autocomplete="off"
        @require={{true}}
        @hideRequired="true"
        @aria-describedby="student-information-error-message"
      />

      <FormTextfield
        @label={{t "pages.account-recovery.find-sco-record.student-information.form.last-name"}}
        @textfieldName="lastName"
        @inputBindingValue={{this.lastName}}
        @onValidate={{this.validateLastName}}
        @validationStatus={{this.lastNameValidation.status}}
        @validationMessage={{this.lastNameValidation.message}}
        @autocomplete="off"
        @require={{true}}
        @hideRequired="true"
        @aria-describedby="student-information-error-message"
      />

      <div class="form-textfield">
        <p class="form-textfield__label student-information-form__birthdate-label">
          {{t "pages.account-recovery.find-sco-record.student-information.form.birthdate"}}
        </p>
        <div class="student-information-form__birthdate-fields">
          <div class="form-textfield__input-field-container">
            <Input
              min="1"
              max="31"
              @type="number"
              @value={{this.dayOfBirth}}
              placeholder={{t "pages.account-recovery.find-sco-record.student-information.form.placeholder.birth-day"}}
              id="dayOfBirth"
              {{on "input" this.handleDayInputChange}}
              aria-label={{t "pages.account-recovery.find-sco-record.student-information.form.label.birth-day"}}
              autocomplete="off"
            />
          </div>
          <div class="form-textfield__input-field-container">
            <Input
              min="1"
              max="12"
              @type="number"
              @value={{this.monthOfBirth}}
              placeholder={{t
                "pages.account-recovery.find-sco-record.student-information.form.placeholder.birth-month"
              }}
              id="monthOfBirth"
              {{on "input" this.handleMonthInputChange}}
              aria-label={{t "pages.account-recovery.find-sco-record.student-information.form.label.birth-month"}}
              autocomplete="off"
            />
          </div>
          <div class="form-textfield__input-field-container">
            <Input
              min="1900"
              @type="number"
              @value={{this.yearOfBirth}}
              placeholder={{t "pages.account-recovery.find-sco-record.student-information.form.placeholder.birth-year"}}
              id="yearOfBirth"
              aria-label={{t "pages.account-recovery.find-sco-record.student-information.form.label.birth-year"}}
              autocomplete="off"
            />
          </div>
        </div>
      </div>
    </div>

    {{#if @showAccountNotFoundError}}
      <PixMessage
        @type="alert"
        class="account-recovery__content--not-found-error"
        id="student-information-error-message"
      >
        {{t "pages.account-recovery.find-sco-record.student-information.errors.not-found"}}
        <a
          href="{{t 'pages.account-recovery.find-sco-record.contact-support.link-url'}}"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{t "pages.account-recovery.find-sco-record.contact-support.link-text"}}
        </a>
      </PixMessage>
    {{/if}}

    <div class="account-recovery__content--actions">
      <PixButton @type="submit" @isDisabled={{not this.isFormValid}}>
        {{t "pages.account-recovery.find-sco-record.student-information.form.submit"}}
      </PixButton>
    </div>
  </form>
</div>