<div class="campaign-details__header">
  <div class="campaign-details-header__title">
    {{#link-to "authenticated.campaigns.list" class="icon-button campaign-details-content__return-button"}}
      {{fa-icon 'arrow-left'}}
    {{/link-to}}
    <h1 class="page__title page-title">{{campaign.name}}</h1>
  </div>

  <div class="campaign-details-header__report">
    <div class="campaign-details-header-report__participants">
      <h4 class="label-text campaign-details-content__label">Participants</h4>
      <span class="content-text content-text--big campaign-details-content__text">
        {{participationsCount}}
      </span>
    </div>

    <div class="campaign-details-header-report__shared">
      <h4 class="label-text campaign-details-content__label">Profil reçus</h4>
      <span class="content-text content-text--big campaign-details-content__text">
        {{sharedParticipationsCount}}
      </span>
    </div>
  </div>
</div>

<nav class="panel navbar campaign-details__navbar">
  {{#link-to 'authenticated.campaigns.details.parameters' class="navbar-item"}}Paramètres{{/link-to}}
  {{#link-to 'authenticated.campaigns.details.participants' class="navbar-item"}}Participants{{/link-to}}
</nav>

{{outlet}}
