<div class="campaign-details-page__header-page">
	{{#link-to "authenticated.campaigns.list"}}{{fa-icon 'arrow-left' class="icon-link campaign-details-return-button"}}{{/link-to}}
	<h1 class="page__title page-title">{{campaign.name}}</h1>
</div>

<div class="campaign-details-container">
	<div class="campaign-details-row campaign-details-first-row">
		<div class="campaign-details-content">
			<h4 class="campaign-details-content-label">Profil cible</h4>
			<p class="campaign-details-content-text">{{campaign.targetProfile.name}}</p>
		</div>

		<div class="campaign-details-content">
			<h4 class="campaign-details-content-label">Identifiant</h4>
			<p class="campaign-details-content-text">{{campaign.idPixLabel}}</p>
		</div>

		<div class="campaign-details-content">
			<h4 class="campaign-details-content-label">Lien direct</h4>
			<div class="campaign-details-content-clipboard">
				<p class="campaign-details-content-text">{{campaign.url}}</p>
				{{#link-to "authenticated.campaigns.list"}}{{fa-icon 'copy' prefix='far' class="icon-link campaign-details-clipboard-button"}}{{/link-to}}
			</div>
		</div>
	</div>

	<div class="campaign-details-row">
		<div class="campaign-details-content">
			<h4 class="campaign-details-content-label">Titre du parcours</h4>
			<p class="campaign-details-content-text">{{campaign.title}}</p>
		</div>
	</div>

	<div class="campaign-details-row">
		<div class="campaign-details-content">
			<h4 class="campaign-details-content-label">Texte de la page d'accueil</h4>
			<p class="campaign-details-content-text">{{campaign.customLandingPageText}}</p>
		</div>
	</div>
</div>