{{campaign.name}}


<h2>Profil cible</h2>
{{campaign.targetProfile.name}}

<h2>Identifiant</h2>
{{campaign.idPixLabel}}

<h2>Lien direct</h2>
{{campaign.url}}

<h2>Titre du parcours</h2>
{{campaign.title}}

<h2>Texte de la page d'accueil</h2>
{{campaign.customLandingPageText}}