<div class="campaign-details__header">
  <div class="campaign-details-header__title">
    {{#link-to "authenticated.campaigns.list" class="icon-button campaign-details-content__return-button"}}
      {{fa-icon 'arrow-left'}}
    {{/link-to}}
    <h1 class="page__title page-title">{{campaign.name}}</h1>
  </div>
</div>

<nav class="panel navbar campaign-details__navbar">
  <button {{action "selectNavbarItem" "parameters"}}
    class="navbar-item {{if (eq selectedNavbarItem "parameters") "navbar-item-selected"}}">
    Paramètres
  </button>
  <button {{action "selectNavbarItem" "participants"}}
    class="navbar-item {{if (eq selectedNavbarItem "participants") "navbar-item-selected"}}">
    Participants
  </button>
</nav>

{{outlet}}