<div class="campaign-details-page__header-page">
  <div class="campaign-details-header__title">
    {{#link-to "authenticated.campaigns.list" class="icon-button campaign-details-content__return-button"}}
      {{fa-icon 'arrow-left'}}
    {{/link-to}}
    <h1 class="page__title page-title">{{campaign.name}}</h1>
  </div>
  <a class="button button--link" href="{{campaign.urlToResult}}" target="_blank" download>
    Export résultats (.csv)
  </a>
</div>

<div class="panel panel--white panel--strong-shadow campaign-details-container">
  <div class="campaign-details-row">
    <div class="campaign-details-content">
      <h4 class="label-text campaign-details-content__label">Profil cible</h4>
      <p class="content-text campaign-details-content__text">{{campaign.targetProfile.name}}</p>
    </div>

    <div class="campaign-details-content">
      <h4 class="label-text campaign-details-content__label">Identifiant</h4>
      <p class="content-text campaign-details-content__text">{{campaign.idPixLabel}}</p>
    </div>

    <div class="campaign-details-content">
      <h4 class="label-text campaign-details-content__label">Lien direct</h4>
      <div class="campaign-details-content__clipboard">
        <p class="content-text campaign-details-content__text">{{campaign.url}}</p>
        {{#if (is-clipboard-supported)}}
          <div class="tooltip">
            <span class="tooltip-text campaign-details-content__tooltip-text">{{this.tooltipText}}</span>
            {{#copy-button clipboardText=campaign.url success=(action 'clipboardSuccess') mouseLeave=(action 'clipboardOut')
                           classNames="icon-button campaign-details-content__clipboard-button"}}
              {{fa-icon 'copy' prefix='far'}}
            {{/copy-button}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="campaign-details-row">
    <div class="campaign-details-content">
      <h4 class="label-text campaign-details-content__label">Titre du parcours</h4>
      <p class="content-text campaign-details-content__text">{{campaign.title}}</p>
    </div>
  </div>

  <div class="campaign-details-row">
    <div class="campaign-details-content">
      <h4 class="label-text campaign-details-content__label">Texte de la page d'accueil</h4>
      <p class="content-text campaign-details-content__text">{{campaign.customLandingPageText}}</p>
    </div>
  </div>

  <div class="campaign-details-row">
    <div class="campaign-details-content">
      {{#link-to "authenticated.campaigns.update" campaign.id
                 class="button button--regular button--link campaign-details-content__update-button"}}
        Modifier
      {{/link-to}}
    </div>
  </div>
</div>
