<div class="campaign-details__header">
  <div class="campaign-details-header__title">
    {{#link-to "authenticated.campaigns.list" class="icon-button campaign-details-content__return-button"}}
      {{fa-icon 'arrow-left'}}
    {{/link-to}}
    <h1 class="page__title page-title">{{campaign.name}}</h1>
  </div>

  <div class="campaign-details-header__report">
    <div class="campaign-details-header-report__participants">
      <h4 class="label-text campaign-details-content__label">Participants</h4>
      <span class="content-text content-text--big campaign-details-content__text">
        {{participationsCount}}
      </span>
    </div>

    <div class="campaign-details-header-report__shared">
      <h4 class="label-text campaign-details-content__label">Profil reçus</h4>
      <span class="content-text content-text--big campaign-details-content__text">
        {{sharedParticipationsCount}}
      </span>
    </div>
  </div>
</div>

<div class='campaign-details-csv'>
  <a class="button button--link" href="{{campaign.urlToResult}}" target="_blank" download>
    Export résultats (.csv)
  </a>
</div>

<nav class="panel navbar campaign-details__navbar">
  <button {{action "selectNavbarItem" "parameters"}}
    class="navbar-item {{if (eq selectedNavbarItem "parameters") "navbar-item-selected"}}">
    Paramètres
  </button>
  <button {{action "selectNavbarItem" "participants"}}
    class="navbar-item {{if (eq selectedNavbarItem "participants") "navbar-item-selected"}}">
    Participants
  </button>
</nav>

{{outlet}}
