<div class="list-campaigns-page__header-page">
  <h1 class="page__title page-title">Campagnes</h1>
  <div class="list-campaigns-page__create-campaign-button">
    {{#link-to 'authenticated.campaigns.new' class="button button--link"}}Créer une campagne{{/link-to}}
  </div>
</div>

<div class="campaign-list">
  <div class="panel">
    <div class="table content-text content-text--small">
      <table>
        <thead>
        <tr>
          <th>Parcours</th>
          <th>Créé le</th>
          <th>Participants</th>
          <th>Résultats reçus</th>
        </tr>
        <tr>
          <th>
            {{search-input
              inputName="campaignName"
              class="input table__input"
              value=campaignName
              placeholder="Nom du parcours"
              keyUp=(action triggerFiltering 'name' campaignName)
            }}
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        {{#each campaigns as |campaign|}}
          <tr onclick={{action goToCampaignPage campaign.id}} class="tr--clickable">
            <td>{{campaign.name}}</td>
            <td>{{moment-format campaign.createdAt 'DD/MM/YYYY' allow-empty=true}}</td>
            <td>{{campaign.campaignReport.participationsCount}}</td>
            <td>{{campaign.campaignReport.sharedParticipationsCount}}</td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{pagination-control pagination=campaigns.meta paginationLink="authenticated.campaigns"}}
