<div class="update-campaign-page">
  <h1 class="page__title page-title">Modification d'une campagne</h1>
  <h2 class="page-sub-title">{{@subTitle}}</h2>

  <form {{on 'submit' @update}} class="campaign-creation-form">
    <div class="form__field">
      <label for="campaign-name" class="label">Nom de la campagne</label>
      <Input
        @id="campaign-name"
        @name="campaign-name"
        @type="text"
        @class="input"
        @maxlength="255"
        @value={{@campaign.name}}
      />
    </div>

    {{#if @campaign.isTypeAssessment}}
      <div class="form__field">
        <label for="campaign-title" class="label">Titre du parcours</label>
        <Input
          @id="campaign-title"
          @name="campaign-title"
          @type="text"
          @class="input"
          @maxlength="50"
          @value={{@campaign.title}}
        />
      </div>
    {{/if}}

    <div class="form__field">
      <label for="campaign-custom-landing-page-text" class="label">Texte de la page d'accueil</label>
      <Textarea @id="campaign-custom-landing-page-text" @name="campaign-custom-landing-page-text" @maxlength="350" @rows={{8}} @value={{@campaign.customLandingPageText}} class="textarea" />
    </div>

    <div class="form__validation">
      <button class="button button--no-color" type="button" {{on 'click' (fn @cancel @campaign.id)}}>Annuler</button>
      <button class="button" type="submit">Modifier</button>
    </div>
  </form>
</div>

