{{title 'Rejoindre une session de certification'}}
{{#burger-menu animation="push" translucentOverlay=true as |burger|}}
  {{#burger.outlet}}

    {{navbar-header class="navbar-header--white" burger=burger}}
    <div class="background-banner-wrapper">
      <div class="background-banner"></div>

      {{#if model.isCertifiable}}
        <div
          class="rounded-panel rounded-panel--strong rounded-panel--over-background-banner certification-start-page__panel">
          <div class="certification-stepper">
            <Stepper @steps={{array "certification-stepper-join" "certification-stepper-start"}}/>
          </div>
        </div>
      {{else}}
        {{certification-not-certifiable}}
      {{/if}}

    </div>

  {{/burger.outlet}}
{{/burger-menu}}
