<div class="board-page">

  {{navbar-header class="navbar-header--white"}}

  <div class="board-page__header">
    <div class="board-page__header-organisation">
      <div class="board-page__header-organisation__text">Votre Organisation</div>
      <div class="board-page__header-organisation__name">{{model.organization.name}}</div>
    </div>
    <div class="board-page__header-code">
      <div class="board-page__header-code__title">Code Organisation</div>
      <div class="board-page__header-code__text">{{model.organization.code}}</div>
      <div class="board-page__header-code__comment">Communiquez ce code à vos élèves, étudiants ou collaborateurs et ils
        pourront partager leurs profils Pix avec vous.
      </div>
    </div>
  </div>

  <div class="board-page__profiles-title">Profils Partagés</div>

  {{snapshot-list snapshots=model.snapshots}}

  {{app-footer}}

</div>
