<div class="enrollment-page">

  {{navbar-header class="navbar-header--white"}}

  <div class="enrollment-page__header">
    <div class="enrollment-page__header-title">Collèges, lycées, établissements d'enseignement supérieur&nbsp;:
      Rejoignez
      l'aventure Pix dès l'année 2017-2018
      !
    </div>
    <div class="enrollment-page__header-description">Je veux que mon établissement propose la certification Pix dès
      cette année.
    </div>
    <a class="enrollment-page__header-link" href="https://framaforms.org/inscrire-mon-etablissement-1501478615" target="_blank">
      <div class="enrollment-page__header-link-div">Inscrire mon établissement</div>
    </a>
  </div>

  <div class="enrollment-page__body">

    <div class="enrollment-page__pix-description">
      <div class="enrollment-page__pix-description-image">
        <img src="{{rootURL}}/images/icon-enseignants.svg" alt="Enseignant" class="">
      </div>
      <div class="enrollment-page__pix-description-title">Pix, un outil d'évaluation au service des équipes pédagogiques
      </div>
      <div class="enrollment-page__pix-description-line"></div>
      <ul class="enrollment-page__pix-description-goals-list">
        {{#each model.pixDescriptionGoals as |goal|}}
          <li class="enrollment-page__pix-description-goals-list_goal">{{goal}}</li>
        {{/each}}
      </ul>
    </div>

    <h2 class="enrollment-page__steps-title">
      <div class="enrollment-page__steps-title__principal">Les grandes étapes de l'année Pix</div>
      <div class="enrollment-page__steps-title__note">Pour les établissement pionniers</div>
    </h2>

    {{#each model.stepsForPioneersInstitutions as |institution|}}
      {{#cp-panel as |panel|}}
        <div class="enrollment-page__steps-establishment">

          {{#panel.toggle class="enrollment-page__steps-establishment__header"}}
            <h3 class="enrollment-page__steps-establishment__title" aria-expanded="{{panel.isOpen}}" aria-controls="{{institution.id}}">
              <div class="enrollment-page__steps-establishment__title-image">
                <img src="{{rootURL}}/images/{{institution.image}}" alt="icon etablissement" class="">
              </div>
              <div class="enrollment-page__steps-establishment__title-text">
                {{institution.title}}
              </div>
              <div class="enrollment-page__steps-establishment__title-icon-container">
                <div class="enrollment-page__steps-establishment__title-icon"></div>
              </div>
            </h3>
          {{/panel.toggle}}

          {{#panel.body}}
            <div id="{{institution.id}}" class="enrollment-page__steps-establishment__steps-list" aria-hidden="{{if panel.isOpen false true}}">
              {{#each institution.steps as |step|}}
                <div class="enrollment-page__steps-establishment__steps-list__step">
                  {{#if step.date}}
                    <div class="enrollment-page__steps-establishment__steps-list__step-date">{{step.date}}</div>
                  {{/if}}
                  <div
                    class="enrollment-page__steps-establishment__steps-list__step-description">{{step.description}}</div>
                  {{#if step.note}}
                    <div class="enrollment-page__steps-establishment__steps-list__step-note">{{step.note}}</div>
                  {{/if}}
                </div>
                <div class="enrollment-page__steps-establishment__steps-list__step-separator">
                  <div class="enrollment-page__steps-establishment__steps-list__step-line"></div>
                  <div class="enrollment-page__steps-establishment__steps-list__step-circle">
                    <div class="enrollment-page__steps-establishment__steps-list__step-icon"></div>
                  </div>
                </div>
              {{/each}}
            </div>
            <div class="enrollment-page__steps-establishment__certification">
              <img src="{{rootURL}}/images/icon-diplome.svg" alt="diplôme" class="">
              <div class="enrollment-page__steps-establishment__certification-text">1ères certifications Pix délivrées
                aux {{institution.destinataires}}</div>
            </div>
          {{/panel.body}}
        </div>
      {{/cp-panel}}
    {{/each}}

    <div class="enrollment-page__description">
      <h3 class="enrollment-page__description-title">S'engager dans Pix dès cette année</h3>
      <div class="enrollment-page__description-line"></div>
      <div class="enrollment-page__description-body">
        <div class="enrollment-page__description-commitments">
          <div>
            <h4 class="enrollment-page__description-commitments-title">C'est...</h4>
            {{#each model.pixCommitments as |commitment|}}
              <div class="enrollment-page__description-commitments__commitment">
                <div class="enrollment-page__description-commitments__commitment-separator">
                  <div class="enrollment-page__description-line"></div>
                  <img src="{{rootURL}}/images/puce-verte.svg" alt="puce verte"
                       class="enrollment-page__description-commitments__commitment-puce">
                </div>
                <div class="enrollment-page__description-commitments__commitment-text">{{commitment}}</div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="enrollment-page__description-commitments">
          <div>
            <h4 class="enrollment-page__description-commitments-title">Ce n'est pas...</h4>
            {{#each model.pixUncommitments as |uncommitment|}}
              <div class="enrollment-page__description-commitments__commitment">
                <div class="enrollment-page__description-commitments__commitment-separator">
                  <div class="enrollment-page__description-line"></div>
                  <img src="{{rootURL}}/images/puce-rouge.svg" alt="puce rouge"
                       class="enrollment-page__description-commitments__commitment-puce">
                </div>
                <div class="enrollment-page__description-commitments__commitment-text">{{uncommitment}}</div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

  </div>

  {{app-footer}}

</div>