<div class="index-page">

  <div class="index-page__background"></div>

  <section class="index-page__section index-page__section--hero index-page-hero">
    <div class="index-page-hero__navbar-header">
      {{navbar-header}}
    </div>
    <div class="index-page-hero__content">
      <h1 class="index-page-hero__title">Développez vos compétences numériques</h1>
      <p class="index-page-hero__description">PIX est un projet public de plateforme en ligne d’évaluation et de certification des compétences numériques, en cours de développement.</p>
    </div>
  </section>

  {{! I don't know how to correctly test this with our current Mirage config/use :-( }}
  {{#if model.coursesOfTheWeek}}
    <section class="index-page__section index-page__section--challenges index-page-challenges">
      <div class="index-page-challenges__container">
        <div class="index-page-challenges__presentation">
          <h2 class="index-page-challenges__presentation-title">Le défi <span class="text--marigold">Pix</span> de la semaine</h2>
          <p class="index-page-challenges__presentation-text">Chaque semaine, testez vos compétences numériques sur un nouveau sujet.</p>
        </div>
        <div class="index-page-challenges__course-list">
          {{course-list courses=model.coursesOfTheWeek startCourse='startCourse' limit=2}}
        </div>
      </div>
    </section>
  {{/if}}

  <section class="index-page__section index-page__section--courses index-page-courses">
    <h2 class="index-page-courses__title">Découvrez nos épreuves et aidez‑nous à les améliorer !</h2>
    <div class="index-page-courses__course-list">
      {{course-list courses=model.progressionCourses startCourse='startCourse'}}
    </div>
  </section>

  <section class="index-page__section index-page__section--community index-page-community">
    <h2 class="index-page-community__title">Rejoindre la communauté</h2>
    <p class="index-page-community__description">Vous souhaitez devenir béta‑testeur<br>ou être informé(e) du développement de Pix ?</p>
    <div class="index-page-community__form">
      {{follower-form}}
    </div>
  </section>

  <section class="index-page__section index-page__section--features index-page-features">
    <div class="index-page-features__list">
      {{feature-list}}
    </div>
    {{#link-to 'project' class="index-page-features__project-button"}}En savoir plus sur le projet{{/link-to}}
  </section>

</div>

{{app-footer}}