<div class="page project-page">
  <div class="project-page__panel project-page__header">
    <h1 class="project-page__header-text">PIX est un projet public de plateforme en ligne d’évaluation et de certification des compétences numériques, en cours de développement.</h1>
  </div>

  <div class="rounded-panel project-page__panel project-page__populations">
    <p class="project-page__populations-headline">Le service sera accessible gratuitement et ouvert à tous les francophones :</p>
    <ul class="project-page__user-types">
      <li class="project-page__user-type">
        <img class="project-page__user-type-image" src="{{rootURL}}images/project/schoolers.png">
        <span class="project-page__user-type-name">Collégiens et lycéens</span>
      </li>
      <li class="project-page__user-type">
        <img class="project-page__user-type-image" src="{{rootURL}}images/project/students.png">
        <span class="project-page__user-type-name">Étudiants</span>
      </li>
      <li class="project-page__user-type">
        <img class="project-page__user-type-image" src="{{rootURL}}images/project/professionals.png">
        <span class="project-page__user-type-name">Professionnels de tous secteurs</span>
      </li>
      <li class="project-page__user-type">
        <img class="project-page__user-type-image" src="{{rootURL}}images/project/citizens.png">
        <span class="project-page__user-type-name">Citoyens</span>
      </li>
    </ul>
    <p class="project-page__populations-description">Son objectif est d’accompagner l’élévation du niveau général de connaissances et de compétences numériques et ainsi de préparer la transformation digitale de l’ensemble de notre société et de notre économie.</p>
  </div>

  <div class="rounded-panel project-page__panel project-page__value project-page__value--measure">
    <div class="project-page__value-header">
      <img class="project-page__value-header-image" src="{{rootURL}}images/project/measure.png">
      <h2 class="project-page__value-header-name">Mesurer ses compétences numériques</h2>
      <hr class="project-page__value-header-line">
    </div>
    <div class="project-page__value-body">
      <p>PIX permettra d’obtenir un profil de compétences associé à un score global sur 1024 pix. En conformité avec le cadre de référence européen DIGCOMP, PIX évaluera les compétences numériques sur 8 niveaux et 5 grands domaines :</p>
      <ul>
        <li>Informations et données</li>
        <li>Communication et collaboration</li>
        <li>Création de contenu</li>
        <li>Protection et sécurité</li>
        <li>Environnement numérique</li>
      </ul>
      <p>Les épreuves évalueront les connaissances mais également les savoir-faire et la capacité à identifier les enjeux du numérique.</p>
      <p>Des modalités innovantes d’évaluation seront proposées, dépassant le cadre habituel des QCM et privilégiant la mesure in vivo de compétences à partir d’activités réalisées dans leur environnement numérique réel : interactions, manipulations de fichiers, résolutions de problèmes, productions créatives, évaluations par les pairs, etc.</p>
    </div>
  </div>

  <div class="rounded-panel project-page__panel project-page__value project-page__value--develop">
    <div class="project-page__value-header">
      <img class="project-page__value-header-image" src="{{rootURL}}images/project/develop.png">
      <h2 class="project-page__value-header-name">Développer ses compétences numériques</h2>
      <hr class="project-page__value-header-line">
    </div>
    <div class="project-page__value-body">
      <p>Les apports de PIX au développement des compétences de chacun sont triples :</p>
      <p>1. PIX permettra d’apprendre en se testant. Une part importante des épreuves PIX sont conçues sous la forme de défis à relever au cours desquels on développe ses compétences.</p>
      <p>2. En s’appuyant sur les résultats des épreuves, PIX offrira également des recommandations ciblées de formation.</p>
      <p>3. Le service proposera enfin un accès dédié aux équipes pédagogiques (collège, lycée, enseignement supérieur) et aux responsables de formation continue. Ils pourront suivre l’évolution des compétences des publics qu’ils encadrent, et concevoir des stratégies de formation sur mesure.</p>
      <p>Pour témoigner des progrès de manière continue et stimulante, les utilisateurs disposeront d’un compte personnel sécurisé qui leur permettra de faire valoir leurs nouveaux acquis à leur rythme et tout au long de la vie.</p>
    </div>
  </div>

  <div class="rounded-panel project-page__panel project-page__value project-page__value--valorize">
    <div class="project-page__value-header">
      <img class="project-page__value-header-image" src="{{rootURL}}images/project/valorize.png">
      <h2 class="project-page__value-header-name">Valoriser ses compétences numériques</h2>
      <hr class="project-page__value-header-line">
    </div>
    <div class="project-page__value-body">
      <p>PIX proposera, de manière optionnelle, un mode « certifiant », permettant d’obtenir une certification
        officielle fiable et reconnue par l’éducation nationale, l’enseignement supérieur et le monde professionnel.</p>

      <p>Ce test complémentaire nécessitera, dans un premier temps, une passation en présentiel dans les centres
        agréés par PIX : collèges, lycées, établissements d’enseignement supérieur, structures partenaires.</p>

      <p>Des solutions de passation du mode certifiant à distance seront étudiées par la suite, à destination des
        professionnels.</p>

      <p>PIX se substituera au Brevet informatique et internet (B2i) et à la Certification informatique et internet
        (C2i) progressivement à partir de la rentrée 2017–2018.</p>
    </div>
  </div>

  <div class="project-page__presentation">
    <div class="project-page__panel project-page__presentation-container">

      <div class="project-page__presentation-header">
        <h2 class="project-page__presentation-header-name">PIX, un service en ligne co-construit et évolutif</h2>
        <hr class="project-page__presentation-header-line">
      </div>

      <div class="project-page__presentation-body">
        <p>PIX respectera l’exigence de neutralité du service public et sera compatible avec l’ensemble des environnements numériques : diversité des systèmes d’exploitation et des services en ligne, logiciels propriétaires comme logiciels libres, etc.</p>
        <p>PIX est développé selon la méthodologie agile des « Startups d’État » dans le cadre d’un partenariat entre tous les acteurs du ministère de l’Éducation nationale, de l’Enseignement supérieur et la Recherche, le Conseil national éducation-économie et le secrétariat général à la modernisation de l’action publique.</p>
        <p>Le projet fait l’objet d’une démarche inédite de co-construction avec des acteurs du monde professionnel.</p>
        <p>Des panels de tests sont organisés en établissement scolaire, dans l’enseignement supérieur ou en entreprise toutes les deux semaines pour mettre à l’épreuve les nouvelles fonctionnalités au fur et à mesure de leur développement et pour calibrer les épreuves.</p>
        <p>PIX fait appel à la multitude des utilisateurs. Toutes les personnes, établissements et entreprises qui le souhaitent ont la possibilité de rejoindre la communauté des bêta-testeurs à distance. Le référentiel de compétences et les épreuves sont pensés pour évoluer dans le temps à l’aune des retours des utilisateurs.</p>
        <p>Le code source de la plateforme PIX est libre.</p>
      </div>
    </div>
  </div>

  {{app-footer}}

</div>
