<div class="tooltip__tag tooltip__tag{{if this.isFocusedChallenge "--focused" "--regular"}}">
  <button
    type="button"
    aria-controls="tooltip-tag-info"
    aria-expanded="{{this.shouldDisplayTooltip}}"
    aria-label={{t "pages.challenge.statement.tooltip.aria-label"}}
    class="tooltip-tag__icon-button"
    {{on "mouseenter" (fn this.displayTooltip true)}}
    {{on "mouseleave" (fn this.displayTooltip false)}}
    {{on "click" (fn this.displayTooltip true)}}
  ></button>

  <div
    id="tooltip-tag-info"
    class="tooltip-tag__information"
    tabindex="0"
    {{on-key "Escape" (fn this.displayTooltip false) event="keyup"}}
    {{on "focusout" (fn this.displayTooltip false)}}
  >
    <h3 class="tooltip-tag-information__title">
      {{t
        (if
          this.isFocusedChallenge
          "pages.challenge.statement.tooltip.focused.title"
          "pages.challenge.statement.tooltip.other.title"
        )
      }}
    </h3>

    <p class="tooltip-tag-information__text">
      {{t
        (if
          this.isFocusedChallenge
          "pages.challenge.statement.tooltip.focused.content"
          "pages.challenge.statement.tooltip.other.content"
        )
        htmlSafe=true
      }}
    </p>
    {{#if this.shouldDisplayButton}}
      <PixButton class="tooltip-tag-information__button" @size="small" @triggerAction={{this.confirmInformationIsRead}}>
        {{t "pages.challenge.statement.tooltip.close"}}
      </PixButton>
    {{/if}}
  </div>
</div>