{{page-title "Children"}}
{{#if this.accessControl.hasAccessToAttachChildOrganizationActionsScope}}
  <section class="page-section">
    <div class="content-text content-text--small">
      <Organizations::Children::AttachChildForm @onFormSubmitted={{this.handleFormSubmitted}} />
    </div>
  </section>
{{/if}}
<section class="page-section">
  <header class="page-section__header">
    <h2 class="page-section__title">{{t "pages.organization-children.title"}}</h2>
  </header>
  <div class="content-text content-text--small">
    <div class="table-admin">
      <Organizations::Children::List @organizations={{@model.children}} />

      {{#unless @model.children}}
        <p class="table__empty">{{t "pages.organization-children.empty-table"}}</p>
      {{/unless}}
    </div>
  </div>

</section>