<div
  {{did-insert this.refreshAreas}}
  {{did-update this.refreshAreas this.selectedFrameworkIds}}
  class="tubes-selection"
>
  <Card class="tubes-selection__card" @title="2. Sélection des sujets">
    <div class="tubes-selection__inline-layout">
      <PixMultiSelect
        class="tubes-selection__multi-select"
        @label="Référentiel :"
        @screenReaderOnly={{true}}
        @placeholder="Séléctionner les référentiels souhaités"
        @id="framework-list"
        @isSearchable={{true}}
        @showOptionsOnInput={{true}}
        @onChange={{this.setSelectedFrameworkIds}}
        @emptyMessage={{"Pas de résultat"}}
        @values={{this.selectedFrameworkIds}}
        @options={{this.frameworkOptions}}
        as |option|
      >
        {{option.label}}
      </PixMultiSelect>
      {{#if @displayJsonImportButton}}
        <div class="vertical-delimiter"></div>
        <PixButtonUpload
          @onChange={{this.fillTubesSelectionFromFile}}
          @backgroundColor="transparent-light"
          @isBorderVisible={{true}}
          @size="small"
          @id="file-upload"
          accept=".json"
        >
          Importer un fichier JSON
        </PixButtonUpload>
      {{/if}}
      <div class="tubes-selection__inline-layout--count">{{this.selectedTubesCount}}/{{this.totalTubesCount}}</div>
    </div>
  </Card>

  {{#if this.hasNoFrameworksSelected}}
    Aucun référentiel de sélectionné
  {{else}}
    <Common::TubesSelection::Areas
      @areas={{this.areas}}
      @setLevelTube={{this.setLevelTube}}
      @selectedTubeIds={{this.selectedTubeIds}}
      @checkTube={{this.checkTube}}
      @uncheckTube={{this.uncheckTube}}
      @tubeLevels={{this.tubeLevels}}
      @displayDeviceCompatibility={{@displayDeviceCompatibility}}
    />
  {{/if}}
</div>