{{! template-lint-disable no-at-ember-render-modifiers }}
{{! TODO: Use this documentation to remove usage of did-insert and did-update
https://guides.emberjs.com/release/components/template-lifecycle-dom-and-modifiers/#toc_communicating-between-elements-in-a-component}}
<div
  {{did-insert this.refreshAreas}}
  {{did-update this.refreshAreas this.selectedFrameworkIds}}
  class="tubes-selection"
>
  <Card class="tubes-selection__card" @title="Sélection des sujets">
    <div class="tubes-selection__inline-layout">
      <PixMultiSelect
        class="tubes-selection__multi-select"
        @placeholder="Sélectionner les référentiels souhaités"
        @id="framework-list"
        @isSearchable={{true}}
        @inlineLabel={{true}}
        @showOptionsOnInput={{true}}
        @onChange={{this.setSelectedFrameworkIds}}
        @emptyMessage="Pas de résultat"
        @values={{this.selectedFrameworkIds}}
        @options={{this.frameworkOptions}}
      >
        <:label>Référentiels :</:label>
        <:default as |option|>{{option.label}}</:default>
      </PixMultiSelect>
      {{#if @displayJsonImportButton}}
        <div class="tubes-selection__vertical-delimiter"></div>
        <PixButtonUpload
          @onChange={{this.fillTubesSelectionFromFile}}
          @variant="secondary"
          @size="small"
          @id="file-upload"
          accept=".json"
        >
          Importer un fichier JSON
        </PixButtonUpload>
      {{/if}}
      <PixTag class="tubes-selection__count" @color="neutral">
        {{this.selectedTubesCount}}/{{this.totalTubesCount}}
        sujet(s) sélectionné(s)
      </PixTag>
    </div>
  </Card>

  {{#if this.hasNoFrameworksSelected}}
    Aucun référentiel de sélectionné
  {{else}}
    <Common::TubesSelection::Areas
      @areas={{this.areas}}
      @setLevelTube={{this.setLevelTube}}
      @selectedTubeIds={{this.selectedTubeIds}}
      @checkTube={{this.checkTube}}
      @uncheckTube={{this.uncheckTube}}
      @tubeLevels={{this.tubeLevels}}
      @displayDeviceCompatibility={{@displayDeviceCompatibility}}
      @displaySkillDifficultyAvailability={{@displaySkillDifficultyAvailability}}
    />
  {{/if}}
</div>