{{#if this.isLoading}}
  <div class="divisions-filter--is-loading placeholder-box"></div>
{{else}}
  <PixMultiSelect
    @placeholder={{t "common.filters.divisions.placeholder"}}
    @emptyMessage={{t "common.filters.divisions.empty"}}
    @screenReaderOnly={{true}}
    @values={{@selected}}
    @onChange={{@onSelect}}
    @options={{this.options}}
    @isSearchable={{true}}
    ...attributes
  >
    <:label>{{t "common.filters.divisions.label"}}</:label>
    <:default as |option|>{{option.label}}</:default>
  </PixMultiSelect>
{{/if}}