{{#if this.isLoading}}
  <div class="groups-filter--is-loading placeholder-box"></div>
{{else}}
  <PixMultiSelect
    @placeholder={{t "pages.campaign-results.filters.type.groups.title"}}
    @emptyMessage={{t "pages.campaign-results.filters.type.groups.empty"}}
    @screenReaderOnly={{true}}
    @isSearchable={{true}}
    @onChange={{@onSelect}}
    @values={{@selectedGroups}}
    @options={{this.options}}
    ...attributes
  >
    <:default as |option|>{{option.label}}</:default>
    <:label>{{t "pages.campaign-results.filters.type.groups.title"}}</:label>
  </PixMultiSelect>
{{/if}}