<section class="old-indicator-card" ...attributes>
  {{#if @isLoading}}
    <p class="screen-reader-only">{{@loader}}</p>
    <div class="old-indicator-card__icon" aria-hidden="true"></div>
    <div class="old-indicator-card__content" aria-hidden="true"></div>
  {{else}}
    <div class="old-indicator-card__icon {{if @color (concat 'old-indicator-card__icon--' @color)}}" aria-hidden="true">
      <FaIcon @icon={{@icon}} />
    </div>
    <dl class="old-indicator-card__content">
      <div class="old-indicator-card__title">
        <dt>{{@title}}</dt>
        {{#if @info}}
          <PixTooltip
            @id={{@title}}
            @position="top"
            @isWide={{true}}
            class="old-indicator-card__tooltip hide-on-mobile"
          >
            <:triggerElement>
              <FaIcon
                @icon="circle-question"
                class="old-indicator-card__tooltip-icon"
                tabindex="0"
                aria-describedby={{@title}}
              />
            </:triggerElement>
            <:tooltip>
              {{@info}}
            </:tooltip>
          </PixTooltip>
        {{/if}}
      </div>
      <dd class="old-indicator-card__value">
        {{yield}}
      </dd>
    </dl>
  {{/if}}
</section>