<section class="indicator-card" ...attributes>
  {{#if @isLoading}}
    <p class="sr-only">{{@loader}}</p>
    <div class="indicator-card__icon" aria-hidden="true"/>
    <div class="indicator-card__content" aria-hidden="true"/>
  {{else}}
    <div class="indicator-card__icon {{if @color (concat "indicator-card__icon--" @color)}}" aria-hidden="true">
      <FaIcon @icon={{@icon}}/>
    </div>
    <div class="indicator-card__content">
      <label class="indicator-card__title">
        {{@title}}
        {{#if @info}}
          <PixTooltip
            role="tooltip"
            @text={{@info}}
            @position="top"
            @isWide={{true}}
            class="indicator-card__tooltip"
          >
            <FaIcon @icon="question-circle" class="indicator-card__tooltip-icon"/>
          </PixTooltip>
        {{/if}}
      </label>
      {{yield}}
    </div>
  {{/if}}
</section>
