<Ui::InformationWrapper>
  {{#if @isCertifiable}}
    <Ui::Information>
      <:title>
        <Ui::IsCertifiable @isCertifiable={{@isCertifiable}} />
      </:title>
      <:content>
        <span class="information__content--gray">
          <Ui::Date @date={{@certifiableAt}} />
        </span>
      </:content>
    </Ui::Information>
  {{/if}}
  {{#if @groupName}}
    <Ui::Information>
      <:title>
        {{@groupName}}
      </:title>
      <:content>
        {{this.group}}
      </:content>
    </Ui::Information>
  {{/if}}
  {{#if (gt this.connectionMethods.length 0)}}
    <Ui::Information>
      <:title>
        {{t "pages.sco-organization-participants.table.column.login-method"}}
      </:title>
      <:content>
        {{this.connectionMethods}}
      </:content>
    </Ui::Information>
  {{/if}}

</Ui::InformationWrapper>