{{#if @isLoading}}
  <div class="multi-select-filter--is-loading placeholder-box"></div>
{{else}}
  <PixMultiSelect
    @placeholder={{@placeholder}}
    @screenReaderOnly={{true}}
    @emptyMessage={{@emptyMessage}}
    @isSearchable={{true}}
    @onChange={{this.onSelect}}
    @values={{@selectedOption}}
    @options={{@options}}
  >
    <:label>{{@label}}</:label>
    <:default as |option|>{{option.label}}</:default>
  </PixMultiSelect>
{{/if}}