{{#if @isLoading}}
  <div class="multi-select-filter--is-loading placeholder-box"></div>
{{else}}
  <PixMultiSelect
    @id="multi-select-{{@field}}"
    @label={{@title}}
    @innerText={{@placeholder}}
    @screenReaderOnly={{true}}
    @emptyMessage={{@emptyMessage}}
    @isSearchable={{true}}
    @onSelect={{this.onSelect}}
    @selected={{@selectedOption}}
    @options={{@options}}
    as |option|
  >
    {{option.label}}
  </PixMultiSelect>
{{/if}}