{{! template-lint-disable require-input-label }}
<div class="input search-input" ...attributes>
  <FaIcon @icon="magnifying-glass" />
  <input
    id={{@inputName}}
    name={{@inputName}}
    placeholder={{@placeholder}}
    aria-label={{@ariaLabel}}
    value={{@value}}
    oninput={{@onSearch}}
    class="search-input__invisible-field"
  />
</div>