<header class="page-header">
  <h1 class="page-title">Tous les contenus formatifs</h1>
  {{#if this.canCreateTrainings}}
    <div class="page-actions">
      <a
        class="page-actions__link"
        href="https://1024pix.atlassian.net/wiki/spaces/PROD/pages/3753476097/Cr+er+un+contenu+formatif+Mode+d+emploi"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Consulter la documentation de création de contenus formatifs"
      >
        <FaIcon @icon="arrow-up-right-from-square" />
        <span>Consulter la documentation</span>
      </a>
      <PixButtonLink
        @route="authenticated.trainings.new"
        @variant="secondary"
        @isBorderVisible={{true}}
        @iconBefore="plus"
      >
        Nouveau contenu formatif
      </PixButtonLink>
    </div>
  {{/if}}
</header>

<main class="page-body">
  <section class="page-section">
    <Trainings::ListSummaryItems
      @summaries={{@model}}
      @id={{this.id}}
      @title={{this.title}}
      @triggerFiltering={{this.triggerFiltering}}
    />
  </section>
</main>