{{page-title "Détail du contenu formatif " @model.id}}

{{! template-lint-disable no-redundant-landmark-role }}
<header class="page-header" role="banner">
  <div class="page-title">
    Contenus Formatifs
    <FaIcon @icon="chevron-right" />
    Détail du contenu formatif
    {{@model.id}}
  </div>
</header>

{{! template-lint-disable no-redundant-landmark-role }}
<main class="page-body" role="main">
  <section class="page-section">
    {{#if this.isEditMode}}
      <Trainings::CreateOrUpdateTrainingForm
        @model={{@model}}
        @onSubmit={{this.updateTraining}}
        @onCancel={{this.toggleEditMode}}
      />
    {{else}}
      <Trainings::TrainingDetailsCard @training={{@model}} />
      <PixButton
        @size="small"
        @backgroundColor="transparent-light"
        @isBorderVisible={{true}}
        @triggerAction={{this.toggleEditMode}}
      >Editer
      </PixButton>
    {{/if}}
  </section>

  <nav class="navbar">
    <LinkTo @route="authenticated.trainings.training.triggers" @model={{@model}} class="navbar-item">
      {{t "pages.trainings.training.triggers.tabName"}}
    </LinkTo>
    <LinkTo @route="authenticated.trainings.training.target-profiles" @model={{@model}} class="navbar-item">
      {{t "pages.trainings.training.targetProfiles.tabName"}}
    </LinkTo>
  </nav>

  {{outlet}}
</main>