<PixModal
  @title="Éditer les informations du candidat"
  @onCloseButtonClick={{this.onCancelButtonsClicked}}
  @showModal={{@isDisplayed}}
>
  <:content>
    <form id="candidate-edit-form" {{on "submit" this.onFormSubmit}}>
      <p class="candidate-edit-modal--content__required-fields-mention">
        Tous les champs sont obligatoires.
      </p>

      <div class="candidate-edit-modal--content__field">
        <label for="last-name">
          Nom de famille
        </label>
        <Input id="last-name" @type="text" class="input" @value={{this.lastName}} {{did-insert this.focus}} required />
      </div>

      <div class="candidate-edit-modal--content__field">
        <label for="first-name">
          Prénom
        </label>
        <Input id="first-name" @type="text" class="input" @value={{this.firstName}} required />
      </div>

      <div class="candidate-edit-modal--content__field-radio-button">
        Sexe
        <div class="radio-button-container">
          <PixRadioButton
            name="sex"
            @label="Femme"
            checked={{if (eq this.sex "F") true}}
            {{on "change" (fn this.updateSexValue "F")}}
            required
          />
          <PixRadioButton
            name="sex"
            @label="Homme"
            checked={{if (eq this.sex "M") true}}
            {{on "change" (fn this.updateSexValue "M")}}
            required
          />
        </div>
      </div>

      <div class="candidate-edit-modal--content__field">
        <label for="birthdate">
          Date de naissance
        </label>
        <EmberFlatpickr
          id="birthdate"
          @altFormat="d/m/Y"
          @altInput={{true}}
          @onChange={{this.updateBirthdate}}
          @dateFormat="Y-m-d"
          @locale="fr"
          @date={{this.birthdate}}
        />
      </div>

      <div class="candidate-edit-modal--content__field">
        <PixSelect
          @label="Pays de naissance"
          @options={{this.countryOptions}}
          @onChange={{this.selectBirthCountry}}
          @selectedOption={{this.selectedCountryOption}}
          required
        />
      </div>

      {{#if this.isBirthGeoCodeRequired}}
        <div class="candidate-edit-modal--content__field-radio-button">
          Code géographique de naissance
          <div class="radio-button-container">
            <PixRadioButton
              name="birth-geo-code-option"
              @label="Code INSEE"
              checked={{if (eq this.selectedBirthGeoCodeOption "insee") true}}
              {{on "change" (fn this.selectBirthGeoCodeOption "insee")}}
              required
            />
            <PixRadioButton
              name="birth-geo-code-option"
              @label="Code postal"
              checked={{if (eq this.selectedBirthGeoCodeOption "postal") true}}
              {{on "change" (fn this.selectBirthGeoCodeOption "postal")}}
              required
            />
          </div>
        </div>
      {{/if}}

      {{#if this.isBirthInseeCodeRequired}}
        <div class="candidate-edit-modal--content__field">
          <label for="birth-insee-code">
            Code Insee de naissance
          </label>
          <Input id="birth-insee-code" @type="text" class="input" @value={{this.birthInseeCode}} required />
        </div>
      {{/if}}

      {{#if this.isBirthPostalCodeRequired}}
        <div class="candidate-edit-modal--content__field">
          <label for="birth-postal-code">
            Code postal de naissance
          </label>
          <Input id="birth-postal-code" @type="text" class="input" @value={{this.birthPostalCode}} required />
        </div>
      {{/if}}

      {{#if this.isBirthCityRequired}}
        <div class="candidate-edit-modal--content__field">
          <label for="birth-city">
            Commune de naissance
          </label>
          <Input id="birth-city" @type="text" class="input" @value={{this.birthCity}} required />
        </div>
      {{/if}}
    </form>
  </:content>

  <:footer>
    <PixButton
      @size="small"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @triggerAction={{this.onCancelButtonsClicked}}
    >
      Annuler
    </PixButton>
    <PixButton form="candidate-edit-form" @size="small" @type="submit">
      Enregistrer
    </PixButton>
  </:footer>
</PixModal>