{{#if @edition}}
  {{#each this.competenceList as |competenceItem key|}}
    <div class="competence-list-edited" aria-label="Informations de la compétence {{competenceItem}} éditable">
      <Certifications::InfoField
        @fieldId={{concat "certification-info-score_" key}}
        @value={{get this.indexedValues.scores key}}
        @edition={{@edition}}
        @label={{competenceItem}}
        @suffix="Pix"
        {{on "change" (fn this.onScoreChange key)}}
      />

      <Certifications::InfoField
        @fieldId={{concat "certification-info-level_" key}}
        @value={{get this.indexedValues.levels key}}
        @edition={{@edition}}
        @label="Niveau:"
        {{on "change" (fn this.onLevelChange key)}}
      />
    </div>
  {{/each}}
{{else}}
  <table aria-label="{{t 'pages.certifications.certification.result.table.label'}}" class="competence-list__table">
    <thead>
      <tr>
        <th scope="col">{{t "pages.certifications.certification.result.table.headers.competence"}}</th>
        <th scope="col">{{t "pages.certifications.certification.result.table.headers.score"}}</th>
        <th scope="col">{{t "pages.certifications.certification.result.table.headers.level"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each @competences as |competence|}}
        <tr>
          <th scope="row">{{competence.index}}</th>
          <td>{{competence.score}}</td>
          <td>{{competence.level}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}