{{#if @edition}}
  <div class="row form-group certification-info-field edited">
    <label
      for={{@fieldId}}
      class="col-form-label certification-info-field__label--editing
        {{if @isTextarea "certification-info-field__label--large"}}
        {{if @suffix "certification-info-field__label--small"}}"
    >
      {{@label}}
    </label>
    {{#if @isTextarea}}
      <Textarea id={{@fieldId}} @value={{@value}} class="form-control" />
    {{else}}
      <Input id={{@fieldId}} @type="text" @value={{@value}} class="form-control" />
    {{/if}}
    {{#if @suffix}}
      <span class="certification-info-field__suffix">{{@suffix}}</span>
    {{/if}}
  </div>
{{else}}
  <div class="row certification-info-field">
    <p>
      {{@label}}
      {{#if @linkRoute}}
        <LinkTo @route={{@linkRoute}} @model={{@value}}>
          {{this.valueWithSuffix}}
        </LinkTo>
      {{else}}
        <span class={{@class}}>
          {{#if @isDate}}
            {{moment-format @value "DD/MM/YYYY" allow-empty=true}}
          {{else}}
            {{if this.valueWithSuffix this.valueWithSuffix " - "}}
          {{/if}}
        </span>
      {{/if}}
    </p>
  </div>
{{/if}}