<li class="certification-issue-report">
  {{#if (or (not @issueReport.isImpactful) @issueReport.resolvedAt)}}
    <FaIcon
      aria-label="Résolu"
      aria-hidden="false"
      class="certification-issue-report__resolution-status certification-issue-report__resolution-status--resolved"
      @icon="check-circle"
    />
  {{else}}
    <FaIcon
      aria-label="Non résolu"
      aria-hidden="false"
      class="certification-issue-report__resolution-status certification-issue-report__resolution-status--unresolved"
      @icon="times-circle"
    />
  {{/if}}

  <div class="certification-issue-report__details">
    <div class="certification-issue-report__details__label">
      {{@issueReport.categoryLabel}}
      {{#if @issueReport.subcategoryLabel}} : {{@issueReport.subcategoryLabel}}{{/if}}
      {{#if @issueReport.description}} - {{@issueReport.description}}{{/if}}
      {{#if @issueReport.questionNumber}} - Question {{@issueReport.questionNumber}}{{/if}}
    </div>
    {{#if (and @issueReport.isImpactful @issueReport.resolvedAt)}}
      <div class="certification-issue-report__details__resolution-message">
        Résolution : {{#if @issueReport.resolution}}{{@issueReport.resolution}}{{else}}-{{/if}}
      </div>
    {{/if}}
  </div>
  {{#if @issueReport.canBeResolved}}
    <PixButton
      @size="small"
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @triggerAction={{this.toggleResolveModal}}
    >Résoudre
    </PixButton>
  {{/if}}
  {{#if this.showResolveModal}}
    <Certifications::IssueReports::ResolveIssueReportModal
      @toggleResolveModal={{this.toggleResolveModal}}
      @issueReport={{@issueReport}}
      @resolveIssueReport={{@resolveIssueReport}}
      @closeResolveModal={{this.closeResolveModal}}
    />
  {{/if}}
</li>