<div class="certification-status-select">
  {{#if @edition}}
    <PixSelect
      @label="Statut :"
      @placeholder="Statut"
      class="certification-status-select__select"
      @options={{this.options}}
      @onChange={{this.selectOption}}
      @selectedOption={{@certification.status}}
      @hideDefaultOption={{true}}
    />
  {{else}}
    <span>Statut :</span>
    &nbsp;
    <span>{{@certification.statusLabelAndValue.label}}</span>
  {{/if}}
</div>