<td data-test-id='panel-candidate__lastName__add-staging'>
  <div class="certification-candidates-input-wrapper">
    <Input @value={{@candidateData.lastName}} class="certification-candidates-input" />
  </div>
</td>
<td data-test-id='panel-candidate__firstName__add-staging'>
  <div class="certification-candidates-input-wrapper">
    <Input @value={{@candidateData.firstName}} class="certification-candidates-input" />
  </div>
</td>
<td data-test-id='panel-candidate__birthdate__add-staging'>
    <div class="certification-candidates-input-wrapper">
      {{one-way-date-mask
          placeholder='dd/mm/yyyy'
          options=(hash inputFormat='dd/mm/yyyy' outputFormat='yyyy-mm-dd')
          class='certification-candidates-input'
          update=(action (mut @candidateData.birthdate))}}
    </div>
</td>
<td data-test-id='panel-candidate__birthCity__add-staging'>
  <div class="certification-candidates-input-wrapper">
    <Input @value={{@candidateData.birthCity}} class="certification-candidates-input" />
  </div>
</td>
<td data-test-id='panel-candidate__birthProvinceCode__add-staging'>
  <div class="certification-candidates-input-wrapper">
    <Input @value={{@candidateData.birthProvinceCode}} class="certification-candidates-input" />
  </div>
</td>
<td data-test-id='panel-candidate__birthCountry__add-staging'>
  <div class="certification-candidates-input-wrapper">
    <Input @value={{@candidateData.birthCountry}} class="certification-candidates-input" />
  </div>
</td>
<td data-test-id='panel-candidate__email__add-staging'>
  <div class="certification-candidates-input-wrapper">
    <Input @value={{@candidateData.email}} class="certification-candidates-input" />
  </div>
</td>
<td data-test-id='panel-candidate__externalId__add-staging'>
  <div class="certification-candidates-input-wrapper">
    <Input @value={{@candidateData.externalId}} class="certification-candidates-input" />
  </div>
</td>
<td data-test-id='panel-candidate__extraTimePercentage__add-staging'>
  <div class="certification-candidates-input-wrapper">
    <Input @value={{@candidateData.extraTimePercentage}} class="certification-candidates-input" />
    <span class="certification-candidates-percentage">
      %
    </span>
  </div>
</td>
<td>
  <div class="certification-candidates-input-wrapper certification-candidates-row-actions">
    {{#if this.isCandidateDataValid}}
        <button data-test-id='panel-candidate__action__save' class="button button--row-item"  {{on "click" (fn @onClickSave @candidateData)}}>
            Enregistrer
        </button>
    {{else}}
        <button data-test-id='panel-candidate__action__save' class="button button--row-item button--disabled" disabled="true">
            Enregistrer
        </button>
    {{/if}}
      <button data-test-id='panel-candidate__action__cancel' class="button button--square button--lightgrey certification-candidates-row-actions__close" {{on "click" (fn @onClickCancel @candidateData)}}>
        {{fa-icon "times" class="fa-fw certification-candidates-add-button__icon"}}
      </button>
  </div>
</td>
