<div class="table session-finalization-reports-informations-step">
  <table class="session-finalization-reports-informations-step__table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>N° de certification</th>
        <th>Signalement (facultatif)</th>
        <th>
          <div class="session-finalization-reports-informations-step__row">
            <div class="session-finalization-reports-informations-step__checker" onClick={{action "toggleAllHasSeenEndTestScreen" }}>
              {{#if hasCheckedEverything}}
                <div class="checkbox checkbox--checked">
                  <img
                    src="/icons/icon-done.svg"
                    class="session-finalization-reports-informations-step__done-icon"
                    alt="checkbox" >
                </div>
              {{else if hasCheckedSomething}}
                <div class="checkbox checkbox--unchecked">
                  <div class="session-finalization-reports-informations-step__dash-icon"></div>
                </div>
              {{else}}
                <div class="checkbox checkbox--unchecked">
                </div>
              {{/if}}
            </div>
            Écran de fin du test vu
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each certificationReports as |report|}}
        <tr>
          <td data-test-id="finalization-report-last-name_{{report.id}}">{{report.lastName}}</td>
          <td data-test-id="finalization-report-first-name_{{report.id}}">{{report.firstName}}</td>
          <td data-test-id="finalization-report-certification-number_{{report.id}}">{{report.id}}</td>
          <td>
            <textarea
              data-test-id="finalization-report-examiner-comment_{{report.id}}"
              class="session-finalization-reports-informations-step__textarea"
              value={{report.examinerComment}}
              oninput={{action (mut report.examinerComment) value="target.value"}}
              maxlength={{textareaMaxLength}}
            />
          </td>
          <td>
            {{#if (not report.isMissing)}}
              {{#if report.hasSeenEndTestScreen}}
                <div
                  data-test-id="finalization-report-has-seen-end-test-screen_{{report.id}}"
                  class="checkbox checkbox--checked"
                  onClick={{action (toggle "hasSeenEndTestScreen" report)}}
                >
                  <img
                    src="/icons/icon-done.svg"
                    class="session-finalization-reports-informations-step__done-icon"
                    alt="checkbox" >
                </div>
              {{else}}
                <div
                  data-test-id="finalization-report-has-seen-end-test-screen_{{report.id}}"
                  class="checkbox checkbox--unchecked"
                  onClick={{action (toggle "hasSeenEndTestScreen" report)}}/>
              {{/if}}
            {{else}}
              <div
                data-test-id="finalization-report-has-seen-end-test-screen_{{report.id}}"
                class="checkbox checkbox--unchecked checkbox--disabled"
                onClick={{action (toggle "hasSeenEndTestScreen" report)}}
              />
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
