<div class="panel session-finalization-step-container">
    <div class="session-finalization-step-container__title">
        <img src={{icon}} alt={{iconAlt}} class="session-finalization-step-container__icon">
         Étape {{number}} : {{title}}
    </div>
    <div class="session-finalization-step-container__border">
      {{yield}}
    </div>
</div>