<div class="session-finalization-examiner-comment-step">
  <div class="session-finalization-examiner-comment-step__header-container">
    <label for="examiner-comment" class="session-finalization-examiner-comment-step__label">
        Vous pouvez indiquer un commentaire global sur cette session, par exemple si vous avez rencontré un problème technique qui a impacté le déroulement de la session.
    </label>
    <div class="session-finalization-examiner-comment-step__characters-information">
      {{examinerComment.length}} / {{textareaMaxLength}}
    </div>
  </div>
  <textarea
    id="examiner-comment"
    class="session-finalization-examiner-comment-step__textarea"
    value={{examinerComment}}
    oninput={{action "updateTextareaValue" value="target.value"}}
    maxlength={{textareaMaxLength}}
  />
</div>
