<div class="challenge-item">
  <div class="challenge-item__body">
    <div class="challenge-item__container">
      <Challenge::ChallengeInstruction @instruction={{@challenge.instruction}} />
      <div class="challenge-item__playground">
        {{#if @challenge.illustrationUrl}}
          <div class="challenge-item__image">
            <Challenge::ChallengeIllustration @src={{@challenge.illustrationUrl}} @alt={{@challenge.illustrationAlt}} />
          </div>
        {{/if}}
        {{#if @challenge.hasValidEmbedDocument}}
          <div class="challenge-item__embed">
            <Challenge::ChallengeEmbedSimulator
              @url={{@challenge.embedUrl}}
              @title={{@challenge.embedTitle}}
              @height={{@challenge.embedHeight}}
            />
          </div>
        {{/if}}
        {{#if @challenge.autoReply}}
          <div class="challenge-item__autoreply">
            <Challenge::ChallengeItemAutoReply @setAnswerValue={{this.setAnswerValue}} />
          </div>
        {{/if}}
        {{#if @challenge.isQROC}}
          <div class="challenge-item__qroc">
            <Challenge::ChallengeItemQroc @challenge={{@challenge}} @setAnswerValue={{this.setAnswerValue}} />
          </div>
        {{/if}}
        {{#if @challenge.isQROCM}}
          <div class="challenge-item__qrocm">
            <Challenge::ChallengeItemQrocm @challenge={{@challenge}} @setAnswerValue={{this.setAnswerValue}} />
          </div>
        {{/if}}
        {{#if @challenge.isQCU}}
          <div class="challenge-item__qcu">
            <Challenge::ChallengeItemQcu
              @challenge={{@challenge}}
              @setAnswerValue={{this.setAnswerValue}}
              @assessment={{@assessment}}
            />
          </div>
        {{/if}}
        {{#if @challenge.isQCM}}
          <div class="challenge-item__qcm">
            <Challenge::ChallengeItemQcm
              @challenge={{@challenge}}
              @setAnswerValue={{this.setAnswerValue}}
              @assessment={{@assessment}}
            />
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="challenge-item__footer">
    <Challenge::ChallengeActions @validateAnswer={{this.validateAnswer}} @skipChallenge={{this.skipChallenge}} />
    <p>Challenge level : {{@activity.level}}</p>
  </div>
</div>

<AnswerFeedback
  @answer={{this.answer}}
  @answerHasBeenValidated={{this.answerHasBeenValidated}}
  @nextAction={{this.resume}}
/>

<WarningFeedback @showWarningModal={{this.showWarningModal}} @onClose={{this.onCloseWarningModal}} />
