<div class="challenge-item">
  <div class="challenge-item__body">
    <div class="challenge-item__container">
      <Challenge::ChallengeInstruction @instruction={{@challenge.instruction}} />
      <div class="challenge-item__playground">
        {{#if @challenge.hasValidEmbedDocument}}
          <Challenge::ChallengeEmbedSimulator
            @url={{@challenge.embedUrl}}
            @title={{@challenge.embedTitle}}
            @height={{@challenge.embedHeight}}
          />
        {{/if}}
        <Challenge::ChallengeItemAutoReply @setAnswerValue={{this.setAnswerValue}} />
      </div>
    </div>
  </div>

  <div class="challenge-item__footer">
    <Challenge::ChallengeActions @validateAnswer={{this.validateAnswer}} @skipChallenge={{this.skipChallenge}} />
  </div>
</div>

<AnswerFeedback
  @answer={{this.answer}}
  @answerHasBeenValidated={{this.answerHasBeenValidated}}
  @nextAction={{this.resume}}
/>