{{#if @display}}
  <ModalDialog
    @translucentOverlay={{true}}
    @targetAttachment="none"
    @wrapperClass="modal-wrapper"
    @overlayClass="modal-overlay"
    @containerClass="modal-dialog"
    @onClose={{@close}}
  >
    <div class="modal__container" role="dialog" aria-labelledby={{this.labelId}} aria-modal="true" ...attributes>
      <div class="modal-header">
        <h2 class="modal-header__title" id={{this.labelId}}>
          {{@title}}
        </h2>
        <button class="modal-header__icon icon-button" aria-label="Fermer la fenêtre" type="button" {{on 'click' @close}}>
          <FaIcon @icon='times'></FaIcon>
        </button>
      </div>
      <div>
        {{yield}}
      </div>
    </div>
  </ModalDialog>
{{/if}}
