<h4 class="campaign-details-analysis campaign-details-analysis__header">{{t 'pages.campaign-review.title'}}</h4>

<p class="campaign-details-analysis campaign-details-analysis__text">
  {{this.description}}
</p>

<div class="panel panel--light-shadow content-text content-text--small campaign-details-table">

  <table aria-label={{t 'pages.campaign-review.header.title'}}>
    <thead>
      <tr>
        <Table::Header @size="wide">{{t 'pages.campaign-review.header.subjects' count=this.sortedRecommendations.length}}</Table::Header>
        <Table::HeaderSort @size="small" @align="center" @onSort={{this.sortRecommendationOrder}} @isDisabled={{not
          @displayAnalysis}}>{{t 'pages.campaign-review.header.relevance'}} </Table::HeaderSort>
        <Table::Header @size="small" @align="center" />
        <Table::Header @size="small" />
      </tr>
    </thead>

    {{#if @displayAnalysis }}
    <tbody>
      {{#each this.sortedRecommendations as |tubeRecommendation|}}
        <Routes::Authenticated::Campaign::Analysis::TubeRecommendationRow @tubeRecommendation={{tubeRecommendation}} />
      {{/each}}
    </tbody>
    {{/if}}

  </table>

  {{#unless @displayAnalysis }}
    <div class="table__empty content-text">{{t 'pages.campaign-review.waiting-results'}}</div>
  {{/unless}}
</div>
