<tr aria-label="Sujet">
  <td class="competences-col__name">
    <div class="competences-col-name-wrapper">
      <span class="competences-col__border {{if this.isOpen "competences-col__border--top"}} competences-col__border--{{@tubeRecommendation.areaColor}}"></span>
      <span class="tube-recommendation-title {{if this.isOpen "tube-recommendation-title--open"}}">
        {{@tubeRecommendation.tubePracticalTitle}}<br />
        <sub class="tube-recommendation-subtitle {{if this.isOpen "tube-recommendation-subtitle--open"}}">
          {{@tubeRecommendation.competenceName}}
        </sub>
      </span>
    </div>
  </td>
  <td>
    <RecommendationIndicator @value={{@tubeRecommendation.averageScore}} />
  </td>
  <td class="table__column--right">
    <button type="button" class="icon-button" {{on 'click' this.toggleTutorialsSection}} aria-expanded="{{this.isOpen}}">
      {{#if this.isOpen}}
        <FaIcon @icon="chevron-up" />
      {{else}}
        <FaIcon @icon="chevron-down" />
      {{/if}}
    </button>
  </td>
</tr>
<tr class="tube-recommendation-tutorial {{if this.isOpen "tube-recommendation-tutorial--open"}}" aria-hidden="{{not this.isOpen}}">
  <td colspan="3" class="tube-recommendation-tutorial__column">
    <div class="tube-recommendation-tutorial-wrapper {{if this.isOpen "tube-recommendation-tutorial-wrapper--open"}}">
      <span class="competences-col__border competences-col__border--bottom {{if this.isOpen "competences-col__border--open"}} competences-col__border--{{@tubeRecommendation.areaColor}}"></span>
      {{#if (eq @tubeRecommendation.tutorials.length 0)}}
        <h3 class="tube-recommendation-tutorial__title">Aucun tuto recommandé pour ce sujet.</h3>
      {{else}}
        <h3 class="tube-recommendation-tutorial__title">
          {{#if (eq @tubeRecommendation.tutorials.length 1)}}
            1 tuto recommandé par la communauté Pix
          {{else}}
            {{@tubeRecommendation.tutorials.length}} tutos recommandés par la communauté Pix
          {{/if}}
        </h3>
        <table class="tube-recommendation-tutorial-table">
          <tbody>
            {{#each @tubeRecommendation.tutorials as |tutorial|}}
              <tr aria-label="Tutoriel" class="table__row--small">
                <td class="tube-recommendation-tutorial-table__row">
                  <a href={{tutorial.link}} class="link" target="_blank" rel="noopener noreferrer">
                    {{tutorial.title}}
                  </a>
                  <span class="tube-recommendation-tutorial-table__details">
                    <strong>·</strong>
                    Par {{tutorial.source}}
                    <strong>·</strong>
                    <span class="tube-recommendation-tutorial-table__format">{{tutorial.format}}</span>
                    <strong>·</strong>
                    {{moment-duration tutorial.duration 'minutes'}}
                  </span>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    </div>
  </td>
</tr>
