<div class="session-info">

  <div class="session-info__certification-officer-assigned">
    <span>{{this.sessionModel.assignedCertificationOfficer.fullName}}</span>
  </div>

  <div class="session-info__details">
    <div class="row">
      <div class="col">Centre :</div>
      <div class="col">{{this.sessionModel.certificationCenterName}}</div>
    </div>
    <div class="row">
      <div class="col">Adresse :</div>
      <div class="col">{{this.sessionModel.address}}</div>
    </div>
    <div class="row">
      <div class="col">Pièce :</div>
      <div class="col">{{this.sessionModel.room}}</div>
    </div>
    <div class="row">
      <div class="col">Surveillant :</div>
      <div class="col">{{this.sessionModel.examiner}}</div>
    </div>
    <div class="row">
      <div class="col">Date :</div>
      <div class="col">{{format-date this.sessionModel.date}}</div>
    </div>
    <div class="row">
      <div class="col">Heure :</div>
      <div class="col">{{this.sessionModel.time}}</div>
    </div>
    <div class="row">
      <div class="col">Description :</div>
      <div class="col">{{this.sessionModel.description}}</div>
    </div>
    <div class="row">
      <div class="col">Code d'accès :</div>
      <div class="col">{{this.sessionModel.accessCode}}</div>
    </div>
    <div class="row">
      <div class="col">Statut :</div>
      <div class="col">{{this.sessionModel.displayStatus}}</div>
    </div>

    {{#if this.sessionModel.finalizedAt}}
      <div class="row">
        <div class="col">Date de finalisation :</div>
        <div class="col" data-test-id="session-info__finalized-at">{{format-date this.sessionModel.finalizedAt}}</div>
      </div>
    {{/if}}
    {{#if this.sessionModel.publishedAt}}
      <div class="row">
        <div class="col">Date de publication :</div>
        <div class="col" data-test-id="session-info__published-at">{{format-date this.sessionModel.publishedAt}}</div>
      </div>
    {{/if}}
    {{#if this.sessionModel.resultsSentToPrescriberAt}}
      <div class="row">
        <div class="col">Date d'envoi des résultats au prescripteur :</div>
        <div class="col" data-test-id="session-info__sent-to-prescriber-at">{{format-date this.sessionModel.resultsSentToPrescriberAt}}</div>
      </div>
    {{/if}}
  </div>


  {{#if this.sessionModel.finalizedAt}}
  <div class="session-info__stats">
    <div class="row">
      <div class="col">Nombre de signalements impactants :</div>
      <div class="col" data-test-id="session-info__number-of-blocking-report">{{this.sessionModel.countCertificationIssueReportsWithActionRequired}}</div>
    </div>
    <div class="row">
      <div class="col">Nombre de signalements :</div>
      <div class="col" data-test-id="session-info__number-of-issue-report">{{this.sessionModel.countCertificationIssueReports}}</div>
    </div>
    <div class="row">
      <div class="col">Nombre d'écrans de fin de test non renseignés :</div>
      <div class="col" data-test-id="session-info__number-of-not-checked-end-screen">{{this.sessionModel.countNotCheckedEndScreen}}</div>
    </div>
    <div class="row">
      <div class="col">Nombre de certifications non terminées :</div>
      <div class="col" data-test-id="session-info__number-of-not-ended-certifications">{{this.sessionModel.countNonValidatedCertifications}}</div>
    </div>
    {{#if this.sessionModel.hasExaminerGlobalComment}}
    <div class="row">
      <div class="col">Commentaire global :</div>
      <div class="col" data-test-id="session-info__examiner-global-comment">{{this.sessionModel.examinerGlobalComment}}</div>
    </div>
    {{/if}}
  </div>
  {{/if}}

  <div class="session-info__actions">
    <div class="row row--btn">

      {{#if this.sessionModel.finalizedAt}}
        {{#if this.isCurrentUserAssignedToSession}}
          <button type="button" class="btn btn-primary btn-disabled">
            Vous êtes assigné à cette session
          </button>
        {{else}}
          <button type="button" class="btn btn-primary" {{on 'click' this.checkForAssignment}}>
            M'assigner la session
          </button>
        {{/if}}
      {{/if}}

      <button type="button" class="btn btn-primary" {{on 'click' this.downloadBeforeJuryFile}}>
        Récupérer le fichier avant jury
      </button>

      <button type="button" class="btn btn-secondary btn--right" {{on 'click' this.downloadSessionResultFile}}>
        Exporter les résultats
      </button>

      <div class="session-info__copy-button">
        {{#if this.isCopyButtonClicked}}
          <p class="session-info__tooltip">
            {{this.copyButtonText}}
          </p>
        {{/if}}

        <button type="button" class="btn btn-secondary btn--right" {{on 'click' this.copyResultsDownloadLink}}>
          Copier le lien de téléchargement &nbsp;
          <FaIcon @icon="copy" @prefix="far" class="fa-inverse" />
        </button>
      </div>

      {{#if this.sessionModel.areResultsToBeSentToPrescriber}}
        <button type="button" class="btn btn-secondary" {{on 'click' this.tagSessionAsSentToPrescriber}}>
          Résultats transmis au prescripteur
        </button>
      {{/if}}
    </div>
  </div>
</div>

{{#if this.isShowingAssignmentModal}}
  <ModalDialog
    @targetAttachment="center"
    @translucentOverlay={{true}}
    @onClose={{this.cancelAssignment}}
  >
    <div class="ember-modal-dialog--title">
      <h2>Assignation de la session</h2>
      <span role="button" {{on 'click' this.cancelAssignment}}>×</span>
    </div>
    <p>
      L'utilisateur {{this.sessionModel.assignedCertificationOfficer.fullName}} s'est déjà assigné cette session.
      <br>
      Voulez-vous vous quand même vous assigner cette session ?
    </p>
    <div class="ember-modal-dialog--actions">
      <button type="button" class="btn btn-secondary" {{on 'click' this.cancelAssignment}}>Annuler</button>
      <button type="button" class="btn btn-primary" {{on 'click' this.confirmAssignment}}>Confirmer</button>
    </div>
  </ModalDialog>
{{/if}}
