<div class="session-info">
  <div class="session-info__details">
    <div class='row'>
      <div class='col'>Centre :</div>
      <div class='col'>{{this.session.certificationCenterName}}</div>
    </div>
    <div class='row'>
      <div class='col'>Adresse :</div>
      <div class='col'>{{this.session.address}}</div>
    </div>
    <div class='row'>
      <div class='col'>Pièce :</div>
       <div class='col'>{{this.session.room}}</div>
    </div>
    <div class='row'>
      <div class='col'>Surveillant :</div>
      <div class='col'>{{this.session.examiner}}</div>
    </div>
    <div class='row'>
      <div class='col'>Date :</div>
      <div class='col'>{{this.session.displayDate}}</div>
    </div>
    <div class='row'>
      <div class='col'>Heure :</div>
      <div class='col'>{{this.session.time}}</div>
    </div>
    <div class='row'>
      <div class='col'>Description :</div>
      <div class='col'>{{this.session.description}}</div>
    </div>
    <div class='row'>
      <div class='col'>Code d'accès :</div>
      <div class='col'>{{this.session.accessCode}}</div>
    </div>
    <div class='row'>
      <div class='col'>Statut :</div>
      <div class='col'>{{this.session.displayStatus}}</div>
    </div>

    {{#if this.session.finalizedAt}}
      <div class='row'>
        <div class='col'>Date de finalisation :</div>
        <div class='col' data-test-id="session-info__finalized-at">{{this.session.displayFinalizationDate}}</div>
      </div>
    {{/if}}
    {{#if this.session.publishedAt}}
      <div class='row'>
        <div class='col'>Date de publication :</div>
        <div class='col' data-test-id="session-info__published-at">{{this.session.displayPublishedAtDate}}</div>
      </div>
    {{/if}}
    {{#if this.session.resultsSentToPrescriberAt}}
      <div class='row'>
        <div class='col'>Date d'envoi des résultats au prescripteur :</div>
        <div class='col' data-test-id="session-info__sent-to-prescriber-at">{{this.session.displayResultsSentToPrescriberDate}}</div>
      </div>
    {{/if}}
  </div>


  {{#if this.session.finalizedAt}}
  <div class="session-info__stats">
    <div class='row'>
      <div class='col'>Nombre de signalements :</div>
      <div class='col' data-test-id="session-info__number-of-report">{{this.session.countExaminerComment}}</div>
    </div>
    <div class='row'>
      <div class='col'>Nombre d'écrans de fin de test non renseignés :</div>
      <div class='col' data-test-id="session-info__number-of-not-checked-end-screen">{{this.session.countNotCheckedEndScreen}}</div>
    </div>
    <div class='row'>
      <div class='col'>Nombre de certifications non terminées :</div>
      <div class='col' data-test-id="session-info__number-of-not-ended-certifications">{{this.session.countNonValidatedCertifications}}</div>
    </div>
    {{#if this.session.hasExaminerGlobalComment}}
    <div class='row'>
      <div class='col'>Commentaire global :</div>
      <div class='col' data-test-id="session-info__examiner-global-comment">{{this.session.examinerGlobalComment}}</div>
    </div>
    {{/if}}
  </div>
  {{/if}}

  <div class="session-info__actions">
    <div class='row row--btn'>

      {{#if this.session.finalizedAt}}
        <button class="btn btn-primary" {{on 'click' this.assignSessionToCurrentUser}}>
          M'assigner la session
        </button>
      {{/if}}

      <button class="btn btn-primary" {{on 'click' this.downloadBeforeJuryFile}}>
        Récupérer le fichier avant jury
      </button>

      <button class="btn btn-primary btn--right" {{on 'click' this.downloadSessionResultFile}}>
        Exporter les résultats
      </button>

      {{#if this.session.areResultsToBeSentToPrescriber}}
        <button class="btn btn-primary" {{on 'click' this.tagSessionAsSentToPrescriber}}>
          Résultats transmis au prescripteur
        </button>
      {{/if}}
    </div>
  </div>
</div>
