<div class="challenge-actions">
  {{#unless this.hideSkipButton}}
    <PixButton class="pix1d-button pix1d-button--skip" @triggerAction={{@skipChallenge}} @shape="rounded" @size="big">
      <span>
        Je passe
      </span>
    </PixButton>
  {{/unless}}
  {{#if @answerHasBeenValidated}}
    <PixButton
      class="pix1d-button pix1d-button--success"
      @iconAfter="arrow-right"
      @backgroundColor="green"
      @triggerAction={{@nextAction}}
      @shape="rounded"
      @size="big"
    >
      <span>
        {{t "pages.challenge.actions.continue"}}
      </span>
    </PixButton>
  {{else}}
    <PixButton class="pix1d-button" @triggerAction={{@validateAnswer}} @shape="rounded" @size="big">
      <span>
        {{t "pages.challenge.actions.check"}}
      </span>
    </PixButton>
  {{/if}}

</div>