<div class="attach-target-profile-search">
  <div class="attach-target-profile-search__input">
    <PixSearchInput
      @id="search-input"
      @placeholder="Exemple: 3"
      @debounceTimeInMs={{this.debounce}}
      @triggerFiltering={{this.onSearchValueInput}}
      autocomplete="off"
    >
      <:label>ID du profil cible</:label>
    </PixSearchInput>

    {{#if @isLoading}}
      <span class="attach-target-profile-search__loader" role="progressbar">
        Recherche en cours...
      </span>
    {{/if}}

    {{#if @isNoResult}}
      <span class="attach-target-profile-search__no-result">
        Aucun résultat
      </span>
    {{/if}}

    {{#if @options.length}}
      <ul
        id="target-profiles-list"
        role="listbox"
        class="attach-target-profile-search__results"
        aria-busy="{{@isLoading}}"
      >
        {{#each @options as |option|}}
          <li
            class="attach-target-profile-search__results__option"
            role="option"
            aria-selected="false"
            tabindex="0"
            {{on "click" (fn this.onSelectTargetProfile option)}}
            {{on-enter-action (fn this.onSelectTargetProfile option)}}
            {{on-space-action (fn this.onSelectTargetProfile option)}}
          >
            {{option.label}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>