<div class="selected-target-profile-form-change">
  <span>Nouveau profil cible à rattacher :
    <LinkTo
      @route="authenticated.target-profiles.target-profile"
      @model={{@attachableTargetProfile.id}}
      class="selected-target-profile-form-change__link"
    >
      {{@attachableTargetProfile.name}}
    </LinkTo>
  </span>

  <div>
    <PixButton @size="small" @variant="secondary" @isBorderVisible={{true}} @triggerAction={{@onChange}}>Changer
    </PixButton>
  </div>

  <input type="hidden" id="target-profile" name="target-profile" value="{{@attachableTargetProfile.id}}" />
</div>