{{page-title (t "pages.sign-in.title")}}

{{#if this.isNewAuthenticationDesignEnabled}}

  <main class="sign-form-page" role="main">
    <section class="sign-form-page__container">
      <AuthenticationLayout>
        {{outlet}}
      </AuthenticationLayout>
    </section>
  </main>
{{else}}

  <main class="sign-form-page" role="main">
    <section class="sign-form-page__container">
      <SigninForm />

      {{#if this.isInternationalDomain}}
        <LanguageSwitcher @selectedLanguage={{this.selectedLanguage}} @onLanguageChange={{this.onLanguageChange}} />
      {{/if}}
    </section>
  </main>
{{/if}}