{{#if this.isSigninRoute}}
  {{page-title (t "pages.sign-in.title")}}
{{else}}
  {{page-title (t "pages.sign-up.title")}}
{{/if}}

<AuthenticationLayout class="sso-selection-page">
  <:header>
    <PixButton @variant="secondary" @triggerAction={{this.goBack}} @iconBefore="arrow-left">
      {{t "common.actions.back"}}
    </PixButton>
  </:header>

  <:content>
    {{#if this.isSigninRoute}}
      <h1 class="pix-title-m">{{t "pages.sign-in.first-title"}}</h1>
    {{else}}
      <h1 class="pix-title-m">{{t "pages.sign-up.first-title"}}</h1>
    {{/if}}

    <Authentication::SsoSelectionForm />

    {{#if this.isSigninRoute}}
      <section class="sso-selection-page__signup">
        <h2 class="pix-body-l">{{t "pages.authentication.sso-selection.signup.title"}}</h2>
        <LinkTo @route="inscription">{{t "pages.authentication.sso-selection.signup.link"}}</LinkTo>
      </section>
    {{/if}}
  </:content>
</AuthenticationLayout>