<Charts::Card @title={{t 'charts.participants-by-status.title'}} ...attributes>
  {{#if this.loading}}
    <Charts::ParticipantsByStatusLoader />
  {{else}}
    <Charts::Chart
      @type="doughnut"
      @options={{this.options}}
      @data={{this.data}}
      aria-hidden={{true}}
    />
  {{/if}}
  <ul class="participants-by-status__legend">
    <li class="participants-by-status__legend--started">
      {{t 'charts.participants-by-status.labels.started'}}
    </li>
    <li class="participants-by-status__legend--finished">
      {{t 'charts.participants-by-status.labels.finished'}}
    </li>
    <li class="participants-by-status__legend--shared">
      {{t 'charts.participants-by-status.labels.shared'}}
    </li>
  </ul>
</Charts::Card>
