<Charts::Card @title={{t 'charts.participants-by-stage.title'}} ...attributes>
  {{#if this.loading}}
    <Charts::ParticipantsByStageLoader />
  {{else}}
    {{#each this.data as |stage|}}
      <div class="participants-by-stage">
        <PixStars
          @count={{stage.index}}
          @total={{this.totalStage}}
          @color="blue"
          class="participants-by-stage__stars"
        />
        <div class="participants-by-stage__values">
          {{t 'charts.participants-by-stage.participants' count=stage.value}}
        </div>
        <PixTooltip
          role="tooltip"
          @text={{stage.tooltip}}
          @position="bottom-right"
          @isWide={{true}}
          @isLight={{true}}
          class="participants-by-stage__tooltip"
          >
          <div class="participants-by-stage__graph" role="button" {{on "click" (fn this.onClickBar stage.id)}}>
            <div class="participants-by-stage__bar" style={{stage.barWidth}} />
            <div class="participants-by-stage__percentage">
              {{t 'charts.participants-by-stage.percentage' percentage=stage.percentage}}
            </div>
          </div>
        </PixTooltip>
      </div>
    {{/each}}
  {{/if}}
</Charts::Card>
