<Charts::Card @title={{t 'charts.participants-by-status.title'}} ...attributes>
  {{#if this.loading}}
    <Charts::ParticipantsByStatusLoader />
  {{else}}
    <Charts::Chart
      @type="doughnut"
      @options={{this.options}}
      @data={{this.data}}
      aria-hidden="true"
    />
    <Charts::ParticipantsByStatusA11y
      @started={{this.started}}
      @completed={{this.completed}}
      @shared={{this.shared}}
    />
  {{/if}}
  <ul class="participants-by-status__legend" aria-hidden="true">
    <li class="participants-by-status__legend--started">
      {{t 'charts.participants-by-status.labels.started'}}
    </li>
    <li class="participants-by-status__legend--completed">
      {{t 'charts.participants-by-status.labels.completed'}}
    </li>
    <li class="participants-by-status__legend--shared">
      {{t 'charts.participants-by-status.labels.shared'}}
    </li>
  </ul>
</Charts::Card>
