<div id="home">
    <div class="container">
        <div class="title">
            Liste des tests
        </div>

        <ul class="row courses">

          {{#each model as |course|}}
              <li class="rounded-panel course animated fadeIn" data-id="{{ course.id }}">
                {{#if course.imageUrl}}
                    <img class="course-picture" src="{{ course.imageUrl }}" alt="Illustration du test">
                {{else}}
                    <img class="course-picture" src="images/course-default-image.png" alt="Illustration du test">
                {{/if}}

                  <h3 class="course-name">{{ course.name }}</h3>

                  <p class="course-description">
                    {{ course.description }}
                  </p>

                  <div class="course-actions">
                    {{#link-to "courses.create-assessment" course.id class="btn btn-primary btn-small start-button"}}
                        Démarrer le test
                    {{/link-to}}
                  </div>
              </li>
          {{/each}}

        </ul>
    </div>

</div>