{{#if @show}}
  <section class="dashboard-banner">
    {{#unless @hasSeenNewDashboardInfo}}
      <NewInformation
        @information="{{t 'pages.dashboard.presentation.message' firstname=@userFirstname}}"
        @image="/images/illustrations/discovery_TDB_pix.svg"
        @backgroundColorClass="new-information--blue-gradient-background"
        @textColorClass="new-information--white-text"
        @linkText="{{@newDashboardInfoLink.text}}"
        @linkTo="{{@newDashboardInfoLink.url}}"
        @closeaction={{@closeInformationAboutNewDashboard}}
      />
    {{/unless}}
    {{#if @code}}
      <NewInformation
        @information="{{t 'pages.dashboard.campaigns.resume.text'}}"
        @image="/images/profile_collect_TDB_pix.svg"
        @backgroundColorClass="new-information--yellow-gradient-background"
        @textColorClass="new-information--black-text"
        @linkDisplayType="button"
        @linkText="{{t 'pages.dashboard.campaigns.resume.action'}}"
        @linkTo="campaigns.profiles-collection.start-or-resume"
        @code={{@code}}
      />
    {{/if}}
  </section>
{{/if}}