<section class="page-container dashboard-content">
  <h1 class="sr-only">{{t 'pages.dashboard.title'}}</h1>

  {{#if this.hasCampaignParticipationOverviews}}
    <section data-test-campaign-participation-overviews>
      <header>
        <h2 class="dashboard-content__title">{{t 'pages.dashboard.campaigns.title'}}</h2>
        <p class="dashboard-content__subtitle">{{t 'pages.dashboard.campaigns.subtitle'}}</p>
      </header>

      <CampaignParticipationOverview::Grid @model={{@model.campaignParticipationOverviews}}/>
    </section>
  {{/if}}

  {{#if this.hasRecommendedCompetences}}
    <section data-test-recommended-competences>
      <header>
        <h2 class="dashboard-content__title">{{t 'pages.dashboard.recommended-competences.title'}}</h2>
        <p class="dashboard-content__subtitle">{{t 'pages.dashboard.recommended-competences.subtitle'}}</p>
      </header>

      <CompetenceCard::List @scorecards={{this.recommendedScorecards}} />
    </section>
  {{/if}}
</section>
