<header class="page-header">
  <div class="page-title">Toutes les sessions</div>
</header>

<main class="page-body">
  <section class="page-section">
      <Sessions::ListItems
        @sessions={{@model}}
        @id={{id}}
        @sessionStatusAndLabels={{this.sessionStatusAndLabels}}
        @setStatusFilter={{this.setStatusFilter}}
        @triggerFiltering={{this.triggerFiltering}} />
  </section>
</main>
