{{page-title "Toutes les sessions"}}
<div class="page">
  <header>
    <h1 class="page-title">Toutes les sessions</h1>
    <div class="page-actions">
    </div>
  </header>

  <nav class="navbar">
    <LinkTo @route="authenticated.sessions.list.with-required-action" @query={{hash version=2}} class="navbar-item">
      Sessions à traiter ({{this.sessionsWithRequiredActionCount}})
    </LinkTo>
    <LinkTo @route="authenticated.sessions.list.to-be-published" @query={{hash version=2}} class="navbar-item">
      Sessions à publier
    </LinkTo>
    <LinkTo @route="authenticated.sessions.list.all" class="navbar-item">
      Toutes les sessions
    </LinkTo>
    <LinkTo
      @route="authenticated.sessions.list.with-required-action"
      @query={{hash version=3}}
      class="navbar-item navbar-item--right"
    >
      {{t "pages.sessions.list.v3-required-actions"}}
      ({{this.sessionsWithRequiredActionCountVersion3}})
    </LinkTo>
    <LinkTo @route="authenticated.sessions.list.to-be-published" @query={{hash version=3}} class="navbar-item">
      {{t "pages.sessions.list.v3-to-be-published"}}
    </LinkTo>
  </nav>

  <main class="page-body">
    <section class="page-section">
      {{outlet}}
    </section>
  </main>
</div>