<header class="page-header">
  <div class="page-title">Toutes les sessions</div>
</header>

<main class="page-body">
  <section class="page-section">
      <Sessions::ListItems
        @sessions={{@model}}
        @id={{this.id}}
        @certificationCenterName={{this.certificationCenterName}}
        @status={{this.status}}
        @sessionStatusAndLabels={{this.sessionStatusAndLabels}}
        @resultsSentToPrescriberAt={{this.resultsSentToPrescriberAt}}
        @sessionResultsSentToPrescriberAtAndLabels={{this.sessionResultsSentToPrescriberAtAndLabels}}
        @triggerFiltering={{this.triggerFiltering}} />
  </section>
</main>
