{{! template-lint-disable require-input-label }}
{{page-title "Session " @model.id}}
<header class="page-header">
  <div class="page-title">
    <LinkTo @route="authenticated.sessions.list">Toutes les sessions de certification</LinkTo>
    <FaIcon @icon="chevron-right" />
    <h1>Sessions de certification</h1>
  </div>
  <div class="page-actions">
    <form class="form-inline" {{on "submit" this.loadSession}}>
      <Input
        placeholder="Identifiant"
        aria-label="Rechercher une session avec un identifiant"
        @type="text"
        @value={{this.inputId}}
      />
      <PixButton @size="small" @type="submit">Charger</PixButton>
    </form>
  </div>
</header>

<main class="page-body">
  <nav class="navbar">
    <LinkTo @route="authenticated.sessions.session.informations" @model={{@model.id}} class="navbar-item">
      Informations
    </LinkTo>
    <LinkTo
      @route="authenticated.sessions.session.certifications"
      @model={{@model.id}}
      class="navbar-item"
      aria-label="Liste des certifications de la session"
    >
      Certifications
    </LinkTo>
  </nav>
  {{outlet}}
</main>